<template>
      <div >
            <section class="slider_cont container">
                        <div id="reg_form">
                              <div class="reg_cont">
                                    <h3>Best Body Corporate Service!</h3>
                                    <span class="desc">Property management that put people first. We help create places your tenants never want to leave.</span>
                                    <input type="text" placeholder="Business Email" class="txt_bzemail">
                                    <input type="text" placeholder="Business Name" class="txt_bzename">
                                    <button class="btn_reg btn">Sign Up</button>
                              </div>
                        </div>
                        <div id="slide">
                              <ul>
                                    <li class="slide1"></li>
                                    <li class="slide2"></li>
                              </ul>
                        </div>
            </section>


            <section class="intro_cont container">
                  <div id="intro_content">
                        <h3>Connect and provides building managers and residents a superior experience.</h3>
                        <span>Our services and products continue to evolve based on our customers' needs. We can help you save time, run better, and keep residents happy and safe.<br><br>Let us show you how.</span>
                  </div>
                  <div id="intro_img">
                        <img src="/images/intro1.jpg" width="100%">
                  </div>

                  
            </section>


            <section class="feature_cont container">
                  <ul class="feature_list">  
                        <li class="col-md-3">
                              <i class="fas fa-city"></i>
                              <h4>Facilities/Building Manager</h4>
                              <span>Take control of your property with with our all in one maintenance platform.</span>
                        </li>

                        <li class="col-md-3">
                              <i class="fas fa-users"></i>
                              <h4>Owner/Tenants</h4>
                              <span>Keep you up-to-date with your building through our simple and modern app.</span>
                        </li>

                        <li class="col-md-3">
                              <i class="fas fa-user-tie"></i>
                              <h4>Strata Manager</h4>
                              <span>Manage your building through our online portal with SMS and email communication.</span>
                        </li>

                        <li class="col-md-3">
                              <i class="fas fa-user"></i>
                              <h4>Developers</h4>
                              <span>Keep track of building defects, move in and settlement dates through Aurora Living.</span>
                        </li>
                  </ul>
            </section>

            <section class="tools_cont container">
                  <h3>Smart Tools to run your business better</h3>
                  <ul class="tools_list">  
                        <li class="col-md-4">
                              <div class="tool_cont">
                                    <img src="/images/tool1.jpg">
                                    <h4>Amenity Reservation</h4>
                                    <span>A branded web portal and mobile app make it easy for our residents.</span>
                                    <!-- <a href="" class="link_info">More Info...</a> -->
                              </div>
                        </li>

                        <li class="col-md-4">
                              <div class="tool_cont">
                                    <img src="/images/tool2.jpg">
                                    <h4>Parcel Management</h4>
                                    <span>Complete workflow of parcels from receipt to delivery.</span>
                                    <!-- <a href="" class="link_info">More Info...</a> -->
                              </div>
                        </li>

                        <li class="col-md-4">
                              <div class="tool_cont">
                                    <img src="/images/tool3.jpg">
                                    <h4>Cases & Services</h4>
                                    <span>We makes keeping on top of maintenance work easy.</span>
                                    <!-- <a href="" class="link_info">More Info...</a> -->
                              </div>
                        </li>
                  </ul>
            </section>

             <section class="intro_cont2 container">
                  <div id="intro_content2">
                        <h3>Find your nearest store...</h3>
                        <span>Discover our high quality development centrally located in the catchment will be visited by locals for all their medical, convenience stores,  restaurant needs and other services.</span>
                  </div>

                  <div id="intro_img2">
                        <img src="/images/intro2.jpg" width="100%">
                  </div>
            </section>
      </div>
</template>

<script>
export default {
      props: [],
      data(){
            return {

            }

      },
    methods:{

    }
}

</script>

<style>
section.intro_cont2 {
      height: 500px;    margin-bottom: 85px;
}

section.intro_cont2 #intro_content2 {
      width: 35%;float: left;  padding-right: 50px;margin-top: 80px;
}

section.intro_cont2 #intro_content2 h3 {
      margin-bottom: 30px;font-weight: 900;font-size: 1.3em;
}

section.intro_cont2 #intro_img2 {
      width: 65%;float: left
}

section.intro_cont2 #intro_img2 img {
      border-radius: 8px;
}

section.tools_cont {
      margin-bottom: 85px;
}

section.tools_cont a.link_info {
      font-weight: 700;font-size: .85em;position: absolute;padding: 10px;color: #000;bottom: 0px;
}

section.tools_cont ul li {
    -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;
}

section.tools_cont ul li img {
      -webkit-border-top-left-radius: 8px;-webkit-border-top-right-radius: 8px;-moz-border-radius-topleft: 8px;-moz-border-radius-topright: 8px;border-top-left-radius: 8px;border-top-right-radius: 8px;
}

section.tools_cont ul li .tool_cont {
      border: 1px solid #dedede;height: 420px;border-radius: 8px;
}

section.tools_cont ul li h4 {
      padding: 10px;padding-top: 0px;font-weight: 900;
}

section.tools_cont ul li span {
      padding: 0px 10px;display: block;font-size: .85em;
}

section.tools_cont h3 {
    font-weight: 900;margin-bottom: 30px;
}

section.tools_cont ul.tools_list img{
      width: 100%; display: block;
}

section.feature_cont {
      margin-bottom: 85px;padding: 50px 0px;background-color: #eeeaea;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;
}

section.feature_cont ul.feature_list {

}

section.feature_cont ul.feature_list > li {
      text-align: center;padding: 0px 35px;
}

section.feature_cont ul.feature_list > li i {
    background-color: #fff;border: 1px solid #000;width: 60px;font-size: 1.8em;text-align: center;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px; height: 60px;padding: 15px 0px;
}

section.feature_cont ul.feature_list > li h4 {
      font-size: .95em;margin: 15px 0px 30px;font-weight: 900;
}

section.feature_cont ul.feature_list > li span {
      font-size: .85em;
}

section.intro_cont {
      height: 380px;margin-bottom: 85px;
}

#intro_img {
      width: 50%;margin-right: 4%;height: 380px;float: left;
}

#intro_content {
      width: 40%;float: right;line-height: 28px;
}

#intro_content h3 {
      font-weight: 900;font-size: 1.6em;line-height: 1.4em;margin: 50px 0px 20px;
}


section.slider_cont {
      height: 550px;margin-bottom: 55px;
}

#reg_form {
      width: 20%;position: relative;
}

#reg_form .reg_cont {
      width: 420px;height: 310px;background-color: #ffffff;border:1px solid #dedede;position: absolute;left: 0%;top: 100px;padding: 30px 20px;
}

#reg_form .reg_cont .txt_bzename {
      width: 75%;float: left;
}

#reg_form .reg_cont .btn_reg {
      width: 23%;margin-left: 2%;min-width: 40px;margin: 10px 0% 10px 2%; height: 36px;padding: 0px;font-size: .8em;
}

#reg_form .reg_cont input {
      margin: 10px 0px;
}

#reg_form .reg_cont h3{
      font-weight: 900;
}

#reg_form .reg_cont .desc {
      font-size: .8em;    margin-bottom: 30px;display: block;
}

#slide {
      width: 80%;height: 100%;overflow-x: hidden;float: right;
}

#slide ul {
       height: 100%;width: auto;width: 1920px;overflow: hidden;
}


#slide ul li {
      margin: 0px 10px;width: 940px;height: 100%;background-size: cover;float: left;background-repeat: no-repeat;background-position: center center;
}

#slide ul li.slide1 {
      background-image: url('/images/slide1.jpg');
}

#slide ul li.slide2 {
      background-image: url('/images/slide2.jpg');
}

@media screen and (max-width: 768px) {
      #intro_content {
            float: left;width: 100%;
      }

      #intro_content h3{
            margin: 0px 0px 20px;
      }

      #intro_content span {
            margin-bottom: 30px;display: block;
      }

      .intro_cont.container {
            height: auto;    margin-bottom: 55px;
      }

      #intro_img {
            width: 100%;height: auto;margin: 0px;
      }

      section.feature_cont {
            padding: 30px 0px;    margin-bottom: 55px;
      }

      section.feature_cont ul.feature_list > li {
            padding: 20px 35px;
      }

      section.feature_cont ul.feature_list > li h4 {
            margin: 15px 0px 20px;
      }

      section.tools_cont h3 {
            margin-top: 0px;    margin-bottom: 10px;
      }

      section.tools_cont ul li {
            padding: 14px 0px;
      }

      section.tools_cont {
            margin-bottom: 55px;
      }

      section.intro_cont2 {
            height: auto;
      }

      section.intro_cont2 #intro_content2 {
            margin-top: 0px;width: 100%;padding-right: 0px;padding-bottom: 30px;
      }

      section.intro_cont2 #intro_content2 h3 {
            font-size: 1.4em;margin-top: 0px;margin-bottom: 20px;
      }
}
</style>