<template>
    <div class="col">
            <div class="col-md-6">    
                  <div class="building_front_bg" style="background:url('images/building_front.png') no-repeat center center;background-size: cover;height:100vh;"></div>
            </div>
            <div class="col-md-6 blg_admin_login_cont" v-show="tag == 'l'">
                  <div class="login_panel">
                        <div class="login_header">
                              <h2>Welcome back!</h2>
                              <span>Please enter your login detail below:-</span>
                        </div>
                        <div class="login_body">
                              <form class="form-horizontal" method="POST"  @submit.prevent="login">
                                    <input type="hidden" :value="csrfToken" name="_token"/>

                                    <div class="form-group">
                                          <div class="col">
                                                <input id="email" type="email" class="form-control txt_blg_admin_login" name="email" value="" placeholder="E-Mail Address" v-model="email" required autofocus>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                          <div class="col">
                                                <input id="password" type="password" class="form-control txt_blg_admin_login" name="password" placeholder="Password"  v-model="password" required>
                                          </div>
                                          <div class="col-md-6 col-xs-6 remember_me">
                                                <div class="checkbox">
                                                      <label>
                                                            <input type="checkbox" name="remember"> Remember Me
                                                      </label>
                                                </div>
                                          </div>
                                          <div class="col-md-6 col-xs-6 forget_pass">
                                                <a class="btn-link" href="/password/reset">
                                                      Forgot Password
                                                </a>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                          <div class="btn_blg_admin_login">
                                                <button type="submit" class="btn btn-primary">
                                                      Login
                                                </button>
                                          </div>

                                          <div class="signup_sentence">
                                                Don't have an account yet? <a href="#" @click="tag='r'">Create Now</a>
                                          </div>
                                    </div>
                              </form>
                        </div>
                  </div>
                  <label class="copyright">copyright @ 2019 GYNIE Pty Ltd, all rights reserved</label>
            </div>

            <div class="col-md-6 blg_admin_reg_cont" v-show="tag == 'r'">
                  <div class="reg_panel">
                        <div class="reg_header">
                              <h2>Create An Account!</h2>
                              <span>Sign up with your simple details.</span>
                        </div>
                        <div class="reg_body">
                              <form class="form-horizontal" method="POST"  @submit.prevent="register">
                                          <div class="form-group">
                                                <div class="col">
                                                      <input id="first_name" type="first_name" class="form-control txt_blg_admin_login" name="first_name" value="" placeholder="First Name" v-model="first_name" required autofocus>
                                                </div>
                                          </div>

                                          <div class="form-group">
                                                <div class="col">
                                                      <input id="last_name" type="last_name" class="form-control txt_blg_admin_login" name="last_name" value="" placeholder="Last Name" v-model="last_name" required autofocus>
                                                </div>
                                          </div>
                                          
                                          <div class="form-group">
                                                <div class="col">
                                                      <input id="reg_email" type="email" class="form-control txt_blg_admin_login" name="reg_email" value="" placeholder="E-Mail Address" v-model="reg_email" required autofocus>
                                                </div>
                                          </div>

                                          
                                          <div class="form-group">
                                                <div class="col">
                                                       <input id="reg_mobile" type="text" class="form-control txt_blg_admin_login" name="reg_mobile" value="" placeholder="Mobile Number" v-model="reg_mobile" required autofocus>
                                                </div>
                                          </div>
                                          
                                          <div class="form-group">
                                                <div class="col">
                                                      <input id="reg_password" type="password" class="form-control txt_blg_admin_login" name="reg_password" placeholder="Password"  v-model="reg_password" required>
                                                </div>
                                          </div>

                                           <div class="form-group">
                                                <div class="col">
                                                      <input id="reg_cpassword" type="password" class="form-control txt_blg_admin_login" name="reg_cpassword" placeholder="Confirm Password"  v-model="reg_cpassword" required>
                                                </div>
                                          </div>
                                          

                                          <div class="form-group">
                                                <div class="btn_blg_admin_login">
                                                      <button type="submit" class="btn btn-primary">
                                                            Create Now
                                                      </button>
                                                </div>

                                                <div class="signup_sentence">
                                                      I am a existing member, <a href="#" @click="tag='l'">Login Now</a>
                                                </div>
                                          </div>
                              </form>
                        </div>
                  </div>
                  <label class="copyright">copyright @ 2019 GYNIE Pty Ltd, all rights reserved</label>
            </div>

            
      </div>
        
</template>
     
<script>
export default {
      props: {
      },
      data () {
            return {
                  csrfToken: null,
                  email: null,
                  password: null,
                  has_error: false,
                  tag: 'l',
                  reg_email: null,
                  reg_mobile: null,
                  reg_password: null,
                  reg_cpassword: null,
                  first_name: null,
                  last_name: null,
                  user_type: '4'
            }
      },
      created() {
            this.csrfToken = document.querySelector('meta[name="csrf-token"]').content
      },
      methods: {
            login: function() {
                  var _this = this;
                  axios.post('/user-login', {
                        email: _this.email,
                        password: _this.password
                  })
                  .then(function (response) {
                        console.log(response);
                        if (response.data.success == 1) {
                              if (response.data.user_type == 'Building Manager') {
                                    window.location.href = '/mgr/dashboard';
                              } else {
                                    window.location.href = '/tenants/dashboard';
                              }
                        } else {
                              alert(response.data.msg);
                        }
                  })
                  .catch(function (error) {
                        _this.output = error;
                  });
            },
            register: function() {
                  var _this = this;
                  var password = document.getElementById("reg_password"), confirm_password = document.getElementById("reg_cpassword");

                  if(password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Password and Confirm Password are not match");
                        return;
                  }


                  axios.post('/user-registration', {
                        first_name: _this.first_name,
                        last_name: _this.last_name,
                        email: _this.reg_email,
                        mobile: _this.reg_mobile,
                        password: _this.reg_password,
                        user_type: _this.user_type
                  })
                  .then(function (response) {
                        console.log(response);
                        if (response.data.success == 0) {
                              alert(response.data.msg);
                        } else {
                               window.location.href = '/tenants/dashboard'; 
                        }
                  })
                  .catch(function (error) {
                        _this.output = error;
                  });



            }
      }
}
</script>

<style>


</style>