<template>
   <div class="container_block" style=" min-width:260px">
        <div class="container_subtitle" style="min-width:220px">

            <i class="fas fa-users-cog"></i>
            <h5 style='float: left;display: inline-block;'>Contractor List<span> ({{contractor_list.length}})</span></h5>

            <a href="/mgr/recommend_contractor" class="btn" style="float: right;margin-top: 7px; min-width: auto; padding: 0px 7px;text-align: center; height: 32px;line-height: 32px;">
                <i class="fas fa-plus" style="padding: 0;"></i>
            </a>
            <i v-if="this.list_type!= 'contractor'" v-show="isshow"  class="fas fa-plus" style="float: right" @click="showForm"></i>
            <i v-show="!isshow" class="fas fa-minus" style="float: right" @click="showForm"></i>
        </div>
        <div  id="add-form" :class="{formshow:isshow}">

            <form @submit.prevent="storecontact">
                <p v-if="error.length">
                    <b>Please add info</b>
                </p>
                <p>
                    <label for="name">Contact Name</label>
                    <input type="text" id="name" v-model="addinfo.name" name="name" required>
                </p>
                <p>
                    <label for="number">Number</label>
                    <input type="number" id="number" v-model="addinfo.number" name="number">
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="email" id="email" v-model="addinfo.email" name="email">
                </p>
                <p>
                    <input class="cupdate" v-if="isedit" type="button" name="update" value="update" @click="storecontact">
                    <input class="cadd" v-else type="submit" name="add" value="Add">
                </p>
                <p>
                    <input class="ccancel" type="button" name="cancel" value="Cancel" @click="cancelinput">
                </p>
            </form>

        </div>
		<ul class="dashboard_list_cont" :class="{formshow:!isshow}" v-if="this.list_type == 'contractor'">
			<li class="list-item" v-for="item in contractor_list">
			    <div class="item">
			        <div >
						<span class="col-md-6 item-title" style="margin-bottom: 15px;">
							{{item.comp_name}}
						</span>
						
						<span class="col-md-6 item-title" style="margin-bottom: 15px;">
							{{item.contact_person}}
						</span>
						
					</div>
					<div class="item-phone">
					    <i class="fas fa-tools"></i>
						<span class=" item-title">
							{{item.cate_name}}
						</span>
					</div>
					
			        <div class="item-phone">
			            <i class="fas fa-phone"></i>
			            <span class="item-number"><a :href="'tel:'+item.contact_no">{{item.contact_no}}</a></span>
			        </div>
			        <div class="item-phone">
						<i class="fas fa-at"></i>
						<span class="item-info"><a :href="'mailto:'+item.contact_email">{{item.contact_email}}</a></span>
					</div>
					
			    </div>
			</li>
		</ul>
        <ul class="dashboard_list_cont" :class="{formshow:!isshow}" v-else>
            <li class="list-item" v-for="item in deinfo">
                <div class="item">
                    <div class="item-title">{{item.name}}</div>
                    <div class="item-phone">
                        <i class="fas fa-phone"></i>
                        <div class="item-number">{{item.number}}</div>
                    </div>
                    <div class="item-info">{{item.email}}</div>
                </div>
            </li>
            <li v-if="isempty(item)" class="list-item" v-for="item in reginfo">
                <div class="item">
                    <div class="item-title">{{item.name}}</div>
                    <div class="item-number">{{item.number}}</div>
                    <div class="item-info">{{item.email}}</div>
                </div>
                 <div class="modify">
                     <button class="cedit" @click="editcontact(item.id)">Edit</button>
                    <button class="cdelete" @click="deletecontact(item.id)">Delete</button>
                </div>
            </li>
            <li class="list-item" v-for="item in info">
                <div class="item">
                    <div class="item-title">{{item.name}}</div>
                        <div class="item-phone">
                            <i class="fas fa-phone"></i>
                            <div class="item-number">{{item.number}}</div>
                        </div>
                        <div class="item-mail">
                            <i class="far fa-envelope"></i>
                            <div class="item-info">{{item.email}}</div>
                        </div>
                    </div>
                <div class="modify">
                     <button class="cedit" @click="editcontact(item.id)">Edit</button>
                    <button class="cdelete" @click="deletecontact(item.id)">Delete</button>
                </div>
            </li>
        </ul>
		<div class="view_all">
			<a href="/mgr/contractor_list">View All Contractors</a>
		</div>
    </div>
	
</template>

<script>
export default {
    props:['building_id', 'list_type'],
    data: ()=>{
        return{
			contractor_list:[],
            isshow:true,
            error:[],
            info:[],
            deinfo:[],
            reginfo:[],
            addinfo:{},
            name:'',
            number:'',
            email:'',
            location:'',
            isedit:false,
        }
    },

    methods:{
		getContractor:function() {
			var _this = this;
			axios.get('/mgr/get_contractor_dashboard').then(function(response) {
				_this.contractor_list = response.data;
				console.log(response.data);
			})
		},
        loadinfo(){

            let _this = this;
            _this.deinfo=[];
            _this.info=[];
            axios.get('/mgr/contact_list').then(function(response){
                    for(let i in response.data){
                        if(response.data[i].status ==3){

                                _this.deinfo.push(response.data[i]);

                        }else if(response.data[i].status ==2){
                            _this.reginfo.push(response.data[i]);
                        }else{
                            _this.info.push(response.data[i]);
                        }
                    }
                }
            )
            .catch(function (error) {
                        // 
                        console.log(error)
                });
        },

        showForm(){

            if(this.isedit){
                if(this.isshow==true){   
                    this.isshow=false;
                    this.isedit=true;
                }else{
                    this.isshow=true;
                    this.isedit=false;
                    this.addinfo={};
                }
            }else{
                if(this.isshow==true){   
                    this.isshow=false;
                }else{
                    this.isshow=true;
                }
            }
             
        },

        cancelinput(){
            this.addinfo={};
            this.showForm();
        },

        storecontact(){
            let _this = this;
            if(Object.keys(_this.addinfo).length !== 0){
                    axios.post('/mgr/contact_list_store',_this.addinfo).then(function(response){
                    //console.log(response);
                    _this.loadinfo();
                    _this.cancelinput()
                })
                .catch(function(error){
                    
                    console.log(error);
                })
            }
        },

         editcontact(id){
             let _this = this;
             axios.post('/mgr/contact_list_edit/id='+id).then(function(response){
                //console.log(response.data[0]);
                _this.addinfo.name = response.data[0].name;
                _this.addinfo.number = response.data[0].number;
                _this.addinfo.email = response.data[0].email;
                _this.addinfo.id = id;
                _this.isedit = true;
                 _this.showForm();
            })
            .catch(function(error){
                
                console.log(error.data);
            })
        },

         deletecontact(id){
             let _this = this;
             if(confirm('Are you sure you want to delete this record?')){
                      axios.post('/mgr/contact_list_delete/id='+id).then(function(response){
                    //console.log(response);
                        _this.loadinfo();
                    })
                    .catch(function(error){
                        console.log(error);
                    })
                }
           
            }

        },
		

        created(){
			if (this.list_type == 'contractor') {
				this.getContractor();
			} else {
				this.loadinfo();
			}
            
        }


    }
</script>

<style scoped>
	.container_block {
		height: 602px;
		box-shadow: none !important;
	}
	 .view_all {
		 text-align: center;
	 }
   
    .view_all > a{
		
		background-color: #59a6ff;
		
		margin: 0px 3px 3px;
		color: #fff;
		display: inline-block;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		min-width: 40px;
		text-align:center;
		border-radius: 6px;
		padding: 6px 9px;
		font-size: .85em;
	}
	
    .formshow{
        display: none;
    }

    #add-form{
        height: 470px;
        margin-left: 7%;
    }

    #add-form form > p{
        margin: 34px 0;
    }

    label{
        font-size: 0.9em;
        font-weight: 900;
    }

    #name{
        width: 90%;
        font-weight: 300;
        font-size: 0.9em;
    }

    #number,#email{
        border-radius: 5px;
        border: 1px solid #dedede;
        display: block;
        font-weight: 300;
        font-size: 0.9em;
        width: 90%;

    }

    .list-item{
        display: block;
        margin: 5px auto;
        width: 90%;
        /* box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4); */
        border-bottom: 1px solid rgba(34, 25, 25, 0.4);
    }

    .list-item:hover{
        background-color: #eaeaea;
    }

    .item >.fas{
        padding-right: 6px;font-size: .8em;
    }

    .item{
        padding: .75rem 0px;
    }

    .item-number,.item-info{
        font-size: 0.9em;
        padding: 5px 0 5px 0;
    }

    .item-title{
        font-weight:900;
        font-size: 0.9em;
    }

    .item-phone,.item-mail{
        display: block;
        width: 80%;
        margin-left: 10px;
        line-height: 1.2;
    }

    .item-number,.item-info{
        display: inline-block;
        font-weight: 300;
    }

    .cedit,.cdelete{
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 4px;
    }

    .cedit{
        background-color: #398bf7;
        color: #fff;
    }
    
    .cdelete{
        background-color: #f1536e;
        color: #fff;
    }

    .cupdate{
        background-color: #55ce63;
        color: #fff;
    }
    .cadd{
        background-color: #55ce63;
        color: #fff;
    }
    .ccancel{
        background-color:#fff;
        color: #3b3b53;
        border: 1px solid #3b3b53 !important;
    }

    .modify{
        display: flex;
        justify-content: flex-start;
        padding-bottom: 2px;
        min-width: 220px;
    }

    .fas,.far{
        font-size: .8em;
        padding-right: 6px;
    }

    button,.ccancel,.cupdate,.cadd{
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.6;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        /* padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 30px;
        padding-right: 30px; */
        min-width: 90px;
        height: 32px;
    }
     button:hover,.ccancel:hover,.cupdate:hover,.cadd:hover{
         color: #636b6f;
     }


</style>