<template>
<!-- action="/mgr/save_contractor"  method="post"   -->
      <form id="contrator_form" ref="contrator_form"  enctype="multipart/form-data" v-kendo-validator>
      <div class="col">
            <div class="col-md-12">
                  <div class="container_block">
                        <input type="hidden" name="_token" :value="csrf">
                        <input type="hidden" name="contractor_id" v-model="contractor.id">
                        <div class="field_block">
                              <div class="field_cont col">
                                    <div class="col-md-8">
                                          <label class="field_title">Company Name</label>
                                          <input placeholder="Enter Company name" type="text" id="txt_compname" name="txt_compname" required validationMessage="Company Name is required" v-model="contractor.comp_name">
                                          <span data-for='txt_compname' class='k-invalid-msg'></span>
                                    </div>
                                    <div class="col-md-4">
                                          <label class="field_title">Contactor Category</label>
                                          <select name="txt_compcate" class="full_width" v-model="contractor.cont_cate">
                                                <option  v-for="(k, v) in cont_cate" :value="k.id">{{k.name}}</option>
                                          </select>
                                    </div>
                              </div>
                              <div class="field_cont col">
                                    <label class="field_title">Address</label>
                                    <input placeholder="Enter Address" type="text" id="txt_compaddr" name="txt_compaddr" required validationMessage="Company Address is required" v-model="contractor.comp_addr">
                                    <span data-for='txt_compaddr' class='k-invalid-msg'></span>
                              </div>
                              <div class="field_cont col">
                                    <div class="col-md-4">
                                          <label class="field_title">Postcode</label>
                                          <input placeholder="Enter PostCOde" type="text" id="txt_comppostcode" name="txt_comppostcode" required validationMessage="Company Postcode is required" v-model="contractor.comp_postcode">
                                          <span data-for='txt_comppostcode' class='k-invalid-msg'></span>
                                    </div>
                                    <div class="col-md-4">
                                          <label class="field_title">Suburb</label>
                                          <input placeholder="Enter Suburb" type="text"  id="txt_compsuburb" name="txt_compsuburb" required validationMessage="Company Suburb is required" v-model="contractor.comp_suburb">
                                          <span data-for='txt_compsuburb' class='k-invalid-msg'></span>
                                    </div>
                                    <div class="col-md-4">
                                          <label class="field_title">State</label>
                                          <select name="txt_compstate" id="txt_compstate"  v-model="contractor.comp_state">
                                                <option value="qld">Queensland</option>
                                                <option value="sa">South Australia</option>
                                                <option value="tas">Tasmania</option>
                                                <option value="vic">Victoria</option>
                                                <option value="nsw">New South Wales</option>
                                                <option value="wa">Western Australia</option>
                                                <option value="act">Australian Capital Territory</option>
                                                <option value="nt">Northern Territory</option>
                                          </select>
                                    </div>
                              </div>

                              <div class="field_cont col">
                                    <div class="col-md-4">
                                          <label class="field_title">Contact Person</label>
                                          <input placeholder="Enter contact person" type="text"  id="txt_contactperson" name="txt_contactperson" required validationMessage="Contact Person is required" v-model="contractor.contact_person">
                                          <span data-for='txt_contactperson' class='k-invalid-msg'></span>
                                    </div>
                                    <div class="col-md-4">
                                          <label class="field_title">Contact No.</label>
                                          <input placeholder="Enter Contact number" type="text" id="txt_contactno" name="txt_contactno" required validationMessage="Contact Number is required" v-model="contractor.contact_no">
                                          <span data-for='txt_contactno' class='k-invalid-msg'></span>
                                    </div>
                                    <div class="col-md-4">
                                          <label class="field_title">Email</label>
                                          <input placeholder="Enter Email Address" type="email" required id="txt_contactemail" name="txt_contactemail" validationMessage="Contact Email is required" v-model="contractor.contact_email">
                                          <span data-for='txt_contactemail' class='k-invalid-msg'></span>
                                    </div>
                              </div>

                              <div class="field_cont col">
                                    <label class="field_title">Note</label>
                                    <textarea  name="txt_note" id="txt_note" v-model="contractor.note"></textarea>
                              </div>
                        </div>
                  </div>
            </div>

            
      </div>

      <div class="field_cont btn_cont">
            <a class="btn btn_close" >
                  Cancel
            </a>
            <button class="btn btn_submit" @click.prevent="submit" type="submit">Save</button>
      </div>
      </form>
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'
import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'
import { Calendar,
        DateInput,
        DatePicker,
        DateRangePicker,
        DateTimePicker,
        MultiViewCalendar,
        TimePicker,
        DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'

Vue.use(DateinputsInstaller)
Vue.use(ValidatorInstaller)

export default {
      props: ['contractor','cont_cate'],
      components: {
            Calendar,
            DateInput,
            DatePicker,
            DateRangePicker,
            DateTimePicker,
            MultiViewCalendar,
            TimePicker, 
      },
      data(){
            return {
                  currentDate: new Date(),
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                  contractor:this.contractor
            }
      },
      methods:{
            chooseFiles: function(id) {
                  document.getElementById(id).click();
            },

            submit:function(){
                  let _this = this;
                  var validator = this.kendoValidator;
                  
                  if (validator.validate()) {
                        axios.interceptors.request.use(function(config) {
                        // Do something before request is sent
                        console.log('Start Ajax Call');
                        _this.$root.isLoading = true;
                        return config;
                  }, function(error) {
                  // Do something with request error
                        console.log('Error');
                        return Promise.reject(error);
                  });

                  axios.interceptors.response.use(function(response) {
                        // Do something with response data
                        console.log('Done with Ajax call');
                        _this.$root.isLoading = false;
                        return response;
                  }, function(error) {
                        // Do something with response error
                        console.log('Error fetching the data');
                        return Promise.reject(error);
                  });

                        
                  axios.post('/mgr/save_contractor',{'contractor_id':_this.contractor.id,'txt_compname':_this.contractor.comp_name,'txt_compcate':_this.contractor.cont_cate, 'txt_compaddr':_this.contractor.comp_addr,'txt_comppostcode':_this.contractor.comp_postcode,'txt_compsuburb':_this.contractor.comp_suburb,'txt_compstate':_this.contractor.comp_state, 'txt_contactperson':_this.contractor.contact_person,'txt_contactno':_this.contractor.contact_no,'txt_contactemail':_this.contractor.contact_email,'txt_note':_this.contractor.note})
                              .then((res)=>{
                                    this.$root.isLoading = false;
                                    window.location.href = '/mgr/contractor_list';
                              });
                  }
            }
      },
      created:function () {
            
            if(!this.contractor.hasOwnProperty('comp_state')) {
                  this.contractor.comp_state = 'qld';
            } else {
                  if (this.contractor.comp_state == null || this.contractor.comp_state == '') {
                        this.contractor.comp_state = 'qld';
                  }
            }
      },
      mounted: function () {
            this.csrf = myToken.csrfToken;  
      }
}
</script>

<style>
select {
      width: 100%;      
}

input[type=email] {
      border: 1px solid #dedede;width: 100%;
}
</style>