<template>
      <div class="container_block">

                        <div class="list_filter col">
                              
                              <form id="contractor_form" ref="contractor_form" action="/mgr/contractor_list" method="get" >
                                    <select class="contractor_cate" name="input_cate" v-model="search.input_cate">
                                          <option value="">Select Category</option>
                                            <option v-for="(key, val) in c_cate" v-bind:value="key.id">{{key.name}}</option>
                                    </select>
                                    <input type="text" placeholder="Search Company" name="input_search" class="input_search" v-model="search.input_search">
                                    <button class="btn_filter">Search</button>
                              </form>
                              
                              
                        </div>
                        
                        <div class="list_cont" v-bind:class="{ empty_record: contractors.data.length == 0 }">
                              <div class="list_header">
                                    <div class="list_fields w_10">
                                          <!-- <input type="checkbox" class="styled_checkbox">
                                          <label for="styled-checkbox"></label> -->
                                          <check-box ref="eventBus" section="contractors_list" :data="contractors.data" @updateCheckedItem="check_box=$event"></check-box>
                                    </div>
                                    <div class="list_fields w_30">COMPANY</div>
                                    <div class="list_fields w_15 c_align">CONTACT PERSON</div>
                                    <div class="list_fields w_10 c_align">CONTACT NO.</div>
                                    <div class="list_fields w_10 c_align">EMAIL</div>
                                    <div class="list_fields w_10 c_align">CATEGORY</div>
                                    <div class="list_fields w_15 c_align">ACTIONS</div>
                              </div>

                              <div class="list_row" v-for="(key, data) in contractors.data">
                                    <div class="list_fields w_10">
                                            <input type="checkbox" class="styled_checkbox" ref="cb_item" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                          <label for="styled-checkbox"></label>
                                    </div>
                                    <div class="list_fields w_30" @click="g_detail(key.id)">{{ key.comp_name }}</div>
                                    <div class="list_fields w_15 c_align" @click="g_detail(key.id)">{{ key.contact_person }}</div>
                                    <div class="list_fields w_10 c_align" @click="g_detail(key.id)"><span class="tagcont cont_0">{{ key.contact_no }}</span></div>
                                    <div class="list_fields w_10 c_align" @click="g_detail(key.id)">{{ key.contact_email }}</div>
                                    <div class="list_fields w_10 c_align" @click="g_detail(key.id)"><span class="tagcont cont_4">{{ key.cate_name }}</span></div>
                                    <div class="list_fields w_15 c_align">
                                          <a class="list_btn btn_edit" v-bind:href="'contractor_detail/'+key.id">
                                                 <i class="fas fa-pen"></i>
                                          </a>
						      <emailButton :recipentsDetails='key' :templateDetails='template_detail'></emailButton>
                                    </div>
                              </div>

                              <div class="list_empty" v-if="contractors.data.length == 0">
                                    <div class="list_fields c_align">
                                          <span>You have 0 contractor, create it now.</span><br>
                                           <a v-bind:href="'/mgr/recommend_contractor'" class="btn btn_submit">Create A Contractor Now</a>
                                    </div>
                              </div>
                            
                              <popupEmail></popupEmail>
                        </div>
                        <pagination :pagination="list_pagination" v-if="contractors.data.length > 0"></pagination>
      </div>
</template>

<script>
import emailButton from '../emailButton.vue';
import popupEmail from '../popup/popup_common_email';
import EventBus from '../event-bus';
import pagination from '../PaginationComponent.vue';
export default {
      props: ['contractors','c_cate','search'],
      components: {
		emailButton,popupEmail,pagination
      },
	  
      data(){
            return {
                 error_msg : null,
				 details: 'contractors',
				 tag_cate:[],
				 template_tag:[],
				 email_template: [], 
                         template_detail:[],
                         list_pagination:this.contractors,	
                   check_box:{
                        checkedItem:[],
                        isCheckAll:false,
                  },
				 
            }
      },
      methods:{
             updateItem(){
                  var selected_data = {
                        'ids' : this.check_box.checkedItem,
                        'type' : 'contractors',
                  }
                  EventBus.$emit("selected_data", selected_data);
             },
         
		 getTemplate:function() {
		 	var _this = this;
		 	
		 	axios.get('/mgr/get_template').then(function(response){
		 		if(response.data.length > 0) {
		 			for (var i = 0; i < response.data.length; i++) {
		 				_this.template_tag.push(response.data[i]['tag']);
		 				_this.email_template.push(response.data[i])
		 			}	
		 			_this.template_tag = Array.from(new Set(_this.template_tag))
					_this.template_detail['tag_cate '] = _this.tag_cate;
					_this.template_detail['template_tag'] = _this.template_tag;
					_this.template_detail['email_template'] = _this.email_template;
		 			
		 		}
		 	})
             },
             g_detail:function(id){
                   window.location.href='contractor_detail/'+id
             }
      },
	mounted(){
            let _this = this;
            EventBus.$emit("initListPagination",_this.list_pagination);
            this.getTemplate();
              
            EventBus.$on('update_email_recipents', function(details) {
                  EventBus.$emit("email_recipents", details);
		});
		  
	 }
}
</script>

<style>


      #contractor_form {
            display: flex;justify-content: flex-end;
      }

      .contractor_cate {
            width: 150px;
      }

      .input_search {
            width: 200px;
      }

      .btn_filter {
            width:100px;
      }

      .list_filter select {
            max-width: 150px;
            margin-right: 10px;
            display: inline-block;
      }

      .list_filter .input_search {
            max-width:200px;
      }

      .list_filter  .btn.btn_new {
            padding-left: 5px;padding-right: 5px;
      }
</style>