<template>
  <div id="ad_carp" style="padding: 10px;
    cursor: pointer;" @click="newCarparks">
      <li>New Carpark</li>
  </div>
</template>

<script>
import EventBus from '../event-bus';

export default {
    props:['unit_id'],
    data(){
        return{
           
        }   
    },
    methods:{
        newCarparks: function() {
            EventBus.$emit("unit_id", this.unit_id);
        },
    },
    mounted(){
        // console.log(this);
    }
}
</script>

<style>
    #ad_carp:hover{
        background-color: rgba(67,66,93,0.08);
    }
</style>