<template>
    <div class="col">
        <form id="parkingbreachesdetail_form" ref="parkingbreachesdetail_form" action="/mgr/save_parking_breaches" enctype="multipart/form-data" method="post" v-kendo-validator>
            <div style="display: inline-block;">
                <div class="col-md-8">
                    <div class="container_block">
                        <input type="hidden" name="_token" :value="csrf">
                        <input type="hidden" name="pb_id">

                        <div class="container_subtitle">
                            <i class="fas fa-suitcase  fa-lg"></i><h5>Details</h5>
                        </div>

                        <div class="field_block">
                            <div class="field_cont col">
                                <div class="col-md-6">
                                    <label class="field_title">Vehicle Make</label>
                                    <input type="text" name="txt_vehiclemake" class="col-md-12  k-textbox" placeholder="Vehicle Make" required validationMessage="Vehicle Make is required" v-if="pb.length == 0">
                                    <span >{{pb.vehicle_make}}</span>                   
                                </div> 
                                <div class="col-md-6">
                                    <label class="field_title">Vehicle Model</label>
                                    <input type="text" name="txt_vehiclemodel" class="col-md-12  k-textbox" placeholder="Vehicle Model" required validationMessage="Vehicle Model is required" v-if="pb.length == 0"> 
                                    <span >{{pb.vehicle_model}}</span>                  
                                </div>                                    
                            </div>   

                            <div class="field_cont col">
                                <div class="col-md-6">
                                    <label class="field_title">Vehicle Color</label>
                                    <input type="text" name="txt_vehiclecolor" class="col-md-12  k-textbox" placeholder="Vehicle Color" required validationMessage="Vehicle Color is required" v-if="pb.length == 0">    
                                    <span >{{pb.vehicle_color}}</span>               
                                </div>  
                                <div class="col-md-6">
                                    <label class="field_title">Vehicle Rego</label>
                                    <input type="text" name="txt_vehiclerego" class="col-md-12  k-textbox" placeholder="Vehicle Rego" required validationMessage="Vehicle Rego is required" v-if="pb.length == 0">           
                                    <span >{{pb.rego_no}}</span>        
                                </div>                            
                            </div>                      
                        
                            <div class="field_cont col">
                                <div class="col-md-6">
                                    <label class="field_title">Date of Breach</label>
                                                                
                                    <kendo-datepicker   :min="minExpiry"
                                                        :max="maxExpiry"
                                                        :value="currentExpiry"
                                                        :format="'yyyy-MM-dd'"
                                                        name="txt_datebreach" class="col-md-12" placeholder="Date of Breach" v-if="pb.length == 0">
                                    </kendo-datepicker>
                                    <span >{{pb.date_breach}}</span>
                                </div>  
                                <div class="col-md-6">
                                    <label class="field_title">Breach</label>
                                    <input type="text" name="txt_breach" class="col-md-12  k-textbox" placeholder="Breach" required validationMessage="It is required" v-if="pb.length == 0">        
                                    <span >{{pb.breach}}</span>           
                                </div>                                    
                            </div>                         
                        </div>

                    </div>
                </div>
                                
                <div class="col-md-4">
                    <div class="container_block">
                                        
                        <div class="container_subtitle">
                            <i class="far fa-image fa-lg"></i> 
                            <h5>Photos</h5>
                        </div>
                        <div class="field_block single_img_blk">
                            <div class="asset_photo" v-show="(pb.photo != '' && pb.photo != null)">
                                <img :src="current_domain + pb.photo"/>
                            </div>
                            <div v-show="pb.length == 0">
                            <kendo-upload ref="upload" name="pb_photo"
                                            :async-auto-upload="false"
                                            :validation-allowed-extensions="['.jpg', '.jpeg', '.png', '.bmp', '.gif']"
                                            :show-file-list="false"
                                            @select="showPreviewPhoto"
                                            >
                            </kendo-upload>  
                            </div>   
                        </div>        
                    </div>
                </div>  
            </div>

            <div class="col-md-12" v-if="pb_id !== null">
                <div class="container_block">          
                    <div class="container_subtitle">
                        <i class="fas fa-comments"></i>
                        <h5>Comments</h5>
                    </div>
                    <div class="field_block">
                        <div class="field_cont col">
                            <div class="col-md-10">
                                <textarea name="pb_comment" cols="10"></textarea>
                            </div>
                            <div class="col-md-2">
								<notificationComp v-on:getSendingParams="getSendingParams"  ></notificationComp>
								<button id="save_button" name="btn_submit" class="btn btn_submit">
								    Submit
								</button>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>


                        
            <div class="field_cont btn_cont">
                <a class="btn btn_cancel"  v-bind:href="'/mgr/parking_breaches/'" >Cancel</a>
                <a class="btn btn_close" onclick="return confirm('Are you sure you want to delete this record?');" v-bind:href="'/mgr/del_parking_breach/'+pb.id"  v-show="(pb_id != null)">
                    Delete
                </a>
                <button class="btn btn_submit" type="submit"  @click.prevent="onSubmit" v-if="pb.length == 0">Save</button>
            </div>
        </form>
    </div>
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'

import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'
import {  NumericTextBox, InputsInstaller } from '@progress/kendo-inputs-vue-wrapper'
import { DatePicker, DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'
import  notificationComp from '../NotificationsComponent.vue';

Vue.use(InputsInstaller)
Vue.use(ValidatorInstaller)
Vue.use(UploadInstaller)
Vue.use(DateinputsInstaller)

export default {
      props: ['pb_id','pb'],
      components: {
            DatePicker, NumericTextBox, Validator, notificationComp
      },
      data(){
            return {
                  initialFiles: [], showAssetImgs: false,
                  current_domain: location.protocol+"//"+window.location.hostname,
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                  minExpiry: new Date(1970, 1, 1),
                  maxExpiry: new Date(2050, 12, 31),
                  currentExpiry: new Date(2019, 6, 1),
				  sendType: [],
				  inforRecipentsType: [],
            }
      },
      methods:{
           
            onSubmit: function (ev) {
                  var validator = this.kendoValidator;
                  // var status = kendo.jQuery('.status')
                  if (validator.validate()) {
                      this.$root.isLoading = true;
                      document.getElementById('parkingbreachesdetail_form').submit();
					// if(this.sendType.length != 0) {
					// 	this.$parent.sendInfo(this.sendType, this.ridlist, this.inforRecipentsType, 'create_case');
					// }
					
                  } else {

                  }
            },
            
            showPreviewPhoto: function (e) {
                 
                  var file = e.files[0].rawFile;
                  if (file) {
                        var reader = new FileReader();
                        reader.onloadend = function () {
                              $(".single_img_blk .asset_photo img").attr('src',this.result).show();;
                               $(".single_img_blk .asset_photo").show();;
                              
                        };
                        reader.readAsDataURL(file);
                        this.showAssetImgs =true;
                  }

            },
			getSendingParams:function(infoParams) {
				this.sendType = infoParams.sendType;
				this.inforRecipentsType= infoParams.recipentsType;
			}

      },
      mounted: function () {
            this.csrf = myToken.csrfToken;  
            var upload = this.$refs.upload.kendoWidget();
            var upload1 = this.$refs.upload.kendoWidget();
      }
}
</script>

<style>


button.btn_asset_upload {
      width: 100%; margin: 10px 0px;
}

.k-datepicker {
      padding: 0px;display: block;width: 100%;
}

.k-datepicker .k-picker-wrap {
    padding: 3px 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #dedede;
}
.notification_title {
	display: none;
}
.sendType{
	margin: 5px 0px;
}
#save_button {
	margin-left: 0px !important;
}

</style>