<template>
      <div class="container_block">

                        <div class="list_filter col">
                              <form id="asset_form" ref="asset_form" action="/mgr/tenants" method="get" >
                                    <input type="text" placeholder="Vehicle Make / Model" class="input_search"  name="input_search" >
                                    <button class="btn_filter">Search</button>
                              </form>
                        </div>
                        
                        <div class="list_cont">
                              <div class="list_header">
                                    <div class="list_fields w_5">
                                          <check-box ref="eventBus" section="setting_parking" :data="parking_breaches.data"  @updateCheckedItem="check_box=$event"></check-box>
                                    </div>
                                    <div class="list_fields w_15">DATE</div>
                                    <div class="list_fields w_20 c_align">MAKE</div>
                                    <div class="list_fields w_20 c_align">MODEL</div>
                                    <div class="list_fields w_15 c_align">REGO</div>
                                    <div class="list_fields w_15 c_align">COLOR</div>
                                    <div class="list_fields w_15 c_align">ACTIONS</div>
                              </div>
                            
                              <div class="list_row" v-for="(key, data) in parking_breaches.data" >
                                    <div class="list_fields w_5">
                                          <input type="checkbox" class="styled_checkbox"  :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                          <label for="styled-checkbox"></label>
                                    </div>
                                    <div class="list_fields w_15" @click="goToDetailPage('edit_parking_breaches/'+key.id)">{{ key.date_breach }}</div>
                                    <div class="list_fields w_20 c_align" @click="goToDetailPage('edit_parking_breaches/'+key.id)">
										<div class="tagcont cont_1">{{ key.vehicle_make }}</div>
									</div>
                                    <div class="list_fields w_20 c_align" @click="goToDetailPage('edit_parking_breaches/'+key.id)">
										<div class="tagcont cont_2">{{ key.vehicle_model }}</div>
									</div>
                                    <div class="list_fields w_15 c_align" @click="goToDetailPage('edit_parking_breaches/'+key.id)">
                                    	<div class="tagcont cont_3">{{ key.rego_no }}</div>
                                    </div>
                                    <div class="list_fields w_15 c_align" @click="goToDetailPage('edit_parking_breaches/'+key.id)">
                                    	<div class="tagcont cont_4">{{ key.vehicle_color }}</div>
                                    </div>
                                    <div class="list_fields w_15 c_align">
                                          <a  v-bind:href="'edit_parking_breaches/'+key.id" class="list_btn btn_edit">
                                                <i class="edit_button fa fa-pen"></i>
                                          </a>

                                          <a class="d_buttom" onclick="return confirm('Are you sure you want to delete this record?');" v-bind:href="'/mgr/del_parking_breach/'+key.id">
                                                <i class="fa fa-times"></i>
                                          </a>
                                    </div>
                              </div>
                        </div>
      </div>
</template>

<script>
import EventBus from '../event-bus';

export default {
      props: ['parking_breaches'],
      components: {
            
      },
      data(){
            return {
                 error_msg : null,
                 check_box:{
                        checkedItem:[],
                        isCheckAll:false,
                  },
            }
      },
      methods:{
           updateItem(){
                   var selected_data = {
                        'ids' : this.check_box.checkedItem,
                        'type' : 'pb_list',
                  }
                  EventBus.$emit("selected_data", selected_data);
             },
			 goToDetailPage:function(url) {
			 	let a= document.createElement('a');
			 	a.target= '_blank';
			 	a.href= url;
			 	a.click();
			 },
      },
      mounted() {
			
      }
}
</script>

<style>
.list_filter select  {
      max-width: 150px;margin-right: 10px;    display: inline-block;
}
.d_buttom {
	    width: 26px;
	    height: 26px;
	    display: inline-block;
	    margin-right: 5px;
	    line-height: 26px;
	    color: #fff;
	    border-radius: .2rem;
	    background-color: #ff738a;
}
.d_buttom > i ,.edit_button{
	color: #fff !important;
	font-size: 1.4rem;
	margin: 0px 3px;
}



</style>