<template>
      <div class="container_block">

                        <div class="list_filter col">
                              <form id="tenant_list_form" ref="tenant_list_form" action="/mgr/tenant" method="get" >
                                    <input type="text" placeholder="Search Name or Tenant Code" class="input_search"  name="input_search" v-model="search.input_search" >
                                    <button class="btn_filter">Search</button>
                              </form>
                        </div>
                        
                        <div class="list_cont">
                              <div class="list_header">
                                    <div class="list_fields w_10">
                                          <input type="checkbox" class="styled_checkbox">
                                          <label for="styled-checkbox"></label>
                                    </div>
                                    <div class="list_fields w_30">TENANT NAME</div>
                                    <div class="list_fields w_15 c_align">CODE</div>
                                    <div class="list_fields w_10 c_align">TYPE</div>
                                    <div class="list_fields w_10 c_align">UNIT NO.</div>
                                    <div class="list_fields w_15 c_align">ACTIONS</div>
                              </div>
                            
                              <div class="list_row" v-for="(key, data) in tenant.data">
                                    <div class="list_fields w_10">
                                          <input type="checkbox" class="styled_checkbox">
                                          <label for="styled-checkbox"></label>
                                    </div>
                                    <div class="list_fields w_30">{{ key.first_name }} {{key.last_name}}</div>
                                    <div class="list_fields w_15 c_align">{{ key.tenant_code }}</div>
                                    <div class="list_fields w_10 c_align">{{ key.type }}</div>
                                    <div class="list_fields w_10 c_align">{{ key.unit_id }}</div>
                                    <div class="list_fields w_15 c_align">
                                          <a href='#' @click="viewTenantDetail(key.id)">
                                                <i class="far fa-eye"></i>
                                          </a>

                                          <a v-on:click="unLinkTenant(key.user_id);">
                                                <i class="fas fa-unlink"></i>
                                          </a>
                                    </div>
                              </div>
                        </div>
      </div>
</template>

<script>
import EventBus from '../event-bus';
export default {
      props: ['tenant','search'],
      components: {
            
      },
      data(){
            return {
                 error_msg : null,
            }
      },
      methods:{
            unLinkTenant:function(id) {
                  if (confirm('All of the tenant\'s info will be removed if you unlink it, are you sure you want to unlink this tenant? ')) {
                        var _this = this;
                        axios.post('/mgr/unlink_tenant', {
                              tenant_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {

                                    for (var i = 0; i < _this.tenant.data.length; i++) {
                                          console.log(_this.tenant.data[i]); 
                                          if (_this.tenant.data[i].user_id == response.data.tenant_id) {
                                                _this.tenant.data.splice(i, 1);
                                          }
                                    }
                                    
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            viewTenantDetail(tenant_id) {
                  EventBus.$emit("tenant_id",tenant_id);
            }
      },
      mounted() {

      }
}
</script>

<style>
.list_filter select  {
      max-width: 150px;margin-right: 10px; display: inline-block;
}



</style>