<template>
      <kendo-combobox 
                  id="tenant_list"
                  v-model="selectedTenant"
                  :placeholder="'Select tenant'"
                  :data-source="tlist"
                  :data-text-field="'tenant_text'"
                  :data-value-field="'user_id'"
                  :filter="'contains'"
                  :change="validateTID()">
    </kendo-combobox>
</template>

<script>
import { DropdownsInstaller, ComboBox } from '@progress/kendo-dropdowns-vue-wrapper'

Vue.use(DropdownsInstaller)

export default {
      props:['tlist'],
      components: {
            DropdownsInstaller, ComboBox
      },
    
      data(){
            return{
                  tid_arr: [],
                  selectedTenant: null
            }
      },

      methods:{
            validateTID: function() {
                  if (this.tid_arr.length <= 0) {
                        this.selectedTenant = null;
                  } else {
                        if (!this.tid_arr.includes(parseInt(this.selectedTenant)) && (this.selectedTenant != null && this.selectedTenant != '')) {
                              this.selectedTenant = this.tlist[0].user_id;
                        } 
                  }
            }
      },
      mounted() {
            for(var i = 0; i < this.tlist.length ; i++) {
                  this.tid_arr[i] = this.tlist[i].user_id;
            }
            
      }

}

</script>

<style>
.k-widget.k-combobox {
      width: 100%;
      height: 36px;
      border-radius: 5px;
      border: 1px solid #dedede;
}

.k-widget.k-combobox .k-input{
      height: 36px;
}

.k-widget.k-combobox .k-select {
      background-color: #fff;
      background-image: none;
}

.k-combobox .k-dropdown-wrap {
      border-color: transparent;
}

.k-i-arrow-60-down::before {
      padding-left: 6px;
}

.k-combobox .k-dropdown-wrap .k-clear-value {
      height: 24px;line-height: 24px;;
}
</style>