<template>
    <div class="accordion" v-on:click="toggleAccordion()">
        <div class="header">
            <slot name="accordion_title">Hint</slot>
            <i class="fa fa-2x fa-angle-down header-icon" v-bind:class="{ rotate: accordion_show }"></i>
        </div>
        <transition name="accordion">
            <div class="accordion_body" v-show="accordion_show">
                <div class="body-inner" @click.stop>
                    <slot></slot>    
                </div>
            </div>
        </transition>
    </div>
        
</template>
     
<script>
export default {
      props: {
      },
      data () {
            return {
                accordion_show: false,
            }
      },
      methods: {
        toggleAccordion: function() {
            this.accordion_show = !this.accordion_show;
        },
      }
}
</script>

<style>
.accordion .header {
    height: 34px;line-height: 34px;position: relative;
}
.accordion .header-icon {
    position: absolute;top: 0px;right: 10px;transform: rotate(0deg);transition-duration: 0.3s;
}

.accordion .header-icon.rotate {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.accordion .accordion_body {
/*   display: none; */
  overflow: hidden;
  background-color: #fff;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: 150ms ease-out;
}

</style>