<template>
  <div class="add">
    <i class="fas fa-at" @click.prevent="add_show"></i>
    <ul v-if="show">
        <li v-for="(item,key) in info" :key="item">
        <input type="text" :value="item" id="i-select" readonly>
        <button @click.prevent="add">Add{{key}}</button>
        </li>
    </ul>
  </div>
</template>

<script>
import EventBus from './event-bus';
import close_window from './close_window.vue';
export default {
    components:{close_window},
    data(){
        return{
            show:false,
            info:{
                name:"{%contractor|name%}",
                other:"{%others|other%}",
        },
        }
    },
    methods:{
        add_show:function(){
            console.log(this);
            this.show = !this.show;
            EventBus.$emit('close_window',this.show);
        },

        add:function(){
            let i = 'testxxxtest';
            let value = this.$parent.email_content;
            let target = this.$parent.$refs.add.getElementsByTagName('iframe')[0];
            let t = (target.contentDocument || target.contentWindow.document).body
            let cursor = this.getCaretCharacterOffsetWithin(t);
            this.add_item(cursor,i);
            console.log(cursor);
            
        },

        getCaretCharacterOffsetWithin: function (element) {
            var doc = element.ownerDocument || element.document;
            var win = doc.defaultView || doc.parentWindow;
            var sel, range, preCaretRange, caretOffset = 0;
            if (typeof win.getSelection != "undefined") {
                sel = win.getSelection();
                if (sel.rangeCount) {
                    range = sel.getRangeAt(0);
                    preCaretRange = range.cloneRange();
                    preCaretRange.selectNodeContents(element);
                    preCaretRange.setEnd(range.endContainer, range.endOffset);
                    caretOffset = preCaretRange.toString().length;
                }
            } else if ( (sel = doc.selection) && sel.type != "Control") {
                range = doc.selection.createRange();
                preCaretRange = doc.body.createTextRange();
                preCaretRange.moveToElementText(element);
                preCaretRange.setEndPoint("EndToEnd", textRange);
                caretOffset = preCaretTextRange.text.length;
            }
            return caretOffset;
        },

        add_item:function(p,i){
            let _this = this;
            let content = _this.$parent.email_content;
            content = content.substring(0,p)+i;
            _this.$parent.email_content = content;
            console.log(_this.$parent.em);
        },
        add_name:function(name){
            console.log(this.info[name]);
        }

    }
}
</script>

<style>

</style>