<template>
  <div class="add" v-click-outside="hide_cont">
    <i class="fas fa-at add-i" @click.prevent="add_show"></i>
     <span v-if="tool" class="tooltiptext" id="myTooltip">Copied!</span>
    <ul class="add-info" v-if="show">
        <li v-for="(item,key) in info" :key="key" @click.prevent="add_name(item.val)">
            <div class="item_key">{{item.key}}</div>
            <p>{{item.desc}}</p>
        </li>
    </ul>
  </div>
</template>

<script>
import EventBus from './event-bus';
export default {
    data(){
        return{
            show:false,
            info:[
                {
                    key: 'Building Logo',
                    val: '{%building|logo|company_id%}',
                    desc: 'The logo of current building [sender]'
                },
                 {
                    key: 'Building Name',
                    val: '{%building|name|company_id%}',
                    desc: 'The logo of current building [sender]'
                },
                 {
                    key: 'Building Address',
                    val: '{%building|address|company_id%}',
                    desc: 'The logo of current building [sender]'
                },
                 {
                    key: 'Building Postcode',
                    val: '{%building|postcode|company_id%}',
                    desc: 'The logo of current building [sender]'
                },
                 {
                    key: 'Building phone Number',
                    val: '{%building|phone|company_id%}',
                    desc: 'The logo of current building [sender]'
                },
                 {
                    key: 'Building fax Number',
                    val: '{%building|fax|company_id%}',
                    desc: 'The logo of current building [sender]'
                },
                {
                    key: 'Tenant First Name',
                    val: '{%tenant_detail|first_name|user_id%}',
                    desc: 'The First Name of tenant [receiver]'
                },
                {
                    key: 'Contractor Name',
                    val: '{%contractor|contact_person|contact_email%}',
                    desc: 'The Name of contractor [receiver]'
                },
                {
                    key: 'Contractor Email Address',
                    val: '{%contractor|contact_email|contact_email%}',
                    desc: 'The Email of contractor [receiver]'
                },
                {
                    key: 'Contractor Company Name',
                    val: '{%contractor|comp_name|contact_email%}',
                    desc: 'The company name of contractor [receiver]'
                },
            ],
            tool:false,
        }
    },
    methods:{
        hide_cont:function() {
            this.show = false;
            EventBus.$emit('close_window',this.show);
        },
        add_show:function(){
            this.show = !this.show;
            EventBus.$emit('t_at_t');
            EventBus.$emit('t_at_a');
            EventBus.$emit('t_at_c');
            EventBus.$emit('close_window',this.show);
        },
        add_name_copy(i){
            let c = document.createElement('textarea');
            c.value = i;
            document.body.appendChild(c);
            c.select();
            document.execCommand('copy');
            document.body.removeChild(c);
            this.add_show();
            this.tool=true;
            setTimeout(() => {
                this.tool=false;
            }, 1000);
        },
        add_name(i){
            let iframe = document.getElementsByTagName('iframe')[0];
            let target = (iframe.contentDocument||iframe.contentWindow.document).body;
            let cursor = this.getCaretCharacterOffsetWithin(target);
            this.add_item(cursor,i,target);
            this.add_show();
            this.hide_cont();
        },
        
        getCaretCharacterOffsetWithin: function (element) {
            var doc = element.ownerDocument || element.document;
            var win = doc.defaultView || doc.parentWindow;
            var sel, range, preCaretRange, caretOffset = 0;
            if (typeof win.getSelection != "undefined") {
                sel = win.getSelection();
                if (sel.rangeCount) {
                    range = sel.getRangeAt(0);
                    preCaretRange = range.cloneRange();
                    preCaretRange.selectNodeContents(element);
                    preCaretRange.setEnd(range.endContainer, range.endOffset);
                    caretOffset = preCaretRange.toString().length;
                }
            } else if ( (sel = doc.selection) && sel.type != "Control") {
                range = doc.selection.createRange();
                preCaretRange = doc.body.createTextRange();
                preCaretRange.moveToElementText(element);
                preCaretRange.setEndPoint("EndToEnd", textRange);
                caretOffset = preCaretTextRange.text.length;
            }
            return caretOffset;
        },

        add_item:function(p,i,target){
            let content = target.innerText;
            let len = content.length;
            let f_c = content.substring(0,p)+i;
            let l_c = content.substring(p,len);
            let new_content = f_c+''+''+l_c;
            target.innerText = new_content; 
        },
    },

    mounted(){
        let _this = this;
        EventBus.$on('t_at',function(){
            if(_this.show == true){
                _this.show = false
            }else{
              
            }
        });
         EventBus.$on('all_close',function(e){
            _this.show = e;
        });
    }
}
</script>

<style scoped>
    .add{
        font-size: 1.4em;
        float: right;
        margin: 2px 12px;
        cursor: pointer;
        position: relative;
        z-index: 10;
    }
    .add-i{
        position: relative;
    }
    .add-info{
        width: 250px;
        border: 1px solid #dedede;
        border-bottom: 0px;
        position: absolute;
        z-index: 10000;
        background-color: #fff;
        right: 0px;
        top: 32px;
        overflow-x: hidden;
        font-size: 0.6em;
        max-height: 400px;
        overflow-y: auto;
    }
    ul.add-info > li{
        border-bottom: 1px solid #dedede;
        padding: 10px;
        word-break: break-all;
    }

    ul.add-info > li:hover {
        color: #fff;
        background-color: rgba(55,156,214, .5);
    }


    ul.add-info > li .item_key {
        margin-bottom: 2px;
        font-weight: 900;
        font-size: 1.2em;
    }

    ul.add-info > li > p {
        text-transform: none;
        margin: 0px;
    }
    button{
        background-color: #55ce63;
        border: 1px solid transparent;
        font-weight: bolder;
        color: white;
        text-transform: uppercase;
        border-radius: 2px;
        font-size: 0.8em;
        margin-bottom: 1px;
    }

    .tooltiptext{
        position: absolute;
        right: 90px;
        background: darkgrey;
        color: white;
        font-size: 0.6em;
        width: 100px;
        text-align: center;
        border-radius: 2px;
        top: 5px;
    }
    
</style>