<template>
      <div class="autocomplete_cont" >
            <i class="fa fa-plus create_element" v-show="show_list" @click="createAnnouncementType()"></i>
            <input class="form-control" type="text" @focus="openList()" :value="value"  @keydown.enter = 'enter'  @keydown.down = 'down' @keydown.up = 'up' @input = 'filterResult($event.target.value)' >
            <ul class="autocomplete_list" style="width:100%" v-show="show_list">
                  <li v-for="(suggestion, index) in matches" @click="selectOption(index)">
                        <span > {{ suggestion.title }}</span>
                  </li>
            </ul>
      </div>
</template>

<script>
export default {
      props: {
            value: {
                  type: null,
                  required: true
            },
            suggestions: {
                  type: Array,
                  required: true
            }
      },
      data () {
            return {
                  show_list: false,
                  current: 0
            }
      },
      computed: {
            // Filtering the suggestion based on the input
            matches () {
                  
                  return this.suggestions.filter((obj) => {
                        if (this.value == null || this.value == '') {
                              return obj.title.toString().indexOf(this.value) <= 0;
                        } else {
                              return obj.title.toString().indexOf(this.value) >= 0;
                        } 
                  })
            }
      },
      mounted() {
            document.addEventListener("click", this.handleClickOutside);
      },
      destroyed() {
            document.removeEventListener("click", this.handleClickOutside);
      },
      methods: {
            createAnnouncementType : function () {
                  var _this = this;
                  axios.post('/mgr/create_announcement_type', {
                        title: this.value,
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                             _this.suggestions.push(response.data.new_type);
                             console.log(_this.suggestions);
                        }
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            openList : function() {
                  this.show_list = true;
            },
             // When enter pressed on the input
            enter () {
                  this.$emit('input', this.matches[this.current].title)
                  this.open = false
            },
            // When up pressed while suggestions are open
            up () {
                  if (this.current > 0) {
                  this.current--
                  }
            },
            // When up pressed while suggestions are open
            down () {
                  if (this.current < this.matches.length - 1) {
                  this.current++
                  }
            },
            // When up pressed while suggestions are open
            filterResult (value) {
                  if (this.show_list === false) {
                        this.show_list = true;
                        this.current = 0;
                  }
                  this.$emit('input', value);
            },
            selectOption(index) {
                  this.$emit('SelectedOption', this.matches[index].title);
                  this.$emit('SelectedOptionID', this.matches[index].id);
                  this.current = index;
                  this.show_list = false;
            } ,
            handleClickOutside(evt) {
                  if (!this.$el.contains(evt.target)) {
                        this.show_list = false;
                  }
            }
      }
}
</script>