<template>
  <button class="btn btn_new" @click="openPopup" v-text="text"></button>
</template>

<script>
import mixin from '../mixins.js';
import EventBus from './event-bus';
export default {
    props: ['text', 'type'],
    mixins: [mixin],
    data(){
        return{
          this_event: null
        }
    },
    methods:{
      openPopup:function(){
        this.this_event = this.event_format;
        this.this_event.typeId = this.type;
        this.this_event.progress = 1;

        EventBus.$emit('initPopUp', this.event_format);
      }
    },
    mounted(){}
}
</script>

<style scoped>
   
</style>