<template>
      <div class="event_cont">
            <div class="template_bg" :class="(templateArgs.typeId == 1 && templateArgs.currentCaseID > 0) || templateArgs.typeId > 1 ? null : 'non-clickable ' + (templateArgs.hasOwnProperty('recurrenceId') ? templateArgs.recurrenceId : templateArgs.id)"></div>
            <div class="blg_admin_scheduler_template" :class="'template_event_'+templateArgs.typeId+' '+((templateArgs.typeId == 1 && templateArgs.currentCaseID > 0) || templateArgs.typeId > 1 ? null : 'non-clickable ')">
                  <kendo-tooltip class="scheduler_detail col-md-8"
                                    :width="'200'"
                                    :height="'140'"
                                    :position="'bottom'"
                                    :auto-hide="'false'"
                                    :content="getEventContent(templateArgs.event_alt)">
                        <i class="fas fa-times" @click="openModal(templateArgs)" v-if="showDeleteIcon(templateArgs.start)"></i>

                        <p>{{ templateArgs.txt_start_time }} - {{ templateArgs.txt_end_time }}</p>
                        <p class="event_details" v-if="templateArgs.event_details != null">
                              <i class="fas fa-user"></i>
                              {{ templateArgs.event_details }}
                        </p> 
                        <p class="event_object">
                              <i class="fas fa-car" v-if="templateArgs.typeId == 4"></i>
                              <i class="fas fa-swimmer" v-if="templateArgs.typeId == 3"></i>
                              {{ templateArgs.event_object }}
                        </p>

                        <!-- will move to case part -->
                        <!-- <i class="far fa-calendar-alt" @click="openInspection()" v-if="templateArgs.case_id > 0"></i> -->
                  </kendo-tooltip>
            </div>
      </div>
</template>

<script>
import EventBus from './event-bus';
import mixin from '../mixins.js';
import { Tooltip } from '@progress/kendo-popups-vue-wrapper';

export default {  
      name: 'event_template',
      components: {
            'kendo-tooltip': Tooltip
      },
      mixins: [mixin],
      data() {
            return {
                  templateArgs: {},
                  currentEventID: null,
                  currentEventTitle: null,
                  currentEventItems: [],
                  currentEventIDStartTime: null,
                  currentEventIDEndTime: null,
            };
      },
      methods: {
            getEventContent:function(alt) {
                  return alt;
            },
            showDeleteIcon:function() {
                  // return true when event start is in the future && event case id > 0 && type is job
                  if (Date.now() < (new Date(this.templateArgs.start).getTime())) {
                        if (this.templateArgs.typeId == 1) {
                              if (this.templateArgs.currentCaseID > 0) {
                                    return true;
                              } else {
                                    return false;
                              }
                        } else {
                              return true;
                        }
                  } else {
                        return false;
                  }
            },
            openModal:function(e) {
                  EventBus.$emit("open_modal", e);
            },
            initialEventTips:function (e) {
                  var title = 'Jobs';
                  e.currentCaseID = null;
                  e.currentCaseProgress = null;

                  if (e.typeId == 3) {
                        title = 'Reservations';
                  } else if (e.typeId == 4) {
                        title = 'Car Parkings';
                  }
                  e.event_alt += "Type: " + title + "<br>";

                  if (e.id > 0) {
                        e.event_alt += "ID: " + e.id + "<br>";
                  } else {
                        e.event_alt += "Recurrence ID: " + e.recurrenceId + "<br>";
                  }

                  if (e.typeId == 1) {
                        if (e.subEvents.length > 0) {
                              if (e.id > 0) {
                                    e.currentCaseID = e.subEvents[0].case_id;
                                    e.currentCaseProgress = e.subEvents[0].progress;
                              } else if (e.id == null) {
                                    for (var i = 0;i < e.subEvents.length; i++) {
                                          if (new Date(e.subEvents[i].booking_time_from).getTime() == new Date(e.start).getTime()) {
                                                e.currentCaseID = e.subEvents[i].case_id;
                                                e.currentCaseProgress = e.subEvents[i].progress;
                                                break;
                                          }
                                    }
                              }

                              if (e.currentCaseID != null) {
                                    e.event_alt += "Case ID: <a href='/mgr/case_detail/" + e.currentCaseID + "' target='_blank'>" + e.currentCaseID + "</a><br>";
                              }
                              if (e.currentCaseProgress != null) {
                                    e.event_alt += "Progress: " + e.txtCaseProgress[e.currentCaseProgress] + "<br>";
                              }
                        }
                        if (e.booking_recurring != null) {
                              e.event_alt += "Recurrence: " + e.booking_recurring.replace("FREQ=", "") + "<br>";
                        }
                  }

                  e.event_alt += "Status: " + e.progress_title + "<br><br>";
                  if (e.event_object != null) {
                        var event_content =  e.event_object;
                        e.event_object = e.event_object.substring(0, 80)
                        e.event_alt += "Details: <br>" + event_content;
                  }
                  this.$forceUpdate();
            }
/*
            // move to inspection
            createInspectionRecord: function() {
                  var _this = this;
                  axios.post('/mgr/create_inspection_items', {
                        inspection_items: _this.currentEventItems,
                        ar_id: _this.currentEventID,
                        start: _this.currentEventIDStartTime,
                        end: _this.currentEventIDEndTime
                  })
                  .then(function (response) {
                        console.log(response);
                        if (response.data.success == true) {
                              _this.inspectionMsg = 'This inspection is created successfully!';
                              _this.templateArgs.inspectionDone = true;
                              setTimeout(function() {
                                    _this.closeInspectionPopup();
                              }, 3000);
                        }
                        
                  })
                  .catch(function (error) {
                        // 
                  });

            },
              //deprecated
            closeInspectionPopup: function() {
                  this.inspectionMsg = null;
                  this.currentEventTitle = null;
                  this.currentEventItems = [];
                  this.currentEventID = null;
                  this.currentEventIDStartTime = null;
                  this.currentEventIDEndTime = null;
            },
            //deprecated
            openInspection: function() {
            // console.log( this.templateArgs);
            // EventBus.$emit("open_inspection", this.templateArgs);
                  var _this = this;
                  axios.get('/mgr/get_inpection_items/bi_id='+this.templateArgs.bi_id)
                        .then(function (response) {
                              if (response.data.success == true) {
                                    _this.currentEventID = _this.templateArgs.id > 0 ? _this.templateArgs.id : _this.templateArgs.recurrenceId;
                                    _this.currentEventTitle = _this.templateArgs.event_object;
                                    _this.currentEventItems = response.data.list;
                                    _this.currentEventIDStartTime = _this.templateArgs.start;
                                    _this.currentEventIDEndTime = _this.templateArgs.end;
                              }
                        })
                        .catch(function (error) {
                              // 
                              console.log(error);
                        });
            },
*/
      },
      mounted: function() {
            // Initial event tips
            this.initialEventTips(this.templateArgs);
      }
};
</script>

<style lang="scss">
.scheduler_detail {
      .fa-times {
            position: absolute;
            right: 10px;
            top: -17px;
      }
}

.k-event .k-event-actions {
  height: 20px;
}
.far.fa-calendar-alt {
  float: right;
  cursor: pointer;
  font-size: 1.2em;
  margin-bottom: 10px;
  &:hover {
        color: #379cd6;;
  }
}

.popup_content {
      position: fixed;
      height: 100vh;
      width: 100vw;
      z-index: 1000000000;
      top: 0;
      left: 0;
      overflow: hidden;
      .popup_bg {
            background-color: rgba(0,0,0,.75);
            height: 100%;
            width: 100%;
      }
}
.popup_inspection {
      display: flex;
      justify-content: center;
      left: 0;
      right: 0;
      top:50%;
      max-width: 600px;
      width: 100%;
      margin: auto;
      margin-top: -235px;
      max-height: 470px;
      height: auto;
      overflow-y: auto;

      .k-edit-buttons {
            text-align: left;
            .msg {
                 font-size: .9em; 
                 font-style: italic;
                  color: #379cd6;
            }

            a {
                  float: right;
            }
      }
      ul.items {
            li {
                  padding-bottom: 20px;
                  label {
                        display: block;
                        font-size: .9em;
                        margin-bottom: 0px;
                  }
                 .item_header {
                       display: flex;
                        align-items: center;
                        height: 36px;
                        margin-bottom: 10px;
                        > span {
                              flex: 8;
                        }

                        .result {
                              flex: 2;
                              text-align: right;
                              display: flex;
                              .t_cont, .f_cont {
                                    flex: 1;
                                    margin: 0px 10px;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    > input {
                                          height: 20px;
                                    }
                              }
                        }
                 } 
            }
      }
}

</style>