<template>

      <form id="category_form" ref="category_form" v-kendo-validator method="post"   @submit.prevent="onSubmit">
                  <div class="field_block">
                                    <!-- <input type="hidden" name="_token" :value="csrf"> -->
                                    <div class="field_cont col">
                                          <label class="field_title">Main Category</label>
                                          <select name="cate_id" class="full_width" v-model="current_cate.cate_id"  required validationMessage="Main Category is required" @change="changeMainCate($event)">
                                                <option v-for="(key, data) in main_cate" :value="key.id">{{key.val}}</option>
                                          </select>
                                    </div>

                                    <div class="field_cont col">
                                          <label class="field_title">Name</label>
                                          <input type="text" class="col-md-12 k-textbox" name="cate_name" placeholder="Category Name"  required validationMessage="Category Name is required" v-model="current_cate.name">
                                    </div>

                                    <!-- <div class="field_cont col">
                                          <label class="field_title">Nest Under</label>
                                          <select name="parent_id" class="full_width" v-model="current_cate.parent_id" required validationMessage="Category Nest is required" >
                                                <option value="0" >None</option>
                                                 <option v-for="(key, data) in nest_cate" :value="key.id">{{key.val}}</option>
                                          </select>
                                    </div> -->

                                    <div class="field_cont col">
                                          <label class="field_title">Description</label>
                                          <textarea class="asset_note" rows="6" name="cate_description" v-model="current_cate.description	"></textarea>
                                    </div>

                                    <div class="field_cont btn_cont">
                                          <button class="btn btn_submit" type="submit">Save</button>
                                    </div>
                  </div>
      </form>


</template>
<script>
import EventBus from './event-bus';

export default {
      props: ['type_id'],
      components: {
            
      },
      data(){
            return {
                current_cate: [], main_cate: [], nest_cate: [], cate:[]
            }
      },
      methods:{
            onSubmit: function() {
                  // var validator = this.kendoValidator;
                  // if (validator.validate()) {
                        var _this = this;

                        axios.post('/mgr/save_cate', {
                              cate_id: _this.current_cate.cate_id,
                              cate_name: _this.current_cate.name,
                              parent_id: 0,
                              cate_description: _this.current_cate.description
                        })
                        .then(function (response) {
                              if (response.data.success == true) {
                                    if (_this.current_cate.cate_id == _this.type_id) {
                                          _this.current_cate.id = response.data.id;
                                          EventBus.$emit("new_category",_this.current_cate);
                                    }
                              }
                        })
                        .catch(function (error) {
                                    // 
                        });
                  // }
            },
            changeMainCate: function (ev) {
                  this.nest_cate = [];
                  for (var i = 0; i < this.cate.length; i++) {
                        if (this.cate[i].parentId == ev.target.value) {
                              this.nest_cate.push({'id' : this.cate[i].id, 'val' : this.cate[i].Name});
                        }
                  }
            },
            getCategory: function() {
                  var _this = this; 
                  axios.get('/mgr/get_category')
                        .then(function (response) {
                              var cate = response.data.cate;
                              _this.cate = cate;
                              for (var i = 0; i < cate.length; i++) {
                                    if (cate[i].parentId == null || cate[i].parentId == '') {
                                          _this.main_cate.push({'id' : cate[i].id, 'val' : cate[i].Name});
                                    }

                                    if (_this.type_id == cate[i].id) {
                                          _this.current_cate.cate_id = cate[i].id
                                    }
                              }
                        })
                        .catch(function (error) {
                                    // 
                        });
            },
      },
      mounted() {
            var _this = this;
            EventBus.$on('create_category_update', function (type_id) {
                  _this.type_id = type_id;
                  _this.$forceUpdate();
            });
      },
      created:function() {
            this.getCategory();
      }
}
</script>

<style>


</style>