<template>
  <div id="checkbox">
    <input type="checkbox" class="styled_checkbox" v-model="box.isCheckAll" @click="checkAll">
        <label for="styled-checkbox"></label>
        <!-- <label v-if="box.isCheckAll" for="styled-checkbox"><a @click="deleteAll(section)">Delete All</a></label> -->
        <label v-if="box.isCheckAll || box.checkedItem.length > 0" for="styled-checkbox"><a @click="deleteSelectedRecords()"><i class="fa fa-times"></i></a></label>
  </div>
</template>

<script>
import EventBus from './event-bus';

export default {
    props:["data","section"],
    
    data(){
      return{
          box:{
            checkedItem:[],
            isCheckAll:false,
          },
          id: null,
          action: null
      }
    },

    methods:{
      
      checkAll(){
          let key = this.data;
          this.box.isCheckAll = !this.box.isCheckAll;
          this.box.checkedItem = [];
          if(this.box.isCheckAll){
            for(let i in key){
              this.box.checkedItem.push(key[i].id);
            }
          }
          this.$emit('updateCheckedItem',this.box);
      },

      reset(){
        // console.log(this.$parent);
        this.$parent.check_box.isCheckAll = false;
        this.$parent.check_box.checkedItem = [];
      },

      deleteSelectedRecords(){
        var _this = this;
        if (confirm('Are you sure you want to delete the selected records?')) {
          switch(this.section){
            case "scheduler_list":
              axios.post('/mgr/delete_scheduler_list',{id:this.box.checkedItem}).then(function(response){
                if (response.data.success == 1) {
                  window.location.href = '/mgr/scheduler_list/1/12';
                }
              })
              .catch(function(error){
                  console.log(error)
              });
            break;
              
            case "setting_assets":
              axios.post('/mgr/delete_setting_assets',{id:this.box.checkedItem}).then(function(response){
                if (response.data.success == 1) {
                  // for (var i = 0; i < this.data.length; i++) {
                  //       if (this.data[i].id == response.data.id[i]) {
                  //             this.data.splice(i, 1);
                  //       }
                  // }
                  window.location.href = '/mgr/assets';
                }
                _this.$forceUpdate();

              })
              .catch(function(error){
                  console.log(error)
              });
            break;

            case "setting_inventory":
              axios.post('/mgr/delete_setting_inventory',{id:this.box.checkedItem}).then(function(response){
                if (response.data.success == 1) {
                
                  window.location.href = '/mgr/inventory';
              }
                _this.$forceUpdate();

              })
              .catch(function(error){
                  console.log(error)
              });
            break;
            
            case "setting_amenity":
              axios.post('/mgr/delete_setting_amenity',{id:this.box.checkedItem}).then(function(response){
                if (response.data.success == 1) {
                
                  window.location.href = '/mgr/amenity_list';
              }
                _this.$forceUpdate();

              })
              .catch(function(error){
                  console.log(error)
              });
            break;

            case "setting_inspection":
              axios.post('/mgr/delete_setting_inspection',{id:this.box.checkedItem}).then(function(response){
                if (response.data.success == 1) {
                
                  window.location.href = '/mgr/inspection';
              }
                _this.$forceUpdate();

              })
              .catch(function(error){
                  console.log(error)
              });
            break;

            case "setting_parking":
              axios.post('/mgr/delete_setting_parking',{id:this.box.checkedItem}).then(function(response){
                if (response.data.success == 1) {
                  window.location.href = '/mgr/parking_breaches';
                }
                //_this.$forceUpdate();

              })
              .catch(function(error){
                  console.log(error)
              });
            break;

            case "unit":
              axios.post('/mgr/del_units',{id:this.box.checkedItem}).then(function(response){
                if (response.data.success == 1) {
                    window.location.href = '/mgr/unit';
                }
              })
              .catch(function(error){
                  console.log(error)
              });
              
            break;

            case "vehice":
              axios.post('/mgr/delete_vehice',{id:this.box.checkedItem}).then(function(response){
                if (response.data.success == 1) {
                    window.location.href = '/mgr/unit';
                }
                //_this.$forceUpdate();
              })
              .catch(function(error){
                  console.log(error)
              });
              
            break;

            case "tenant":
              const _this = this;
              let user_id = [];
              for(let i in _this.data){
                user_id.push(_this.data[i].user_id)
              }

              axios.post('/mgr/delete_tenant',{id:user_id}).then(function(response){
                if (response.data.success == 1) {
                  window.location.href = '/mgr/unit';
                }
                _this.$forceUpdate();
              })
              .catch(function(error){
                  console.log(error)
              });
              
            break;

            case "annoucement_list":
              
              axios.post('/mgr/delete_annoucement_list',{id:this.box.checkedItem}).then(function(response){
                if (response.data.success == 1) {
                  window.location.href = '/mgr/announcement';
                }

              })
              .catch(function(error){
                  console.log(error)
              });
              
            break;
          }
        }
        
      }

    },
     mounted() {
        var _this = this;
        // switch(this.section){
        //   case "annoucement_list":

          EventBus.$on('selected_data', function (selected_data) {
            _this.box.checkedItem = selected_data.ids;
          });

        //   break;
        // }
     }

}
</script>

<style>
label[for=styled-checkbox] {
  margin-top: 2px;margin-bottom: 0px;
}
  #checkbox label a i{
    font-size: 1.6em;
    display: block !important;
    list-style: none;
  }

  #checkbox label a{
    text-decoration: none;
  }
</style>