<template>
  <div :class="c_show?'c_show':''" id="close_window" @click="closeWindow">
      <!-- <label @click="closeWindow">Click</label> -->
  </div>
</template>

<script>
import EventBus from './event-bus';
export default {
    data(){
        return{
            c_show:false
        }
    },
    methods:{
        closeWindow:function(){
            EventBus.$emit('all_close',false);
            this.c_show = false;
        }
    },
    mounted(){
        let _this = this;
        EventBus.$on('close_window',function(show){
            _this.c_show = show;
        })
    }
}
</script>

<style scoped>
    #close_window{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .c_show{
        z-index: 1;
    }
</style>