<template>
                    <date-range-picker 
                        :startDate="startDate" 
                        :endDate="endDate" 
                        @update="console.log(value)"
                        :locale-data="locale">
                    </date-range-picker>
                </template>

<script>                

 
export default {
    name: "date-range-picker",  
    components: { DateRangePicker },
    data() {
        return {
            startDate: '2017-01-01',
            endDate: '2025-01-01',
            locale: {
                direction: 'ltr', //direction of text
                format: 'DD-MM-YYYY', //fomart of the dates displayed
                separator: ' - ', //separator between the two ranges
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
                weekLabel: 'W',
                customRangeLabel: 'Custom Range',
                daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
                monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
                firstDay: 1 //ISO first day of week - see moment documenations for details
            }
        }
    }
}
</script>