<template>
	<button class="popupEmail btn_sml" @click.prevent="emailRecipents">
	      <i class="fas fa-envelope"></i>
	</button>
</template>

<script>
import EventBus from './event-bus';

export default {
	name: 'emailButton',
	props:['recipentsDetails', 'templateDetails'],
	data(){
		return{
			recipents_type:'',
		}
	},
	methods:{
		emailRecipents: function() {
			var details = {
			      'selectedRecipents':[this.recipentsDetails],
			      'recipents': [this.recipentsDetails],
				'recipents_type': this.recipents_type,
				'template_tag':this.templateDetails.template_tag,
				'email_template':this.templateDetails.email_template,
			}

			if (this.recipents_type == 'contractor') {
				  details['recipent_email'] = this.recipentsDetails.contact_email;
			} else {
				  if(this.recipents_type != null) {
					  details['recipent_email'] = this.recipentsDetails.email;
					  
				  } else {
					  
					  return;
				  }
				  
			}

			// console.log(details);
		      EventBus.$emit("update_email_recipents", details);
			 
		},
		getRecipentsType:function() {
			var _this = this;
			var senderType = window.location.href.split('/')[3];
			var mgrPage = window.location.href.split('/')[4];
			if (senderType == 'mgr') {
				if (mgrPage == 'case_detail' || mgrPage == 'contractor_list') {
					_this.recipents_type = 'contractor';
			
				} else {
					_this.recipents_type = 'tenant';
				}
			} else if (senderType == 'tenant') {
				_this.recipents_type == 'admin'
			} else {
				_this.recipentsType == null;
			}
		},
	},
		
	mounted(){
		this.getRecipentsType();
		
	}
}
</script>
<style>
	.btn_sml{
		width: 26px;
		height: 26px;
		display: inline-block;
		font-size: .75rem;    border-radius: .2rem;
		margin-bottom: .1em;
		background-color: #379CD6 !important;    vertical-align: top;
	}
	.btn_sml > i {
		color: white;
	}
</style>