<template>
	<button class="btn btn_sml" @click.prevent="emailContractor(case_detail.id)"  v-if="case_detail.hasOwnProperty('id')">
	      <i class="fas fa-envelope"></i>
	</button>
</template>

<script>
import EventBus from './event-bus';

export default {
	name: 'emailComponent',
	props:['case_detail', 'contractors', 'template_list', 'admin','case_img', 'assets'],
	data(){
            return {
			area_detail:'',
		}
	},
	methods:{
		emailContractor: function(case_id) {
			
			if (this.case_detail.job_area == 1) {
				this.area_detail = ": " + this.case_detail.asset.name;
				
			} else if (this.case_detail.job_area == 3) {
				this.area_detail = "Unit " + this.case_detail.unit.unit_title;
					
			} else if (this.case_detail.job_area == 2) {
				//
					
			} 
		      var this_case = {
					'case_id' : case_id,
					'assign_id': this.case_detail.assignee_id,
					'case_type' : this.case_detail.case_type,
					'content' : this.case_detail.content,
					'job_area_name' : this.case_detail.job_area_name,
					'case_images' : this.case_img,
					'contractors' : this.contractors,
					// 'contractor_id' : this.contractor_id,
					'template_list': this.template_list,
					'reporter': this.case_detail.reporter,
					'reporter_phone': this.case_detail.reporter_phone,
					'admin' : this.admin,
					'area_detail' : this.area_detail,
					'due_date': this.case_detail.due_date,
					'due_time': this.case_detail.due_time
					
		      }
			  EventBus.$emit("email_contractor",this_case);
			 
		},
	},
	created() {
		console.log(this.case_detail);
	}
}
</script>
<style>
</style>
