<template>
      <div >
            <section class="banner_cont container">
                  <div id="banner" style="background-image:url('/images/bg_feature.jpg');"></div>
                  <div id="banner_content">
                        <h1>FEATURES FOR YOU</h1>
                        <label>From work order creation and <br>building communication, we does it all.</label>
                  </div>
            </section>

            <section class="feature_cont container">
                  <div class="feature_desc right_padding">
                        <h3>Inspections and Quality Control</h3>
                        <span class="cotent">
                              All aspects are covered for you to conduct smooth inspections via our app.
                              <br><br>
                              Schedule inspections via a map view, Send notices and reminders to tenants of their inspection time, Create great looking inspection reports for your owners, with photos and comments, Customise the inspection areas to work for you, Highlight follow up actions and rent reviews for your owner.
                        </span>
                  </div>

                  <div class="feature_imgs left_padding">
                        <div class="img" style="background-image:url('/images/feature_1.jpg');"></div>
                        <div class="img img_float" style="background-image:url('/images/feature_1_float.jpg');"></div>
                  </div>

            </section>


            <section id="rpa" class="feature_cont container">
                  <div class="feature_imgs right_padding">
                        <div class="img" style="background-image:url('/images/feature_2.jpg');"></div>
                  </div>

                  <div class="feature_desc left_padding">
                        <h3>Resident Portal and App</h3>
                        <span class="cotent">
                              Keep everyone engaged and informed by using our web portal and mobile app make it easy for residents to:
                              <br><br>
                              Request maintenance, Book amenities, Track packages, List Guests, Interact with neighbors, Access benefits from local vendors.
                              <br><br>
                              The system automatically notifies residents, board members, and staff, based on their role and notification preferences. In case of an emergency, management has the power to broadcast announcements using voice, text, and email.
                        </span>
                  </div>
            </section>

            <section id="pc" class="partner_cont container">
                  <h3>Our Clients include</h3>
                  <ul class="partner_list">
                        <li class="col-md-2">
                              <img src="/images/partner_1.jpg" style="height: 60px;margin-top: 10px;">
                        </li>
                        <li class="col-md-4">
                              <img src="/images/partner_2.png" style="margin-top: 5px;">
                        </li>
                        <li class="col-md-2" style="padding: 0px;">
                              <img src="/images/partner_3.jpg" style="height: 85px;margin-top: -15px;">
                        </li>
                        <li class="col-md-4">
                              <img src="/images/partner_4.png" style="">
                        </li>
                  </ul>
            </section>


            <section id="pkt" class="feature_cont container">
                  <div class="feature_desc right_padding">
                        <h3>Poweful Key Tracking</h3>
                        <span class="cotent">
                              Use our key tracking to efforlessly manage multiple keys for owners, tenants amd contractors.
                              <br><br>
                              Key tracking combine hardware, software and biometric auhentication to keep your keys safe, your staff accountable and your residents at ease.
                              <br><br>
                              Everything gets recorded, everyone stays informed.
                        </span>
                  </div>

                  <div class="feature_imgs left_padding">
                        <div class="img" style="background-image:url('/images/feature_3.jpg');"></div>
                  </div>

            </section>


            <section id="rtd" class="feature_cont container">
                  <div class="feature_imgs right_padding">
                        <div class="img" style="background-image:url('/images/feature_4.jpg');"></div>
                  </div>

                  <div class="feature_desc left_padding">
                        <h3>Real Time Dashboard</h3>
                        <span class="cotent">
                              Take control of your preventative maintenance with our all in one interactive calendar.
                              <br><br>
                              Our intelligent dashboards put you at the helm of your 
                              operations, giving you the knowledge and actionable 
                              insights you need to make the most informed decisions. 
                              You'll know every detail, and be able to answer virtually 
                              any question about your building.
                        </span>
                  </div>
            </section>
      </div>
</template>

<script>
export default {
      props: [],
      data(){
            return {

            }

      },
    methods:{

    }
}

</script>

<style>
#pc h3 {
      margin-bottom: 20px;
}

#pc.partner_cont ul.partner_list > li img {
      width: 100% !important;margin-top: 10px !important;height: auto !important;margin-bottom: 20px;
}

.partner_cont  {
      text-align: center;background-color: #fff;margin-bottom: 40px;padding-bottom: 45px;
}

.partner_cont h3  {
    margin-bottom: 50px;font-weight: bold;
}

.partner_cont img {
      height: 70px;
}

section {
      margin-bottom: 85px;
}

.feature_cont .feature_desc h3 {
      margin-top: 30px; margin-bottom: 50px;font-weight: bold;
}

.feature_imgs .img {
      background-size: cover;background-position: center center;background-repeat: no-repeat;height: 100%;
}

.feature_imgs .img_float{
      -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;width: 220px;height: 220px;position: absolute;top: -70px;left: -50px;
}


.feature_desc, .feature_imgs {
      width: 50%;float: left;position: relative;height: 360px;
}

.left_padding {
      padding-left:2.5%;
}

.right_padding {
      padding-right:2.5%;
}

@media screen and (max-width: 768px) {
      #rpa, #rtd {
            display: flex;flex-direction: column-reverse;
      }
      #rpa .feature_imgs, #rtd .feature_imgs {
            padding-top: 0px;padding-left: 0px;width: 100%;margin-right: 0px;padding-right: 0px;float: right;
      }

      #rpa .feature_desc, #rtd .feature_desc {
            padding-left: 0px;width: 100%;float: left;    margin-bottom: 30px;
      }

      #pkt .feature_desc.right_padding {
            margin-bottom: 30px;
      }

      #pkt.feature_cont .feature_imgs {
            padding-top: 0px;padding-left: 0px;
      }
}
</style>