<template>
                  <div class="col">
                        <form id="assetdetail_form" action="/mgr/save_inspection"  method="post"  v-kendo-validator>
                              <div class="col-md-12">
                                    <div class="container_block">
                                          
                                          <div class="container_subtitle">
                                                <input type="hidden" class="inspection_id" name="inspection_id" v-model="area_id">
                                                <input type="hidden" name="_token" :value="csrf">
                                                <div class="col-md-8 cont_areaname">
                                                      <i class="fas fa-suitcase"></i> 
                                                      <input type="text" name="txt_areaname" class="k-textbox txt_areaname" placeholder="Area Name, e.g.: Lobby" v-model="area_name">
                                                </div>
                                                <div class="col-md-4 cont_newaction">
                                                      <button class="btn btn_new_area" v-on:click="createNewArea" >
                                                            <i class="fas fa-plus"></i>
                                                            <span>New Action</span>
                                                      </button>
                                                </div>
                                                <!-- 
                                                <input type="text" placeholder="Title" class="inspection_title" name="inspection_title" v-model="bi.title"  required validationMessage="The title is required"> -->
                                                <!-- <span data-for='inspection_title' class='k-invalid-msg'></span> -->
                                          </div>

                                          <div class="field_block">
                                                <div class="field_cont col">
                                                      <ul>
                                                            <li class="inspection_area" v-for="(key, item) in area_list">
                                                                  <!-- <div class="inspection_area_header">
                                                                        <div class="inspection_area_name col-md-10">
                                                                              <input type="hidden" v-bind:name="'area['+item+'][id]'" v-model="key.id">
                                                                              <input type="hidden" v-bind:name="'area['+item+'][name]'" v-model="key.name">
                                                                              {{key.name}}
                                                                        </div>
                                                                        <div class="inspection_area_action col-md-2">
                                                                              <button class="btn_ai btn_add" v-on:click="addItem($event, item)">
                                                                                    <i class="fas fa-plus"></i>
                                                                              </button>
                                                                              <button class="btn_ai btn_rm" v-on:click="rmArea($event, key.id)">
                                                                                    <i class="fas fa-times"></i>
                                                                              </button>
                                                                        </div>
                                                                  </div> -->
                                                                  
                                                                  <ul class="inspection_areaitem_content">
                                                                        <li v-for="(k, val) in key.item">

                                                                              <div class="col-md-11">
                                                                                    <div class="col-md-6">
                                                                                          <label class="field_title">Action</label> 
                                                                                          <input type="hidden" v-bind:name="'area['+item+'][item]['+val+'][rid]'" v-model="k.rid">
                                                                                          <input type="hidden" v-bind:name="'area['+item+'][item]['+val+'][id]'" v-model="k.id">
                                                                                          <input type="text" v-bind:name="'area['+item+'][item]['+val+'][title]'" v-model="k.title" required validationMessage="The title is required" placeholder="e.g.: check lift, check light">
                                                                                    </div>

                                                                                    <div class="col-md-6">
                                                                                          <label class="field_title">Duration</label> 
                                                                                          <select v-model="frequency_type[k.frequency]"  v-bind:name="'area['+item+'][item]['+val+'][frequency]'" required>
                                                                                                <option value="none">None</option>
                                                                                                <option value="DAILY">Daily</option>
                                                                                                <option value="WEEKLY">Weekly</option>
                                                                                                <option value="MONTHLY">Monthly</option>
                                                                                                <option value="YEARLY">Yearly</option>
                                                                                          </select>
                                                                                    </div>

                                                                                    <div class="recurring_cont col-md-12" v-if="k.frequency != 'none'">
                                                                                          <div class="col-md-4">
                                                                                                <label class="field_title">Start Date</label> 
                                                                                                <kendo-datepicker class="w_100" v-model="k.start_date" required="required"  v-bind:name="'area['+item+'][item]['+val+'][startdate]'" :format="'yyyy-MM-dd'"></kendo-datepicker>
                                                                                          </div>
                                                                                          <div class="col-md-4">
                                                                                                <label class="field_title">Start Time</label> 
                                                                                                <kendo-timepicker class="w_100" v-model="k.booking_time_from" required="required" v-bind:name="'area['+item+'][item]['+val+'][starttime]'" :format="'HH:mm'" :min='tMin' :max='tMax'></kendo-timepicker>    
                                                                                          </div>
                                                                                          <div class="col-md-4">
                                                                                                <label class="field_title">End Time</label> 
                                                                                                <kendo-timepicker class="w_100" v-model="k.booking_time_to" required="required" v-bind:name="'area['+item+'][item]['+val+'][endtime]'" :format="'HH:mm'" :min='tMin' :max='tMax'></kendo-timepicker>   
                                                                                          </div>
                                                                                    </div>
                                                                              </div>
                                                                              <div class="col-md-1">
                                                                                     <button class="btn_ai btn_add" v-on:click="addItem($event, item)">
                                                                                          <i class="fas fa-plus"></i>
                                                                                    </button>
                                                                                    <button class="btn_rm" v-on:click="rmItem(item, val, $event, k.id)">
                                                                                          <i class="fas fa-times"></i>
                                                                                    </button>
                                                                              </div>
                                                                        </li>
                                                                  </ul>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </div>
                                          
                                          
                                    </div>
                              </div>
                              

                              <!-- <div class="col-md-4">
                                    <div class="container_block">
                                    
                                          <div class="container_subtitle">
                                          <i class="fas fa-warehouse"></i>
                                          <h5>Area</h5>
                                          </div>
                                          <div class="field_block">
                                                <div class="field_cont col">
                                                      <input type="text" name="txt_areaname" class="col-md-12 k-textbox" placeholder="Area Name" v-model="area_name">
                                                      <button class="btn btn_new_area" v-on:click="createNewArea" >Create New Area</button>
                                                </div>
                                          </div>

                                    </div>
                              </div>   -->

                        
                              <div class="field_cont btn_cont">
                                    <a class="btn btn_cancel"  v-bind:href="'/mgr/inspection/'" >Cancel</a>
                                    <a v-bind:href="'/mgr/del_inspection/'+bia.id" onclick="return confirm('Are you sure you want to delete this inspection?');"
                                    class="btn btn_close">Delete</a>
                                    <button class="btn btn_submit"  type="submit" v-on:click.prevent="onSubmit">Save</button>
                              </div>
                        </form>

                    </div>
</template>

<script>
import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'
import { DatePicker, TimePicker, DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'

Vue.use(DateinputsInstaller);

export default {
      props: ['bia'],
      components: {
            Validator
      },
      data(){
            return {
                  tMin: '6:00 AM',
                  tMax: '9:00 PM',
                  items: [],
                  area_id: null,
                  area_name: null,
                  area_item: null,
                  area_selected: null,
                  area_list: [],
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                  frequency_type: [
                         'none','DAILY','WEEKLY','MONTHLY','YEARLY'
                  ]
            }
      },
      methods:{

            onSubmit: function (ev) {
                  // console.log(ev);
                  // ev.preventDefault();
                  // console.log(this.area_list);
                  var validator = this.kendoValidator;
                  // var status = kendo.jQuery('.status')
                  if (validator.validate()) {
                        this.$root.isLoading = true;
                        document.getElementById('assetdetail_form').submit();
                  }
            },
            rmArea: function (e, id) {
                  e.preventDefault();
                  if (confirm('Are you sure you want to delete this area?')) {
                        if (id != '' && id != null) {
                              var _this = this;
                              axios.post('/mgr/remove_area', {
                                    area_id: id,
                              })
                              .then(function (response) {
                                    console.log(response.data.success);
                                    if (response.data.success == true) {
                                          for (var i = 0; i < _this.area_list.length; i++) {
                                                if (_this.area_list[i].id == id) {
                                                      _this.area_list.splice(i, 1);
                                                }
                                          }
                                          _this.$forceUpdate();
                                    }
                              })
                              .catch(function (error) {
                                    // 
                              });
                        } else {
                              for (var i = 0; i < this.area_list.length; i++) {
                                    if (this.area_list[i].id == id) {
                                          this.area_list.splice(i, 1);
                                    }
                              }
                              this.$forceUpdate();
                        }
                  }
            },
            rmItem : function (parent, index, e, item_id) {
                  e.preventDefault();
                  // this.area_list[parent].item.splice(index, 1);
                  // this.$forceUpdate();

                   if (item_id != '' && item_id != null) {
                              var _this = this;
                              axios.post('/mgr/remove_area_item', {
                                    area_item_id: item_id,
                              })
                              .then(function (response) {
                                    console.log(response.data.success);
                                    if (response.data.success == true) {
                                          for (var i = 0; i < _this.area_list[parent].item.length; i++) {
                                                if (_this.area_list[parent].item[i].id == item_id) {
                                                      _this.area_list[parent].item.splice(i, 1);
                                                }
                                          }
                                          _this.$forceUpdate();
                                    }
                              })
                              .catch(function (error) {
                                    // 
                              });
                  } else {
                        console.log(index);
                        if (this.area_list[parent].item.length > 1) {
                              this.area_list[parent].item.splice(index, 1);    
                              this.$forceUpdate();
                        }
                  }

            },
            addItem: function (e, index) {
                  e.preventDefault();
                  this.area_list[index].item.push({'id': null, 'name' : '', 'frequency': 4});
                      
                  this.$forceUpdate();
            },
            createNewArea: function(e) {
                  e.preventDefault();
    
                  if (this.area_name != '' && this.area_name != null) {
                        var current_area = [];
                        current_area.id = null;
                        current_area.name = this.area_name;
                        current_area.item = [{'id': null, 'name' : '', 'frequency': 4}];
                        this.area_list.push(current_area);
                  } else {
                        alert("Area name is required");
                  }
            },
            createNewItem: function(e) {
                  e.preventDefault();

                  if (this.area_selected == '' || this.area_selected == null) {
                        alert("Please add a item");
                  } else if(this.area_item == '' || this.area_item == null){
                        alert("Area item name is required");
                  } else {
                        for (var i = 0; i < this.area_list.length; i++) {
                              if (this.area_list[i].name == this.area_selected.text) {
                                    this.area_list[i].item.push({'id': null, 'name' : this.area_item, 'pass' : '0', 'comment' : null, "frequency":""});
                              }
                        }
                        this.$forceUpdate();
                  }    
                  
            }
      },
      mounted: function () {
            this.csrf = myToken.csrfToken;  

            for (var i = 0; i < this.bia.length ; i++) {
                  var items = [];
                  var items_arr = this.bia[i].items.split('|');

                  this.area_id = this.bia[i].id;
                  this.area_name = this.bia[i].area_name;
                  for (var q = 0; q < items_arr.length; q++) {
                        var item = items_arr[q].split(',');

                        items.push({'id' : item[0], 'title' : item[1], 'frequency' : item[2], 'start_date' : item[3], 'booking_time_from' : new Date(item[4]).getHours() +":"+new Date(item[4]).getMinutes(), 'booking_time_to' : new Date(item[5]).getHours() +":"+new Date(item[5]).getMinutes(), 'rid' : item[6]});

                  }
                  this.area_list.push({'id' : this.bia[i].id, 'bi_id' : this.bia[i].bi_id, 'name' : this.bia[i].area_name, 'item' : items});
            }
      }
}
</script>

<style lang="scss">
.recurring_cont {
      padding: 20px 0px;
      .k-widget.k-datepicker, .k-widget.k-timepicker  {
            width: 100% !important;
      }
}
.container_block .container_subtitle {
      align-items: center;
      justify-content: center;
      display: flex;
}
.cont_areaname {
      padding-left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
            padding-right: 10px;
      }

      .txt_areaname {
            padding: 0px 5px !important;
            height: 32px !important;
            width: 100%;
      }
}

.cont_newaction {
      text-align: right;    padding-right: 0px;
}
.container_block .container_subtitle > i {
      padding-right: 0px;
}
.inspection_area_header {
      margin-bottom: 5px;
}
.inspection_areaitem_content .btn_rm {
      color: #fff;border: 0px;background-color: #f1536e;height: 30px;border-radius: 5px;float: right;
}

.inspection_areaitem_content .btn_add {
      color: #fff;border: 0px;background-color: #55ce63;height: 30px;border-radius: 5px;float: left;    margin: 0px;
}
.btn_ai {
      background-color: transparent;border: 0px;margin: 0px 2px;float: left;
}


.btn_ai.btn_rm {
      color: #f1536e;
}

.inspection_title {
      max-width: 400px;width: 100%;
}
ul.inspection_areaitem_content {
      display: inline-block;width: 100%;
}

ul.inspection_areaitem_content li {
    height: auto;width: 100%;display: inline-block;

    &:not(:first-child) {
          border-top:1px solid #ddd;    padding-top: 15px;
    }
}


.btn_new_area {
      background-color: #55ce63;
      i {
            margin-right: 5px;
      }
}

.area_item_blk {
      border-top: 1px dashed #dedede;margin-top: 10px;
}

.area_item_blk .area_list {
      margin-bottom: 15px;width: 100%;
}

.inspection_area_action {
      text-align: center;
}

.inspection_area_action > i {
      margin: 0px 5px;
}

.inspection_area_header {
    height: 30px;line-height: 30px;
}

.inspection_area_header .inspection_areaitem_header {
    font-size: .85em;height: 20px;line-height: 20px;
}
</style>