<template>
      <div class="col">
            <div id="is_cont" v-if="bia.length == 0">
                  <div class="inspection_cont col">
                        <div class="col-md-12 inspection_step step_1" v-show="showInspectionStep1 == true && showInspectionStep2 == false && showInspectionStep3 == false">
                              <div class="inspection_header">
                                    <label>Step 1</label>
                                    <span>Create a new inspection area & actions</span>
                              </div>

                              <form method="post" @submit.prevent="goToInspectionStep2" enctype="multipart/form-data" >
                                    <div class="inspection_area_cont">
                                          <div class="flex-1"></div>
                                          <div class="flex-9">
                                                <label class="field_title">Area</label> 
                                                <input type="text" id="txt_area" name="txt_area" placeholder="Lobby" class="col-md-12 k-textbox" v-model="inspections.area" required="required">
                                          </div>

                                          <div class="flex-2"> </div>
                                    </div>

                                    <div class="col-md-12" >  
                                          <div class="col-md-2"></div>
                                          <label class="col-md-10 field_title">actions</label> 
                                    </div>
                                    <div class="items_cont col-md-12" v-for="(k, d) in inspections.list">      
                                          <div class="flex-2 item_pre"> - </div>
                                          <div class="flex-8">
                                                <input type="text" id="txt_area" name="txt_area" placeholder="Checking lift 1" class="col-md-12 k-textbox" v-model="k.title"  required="required">
                                          </div>
                                          <div class="flex-2 item_panel">
                                                <i class="fas fa-plus" @click="newInpectionItem()"></i>
                                                <i class="fas fa-times" @click="delInspection(d)"></i>
                                          </div>
                                    </div>

                                    <div class="inspection_panel col-md-12">
                                          <button type="submit" class="btn btn_submit btn_inspectnext">
                                                <i class="far fa-arrow-alt-circle-right"></i>
                                          </button>
                                    </div>
                              </form>
                        </div>

                        <div class="col-md-12 inspection_step step_2" v-show="showInspectionStep1 == false && showInspectionStep2 == true && showInspectionStep3 == false">
                              <div class="inspection_header">
                                    <label>Step 2</label>
                                    <span>Schedule a time for your new inspection</span>
                              </div>
                              <form method="post" @submit.prevent="saveInspection" enctype="multipart/form-data" >
                                    <div class="col-md-6">
                                          <label class="field_title">Recurring</label> 
                                          <select id='recurring_frequency' name='recurring_frequency' data-role='dropdownlist' v-model="inspections.frequency" required="required">
                                                <option value='none'>None</option>
                                                <option value='DAILY'>Daily</option>
                                                <option value='WEEKLY'>Weekly</option>
                                                <option value='MONTHLY'>Monthly</option>
                                                <option value='YEARLY'>Yearly</option>
                                          </select>
                                    </div>

                                    <div class="col-md-6">
                                          <label class="field_title">Start Date</label> 
                                          <kendo-datepicker class="w_100" v-model="inspections.startdate" required="required"></kendo-datepicker>
                                    </div>
                                    <div class="col-md-6">
                                          <label class="field_title">Start Time</label> 
                                          <kendo-timepicker class="w_100" v-model="inspections.starttime" required="required"  :min='tMin' :max='tMax'></kendo-timepicker>    
                                    </div>
                                    <div class="col-md-6">
                                          <label class="field_title">End Time</label> 
                                          <kendo-timepicker class="w_100" v-model="inspections.endtime" required="required"  :min='tMin' :max='tMax'></kendo-timepicker>   
                                    </div>

                                    <div class="inspection_panel col-md-12" v-show="!showNewInspectionBtn">
                                          <button class="btn btn_submit" type="submit" >
                                                Save 
                                          </button>
                                    </div>
                              </form>
                        </div>

                        <div class="col-md-12 inspection_step step_3" v-show="showInspectionStep1 == false && showInspectionStep2 == false && showInspectionStep3 == true">
                              <div class="inspection_header">
                                    <span>You can continue to create inspections as many as you need, or press 'Next' button to go to next step.</span>
                              </div>

                              <div class="inspection_panel col-md-12"  v-show="showNewInspectionBtn">
                                    <button class="btn btn_submit" @click="backToInspectionPrevStep()">
                                          Create New Inspection Again
                                    </button>
                              </div>
                        </div>
                  </div>
            </div>

            <div id="is_cont" v-if="bia.length > 0">
                  <div class="inspection_cont col">
                        <div class="inspection_header">
                              <label></label>
                              <span>Edit inspection area & actions</span>
                        </div>

                 
                              <form method="post" @submit.prevent="saveInspection" enctype="multipart/form-data" >
                                    <div class="inspection_area_cont">
                                          <div class="flex-1"></div>
                                          <div class="flex-9">
                                                <label class="field_title">Area</label> 
                                                <input type="text" id="txt_area" name="txt_area" placeholder="Lobby" class="col-md-12 k-textbox" v-model="inspections.area" required="required">
                                          </div>

                                          <div class="flex-2"> </div>
                                    </div>

                                    <div class="col-md-12" >  
                                          <div class="col-md-2"></div>
                                          <label class="col-md-10 field_title">actions</label> 
                                    </div>
                                    <div class="items_cont col-md-12" v-for="(k, val) in inspections.list">     
                                          <div class="flex-2 item_pre"> - </div>
                                          <div class="flex-8">
                                                <input type="hidden" v-model="k.id">
                                                <input type="hidden" v-model="k.asset_id">
                                                <kendo-combobox   
                                                                  name="action_list"
                                                                  v-model="k.title"
                                                                  @change="actionOnChange(val, $event)"
                                                                  :placeholder="'Select an asset or Enter a location'"
                                                                  :data-source="assets"
                                                                  :value-primitive="'true'"
                                                                  :data-text-field="'name'"
                                                                  :data-value-field="'name'">
                                                </kendo-combobox>
                                          </div>
                                          <div class="flex-2 item_panel">
                                                <i class="fas fa-plus" @click="newInpectionItem()"></i>
                                                <i class="fas fa-times" @click="delInspection(val)"></i>
                                          </div>
                                    </div>

                                    <div class="inspection_time">
                                          <div class="col-md-6">
                                                <label class="field_title">Recurring</label> 
                                                <select id='recurring_frequency' name='recurring_frequency' data-role='dropdownlist' required="required" v-model="inspections.frequency">
                                                      <option value='none'>None</option>
                                                      <option value='DAILY'>Daily</option>
                                                      <option value='WEEKLY'>Weekly</option>
                                                      <option value='MONTHLY'>Monthly</option>
                                                      <option value='YEARLY'>Yearly</option>
                                                </select>
                                          </div>

                                          <div class="col-md-6">
                                                <label class="field_title">Start Date</label> 
                                                <kendo-datepicker class="w_100" required="required" v-model="inspections.startdate"></kendo-datepicker>
                                          </div>
                                          <div class="col-md-6">
                                                <label class="field_title">Start Time</label> 
                                                <kendo-timepicker class="w_100" required="required"  :min='tMin' :max='tMax'  v-model="inspections.starttime" :parseFormats="'HH:mm'" ></kendo-timepicker>    
                                          </div>
                                          <div class="col-md-6">
                                                <label class="field_title">End Time</label> 
                                                <kendo-timepicker class="w_100" required="required"  :min='tMin' :max='tMax'  v-model="inspections.endtime" :parseFormats="'HH:mm'"></kendo-timepicker>   
                                          </div>
                                    </div>

                                    <div class="inspection_panel col-md-12" >
                                          <button class="btn btn_submit">
                                                Update Inspection
                                          </button>
                                    </div>
                              </form>
                       
                  </div>
            </div>
      </div>
</template>

<script>
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import { InputsInstaller } from '@progress/kendo-inputs-vue-wrapper'
import { DropdownsInstaller, ComboBox } from '@progress/kendo-dropdowns-vue-wrapper'

Vue.use(InputsInstaller);
Vue.use(DateinputsInstaller);
Vue.use(DropdownsInstaller);

export default {
      props: ['bia','assets'],
      components: {
            DropdownsInstaller, TimePicker, ComboBox
      },
      data(){
            return {
                  tMin: '6:00 AM',
                  tMax: '9:00 PM',
                  showNewInspectionBtn: false,
                  showInspectionStep1: true,
                  showInspectionStep2: false,
                  showInspectionStep3: false,
                  inspections: {
                        id: '',
                        frequency: 'none',
                        startdate: new Date(),
                        starttime: '9:00 AM',
                        endtime: '12:00 PM',
                        area: '',
                        list: [
                              {id:'', title:'', asset_id:''}
                        ]
                  },
            }
      },
      
      methods: {
            actionOnChange: function(index, ev) {
                  if (ev.sender.selectedIndex == -1) {
                        this.inspections.list[index].asset_id = null;
                        this.inspections.list[index].title = ev.sender.input[0].value
                  } else {
                        this.inspections.list[index].asset_id = this.assets[ev.sender.selectedIndex].id;
                        this.inspections.list[index].title = this.assets[ev.sender.selectedIndex].name;
                  }
                  console.log(this.inspections.list);
                  this.$forceUpdate();
            },
            delInspection: function(index) {
                  if (this.inspections.list.length > 1) {    
                        this.inspections.list.splice(index, 1);
                        this.$forceUpdate();
                  }
            },
            backToInspectionPrevStep:function() {
                  this.showNewInspectionBtn = false;
                  this.showInspectionStep1 = true;
                  this.showInspectionStep2 = false;
                  this.showInspectionStep3 = false;
            },
            saveInspection:function() {
                   var _this = this;
                   _this.$root.isLoading = true;

                  axios.post('/mgr/initial_create_inspections', {
                              inspections: this.inspections
                        }).then(function (response) {
                        if (response.data.success == true) {
                              window.location.href = '/mgr/inspection'; 
                        }
                        _this.$root.isLoading = false;
                  })
                  .catch(function(){
                        console.log('FAILURE!!');
                        _this.$root.isLoading = false;
                  });

                  this.showNewInspectionBtn = true;
            },
            goToInspectionStep2:function() {
                  this.showInspectionStep1 = false;
                  this.showInspectionStep2 = true;
                  this.showInspectionStep3 = false;
            },
            newInpectionItem:function() {
                  this.inspections.list.push({id:'',title:''});
                  this.$forceUpdate();
            },
            
      },
      created() {
            if (this.bia.length > 0) {
                  this.inspections = this.bia[0];
                  this.inspections.list = []
            } 

            if (this.inspections.hasOwnProperty("actions")) {
                  var actions = this.inspections.actions.split("|");
                  for (var i = 0; i < actions.length ; i++) {
                        this.inspections.list.push({
                              'id': actions[i].split(",")[0],
                              'title': actions[i].split(",")[1],
                              'asset_id': actions[i].split(",")[2]
                        });

                  }
            }
            console.log(this.inspections);
      },
      mounted: function () {
            this.csrf = myToken.csrfToken;  

      }
}
</script>


<style lang="scss">
.inspection_time {
      display: inline-block;
      margin: 20px 0px;
      .col-md-6 {
            margin-bottom: 15px;
            .k-datepicker {
                  width: 100% !important;
            }
      }
}
.w_100 {
    width: 100% !important;
}

#is_cont {
      margin: 40px 6% 0px 2%;
      background-color: #fff;
      height: 80vh;
      width: 100%;
      -webkit-box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
      box-shadow: 1px 0px 20px rgba(0,0,0,0.08);

      .inspection_cont {
            max-width: 750px;
            width: 100%;
            margin: 0px auto;
      }

      .inspection_step {
            padding: 80px 40px;
            overflow-y: auto;

            .col-md-6 {
                  padding: 0px 20px 20px 0px;
            }

            .btn_inspectnext {
                  margin: 30px auto 60px auto;
                  width: 50%;
                  font-size: 1.6em;
                  padding: 0px;
            }
      }

      .inspection_header {
            label {
                  width: 100%;
                  text-align: center;
                  font-size: 1.4em;
                  margin-bottom: 10px;
            }

            span {
                  width: 100%;
                  text-align: center;
                  margin-bottom: 40px;
                  display: block;
                  line-height: 1.8em;
                  font-size: .85em;
            }
      }
}
.inspection_cont {
            max-width: 750px;
            width: 100%;

            

            .inspection_area_cont {
                  display: flex;margin-bottom: 15px;    width: 100%;
                  .flex-1 {
                        flex: 1;text-align: center;vertical-align: middle;margin: auto;font-size: 2em; margin-top: 20px;
                  }

                  .flex-2 {
                        flex: 2;text-align: center;vertical-align: middle;margin: auto;font-size: 1.6em;margin-top: 24px;

                        i.fa-plus {
                              color: #55ce63;margin-right: 15px;;
                        }

                        i.fa-times {
                              color: #ff0000;
                        }
                  }

                  .flex-9 {
                        flex: 9;
                  }
            }

            .items_cont {
                  display: flex;padding-right: 15px !important;padding-bottom: 8px;
                  .item_pre {
                        text-align: right;font-size: 2em;padding-right: 0px;
                  }

                   .flex-8 {
                        flex: 8;
                  }
                  .flex-2 {
                        flex: 2;text-align: center;vertical-align: middle;margin: auto;font-size: 1.6em;

                        i.fa-plus {
                              color: #55ce63;margin-right: 15px;;
                        }

                        i.fa-times {
                              color: #ff0000;
                        }
                  }

                  .item_pre {
                       margin: auto;
                        text-align: right;
                        padding-right: 15px;
                        font-size: 2em;
                  }
            }

            .inspection_panel {
                  text-align: center;
            }
      }
</style>