<template>
  <div class="vld-parent">
        <loading :active.sync="isLoading" 
        :is-full-page="fullPage"
        :z-index='cover'></loading>
    </div>
</template>

<script>
// Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    
    export default {
        props:['isLoading'],
        data() {
            return {
                fullPage: true,
                cover:10010,
            }
        },
        components: {
            Loading
        },
    }
</script>

<style>

</style>