<template>
      <div class="notification_component">
			<div class="container_subtitle notification_title">
				<i class="far fa-paper-plane"></i>
				<h5>Send Also With</h5>
			</div>
			
            <ul id="sendType">
                  <!-- <li>
                        <span>
                              <input class="notification_type" type="checkbox" @click="clickSms">SMS
                        </span>

                  </li> -->
                  <li>
                        <span>
                              <input class="notification_type" type="checkbox" @click="clickEmail">Email
                        </span>
                  </li>

                  <!-- <li>
                        <span>
                              <input class="notification_type" type="checkbox" @click="clickNotification">Push Notification
                        </span>   
                  </li> -->
            </ul>
      </div>
     
</template>

<script>
export default {
		name: 'notificationComp',
		data(){
			return{
				smsCheck: false,
				emailCheck: false,
				notificationCheck: false,
				infoParams: {},
				sendType: [],
				recipentsType:null,

			}
		},
		methods: {
			clickEmail:function() {
				this.emailCheck = !this.emailCheck;
				if(this.emailCheck) {
					this.sendType.push(1);
				} else {
					this.deleteFunc(this.sendType, 1)
				}

				this.sendInfoTypeTrans();

			},
			clickNotification:function() {
				this.notificationCheck = !this.notificationCheck;
				if(this.notificationCheck) {
					this.sendType.push(2);
				} else {
					this.deleteFunc(this.sendType, 2)
				}
				this.sendInfoTypeTrans();	
			},
			clickSms:function() {
				this.smsCheck = !this.smsCheck;
				if(this.smsCheck) {
					this.sendType.push(3);
				} else {
					this.deleteFunc(this.sendType, 3)
				}
				
				this.sendInfoTypeTrans();
			
			},
			
			sendInfoTypeTrans:function() {
				this.infoParams['sendType'] = this.sendType;
				this.sendInfoParams();
			},
			
			
			deleteFunc:function(array,ele) {
				let i = array.indexOf(ele);
				array.splice(i,1);
				
			},
			
			infoRecipentsType:function() {
				var senderType = window.location.href.split('/')[3];
				if (senderType == 'mgr') {
					this.recipentsType = 'tenant';
				} else if (senderType == 'tenant') {
					this.recipentsType == 'mgr'
				} else {
					this.recipentsType == null;
				}
				this.infoParams['recipentsType'] = this.recipentsType;
				this.sendInfoParams();
			},
			
			sendInfoParams:function() {
				this.$emit('getSendingParams', this.infoParams);
			}
		},
		mounted() {
			this.infoRecipentsType();
		}
		
	}

</script>

<style>
.notification_type {
	height: 12px !important;
	margin-right: 10px !important;
}

.notification_title > i{
	float: left;
	padding-right: 10px;
	line-height: inherit;
}

.notification_title > h5{
	font-weight: 400;
	margin: 0px;
	font-size: 1.2rem;
	line-height: inherit;
}

#sendType {
	margin: 0px 1.5rem;
}
#sendType > li {
	margin: 1em 0;
}

</style>