<template>
    <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            <li v-for="page in pages" :class="isCurrentPage(page) ? 'is-current' : ''" @click.prevent="changePage(page)">
                <a class="pagination-link" >{{ page }}</a>
            </li>
        </ul>
    </nav>
</template>


<script>
    import EventBus from './event-bus';
    export default {
        props: ['pagination', 'offset',],
        data(){
            return {
                pages:[],
            }

        },
        methods: {
            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },
            changePage(page) {
                if (page >= this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                var e = new Object();
                e.page = page;
                e.type = this.pagination.type;
                EventBus.$emit('updateListPagination', e);
                this.isCheckAll = false;
                this.$emit('checkBox',false);
                console.log(e);
            }
        },
        mounted() {
            var _this = this;
            EventBus.$on('initListPagination', function (listData) {
                _this.pagination = listData;
                var i = 1;
                _this.pages = [];
                var pcount = Math.ceil(_this.pagination.total / _this.pagination.per_page);

                while (i <= pcount) {
                    _this.pages.push(i);
                    i++;
                }
            })

        }
    }
</script>



<style>
    .pagination {
        margin-top: 40px;width:100%; display: flex;
    }

    .pagination-list {
      height: 40px;margin-left: auto;margin-right: 40px;
    }

    .pagination-list > li {
        border: 0px;cursor: pointer;
        padding: 5px 10px;height: 30px;    line-height: 20px;
        border-right: 0px;    float: left;
        background-color: #fff;margin-right: 8px;;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #cdd7ef;
        background-color: #ecf0fa;
    }

    .pagination-list > li a {
        text-decoration: none;color: #596882;
    }

    .pagination-list > li.is-current {
        background-color: #379cd6; color: #ffffff;
    }

    .pagination-list > li.is-current a {
        color: #fff;
    }

    .pagination-list > li:hover {
        background-color: #59a6ff;
    }

    .pagination-list > li:hover a {
        color: #fff;font-weight: 700;
    }
</style>