<template>
  <div>
      <div class="container" style="padding: 0px;">
          <div id="info">
              <div class="col-md-3" style="width: 100px;">
                    <div style="height: 100%;">                  
                        <ul class="qpanel" style="width: 100%;">
                            <li v-for="(item, index) in info" v-on:click="updateMenu(item.title, index)" :class="{ active: index === activeItem}">
                                <div>    
                                    <span v-if="item.icon" v-html="item.icon"></span>
                                    <span v-else v-html="icon"></span>
                                    <span style="font-size:14px;">{{item.title}}</span>
                                </div>    
                            </li>
                        </ul>
                    </div>
              </div>
              <div class="col-md-9" style="width: 700px; right: 0px;padding: 0px 40px 30px;">
                  <div>
                      <h2 style="text-transform:capitalize;text-align: right;margin-bottom: 42px;font-weight:900;">{{this.slug_title}}</h2>
                      <h3> {{instruction.title}}</h3>
                      <div>
                          <p>{{instruction.description}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>

export default {
        name:'panel',
        props:[
            "slug",
        ],
        data(){
            return{
                activeItem: null,
                info:null,
                instruction:'',
                icon:"<i class='fas fa-question'></i>",
                slug_title: this.slug.replace("-", " ")
            }
        },
        created() {
            this.getInfo();
        },
        methods:{
            updateMenu(i, index) {
                for(let key in this.info){
                    if(this.info[key].title==i){
                        this.instruction = this.info[key];
                        this.activeItem = index;
                    }
                }
            },
            getInfo(){
                axios.get('/mgr/instruction/slug='+this.slug).then(
                    response=>{
                        this.info = response.data;
                    }
                )
            }
        }
}
</script>

<style scoped>
    .container{
        height: 100%;
    }

    .container #info.row{
        background: transparent;
    }


    ul.qpanel{
        min-height: 495px;
        margin-left: 10% 10%;
        border-left: none;
         width: 40%;
        }

    #info,.col-md-3,.qpanel {
        height: 100%;
    }

    .col-md-3{
        padding: 0;
    }
    

    ul li{
        display: table;
        width: 100%;
        border: 1px solid;
        border-left: none;
        border-top: none;
        max-height: 250px;
        height: 100px;
        background-color: white;
        border: 1px solid #379cd6;
        border-top: 0px;
        color: #379cd6;
        cursor: pointer;
    }

    ul li.active{
        background-color: #379cd6;
        color: #fff;
    }

    ul li div{
        display:table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 1.6em;
    }

    span{
        display: block;
    }


    a:hover{
        text-decoration: none;
    }

    ul li:hover{
        color: #379cd6;
        background-color:#efefef;
    }

    .col-md-9{
        background-color: white;
        text-align: left;
        width: 60%;
        right: 15%;
        height: 100vh;
    }

    .col-md-9 p{
        width: 90%;
    }

    .fas{
        line-height: 1
    }

     @media (max-width:1200px) {
         ul.qpanel{
            width: 48%;
        }
        .col-md-9{
            right: 13%;
            width: 50%; 
        }   
    }

    @media (max-width:993px){

    }

    @media (max-width:991px){
        ul.qpanel{
            width: 16%;
        }
        .col-md-9{
            top:-105%;
            left: 16%;
            width: 65%;
        }
    }

    @media (max-width:860px) {
         ul.qpanel{
            width: 18%;
        }
        .col-md-9{
            top: -105%;
            left: 18%;
            width:51%;
        }
     }
     @media (max-width:800px) {
         ul.qpanel{
            width: 15%;
        }
        .col-md-3{
            right: -263px;
        }
        .col-md-9{
            top: -105%;
            left:50%;
            width:54%;
        }
     }

      @media (max-width:767px) {
         ul.qpanel{
            max-width: 107px;
        }
        .col-md-3{
            right: -276px;
        }
        .col-md-9{
            top: -105%;
            left:50%;
            width:51%;
        }
     }


</style>