<template>
    <form id="caseReservationForm" ref="caseReservationForm" v-kendo-validator>
    <div class='popup_cont' v-show="show_popup">
        <div class='popup_bg' @click="closePopup"></div>
        <div class='popup_content'>
            <div class="popup_inner">
                <div class='header'>
                    <h3 class="col-md-10">
                        {{title}}
                    </h3>
                    <div class="col-md-2 header_btn">
                        <button class="btn_closepopup" @click.prevent="closePopup">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class='content'>
                    <ul class='items'>
                        <li v-for="(key, data) in record">
                              <div class='item_header'>
                                    <span>
                                          <label>TITLE</label>
                                          <span class="answer">{{ key.title }}</span>
                                    </span>
                                    <span>
                                          <label>Result</label>
                                          <span class="answer" v-if="key.result == 1">True</span>
                                          <span class="answer" v-if="key.result != 1">False</span>
                                    </span>
                              </div>
                              <label>Message</label>
                              <span class="answer">{{key.msg}}</span>
                        </li>
                  </ul>
                </div>

                <div class='footer'>
                    <button class="btn btn_close"  @click.prevent="closePopup">Close</button>
                </div>
            </div>
            
        </div>
    </div>
    </form>
</template>
<script>
import EventBus from './event-bus';
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'


export default {
      props: [],
      components: {
            DatePicker, TimePicker
      },
      data(){
            return {
                  error_msg : null,
                  show_popup : false,
                  minDate: new Date(2017, 1, 1),
                  maxDate: new Date(2030, 12, 31),
                  currentDate: new Date(2019, 6, 1),
                  record: [],
                  title: null,
            }
      },
      methods:{
            showPopup() {
                  this.show_popup = true;
            },
            closePopup() {
                  this.show_popup = false;
            },
      },
      mounted() {
        var _this = this;
        EventBus.$on('inspection_detail', function (this_ins) {
            if (this_ins.inspection_id > 0) {
                  _this.record = [];
                  _this.inspection_id = this_ins.inspection_id;
                  _this.title = this_ins.area_name;

                axios.get('/mgr/get_inpection_records/bih_id='+ _this.inspection_id).then(function (response) {
                        if (response.data.list.length > 0) {
                              _this.record = response.data.list;
                              _this.showPopup();
                        } 
                              
                  })
                  .catch(function (error) {
                        // 
                  });

            }
        });
  
      }
}
</script>

<style lang="scss">
ul.items {
            li {
                  padding-bottom: 20px;
                  margin-bottom: 20px;
                  border-bottom: 1px solid #ddd;

                  &:last-child {
                       border-bottom: 0px; 
                  }
                  span.answer {
                        font-size: .8em;
                  }
                  label {
                        display: block;
                        font-size: .9em;
                        margin-bottom: 0px;
                  }
                 .item_header {
                       display: flex;
                        align-items: center;
                        height: 36px;
                        margin-bottom: 20px;
                        > span {
                              flex: 6;
                        }

                        .result {
                              flex: 6;
                              text-align: right;
                              display: flex;
                              .t_cont, .f_cont {
                                    flex: 1;
                                    margin: 0px 10px;
                                    display: flex;
                                    flex-direction: column;
                                    
                              }
                        }
                 } 
            }
}
.popup_cont .popup_content {
    width: 50%;height: auto;
    left: 25%;
}

.popup_cont .popup_content .content {
    height: auto;
}

</style>