<template>

    <div class='popup_cont' v-show="show_popup">
        <div class='popup_bg' @click="closePopup"></div>
        <div class='popup_content'>
            <div class="popup_inner">
                <div class='header'>
                    <h3 class="col-md-10">
                        Inspection Record - {{asset_name}}
                    </h3>
                    <div class="col-md-2 header_btn">
                        <button class="btn_closepopup" @click.prevent="closePopup">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class='content'>
                        <div class="list_cont">
                              <div class="list_header">
                                    <div class="list_fields w_50">MESSAGE</div>
                                    <div class="list_fields w_15 c_align">RESULT</div>
                                    <!-- <div class="list_fields w_25 c_align">SCHEDULER TIME</div> -->
                                    <div class="list_fields w_20 c_align">DONE AT</div>
                              </div>

                              <div class="list_empty" v-if="record.length == 0">
                                    <div class="list_fields c_align">
                                          <span>{{asset_name}} has 0 history.</span><br>
                                    </div>
                              </div>

                              <div class="list_row" v-for="(key, data) in record"  v-if="record.length > 0">
                                    <div class="list_fields w_50">{{key.msg}}</div>
                                    <div class="list_fields w_15 c_align">
                                          <span class="answer" v-if="key.result == 1">True</span>
                                          <span class="answer" v-if="key.result != 1">False</span>
                                    </div>
                                    <!-- <div class="list_fields w_25 c_align">{{ convertTime(key.inspection_time) }}</div> -->
                                    <div class="list_fields w_20 c_align">{{ new Date(key.created_at).toLocaleString() }}</div>
                              </div>
                        </div>
                </div>

                <div class='footer'>
                    <button class="btn btn_close"  @click.prevent="closePopup">Close</button>
                </div>
            </div>
            
        </div>
    </div>

</template>
<script>
import EventBus from './event-bus';
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'


export default {
      props: [],
      components: {
            DatePicker, TimePicker
      },
      data(){
            return {
                  error_msg : null,
                  show_popup : false,
                  minDate: new Date(2017, 1, 1),
                  maxDate: new Date(2030, 12, 31),
                  currentDate: new Date(2019, 6, 1),
                  record: [],
                  asset_id: null,
                  asset_name: null,
            }
      },
      methods:{
            convertTime(inspection_time)  {
                  if (inspection_time != null && inspection_time != '') {
                        var months_arr = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

                        if (inspection_time != null && inspection_time != '') {
                              var t = inspection_time.split('-');
                              var start_time = new Date(t[0]*1000);
                              var end_time = new Date(t[1]*1000);
                              var shour = start_time.getHours();
                              var smin = start_time.getMinutes();
                              var sampm = shour >= 12 ? 'pm' : 'am';
                              var ehour = end_time.getHours();
                              var emin = end_time.getMinutes();
                              var eampm = ehour >= 12 ? 'pm' : 'am';

                              return start_time.getDate()+' '+months_arr[start_time.getMonth()]+", "+('0' + shour).slice(-2)+":"+('0' + smin).slice(-2)+" "+sampm+" - "+('0' + ehour).slice(-2)+":"+('0' + emin).slice(-2)+" "+eampm;
                        }
                  }
            },
            showPopup() {
                  this.show_popup = true;
            },
            closePopup() {
                  this.show_popup = false;
            },
      },
      mounted() {
        var _this = this;
        EventBus.$on('asset_history_detail', function (this_asset) {
            if (this_asset.asset_id > 0) {
                  _this.record = [];
                  _this.asset_id = this_asset.asset_id;
                  _this.asset_name = this_asset.asset_name;
                  axios.get('/mgr/get_asset_inspection_history/asset_id='+ _this.asset_id).then(function (response) {
                        if (response.data.length > 0) {
                              _this.record = response.data;
                        } 
                        _this.showPopup();     
                  })
                  .catch(function (error) {
                        // 
                  });

            }
        });
  
      }
}
</script>

<style lang="scss">
ul.items {
            li {
                  padding-bottom: 20px;
                  margin-bottom: 20px;
                  border-bottom: 1px solid #ddd;

                  &:last-child {
                       border-bottom: 0px; 
                  }
                  span.answer {
                        font-size: .8em;
                  }
                  label {
                        display: block;
                        font-size: .9em;
                        margin-bottom: 0px;
                  }
                 .item_header {
                       display: flex;
                        align-items: center;
                        height: 36px;
                        margin-bottom: 20px;
                        > span {
                              flex: 6;
                        }

                        .result {
                              flex: 6;
                              text-align: right;
                              display: flex;
                              .t_cont, .f_cont {
                                    flex: 1;
                                    margin: 0px 10px;
                                    display: flex;
                                    flex-direction: column;
                                    
                              }
                        }
                 } 
            }
}
.popup_cont .popup_content {
    width: 50%;height: auto;
}

.popup_cont .popup_content {
    left: 25%;
}

.popup_cont .popup_content .content {
      height: 470px;
      overflow-y: auto;

}

</style>