<template>
  <div id="question-mark" :class="{show:this.isshow}">
          <div class="question" v-on:click="showpanel">
            <div class="icon-wrap">
                <i class="far fa-question-circle"></i>
            </div>
         </div>
    <slideout-panel></slideout-panel>
  </div>
</template>

<script>
import Vue from 'vue';
import VueSlideoutPanel from 'vue2-slideout-panel';

export default {
        props:['slug'],
        data(){
            return{
                isshow:true,
                info:'',
            }
        },

        created() {
            // this.getInfo(this['slug']);
        },

        methods:{
            showpanel(){
                const panel1Handle = this.$showPanel({
                    component:'panel',
                    openOn: 'right',
                    width: 800,
                    props: {
                        slug:this.slug,
                        // detailinfo:this.info,
                    }
                });


            },
            
        }
    }
</script>

<style>
.slideout-wrapper #info .col-md-1 {
    padding-right: 0px;
    border-radius: 0px;
}

.slideout-wrapper #info .col-md-1 ul.qpanel {
    width: auto;
}

#question-mark.show{
    /* display: none !important; */
}

.slideout.open-on-right > div {
    height: 100%;
}

.slideout {
 background:transparent !important;
 overflow-x: hidden;
}

 #question-mark{
    position: fixed;
    z-index: 1000;
    right: 2%;
    bottom: 3%;
    cursor: pointer;
 }
 .icon-wrap{
    width: 40px;
    height: 40px;
    text-align: center;
    color: #379cd6;
    line-height: 40px;
    font-size: 30px
 }


  @media (min-width:1441px) {
     #question-mark{
         right: 3%
     }
 }

 @media (min-width:1990px) {
     #question-mark{
         right: 3%
     }
 }

 @media (max-width:1200px) {
     .slideout.open-on-right{
         width: 600px !important;
     }
     #question-mark{
         right: 1%
     }

 }
 @media (max-width:860px) {
     .slideout.open-on-right{
         width: 400px !important;
     }
     #question-mark{
         right: 1%
     }
     
 }

  @media (max-width:860px) {
     .slideout.open-on-right{
         width: 60% !important;
     }
     #question-mark{
         right: 1%
     }
     
 }


</style>