<template>
      <div class="container_block">
                        <div class="container_header">
                            <h4>Reminders</h4>
                            <i class="fa fa-minus"></i>
                        </div>

                        
                        <div class="list_cont">
                              <div class="list_header">
                                    <div class="list_fields w_40">SUBJECT</div>
                                    <div class="list_fields w_20 c_align">DATE</div>
                                    <div class="list_fields w_20 c_align">TYPE</div>
                                    <div class="list_fields w_20 c_align">ACTIONS</div>
                              </div>
                            
                              
                          
                        </div>
      </div>
</template>

<script>


export default {
      props: [],
      components: {

      },
      data(){
            return {
                 error_msg : null
            }
      },
      methods:{
         
      }
}
</script>