<template>
      <div >
            <section class="banner_cont container">
                  <div id="banner" style="background-image:url('/images/bg_resident.jpg');"></div>
                  <div id="banner_content">
                        <h1>RESIDENTS</h1>
                        <label>From work order creation and <br>building communication, we does it all.</label>
                  </div>
            </section>

           
            <section id="ce" class="feature_cont container">
                  <div class="feature_desc right_padding">
                        <h3>Community Engagement</h3>
                        <span class="cotent">
                              Community engagement is the process of building an authentic community among a business's customers, owner, residents, and partners through various types of interaction. It's how a brand uses opportunities (in-person and online) to interact with their audience to create a network in which they can connect, share, and grow.
                              <br><br>
                              The desired outcome of the community engagement process is to be able to clearly link the community’s expectations to provide adequate opportunity for all community chapters.
                        </span>
                  </div>

                  <div class="feature_imgs left_padding">
                        <div class="img" style="background-image:url('/images/resident_1.jpg');"></div>
                  </div>
            </section>

             <section id="sen" class="feature_cont container">
                  <div class="feature_imgs right_padding">
                        <div class="img" style="background-image:url('/images/resident_2.jpg');"></div>
                  </div>

                  <div class="feature_desc left_padding">
                        <h3>SMS and Email Notifications</h3>
                        <span class="cotent">
                              Our system automatically notifies residents of package deliveries, visitors/guests, key pickups, outages, and more - via SMS, email, push notifications directly via Ezlinks app.
                        </span>
                  </div>
            </section>


            <section class="partner_cont container">
                  <img src="/images/adv_2.jpg" style="height: auto;width:100%">
            </section>



            <section id="ar" class="feature_cont container">
                  <div class="feature_imgs right_padding">
                        <div class="img" style="background-image:url('/images/resident_3.jpg');"></div>
                  </div>

                  <div class="feature_desc left_padding">
                        <h3>Amenity Reservations</h3>
                        <span class="cotent">
                              The Amenity Reservation System is a great feature for busy residents who want to be able to make an amenity booking can use our Ezlinks app on their smartphones or computers.
                              <br><br>
                              Each amenity’s reservation calendar can be set with custom dates and time slots for available reservations. The reservations can be approved either automatically or manually by the building manager.
                        </span>
                  </div>
            </section>

          


            <section id="bd" class="feature_cont container">
                  <div class="feature_desc right_padding">
                        <h3>Business Directory</h3>
                        <span class="cotent">
                              Through using the business directory to find community-minded businesses across Australia, Let us help you connect with local businesses near you.
                        </span>
                  </div>

                  <div class="feature_imgs left_padding">
                        <div class="img" style="background-image:url('/images/resident_4.jpg');"></div>
                  </div>

            </section>

            <section class="partner_cont container">
                  <img src="/images/adv_3.jpg" style="height: auto;width:100%">
            </section>
           
      </div>
</template>

<script>
export default {
      props: [],
      data(){
            return {

            }

      },
    methods:{

    }
}

</script>

<style>
.partner_cont {
      padding-bottom: 0px !important;
}

.partner_cont  {
      text-align: center;background-color: #fff;margin-bottom: 40px;padding-bottom: 45px;
}

.partner_cont h3  {
    margin-bottom: 50px;font-weight: bold;
}

.partner_cont img {
      height: 70px;
}

section {
      margin-bottom: 85px;
}

.feature_cont .feature_desc h3 {
      margin-top: 30px; margin-bottom: 50px;font-weight: bold;
}

.feature_imgs .img {
      background-size: cover;background-position: center center;background-repeat: no-repeat;height: 100%;
}

.feature_imgs .img_float{
      -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;width: 220px;height: 220px;position: absolute;top: -70px;left: -50px;
}


.feature_desc, .feature_imgs {
      width: 50%;float: left;position: relative;height: 360px;
}

.left_padding {
      padding-left:2.5%;
}

.right_padding {
      padding-right:2.5%;
}

@media screen and (max-width: 768px) {
      #sen, #ar {
            display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse;
      }
      
      #ce .feature_desc, #sen .feature_desc, #ar .feature_desc, #bd .feature_desc {
            padding-left: 0px;width: 100%;float: left;    margin-bottom: 30px;height: auto;
      }

      #ce .feature_imgs, #sen .feature_imgs, #ar .feature_imgs, #bd .feature_imgs {
            padding-top: 0px;padding-left: 0px;width: 100%;margin-right: 0px;padding-right: 0px;float: right;
      }
}
</style>