<template>
      <div class="tagsinput_cont" v-bind:class="tagclass+'_tags'">
            <div class="tag_input">
                  <span class="selected_tag"  v-for="(val, index) in value">{{val.title }} <i class="fa fa-times fa-lg" @click="delSelectedTag(index)"></i></span>
                  <input type="hidden" v-bind:name="tagclass+'_tags'" v-model="JSON.stringify(value)">

                  <input class="form-control" type="text" @focus="openList()"  @keydown.enter = "createNewTag()" v-model="new_tag" placeholder="Enter Your Tags Here">
                  <ul class="tagsinput_list" style="width:100%" v-show="show_list">
                        <li v-for="(suggestion, index) in suggestions" >
                              <span @click="selectTag(index)"> {{ suggestion.title }}</span>
                              <i class="fa fa-times fa-lg" @click="delTagByID(suggestion.id)"></i>
                        </li>
                  </ul>
            </div>
      </div>
</template>

<script>
export default {
      props: {
            value: {
                  type: null,
                  required: true
            },
            suggestions: {
                  type: Array,
                  required: true
            },
            tagclass: String
      },
      data () {
            return {
                  //tag_titles: '',
                  new_tag: null,
                  show_list: false,
                  selected_tags:  {
                        type: Array,
                        required: true
                  }
            }
      },
      mounted() {
            document.addEventListener("click", this.handleClickOutside);
      },
      destroyed() {
            document.removeEventListener("click", this.handleClickOutside);
      },
      methods: {
            getSelectedTagIDByJson : function (val) {
                  console.log(JSON.stringify(val));
            }, 
            createNewTag : function () {
                  console.log('new tag');
                  let _this = this;
                 axios.post('/mgr/create_new_tag',{
                           title: this.new_tag,
                           type: this.tagclass,
                           status: 1
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                              _this.new_tag = "";
                              _this.show_list = true;
                              _this.suggestions.push(response.data.new_tag);
                              _this.$emit('SelectedTag', response.data.new_tag);
                        } else if (response.data.success == 2) {
                              _this.new_tag = "";
                              _this.show_list = true;
                              _this.$emit('SelectedTag', response.data.new_tag);
                        }
                        //this.updateTagTitles();
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            openList : function() {
                  this.show_list = true;
            },
            handleClickOutside(evt) {
                  if (!this.$el.contains(evt.target)) {
                        this.show_list = false;
                  }
            },
            selectTag(index) {
                  console.log(index);
                  this.$emit('SelectedTag', this.suggestions[index]);
                  //this.updateTagTitles();
            },
            delSelectedTag(index) {
                  this.$emit('delSelectedTag', index);
                  //this.updateTagTitles();
            },
            delTagByID : function (tagID) {
                  let self = this;
                  axios.post('/mgr/del_'+this.tagclass+'_tag/'+tagID)
                  .then(function (response) {
                        if (response.data.success == 1) {
                            self.$emit('delTag', tagID);
                        }
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            // updateTagTitles : function () {
            //       this.tag_titles = '';
            //       for (var i = 0; i <  this.value.length; i++) {
            //             if (this.tag_titles == null) {
            //                   this.tag_titles = this.value[i].title;
            //             } else {
            //                   this.tag_titles = this.tag_titles + ',' + this.value[i].title;
            //             }
            //       }
            //       console.log(this.tag_titles);
            // }
            
      }

}
</script>