<template>
      <div class="template_cont" v-click-outside="hide_cont">
            <i class="fas fa-plus-square"  @click='toggleTemplate()'  v-if="!aid > 0"></i>

            <ul class="template_list" v-if='show' >
                  <li v-for="(key, data) in template_list" @click="getSelectedTemplateContent(key)">
                        <label class="title col-md-12">Title: {{key.title}}</label>
                        <div class="content">{{key.substr_content}}</div>
                  </li>
            </ul>
      </div>
</template>

<script>
import EventBus from './event-bus';
export default {
      props: ['template_list'],
      data(){
            return{
                  show:false,
            
            }
      },
      methods:{
            hide_cont:function() {
                  this.show = false;
                  EventBus.$emit('close_window',this.show);
            },
            toggleTemplate:function() {
                  this.show = !this.show;
            },
            getSelectedTemplateContent:function(key) {
                  EventBus.$emit('original_content', key.original_content);
                  this.hide_cont();
            },
      },

      mounted(){
            let _this = this;
            EventBus.$on('toggle_template_cont',function(){
                  if(_this.show == true){
                        _this.show = false
                  }else{
                        _this.show = true
                  }
            });
      }
}
</script>

<style lang="scss" scoped>
.template_cont {
      position: relative;
}
.fa-plus-square {
      z-index:10;position:relative;font-size: 16px;float: right;font-size: 16px;float: right;color:#379cd6;cursor: pointer;
}

.template_list {
      width: 250px;
      height: 300px;
      border: 1px solid #dedede;
      position: absolute;
      z-index: 10000;
      background-color: #fff;
      right: 0px;overflow-x: hidden;
      top: 20px;

      > li {
            padding: 10px 10px 15px;
            border-bottom: 1px solid #dedede;
            cursor: pointer;

            &:hover {
                  background-color: #91c5e7;
            }

            .content {
                  font-size: .8em;
            }
      }
}


    
</style>