<template>
  <div class="vld-parent">
        Upload
        <upload   ref="upload"
                  id="case_docs"
                  :files="new_case_docs"
                  :multiple="true"
                  :validation-allowed-extensions="['.doc', '.docx', '.pdf', '.csv', '.xls', '.txt', '.ppt','.pptx']"
                  :show-file-list="true"
                  :validation-max-file-size="2048000"
                  @select="updateDocList">
        </upload>
    </div>
</template>

<script>
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'
    
Vue.use(UploadInstaller)

export default {
        props:[],
        data() {
            return {
               
            }
        },
        methods:{
                  updateDocList:function(e) {
                        console.log(e);
                        if (e.files != null && e.files.length > 0 && e.files[0] != null) {
                              var file = e.files[0];

                              if (file.validationErrors != null && file.validationErrors.length > 0) {
                                    return; //These errors will show in the UI
                              }

                              const config = {
                                    headers: { 'content-type': 'multipart/form-data' }
                              }

                              var formData = new FormData();
                              formData.append('doc_file', file.rawFile);
                              formData.append('test_val', 'Some String');

                              axios.post('/test_doc', formData, config)
                                          .then(function (response) {
                                              
                                          })
                                          .catch(function (error) {
                                                _this.output = error;
                                          });


                        }
                  }
        },
        components: {
               'upload': Upload
        },
}
</script>

<style>

</style>