<template>
            <div class="col">
                  <form id="compinfo_form" ref="compinfo_form" action="/mgr/update_building" enctype="multipart/form-data" method="post" v-kendo-validator >
                        <div class="col-md-8">
                            <div class="container_block">
                                <input type="hidden" name="_token" :value="csrf">
                                
                                <div class="container_subtitle">
                                    <i class="fa fa-user fa-lg"></i> <h5>Building Info</h5>
                                </div>

                                <div class="field_block">
                                        <div class="field_cont col">
                                                <div class="col-md-6">
                                                      <label class="field_title">Building Name</label>
                                                      <input type="text" id="txt_buildingname" name="txt_buildingname" class="col-md-12 k-textbox" placeholder="Building Name" required validationMessage="Building Name is required" v-model="building.name">
                                                </div>
                                                <div class="col-md-3">
                                                      <label class="field_title">Code</label>
                                                      <input type="text" id="txt_buildingcode" name="txt_buildingcode" class="col-md-12 k-textbox" v-model="building.code" readonly>
                                                </div>
                                                <!-- <div class="col-md-3">
                                                      <label class="field_title">Company</label>
                                                      <input type="text" id="txt_comp" name="txt_comp" class="col-md-12 k-textbox" readonly>
                                                </div> -->
                                        </div>

                                        <div class="field_cont col">
                                                <label class="field_title">Building Address</label>
                                                <input type="text" name="txt_buildingaddr" class="col-md-12 k-textbox" placeholder="Building Address"  required validationMessage="Building Address is required"  v-model="building.address">
                                        </div>

                                        <div class="field_cont">
                                            <div class="col-md-4">
                                                <label class="field_title">Postcode</label>
                                                <input type="text" name="txt_buildingpostcode" class="col-md-12  k-textbox" placeholder="Postcode"  required validationMessage="Postcode is required"  v-model="building.postcode">
                                            </div>

                                            <div class="col-md-4">
                                                <label class="field_title">Surburb</label>
                                                <input type="text" name="txt_buildingsurburb" class="col-md-12  k-textbox" placeholder="Surburb" required validationMessage="Surburb is required" v-model="building.surburb">
                                            </div>

                                            <div class="col-md-4">
                                                <label class="field_title">State</label>
                                                <select name="txt_buildingstate" class="col-md-12"  v-model="building.state">
                                                      <option value="qld">Queensland</option>
                                                      <option value="vic">Victoria</option>
                                                      <option value="nsw">New South Wales</option>
                                                </select>
                                            </div>
                                        </div>



                                        <div class="field_cont col">
                                                <label class="field_title">Website</label>
                                                <input type="text" name="txt_buildingwebsite" class="col-md-12" placeholder="Website"  v-model="building.website"> 
                                        </div>

                                        <div class="field_cont col">
                                            <div class="col-md-6">
                                                <label class="field_title">Work Phone</label>
                                                <kendo-maskedtextbox title="Phone Number" class="txt_buildingphone" name="txt_buildingphone" mask="(999) 000-0000" required validationMessage="Work Phone is required" v-model="building.phone">
                                                </kendo-maskedtextbox>
                                                <!-- <input type="text" name="txt_buildingphone k-textbox" class="col-md-12  k-textbox" placeholder="Work Phone" > -->
                                            </div>
                                            <div class="col-md-6">
                                                <label class="field_title">Fax</label>
                                                <input type="text" name="txt_buildingfax" class="col-md-12" placeholder="Fax" v-model="building.fax">  
                                            </div>
                                        </div>
                                </div>

   
                            </div>
                        </div>
                        

                        <div class="col-md-4">
                            <div class="container_block">
                                    <div class="container_subtitle">
                                        <i class="fa fa-building fa-lg"></i> <h5>Building Logo</h5>
                                    </div>
                                    <div class="field_block single_img_blk">
                                          <!-- <button class="btn btn_asset_upload">Add Photo</button> -->
                                          <!-- <div class="dropZoneElement" v-show="initialFiles.length == 0">
                                                <div class="textWrapper">
                                                      <p class="dropImageHereText">Drop image here to upload</p>
                                                </div>
                                          </div> -->
                                          <div class="comp_logo" v-show="building.logo != '' && building.logo != null">
                                                <img :src="current_domain + building.logo"/>
                                          </div>
                                          <kendo-upload ref="upload"
                                                name="comp_logo"
                                                :files="initialFiles"
                                                :async-auto-upload="false"
                                                :validation-allowed-extensions="['.jpg', '.jpeg', '.png', '.bmp', '.gif']"
                                                :show-file-list="false"
                                                :drop-zone="'.dropZoneElement'"
                                                @select="onSuccess">
                                          </kendo-upload>
                                    </div>
                                        

                                    <div class="container_subtitle">
                                        <i class="fa fa-book fa-lg"></i> <h5>About Us</h5>
                                    </div>
                                    <div class="field_block">
                                                
                                        <div class="field_cont ">
                                            <label class="field_title">Building Description</label>
                                            <textarea class="building_intro" name="building_intro" rows="12"  v-model="building.description"></textarea>
                                        </div>
                                    </div>
                                        
                                    
                            </div>
                        </div>  

                    
                        <div class="field_cont btn_cont">
                              <button class="btn btn_submit" type="submit" @click="onSubmit">Save</button>
                        </div>
                  </form>
                  <div class="status"></div>
            </div>         
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'

import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'

Vue.use(ValidatorInstaller)
Vue.use(UploadInstaller)


export default {
      props: ['building'],
      components: {
            Validator
      },
      data(){
            return {
                  initialFiles: [],
                  current_domain: location.protocol+"//"+window.location.hostname,
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
      },
      methods:{
            onSubmit: function (ev) {
                  // ev.preventDefault();
                  var validator = this.kendoValidator
                  var status = kendo.jQuery('.status')
                  if (!validator.validate()) {
                        status.text('Oops! There is invalid data in the form.')
                              .removeClass('valid')
                              .addClass('invalid')
                  } else {
                        // kendo.jQuery('#compinfo_form').submit();
                  }
				  this.$forceUpdate();
            },
            onSuccess: function (e) {
                  console.log(e);
                  this.building.logo = '';
                 // if (e.operation == "upload") {
                        for (var i = 0; i < e.files.length; i++) {
                              var file = e.files[i].rawFile;
                              
                              if (file) {
                                    var reader = new FileReader();

                                    reader.onloadend = function () {
                                          $("<div class='imgprev_cont'><img src='" + this.result + "' /></div>").appendTo($(".single_img_blk"));
                                    };
                                    this.initialFiles.push(e.files[i]);
                                    reader.readAsDataURL(file);
                              }
                        }
                  //}
            }
      },
      mounted: function () {
            this.csrf = myToken.csrfToken;  
            var upload = this.$refs.upload.kendoWidget();

            // upload._module.postFormData = function (url, data, fileEntry, xhr) {
            //       var module = this;
            //       fileEntry.data("request", xhr);
            //       setTimeout(function () {
            //             // console.log(url);
            //             // console.log(data);
            //             // console.log(fileEntry);
            //             // console.log(xhr);
            //             this.initialFiles = fileEntry.data("files")[0];
            //             var e = { target: { responseText: '', statusText: "OK", status: 200 } };
            //             module.onRequestSuccess.call(module, e, fileEntry);
            //       }, 1000);
            // };

            // upload._submitRemove = function (fileNames, eventArgs, onSuccess, onError) {
            //       onSuccess();
            // };
      }
}
</script>

<style>
span.txt_buildingphone {
      display: block;width: 100%;
}

span.txt_buildingphone > input {
      border: 1px solid #dedede;
}

span.txt_buildingphone .k-tooltip-validation {
      display: block;align-items:left;
}

.comp_logo {
      position: relative;
}

.btn_rm_logo {
      position: absolute;top: -10px;font-size: 1.2em;color: #fff;height: 30px;width: 30px;right: -10px;border-radius: 15px;padding: 0px;background-color: #f1536e;border: 0px;
}
</style>