<template>
      <div >
            <section class="banner_cont container">
                  <div id="banner" style="background-image:url('/images/bg_facility_mng.jpg');"></div>
                  <div id="banner_content">
                        <h1>FACILITY / BUILDING MANAGERS</h1>
                        <label>Leverage global best practices and real-time data to improve building performance.</label>
                  </div>
            </section>

            <section id="atas" class="feature_cont container">
                  <div class="feature_imgs right_padding">
                        <div class="img" style="background-image:url('/images/facility_mng_1.jpg');"></div>
                  </div>

                  <div class="feature_desc left_padding">
                        <h3>Admin Tasks and Amenity Scheduler</h3>
                        <span class="cotent">
                              Many communities have amenities that take a lot of effort and resources to manage because their availability is tracked in a binder or on a printed calendar. 
                              <br><br>
                              With the Amenity Booking system, the building manager can set up all community’s amenities and let residents see and book anytime from anywhere over the internet and helps avoid repeated bookings.
                        </span>
                  </div>
            </section>

            <section id="ir" class="feature_cont container">
                  <div class="feature_desc right_padding">
                        <h3>Inspections and Reporting</h3>
                        <span class="cotent">
                              Let our professional height safety engineers conduct an investigation, identify hazards, and provide a safety report with rectification recommendations about the physical state of a building. 
                              <br><br>
                              This advice enables you to make an informed judgement, usually about whether to purchase a property or not.
                        </span>
                  </div>

                  <div class="feature_imgs left_padding">
                        <div class="img" style="background-image:url('/images/facility_mng_2.jpg');"></div>
                  </div>

            </section>

            <section class="partner_cont container">
                  <img src="/images/adv_1.jpg" style="height: auto;width:100%">
            </section>



            <section id="gr" class="feature_cont container">
                  <div class="feature_imgs right_padding">
                        <div class="img" style="background-image:url('/images/facility_mng_3.jpg');"></div>
                  </div>

                  <div class="feature_desc left_padding">
                        <h3>Graphs and Reports</h3>
                        <span class="cotent">
                              Take control of your preventative maintenance with our all-in-one interactive calendar. You will know every detail and be able to answer virtually any question about your building.
                              <br><br>
                              Our intelligent dashboards put you at the helm of your operations, giving you the information and actionable insights you need to make the most informed decisions. 
                        </span>
                  </div>
            </section>

          


            <section id="pm" class="feature_cont container">
                  <div class="feature_desc right_padding">
                        <h3>Parcel Management</h3>
                        <span class="cotent">
                              We provide the simplest, most cost-effective solution to handling packages by using the latest handheld scanning technology to keep track of every parcel for our residents to get closer to problem-free shipping than ever before. 
                              <br><br>
                              We will notify residents about the updates on pick-ups and delivers.
                        </span>
                  </div>

                  <div class="feature_imgs left_padding">
                        <div class="img" style="background-image:url('/images/facility_mng_4.jpg');"></div>
                  </div>

            </section>


            <section id="pcv" class="feature_cont container">
                  <div class="feature_imgs right_padding">
                        <div class="img" style="background-image:url('/images/facility_mng_5.jpg');"></div>
                  </div>

                  <div class="feature_desc left_padding">
                        <h3>Properties and Client Views</h3>
                        <span class="cotent">
                              Take control of your preventative maintenance with our all in one interactive calendar.
                              <br><br>
                              Our intelligent dashboards put you at the helm of your 
                              operations, giving you the knowledge and actionable 
                              insights you need to make the most informed decisions. 
                              You'll know every detail, and be able to answer virtually 
                              any question about your building.
                        </span>
                  </div>
            </section>
      </div>
</template>

<script>
export default {
      props: [],
      data(){
            return {

            }

      },
    methods:{

    }
}

</script>

<style>
.partner_cont {
      padding-bottom: 0px !important;
}

.partner_cont  {
      text-align: center;background-color: #fff;margin-bottom: 40px;padding-bottom: 45px;
}

.partner_cont h3  {
    margin-bottom: 50px;font-weight: bold;
}

.partner_cont img {
      height: 70px;
}

section {
      margin-bottom: 85px;
}

.feature_cont .feature_desc h3 {
      margin-top: 30px; margin-bottom: 50px;font-weight: bold;
}

.feature_imgs .img {
      background-size: cover;background-position: center center;background-repeat: no-repeat;height: 100%;
}

.feature_imgs .img_float{
      -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;width: 220px;height: 220px;position: absolute;top: -70px;left: -50px;
}


.feature_desc, .feature_imgs {
      width: 50%;float: left;position: relative;height: 360px;
}

.left_padding {
      padding-left:2.5%;
}

.right_padding {
      padding-right:2.5%;
}

@media screen and (max-width: 768px) {

      #atas, #gr, #pcv {
            display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse;
      }
      #atas .feature_desc, #gr .feature_desc, #pcv .feature_desc {
            padding-left: 0px;width: 100%;float: left;    margin-bottom: 30px;height: auto;
      }

      #atas .feature_imgs, #gr .feature_imgs, #pcv .feature_imgs {
            padding-top: 0px;padding-left: 0px;width: 100%;margin-right: 0px;padding-right: 0px;float: right;
      }

      #ir .feature_desc, #pm .feature_desc {
            padding-left: 0px;width: 100%;float: left;    margin-bottom: 30px;
      }

      #ir .feature_imgs, #pm .feature_imgs {
            padding-top: 0px;padding-left: 0px;width: 100%;margin-right: 0px;padding-right: 0px;float: right;
      }
}
</style>