<template>
      <div>
            <div id="is_cont">
                  <swiper ref="swiper" v-swiper:swiper="swiperOption">
                        <swiper-slide  v-for="(key, data) in settings" :key="data" class="swiper_container">
                              <div v-if="key.slug == 'setting_phone'" class="is_slider swiper-no-swiping">
                                    <form method="post"   @submit.prevent="onPhoneSubmit" enctype="multipart/form-data" >
                                          <span class="pagination" v-html="(data+1)+' / '+(setting_count - (setting_count - settings.length))"></span>

                                          <div class="slider_header">
                                                <i class="far fa-building"></i>
                                                <h3>Setting - Building Information</h3>
                                                <div class="desc">Your building information is very important and will be used in several features in our system, <br>please complete the form below, </div>
                                          </div>

                                          <div class="slider_content">
                                                <div class="field_cont col">
                                                      <div class="col-md-9">
                                                            <label class="field_title">Building Name <b class="ast">*</b></label> 
                                                            <input type="text" id="txt_buildingname" name="txt_buildingname" placeholder="Building Name" required="required" class="col-md-12 k-textbox" v-model="building_info.name">
                                                      </div> 
                                                      
                                                      <div class="col-md-3">
                                                            <label class="field_title">Code </label> 
                                                            <input type="text" id="txt_buildingcode" name="txt_buildingcode" readonly="readonly" class="col-md-12 k-textbox" v-model="building_info.code">
                                                      </div>
                                                </div>

                                                <div class="field_cont col">
                                                      <label class="field_title">Building Address <b class="ast">*</b></label> 
                                                      <input type="text" name="txt_buildingaddr" placeholder="Building Address" required="required" class="col-md-12 k-textbox" v-model="building_info.address">
                                                </div>

                                                <div class="field_cont">
                                                      <div class="col-md-4">
                                                            <label class="field_title">Postcode <b class="ast">*</b></label> 
                                                            <input type="text" name="txt_buildingpostcode" placeholder="Postcode" required="required" class="col-md-12  k-textbox" v-model="building_info.postcode">
                                                      </div> 
                                                      
                                                      <div class="col-md-4">
                                                            <label class="field_title">Surburb <b class="ast">*</b></label> 
                                                            <input type="text" name="txt_buildingsurburb" placeholder="Surburb" required="required" class="col-md-12  k-textbox" v-model="building_info.surburb">
                                                      </div> 
                                                      
                                                      <div class="col-md-4">
                                                            <label class="field_title">State <b class="ast">*</b></label> 
                                                            <select name="txt_buildingstate" class="col-md-12"  v-model="building_info.state">
                                                                  <option value="qld">Queensland</option> 
                                                                  <option value="vic">Victoria</option> 
                                                                  <option value="nsw">New South Wales</option>
                                                            </select>
                                                      </div>
                                                </div>

                                                <div class="field_cont col">
                                                      <div class="col-md-6">
                                                            <label class="field_title">Website <b class="ast">*</b></label> 
                                                            <input type="text" name="txt_buildingwebsite" placeholder="Website" class="col-md-12" v-model="building_info.website">
                                                      </div>

                                                      <div class="col-md-6">
                                                            <label class="field_title">Work Phone <b class="ast">*</b></label> 
                                                            <kendo-maskedtextbox title="Phone Number" name="txt_buildingphone" mask="(999) 000-0000" required="" class="txt_buildingphone" v-model="building_info.phone"></kendo-maskedtextbox>
                                                      </div>
                                                </div>
                                          </div>

                                          <div class="slider_footer">
                                                <button type="submit" class="btn btn_submit">Next</button>
                                          </div>
                                    </form>
                              </div>


                              <div v-if="key.slug == 'setting_logo'" class="is_slider swiper-no-swiping">
                                    <form method="post"   @submit.prevent="onLogoSubmit" enctype="multipart/form-data" >
                                          <span class="pagination" v-html="(data+1)+' / '+ (setting_count - (setting_count - settings.length))"></span>

                                          <div class="slider_header">
                                                <i class="fab fa-algolia"></i>
                                                <h3>Setting - Building Logo</h3>
                                                <div class="desc">Please insert your building/company logo, it can be shown on the emails which are used to sent to<br> tenants or contractors when using the given templates from our app. Bmp, Jpeg, Png are accepted</div>
                                          </div>

                                          <div class="slider_content">
                                                <div class="field_cont col" style="width:280px;">
                                                      <label class="field_title">Building Logo</label> 
                                                      <div class="logo_cont" @click="fireUpload()">
                                                            <i class="far fa-image" v-if="building_logo == null || building_logo == ''"></i>
                                                            <img src="" v-if="building_logo != null && building_logo != ''">
                                                      </div>
                                                      <kendo-upload ref="upload"
                                                            name="logo_photo"
                                                            v-model="building_logo"
                                                            :async-auto-upload="false"
                                                            :validation-allowed-extensions="['.jpg', '.jpeg', '.png', '.bmp']"
                                                            :validation-max-file-size="2097152"
                                                            :show-file-list="false"
                                                            @select="showPreviewPhoto">
                                                      </kendo-upload>
                                                      <span class="error_msg" v-show="showErrorMsg">Please upload your company / building logo.</span> 
                                                </div>
                                          </div>

                                          <div class="slider_footer">
                                                <button type="submit" class="btn btn_submit">Next</button>
                                          </div>
                                    </form>
                              </div>


                              <div v-if="key.slug == 'amenity'" class="is_slider swiper-no-swiping">
                                    <form method="post"   @submit.prevent="onAmenitySubmit" enctype="multipart/form-data" >
                                          <span class="pagination" v-html="(data+1)+' / '+(setting_count - (setting_count - settings.length))"></span>

                                          <div class="slider_header">
                                                <i class="fas fa-dumbbell"></i>
                                                <h3>Setting - Building Amenities</h3>
                                                <div class="desc">Input all the amenities and tenants are able to make amenity reservation easily.</div>
                                          </div>

                                          <div class="slider_content">
                                                <div class="amenity_list" >
                                                      <div class=" field_cont col" v-for="(key, data) in amenities">
                                                            <div class="amenity_cont">
                                                                  <div class="flex-4">
                                                                        <label class="field_title">Name</label> 
                                                                        <input type="text" id="txt_facilityname" name="txt_facilityname" required="required" placeholder="Amenity Name" class="col-md-12 k-textbox" v-model="key.name">
                                                                  </div>

                                                                  <div class="flex-3">
                                                                        <label class="field_title">Book Before</label> 
                                                                        <input type="number" name="txt_book_before" placeholder="3" required="required" v-model="key.before" class="fct_input_s col-md-8">
                                                                        <span style="line-height: 2.4em; padding-left: 10px;">days</span>
                                                                  </div>

                                                                  <div class="flex-3">
                                                                        <label class="field_title">Duration</label>
                                                                        <input type="number" name="duration" placeholder="3" required="required" v-model="key.duration" class="fct_input_s col-md-8">
                                                                        <span style="line-height: 2.4em; padding-left: 10px;">hours</span>
                                                                  </div>

                                                                  <div class="flex-2">
                                                                        <i class="fas fa-plus" @click="newAmenities()"></i>
                                                                        <i class="fas fa-times" @click="delAmenities(data)"></i>
                                                                  </div>
                                                            </div>

                                                            <div class="rules_cont">
                                                                  <label class="field_title" style="text-align:left;">Rules</label>
                                                                  <textarea class="rules" placeholder="What is the rules when using these amenities?" v-model="key.rules"></textarea>
                                                            </div>
                                                      </div>

                                                      
                                                </div>

                                                
                                                
                                          </div>

                                          <div class="slider_footer">
                                                <button type="submit" class="btn btn_submit">Next</button>
                                          </div>
                                    </form>
                              </div>


                              <div v-if="key.slug == 'inspection'" class="is_slider swiper-no-swiping">
                                    <!-- <form method="post"   @submit.prevent="onInspectionSubmit" enctype="multipart/form-data" > -->
                                          <span class="pagination" v-html="(data+1)+' / '+(setting_count - (setting_count - settings.length))"></span>

                                          <div class="slider_header">
                                                <i class="far fa-check-circle"></i>
                                                <h3>Inspections & Scheduler</h3>
                                                <div class="desc">You can setup a inspection checklist for your building, and assign them on your scheduler.</div>
                                          </div>

                                          <div class="slider_content">
                                                <div class="inspection_cont field_cont col">

                                                      <div class="col-md-12 inspection_step step_1" v-show="showInspectionStep1 == true && showInspectionStep2 == false && showInspectionStep3 == false">
                                                            <div class="inspection_header">
                                                                  <label>Step 1</label>
                                                                  <span>Create a new inspection area & actions</span>
                                                            </div>

                                                            <form method="post" @submit.prevent="goToInspectionStep2" enctype="multipart/form-data" >
                                                                  <div class="inspection_area_cont">
                                                                        <div class="flex-1"></div>
                                                                        <div class="flex-9">
                                                                              <label class="field_title">Area</label> 
                                                                              <input type="text" id="txt_area" name="txt_area" placeholder="Lobby" class="col-md-12 k-textbox" v-model="inspections.area" required="required">
                                                                        </div>

                                                                        <div class="flex-2"> </div>
                                                                  </div>

                                                                  <div class="col-md-12" >  
                                                                        <div class="col-md-2"></div>
                                                                        <label class="col-md-10 field_title">actions | assets</label> 
                                                                  </div>
                                                                  <div class="items_cont col-md-12" v-for="(k, d) in inspections.list">      
                                                                        <div class="flex-2 item_pre"> - </div>
                                                                        <div class="flex-8">
                                                                              <input type="text" id="txt_area" name="txt_area" placeholder="Checking lift 1" class="col-md-12 k-textbox" v-model="k.title"  required="required">
                                                                              <div class="set_asset_cont">
                                                                                    <input type="checkbox" v-model="k.is_asset"/> 
                                                                                    <label>Mark this as an asset</label>
                                                                              </div>
                                                                        </div>
                                                                        <div class="flex-2 item_panel">
                                                                              <i class="fas fa-plus" @click="newInpectionItem()"></i>
                                                                              <i class="fas fa-times" @click="delInspection(d)"></i>
                                                                        </div>
                                                                  </div>

                                                                  <div class="inspection_panel col-md-12">
                                                                        <button type="submit" class="btn btn_submit btn_inspectnext">
                                                                              <i class="far fa-arrow-alt-circle-right"></i>
                                                                        </button>
                                                                  </div>
                                                            </form>
                                                      </div>

                                                      <div class="col-md-12 inspection_step step_2" v-show="showInspectionStep1 == false && showInspectionStep2 == true && showInspectionStep3 == false">
                                                            <div class="inspection_header">
                                                                  <label>Step 2</label>
                                                                  <span>Schedule a time for your new inspection</span>
                                                            </div>
                                                            <form method="post" @submit.prevent="saveInspection" enctype="multipart/form-data" >
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Recurring</label> 
                                                                        <select id='recurring_frequency' name='recurring_frequency' data-role='dropdownlist' v-model="inspections.frequency" required="required">
                                                                              <option value='none'>None</option>
                                                                              <option value='DAILY'>Daily</option>
                                                                              <option value='WEEKLY'>Weekly</option>
                                                                              <option value='MONTHLY'>Monthly</option>
                                                                              <option value='YEARLY'>Yearly</option>
                                                                        </select>
                                                                  </div>

                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Start Date</label> 
                                                                        <kendo-datepicker class="w_100" v-model="inspections.startdate" required="required"></kendo-datepicker>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Start Time</label> 
                                                                        <kendo-timepicker class="w_100" v-model="inspections.starttime" required="required"  :min='tMin' :max='tMax'></kendo-timepicker>    
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">End Time</label> 
                                                                        <kendo-timepicker class="w_100" v-model="inspections.endtime" required="required"  :min='tMin' :max='tMax'></kendo-timepicker>   
                                                                  </div>

                                                                  <div class="inspection_panel col-md-12" v-show="!showNewInspectionBtn">
                                                                        <button class="btn btn_submit" type="submit" >
                                                                              Save 
                                                                        </button>
                                                                  </div>
                                                            </form>
                                                      </div>

                                                      <div class="col-md-12 inspection_step step_3" v-show="showInspectionStep1 == false && showInspectionStep2 == false && showInspectionStep3 == true">
                                                            <div class="inspection_header">
                                                                  <span>You can continue to create inspections as many as you need, or press 'Next' button to go to next step.</span>
                                                            </div>

                                                            <div class="inspection_panel col-md-12"  v-show="showNewInspectionBtn">
                                                                  <button class="btn btn_submit" @click="backToInspectionPrevStep()">
                                                                        Create New Inspection Again
                                                                  </button>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>

                                          <div class="slider_footer">
                                                <button type="submit" class="btn btn_submit" v-show="showNewInspectionBtn == true" @click="goToNextStep">Next</button>
                                          </div>
                                    <!-- </form> -->
                              </div>


                               <div v-if="key.slug == 'unit'" class="is_slider swiper-no-swiping">
                                    <!-- <form method="post"   @submit.prevent="onUnitSubmit" enctype="multipart/form-data" > -->
                                          <span class="pagination" v-html="(data+1)+' / '+ (setting_count - (setting_count - settings.length))"></span>

                                          <div class="slider_header">
                                                <i class="fas fa-home"></i>
                                                <h3>Manage - Create Units</h3>
                                                <div class="desc">You can create units in bulks with few simple clicks, or create them in your way.</div>
                                          </div>

                                          <div class="slider_content">
                                                <div class="field_cont">
                                                      <div class="col-md-12 unit_step step_1" v-show="showUnitStep1 == true && showUnitStep2 == false && showUnitStep3 == false">
                                                            <div class="unit_header">
                                                                  <label>Step 1</label>
                                                                  <span>Create tags for a group of units which have similar attributes, <br>e.g. Level 1, Level 2, Level 3 ...</span>
                                                            </div>

                                                            <div class="" style="margin: 0px auto;width: 60%;">
                                                                  <tagsinput :suggestions="tags" :tagclass="'unit'" v-model="unit_tags" @SelectedTag="getSelectedTag" @delSelectedTag="delSelectedTag"  v-on:delTag="delUnitTag"></tagsinput>
                                                            </div>

                                                            <div class="unit_panel col-md-12">
                                                                  <button class="btn btn_submit btn_unitnext" @click="goToUnitStep2()">
                                                                        <i class="far fa-arrow-alt-circle-right"></i>
                                                                  </button>
                                                                  <label class="skip_tags" @click="goToUnitStep2()">Skip Tags</label>
                                                            </div>
                                                      </div>

                                                      <div class="col-md-12 unit_step step_2" v-show="showUnitStep1 == false && showUnitStep2 == true && showUnitStep3 == false">
                                                            <div class="unit_header">
                                                                  <label>Step 2</label>
                                                                  <span>Few clicks to create units or carparks in bulk, or custom the units' name.</span>
                                                            </div>


                                                            <div class="unit_step_cont">
                                                                  <div class="unit_bulk" v-show="!showNewUnitList">
                                                                        <form method="post"   @submit.prevent="generateNewUnits" enctype="multipart/form-data" >
                                                                              <div class="unit_cont field_cont col" v-for="(key, data) in unit_range.list">
                                                                                    <div class="flex-3">
                                                                                          <label class="field_title">Prefix</label> 
                                                                                          <input type="text" id="txt_unitprefix" name="txt_unitprefix" placeholder="eg: QW or leave empty" class="col-md-12 k-textbox" v-model="key.prefix">
                                                                                    </div>

                                                                                    <div class="flex-6">
                                                                                          <label class="field_title">Unit Range</label>
                                                                                          <div class="" style="display:flex"> 
                                                                                                <input type="text" name="txt_unitnamefrom" placeholder="101" required="required"  class="fct_input_s flex-5" v-model="key.from" >
                                                                                                <div class="flex-2 dashed">-</div>
                                                                                                <input type="text" name="txt_unitnameto" placeholder="110" required="required" class="fct_input_s flex-5" v-model="key.to">
                                                                                          </div>
                                                                                    </div>

                                                                                    <div class="flex-2">
                                                                                          <label class="field_title"></label> 
                                                                                          <i class="fas fa-plus" @click="addUnitRange()"></i>
                                                                                          <i class="fas fa-times" @click="delUnitRange(data)"></i>
                                                                                    </div>
                                                                              </div>

                                                                              <div class="unit_panel col-md-12">
                                                                                    <button class="btn btn_submit btn_unitnext">
                                                                                          Create Units
                                                                                    </button>
                                                                              </div>
                                                                        </form>
                                                                  </div>

                                                                  <div class="unit_custom" v-show="!showNewUnitList">
                                                                        
                                                                  </div>

                                                                  <div class="unit_list" v-show="showNewUnitList">
                                                                        <div class="unit_list_header">
                                                                               <label class="field_title col-md-2">Unit Name</label> 
                                                                               <label class="field_title col-md-4">Tags</label> 
                                                                               <label class="field_title col-md-6">Car Park</label> 
                                                                        </div>

                                                                        <ul class="unit_list_content">
                                                                              <li v-for="(key, data) in new_units">
                                                                                    <label class="field_title flex-2">{{key.name}}</label> 
                                                                                    <ul class="flex-4" id="tags_list">
                                                                                          <li v-for="(k, d) in key.tags">
                                                                                                <span>{{k.title}}</span>
                                                                                                <span v-if="d < key.tags.length - 1">, </span>
                                                                                          </li>
                                                                                          <li v-if="key.tags.lengh == 0">
                                                                                                -
                                                                                          </li>
                                                                                    </ul> 
                                                                                    <div class="flex-6">
                                                                                          <input type="text" v-model="key.carparks" placeholder="Use ',' to separate the car park title, or leave empty">
                                                                                    </div>
                                                                              </li>
                                                                        </ul>

                                                                         <div class="unit_panel col-md-12">
                                                                              <button class="btn btn_submit btn_unitnext" @click="saveUnits()">
                                                                                    Create Now
                                                                              </button>
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                      </div>

                                                      <div class="col-md-12 unit_step step_3" v-show="showUnitStep1 == false && showUnitStep2 == false && showUnitStep3 == true">
                                                             <div class="inspection_header">
                                                                  <span>You can continue to create units as many as you need, or do it later by pressing the link on the bottom-right side.</span>
                                                            </div>

                                                            <div class="inspection_panel col-md-12">
                                                                  <button class="btn btn_submit" @click="backToUnitPrevStep()">
                                                                        Create New Unit Again
                                                                  </button>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>

                                          <div class="slider_footer">
                                                <label class="skip_addunit" @click="skipInitialSetting">I will do it later > </label>
                                          </div>
                                    <!-- </form> -->
                              </div>

                        </swiper-slide>
                  </swiper>
            </div>
            <div class="swiper-pagination" slot="pagination"></div>
      </div>
</template>

<script>
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'
import { DatePicker, DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'
import { InputsInstaller } from '@progress/kendo-inputs-vue-wrapper'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'
import  tagsinput from '../tagsinput.vue';

Vue.use(InputsInstaller);
Vue.use(UploadInstaller);
Vue.use(DateinputsInstaller);

export default {
      props: ['settings', 'setting_count','tags','building_info'],
      components: {
		swiper,
            swiperSlide,
            Upload,
            tagsinput
      },
      data(){
            return{
                  tMin: '6:00 AM',
                  tMax: '9:00 PM',
                  unit_tags:[],
                  showErrorMsg: false,
                  showNewUnitList: false,
                  showUnitStep1: true,
                  showUnitStep2: false,
                  showUnitStep3: false,
                  showNewInspectionBtn: false,
                  showInspectionStep1: true,
                  showInspectionStep2: false,
                  showInspectionStep3: false,
                  inspections: {
                        id: '',
                        frequency: 'none',
                        startdate: new Date(),
                        starttime: '9:00 AM',
                        endtime: '12:00 PM',
                        area: '',
                        actions: '',
                        history: [],
                        list: [
                              {id: '',title:'', asset_id:'', is_asset: false}
                        ]
                  },
                  amenities: [
                        { name: '', before:'',duration:'' },
                  ],
                  building_logo: null,
                  swiperOption: {
                        loop: false,
                        pagination: {
                              el: '.swiper-pagination',
                              clickable: false
                        }
                  },
                  unit_range: {
                        tags: [],
                        list: [
                              {
                                    from: '',
                                    to:'',
                                    prefix: '',

                              }
                        ]
                     
                  },
                  new_units: []


            }
      },
      computed: {
            swiper() {
                  return this.$refs.swiper.swiper
            }
      },
      methods:{
            addUnitRange:function() {
                  this.unit_range.list.push({
                                    from: '',
                                    to:'',
                                    prefix: '',
                              });
            },
            skipInitialSetting:function() {
                  var _this = this;
                  _this.$root.isLoading = true;

                  axios.post('/mgr/skip_initial_setting', {}).then(function (response) {
                        if (response.data.success == true) {
                              window.location.reload(true);
                        }
                        _this.$root.isLoading = false;
                  })
                  .catch(function(){
                        _this.$root.isLoading = false;
                  });
            },
            saveUnits:function() {
                  var _this = this;
                   _this.$root.isLoading = true;

                  axios.post('/mgr/initial_create_units', {
                              new_units: this.new_units,
                              unit_tags: this.unit_tags
                        }).then(function (response) {
                        if (response.data.success == true) {
                              _this.showUnitStep1 = false;
                              _this.showUnitStep2 = false;
                              _this.showUnitStep3 = true;
                        }
                        _this.$root.isLoading = false;
                  })
                  .catch(function(){
                        console.log('FAILURE!!');
                        _this.$root.isLoading = false;
                  });
            },
            generateNewUnits:function() {
                  for (var i = 0; i < this.unit_range.list.length; i++) {
                        for (var q = 0; q <= this.unit_range.list[i].to - this.unit_range.list[i].from; q++) {
                              var n = {};
                              n.prefix = this.unit_range.list[i].prefix;
                              n.tags = this.unit_range.tags;
                              var name = (this.unit_range.list[i].from * 1) + (q * 1); 
                              n.name = n.prefix+name;
                              n.carparks = '';
                              this.new_units.push(n);
                        }
                  }

                  if (this.new_units.length > 0) {
                        this.showNewUnitList = true;
                  }
            },
            goToUnitStep2:function() {
                  this.showUnitStep1 = false;
                  this.showUnitStep2 = true;
                  this.showUnitStep3 = false;
            },
            getSelectedTag:function(data) {
                  this.unit_range.tags.push(data);
                  this.unit_tags.push(data);
            },
            delSelectedTag:function(data) {
                  this.unit_tags.splice(data, 1);
                  this.unit_range.tags.splice(data, 1);
            },
            delUnitTag:function(data) {
                  var new_suggestion = [];
                  for( var i = 0; i < this.unit_range.tags.length; i++){ 
                        if ( this.unit_range.tags[i].id != data) {  
                              new_suggestion.push(this.tags[i]);
                        }
                  }
                  this.unit_range.tags = new_suggestion;
            },
            backToUnitPrevStep:function() {
                  this.showUnitStep1 = true;
                  this.showUnitStep2 = false;
                  this.showUnitStep3 = false;

                  this.unit_range = {
                        tags: [],
                        list: [
                              {
                                    from: '',
                                    to:'',
                                    prefix: '',

                              }
                        ]
                     
                  };
            },
            backToInspectionPrevStep:function() {
                  this.showNewInspectionBtn = false;
                  this.showInspectionStep1 = true;
                  this.showInspectionStep2 = false;
                  this.showInspectionStep3 = false;
            },
            goToNextStep:function() {
                  this.swiper.slideNext();
            },
            saveInspection:function() {
                   var _this = this;
                   _this.$root.isLoading = true;

                  axios.post('/mgr/initial_create_inspections', {
                              inspections: this.inspections
                        }).then(function (response) {
                        if (response.data.success == true) {
                              _this.inspections = {
                                    id: '',
                                    frequency: 'none',
                                    startdate: new Date(),
                                    starttime: '9:00 AM',
                                    endtime: '12:00 PM',
                                    area: '',
                                    actions: '',
                                    history: [],
                                    list: [
                                          {id:'',title:'', asset_id:'', is_asset: false}
                                    ]
                              };

                              _this.showInspectionStep1 = false;
                              _this.showInspectionStep2 = false;
                              _this.showInspectionStep3 = true;
                        }
                        _this.$root.isLoading = false;
                  })
                  .catch(function(){
                        console.log('FAILURE!!');
                        _this.$root.isLoading = false;
                  });

                  this.showNewInspectionBtn = true;
            },
            goToInspectionStep2:function() {
                  console.log(this.inspections);
                  this.showInspectionStep1 = false;
                  this.showInspectionStep2 = true;
                  this.showInspectionStep3 = false;
            },
            newInpectionItem:function() {
                  this.inspections.list.push({id:'', title:'', asset_id:'', is_asset: false});
            },
            newInpectionArea:function(index) {
                  this.inspections.push({
                        area: '',
                              list: [
                                    {id:'',title:''}
                              ]
                  });
            },
            delUnitRange: function(index) {
                  if (this.unit_range.list.length > 1) {    
                        this.unit_range.list.splice(index, 1);
                  }
            },
            delInspection: function(index) {
                  if (this.inspections.list.length > 1) {    
                        this.inspections.list.splice(index, 1);
                  }
            },
            newAmenities:function() {
                  this.amenities.push({ name: '', before:'',duration:''});
            },
            delAmenities:function(index) {
                  if (this.amenities.length > 1) {
                        this.amenities.splice(index, 1);
                  }
            },
            fireUpload:function() {
                 jQuery("input[name='logo_photo']").click();
            },
            onUnitSubmit: function() {
                  var _this = this;
            },
            onInspectionSubmit: function() {
                 _this.swiper.slideToLoop(2);
            },
            onAmenitySubmit: function() {
                  var _this = this;
                  _this.$root.isLoading = true;

                  axios.post('/mgr/initial_create_amenities', {
                              amenities: this.amenities,
                        }).then(function (response) {
                        if (response.data.success == true) {
                              _this.swiper.slideNext();
                        }
                        _this.$root.isLoading = false;
                  })
                  .catch(function(){
                        console.log('FAILURE!!');
                        _this.$root.isLoading = false;
                  });
            },
            onPhoneSubmit: function() {
                  var _this = this;
                  _this.$root.isLoading = true;

                  let formData = new FormData();
                  formData.append('name', this.building_info.name);
                  formData.append('address', this.building_info.address);
                  formData.append('postcode', this.building_info.postcode);
                  formData.append('state', this.building_info.state);
                  formData.append('surburb', this.building_info.surburb);
                  formData.append('website', this.building_info.website);
                  formData.append('phone', this.building_info.phone);

                  axios.post('/mgr/initial_update_building', formData).then(function (response) {
                        if (response.data.success == true) {
                              _this.swiper.slideNext();
                        }
                        _this.$root.isLoading = false;
                  })
                  .catch(function(){
                        console.log('FAILURE!!');
                        _this.$root.isLoading = false;
                  });
            },
            onLogoSubmit: function() {
                  var _this = this;
                  if (this.building_logo != null && this.building_logo != '') {
                        _this.$root.isLoading = true;
                        const config = {
                              headers: { 'content-type': 'multipart/form-data' }
                        }

                        let formData = new FormData();
                        formData.append('comp_logo', this.building_logo);

                        axios.post('/mgr/initial_update_building_logo', formData, config).then(function (response) {
                              if (response.data.success == true) {
                                    _this.swiper.slideNext();
                              }
                              _this.$root.isLoading = false;
                        })
                        .catch(function(){
                              console.log('FAILURE!!');
                              _this.$root.isLoading = false;
                        });
                  } else {
                        this.showErrorMsg = true;
                  }
            },
            showPreviewPhoto: function (e) {
                  var _this = this;
                  var file = e.files[0].rawFile;
                  if (file) {
                        this.building_logo = file;
                        var reader = new FileReader();
                        reader.onloadend = function () {
                              $(".logo_cont > img").attr('src',this.result);;
                              _this.showErrorMsg = false;
                        };
                        reader.readAsDataURL(file);
                  }
            },
      }

}
</script>

<style  lang="scss">
.set_asset_cont {
      input[type="checkbox"] {
            float: left;
            height: 20px;
      }

      > label {
            height: 20px;
            line-height: 20px;
            margin: 4px 0 0px 10px;
            font-size: .85em;
            font-weight: 600;
      }
}
      .error_msg {
            color: #ff0000;
            margin: 10px 0px;
            display: block;
            font-size: .85em;
      }
      .amenity_list {
            margin: 0px auto;
            width: 70%;
            .field_cont {
                  margin-bottom: 25px;
                  border-bottom: 1px solid #dedede;
            }

            .field_cont:last-child {
                  border-bottom: 0px;
            }
      }

      .txt_buildingphone {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #dedede;
            width: 100%;
      }
      .skip_tags, .skip_addunit {
            color: #379cd6;width: 100%;cursor: pointer;
      }

      .skip_tags {
            line-height: 34px;
      }

      .skip_addunit {
            padding-right: 20px;
      }

      .skip_tags:hover, .skip_addunit:hover {
            text-decoration: underline ;
      }

      .unit_list {
            width: 60%;margin: 0px auto;
      }
      .unit_list_content > li {
            display: flex;width:100%;padding: 10px 0px;

            ul#tags_list {
                  > li {
                            display: inline-block;
                  }
            }

            .flex-2 {
                  flex: 2;
            }

            .flex-6 {
                  flex: 6;
            }

            .flex-4 {
                  flex: 4;
            }
      }

      .unit_cont {
            display: flex;

            .flex-3 {
                  flex: 3 !important;width: auto !important;padding-right: 10px;
            }

            .flex-6 {
                  flex: 6 !important;width: auto !important;padding-right: 10px;
            }

            .flex-5 {
                  flex: 5 !important;width: auto !important;padding-right: 10px;
            }

            .flex-2 {
                  flex: 2 !important;width: auto !important;padding-right: 10px;

                  &.dashed {
                        line-height: 36px;padding-right: 0; margin: 0px auto;text-align: center;
                  }

                  i.fa-plus {
                        color: #55ce63;margin-right: 15px;;font-size: 1.6em;line-height: 66px;
                  }

                  i.fa-times {
                        color: #ff0000;font-size: 1.6em;line-height: 66px;
                  }
            }
      }

      .w_100 {
            width: 100% !important;
      }

      .inspection_step, .unit_step {
            .inspection_header, .unit_header {
                  label {
                        width: 100%;text-align: center; font-size: 1.4em;margin-bottom: 10px;
                  }

                  span {
                        width: 100%; text-align: center; margin-bottom: 40px;display: block;    line-height: 1.8em; font-size: .85em;
                  }
            }

                  .inspection_panel, .unit_panel {
                        text-align: center;
                  }

                  .btn_inspectnext, .btn_unitnext {
                        margin: 30px auto 60px auto;width: 50%;font-size: 1.6em;padding: 0px;
                  }

                  .btn_unitnext {
                        margin: 30px auto 50px auto;
                  }

                  .col-md-6 {
                        padding: 0px 20px 20px 0px;
                  }
      }

      .inspection_cont {
            max-width: 750px;
            width: 100%;

            

            .inspection_area_cont {
                  display: flex;margin-bottom: 15px;    width: 100%;
                  .flex-1 {
                        flex: 1;text-align: center;vertical-align: middle;margin: auto;font-size: 2em; margin-top: 20px;
                  }

                  .flex-2 {
                        flex: 2;text-align: center;vertical-align: middle;margin: auto;font-size: 1.6em;margin-top: 24px;

                        i.fa-plus {
                              color: #55ce63;margin-right: 15px;;
                        }

                        i.fa-times {
                              color: #ff0000;
                        }
                  }

                  .flex-9 {
                        flex: 9;
                  }
            }

            .items_cont {
                  display: flex;padding-right: 15px !important;padding-bottom: 8px;
                  .item_pre {
                        text-align: right;font-size: 2em;padding-right: 0px;
                  }

                   .flex-8 {
                        flex: 8;
                  }
                  .flex-2 {
                        flex: 2;text-align: center;vertical-align: middle;margin: 0px auto;font-size: 1.6em;

                        i.fa-plus {
                              color: #55ce63;margin-right: 15px;;
                        }

                        i.fa-times {
                              color: #ff0000;
                        }
                  }

                  .item_pre {
                       margin: 0px auto;
                        text-align: right;
                        padding-right: 15px;
                        font-size: 2em;
                  }
            }
      }
      .amenity_cont {
            display: flex;margin-bottom: 10px;
            .flex-4 {
                  flex: 4;padding: 0 10px 0px 0px;
            }

            .flex-3 {
                  flex: 3;padding: 0 10px 0px 0px;
            }

            .flex-2 {
                  flex: 2;padding: 20px 10px 0px 0px;    text-align: center;vertical-align: middle;margin: auto;font-size: 1.6em;   cursor: pointer;
                  
                  i.fa-plus {
                        color: #55ce63;margin-right: 15px;;
                  }

                  i.fa-times {
                        color: #ff0000;
                  }
            }
      }

      .rules_cont {
            margin-bottom: 30px;;
            .rules {
                  width: 100%;min-height: 120px !important;
                  height:100%;
            }
      }

      .field_title {
            line-height: 1.5em;
      }

      .fct_input_s {
            text-align: center;
            border: 1px solid rgba(0,0,0,0.08);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
      }

      .k-widget.k-upload.k-upload-sync {
            display: none;
      }
      .logo_cont {
            text-align: center;width:280px;height:280px;border:4px dashed #ccc;background-color: #efefef;

            i {
                  font-size: 7em; line-height: 280px; text-align: center;color: #a5a5a5;
            }

            img {
                  width: 100%;height: 100%;object-fit: contain;
            }
      }

      .slider_footer {
            padding: 15px 20px; position: fixed; width: 100%;bottom: 0px;text-align: right;    background-color: #fff;
      }
      .field_cont {
            text-align: left;
      }

      .field_cont .col-md-9:first-child {
            padding-left: 0px;
      }

      .field_cont .col-md-3:last-child {
            padding-right: 0px;
      }

      #is_cont {
            margin:40px 6% 0px 2%;;background-color:#fff;height:80vh;width:100%;box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);

            .swiper-container {
                  height: 100%;
                  width: 100%;
                  text-align: center;
            }

            .is_slider {
                  position: relative;width: 100%;height: 100%;overflow-y: auto;

                  .pagination {
                        position: absolute;right: 0px;;margin: 15px 20px;
                  }

                  .slider_header {
                        padding: 40px 40px 0px 40px;height: 220px;

                        i {
                              font-size: 50px;
                        }

                        .desc {
                              padding: 10px 0px 0px;font-size: .8em;line-height: 1.8em;
                        }
                  }

                  .slider_content {
                        padding: 0px 40px 60px;height: calc(100% - 240px);overflow-y: auto;
                  }
            }
      }


      .swiper-pagination {
            width: 100%;

            .swiper-pagination-bullet {
                  width: 12px;margin: 18px 6px 0px;height: 12px;
            }
      }
    
</style>