<template>
                  <div class="col">
                        <form id="personal_form" ref="personal_form" action="/mgr/save_user" enctype="multipart/form-data" method="post" v-kendo-validator>
                              <input type="hidden" name="_token" :value="csrf">
                              <input type="hidden" name="user_id" v-model="user[0].id">


                              <div class="col-md-6">
                                    <div class="container_block">
                                          <div class="container_subtitle"><i class="fa fa-user fa-lg"></i> <h5>{{lang.content.personal_info}}</h5></div>

                                          <div class="field_block">
                                                <div class="field_cont col">
                                                      <div class="col-md-6">
                                                            <label class="field_title">{{lang.content.fname}}</label>
                                                            <input type="text" name="txt_firstname" class="col-md-12 k-textbox" placeholder="First Name" required validationMessage="First Name is required" v-model="user[0].first_name">
                                                      </div>

                                                      <div class="col-md-6">
                                                            <label class="field_title">{{lang.content.lname}}</label>
                                                            <input type="text" name="txt_lastname" class="col-md-12 k-textbox" placeholder="Last Name" required validationMessage="Last Name is required" v-model="user[0].last_name">
                                                      </div>
                                                </div>

                                                <div class="field_cont col">
                                                      <div class="col-md-6">
                                                            <label class="field_title">{{lang.content.username}}</label>
                                                            <input type="text" name="txt_username" class="col-md-12" placeholder="Username"  v-model="user[0].username" readonly>
                                                      </div>

                                                      <div class="col-md-6">
                                                            <label class="field_title">{{lang.content.nickname}}</label>
                                                            <input type="text" name="txt_nickname" class="col-md-12" placeholder="Nickname" v-model="user[0].nickname" >
                                                      </div>
                                                </div>

                                                <div class="field_cont col">
                                                      <div class="col-md-6">
                                                            <label class="field_title">{{lang.content.gender}}</label>
                                                            <select name="txt_usergender" class="browser-default custom-select col-md-12 k-textbox" required validationMessage="Gender is required" v-model="user[0].gender">
                                                                  <option value="1">{{lang.content.male}}</option>
                                                                  <option value="2">{{lang.content.female}}</option>
                                                            </select>
                                                      </div>

                                                      <div v-if="false" class="col-md-6">
                                                            <label class="field_title">{{lang.content.marital_status}}</label>
                                                            <select name="txt_usermarrital"  class="browser-default custom-select col-md-12" v-model="user[0].married_status">
                                                                  <option value="1">{{lang.content.married}}</option>
                                                                  <option value="2">{{lang.content.single}}</option>
                                                                  <option value="3">{{lang.content.divorced}}</option>
                                                                  <option value="3">{{lang.content.widowed}}</option>
                                                            </select>
                                                      </div>
                                                </div>
                                          </div>

                                          <div class="container_subtitle"><i class="fa fa-envelope fa-lg"></i> <h5>{{lang.content.mail_address}}</h5></div>
                                          <div class="field_block">
                                                            <div class="field_cont col">
                                                                  <label class="field_title">{{lang.content.address}}</label>
                                                                  <input type="text" name="txt_personaladd" class="col-md-12" placeholder="Address" v-model="user[0].address">
                                                            </div>    
                                                
                                                            <div class="field_cont">
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">{{lang.content.postcode}}</label>
                                                                        <input type="text" name="txt_personalpostcode" class="col-md-12" placeholder="Postcode" v-model="user[0].postcode">
                                                                  </div>

                                                                  <div class="col-md-6">
                                                                        <label class="field_title">{{lang.content.surburb}}</label>
                                                                        <input type="text" name="txt_personalsurburb" class="col-md-12" placeholder="Surburb" v-model="user[0].surburb">
                                                                  </div>
                                                            </div>

                                                            <div class="field_cont">
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">{{lang.content.state}}</label>
                                                                        <input type="text" name="txt_personalstate" class="col-md-12" placeholder="State" v-model="user[0].state">
                                                                  </div>

                                                                  <div class="col-md-6">
                                                                        <label class="field_title">{{lang.content.country}}</label>
                                                                        <input type="text" name="txt_personalcountry" class="col-md-12" placeholder="Country" value="Australia" readonly>
                                                                  </div>    
                                                            </div>
                                          </div>    
                                          
                                    </div>
                              </div>

                              <div class="col-md-6">
                              <div class="container_block">
                                    <div class="container_subtitle"><i class="fa fa-briefcase fa-lg"></i> <h5>{{lang.content.job_info}}</h5></div>
                                    <div class="field_block">
                                          <div class="field_cont col">
                                                <label class="field_title">{{lang.content.job_title}}</label>
                                                <input type="text" name="txt_jobtitle" class="col-md-12" placeholder="Job Title" v-model="user[0].job_title" readonly>
                                          </div>    

                                          <div class="field_cont">
                                                <label class="field_title">{{lang.content.email}}</label>
                                                <input type="text" name="txt_jobemail" class="col-md-12" placeholder="Email" v-model="user[0].email" readonly>
                                          </div>

                                          <div class="field_cont">
                                                <!-- <label class="field_title">Email Signature</label>
                                                <kendo-editor :resizable-content="true"
                                                      :resizable-toolbar="true"
                                                        rows="10"
                                                        cols="160"
                                                        name="txt_mailsignature"
                                                        class="col-md-12 txt_mailsignature"
                                                        v-model="user[0].email_signature"
                                                        placeholder="Enter the Email Signature" 
                                                        required validationMessage="Email Signature is required">
                                                </kendo-editor> -->
                                                <label class="field_title">{{lang.content.language}}</label>
                                                <div class="radio_cont">
                                                      <label class="lbl_radio"><input type="radio" name="txt_lang" value="en" v-model="user[0].lang"> <div>{{lang.content.english}}</div></label>
                                                      <label v-if="false" class="lbl_radio"><input type="radio" name="txt_lang" value="ch" v-model="user[0].lang"> <div>{{lang.content.chinese}}</div></label>
                                                </div>
                                          </div>
                                    </div>
                                    
                                    <div class="container_subtitle"><i class="fa fa-fax fa-lg"></i><h5>{{lang.content.cnb_info}}</h5></div>
                                    <div class="field_block">
                                          <div class="field_cont col">
                                                <label class="field_title">{{lang.content.contact_person}}</label>
                                                <input type="text" name="txt_cperson" class="col-md-12" placeholder="Contact Person" v-model="user[0].contact_person">
                                          </div>

                                          <div class="field_cont">
                                          <div class="col-md-6">
                                                <label class="field_title">{{lang.content.home_phone}}</label>
                                                <!-- <input type="text" name="txt_cpersonphone" class="col-md-12" placeholder="Home Phone"  v-model="user[0].cperson_phone"> -->
                                                <kendo-maskedtextbox title="Home Phone" class="txt_phone col-md-12" name="txt_cpersonphone" mask="(999) 000-0000"  v-model="user[0].cperson_phone">
                                                </kendo-maskedtextbox>
                                          </div>    
                                          
                                          <div class="col-md-6">
                                                <label class="field_title">{{lang.content.home_phone}}</label>
                                                <!-- <input type="text" name="txt_cpersonmobile" class="col-md-12" placeholder="Mobile" v-model="user[0].cperson_mobile"> -->
                                                <kendo-maskedtextbox title="Mobile" class="txt_phone col-md-12" name="txt_cpersonmobile" mask="(999) 000-0000"  v-model="user[0].cperson_mobile">
                                                </kendo-maskedtextbox>
                                          </div>
                                          </div>

                                          <div v-if="false" class="field_cont col">
                                                <label class="field_title">{{lang.content.dob}}</label>
                                                <div class="field_cont col" style="margin-bottom:0px;">
                                                      <div class="col-md-4">
                                                            <!-- <input type="text" name="txt_cperson_date" placeholder="Day" v-model="user[0].cperson_d"> -->
                                                            <kendo-numerictextbox  name="txt_cperson_date" placeholder="Day" 
                                                                                    v-model="user[0].cperson_d"
                                                                                    :decimals="0"
                                                                                    :format="'n0'"
                                                                                    :min="1"
                                                                                    :max="31"
                                                                                    :round="false"
                                                                                    :spinners="true">
                                                            </kendo-numerictextbox>
                                                      </div>
                                                      
                                                      <div class="col-md-4">
                                                            <!-- <input type="text" name="txt_cperson_mon" placeholder="Month" v-model="user[0].cperson_m"> -->
                                                            <kendo-numerictextbox  name="txt_cperson_mon" placeholder="Month" 
                                                                                    v-model="user[0].cperson_m"
                                                                                    :decimals="0"
                                                                                    :format="'n0'"
                                                                                    :min="1"
                                                                                    :max="12"
                                                                                    :round="false"
                                                                                    :spinners="true">
                                                            </kendo-numerictextbox>
                                                      </div>    
                                                      
                                                      <div class="col-md-4">
                                                            <!-- <input type="text" name="txt_cperson_year" placeholder="Year" v-model="user[0].cperson_y"> -->
                                                            <kendo-numerictextbox  name="txt_cperson_year" placeholder="Year" 
                                                                                    v-model="user[0].cperson_y"
                                                                                    :decimals="0"
                                                                                    :format="'n0'"
                                                                                    :min="1920"
                                                                                    :max="2025"
                                                                                    :round="false"
                                                                                    :spinners="true">
                                                            </kendo-numerictextbox>
                                                      </div>   
                                                </div>    
                                          
                                          </div>
                                    </div>
                              </div>             
                              </div>
                              
                              <div class="col col-md-12">
                              <div class="btn_cont">
                                    <button class="btn btn_submit" type="submit"   @click="onSubmit">{{lang.content.save}}</button>
                              </div>
                              </div>
                        
                        </form>

                  </div>
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'

import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'
import {  NumericTextBox, InputsInstaller } from '@progress/kendo-inputs-vue-wrapper'
import Lang from '../language/lang.js'

Vue.use(InputsInstaller)
Vue.use(ValidatorInstaller)

export default {
      props: ['user'],
      mixins: [Lang],
      components: {
               NumericTextBox, Validator
      },
      data(){
            return {
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                  lang: {}
            }
      },
      methods:{
            onSubmit: function (ev) {
                  var validator = this.kendoValidator;
                  // var status = kendo.jQuery('.status')
                  if (validator.validate()) {

                  } else {

                  }
            },
      },
      mounted: function () {
            this.csrf = myToken.csrfToken; 
            this.lang = this.getLangFile(this.user[0].lang, 'pinfo'); 
      }
}
</script>

<style>
input.txt_phone {
    border: 1px solid #dedede;width: 100%
}

</style>