body, html {
     
     
      font-size: 1rem;
      line-height: 1.45;
      color: #404E67;
      text-align: left;
      background-color: #f2f7f8;
  }

  ul, li {
      margin: 0px;padding: 0px;list-style-type: none;
  }

  a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;;
  }



  /* global design */
  ul > li.empty_list {
    padding: 15% 5%;text-align: center;box-shadow: none !important;border: 0px !important;background-color: transparent !important;
  }
  
  .empty_list > i {
    color: #379cd6;font-size: 3.8em;display: block;margin: 25px 0px;
  }
  
  .empty_list > span {
    font-size: 1.6em;line-height: 1.2em;
  }

  .header_category {
    background-color: #379CD6;
    margin-bottom: 25px;
    width: calc(100% + 30px);
    margin-left: -15px !important;
    margin-right: -15px !important;
    height: 45px;
    line-height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
  }

  .header_category .header_category_list {
    flex:7;color: #fff;
  }

  .header_category .header_category_filter {
    flex:1;padding-left: 8px;position: relative;position: relative;
  }

  .header_category .header_category_filter ul#filter_list {
    position: absolute;
    background-color: #fff;
    right: 0px;
    width: 200px;
    z-index: 100;
    font-size: .8em;-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.26);
  }

  .header_category .header_category_filter ul#filter_list > li .filter_color {
    height: 20px;
    width: 20px;
    margin: 10px;
    float: left;
  }

  .header_category .header_category_filter ul#filter_list > li {
    border-bottom: 1px solid #dedede;
  }

  .header_category .header_category_filter > i {
    height: 100%;
    vertical-align: top;
    width: 100%;
    line-height: 44px;
    text-align: center;
    color: #fff;
  }

  .header_category  .active {
    background: rgb(255,255,255, .2);font-weight: 900;
  }

  .card_title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 900;
    text-transform: capitalize;
  }

  .card_date {
    color: #999;
    font-size: .8em;
    margin-bottom: 6px;
    display: block;
    margin-top: 4px;
  }

  .card_content {
    font-size: .9em;
    line-height: 1.3em;
  }
  /* global design */



  .pg_content {
      /* min-height: 100%; */
      overflow: auto;
      overflow-y: auto;
      position: relative;
      /* height: 100vh; */
      margin-bottom: 0px;
  }


  #main {
      min-height: 100vh;
  }


  #sidebar {
      height: 100%;
      padding: 0px;
      background-color: #fff;
      position: fixed;
      z-index: 10000;
      width: 250px;
      -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
      box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  }

  .navbar-brand {
      background-color: #379cd6;
      width: 100%;
      color: #ffffff;
      font-size: .98em;
      font-weight: 900;
      text-transform: uppercase;
  }

  ul.mgr_menu {
      padding-left: 0px;
      border: 0px;
      border-radius: 0px;
      box-shadow: 0px 0px;
      clear: both;
      background-color: #fff;
  }

  ul.mgr_menu li.active {
      display: block;
  }

  ul.mgr_menu li {
      margin: 3px 0px;
      position: relative;
      padding: 15px 0px 10px 20px;
      cursor: pointer;
  }

  ul.mgr_menu li i.fa, ul.mgr_menu li i.fas {
      margin-right: 10px;
      width: 32px;
  }

  .fa-bullhorn:before {
      content: "\f0a1";
  }

  ul.mgr_menu li label {
      font-size: .9em;
  }

  ul.mgr_menu li label {
      font-size: .9em;
  }

  .navbar-default {
      background-color: #379cd6;position: fixed;width: 100%;border: 0px;
  }


  .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
      color: #fff;
  }

  ul.mgr_menu li i, ul.mgr_menu > li label, ul.mgr_menu > li > ul.mgr_submenu > li label {
      color: #43425D;   
  }

  /* bottom menu */
  #main_menu {
    display: none;position: fixed;width: 100%;height: 50px;bottom: 0px;
  }
  ul#menu_list {
      width: 100%;height: 50px;border-top: 1px solid #ddd;display: none;background-color: #ffffff;    
  }

  ul#menu_list #menu_bar { 
    position: absolute;height: 3px;width: 120px;background-color: #379cd6;left: 50%;top: 3px; margin-left: -60px;
  }
  ul#menu_list li {
      width:25%;height: inherit;float: left;
  }

  ul#menu_list li i,  ul#menu_list li label {
      width: 100%;text-align: center;color: #000;
  }

  ul#menu_list li i {
      margin-top: 20px;display: block;
  }


  ul#menu_list li label {
      font-size: .6em;display: none;
  }

  ul#menu_list li.active i, ul#menu_list li.active {
    color:#379cd6; 
  }

  .navbar-toggle {
      float:none;border-radius: 50%;background-color: #fff !important;height: 24px;width: 24px;background-size: cover !important;    margin-left: auto;
      margin-bottom: 0px;margin-right: auto;display: block;    margin-top: 7px;
  }
  .navbar-header > div:not(#tenant_edit_menu) {
    height: 50px !important;
  }

  #back_button {
    float: left;width: 20%;text-align: center; line-height: .65em;
  }

  #notification_button {
    float: left;width: 20%;text-align: center; line-height: .65em;
  }
  

  .navbar-header .building_title {
    width: 60%;float: left;line-height: 50px;text-align: center;color: #fff;font-weight: 700;
  }
  .navbar-header .building_title_25 {
    width: 50%;float: left;line-height: 50px;text-align: left;color: #fff;font-weight: 700;
  }
  .reservation_25, .maintenance_25 {
    float: left;width: 10%;text-align: center; line-height: .65em; padding-top: 0.75em; 
  }
  .reservation_25 > a, .maintenance_25 > a {
    text-align: center;

    background-color: transparent;
    border: 0px;
    color: #fff;
    margin: 0.7em 0 0 0.5em;
  }

  .reservation_25 > a > i, .maintenance_25 > a > i {
    font-size: 1.5em;
  }

  .navbar-header .btn_profile span {
    color: #fff;font-size: 0.5em;display: block;margin-top: 2px; margin-left: 2px; text-align: center;
  }
  
  .back_last_page {
    background-color: transparent;border: 0px; color: #fff; margin: 0.8em 0.8em 0.8em 0; padding: 0;
  }

  .back_last_page > i, .navbar-header .btn_case > i {
    font-size: 1.5em;
  }

  .navbar-header .btn_case {
    background-color: transparent;border: 0px; color: #fff; margin: 0.8em 0em 0.8em 0.8em; padding: 0;

  }
  #home_page_notify {
    float: left;width: 20%;text-align: center; line-height: .65em;
  }

  
  /* .navbar-header #btn_case {
    background-color: transparent;border: 0px; color: #fff;font-size: 1.7em;width: 10%;height: 30px;float: right; margin-top: 12%; margin-right: 100%; 
  } */
  
 .btn_profile {
  width: 20%;float: left;text-align: center;color: #fff;font-weight: 700;
 }

  #main_content {
      padding: 50px 0px 40px; 
  }

  ul.tenant_edit_menu {
    position: absolute;right: 0px;top: 50px;padding: 0px 10px;background-color: #fff; color: #379cd6;border-bottom: 4px solid #379cd6;width: 100%;display:none;
  }

  div.tenant_edit_menu {
    position: absolute;right: 0px;top: 50px;padding: 0px 10px;background-color: #f2f7f8fa; width: 100%;color: #495872; height: calc(100vh - 60%); overflow: scroll;display:none;
  }

  ul.tenant_edit_menu li {
    line-height: 35px;height: 35px;width: 50%;float: left;text-align: center;
  }

  ul.tenant_edit_menu li a {
   font-size: .8em;
  }

  ul.tenant_edit_menu li a i {
    padding-right: 6px;
  }

  .mobile_reminder {
    text-align: center;padding-left: 150px;padding-top: 150px;
  }

  .mobile_reminder .mobile_cont {
    font-size: 80px;height: 160px;width: 160px;margin: 0px auto;margin-bottom: 0px;background-color: #fff;-webkit-border-radius: 80px;-moz-border-radius: 80px;border-radius: 80px;margin-bottom: 30px;padding-top: 24px;
  }

  .mobile_reminder span {
    font-size: 1.4em;
  }

  #loading_cont {
    width: 100%;
    height:100%;min-height: 100vh;
    position: absolute;
    z-index: 20000;
    top: 0;display:none;
    left: 0;overflow: hidden;
  }

  #loading-bg {
    background-color: rgba(255,255,255,.9);position:relative;width: 100%;height: 100%;
  }
  
  #loading-image {
    position: fixed;top: 50%;left: 50%;margin: -50px;z-index: 510;
  }

  .btn_profile.active {
    background-color: rgb(255,255,255, .2);
  }

  .btn_profile.active > button {
    color: white;
  }



  @media screen and (max-width: 768px) {
      #sidebar {
            display: none;
      }

      ul#menu_list {
            display: block;
      }

      .building_front_bg {
        height: 100vh;position: absolute;width: 100%;margin-left: -15px;margin-right: -15px;
      }

      .blg_admin_login_cont .reg_panel, .blg_admin_reg_cont .reg_panel {
        padding: 10% 8%;background-color: rgba(255,255,255,.88);margin: 5% 4%;height: 90vh;
      }

      .blg_admin_login_cont .reg_panel .reg_header h2, .blg_admin_reg_cont .reg_panel  .reg_header h2 {
        margin: 0px;
      }
  }