body, html {
      -webkit-touch-callout: none;-webkit-tap-highlight-color: transparent;-webkit-user-select: none;height: 100%;min-height: 100vh;font-size: 1rem;line-height: 1.45;color: #242c3d;text-align: left;    background-color: #f2f7f8;
}

/* global */
ul, li {
      list-style-type: none;
}

button.icon {
      border: 0;background: transparent;margin: 0px;
      padding-right: 15px;
}

input {
      height: 36px;padding: 5px;
}

input[type='file'][hidden] {
      display: none;
}

input.styled_checkbox {
      position: absolute;opacity: 0;opacity: 0;height: 20px;width: 20px;z-index: 1000;    margin: 0px;
}

.chkbox_cont {
      padding: 0px 10px;display: flex;
}

.chkbox_cont input[type=checkbox]{
      margin: 0px 8px 0px;
}

.chkbox_cont .txt_chkbox {
      align-items: center;justify-content: center;display: flex;font-size: .9em;
}

.styled_checkbox + label {
    position: relative;cursor: pointer;padding: 0;margin: 0px;
}

.styled_checkbox + label:before {
    content: '';margin-right: 10px;display: inline-block;vertical-align: text-top; width: 20px;height: 20px;background: white;    border: 1px solid #dedede;
}

.styled_checkbox:checked + label:before {
    background: rgb(85,206,99,.75);
}

.styled_checkbox:checked + label:after {
    content: '';position: absolute;left: 5px;top: 10px;background: white;width: 2px;height: 2px;box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;-webkit-transform: rotate(45deg);transform: rotate(45deg);
}

.styled_checkbox:hover + label:before {
    background: rgb(85,206,99,.75);
}

button, input, select, textarea {
      border-style: solid !important;
}

select {
      -webkit-appearance: menulist !important;height: 36px;
}

select, textarea {
      background-color: #fff !important;
}

.btn {
      background-color: #55ce63;color: #fff;padding-top: 4px;padding-bottom: 4px;padding-left: 20px;padding-right: 20px;min-width: 120px;
}

.btn_del {
      background-color: red;
}

.btn_close {
      background-color: #f1536e;margin-left: 15px;
}

.btn_cancel {
      background-color: #fff;margin-left: 15px;color: #3b3b53;border:1px solid #3b3b53;;
}

.btn_clear {
      margin-left: 15px;
}

.btn_submit {
      background-color: #55ce63;margin-left: 15px;
}

ul, li {
      margin: 0px;padding: 0px;
}

.w_5 {
      width: 5%;
      flex: 5;
}

.w_10 {
      width: 10%;
      flex: 10;
}

.w_15 {
      width: 15%;
      flex: 15;
}

.w_20 {
      width: 20%;
      flex: 20;
}

.w_25 {
      width: 25%;
      flex: 25;
}

.w_30 {
      width: 30%;
      flex: 30;
}

.w_35 {
      width: 35%;
      flex: 35;
}

.w_45 {
      width: 45%;
      flex: 45;
}

.w_50 {
      width: 50% !important;
      flex: 50;
}

.w_60 {
      width: 60% !important;
      flex: 60;
}

.w_70 {
      width: 70% !important;
      flex: 70;
}

.w_80 {
      width: 80% !important;
      flex: 80;
}

.full_width {
      width: 100% !important;
}

/* extension */
table.k-editor {
      padding:0px;
      border: 1px solid #dedede;
}

.k-datepicker {
      height: 36px; 
}

.k-datepicker input, .k-combobox input {
      width: 100%;
      height: 100%;
      border: 0px !important;
}

.k-datepicker .k-picker-wrap, .k-timepicker .k-picker-wrap, .k-datetimepicker .k-picker-wrap {
      height: 36px;border-color: #dedede !important;
}
/* extension */

.container {
      max-width: 1200px;
}


#ios_prompt {
      background-color: #fcfcfc;
      border: 1px solid #666;
      padding: 0.8rem 1rem 0 0.5rem;
      text-decoration: none;
      font-size: .85em;
      color: #555;
      position: absolute;
      margin: 0 auto 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 0;
}

.k-widget.k-combobox.k-combobox-clearable {
      padding: 0px;
      height: 36px;
      line-height: 36px;
      border: 1px solid #dedede;
      border-radius: 6px;
      width: 100%;
      box-shadow: 0px 0px;
}


/* front page css */
#front_header {
      height: 80px;width:100%;background-color: #eeeaea;
}

#front_header .nav_content {
      width:100%;margin: 0px auto;height: 100%;line-height: 100%;
}

ul.mgr_menu > li a:hover, ul.mgr_menu > li a:hover span {
      text-decoration:none;
}  

ul.menu {
      text-align: right;width: 65%;height: 100%;line-height: 100%;float: right;padding-top: 30px;
}

ul.menu > li {
     float:left;cursor: pointer;font-size: .95em;margin-left: 8%;
}

ul.menu > li a {
      text-decoration: none;color: #000;
}

ul.menu > li.user {
      width: 24%;float:right;margin: 0px;
}

ul.menu > li.user i {
      padding-right: 6px;
}

ul.menu > li:hover {

}

#front_footer {
      background-color: #707070;min-height: 400px;width: 100%;
}

#front_footer > ul {
      padding-top: 40px;color: #fff;padding-bottom: 15px;
}

#front_footer > ul > li a {
      color: #fff;display: block;line-height: 30px;font-size: .85em;
}

#front_footer > ul > li h5 {
      font-size: 1.1em;font-weight: 900;margin-bottom: 20px;
}

ul#social_media li {
      width: 40px;height: 40px;font-size: 1.6em;background-color: #000;text-align: center;padding: 5px;border-radius: 20px;border: 1px solid #fff; margin-right: 15px;float: left 
}

#front_footer .copyright, #front_footer .tnc {
      display: block;margin: 10px auto 0px;color: #fff;font-size: .7em;    padding-bottom: 10px;
}

#front_footer .copyright a, #front_footer .tnc a {
      color: #fff;
}

.banner_cont {
      position: relative;
}

#banner {
      width: 100%;height: 500px;background-size: cover;background-position: center center;background-repeat: no-repeat;
}

.banner_cont #banner_content {
      color: #fff;position: absolute; top: 50px;left: 50%;width: 400px;margin-left: -200px; line-height: 30px;
}

.banner_cont #banner_content h1 {
      font-weight: 900;margin-bottom: 30px;font-size: 2.4em;
}
/* front page css */




/* kendo scheduler */
a.calendar_add_link {
      float: right
}

a.calendar_add_link > i {
      color: #55ce63;
}
.k-edit-label {
      margin:0px !important;width: 100% !important;text-align: left !important;line-height: 16px !important;padding: 0px !important;
}

.k-scheduler-edit-form.k-mobile-list {
      background-color: #fff;
}

.k-scheduler-edit-form.k-mobile-list textarea {
      min-height:40px !important;
}

.k-widget.k-dropdown {
      width: 100%;
}

.k-edit-cont {
      min-height: 60px;margin-bottom: 5px;
}

.k-mgr-edit-cont {
      background-color: #FEE1E1; padding: 15px; margin: 10px 0px;
}

.k-mgr-edit-cont .reservation_status {
      width: 100%;
}

.k-widget .k-picker-wrap {
      padding: 3px 5px;border-radius: 5px;border: 1px solid #dedede;
  }
/* kendo scheduler */


/* eventbus popup */

.popup_cont {
      width:100vw;height:100vh;position: fixed;top:0px;left:0px;z-index: 100000000;
  }
  
  .popup_cont .popup_bg{
      background-color: rgba(0,0,0,.75);width: 100%;height: 100%;
  }
  
  .popup_cont .popup_content {
      background-color: #fff;height: 60%;width:70%;position: absolute;top: 10%;left: 15%; overflow-y: auto;overflow-x:hidden;
  }
  
  .popup_cont .popup_content .popup_inner {
      position:relative;height:100%;
  }
  
  .popup_cont .popup_content .content {
      height: 100%;width: 100%;padding: 0px 15px;
  }
  
  .popup_cont .popup_content .footer {
      text-align: right;height:60px;width: 100%;bottom: 0px;padding: 10px 25px;background-color: #fff;
  }
  
  .popup_cont .btn_closepopup {
      height: 50px;background-color: #fff;border: 0px; font-size: 1.6em;
  }
  
  .popup_cont .header {
      width:100%;height:56px;
  }
  
  .popup_cont .header > h3 {
      text-align: left; margin: 15px 0px;
  }
  
  .popup_cont .header .header_btn {
      text-align: right;padding-top: 5px;
  }
  
  ul#contractor_list {
      border: 1px solid #dedede;border-top: 0px;
  }
  
  ul#contractor_list > li {
      height: 40px;line-height: 40px;position: relative;width: 100%;font-weight: 100;padding-left: 30px;    border-top: 1px solid #dedede;
  }
  
  ul#contractor_list > li input[type=checkbox] {
      position: absolute;left: 10px;margin: 0px;height: inherit;
  }
  
  ul#contractor_list > li > label {
      display: inline-block;margin: 0px;font-weight: 300;
  }


/* eventbus popup */


input[type=text], textarea {
      -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #dedede;
}

textarea {
      resize: none;min-height:8em !important;
}

.c_align {
      text-align: center;
}

/* msg bar */
.msg_cont {
      position: absolute; min-height: 40px; width: 60%; top: 100px; left: 50%;margin-left: -25%;z-index: 11111111111;text-align: center;background-color: #fff;display: none;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
#msg_bar {
      padding: 10px 40px; width: 100%; height: 100%;
}

#msg_bar.success_msg {
      border:4px dashed #47a12f;color: #47a12f;background-color:rgba(71,161,47, .35);-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}

#msg_bar.error_msg {
      border:4px dashed #ef0000;color: #ef0000;background-color:rgba(239,0,0, .35);-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}

.field_block {
      padding: 20px 1.5rem 0px;
}

.field_title {
      display: block;    font-size: .7rem;text-transform: uppercase;letter-spacing: 2px; font-weight: 700; margin-bottom: .5rem;
}

.field_cont {
      display: inline-block;width: 100%;margin-bottom: 15px;font-size: .85rem;position: relative;
}

.button_cont {
      padding: 20px 0px;text-align: right;
}

.button_cont .btn_close, .button_cont .btn_del, .button_cont .btn_save, .button_cont .btn_clear {
      margin-left:20px;border:1px solid #43425D;
}

.button_cont .btn_close, .button_cont .btn_clear, .btn_white {
      background-color: #fff;color: #43425D;border: 1px solid #43425D;
}

.button_cont .btn_del {
      color: #fff;background-color: #ff0000;
}


.cont {
      border: 1px solid #dedede;  -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
}

.lbl_radio {
      border: 1px solid #242c3d;margin-right: 0px;color: #242c3d;position: relative;
}

.field_cont .lbl_radio {
      border-right: 0px;padding-left: 0px;padding-right: 0px !important;flex:1;height: 36px;overflow: hidden;
}

.radio_cont {
      display:flex;
}

.radio_cont .lbl_radio:first-child {
      -webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;
}

.radio_cont .lbl_radio:last-child {
      border-right: 1px solid #43425D;padding-left: 0px;-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;
}

.lbl_radio > input{ /* HIDE RADIO */
      visibility: hidden; /* Makes input not-clickable */
      position: absolute; /* Remove input from document flow */
}

.lbl_radio > input + div{ /* DIV STYLES */
      cursor:pointer;border:2px solid transparent;text-align: center;padding-top: 0px;padding-bottom: 0px; font-size: 1em;height: 36px;line-height: 32px;
}

.lbl_radio > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
      background-color: #379cd6;color: #fff;padding-top: 0px;padding-bottom: 0px;height: 36px;line-height: 36px;font-size: 1.2em;
}

.radio_cont .lbl_radio:first-child > input:checked + div {
      -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;
}

/* .lbl_radio > input:checked + div.select_reci + div.reci_list_cont{
      display:block;
} */

.btn_trans {
      background-color: #fff; border: 0px;
}

.k-datepicker {
      width: auto !important;
}


.pg_content {
      min-height: 100%;overflow: auto;overflow-y: auto;position: relative;margin-bottom: 0px;
}


.pg_content header {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
}
  
.pg_content header > a.navbar-brand {
      flex: 1;
      width: 250px;
      display: flex;
      align-items: center;
}

.pg_content header > a.navbar-brand .navbar-header .navbar-toggle {
      padding: 0;margin: 0 15px 0px 0px;
}
  
.pg_content header > nav.navbar {
      flex: 3;
}

#content {
      padding: 0px 0px 0px 250px;
      width: 100%;
      min-height: calc( 100vh - 60px);
}

.navbar {
      margin-bottom: 0px;
}

.navbar-default {
      background-color: #379cd6;
}
.navbar-default .navbar-nav > li > i {
      padding-top: 14px;
      padding-bottom: 14px;
      line-height: 22px;
      padding-right: 15px;
      padding-left: 15px;
      cursor: pointer;
      
}

.navbar-default .navbar-nav > li:nth-child(1) > i:hover {
      color: grey;
}

.navbar-default .navbar-nav > li:nth-child(2) > i:hover {
      color: red;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li {
      color: #fff;
}
.navbar-default .navbar-nav > li > a {
      padding-top: 16px;
      padding-bottom: 12px;
}

.navbar-brand {
      background-color: #379cd6; width: 100%; color: #ffffff; font-size: .98em;font-weight: 900;text-transform: uppercase;
}

.navbar-brand:hover {
      color: #ffffff;
}

.container_block {
     background-color: #fff;padding-bottom: 15px;  margin-bottom: 25px;border-width: 1px; border-style: solid; border-color: rgba(0,0,0,0.12);
}

.container_block.container_sml {
      margin-bottom: 25px;
}

.container_block .container_header {
      padding: 1.5rem 1.5rem;
}

.container_block .container_header.header_sml {
      padding-bottom: 0px;
}

.container_block .container_header i.fa-minus, .container_block .container_header i.fa-plus {
      float: right;    cursor: pointer;
}

.container_block .container_header h4 {
      font-weight: 700;display: inline-block;margin: 0px;
}

.container_block  .container_desc {
      flex: 1 1 auto; padding: 1.5rem;font-size: .85rem;display: inline-block;width: 100%;
}

.container_block .container_subtitle {
      margin: 0px 1.5rem;font-size: .85rem;border-bottom: 1px solid #242c3d;    margin-top: 0px; min-height: 46px;line-height: 46px;position: relative;
}

.container_block .container_subtitle > i {
      float: left;padding-right: 10px;line-height: inherit;
}

.container_block .container_subtitle h5 {
      font-weight: 400;    margin: 0px; font-size: 1.2rem;line-height: inherit;display: inline-block;
}

.container_block .container_subtitle ul.type {
      float: right;display: flex;
}

.container_block .container_subtitle ul.type > li {
      margin: 0px 7px;cursor: pointer;
}

.list_filter {
      width: 100%; display: inline-block;padding: .5em .2em .2em;text-align: right;
}

.list_filter form{
      display: flex; margin-left: auto;width: 500px;
}
  
.list_filter form select{
      flex:2;
}


.list_filter input, .list_filter textarea, .list_filter select,  .list_filter button {
      font-size: .85rem;width: 100%;margin-right: 10px;
}

.list_filter .input_search {
      max-width: 350px;;
}



.list_filter .btn_filter {
      max-width: 100px;    float: right;
}



#content .list_filter button {
      height: 34px;    background-color: #55ce63;
      color: #fff;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: 0px;
}

/* autocomplete */
.autocomplete_cont {
      position:relative;
}

.autocomplete_cont i.create_element {
      position: absolute; right: 10px;top: 10px;font-size: 1.2em;
}

ul.autocomplete_list {
      width: 100%;color: #000; position: absolute; background: #fff; z-index: 1000;
}

ul.autocomplete_list li {
      padding: 5px 10px;color: #000;font-size: 1em;
}

/* search input */
.filter_cont {
      display: flex; justify-content: flex-end
}

.filter_cont > select {
      height: 32px;border: 1px solid #dedede;width: 160px;margin-right: 10px;
}
.filter_cont .search_cont {
      border:1px solid #dedede;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;float: left;margin-right: 10px;position: relative;
}

.filter_cont .search_cont > input {
      height: 30px;border: 0px;width: 160px;
}

.filter_cont .search_cont > i {
      position: absolute;right: 10px;top: 10px;
}

/* tagsinput */
.tagsinput_cont {
      border: 1px solid #dedede; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}

.tagsinput_cont input[type=text] {
      border: 0px;min-width: 160px;display: inline-block;width: auto !important;
}

.tagsinput_cont .tag_input {
      position: relative;    margin: 0px auto;
}

.tagsinput_cont ul.tagsinput_list {
      width: 100%;position: absolute;background-color: #fff;z-index: 1000;-webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.15);
      box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.15);
}

.tagsinput_cont ul.tagsinput_list  > li, .tagsinput_cont .selected_tag {
      padding: 5px 8px; display: inline-block;margin:5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;color: #fff;
}

.tagsinput_cont ul.tagsinput_list  > li {
      background-color: rgba(55,156,214,0.6); 
}

.tagsinput_cont .selected_tag {
      color: #fff;background-color: #379cd6; 
}

.tagsinput_cont ul.tagsinput_list  > li > span {
      cursor: pointer;
}

.tagsinput_cont ul.tagsinput_list  > li > i.fa-times, .tagsinput_cont .selected_tag i.fa-times {
      margin-left: 5px;cursor: pointer;
}

/* modal */
.modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      transition: opacity .3s ease;
  }
  
  .modal-container {
      width: 70%;
      height: 700px;
      margin: 40px auto 0;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
      font-family: Helvetica, Arial, sans-serif;
  }

/* form error */
.ast {
      color: #ff0000;    font-size: 1.4em;
}
.error_cont {
      border: 4px dashed #dd0000;padding: 10px;background-color: rgba(255,0,0,0.05);color: #ff0000;margin-bottom: 20px;font-size: .9em;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
}

.error_cont .error_list {
      font-size: .85em;margin-top: 5px;padding-left: 5px;
}

/* manager menu */
main {
      width: 100%;display: flex;height: auto;
      margin-top: 50px;
}

#sidebar {
      height: 100%;padding: 0px;background-color: #fff;position: fixed;z-index: 1;width:250px;-webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
ul.mgr_menu {
      padding-left: 0px;border: 0px;border-radius: 0px;box-shadow: 0px 0px;clear: both;background-color:#fff;
}

ul.mgr_menu ul.mgr_submenu {
      position: absolute;right: -200px;width: 200px;padding-left: 0;top: 0px;background-color: #43425D;display: none;z-index: 1000;
}

ul.mgr_menu > li:hover > ul.mgr_submenu, ul.mgr_menu > li.active:hover > ul.mgr_submenu {
      display: block;
}

ul.mgr_menu li {
      margin: 3px 0px;position: relative;padding: 15px 0px 10px 20px;    cursor: pointer;    height: 50px;
}

ul.mgr_menu li a {
      width: 100%; height: 100%;display: block;
}

ul.mgr_menu li.menu_hide {
      display: none !important;
}

ul.mgr_menu li.btn_extend {
      padding: 0;
}

ul.mgr_menu li.btn_extend button.btn_more, ul.mgr_menu li.btn_extend button.btn_less {
      border: 0px;
      background: #fff;
      font-size: .8em;
      width: 100%;
}

ul.mgr_menu li.btn_extend button.btn_less > i{
      transform: rotate(-180deg);
}

ul.mgr_menu li.active {
      display: block;background-color: #efefef;border-left: 8px solid #379cd6;
}

ul.mgr_menu li i, ul.mgr_menu > li label, ul.mgr_menu > li > ul.mgr_submenu > li  label {
      color: #242c3d;
}

ul.mgr_menu li.active  label, ul.mgr_menu li.active  i {
      color: #379cd6;
}

ul.mgr_menu > li > ul.mgr_submenu > li:hover {
      cursor: pointer;
}
ul.mgr_menu li:hover i, ul.mgr_menu li:hover label, ul.mgr_menu > li > ul.mgr_submenu > li:hover label {
      color: rgba(55,156,214,.75); cursor: pointer;font-weight:bold;
}

ul.mgr_menu li.active i, ul.mgr_menu > li.active  label, ul.mgr_menu > li.active > ul.mgr_submenu > li.active  label {
      font-weight: 700;
}

ul.mgr_menu li  label {
      font-size: .9em;    font-weight: 100;    color: #242c3d;
}

ul.mgr_menu li  i.fa {
      margin-right: 10px;width: 32px;
}

/* table list */
.list_cont {
      display: table;width: 100%;
}

.list_cont.empty_record, .list_cont.empty_record.active, .list_cont.empty_record .list_empty {
      display: block
}

.list_cont.empty_record .list_header, .list_cont.empty_record.active .list_header {
      display: flex;
}

.list_cont.empty_record .list_empty {
      display: block
}

.list_cont .list_header, .list_cont .list_row, .list_cont .list_row {
      display: table-row; min-height: 74px;max-height: 120px;
}

.list_cont .list_row:nth-child(odd){
      background-color: rgba(55,156,214,0.08);
}

.list_cont .list_row {
      cursor: pointer;
}

.list_cont .list_row:hover {
      background-color: rgba(55,156,214,0.3);
}

.list_cont .list_row button {
      background-color: transparent;border: 0px;padding:0px;
}

.list_cont .list_header, .list_cont .list_row i.fa {
      color: #43425D;padding: 0px 3px;
}


.list_cont .list_header {
      height: 40px;font-weight: 900;
}

.list_cont .list_header .list_fields {
      border-bottom: 1px solid #dedede;
}

.list_cont.cont_sml .list_header {
      height: 30px;
}

.list_cont.cont_sml .list_header .list_fields {
      font-size: .7em;
}

.list_cont .list_row .tagcont {
      margin: 0px 3px 3px;color: #fff;display: inline-block;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;padding: 3px 6px; font-size: .85em;
}

.list_cont .list_row .tagcont.cont_0 {
      background-color: #59a6ff;
}

.list_cont .list_row .tagcont.cont_1 {
      background-color: #43dbbd;
}

.list_cont .list_row .tagcont.cont_2 {
      background-color: #ffc26b;color: #000;
}

.list_cont .list_row .tagcont.cont_3 {
      background-color: #ff738a;
}

.list_cont .list_row .tagcont.cont_4 {
      background-color: #a9d86e;
}

.list_cont .list_row .tagcont.cont_5 {
      background-color:#673AB7
}

.list_cont .list_row .tagcont.cont_6 {
      background-color:#00cccc
}

.list_cont .list_row .tagcont.cont_7 {
      background-color:#737f9e
}

.list_cont .list_row .tagcont.cont_8 {
      background-color:#0162e8
}

.list_empty .list_fields {
      height: 300px;padding-left: 0px !important;padding-top: 100px !important; background-color: #fff;
}

.list_empty .list_fields > span {
      font-size: 1.4em;margin: 0px 0px 40px;display: inline-block;
}


.list_cont.empty_record .list_empty .list_fields {
      display: block;left: 0;right: 0;
}


.flex_list_cont {
      display: inline-block;width: 100%;
}

.flex_list_header {
      display: flex;flex-flow: wrap;background-color: #c5c5cd;height: 40px;font-size: .85em;font-weight: 900; color: #fff;
}

.flex_list_header .list_fields {
      padding: 10px 0px;font-size: .85rem;
}
.new_list_row {
      height: 172px;width: 100%;min-height: 50px;width: 100%;line-height: 50px;
}

.new_list_row .list_fields {
      float: left;
}

.new_list_row .list_fields.new_field {
      height: 172px;
}

.new_list_row .list_fields.w_20 {
      padding: 20px 20px 0px 0px;
}

.new_list_row .list_fields.w_20 .clog_progress {
      width: 100%;margin-bottom: 20px;
}

.new_list_row .list_fields.w_20 .btn_log {
      width: 100%;
}

.new_list_row textarea {
      margin: 20px 5%;width:90%;
}

.list_cont .list_fields .title {
      margin: 0 0 4px 0;
      font-weight: 700;
      font-size: 1.2em;
      text-transform: capitalize;
}

.astr {
      color:red;font-weight:900;
}

.list_cont .list_fields {
      display: table-cell;padding: .65rem;font-size: .9em;vertical-align: top;
}

.list_cont .list_fields:first-child {
      padding-left: 1%;
}

.list_cont .list_fields i.fa-times {
      color: #ef5350;font-size: 1.4rem;margin: 0px 3px;
}

.list_cont .list_fields i.fa-edit, .list_cont .list_fields i.far.fa-eye, .list_cont .list_fields i.fa-pen, .list_cont .list_fields .list_btn  i.fa-times {
      color: #fff; font-size: .75rem; margin: 0px 3px;
}

.list_cont .list_fields i.fa-times {
      font-size: .85rem;
}

.list_cont .list_fields i.fas.fa-unlink {
      font-size: .75rem; margin: 0px 3px;
}

.list_cont .list_fields .list_btn {
      width: 26px;height: 26px;display: inline-block;margin-right: 5px;line-height: 26px;color: #fff;;border-radius: .2rem;    margin-bottom: 10px;
}

.list_cont .list_fields .list_btn:hover, .popupEmail:hover {
      filter: brightness(120%);
}

.list_cont .list_fields .list_btn.btn_edit {
      background-color: #59a6ff;
}

.list_cont .list_fields .list_btn.btn_link {
      background-color: #55ce63;
}

.list_cont .list_fields .list_btn.btn_link > i {
      margin: 0px 5px;
      background-color: #55ce63;
      padding: 0px 2px;
}

.list_cont .list_fields .list_btn.btn_view {
      background-color: #78CD51;
}


.list_cont .list_fields .list_btn.btn_del {
      background-color: #ff738a;
}

.pagination > .active > span {
      background-color: #43425D;border-color: #43425D;
}

.pagination > li > a, .pagination > li > span {
      color: #43425D;
}


/* content */
#main_content .content_body {
      width: 92%; margin: 0px 6% 0px 2%;
}

#content_header {
      margin-bottom: 40px;background-color: #fff;
}

#content_header #bk_to_previous_pg {
      font-size: 1.2em;cursor: pointer;cursor: pointer; width: 60px;text-align: center;
}

#content_header #bk_to_previous_pg + #content_title {
      padding-left: 0px;
}

#content_header #content_title {
      display: inline-block; font-size: 1.2em; margin-block-start: 0; margin-block-end: 0; line-height: 60px;padding-left: 30px;
}

#main_content .btn.btn_new {
      float: right;margin: 14px 6% 14px 2%;background-color: #55ce63;
}

#main_content .btn.btn_new:hover {
      color: #55ce63;
      border: 1px solid #55ce63;
      background-color: #fff;;
}

#main_content .manage_new_cont {
      position:relative;float: right;margin: 14px 6% 14px 2%;
}

#main_content .manage_new_cont .btn.btn_new {
      float:none;margin: 0;
}

#main_content .manage_new_cont .btn.btn_new.is_active {
      background-color: #fff;border: 1px solid #55ce63;color: #55ce63;;
}

#main_content .manage_new_cont ul#manage_new_list {
      background-color: #fff;
      font-size: .75em;
      border: 1px solid #ccc;
      position: absolute;
      width: 160px;display: none;;
      right: 0px;top: 30px;
      z-index: 11111111111111;
}

#main_content .manage_new_cont ul#manage_new_list > li {
      padding: 10px;cursor: pointer;
}

#main_content .manage_new_cont ul#manage_new_list > li:hover {
      background-color: rgba(67,66,93,0.08);
}


/* mgr login */
.login_panel {
      margin: 22% 18% 0% 18%;
}

.reg_panel {
      margin: 15% 18% 0% 18%;
}

.login_panel .login_header, .reg_panel .reg_header {
      margin-bottom: 20px;
}

.login_panel .login_header h2, .reg_panel .reg_header h2 {
      margin-bottom: 0px;
}

.login_panel .login_header span, .reg_panel .reg_header span {
      color: #888;font-size: .75em;
}

.login_panel .form-group, .reg_panel .form-group{
      margin-left:0px;margin-right:0px;
}

.login_panel .signup_sentence, .reg_panel .signup_sentence {
      margin: 45px 0px 0px;font-size: .8em;text-align: center;
}

.remember_me, .forget_pass {
      font-size: .75em;
}

.remember_me .checkbox input {
      height: 20px;margin: 0px 0px 0px -20px;
}

.remember_me .checkbox label {
      line-height: 20px;
}

.forget_pass {
      text-align: right;line-height: 20px;
}

.btn_blg_admin_login {
      text-align: center;margin-top: 30px; width: 100%;
}

.btn_blg_admin_login button[type=submit] {
      width: 100%;padding-top: 8px;padding-bottom: 8px;
}

.login_body .txt_blg_admin_login, .reg_body .txt_blg_admin_login, .reg_body .select_blg_admin_login {
      margin-bottom: 10px;border: 0px; border: 1px solid #dedede;width: 100%;
}

.login_body .txt_blg_admin_login, .reg_body .txt_blg_admin_login {
      padding: 20px 10px;    
}

.form-horizontal .checkbox {
      padding-top: 0px;
}

.blg_admin_login_cont, .blg_admin_reg_cont {
      height:100vh;position: relative;
}

.blg_admin_login_cont .copyright, .blg_admin_reg_cont .copyright {
      text-align: center;position: absolute;bottom: 20px;font-size: .8em;width: 95%;
}

/* announcement */


/* new service */
.new_servicecate {
      display: table;padding-left: 5px; padding-right: 5px;height: 36px;
}

.new_servicecate > i.fa-plus {
      font-size: 1.8em;display: table-cell;vertical-align: middle;text-align: center;
}

.service_imgs_cont {
      margin-bottom: 20px;display: inline-block;width: 100%;
}

.service_imgs_cont .service_img {
      margin-bottom: 20px;border: 1px solid #ccc;height: 300px;
}

.service_imgs_cont .service_img_add {
      height: 94px;border: 1px solid #ddd; text-align: center;color: #ddd; display: table;    font-size: 24px;cursor: pointer;
}

.service_imgs_cont .service_img_add > i.fa-plus {
      display:table-cell;vertical-align: middle;
}

.provider_profile {
      width: 100%; height: 300px; border: 1px solid #cdcdcd;float: right;
}


/* unit management */
.tenant_list {

}

.tenant_list .tenant_cont {
      width: 100%; height: 300px; position: relative;margin-bottom: 25px;
}

.tenant_list .tenant_cont .tenant_profile {
      height:90px;width:90px;-webkit-border-radius: 45px;-moz-border-radius: 45px;border-radius: 45px;background-color: #43425D;
}

.tenant_list .tenant_cont .tenant_profile_cont {
      display: flex;-webkit-box-align: center;-webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;padding: 30px;
}

.tenant_list .tenant_cont .btn_tenant_edit, .tenant_list .tenant_cont .btn_tenant_unlink {
      position: absolute;top: 10px;background-color: transparent;border: 0px;
}

.tenant_list .tenant_cont .btn_tenant_edit {
      right:50px;
}

.tenant_list .tenant_cont .btn_tenant_unlink {
      right:10px;
}

.tenant_list .tenant_cont .tenant_name {
      width: 100%;text-align: center;text-transform: uppercase;font-weight: 700;margin-bottom: 0px;
}

.tenant_list .tenant_cont .tenant_type {
      text-align: center;text-transform:capitalize;
}

.tenant_list .tenant_cont .tenant_contact {
      margin-top: 20px;padding-left: 15px;padding-right: 15px;
}

.tenant_list .tenant_cont .tenant_contact .contact_part {
      text-align: center;
}

.tenant_list .tenant_cont .tenant_contact .contact_link {
      height: 45px;width: 45px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;border: 1px solid #404e67;text-align: center;line-height: 40px;background-color: #fff;
}

.tenant_list .tenant_cont .tenant_contact .contact_link:hover {
      background-color:  #404e67;
}

.tenant_list .tenant_cont .tenant_contact .contact_link:hover i.fa {
      color: #fff;
}

.slider_title {
      padding-bottom: 10px;
}

.slider_desc {
      font-size: .85em;font-weight: 100;padding: 5px 0px 25px;
}

.slider_content .txt_tenant_id {
      padding: 10px;
}

.slider_content .slider_btn_cont {
      margin: 0px auto;clear: both;width: 100%;margin-top: 30px;text-align: center;
}


.container_block .btn_slideout_add {
      border: 0px;background-color: #fff;float: right;
}

.slider_title .btn_closepanel {
      float: right;font-size: .8em;
}

.slider_btn_cont .btn {
      margin: 0px 5px;width: 170px;
}

.unit_cont {
      text-align: center; max-width: 700px;margin: 0px auto;
}

.unit_cont p, .unit_cont .txt_unit_title {
      margin-bottom: 30px;
}



.btn_delCField {
      margin-top: 24px;
}

/* reservation */
.today_cont {
      line-height: 35px;font-weight: 700;padding: 0px 10px;height: 39px;margin-bottom: 10px;width: 76%;
}
.booking_block .admin_block {
      background-color: #FEE1E1;
}

.booking_block .admin_block .btn_submit {
      float: right;;
}

.m-colorPicker .box.open {
      z-index: 111111111;
}
  
.m-colorPicker .colorBtn {
      width: 80px !important;height: 28px !important;margin-top: 8px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
}


/* setting menu */
.submenu {
      color: #fff;
      margin: 0px 10%;
      overflow: auto;
}

.submenu_cont {
      padding: 10px 5%;
}

.submenu_cont h2 {
      color: #fff;margin-bottom: 5px;
}

ul.submenu_list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 60px;
}

ul.submenu_list > li {
      height: 165px;text-align: center;cursor: pointer;flex: 0 0 20%;
}

ul.submenu_list:not(.help) > li:hover {
      opacity: .75;filter: alpha(opacity=75);
}

ul.submenu_list > li div.submenu_cont {
      margin: 10px 15px 10px 0px;background-color: #5faee3;padding: 0px;height: 150px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;
}

ul.submenu_list > li div.submenu_cont a {
      color: #fff;width:100%;height: 150px;text-decoration: none;padding: 30px 0px;display: block;
}

ul.submenu_list > li div.submenu_cont a > span {
      font-size: .85em;
}     

ul.submenu_list > li div.submenu_cont  i {
      font-size: 2.4em; display: block;margin:15px 10px 10px
}

.submenu_cont.help {
      padding: 10px 0px 0px 5%;
}

ul.submenu_list.help {
      display: block;overflow-y: auto; height: 80vh;
}

ul.submenu_list.help > li {
      color: #fff;width: 100%; height: auto;text-align: left; margin-bottom: 40px;  max-width: 75%;
}

ul.submenu_list.help > li.is_active {
      border-bottom: 1px solid #fff;   
}

ul.submenu_list.help > li:last-child {
      border-bottom: 0px;
}

ul.submenu_list.help > li > label {
      margin: 0;padding: 5px 20px;height: auto; -webkit-border-radius: 16px;-moz-border-radius: 16px;border-radius: 16px;border: 1px solid #fff;cursor: pointer;  
}

ul.submenu_list.help > li.is_active > label  i {
      -ms-transform: rotate(180deg); /* IE 9 */
      transform: rotate(180deg); /* Standard syntax */
}

ul.submenu_list.help > li > p {
      margin-top: 20px;line-height: 2em;font-size: .85em;
      margin-bottom: 0px;padding-right: 140px;cursor: default;
}

ul.submenu_list.help > li .help_links {
      display: flex;width: 100%;height: 30px;line-height: 30px;margin-top: 30px;cursor: default;
}

ul.submenu_list.help > li .help_links > a {
      flex:1;
}

ul.submenu_list.help > li .help_links > a:hover {
      color: rgb(95, 174, 227);font-weight: 900;text-decoration: none;
}


/* kendo input / validation */
.k-textbox {
      height: 36px !important;padding: 5px !important;padding-left: 15px !important;
}

.k-tooltip.k-tooltip-validation {
      color: #ff0000;
}

.k-tooltip.k-tooltip-validation {
      padding-left: 20px;position: relative;
}

.k-tooltip.k-tooltip-validation .k-icon.k-i-warning {
      position: absolute; top: 0px;left: 0px;
}

.k-widget.k-numerictextbox {
      width: 100%;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #dedede;padding: 3px 0px 2px 10px;
}

.k-widget.k-numerictextbox > span {
      border: 0px;
}

.dropZoneElement {
      height: 100px; line-height: 100px; text-align: center;border: 1px dashed;font-size: .85em;
}

.single_img_blk .k-widget.k-upload.k-header {
   
}

.single_img_blk img {
      width: 100%;
}

.single_img_blk .imgprev_cont {
      padding: 20px 0px;position: relative;width: 100%;

}

/* kendo-calender */
.k-event {
      background-color: transparent !important;
}

.k-event .event_cont {
      display: flex;width: 100%;height: 100%;flex-direction: column;
}

.k-event .k-event-actions {
      position: absolute !important;left: 0px;
}

.k-event .template_bg {
      background-color: rgba(255, 124, 115, 1);height: 27px;width: 100%;
}

.k-event .template_bg.non-clickable {
      background-color: rgba(255, 124, 115, .35);cursor: default;
}

.k-event .k-event-actions:first-child {
      z-index: 100;
}

.k-event.non-clickable {
      background-color: rgba(255, 124, 115, .35);cursor: default;
}

.template_event_1 {
      background-color: #ff7100;
}

.template_event_1.non-clickable {
      background-color: rgba(255, 113, 0, .5);
}

.template_event_2 {
      background-color: #F1BF5E;
}

.template_event_3 {
      background-color: #3e789d;
}

.template_event_4 {
      background-color: #0C8346;
}

.template_event_5 {
      background-color: palevioletred;
}

.template_event_5.event_status_2, .template_event_4.event_status_2, .template_event_3.event_status_2, .template_event_2.event_status_2,.template_event_1.event_status_2 {
      background-color: red;
}

.k-scheduler-toolbar {
      z-index: 0 !important;
}
.k-widget.k-scheduler.k-floatwrap .k-event{
      padding-right:0px !important;    z-index: 0;
}

.k-tooltip {
      height: auto !important;
}

.k-tooltip .k-tooltip-content {
      font-size: .8em;padding: 10px;
}

.k-event .blg_admin_scheduler_template {
      display: inline-block;width: 100%;min-height: 75px;height: 100%;
}

.k-event .blg_admin_scheduler_template .scheduler_detail {
      width: inherit;height: 100%; padding: 6px;
}

.k-event .blg_admin_scheduler_template p {
      margin: 0px;color: #fff; font-size: .7em;line-height: 16px;
}

.k-event .blg_admin_scheduler_template p.event_object {
      line-height: 12px;
}

.k-event .blg_admin_scheduler_template p.event_details > i, .k-event .blg_admin_scheduler_template p.event_object > i {
      font-size: 1.2em;width: 16px;
}

.k-event .blg_admin_scheduler_template .scheduler_status {
      border-top: 30px solid red;display: none;border-left: 30px solid transparent;height: 10px;width: 10px;padding: 0px;position: absolute;top: 0px;right: 0px;
}

.k-event .blg_admin_scheduler_template .scheduler_status.status_0, .k-event .blg_admin_scheduler_template .scheduler_status.status_null {
      display: inline-block;
}

.k-event .blg_admin_scheduler_template i.fa-exclamation{
      color: #fff;position: absolute;right: 5px;z-index: 100;top: -28px;
}

.k-event .blg_admin_scheduler_template .scheduler_status:not(.status_0, .status_null) {
      display: none;
}



/*  */
.sidenav {
      position: fixed;width: 100%;
      z-index: 1000000;
      top: 0;
      right: 0;
      background-color: rgba(67,66,93, .85);
      overflow-x: hidden;
      padding-top: 60px;
      height: 100vh;
      overflow-y: hidden;
      padding-right: 0px;
}

.slide-enter-active {
      animation: menu-slide .5s;
}

.slide-leave-active {
      animation: menu-slide .5s reverse;
}


/* reset table list css */
.list_filter .btn_filter {
      flex: 1;
}
.list_filter .input_search {
      max-width: 100%;width: auto;
}

input[type="text"]:not(.input_filter), textarea {
      flex: 2;
}

.list_header i.active {
    display: inline-block;
}

.list_cont.active {
      display: table;
}

#main_cate {
      margin-bottom: 10px;
}

#main_cate_list {
      padding: 0px;
      overflow: hidden;
}
#main_cate_list > li.active {
     position: relative;font-weight: 900;color: #fff;background-color: #379cd6;
}

#main_cate_list > li.active:first-child {
      border-left: 0px;
}

#main_cate_list > li {
      padding: 5px 15px;
      font-size: .85em;
      float: left;
      line-height: 18px;
      cursor: pointer;
      margin: 5px;
      border: 1px solid #379cd6;
      text-transform: capitalize;
      border-radius: 4px;
      background-color: #fff;
}

#main_cate_list > li:hover {
      font-weight: 900;
      background-color: rgba(55,156,214,0.3);
}

#main_cate_list > li .bottom_border {
    margin-top: 0px;margin-bottom: 0px;position: absolute;bottom: -1px;width: 100%;left: 0px;
}


.list_header {
      display: flex;background-color: #fff;
}

.list_header .list_title {
      flex:2;padding: .5em .2em .2em;
}

.list_filter {
      display: flex;
}
.list_cont {
    padding: 0px;
}

.container_block {
      border:0px;
}

.list_cont .list_header .list_fields {
      border-top: 1px solid #dedede;
}

#btn_mobile_menu {
      float: right;font-size: 1.4em;height: 40px;background-color: transparent;margin: 15px 0px;border-radius: 4px;display: none;
}

ul.docs_list {
      display: flex;width: 100%;height: auto;
}

ul.docs_list > li {
      flex: 0 0 25%;margin: 1.5%;
}

ul.docs_list li .docs_cont {
      position: relative; padding-top: 20px;font-size: .6em;text-align: center;
}

ul.docs_list li .docs_cont img {
      width: 108px;
      height: 108px;
      margin: 0px auto;
      display: block;
}

ul.docs_list li .docs_cont .file_name {
      word-break: break-all;
}


ul.docs_list li .docs_cont label {
      word-break: break-all;padding: 0px 10px;
}

ul.docs_list li .btn_rm {
      text-align: center;cursor: pointer;
      line-height: 20px; position: absolute;top: -10px;font-size: 1.2em;color: #fff;height: 20px;width: 20px;right: -10px;border-radius: 15px;padding: 0px;background-color: #f1536e;border: 0px;
}

#admin_notification_cont {
      width:350px;margin-bottom: 0px; padding-bottom: 0px;height: 500px;overflow-y: auto;
}

#admin_notification_cont > li {
      padding: 10px 15px;border-bottom: 1px solid #ddd;
}

#admin_notification_cont > li > label {
      display: block;margin-bottom: 0px;
}

#admin_notification_cont > li > span {
      font-size: .7em; height: 20px;display: block;
}

#admin_notification_cont > li > div {
      font-size: .85em;
}

#admin_notification {
      position: relative;
}

#admin_notification > #notification_point {
      position: absolute; height: 10px;width: 10px;border-radius: 6px;background-color: red; top: 8px; right: 10px;display: none;
}

#admin_notification > #notification_point.new {
      display: block;
}


/* case */
#photos .photo  {
      width: auto;
      height: 100px;
      margin: 0px 1.5%;
      flex: 0 0 25%;
      position: relative;
      justify-content: center;
      display: flex;
      background-color: #e4e4e4;
}

#photos .photo > i  {
      background-color: red;
      font-size: .7em;
      top: -10px;
      right: -10px;
      z-index: 11111111;
      position: absolute;
      color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
}

#photos .photo img {
      width: 100%;height: 100px;
}

.upload_hint {
      font-size: .7em;
}
    
@keyframes menu-slide {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
}


@media screen and (max-width: 768px) {
      section {
            margin-bottom: 55px !important;
      }
      #tenant_nav {
            display: none;
      }

      #btn_mobile_menu {
            display: block;
      }

      ul.menu {
            position: absolute;right: 0px; top: 80px;background-color: #fff;height: auto;min-width: 60px;width: 100vw;padding: 10px;z-index: 10000;display:none;
      }

      ul.menu > li {
            display: block;line-height: 30px;float: none;
      }

      ul.menu > li.user {
            border: 1px solid #000;width: 100%; text-align: center;margin: 20px 0px 10px;
      }

      #front_content .slider_cont.container {
            padding-left: 0px;padding-right: 0px;
      }

      #front_content .slider_cont.container #slide, #front_content .slider_cont.container #reg_form, #front_content .slider_cont.container #reg_form .reg_cont .txt_bzename, #front_content .slider_cont.container  #reg_form .reg_cont .btn_reg {
            width: 100%;
      }

      #front_content .slider_cont.container #slide ul > li{
            margin: 0px;;
      }

      #front_content .slider_cont.container #reg_form .reg_cont {
            width: 85%; height: auto;left: 7.5%;top: 60px;
      }

      section.slider_cont {
            height: 520px;;
      }

      .banner_cont {
            padding-left: 0px;padding-right: 0px;
      }

      .banner_cont #banner_content {
            margin-left: 15%;left: 0px;margin-right: 15%;width: 70%;text-align: center;
      }

      .feature_desc.right_padding {
            height: auto;width: 100%;padding-right: 0px;
      }

      .feature_cont  .feature_imgs {
            width: 100%;padding-top: 80px;padding-left: 15%;
      }

      .feature_cont  .feature_imgs .img_float {
            width: 120px;height: 120px;top: 10px;left: 0px; 
      }

      .feature_cont .feature_desc h3 {
            margin-top: 0px !important;margin-bottom: 20px !important;font-weight: 900 !important;font-size: 1.6em;line-height: 1.4em;
      }

      .building_front_bg {
            height: 95vh !important;position: absolute;width: 100%;margin-left: -15px;margin-right: -15px;
      }
      
      .blg_admin_login_cont .login_panel, .blg_admin_reg_cont .reg_panel {
            padding: 10% 8%;background-color: rgba(255,255,255,.88);margin: 5% 4%;height: 90vh;    overflow: auto;
      }
      
      .blg_admin_login_cont .login_panel .login_header h2, .blg_admin_reg_cont .reg_panel  .reg_header h2 {
            margin: 0px;
      }

      .login_panel .form-group, .reg_panel .form-group {
            height: 45px;
      }

      .btn_blg_admin_login {
            margin-top: 10px;
      }

      .reg_panel .signup_sentence {
            margin-top: 10px;
      }
      
}


@media screen and (min-width: 1366px) {
      .navbar-toggle {
            display: none;
      }

}


@media screen and (max-width: 1366px) {
      .navbar-toggle {
            display: block !important;
      }

      main #sidebar {
            flex: 1;
            min-width: 250px;
            position: relative;
            height: calc(100vh - 50px);
            display: none;
            position: fixed;
            top: 50px;
            z-index: 10;
      }

      main #content {
            flex: 5;
            padding: 0px;
      }

      main.menu-on #content {
            padding: 0px 0px 0px 250px;
      }
}