/* global */
.field_cont .col-md-6:first-child, .field_cont .col-md-4:first-child {
    padding-left:0px;
}

.field_cont .col-md-6:last-child, .field_cont .col-md-4:last-child {
    padding-right:0px;
}

input[type="text"]:not(.input_filter), textarea, select {
    width:100%;
}

select {

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dedede;

}

/* building info */
textarea.txt_aboutcomp {
    resize:none; width:100%; height:250px;
}

#comp_profile{
    width:300px; height:300px; border:1px solid #cdcdcd; float:right;
}

.form_cont, .btn_cont{
    display:inline-block;width:100%;
}

.btn_cont{
    text-align:right; margin-top: 30px;
}

/* personal info */


/* email template */

.template_content {
    margin-bottom: 40px;
}

/* unit management */
.unit_profile_cont {
    border:4px dashed #43425D !important;height:150px;width:100%;border: 4px dashed rgb(221, 221, 221);height: 150px;width: 100%;color: #43425D;text-align: center;font-size: 2.8em;vertical-align: middle;display: table;cursor: pointer;  
}

.unit_profile_cont  i.fa-plus {
    vertical-align: middle;display: table-cell;
}

.carpark_cont{
    padding-right:0px; padding-left:0px; 
}

.carpark_cont .cont_inner, .list_cont  {
    padding-right: 20px;
    padding-left: 20px;

}

.carpark_cont .list_cont .list_header{
    background-color: #f5f8fa;
}

.cont_inner{
    border: 1px solid #ccc; margin-bottom: 30px; background-color: #fff;
}

.cont_inner .list_title {
    padding: 6px 10px;
}

.cont_inner .list_title > i {
    padding-right:6px;
}

.cont_inner .list_title > i.fa-plus{
    float: right;
}

.list_cont .list_content {
    min-height: 50px;
}

