/* global */
.field_cont .col-md-6:first-child, .field_cont .col-md-4:first-child, .field_cont .col-md-8:first-child, .field_cont .col-md-12:first-child {
    padding-left:0px;
}

.field_cont .col-md-6:last-child, .field_cont .col-md-4:last-child, .field_cont .col-md-8:last-child, .field_cont .col-md-12:last-child {
    padding-right:0px;
}

.field_cont .col-md-12 {
    padding-left: 0px;
}
/* Reservation Complaint info */

.cmpt_list_label{
    width: 150px;
    display:block;
    float:left;
    line-height: 35px;
    margin-left:10px;
    /*background-color:blue;*/
    text-align:center;
}
.cmpt_photos{
    width:320px;
    height:383px;
    float:left;
    border:0.5px solid grey;
    background-color:white;

}

.cmpt_photo{
    width:100px;
    height:100px;
    border:0.5px solid grey;
    text-align:center;
    line-height: 100px;
    float:left;
    margin: 3px;

}

.cmpt_photo{
    width:100px;
    height:100px;
    border:0.5px solid grey;
    text-align:center;
    line-height: 100px;

}

.mb0{
    margin-bottom:0px;

}

.bgw{

    background-color:white;
    margin-bottom:0px;
}

.hr{
    margin:0px;
    margin-bottom:5px;
    border: 0.5px solid grey;    
}

/* Reservation Facility info */
.fct_label{
    display:block;
    float:left;
    line-height: 18px;
    margin-left:10px;
}

.cbx{
    display:block;
    float:left;
    margin-left:10px;
    margin-top:-4px;
}

.cbx input[type=checkbox]{
    height:20px;
}

.fct_label_l{
    width: 130px;
    display:block;
    float:left;
    line-height: 35px;
}

.fct_label_lg{
    width: 180px;
    display:block;
    float:left;
    line-height: 35px;
    margin-left:10px;
  
}

.fct_label_s{
    width: 50px;
    display:block;
    float:left;
    line-height: 35px;
    margin-left:10px;
}

.fct_input_l{
    
    float:left;
}

.fct_input_s{
    float:left;
}


textarea.txt_facility_rule {
    resize:none; width:100%;

#comp_profile{
    width:300px; height:300px; border:1px solid #cdcdcd; float:right;
}

.form_cont, .btn_cont{
    display:inline-block; max-width:1000px; width:100%;
}

.btn_cont{
    text-align:right; margin-top: 30px;
}



/* personal info */



/* email template */

.template_content {
    margin-bottom: 40px;
}