<template>
    <div class="container_block" @scroll="scroll()">
            <div class="header_category ">
                <div class="justify-content-center header_category_list">
                    <div @click="getMaintenanceListByBID(1, 'i',0)" :class="['col-xs-6 col-xs-6-top',this.type=='i'&&this.id==0?'active':'']" >Incomplete</div>
                    <div @click="getMaintenanceListByBID(1, 'a',0)" :class="['col-xs-6 col-xs-6-top',this.type=='a'&&this.id==0?'active':'']">All</div>
                </div>
                <div class="header_category_filter">
                    <i class="fas fa-filter" v-on:click="filterShow = !filterShow"></i>
                    <ul id="filter_list" v-show="filterShow">
                        <li  v-for="(pkey, pval) in progresses" @click="getMaintenanceListByBID(1,'a',pkey.id) ; filterShow = !filterShow">
                            <div class="filter_color" :class="pkey.class"></div>
                            <div class="filter_content">{{pkey.title}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="card" v-for="(data, val) in maintenance_list">
            <span :class="['pbar',progresses[data.progress-1].class]"></span>
            <div v-on:click="minfo(data.id)" class="card_body">
                <div>
                    <h4 class="card_title">
                        {{data.title}}
                    </h4>
                    <span class="card_date">{{data.created_at}}</span>
                </div>
                <div :class="['progressbar',progresses[data.progress-1].class]">
                    {{data.progress_txt}}
                </div>
                <div class="card_content card-text card-text-size">
                    {{data.content}}
                </div>
                <!-- <div class="minfo">
                    <a v-bind:href="'/tenants/maintenance_list/'+data.id" class="icon">
                        <span class="info">More info</span>
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:[],
    data(){
        return{
            id:0,
            page: 1,
            type: 'i',
            total: 0,
            ajaxRunning: false,
            filterShow: false,
            progresses:[
                    {'id': 1, 'class':"bg-primary", 'color': '#', 'title': 'New'},
                    {'id': 2, 'class':"bg-warning", 'color': '#', 'title': 'In Progress'},
                    {'id': 3, 'class':"bg-success", 'color': '#', 'title': 'Completed'},
                    {'id': 4, 'class':"bg-danger", 'color': '#', 'title': 'Closed'},
                    {'id': 5, 'class':"bg-info", 'color': '#', 'title': 'Awaiting Contractor'},
                    {'id': 6, 'class':"bg-light", 'color': '#', 'title': 'Awaiting Approval'},
                    {'id': 7, 'class':"bg-white", 'color': '#', 'title': 'Commitee Approval'},
                    {'id': 8, 'class':"bg-secondary", 'color': '#', 'title': 'Admin Approval'},
                    {'id': 9, 'class':"bg-dark", 'color': '#', 'title': 'Building Manager Discretion'}
                ],
            maintenance_list:[],
            
        }
    },
    mounted(){
        this.scroll();
    },
    created(){
        
        this.getMaintenanceListByBID(this.page, this.type,this.id);
    },

    methods:{

        scroll:function(){
            var _this = this;
            window.onscroll = () => {
                let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    if (_this.maintenance_list.length < _this.total && _this.ajaxRunning == false) {
                        _this.page= _this.page + 1;
                        _this.getMaintenanceListByBID(_this.page, _this.type,_this.id);
                    }
                }
                
            };
        },
        getMaintenanceListByBID:function(page, type,id) {
            var _this = this;
            this.ajaxRunning = true;
            _this.maintenance_list = _this.page > 1 ? _this.maintenance_list : [];
            _this.id = id;

			axios.get('/tenants/maintenance_list/p='+page+'&type='+type+'&id='+id).then(function (response) {
                //console.log(id);
					if (response.data.data.length > 0) {
                        var list_result = response.data.data;
                        if (page > 1) {
                            for (var i = 0; i < list_result.length;i++) {
                                _this.maintenance_list.push(list_result[i]);
                            }
                        } else {
                            _this.maintenance_list = list_result;
                        }
                        _this.page = page;
                        _this.total = response.data.total;
                        _this.type = type;
                        _this.ajaxRunning = false;
                    }
                    _this.$forceUpdate();
			}).catch(function (error) {
                _this.page = _this.page > 1 ? _this.page - 1 : 1;
                _this.ajaxRunning = false;
				console.log(error);
			})
        },

        minfo: function(id){

            window.location.href='/tenants/maintenance_list/'+id;
        },

    }
};
</script>

<style scoped>
    .card_body .card_content  {
        padding-bottom: 20px;
    }
    .container-fluid{
            margin-top: 5%;
            height: 700px;
    }

    span.pbar{
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        border-radius: 10px 0 0 10px;
        left: 0.5px;

    }
    .row-top{
        border: 0.1px solid #d8d1d1;
        margin-top: 5%;
        position: relative;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 8px 6px -6px #286275;
    }

    .col-xs-6-top{
        text-align: center;
    }

    .card{
        border: 0.5px solid #d8d1d1;
        margin-top: 5%;
        border-radius: 10px;  
        background-color: white;
        position: relative;
        box-shadow: 0 8px 6px -6px #286275;
    }
    .card_body{
        padding: 10px 0 10px 15px;
        position: relative;
    }

    .card_body:active{
        background: rgb(55,156,214, .2);
        border-radius: 10px;
    }

    h5.card-title{
        margin-top: 0;
        font-weight: 600;
    }

    span.time{
        font-size: 10px;
        font-weight: 100;
    }

    .progressbar{
            position: absolute;
            right: 0.08%;
            top: 9.5%;
            width:90px;
            min-height: 25px;
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            color: white;
            /* background-color:#FFD800; */
            line-height:1.2;
            padding: 5px 0px;
    }

    .minfo{
        width: 100%;font-size: .85em;padding: 0px 4%;text-align: right;
    }

    .card-text-size{
        padding: 2%;
        min-height: 50px;
        overflow: scroll;
    }
    .icon{
        color: #495872;
    }
    .info{
        font-weight: 100;padding-right: 3px;
    }

    .header_category_filter ul li:last-child{
        line-height: 1.5;
    }

    .bg-primary{
        background-color:#007bff
    }
    .bg-warning{
        background-color:#ff2407
    }
    .bg-secondary {
        background-color: #6c757d
    }  
    .bg-success {
        background-color: #28a745
    }
    .bg-info {
        background-color: #17a2b8
    }
    .bg-light {
        background-color: #251a11
    }
    .bg-dark {
        background-color: #343a40
    }
    .bg-white {
        background-color: rgb(175, 212, 39)
    }
    .bg-infoi{
        background-color: #17a2b8;
        border-radius: 10px 0 0 10px;
    }
    .bg-infoa{
        background-color: #4b8bda;
        border-radius: 0px 10px 10px 0;
    }
    .bg-danger{
        background-color: #ff9307
    }

    .report_link a{
        color: white;
    }

    .report_link button{
        padding: 0
    }

    @media only screen and (max-width: 360px) {
 
        .minfo{
            /* float: right; */
            padding-left: 10%;
        }
    }   


</style>