<template>
  <div class="">
    <div>
      <h3>{{detail.title}}</h3>
      <span class="time">{{detail.created_at}}</span>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="justify-content-center">
          <div class="col-xs-6 col-xs-6-left">
            Case No.
          </div>
          <div class="col-xs-6 col-xs-6-text">
            {{detail.id}}
          </div>
          <div class="col-xs-6 col-xs-6-left">
            Status
          </div>
          <div class="col-xs-6 col-xs-6-text">
            {{detail.progress}}
          </div>
          <div class="col-xs-6 col-xs-6-left">
            Case Type
          </div>
          <div class="col-xs-6 col-xs-6-text">
            {{detail.case_type}}
          </div>
          <div class="col-xs-6 col-xs-6-left">
            Category
          </div>
          <div class="col-xs-6 col-xs-6-text">
            {{detail.category_id}}
          </div>
          <div class="col-xs-6 col-xs-6-left">
            Job Area
          </div>
          <div class="col-xs-6 col-xs-6-text">
            {{detail.job_area}}
          </div>
          <div class="col-xs-6 col-xs-6-left">
            Priority
          </div>
          <div class="col-xs-6 col-xs-6-text">
            {{detail.priority}}
          </div>
        </div>
        <div class=" row-message">
          <div class="col-xs-6 col-xs-6-left">
            Message
          </div>
          <div class="col-xs-12 col-message">
            <p>{{detail.content}}</p>
          </div>
        </div>
        <div class="">
          <div class="col-xs-4" v-for="img in attachment">
            <div class="pic">
              <img v-bind:src="img.url" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h5 class="log-title">Progress</h5>
      </div>
      <div class="card-body log-body">
        <!-- <div class=" log-row">
          <div class="col-xs-6 col-xs-6-left">
            <span>Data/Time</span>
          </div>
          <div class="col-xs-6 col-xs-6-text">
            <span>Message</span>
          </div>
        </div> -->
        <div class=" log-row" v-for="data in progress_detail_log">
          <div class="col-xs-4">
            {{data.created_at}}
          </div>
          <div class="col-xs-8">
            {{data.message}}
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
export default {
    props:['detail','progress_detail_log','attachment'],
    data () {
      return {
        //publicPath: process.env.APP_URL
      }
    },
    mounted(){
      //console.log(this)
    }
}
</script>

<style scoped>
  .col-xs-6-left:first-child, .col-xs-6-text:first-child {
        padding-top: 10px;
  }
  .card-body {
        display: inline-block;
  }
  div h3{
    margin-bottom: 0;
    font-weight: 600;
  }

  .time{
      font-size: 12px;
      font-weight: 100;
  }

  .card{
        border: 0.5px solid #d8d1d1;
        margin-top: 5%;
        border-radius: 10px;  
        background-color: white;
        position: relative;    padding-top: 10px;
    }

  .card-body .row,.row-message{
    padding: 10px 10px 10px 0;
  }

  .col-xs-6-left,.col-xs-6-text{
    padding-top: 15px;
  }

  .col-xs-6-left{
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    padding-left: 20px
  }

  .col-xs-6-text{
    font-weight: 100;
    font-size: 15px
  }

  .col-xs-4 span{
    border: 1px solid black;
  }

  .col-message{
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    padding-left: 20px;
    margin-left: 6%;
    margin-top: 2%;
  }

  .row .col-xs-4 .pic{
    height: 100px;
    width: 100px;
    border: 0.5px solid #d8d1d1;
    margin-left: 4%
  }

  img{
    height: 100%;
    width: 100%;
  }

  .log-title{
    padding-left: 20px;font-size: 1.3em;
    font-weight: 600;
  }
  .log-body{
    font-size: 12px;
    font-weight: 100;
  }
  .card .card-body .log-row{
    padding-top: 2%;
    padding-left: 2%;    display: inline-block;
  }
  .log-detail-title{
    font-weight: 600;
  }

</style>