<template>
    <div id="notification">
        <div class="title">
            <h3>Notification</h3>
        </div>
        <div class="card" v-for="(item,val) in this.info">
            <div class="card_body">
                <div class="row">
                    <div class="col-xs-12 card_title">
                        <h4>{{item.title}}</h4>
                    </div>
                    <div class="col-xs-12 time">
                        <p>{{item.created_at}}</p>
                    </div>
                </div>
                <div class="row">
                <p class="col-xs-12 content card_content card_text card_text_size">{{item.content.replace(/(<([^>]+)>)/ig,"")}}</p>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {

    data(){
        return{
            info:[],
            month:0
        }
    },
    
    created() {
        // this.getMonth()
        // this.getNotification(this.month);
        //console.log(this)
    },

    mounted(){
        
    },

    methods:{

        getNotification:function(month){
            let _this = this
            axios.get('/tenants/get_notification/m='+month).then(function(response){
            //console.log(response.data)
            _this.info=response.data;
        }).catch(function(error){
            console.log(error)
            })
        },

        getMonth:function(){
            let m = new Date();
            this.month = m.getMonth()+1;
        },
        
    }
}
</script>

<style scoped>

    h3{
        margin-top:10px;
        font-weight: 900;
    }
    
    .row{
        margin: 0;
    }

    .card_title h4{
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 900;
        text-transform: capitalize;
    }


    p.col-xs-12.content{
        font-size: 0.9em;
        padding-bottom: 20px;
        padding: 2%;
    }

    .col-xs-12{
        padding: 0;
    }

    .card{
        border: 0.5px solid #d8d1d1;
        border-radius: 10px;
        margin-top: 5%;
        margin-bottom: 2%;
        background-color: white;
        -webkit-box-shadow: 0 8px 6px -6px #286275;
        box-shadow: 0 8px 6px -6px #286275
    }

    .card_body{
        padding: 10px 0 10px 15px;
    }

    .time{
        color: #999;
        font-size: .8em;
        margin-bottom: 6px;
        display: block;
        margin-top: 4px;
    }

</style>