<template>
    <div class='popup_cont' v-show="show_popup">
        <div class='popup_bg' @click="closePopup"></div>
        <div class='popup_content'>
            <div style="position:relative">
                  <div class='header'>
                        <button class="btn_closepopup" @click="closePopup">
                              <i class="fas fa-angle-left"></i>
                        </button>

                        <h3 class="col-md-10">
                             {{ popup_t.title }}
                        </h3>
                  </div>

                  <div class='content'>
                        <div class="gender_cont" v-if="popup_t.type=='gender'">  
                              <div class="row">
                                    <label>Gender</label>
                                    <input type="radio" name="txt_gender" class="txt_gender" value="m" v-model="gender">
                                    <label class="lbl_gender">Male</label>
                                    
                                    <input type="radio" name="txt_gender" class="txt_gender" value="f" v-model="gender">
                                    <label class="lbl_gender">Female</label>
                              </div>

                              <div class="row">
                                    <label>Birthday</label>
                                    <input type="date" :placeholder="'1999-01-01'" v-model="dob">
                              </div>
                        </div>     

                        <div class="contact_cont" v-if="popup_t.type=='contact'">     
                              <div class="row">
                                    <label>Contact No</label>
                                    <input type="text" placeholder="Enter Contact Number" v-model="contact">
                              </div>

                               <div class="row">
                                    <label>Mobile No</label>
                                    <input type="text" id="txt_mobile" name="txt_mobile" class="txt_mobile" placeholder="Enter Mobile Number" v-model="mobile">
                              </div>
                        </div>     

                        <div class="emerg_contact_cont" v-if="popup_t.type=='emerg_contact'">     
                              <div class="row">
                                    <label>Title</label>
                                    <select  v-model="emergency_title">    
                                          <option value="mr">Mr</option>
                                          <option value="mrs">Mrs</option>
                                          <option value="ms">Miss</option>
                                    </select>
                              </div>

                              <div class="row">
                                    <label>Name</label>
                                    <input type="text" placeholder="Enter Emergency Person Name"  v-model="emergency_person">
                              </div>

                               <div class="row">
                                    <label>Contact No</label>
                                    <input type="text" placeholder="Enter Contact Number"  v-model="emergency_no">
                              </div>
                        </div>   

                        <div class="pre_lang_cont" v-if="popup_t.type=='pre_lang'">     
                              <div class="row">
                                    <input type="text" placeholder="Enter Preferred Language" v-model="preferred_lang">
                              </div>
                        </div> 
                  </div>

                  <div class='footer'>
                        <button class="btn btn_submit" @click="onSubmit">Save</button>
                  </div>
            </div>
            
        </div>
    </div>
</template>
<script>
import EventBus from '../event-bus';
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'

export default {
      props: [],
      components: {

      },
      data(){
            return {
                  minDate: new Date(2017, 1, 1),
                  maxDate: new Date(2030, 12, 31),
                  error_msg : null,
                  show_popup : false,
                  popup_t : [],
                  gender: null,
                  dob: null,
                  mobile: null,
                  contact: null,
                  emergency_no: null,
                  emergency_person: null,
                  emergency_title: null,
                  preferred_lang: null,
            }
      },
      methods:{
            showPopup() {
                  this.show_popup = true;
            },
            closePopup() {
                  this.show_popup = false;
            },
            onSubmit: function (ev) {
                  var _this = this;
                  let formData = new FormData();

                  if (this.popup_t.type == 'gender') {
                        formData.append('action', 'update_gender');
                        formData.append('gender', this.gender);
                        formData.append('dob', this.dob);
                  } else if (this.popup_t.type == 'contact') {
                        formData.append('action', 'update_contact');
                        formData.append('mobile', this.mobile);
                        formData.append('contact', this.contact);
                  } else if (this.popup_t.type == 'emerg_contact') {
                        formData.append('action', 'update_emerg_contact');
                        formData.append('emergency_no', this.emergency_no);
                        formData.append('emergency_person', this.emergency_person);
                        formData.append('emergency_title', this.emergency_title);
                  } else if (this.popup_t.type == 'pre_lang') {
                        formData.append('action', 'update_pre_lang');
                        formData.append('preferred_lang', this.preferred_lang);
                  }


                  axios.post('/tenant/update_tenant_details', formData)
                              .then(function (response) {
                                    if (response.data.success == 1) {
                                          
                                          if (response.data.action == 'update_gender') {
                                                var update_info = {
                                                      'action' : response.data.action,
                                                      'gender' : _this.gender,
                                                      'dob' : _this.dob,
                                                }
                                          } else if (response.data.action == 'update_contact') {
                                                var update_info = {
                                                      'action' : response.data.action,
                                                      'mobile' : _this.mobile,
                                                      'contact' : _this.contact,
                                                }
                                          } else if (response.data.action == 'update_emerg_contact') {
                                                var update_info = {
                                                      'action' : response.data.action,
                                                      'emergency_person' : _this.emergency_person,
                                                      'emergency_no' : _this.emergency_no,
                                                      'emergency_title' : _this.emergency_title,
                                                }
                                          } else if (response.data.action == 'update_pre_lang') {
                                                var update_info = {
                                                      'action' : response.data.action,
                                                      'preferred_lang' : _this.preferred_lang
                                                }
                                          }

                                          EventBus.$emit("update_info",update_info);
                                          _this.show_popup = false;
                                    }
                              })
                              .catch(function (error) {
                                          // 
                              });
            }
      },
      mounted() {
            var _this = this;
            EventBus.$on('user_info', function (t, args) { 
                  if (t.type == 'gender') {
                        _this.gender = args.gender;
                        _this.dob = args.dob;
                  }

                  if (t.type == 'contact') {
                        _this.mobile = args.mobile;
                        _this.contact = args.contact;
                  }

                  if (t.type == 'emerg_contact') {
                        _this.emergency_no = args.emergency_no;
                        _this.emergency_person = args.emergency_person;
                        _this.emergency_title = args.emergency_title;
                  } 
                  
                  if (t.type == 'pre_lang') {
                        _this.preferred_lang = args.preferred_lang;
                  }


                  _this.popup_t = t;
                  _this.showPopup();
            });
  
      }
}
</script>

<style>
.k-widget.k-datepicker {
      flex:6 !important;
}

.lbl_gender {
      flex:2 !important;
}
.txt_gender {
      height: 25px;padding: 10px;flex: 1 !important;
}
.btn_submit {
      width: 80%;margin: 0px 0px 20px;height: 40px;background-color: green;color: #fff;border: 0px;border-radius: 20px;
}

.gender_hrow {
      height: 30px;float: left; font-size: 1.2em; margin-bottom: 5px;width: 50%;
}

.row {
      height: 40px;font-size: 1em; margin-bottom: 15px;display: flex;line-height: 40px;
}

.row label {
      flex: 3;
}

.row input, .row select {
      flex: 6;padding:0px 10px;
}

.popup_cont {
    width:100vw;height:100vh;position: fixed;top:0px;left:0px;z-index: 100000;
}

.popup_cont .popup_bg{
    background-color: rgba(0,0,0,.75);width: 100%;height: 100%;
}

.popup_cont .popup_content {
    background-color: #fff;height: 100vh;width:100vw;position: absolute;top: 0%;left: 0%; overflow-y: auto;overflow-x:hidden;
}

.popup_cont .popup_content .content {
    height: 100%;padding-top:35px;padding-bottom: 70px;display: inline-block;width: 100%;    padding-left: 30px;padding-right: 30px;
}

.popup_cont .popup_content .footer {
    text-align: center;width: 100%;bottom: 0px;background-color: #fff;
}

.popup_cont .btn_closepopup {
    height: 50px;background-color: #fff;border: 0px; font-size: 1.6em;display: inline-block;
}

.popup_cont .header {
    width:100%;height:50px;top: 0px;left: 0px;
}

.popup_cont .header > h3 {
    text-align: left;margin: 0px;height: 50px;line-height: 50px;padding-left: 15px;display: inline-block;
}


.tenant_info .info  label {
    width: 100%;margin: 0px;
}

.tenant_info .info {
    margin-bottom: 10px;min-height: 48px;
}

.tenant_info .info .sub_col {
    padding: 0px;
}
</style>