<template>
      
            <div class="card">
                  <div class="card-title"></div>
                  <div class="card-body">
                        <div class="container_block" >
                              <div class="trow">
                                    <label>Title</label>
                                    <input v-model="title" v-bind:class="title_err" placeholder=" Title" type="text">
                              </div>
                              <div class="trow">
                                    <label>Report Type</label>
                                    <select v-model="selected_case_type" v-bind:class="selected_case_type_err">
                                          <option  value= null> Report type (Repairs,maintenance etc.)</option>
                                          <option v-for="(key, data) in case_type" :value="key.value">{{ key.title }}</option>
                                    </select>
                              </div>  
                              <div class="trow">   
                                          <label>Category</label>
                                          <select v-model="selected_case_cate" v-bind:class="selected_case_cate_err">
                                                <option value= null> Choose your Category</option>
                                                <option v-for="(key, data) in case_cate" :value="key.id">{{ key.name }}</option>
                                          </select>
                                    
                              </div>
                              <div class="trow">
                                          <label>Area</label>
                                          <select v-model="selected_case_area" v-bind:class="selected_case_area_err">
                                                <option value= null> Common or private area</option>
                                                <option v-for="(key, data) in case_area" :value="key.value">{{ key.title }}</option>
                                          </select>
                              </div> 
                              <div class="trow">
                                    <label>Message</label>
                                    <textarea v-model="selected_case_desc" v-bind:class="selected_case_desc_err"></textarea>
                              </div>
                              <div class=" trow">
                                    <label>Upload Image</label>
                                    <input type="file" accept="image/*" @change="onImgChange($event)">
                              </div>
                              <div class="trow">
                                    <button id="btn_submit"  type="submit"  @click.prevent="onSubmit">
                                          Send To Admin
                                    </button>
                                    <button id="btn_cancel"  type="submit"  @click.prevent="onCancel">
                                          Cancel
                                    </button>
                              </div>
                         </div>
                  </div>
            </div>
     
</template>

<script>
export default {
      props: ['user_detail','case_type','case_area','case_cate'],
      components: {

      },
      data(){
            return {
                  title: null,
                  title_err:'',
                  selected_case_type: null,
                  selected_case_area: null,
                  selected_case_cate: null,
                  selected_case_img: null,
                  selected_case_desc: null,
                  selected_case_type_err: '',
                  selected_case_area_err: '',
                  selected_case_cate_err: '',
                  selected_case_img_err: '',
                  selected_case_desc_err: '',
            }
      },
      methods:{
            onImgChange: function(e) {
                  var _this = this;
                  var files = e.target.files || e.dataTransfer.files;
                  if (!files.length)
                        return;
                  
                  this.selected_case_img = files[0];
            },

            onSubmit: function (ev) {
                  ev.preventDefault();
                  this.selected_case_type_err = '';
                  this.selected_case_area_err = '';
                  this.selected_case_cate_err = '';
                  this.selected_case_desc_err = '';
                  this.title_err = '';

                  if(this.title == null){
                        this.title_err = 'err_active';
                  }

                  if (this.selected_case_type == null) {
                        this.selected_case_type_err = 'err_active';
                  }

                  if (this.selected_case_area == null) {
                        this.selected_case_area_err = 'err_active';
                  }

                  if (this.selected_case_cate == null) {
                        this.selected_case_cate_err = 'err_active';
                  }

                  if (this.selected_case_desc == null) {
                        this.selected_case_desc_err = 'err_active';
                  }

                  if (this.title_err != 'err_active'&&this.selected_case_type_err != 'err_active' && this.selected_case_area_err != 'err_active' && this.selected_case_cate_err != 'err_active' && this.selected_case_desc_err != 'err_active') {
                        let formData = new FormData();
                        const config = {
                              headers: { 'content-type': 'multipart/form-data' }
                        }
                        
                        formData.append('title', this.title);
                        formData.append('selected_case_type', this.selected_case_type);
                        formData.append('selected_case_area', this.selected_case_area);
                        formData.append('selected_case_cate', this.selected_case_cate);
                        formData.append('selected_case_desc', this.selected_case_desc);
                        formData.append('selected_case_img', this.selected_case_img == null ? '' : this.selected_case_img);

                        axios.post('/tenant/create_report', formData, config)
                                    .then(function (response) {
                                          if (response.data.success == 1) {
                                                
                                          }
                                    })
                                    .catch(function (error) {
                                          _this.output = error;
                                    });
                        
                  }
            },

            onCancel: function (){
                  
                  console.log(this)
                  // console.log(window.location.href="http://www.ezlinks.local/tenants/dashboard")
            }
      },
      created() {
            
      },
      mounted() {
            
      },
      destroyed () {
           
      }
}
</script>

<style scoped>
.card {
          padding: 25px 0px;
}
.container-fluid{
      margin-top: 7%;
      border: 0.5px solid #d8d1d1;
      border-radius: 10px;
      position: fixed;
      left: 1%;
      right: 2%;
}

.card-title h5{
      font-size: 20px;
      padding-left: 5%;
      font-weight: 600;
}

.container_block {
      display: inline-block;width: 100%;padding-bottom: 0px;
}
.err_active {
      border: 2px solid red !important;
}
#btn_submit {
      width: 100%;margin: 20px 0px; height: 40px; background-color: #55ce63;color: #fff;border: 0px;border-radius: 20px; display: block;
}
#btn_cancel {
      width: 100%;margin: 20px 0px; height: 40px; background-color: #ec5252;color: #fff;border: 0px;border-radius: 20px; display: block;
}

.container_block .trow {
      margin-bottom: 20px;display: inline-block;
    width: 100%;
}

.trow label{
          font-weight: 900;
    font-size: 1em;
}

input, select{
      height: 45px;width:100%;border: 1px solid #ddd;
      background-color: white;
      font-weight: 100;
}

textarea {
      height: 200px;width: 100%;border: 0.5px solid #ddd;;resize: none;
}

.container_block .trow .col-xs-6:first-child{
      padding-left:0px;
}

.container_block .trow .col-xs-6:last-child{
      padding-right:0px;
}

</style>