<template>
      <div class="container_block" >
           <h2>{{announcement.title}}</h2>
           <span class="announcement_date">{{ announcement.created_at }}</span>

           <p v-html="announcement.content"></p>
      </div>
</template>

<script>
export default {
      props: ['user_detail','announcement'],
      components: {

      },
      data(){
            return {
                 error_msg : null,
                 mobileMode: false,
                 csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
      },
      methods:{
            
         
      },
      created() {
            this.mobileMode = this.$parent.isMobile();
            
      },
      mounted() {
           
      },
      destroyed () {
            
      }
}
</script>

<style>

</style>