<template>
      <div class="container_block">
		  <ul id="parcel_type">
				<li :class="{ 'active' : cate_type == 0 }" v-on:click="updateCateType(0);"><i class="fas fa-boxes"><p>New Parcel</p></i></li>
				<li :class="{ 'active' : cate_type == 1 }" v-on:click="updateCateType(1);"><i class="fas fa-box-open"><p>History</p></i></li>
		  </ul>
		  <ul id="parcel_list">
			  <li class="empty_list" v-if="(cate_type == 0 && newParcelList.length == 0) || (cate_type == 1 && parcelHistoryList.length == 0)">
					<i class="fas fa-box"></i>
					<span>You have not parcel now!</span>
			  </li>
			  <li v-if="cate_type == 0" v-for="(key, data) in newParcelList" >
				  <div class="parcel_cont" :class="[key.parcel_status == '1' ? 'status_1' : 'status_2']">
					  <div class="header_info row">
							<div class="col-xs-5 less_padding" style="display:flex">
							<i class="parcel_comp_icon fas fa-dolly">&nbsp;</i>
							<div class="parcel_comp_details"  style="flex:2; line-height: 1;text-align: left;">
								<p>{{ key.courier_comp.toUpperCase()}}</p>
								<p class="parcel_date">{{ key.created_at.substring(0,11) }}</p>
							</div>	
							</div>
							<div class="col-xs-7 less_padding">
								<span class="status 1 " v-if=" key.parcel_status == 1" style="color :#FF0000;" > Status: Delivered </span>
								<span class="status 2 " v-if=" key.parcel_status == 2" style="color :coral;"> Status: Picking up </span>
							</div>
					  </div>
					  <div class="mid_info row">
						  <span class="admin_name col-xs-5 less_padding">Staff : {{ key.name }}</span>
						  <span class="tenant_name col-xs-6 less_padding"> Recipient: {{ key.first_name }}</span>
					  </div>
					  <div class="bottom_info row">
							<div class="parcel_num col-xs-12 less_padding">
								<p class="par_num">Number: {{key.barcode}}</p>
							</div>
					  </div>
					  <div class="get_code row" :class="[key.parcel_status == '1' ? 'status_button_1' : 'status_button_2']" @click="generateUniqueCode(key.id, key.parcel_status)" >
						  <div class="col-xs-4"></div>
						  <button class="col-xs-8" v-if="key.parcel_status == 1"><span>Pick up</span></button>
						  <button class="col-xs-8" v-else><span>Get pick up code</span></button>
					  </div>
				  </div>
				  <msgPopup v-show="popup_show" :title="popup_title" @hidePopup= "hidePopup" v-if="getCodeSuccess">
					<p>Unique code: {{ uniqueCode }} <br><br> Please check this code with admin to get your parcel.</p>
				  </msgPopup>
				  <msgPopup v-show="popup_show" :title="popup_title" @hidePopup= "hidePopup" v-else>
					<p> Get unique code failed, Please try again later or contact with building admin.</p>
				  </msgPopup>
			  </li>
			  <li v-if="cate_type == 1" v-for="(key, data) in parcelHistoryList" >
				  <div class="parcel_cont" :class="'status_3'" >
					  <div class="header_info row">
						  <div class="col-xs-5 less_padding" style="display:flex">
							<i class="parcel_comp_icon fas fa-clipboard-check" style="flex:1">&nbsp</i>
							<div class="parcel_comp_details"  style="flex:2; line-height: 1;text-align: left;">
								<p>{{ key.courier_comp.toUpperCase()}}</p>
								<p class="parcel_date">{{ key.created_at.substring(0,11) }}</p>
							</div>	
						  </div>
						  <div class="col-xs-7 less_padding">
							<span class="status 3"  style="color :#259D6D;" > Status: Picked up </span>
						</div>
					  </div>
					  <div class="mid_info row">
						  <span class="admin_name col-xs-5 less_padding">Staff : {{ key.name }}</span>
						  <span class="tenant_name col-xs-6 less_padding"> Picker: {{ key.picker_name }}</span>
					  </div>
					  <div class="bottom_info row">
						  <div class="col-xs-12 less_padding">
							
							<p class="pickup_date">Pick up at: {{ key.pickup_at.substring(0,16)}}</p>
						  </div>
					  </div>
					  <div class="have_question row" >
						  <div class="col-xs-4"></div>
						  <button class="col-xs-8"@click='questionButton'>
							  <span>Have question?</span>
						  </button>	
					  </div>
				  </div>
				  <msgPopup v-show="popup_show" :title="popup_title" @hidePopup= "hidePopup" >
						<p class="parcel_detail col-xs-6 less_padding"> Parcel Number: </p> <span class="col-xs-6 less_padding"> {{key.barcode.substring(0,20)}} </span>
						<p class="parcel_detail col-xs-6 less_padding"> Recipient: </p> <span class="col-xs-6 less_padding"> {{key.first_name}} </span>
						<p class="parcel_detail col-xs-6 less_padding"> Cert Type: </p> <span class="col-xs-6 less_padding"> {{key.picker_cert_type}} </span>
						<p class="parcel_detail col-xs-6 less_padding"> Code: </p> <span class="col-xs-6 less_padding"> {{key.unique_code}} </span>
						<p class="parcel_detail col-xs-6 less_padding"> Comment: </p> <span class="col-xs-6 less_padding"> {{key.comment}} </span>
						<p class="info"> If you have any question, please check with the building admin.</p>
				  </msgPopup>
			  </li>
			 
		  </ul>
	  </div>
</template>

<script>

import  msgPopup  from './tenant_popup_slot.vue';

export default {
	props: ['user_detail'],
      components: {
            msgPopup
      },
      data(){
            return {
				  popup_title: "Info",
				  popup_show: false,
				  getCodeSuccess: false,
                  cate_type : 0,
                  scrolledToBottom: false,
				  newParcelList: [],
                  parcelHistoryList: [],
				  uniqueCode: null,
                  page: 1,
                  mobileMode: false,
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
      },
	  methods:{
		  updateCateType(index) {
		       this.cate_type = index;
		  },
		  
		  getNewParcelList:function() {
			  var _this = this;
			  
				axios.get('/tenants/get_new_parcel').then(function (response) {
					
					if (response.data.length > 0) {
					  for (var i = 0; i < response.data.length; i++) {
							_this.newParcelList.push(response.data[i]);
					  }
					  
					  
					} else {
						  
					}
				}).catch(function (error) {
				    console.log(error);
				})
			},
				
				
			getParcelHistory:function() {
				var _this = this;
				
				axios.get('/tenants/get_parcel_history').then(function (response) {
					
					if (response.data.length > 0) {
						_this.uploadDocumentList = [];
						  for (var i = 0; i < response.data.length; i++) {
								_this.parcelHistoryList.push(response.data[i]);
								break;
						  }
						  
					} else {
						  
					}
				}).catch(function (error) {
					console.log(error);
				})
			},
			
			generateUniqueCode:function (parcel_id, parcel_status) {
				
				var _this = this;
				_this.parcel_id = parcel_id;
				_this.parcel_status = parcel_status;
				
				if (parcel_status == 1) {
					axios.post('/tenants/create_unique_code', {parcel_id: parcel_id, 'generate_code': 'y'}).then(function (response) {
						
						if (response.data.success == true) {
							
							for (var i = 0; i < _this.newParcelList.length; i++) {
								if (_this.newParcelList[i].id == parcel_id) {
									_this.newParcelList[i].parcel_status = 2;
									break;
								}
							}
							_this.getCodeSuccess = true;
							_this.uniqueCode = response.data.data.unique_code;
							_this.popup_show = true;
							
						} else {
							_this.popup_show = true;
							_this.getCodeSuccess = false;
						}
						_this.$forceUpdate();
					})
					
				} else {
					axios.post('/tenants/create_unique_code', {parcel_id: parcel_id, 'generate_code': 'n'}).then(function (response) {
						if (response.data.success == true) {
							_this.getCodeSuccess = true;
							_this.uniqueCode = response.data.data.unique_code;
							_this.popup_show = true;
							
						} else {
							_this.popup_show = true;
							_this.getCodeSuccess = false;
						}
						_this.$forceUpdate();
					})
				}
			},

		    hidePopup:function() {
			  this.popup_show = false;
			  this.$forceUpdate();
			  
			},
			
			questionButton: function() {
				this.popup_show = true;
			},
	},
	created() {
			console.log('1111');
			this.getNewParcelList();
			this.getParcelHistory();
		},

	}

</script>
<style>
body {
	background-color: #FFFFFF !important;
}
#parcel_type {
      background-color: #379CD6 ;margin-bottom: 25px;width: 100%; margin-left:-15px !important; margin-right:-15px !important; height:45px;line-height: 44px;display: flex; 
	  position: fixed; z-index: 1;
}

#parcel_type > li {
      flex:1;text-align: center; color: #FFFFFF;
	  
}

#parcel_type > li.active >i ::after {
      position: absolute;
	  bottom: 75%;
	  left: 30%;
	  width: 40%;
	  content: " ";
	  border-bottom: 0.1em solid #FFFFFF;
}

#parcel_type > li > i > p {
	display: none;
	color: #379CD6 ;
	padding-top: 0.75em;
	 -webkit-transform: scale(0.75);
}

#parcel_type > li.active > i > p {
	display: block;
	color: #FFFFFF;
	
}

#parcel_list {
	padding-top: 3em;
}

ul#parcel_list  {
	width:100%;display:inline-block;
}

ul#parcel_list li {
	  overflow-y: hidden;border-radius: 8px;border: 0px solid #ddd; width: 100%;background-color: #fff;
	  float: left; 
	  box-shadow: 3px 3px 3px gainsboro;
	  margin: 25px 0px 0px 0px;
}

ul#parcel_list li .parcel_cont {
	position: relative;
      overflow-y: hidden;
	  overflow-x: hidden;
	  padding: 0.1em 0;
	  height: 100% ;width: 100%; text-align: center; 
	  clear: both;
	 
}
.parcel_cont p{
	font-size: 0.75em;
	margin: 0.1em;
}
.status_1::before, .status_2::before, .status_3::before {
	position: absolute;
	top: 0%;
	left: 0%;
	
	height: 100%;
	content: " ";
	
}

.status_1::before {
	border-left: 0.5em solid red;
}

.status_2::before {
	border-left: 0.5em solid coral;
}

.status_3::before {
	border-left: 0.5em solid #259D6D;
}

.parcel_comp_icon {
	position : relative;
	font-size:1.5em;
}
.header_info {
	    padding-top: 5px;
}
.mid_info, .bottom_info, .get_code, .have_question {
	padding-left: 0.2em;
	height: 16%;
}
.header_info, .mid_info, .bottom_info, .get_code, .have_question {
	position: relative;
	width: 95%;    padding-left: 2.5%;
	margin-left: 2.5%; margin-right: 2.5%;    height: auto;
}

 .admin_name {
	flex: 1;
	position: relative;
	text-align: left;
	margin-top: 0.1em;

}
.tenant_name {
	text-align: right;
	float: right;
}

.status {
	
	font-size: 0.9em;
	text-align: right;
	float: right;
	
	
}
.less_padding {
	padding: 0.2em !important;
}


.status_button_1 button{
	background-color: red;
}

.status_button_2 button{
	background-color: coral;
}
.par_num {
	text-align: left;
	font-size: 0.9em !important;
}
.pickup_date {
	font-size: 0.9em !important;
	position: relative;
	text-align: right;
}
.get_code, .have_question {
	margin-top: 0.5em;
	flex-direction: column-reverse;
	align-items: flex-end;padding-bottom: 7px;
}
.status_button_1 button, .status_button_2 button{
	position: relative;
	border-radius: 20px;
	border: none;
}

.have_question button{
	
	background-color: #259D6D;
	position: relative;
	border-radius: 20px;
	border: none;
}

.parcel_cont button span {
	color: white;
}
.parcel_cont span {
	font-size: 1em;
}

.container_block .trow {
      margin-bottom: 20px;
}

.parcel_detail {
	text-align: left;
	margin-bottom: 0.5em;
}
.parcel_detail > span {
	float: left;
}

.info {
	color: coral;
}


</style>