<template>
      <div class="container_block" >
                  <section class="section_cont">
                        <header><h4>Building Amenities</h4></header>
                        <ul id="amenity_list" v-bind:class="selected_amenity_err">
                              <li v-for="(key, data) in amenity" @click="selectAmnity(key, data)" :key="key.id" v-bind:class="key.id == selected_amenity ? 'active' : ''">
                                    <span class="col-xs-9">{{ key.name }}</span>
                                    <i class="fas fa-check col-xs-3"></i>
                              </li>
							  <li @click="selectCarParking" v-bind:class="this.selected_car_park == true ? 'active' : '' ">
								  <span class="col-xs-9" >Car Parking</span>
								  <i class="fas fa-check col-xs-3"></i>
							  </li>
							  <input class="car_detail col-xs-6" type="text" v-model="number_plate" v-bind:class="number_plate_err" placeholder="Number Plate" v-if="this.selected_car_park == true">
							  <input class="car_detail col-xs-6" type="text" v-model="car_detail" v-bind:class="car_detail_err" placeholder="Color, Model, etc" v-if="this.selected_car_park == true">
							  
                        </ul>
                  </section>

                  <section class="section_cont">
                        <header><h4>Date & Time</h4></header>
                        <input type="date" v-model="selected_date"  v-bind:class="selected_date_err">
						
						<select  v-model="selected_time"  v-bind:class="selected_time_err" class="minimal" v-if="this.selected_car_park == true">
							<option value="0" disabled>Select Time</option>
							<option v-for="(key, data) in car_hours_list">{{key}}</option>
							
						</select>

                        <select  v-model="selected_time"  v-bind:class="selected_time_err" class="minimal" v-else>
                              <option value="0" disabled>Select Time</option>
                              <option v-for="(key, data) in hour_list">{{key}}</option>
							  
                        </select>
						
						
						
						
                  </section>


                  <button id="btn_booking"  type="submit"  @click.prevent="onSubmit">
                        Booking Now
                  </button>
            
      </div>
</template>

<script>
export default {
      props: ['user_detail','amenity'],
      components: {

      },
      data(){
            return {
                  selected_amenity: null,
                  selected_amenity_err: '',
                  selected_date: null,
                  selected_date_err: '',
                  selected_time: 0,
                  selected_time_err: '',
				  selected_car_park: false,
				  number_plate: null,
				  number_plate_err: '',
				  car_detail: null,
				  car_detail_err: '',
                  start_time: 6,
                  hour_limit: 2,
                  end_time: 21,
                  hour_list: [],
				  
				  car_hours_limit: 3,
				  
				  car_hours_list: [],
            }
      },
      methods:{
            selectAmnity: function(key, data) {
                  console.log(key);
				  this.selected_car_park = false;
                  if (key.hours_limit > 0) {
                        this.selected_amenity = key.id;
                        this.hours_limit = key.hours_limit;
                        this.initHourList();
                  } else {
                        this.hour_list = [];
                  }
            },
			selectCarParking:function() {
				this.selected_amenity = null;
				this.selected_car_park = true;
			},
            initHourList:function() {
                  this.hour_list = [];
                  for (var i = this.start_time; i <= this.end_time; i=(i*1)+(this.hour_limit*1) ) {
                        var sa = i < 12 ? 'AM' : 'PM';
                        var ea = ( i*1 ) + this.hour_limit < 12 ? 'AM' : 'PM';

                        var list = i+":00 "+sa+" - "+ (( i*1 ) + (this.hour_limit*1)) +":00 "+ea;
                        this.hour_list.push(list);
                  }
                  
            },
			initCarHourList:function() {
					this.car_hours_list = [];
					for (var i = this.start_time; i <= this.end_time; i=(i*1)+(this.car_hours_limit*1) ) {
					      var sa = i < 12 ? 'AM' : 'PM';
					      var ea = ( i*1 ) + this.car_hours_limit < 12 ? 'AM' : 'PM';
					
					      var list = i+":00 "+sa+" - "+ (( i*1 ) + (this.car_hours_limit*1)) +":00 "+ea;
					      this.car_hours_list.push(list);
					}
				
			},
            onSubmit: function (ev) {
                  ev.preventDefault();
				  this.selected_amenity_err = '';
				  this.selected_date_err = '';
				  this.selected_time_err = '';
				  
				  
				  
				  if (this.selected_date == null) {
				        this.selected_date_err = 'err_active';
				  }
				  
				  if (this.selected_time == 0 || this.selected_time == null) {
				        this.selected_time_err = 'err_active';
				  }
				  
				  if (!this.selected_car_park) {
					  if (this.selected_amenity == null) {
					        this.selected_amenity_err = 'err_active';
					  }
					  if (this.selected_amenity_err != 'err_active' && this.selected_date_err != 'err_active' && this.selected_time_err != 'err_active') {
					        var _this = this;
					        axios.post('/tenant/create_booking_request', {
					              selected_amenity: this.selected_amenity,
					              selected_date : this.selected_date,
					              selected_time: this.selected_time,
								  booking_type: 3
								  
					        })
					        .then(function (response) {
					              
					              if (response.data.success == 1) {
									  window.alert("Your Booking has been received, please wait for admin confirmation!")
									  window.location.href = "/tenants/reservation";
					              } else if (response.data.success == 0) {
					                    alert(response.data.msg);
					              }
					        })
					        .catch(function (error) {
					                    // 
					        });
					  }
				  } else {
					  if (this.car_detail == null || this.car_detail == '') {
						  this.car_detail_err = 'err_active';
					  } else {
						  this.car_detail_err = '';
					  }
					  
					  if (this.number_plate == null || this.number_plate == '') {
						  this.number_plate_err = 'err_active';
					  } else {
						  this.number_plate_err = '';
					  }
					  if (this.selected_date_err != 'err_active' && this.selected_time_err != 'err_active' && this.car_detail_err != 'err_active' && this.number_plate_err != 'err_active') {
					        var _this = this;
							
					        axios.post('/tenant/create_booking_request', {
					              // selected_amenity: this.selected_amenity,
					              selected_date : this.selected_date,
					              selected_time: this.selected_time,
								  number_plate: this.number_plate,
								  car_detail: this.car_detail,
								  booking_type: 5
					        })
					        .then(function (response) {
					              
					              if (response.data.success == 1) {

									  window.alert("Your Booking has been received, please wait for admin confirmation!")
									  window.location.href = "/tenants/reservation";
					                    
										
					              } else if (response.data.success == 0) {
					                    alert(response.data.msg);
					              }
					        })
					        .catch(function (error) {
					                    // 
					        });
					  }
				  }
                  

                  

                  
            }
      },
      created() {
            this.initHourList();
			this.initCarHourList();
      },
      mounted() {
            
      },
      destroyed () {
           
      }
}
</script>

<style>
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
      height: 45px;
    padding-left: 25px;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

input[type=date] {
      height: 45px;border: 0px;border-bottom: 1px dashed #ddd;padding-left: 20px;
}

select {
      height: 45px;border: 0px !important;-moz-appearance:none; /* Firefox */-webkit-appearance:none; /* Safari and Chrome */ appearance:none;
}

.section_cont {
        margin-top: 25px;min-height: 80px;background-color: #fff;margin-bottom: 25px;overflow-y: hidden;border-radius: 8px;border: 1px solid#ddd;
}

.section_cont header {
    border-bottom: 1px solid #ddd; padding: 10px; display: -webkit-box;display: -ms-flexbox;display: flex;
}

.section_cont header h4 {
    margin: 0px 0px;font-weight: 900;font-size: 1em;-webkit-box-flex: 4;-ms-flex: 4;flex: 4; padding: 0px 15px;
}

.err_active {
      border: 2px solid red !important;
}
.fas.fa-check {
      height: 55px;line-height: 55px;text-align: right;color: #fff;display: none;
}
#btn_booking {
      width: 90%;margin: 20px 0px; height: 40px; background-color: #55ce63;color: #fff;border: 0px;border-radius: 20px; display: block;margin-left: 5%;margin-top: 35px;
}
.col {
      display:inline-block;    width: 100%;
}
input, select{
      height: 35px;width:100%;border: 1px solid #ddd;
}
#amenity_list {
      background-color: #fff;
}

#amenity_list > li {
      height: 45px;line-height: 45px;padding: 0px 10px;border-bottom: 1px dashed #ddd;
}

#amenity_list > li.active {
      font-weight: 900;background-color: #55ce63; color: #fff;
}

#amenity_list > li.active .fas.fa-check {
      display: block;height: 45px;line-height: 45px;
}

#amenity_list > li:last-child {
      border-bottom: 0px;
}
#amenity_list > input {
	height: 45px;
	    line-height: 45px;
	    padding: 0px 10px;
	    border-bottom: 1px dashed #ddd;
		
		font-size: .9em;
}
</style>