<template>
      <div class="container_block">
            <div class="" v-if="mobileMode == true">
                  <!-- <div class="reservation_header">
                        <i class="far fa-calendar-check"></i>
                        <span>Make/Manage your booking</span>
                        <button><a href="/tenants/create_booking"> New Booking</a></button>
                  </div> -->
                  <ul id="reservation_list" style="margin-top: 20px !important;" @scroll.native="handleScroll" v-if="reservation_list.length > 0">
                        <li v-for="(key, data) in reservation_list">
							  <h4 v-if="key.typeId == 5"> Car Parking &nbsp;&nbsp;&nbsp;<span class="card_date" >{{ key.created_date }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num:{{key.details.split('|')[0]}}</span></h4>
                              <h4 v-else>{{ key.amenity_title }} &nbsp;&nbsp;&nbsp;<span class="card_date">{{ key.created_date }}</span></h4>
                              <div class="content_row">
									
                                    <div class="content_title">Date</div>
                                    <span>{{ key.start_date }}</span>
                                    <div class="content_title">Time</div>
                                    <span>{{ key.start_time }} - {{ key.end_time }}</span>
                              </div>

                              <div class="content_row">
                                    <div class="content_title">Status</div>
                                    <span :class="'status_'+key.status">{{ key.status }}</span>
                                    <div class="content_title"></div>
                                    <span></span>
                              </div>
                        </li>

                        <li class="empty_list"  v-if="reservation_list.length == 0">
							<i class="far fa-calendar-check"></i>
							<span>You have 0 booking record</span>
                            <a href="/tenants/create_booking">Create your booking now</a>
						</li>
                  </ul>
            </div>

            <div class="mobile_reminder" v-if="mobileMode == false">
                  <div class="mobile_cont">
                        <i class="fas fa-mobile-alt"></i>
                  </div>
                  <span>Our app is more compatible with mobile device,<br> please browse with your mobile</span>
            </div>
      </div>
</template>

<script>
export default {
      props: ['user_detail'],
      components: {

      },
      data(){
            return {
                 error_msg : null,
                 scrolledToBottom: false,
                 reservation_list: [],
                 page: 1,
                 mobileMode: false,
                 csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
      },
      methods:{
            scrollDetect:function() {
                  var _this = this;
                   window.onscroll = () => {
                        let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight

                        if (bottomOfWindow) {
                              _this.getReservationsList(_this.page);
                        }
                  }
            },
            getReservationsList:function(page) {
                        var _this = this;
                        axios.get('/tenants/get_reservation_list/p='+ page).then(function (response) {
                              console.log(response);
                              if (response.data.data.length > 0) {
                                    for (var i = 0; i < response.data.data.length; i++) {
                                          _this.reservation_list.push(response.data.data[i]);
                                    }
                                    _this.page = (_this.page*1) + 1;
									console.log(response.data.data);
                              } 
                              
                        })
                        .catch(function (error) {
                              // 
                              console.log(error);
                        });
            }
      },
      created() {
            this.mobileMode = this.$parent.isMobile();
            if (this.mobileMode == true) {
                  this.getReservationsList(this.page, this.user_detail.building_id);
            }
            window.addEventListener('scroll', this.scrollDetect);
      },
      mounted() {
            console.log(this.user_detail);
            this.csrf = myToken.csrfToken; 
      },
      destroyed () {
            window.removeEventListener('scroll', this.scrollDetect);
      }
}
</script>

<style>
.btn_create_booking {
      height: 40px;width: 40px;background-color: #3f3939;color: #fff;font-weight: 900;position: absolute;right: 15px;bottom: 15px;
}

.empty_list {
      margin: 25% 0px;text-align: center;
}

.empty_list span {
      margin-bottom: 40px;display: block;
}

.empty_list .icn_cont {
      font-size: 4em;
}

.empty_list a {
      background-color: #3f3939;color: #fff;padding: 8px 30px;border: 0px;border-radius: 20px;
}

.reservation_header {
    /* margin-bottom: 5%;
    height: 80px;
    line-height: 30px;
    padding: 20px 40px;
    background-color: #3f3939;
    border-radius: 8px;
    color: #fff;
    font-size: 2.4em;    margin-top: 25px; */
    width: 90%;
    margin: 20px 0px;
    height: 40px;
    background-color: #55ce63;
    color: #fff;
    border: 0px;
    border-radius: 20px;
    display: block;
    margin-left: 5%;
    margin-top: 35px;
    text-align: center;
    line-height:2.1
}

.reservation_header a{
      color: white;
}

.reservation_header > i {
      float: left;
}

.reservation_header > span {
      font-size: .35em;
      line-height: 40px;
      height: 40px;
     /* display: inline-block; */
      margin-left: 20px;
}

.status_Approved {
      color: green;font-weight: 900;
}

.status_Rejected {
      color: red;font-weight: 900;
}

.status_Pending {
      color: orange;font-weight: 900;
}

ul#reservation_list li {
      box-shadow: 0 8px 6px -6px #286275;height: auto;background-color: #fff;margin-bottom: 5%;overflow-y: hidden;border-radius: 8px;border: 1px solid #ddd;padding: 10px 0 10px 15px;
}

ul#reservation_list li .content_date {
      font-size: .55em;color: #ccc;
}

ul#reservation_list li .content_row {
      display: flex;font-size:.9em;margin-bottom: 5px;
}

ul#reservation_list li .content_row .content_title {
      flex: 1;font-weight: 900;
}

ul#reservation_list li .content_row span {
      flex: 2;
}

ul#reservation_list li h4 {
      margin-top: 0px;margin-bottom: 12px;font-weight: 900;
}
</style>