<template>
	<div class="container_block">
		<ul>
			<li v-for="(key, data) in phoneNumList" >
				<div class="agency_cont"> 
					
					<div class="col-xs-6 less_padding">
						<p class="agency_name">{{ key.agency}}  : </p>
					</div>
					<div class="col-xs-6 less_padding">
						<p class="agency_num">{{ key.phone_number}}</p>
					</div>
					
				</div>
			</li>
		</ul>
	</div>
	
</template>

<script>
	export default {
		data() {
			return{
				phoneNumList:[],
			}
		},
			
		methods:{
			getPhoneNumList:function() {
				  var _this = this;
					axios.get('/tenants/get_address_book').then(function (response) {
						if (response.data.length > 0) {
						  for (var i = 0; i < response.data.length; i++) {
								_this.phoneNumList.push(response.data[i]);
						  }
						  
						} else {
							  
						}
					}).catch(function (error) {
						
					})
				},
		},
		mounted(){
			this.getPhoneNumList();
		}
	}
</script>

<style>
	.agency_cont {
		background-color: white;
		border: gainsboro 1px solid;
		border-radius: 6px;
		margin: 10px 0;
		width: 100%;
		height: 60px;
	}
	.less_padding {
		margin-top: 20px;
		padding: 0 10px!important;
		
	}
	.agency_cont > div > p{
		color: #000000;
		font-family: arial;
		font-size: 12px;
	}
	.agency_num {
		float: right;
	}
		
</style>
