<template>
      <div class="container_block" >
            <div class="slides" v-if="mobileMode == true">
                  <transition-group 
                        name="slide"
                        mode="out-in"
                        enter-class="slide-in"
                        leave-class="slide-out"
                        enter-active-class="animated slide-in-active"
                        leave-active-class="animated slide-out-active">
                        <div v-for="(index, data) in adv_list" class="sliding_img"
                              v-if="index.id == active"
                              :key="index.id"  v-bind:style="{ 'background-image': 'url(' + index.url + ')' }"> </div>
                  </transition-group>

                  <span class="prev" @click="move(-1)">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </span>
                  <span class="next" @click="move(1)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </span>

                  <ul class="dots">
                        <li 
                              v-for="(dot, index) in adv_list"
                              :class="{ active: ++index === active }"
                              @click="jump(index)"
                        ></li>
                  </ul>
            </div>

            <section id="announcement_cont" class="section_cont" v-if="mobileMode == true">
                  <header>
                        <h4>Latest Announcements</h4>
                        <a href="/tenants/announcement">More +</a>
                  </header>
                  <ul id="announcement_list"  v-if="announcement_list.data.length > 0">
                        <li v-for="(key, data) in announcement_list.data">
                              <div class="announcement_cont">
                                    <h5>{{ key.title }}</h5>
                                    <span class="announcement_date">{{ key.created_at }}</span>
                                    <p>{{ key.content }} <a href="" class="readmore">Read More</a></p>
                              </div>
                             
                        </li>
                  </ul>

                  <div class="empty_list"  v-if="announcement_list.data.length == 0">
                        <div class="icn_cont">
                              <i class="fas fa-bullhorn"></i>
                        </div>
                        <span>There is no any announcement lately!</span>
                  </div>
            </section>

            <section id="reservation_cont" class="section_cont" v-if="mobileMode == true">
                  <header>
                        <h4>My Bookings</h4>
                        <a href="/tenants/reservation">More +</a>
                  </header>
                  <ul id="reservation_list">
                        <li v-for="(key, data) in reservation_list.data">
                              <h4>{{ key.amenity_title }} &nbsp;&nbsp;&nbsp;<span class="content_date">{{ key.created_date }}</span></h4>
                              <div class="content_row">
                                    <div class="content_title">Date</div>
                                    <span>{{ key.start_date }}</span>
                                    <div class="content_title">Time</div>
                                    <span>{{ key.start_time }} - {{ key.end_time }}</span>
                              </div>

                              <div class="content_row">
                                    <div class="content_title">Status</div>
                                    <span :class="'status_'+key.status">{{ key.status }}</span>
                                    <div class="content_title"></div>
                                    <span></span>
                              </div>
                        </li>
                  </ul>

                  <div class="empty_list" v-if="reservation_list.data.length == 0">
                        <div class="icn_cont">
                              <i class="far fa-calendar-check"></i>
                        </div>
                        <span>You have 0 booking record</span>
                        <a href="/create_booking">Create your booking now</a>
                  </div>
            </section>

            <section class="mobile_reminder" v-if="mobileMode == false">
                  <div class="mobile_cont">
                        <i class="fas fa-mobile-alt"></i>
                  </div>
                  <span>Our app is more compatible with mobile device,<br> please browse with your mobile</span>
            </section>
      </div>
</template>

<script>
export default {
      props: ['user_detail','adv_list','reservation_list','announcement_list'],
      components: {

      },
      data(){
            return {
                 error_msg : null,
                 mobileMode: false,
                 slides: 5,
                 active: 1,
                 csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
      },
      methods:{
            move(amount) { console.log(amount);
                  let newActive
                  const newIndex = this.active + amount
                  if (newIndex > this.adv_list) newActive = 1
                  if (newIndex === 0) newActive = this.adv_list
                  this.active = newActive || newIndex
            },
            jump(index) {
                  this.active = index
            },
            
      },
      created() {
            this.mobileMode = this.$parent.isMobile();
      },
      mounted() {
           
      },
      destroyed () {
            
      }
}
</script>

<style>
.slides > span[mode='out-in'] {
      width: 100%;height: 100%;display: block;
}

.slides .sliding_img {
      background-position: center center;background-repeat: no-repeat;background-size: cover;height: 100%;border-radius: 8px;
}

.prev, .next {
      position: absolute;top: 50%;width: 25px;height: 25px;border: 2px solid #221e21;color: #221e21;border-radius: 50%;margin-top: -25px;margin-left: 25px;cursor: pointer;line-height: 22px;font-size: 14px;text-align: center;text-indent: -2px;transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.prev:hover, .next:hover {
      background: #221e21;color: #fff;transform: scale(1.2);
}
  
.prev:active, .next:active  {
      transform: translate(0, 3px) scale(1.2);
}

.prev {
      left:-15px;
}

.next {
      right: -15px;margin-left: auto;margin-right: 25px;text-indent: 2px;
}

.slides {
      position: relative;font-size: 40px;display: flex;height: 200px;margin: 0px 0px 25px 0px;padding-right: 0px;align-items: center;justify-content: center;font-weight: bold;
}

ul.dots {
      position: absolute;display: block;width: 100%;text-align: center;bottom: 0px;   
}

ul.dots > li {
      width: 6px;height: 6px;border-radius: 3px;background: #221e21;opacity: 0.2;display: inline-block;margin: 0 3px;cursor: pointer;transition: opacity 0.4s ease-in-out,width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ul.dots > li.active  { 
      width: 22px;opacity: 1;
}

.empty_list {
      margin: 25% 0px;text-align: center;
}

.empty_list .icn_cont {
      font-size: 4em;margin-bottom: 20px;
}

.section_cont {
      min-height: 180px;background-color: #fff;margin-bottom: 25px;overflow-y: hidden;border-radius: 8px;border: 1px solid #ddd;
}

#reservation_cont.section_cont {
      min-height: 140px;
}

.section_cont header {
      border-bottom: 1px solid #ddd; padding: 10px;display: flex;
}

.section_cont header h4 {
      margin: 0px 0px;font-weight: 900;font-size: 1em;flex: 4;
}

.section_cont header a {
      flex: 1;text-align: right;font-size: .7em;line-height: 18px;
}

ul#announcement_list li .announcement_cont {
      height: 130px;overflow-y: hidden;padding: 15px 10px;
}

ul#announcement_list li .announcement_cont p {
      font-size: .8em;line-height: 1.4em;
}

ul#announcement_list li a.readmore {
      color: #cbb681;
}

ul#announcement_list li h5 {
      margin-top: 0px;margin-bottom: 0px;font-weight: 900;
}

ul#announcement_list li .announcement_date {
      color: #999;font-size: .7em;margin-bottom: 6px;display: block;
}



.status_Approved {
      color: green;font-weight: 900;
}

.status_Rejected {
      color: red;font-weight: 900;
}

.status_Pending {
      color: orange;font-weight: 900;
}

ul#reservation_list li {
      height: 100px;background-color: #fff;overflow-y: hidden;padding: 15px 10px;
}

ul#reservation_list li .content_date {
      font-size: .55em;color: #ccc;
}

ul#reservation_list li .content_row {
      display: flex;font-size:.75em;margin-bottom: 5px;
}

ul#reservation_list li .content_row .content_title {
      flex: 1;font-weight: 900;
}

ul#reservation_list li .content_row span {
      flex: 2;
}

ul#reservation_list li h4 {
      margin-top: 0px;margin-bottom: 7px;font-weight: 900;
}
</style>