<template>
      <div class="container_block">
		 <ul id="document_type" class="header_category">
				<li :class="{ 'active' : cate_type == 0 }" v-on:click="updateCateType(0);"><i class="fas fa-download"><p>Community Files</p></i></li>
				<li :class="{ 'active' : cate_type == 1 }" v-on:click="updateCateType(1);"><i class="fas fa-upload"><p>My Files</p></i></li>
				<li :class="{ 'active' : cate_type == 2 }" v-on:click="updateCateType(2);"><i class="fas fa-plus"><p>Uploaded File</p></i></li>
				
		 </ul>		
		 <ul id="document_list">
			 <li class="empty_list" v-if="(cate_type == 0 && sentDocumentsList.length == 0) || (cate_type == 1 && uploadDocumentList.length == 0)">
				<i class="far fa-file-image"></i>
				<span>No documents have been published!</span>
			</li>

			<li v-if="cate_type == 0" v-for="(key, data) in sentDocumentsList" >
				<div class="document_cont"> 
					<div class="document_thumb">
						<div class="documents_detail_1 row">
							<img class="col-xs-4 less_padding" v-if="(key.type === 'png' )||(key.type === 'pdf')||(key.type === 'bmp')||(key.type === 'doc')||(key.type === 'gif')||(key.type === 'jpg')||(key.type === 'mp4')||(key.type === 'ppt')||(key.type === 'txt')||(key.type === 'wma')||(key.type === 'xls')||(key.type === 'zip') " v-bind:src="'/images/icons/' + 'icn_' + key.type + '.jpg'" alt="altText"/>
							<img class="col-xs-4 less_padding" v-else v-bind:src="'/images/icons/icn_others.jpg'" alt="altText"/>
							<div class="col-xs-8 less_padding">
								<p class="docs_name">{{ key.title.split(".")[0].substring(0,10) }} ...</p>
								<p class="docs_type">{{ key.title.split(".")[1].toUpperCase() }}</p>
							</div>
						</div>
						<div class="documents_detail_2 row">
							<span class="col-xs-8 document_date">{{ key.created_at }}</span>
							<span class="col-xs-4 uploader">{{ key.name }}</span>
							
							
						</div>
						<button class="delete" @click="deleteFile($event, key.id, 1)">
							<i class="fas fa-times"></i>
						</button>
						<div class="read" >
							<a :href="key.path.substring(1) + '/' + key.title" target="_blank" v-if="(key.type === 'png') || (key.type === 'jpg')|| (key.type ==='doc') || (key.type ==='txt') || (key.type === 'docs')|| (key.type ==='bmp')" >								  
								
							</a>
							<a :href="key.path.substring(1) + '/' + key.title" target="_blank" v-else download="key.title">
								
							</a>
						</div>			
					</div>
				</div>
			</li>

			<li v-if="cate_type == 1" v-for="(key, data) in uploadDocumentList" >
				<div class="document_cont">
					<div class="document_thumb">
						<div class="documents_detail_1 row">
							<img class="col-xs-4 less_padding" v-if="(key.type === 'png' )||(key.type === 'pdf')||(key.type === 'bmp')||(key.type === 'doc')||(key.type === 'gif')||(key.type === 'jpg')||(key.type === 'mp4')||(key.type === 'ppt')||(key.type === 'txt')||(key.type === 'wma')||(key.type === 'xls')||(key.type === 'zip') " v-bind:src="'/images/icons/' + 'icn_' + key.type + '.jpg'" alt="altText"/>
							<img class="col-xs-4 less_padding" v-else v-bind:src="'/images/icons/icn_others.jpg'" alt="altText"/>
							<div class="col-xs-8 less_padding">
								<p class="docs_name">{{ key.title.split(".")[0].substring(0,10) }} ...</p>
								<p class="docs_type">{{ key.title.split(".")[1].toUpperCase() }}</p>
							</div>
						</div>
						<div class="documents_detail_2 row">
							<span class="col-xs-6 document_date">{{ key.created_at }}</span>
						</div>
						<button class="delete" @click="deleteFile($event, key.id, 2)">
							<i class="fas fa-times"></i>
						</button>
						<div class="read" >
							<a :href="key.path.substring(1) + '/' + key.title" target="_blank" v-if="(key.type === 'png') || (key.type === 'jpg')|| (key.type ==='doc') || (key.type ==='txt') || (key.type === 'docs')|| (key.type ==='bmp')" >								  
									
							</a>
							<a :href="key.path.substring(1) + '/' + key.title" target="_blank" v-else download="key.title">
							
							</a>
						</div>
					</div>
				</div>
			</li>
			<div v-if="cate_type == 2">
				<div id="upload_file_cont">
					<h4>Upload file</h4>
					<input type="file" accept="image/*, application/*, text/plain" @change="onUploadChange($event)">
				</div>
				  
				<div class="">
					<button id="btn_submit"  type="submit"  @click.prevent="onSubmit">
							Upload Now
					</button>
		
					<msgPopup v-show="popup_show" :title="popup_title" @hidePopup= "hidePopup">
						<p v-if="upload_file_miss">Please select a file!</p>
						<div v-else>
							<p v-if="upload_success">Uploaded successfully</p>
							<p v-else>Upload failed <br> Please upload again!</p>
						</div>
					</msgPopup>
				</div>
			</div>
		 </ul>
	  </div>
</template>

<script>

import  msgPopup  from './tenant_popup_slot.vue';

export default {
	props: ['user_detail'],
      components: {
            msgPopup
      },
      data(){
            return {
				  popup_title: "Info",
				  popup_show: false,
                  cate_type : 0,
                  error_msg : null,
				  upload_file_miss: false,
				  upload_success : false,
                  scrolledToBottom: false,
				  sentDocumentsList: [],
                  uploadDocumentList: [],
				  upload_file : null,
				  imgUrl : null,
                  page: 1,
				  msgShow: false,
				  uploadStatus: false,
				  msgContent: '',
                  mobileMode: false,
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
      },
	  methods:{
		  updateCateType(index) {
		                    this.cate_type = index;
		  },
		  
		  getSentDocumentsList:function() {
			  var _this = this;
				axios.get('/tenants/get_sent_docs').then(function (response) {
					if (response.data.length > 0) {
					  for (var i = 0; i < response.data.length; i++) {
							_this.sentDocumentsList.push(response.data[i]);
					  }
					  console.log(_this.sentDocumentsList)
					} else {
						  console.log('there is nothing')
					}
				}).catch(function (error) {
				    console.log(error);
				})
			},
				
				
			getUploadDocumentsList:function() {
				var _this = this;
				var _imgUrl = null;
				axios.get('/tenants/get_upload_docs').then(function (response) {
					
					if (response.data.length > 0) {
						_this.uploadDocumentList = [];
						  for (var i = 0; i < response.data.length; i++) {
								_this.uploadDocumentList.push(response.data[i]);
								console.log(response.data[i].type);
						  }
						  
					} else {
						  console.log('there is nothing')
					}
				}).catch(function (error) {
					console.log(error);
				})
			},
			
			
			
			onUploadChange: function(e) {
			            var _this = this;
			            var files = e.target.files || e.dataTransfer.files;
			            if (!files.length)
			                  return;
			            
						this.upload_file = files[0];
						console.log(this.upload_file)
			      },
			
			onSubmit: function (ev) {
				
				ev.preventDefault();
				var _this = this;
				let formData = new FormData();
				const config = {
					headers: { 'content-type': 'multipart/form-data' }
				}
				if (this.upload_file == null) {
					_this.upload_file_miss = true;
					_this.popup_show = true;
				} else {
					_this.upload_file_miss = false;
					_this.popup_show = false;
				
				
				
				formData.append('upload_file', this.upload_file == null ? '' : this.upload_file);

				
				  axios.post('/tenants/upload_docs', formData, config)
							  .then(function (response) {
						
						
						if (response.data.success == 1) {
							
							_this.getUploadDocumentsList();
							_this.$forceUpdate();
							_this.popup_show = true;
							_this.upload_success = true;
			
						} else {
							_this.getUploadDocumentsList();
							_this.$forceUpdate();
							_this.popup_show = true;
							_this.upload_success = false;
							
						}
						
						
				  })
				  .catch(function (error) {
						console.log(error);
				  })
				  };
					  
				
		  },
		  
		  hidePopup:function() {
			  
			  if (this.upload_file_miss) {
				  this.popup_show = false;
				  this.upload_success = false;
			  } else {
				  location.reload();
			  }
			  
		  },
		  
		  deleteFile:function(e, id, listType) {
			  e.preventDefault();
			  if (confirm('Are you sure you want to delete this file?')) {
				  if (id != '' && id != null) {
					  var _this = this;
					  _this.listType = listType;
					  
					  axios.post('/tenants/delete_docs', {file_id: id}).then(function (response) {
						  
						  if (response.data.success == true) {
							  
							  if (_this.listType == 1) {
								  
								  for (var i = 0; i< _this.sentDocumentsList.length; i++) {
									  if(_this.sentDocumentsList[i].id == id) {
										  _this.sentDocumentsList.splice(i, 1);
									  }
								  }
							  } else {
								  
								  for (var i = 0; i< _this.uploadDocumentList.length; i++) {
									  
									  if(_this.uploadDocumentList[i].id == id) {
										  
										  _this.uploadDocumentList.splice(i, 1);
										  
									
									  }
									  
								  }
								  
							  }
							  _this.$forceUpdate();
							  
						  } else {
							  
						  }
					  }).catch(function (error) {
						  //
					  });
				  }
			  }
			  
			
		  },
		  readFile:function(filePath) {
			  console.log(filePath);
		  }
 			
	  },
	  
	  created() {
		this.getSentDocumentsList();
		this.getUploadDocumentsList();
	  },
}

</script>
<style>
#upload_file_cont h4 {
	font-weight: 900;
    font-size: 1em;
}
/* body {
	background-color: #FFFFFF !important;
} */
#document_type {
      
}

#document_type > li {
      flex:1;text-align: center; color: #FFFFFF;padding: 5px;
	  
}

.documents_detail_1 {
	padding: 5px 10px;
	
}

.documents_detail_2 {
	padding: 0 10px;
}

/* #document_type > li.active >i ::after {
      position: absolute;
	  bottom: 75%;
	  left: 30%;
	  width: 40%;
	  content: " ";
	  border-bottom: 2px solid #FFFFFF;
} */

#document_type > li > i > p {
	display: none;
	color: #379CD6 ;
	padding-top: 7px;
	font-size: .75em;
	 -webkit-transform: scale(0.75);
}

#document_type > li.active > i > p {
	display: block;
	color: #FFFFFF;
	
}

.less_padding {
	padding: 0 !important;
	
}
.docs_name, .docs_type {
	margin-top: 0.1em;
	margin-bottom: 0.5em !important;
	margin-left: 1em !important;
}



.btn_cont {
      height: 50px;position: absolute;bottom: 0px;width: 100vw;display: flex;margin-bottom: -2px;
}
.ad_content {
      padding: 0px 25px 50px;height: 93vh;overflow-y: auto;
}

.ad_content h2 {
      margin-bottom: 0px;margin-top: 0px;
}

.ad_content span {
      font-size: .75em;
}

.ad_content p {
      margin: 20px 0px;
}

.ad_header {
      width: 100vw;height: 7vh;line-height: 7vh;font-size: 1.6em;padding: 0px 10px;
}
.slideout.open-on-right.panel-2-custom-class {
      z-index:100000 !important;
}
.empty_list {
      margin: 25% 0px;text-align: center; width: 100% !important ; height: 100% !important;
}

.empty_list .icn_cont {
      font-size: 4em;margin-bottom: 20px;
}
#document_list {

}
ul#document_list li {
	  overflow-y: hidden;border-radius: 8px;border: 0px solid #ddd; width:98%;
      height: 90px;background-color: #fff;margin-bottom: 25px;
	  float: left; margin-left: 1%; margin-right: 1%;
	  box-shadow: 3px 3px 3px gainsboro;
}

ul#document_list li .document_cont {
	position: relative;
      overflow-y: hidden;
	  height: 100% ;width: 100%; text-align: center; 
}

ul#document_list li .document_cont .btn_cont {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;    overflow: hidden;
	left: 0;    display: flex;margin-bottom:0px;
}

ul#document_list li .document_cont .document_thumb {
	overflow: hidden;
	padding: 10px;
	
}

/* ul#document_list li .document_cont >* {
	float: initial;
} */


ul#document_list li .document_cont p {
	position: relative;     
    font-size: .9em;    overflow: hidden;
	text-align: left;
    line-height: 1em;
    overflow-wrap: break-word;
	  
}



	  
ul#document_list li .document_cont img {
	position: relative;
	float: left;
	text-align: left;
	width: 40px; height: 40px;
}

.btn_join {
      flex: 1;background-color:#55ce63;border: 0px;color:#fff;line-height: 26px;margin: 10px;    margin-top: 0px;height: 30px;
}

.btn_joint {
      font-weight:900;flex: 1;border:2px solid #55ce63;background-color:#fff;line-height: 26px;color:#55ce63;margin: 10px;margin-top: 0px;height: 30px;
}

ul#document_list li h5 {
	  float: left;
      position: absolute;
	  text-align: left;
	  top: 5%;
	  left: 10%;
	  font-size: .9em;line-height: 0.1em;
	  height: 10px;
	  -webkit-transform: scale(0.7);
}

ul#document_list li .document_date, .uploader {
	text-align: left;
    position: relative;
	float: left;
	padding-left: 0.5em;
    color: #999;
    font-size: .7em;
    vertical-align: top;
	  
}
.uploader {
	text-align: right !important;
}

.read {
    position: absolute;
    top: 0em;
    left: 0em;
    color: #fff;
	width: 100%;
	height: 100%;

}
.read > a {
	position: absolute;
	top: 0em;
	left: 0em;
	width: 100%;
	height: 100%;
}



.delete {
	background-color: red;
    position: absolute;
	top: 0em;
	right: 0em;
    color: #FFF;
    border: 0px;font-size: 1.2em;
	overflow: hidden;
	border-radius: 0 0 0 50% ;
	z-index: 9999;
	
}

.delete::after{
	position: absolute;
	bottom: 40%;
	left: 75%;
	width: 50%;
	content: " ";
	border-top: 1px solid gainsboro;
	transform: rotate(90deg);
}


/* ul#document_list li .document_cont::before {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	content: " ";
	border-top: 10px solid #379CD6;
} */
.document_cont >button >a >i, .document_cont >button >i {
	font-size: 12px;
}
.document_cont >button >a >i >span,  .document_cont >button >i > span{
	font-size: 12px;
	padding-bottom: 10px;
}



#btn_submit {
      width: 100%;margin: 20px 0px; height: 40px; background-color: #55ce63;color: #fff;border: 0px;border-radius: 20px; display: block;
}

.container_block .trow {
      margin-bottom: 20px;
}

input, select{
      height: 35px;width:100%;border: 1px solid #ddd;
}

textarea {
      height: 200px;width: 100%;border: 1px solid #ddd;resize: none;
}
</style>