<template>
	<div class="modal-bg" v-show="popup_show">
		<div class="modal-container">
			<div class="modal-header">
				{{ popup_title }}
			</div>
			<div class="modal-main row">
				<slot></slot>
			</div>
			<div class="modal-footer">
				<button @click="hidePopup">Confirm</button>
				
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'msgPopup',
		props: {
			popup_show: {
				type: Boolean,
				default: false,
			},
			popup_title: {
				type: String,
				default:'Info'
			},
			popup_cont: {
				type: String,
				default: ''
			},
		},
		methods: {
			hidePopup:function() {
				this.$emit('hidePopup')
			},
			popupGetCode:function() {
				this.$emit('popupGetCode')
			},
		}
	}
	
</script>

<style>
	.modal-bg {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,.5);
	    z-index: 10;
	}
	.modal-container {
	    background: #fff;
	    border-radius: 10px;
	    overflow: hidden;
	    position: fixed;
	    top: 50%;
	    left: 50%;
		max-width: 90%;
		min-width: 80%;
		text-align: center;
	    transform: translate(-50%,-50%);
	}
	.modal-header {
	    height: 40px;
	    background: #379CD6;
	    color: #fff;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    cursor: move;
	}
	.modal-footer {
		background-color: #259D6D;
		color: white;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    height: 40px;
	    border-top: 1px solid #ddd;
	}
	.modal-footer button {
	    width: 100px;
	}
	.modal-main {
	    padding:  10px 5px;
		margin: 0 !important;
	}
	.modal-main > span {
		text-align: left;
		margin: 0 0 0.5em 0;
	}
</style>
