<template>

 <div style="width:100%;margin:5px auto;height:200px">
      
      <slider ref="slider" :options="options" @slide='slide' @tap='onTap' @init='onInit'>
          
           <slideritem class="slideritem" v-for="(item,index) in advList" :key="index" :style="item.style"><a :href="item.url" target="_blank">{{item.html}}</a></slideritem>
          
          
      </slider>
 </div>
</template>
<script>
import { slider, slideritem } from 'vue-concise-slider'// import slider components
export default {
   name: 'advSlider',
   props: [
	   'advList',
   ],
   data () {
      return {
        options: {
          currentPage: 0,
          thresholdDistance:500,
          thresholdTime:5000,
          autoplay:5000,
          loop:true,
          direction:'horizontal',
          loopedSlides:1,
          slidesToScroll:1,
          timingFunction: 'ease',
          speed: 1200
        }
      }
    },
    components: {
      slider,
      slideritem
    },
    mounted () {
      
      
    },
    methods: {
      // Listener event
	  // getAdvList:function () {
		  
		 //  this.$emit('getAdvList');
	  // },
      slide (data) {
        
      },
      onTap (data) {
        
      },
      onInit (data) {
        
      }
    }
}
</script>
<style>
	.slideritem >a{
		width: 100%;
		height: 100%;
	}
</style>