<template>
      <div class="container_block" >
            <div class="" v-if="mobileMode == true">
                  <ul class="header_category">
                        <li :class="{ 'active' : cate_type == 0 }" v-on:click="updateCateType(0);"><i class="fas fa-bars"></i></li>
                        <li :class="{ 'active' : cate_type == 1 }" v-on:click="updateCateType(1);"><i class="fa fa-bullhorn"></i></li>
                        <li :class="{ 'active' : cate_type == 2 }" v-on:click="updateCateType(2);"><i class="fas fa-guitar"></i></li>
                        <li :class="{ 'active' : cate_type == 3 }" v-on:click="updateCateType(3);"><i class="fas fa-tools"></i></li>
                        <li :class="{ 'active' : cate_type == 4 }" v-on:click="updateCateType(4);"><i class="fas fa-percent"></i></li>
                        <li :class="{ 'active' : cate_type == 5 }" v-on:click="updateCateType(5);"><i class="fas fa-ellipsis-h"></i></li>
                  </ul>
                  <ul id="announcement_list" @scroll.native="handleScroll">
                        <li class="empty_list" v-if="announcement_list.length == 0">
							<i class="fa fa-bullhorn"></i>
							<span>No announcements have been published!</span>
						</li>
						<p class="announcement_type_title" v-if="cate_type == 0" > All annoucements</p>
						<p class="announcement_type_title" v-else-if="cate_type == 5"> Others </p>
						<p class="announcement_type_title" v-else>{{ announcement_title }}</p>
							
                        <li v-for="(key, data) in announcement_list" v-if="cate_type == 0 || key.type == cate_type">
                              <div class="announcement_cont" v-on:click="showUnitPanel(key.id, key.type, key.show_event_btn,key.joint, data )">
                                    <h4><i :class="generateCateTypeIcon(key.type)"></i>&nbsp;&nbsp;{{ key.title }}</h4>
                                    <span class="announcement_date">{{ key.created_at }}</span>
                                    <p>{{ key.content }}</p>
                              </div>
                              <div class="announcement_readmore">
                                    <!-- <a >Read More</a> -->
                                    <button class="btn_join" v-if="(key.type == 2 || key.type == 4) && (key.show_event_btn == true || key.show_event_btn == 1) && key.joint == false" v-on:click.prevent="joinEvent(key.id, data)">Join Now</button>
                                    <button class="btn_joint" v-if="(key.type == 2 || key.type == 4) && (key.show_event_btn == true || key.show_event_btn == 1) && key.joint == true">
                                          <i class="fas fa-check"></i>
                                          Joined
                                    </button>
                              </div>
                        </li>
                  </ul>

                  <div class="empty_list" v-if="announcement_list.length == 0">
                        <div class="icn_cont">
                              <i class="fas fa-bullhorn"></i>
                        </div>
                        <span>There is no any announcement lately!</span>
                  </div>
            </div>

            <div class="mobile_reminder" v-if="mobileMode == false">
                  <div class="mobile_cont">
                        <i class="fas fa-mobile-alt"></i>
                  </div>
                  <span>Our app is more compatible with mobile device,<br> please browse with your mobile</span>
            </div>

            <VueSlideoutPanel></VueSlideoutPanel>
            <script type="text/x-template" id="checkbox-template2">
                  <div style="width: 100vw;height: 100vh;">
                        <div class="ad_header">
                              <i class="fas fa-angle-left" v-on:click.prevent="closeADPanel"></i>
                        </div>

                        <div class="ad_content" v-if="aid">
                              <h2 v-html="a_content.title"></h2>
                              <span class="announcement_date" v-html="a_content.created_at"></span>

                              <p v-html="a_content.content"></p>
                        </div>
                        <div class="btn_cont">
                              <button class="btn_join" v-if="(type == 2 || type == 4) && (show_event_btn == true || show_event_btn == 1) && joint == false" v-on:click.prevent="joinEvent(aid, index)">Join Now</button>
                              <button class="btn_joint" v-if="(type == 2 || type == 4) && (show_event_btn == true || show_event_btn == 1) && joint == true">
                                    <i class="fas fa-check"></i>
                                    Joined
                              </button>
                        </div>
                  </div>
            </script>
      </div>
</template>

<script>
import { VueSlideoutPanel } from 'vue2-slideout-panel';
import { vueSlideoutPanelService } from 'vue2-slideout-panel';


Vue.component("panel-2", {
      name: "panel-2",
      template: '#checkbox-template2',
      props: {
            aid: Number,
            a_content: Object,
            joint: Boolean,
            show_event_btn : Boolean,
            type : Number,
            index: Number

      },
      data() {
            return {
                  error_msg: null,
                  is_joined: false,
            };
      },
      methods: {
            joinEvent(aid, index) {
                   var _this = this;
                  axios.post('/tenant/create_join_event', {
                        aid: aid,
                  })
                  .then(function (response) {
                        console.log(response.data);
                        if (response.data.success==true) {
                              _this.is_joined = true;
                              _this.closeADPanel();
                        } 
                  })
                  .catch(function (error) {
                              // 
                  });
            },
            closeADPanel() {
				this.slide_show = false;
			    this.$emit("closePanel", {'aid':this.aid, 'index': this.index, 'is_joined':this.is_joined});
            },
      }
});


export default {
      props: ['user_detail'],
      components: {
            vueSlideoutPanelService, VueSlideoutPanel
      },
      data(){
            return {
                  cate_type : 0,
                  error_msg : null,
                  scrolledToBottom: false,
                  announcement_list: [],
				  announcement_title: null,
				  slide_show: false,
                  page: 1,
                  mobileMode: false,
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
      },
      methods:{
            generateCateTypeIcon(type) {
				
                  if (type == 1) {
					    this.announcement_title = "Public";
                        return 'fa fa-bullhorn';
                  } else if (type == 2) {
						this.announcement_title = "Entertainment";
                        return 'fas fa-guitar';
                  } else if (type == 3) {
						this.announcement_title = "Maintenance";
                        return 'fas fa-tools';
                  } else if (type == 4) {
						this.announcement_title = "Some type";
                        return 'fas fa-percent';
                  } else if (type == 5) {
						this.announcement_title = "Others";
                        return 'fas fa-ellipsis-h';
                  } 
            },
            updateCateType(index) {
                  this.cate_type = index;
            },
            joinEvent(aid, index) {
                   var _this = this;
                  axios.post('/tenant/create_join_event', {
                        aid: aid,
                  })
                  .then(function (response) {
                        console.log(response);
                        if (response.data.success==true) {
                              _this.announcement_list[index].joint = true;
                        } 
                  })
                  .catch(function (error) {
                              // 
                  });
            },
            showUnitPanel(aid, type, show_event_btn, joint, index ) {
                  var _this = this;
				 
				  axios.get('/tenants/get_announcement_detail/aid='+ aid).then(function (response) {
						if (response.data.success == true) {
							  const panelADHandle = vueSlideoutPanelService.show({
									component: 'panel-2',
									width: window.screen.width,
									cssClass: 'panel-2-custom-class', //add a custom CSS class
									keepAlive: true,
									props: {
										  aid:aid,
										  a_content: response.data.content,
										  type : type,
										  show_event_btn  : show_event_btn,
										  joint  : joint,
										  index : index
									}
							  });
							  
							  panelADHandle.promise.then(results => {
									console.log('Results for panel 2:', results);
									if (results.is_joined == true) {
										  _this.announcement_list[results.index].joint = true;
									}
							  });      
							  
						}
				  }).catch(function (error) {
						console.log(error);
				  });
					  
				  
                  
            },
            scrollDetect:function() {
                  var _this = this;
                   window.onscroll = () => {
                        let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight

                        if (bottomOfWindow) {
                              _this.getAnnouncementsList(_this.page, _this.user_detail.building_id);
                        }
                  }
            },
            getAnnouncementsList:function(page, building_id) {
                        var _this = this;
                        axios.get('/tenants/get_announcement_list/p='+ page+'&building_id='+building_id).then(function (response) {
                              console.log(response);
                              if (response.data.data.length > 0) {
                                    for (var i = 0; i < response.data.data.length; i++) {
                                          _this.announcement_list.push(response.data.data[i]);
                                    }
                                    _this.page = (_this.page*1) + 1;
                              } 
                              
                        })
                        .catch(function (error) {
                              // 
                              console.log(error);
                        });
            }
      },
      created() {
            this.mobileMode = this.$parent.isMobile();
            if (this.mobileMode == true) {
                  this.getAnnouncementsList(this.page, this.user_detail.building_id);
            }
            window.addEventListener('scroll', this.scrollDetect);
      },
      mounted() {
            console.log(this.user_detail);
            this.csrf = myToken.csrfToken; 
      },
      destroyed () {
            window.removeEventListener('scroll', this.scrollDetect);
      }
}
</script>

<style>

ul.header_category > li  {
      flex: 1;color: #fff;text-align: center;
}
#announcement_type {
      background-color: #fff;margin-bottom: 15px;width:100%;height:44px;line-height: 44px;display: flex; margin-top: 15px; border-radius: 8px;
}

#announcement_type > li {
      float:left;flex:1;text-align: center;
}

#announcement_type > li.active {
      background: rgb(55,156,214, .2);
}

.btn_cont {
      height: 50px;position: absolute;bottom: 0px;width: 100vw;display: flex;margin-bottom: -2px;
}
.ad_content {
      padding: 0px 25px 50px;height: 93vh;overflow-y: auto;
}

.ad_content h2 {
      margin-bottom: 0px;margin-top: 0px;
}

.ad_content span {
      font-size: .75em;
}

.ad_content p {
      margin: 20px 0px;
}

.ad_header {
      width: 100vw;height: 7vh;line-height: 7vh;font-size: 1.6em;padding: 0px 10px;
}
.slideout.open-on-right.panel-2-custom-class {
      z-index:100000 !important;
}
.empty_list {
      margin: 25% 0px;text-align: center;
}

.empty_list .icn_cont {
      font-size: 4em;margin-bottom: 20px;
}

ul#announcement_list li {
      height: auto;background-color: #fff;margin-bottom: 25px;overflow-y: hidden;border-radius: 8px;border: 1px solid #ddd;
}

ul#announcement_list li .announcement_cont {
      height: 150px;overflow-y: hidden;padding: 10px 10px 0px;
}

ul#announcement_list li:active {
      background: rgb(55,156,214, .2);
}

ul#announcement_list li .announcement_cont p {
      font-size: .9em;line-height: 1.3em;
}
.announcement_type_title {
	padding-left: 5px; margin-top: -15px !important ; font-weight: 900; font-size: 1.2em; 
}
ul#announcement_list li .announcement_readmore {
    height: 50px;width: 100%; text-align: center; display: flex;
}

ul#announcement_list li .announcement_readmore  a {
      background-color:#cbb681;color:#fff;flex: 1;line-height: 46px;
}

.btn_join {
      flex: 1;background-color:#55ce63;border: 0px;color:#fff;line-height: 26px;margin-top: 0px;height: 50px;
}

.btn_joint {
      border: 0px;border-top: 2px solid #55ce63;font-weight:900;flex: 1;background-color:#fff;line-height: 26px;color:#55ce63;margin-top: 0px;height: 50px;
}

ul#announcement_list li h4 {
      margin-top: 0px;margin-bottom: 0px;font-weight: 900;    text-transform: capitalize;
}

ul#announcement_list li .announcement_date {
      color: #999;font-size: .8em;margin-bottom: 6px;display: block;margin-top: 4px;
}
</style>