<template>
      <div class="container_block" >
            <div style="height:150px;width:100%;position:absolute;background-color: #379cd6;left: 0px;top: 30px;"></div>
          
            <advSlider class="slides" :advList = "advList" v-if="mobileMode == true">
                  
            </advSlider>
            <section v-if="mobileMode == true">
                  <ul id="home_menu">
                        <li class="col-md-4 col-xs-4" v-bind:class="{active: active_num == 0}"   @click="changeBgColor(0)">
                              <a href="/tenants/announcement">
                                    <i class="fa fa-bullhorn fa-lg"></i>
                                    <span>Announcements</span>
                              </a>
                        </li>
                        <li class="col-md-4 col-xs-4" v-bind:class="{active: active_num == 1}"   @click="changeBgColor(1)">
                              <a href="/tenants/reservation">
                                    <i class="far fa-calendar-alt"></i>
                                    <span>Reservations</span>
                              </a>
                        </li>
                        <li class="col-md-4 col-xs-4" v-bind:class="{active: active_num == 2}"   @click="changeBgColor(2)">
                              <a href="/tenants/parcel">
                                    <i class="fas fa-boxes"></i>
                                    <span>Parcels</span>
                              </a>
                        </li>
                        <li class="col-md-4 col-xs-4" v-bind:class="{active: active_num == 3}"   @click="changeBgColor(3)">
                              <a href="/tenants/maintenance_list">
                                    <i class="fas fa-tools fa-lg"></i>
                                    <span>Maintenance Requests</span>
                              </a>
                        </li>
                        
                        

                        <li class="col-md-4 col-xs-4" v-bind:class="{active: active_num == 4}"   @click="changeBgColor(4)">
                              <a href="/tenants/documents">
                                    <i class="far fa-folder-open"></i>
                                    <span>Documents</span>
                              </a>
                        </li>
                        
                        <li class="col-md-4 col-xs-4" v-bind:class="{active: active_num == 5}"   @click="changeBgColor(5)">
                              <a href="/tenants/address_book">
                                    <i class="far fa-address-book"></i>
                                    <span>Address Book</span>
                              </a>
                        </li>
						
                       

                        <li class="col-md-4 col-xs-4" v-bind:class="{active: active_num == 6}"   @click="changeBgColor(6)">
                              <a href="/tenants/user">
                                    <i class="far fa-user"></i>
                                    <span>Me</span>
                              </a>
                        </li>
                       
                       
                  </ul>
            </section>

            <section class="mobile_reminder" v-if="mobileMode == false">
                  <div class="mobile_cont">
                        <i class="fas fa-mobile-alt"></i>
                  </div>
                  <span>Our app is more compatible with mobile device,<br> please browse with your mobile</span>
            </section>
      </div>
</template>

<script>
import advSlider from  './tenant_adv_slider.vue';
export default {
      props: ['user_detail','adv_list','reservation_list','announcement_list'],
      components: {
			advSlider,
      },
      data(){
            return {
                 error_msg : null,
                 mobileMode: false,
				 active_num: null,
				 img_url: null, 
				 
				 advList: [],
				 adv_style: {},
                 slides: 5,
                 active: 1,
                 csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
      },
      methods:{
            move(amount) { console.log(amount);
                  let newActive
				  console.log(this.adv_list)
                  const newIndex = this.active + amount
				  
                  if (newIndex > this.adv_list.length) newActive = 1
                  if (newIndex === 0) newActive = this.adv_list
				  
                  this.active = newActive || newIndex
				  
				  
            },
			
            jump(index) {
                  this.active = index
            },
			
			changeBgColor(index) {
				var _this = this;
				_this.active_num = index;
			},
			
			getAdvList:function () {
				console.log(this.adv_list);
				for (var i = 0; i< this.adv_list.length; i++) {
					var adv_style = {
						'background-repeat': 'no-repeat',
						'background-size': 'cover' ,
						'height': '100%',  
						'border-radius': '8px',
						'background-position': 'center center' ,
				      };
					adv_style['background-image'] = 'url(' + this.adv_list[i].url +')';
					var adv_img = {};
					adv_img['style']= adv_style;
					adv_img['url'] = this.adv_list[i].url;
					
					this.advList.push(adv_img);

				}
			}
      },
      created() {
            this.mobileMode = this.$parent.isMobile();
      },
      mounted() {
           this.getAdvList();
      },
      destroyed () {
            
      }
}
</script>

<style>
ul#home_menu > li:active {
      background: rgb(55,156,214, .2);
}
	
ul#home_menu > li.active {
	background-color: #379cd6;
}

ul#home_menu > li.active .fa, ul#home_menu > li.active .fas, ul#home_menu > li.active .far, ul#home_menu > li.active span  {
	color: white;
} 
ul#home_menu > li i.fa-bullhorn {
      color: #f7468d;
}

ul#home_menu > li i.fa-calendar-alt {
      color: #499cfc;
}

ul#home_menu > li i.fa-boxes {
      color: #916be3;
}

/* ul#home_menu > li i.fa-calendar-plus {
	  color: coral;
} */

ul#home_menu > li i.fa-address-book {
	  color: #2AB27B;
}

ul#home_menu > li i.fa-tools {
      color: #4eb5ee;
}

ul#home_menu > li i.fa-broom {
      color: #3eb4c9;
}

ul#home_menu > li i.fa-folder-open {
      color: #e86b6d;
}

ul#home_menu > li i.fa-user {
      color: #f8a93d;
}

ul#home_menu > li i.fa-user1 {
      color: #f77d62;
}


ul#home_menu > li i.fa-user1 {
      color: #3eb4c9;
}


ul#home_menu > li i.fa-user1 {
      color: #f55a99;
}


ul#home_menu > li i.fa-user1 {
      color: #499cfb;
}

ul#home_menu {
      margin-left: -15px !important;
      margin-right: -15px !important;
}

#main {
      background-color: #fff;
}

ul#home_menu {
      display: inline-block;    margin-top: 10px;
}

ul#home_menu > li{
      transition: background 0.5s;height: 120px;text-align: center;font-size: .7em;padding: 20px 10px 14px;border-bottom: 1px solid #efefef;border-right: 1px solid #efefef;background: #fff;
}

 ul#home_menu > li:last-child{
      border-bottom: 0px;
}

ul#home_menu > li:nth-child(3n) {
      border-right: 0px;
}

ul#home_menu > li > a {
      border-radius: 6px;display: block;width: 100%;height: 100%;color: #404E67;font-weight: 900;
}

ul#home_menu > li  i{
      font-size: 3em;margin: 12px 0px;display: block;height: 33px;
}

.slides > span[mode='out-in'] {
      width: 100%;height: 100%;display: block;
}

.slides .slidin12_img {
      background-position: center center;background-repeat: no-repeat;background-size: cover;height: 100%;    border-radius: 8px;
}

.prev, .next {
      position: absolute;top: 50%;width: 25px;height: 25px;border: 2px solid #221e21;color: #221e21;border-radius: 50%;margin-top: -25px;margin-left: 25px;cursor: pointer;line-height: 22px;font-size: 14px;text-align: center;text-indent: -2px;transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.prev:hover, .next:hover {
      background: #221e21;color: #fff;transform: scale(1.2);
}
  
.prev:active, .next:active  {
      transform: translate(0, 3px) scale(1.2);
}

.prev {
      left:-15px;
}

.next {
      right: -15px;margin-left: auto;margin-right: 25px;text-indent: 2px;
}

.slides {
      margin-top:10px;position: relative;font-size: 40px;display: flex;height: 200px;padding-right: 0px;align-items: center;justify-content: center;font-weight: bold;
}

ul.dots {
      position: absolute;display: block;width: 100%;text-align: center;bottom: 0px;   
}

ul.dots > li {
      width: 6px;height: 6px;border-radius: 3px;background: #221e21;opacity: 0.2;display: inline-block;margin: 0 3px;cursor: pointer;transition: opacity 0.4s ease-in-out,width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ul.dots > li.active  { 
      width: 22px;opacity: 1;
}

.empty_list {
      margin: 25% 0px;text-align: center;
}

.empty_list .icn_cont {
      font-size: 4em;margin-bottom: 20px;
}

.section_cont {
      min-height: 180px;background-color: #fff;margin-bottom: 25px;overflow-y: hidden;border-radius: 8px;border: 1px solid #ddd;
}

#reservation_cont.section_cont {
      min-height: 140px;
}
</style>