<template>
  <div class="help-script"  @mouseleave="isShow = false" @mouseover="mouseHover">
      <i class="fas fa-question-circle"></i>
      <div class="script" v-show="isShow"  :class="direction == 'r' ? 'right' : 'left'" > 
        <div v-html="info.script"></div>
        <a :href="'/mgr/help/'+tag_id+'/'+detail_id" target="_blank">More details</a>
      </div>
  </div>
</template>

<script>
export default {
  props:['detail_id','direction'],

  data(){
    return{
      isShow:false,
      info:'',
      tag_id:'',

    }
  },

  methods:{
    mouseHover(){
      this.isShow = true
    },
    getInfo(){
      if(this.detail_id){
          axios.get('/mgr/help/script/'+this.detail_id).then((res)=>{
          this.info = res.data;
          this.tag_id = this.info.tag;
        })
      }else{
        this.isShow = false;
      }
    }
  },
  mounted(){
    this.getInfo();
  }
}
</script>

<style lang="scss">
  .help-script{
    position: relative;
    display: inline-block;
    padding: 0px 2px;
  }
  .script{
    position: absolute;
    top: 0;
    min-width: 350px;
    min-height: 100px;
    text-align: left;
    width: 120px;
    background-color: #e8e8e8;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid grey;
    font-size: .8em;
    cursor: pointer;
    z-index: 1111111111;

    &.left {
      left: 22px;
    }

    &.right {
      right: 22px;
    }
  }
</style>