<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default help">
                <div id="content_header" class="help-nav">
                    <h2 id="content_title">Help</h2>
                    <div class="h-manual">
                        <i class="fa fa-life-ring fa-lg"></i>
                        <a href="">User Manualv1</a>
                    </div>
                </div>
                <div class="panel-body help-panel">
                    <div class="container">
                        <div class="container h-main">
                            <div id="help_title_slider">
                                <div ref="carousel" id="carousel" class="h-top" data-target='carousel'>
                                    <ul ref="list" id="list-ul" class="list">
                                        <li :ref="'li'+item.id" @click="detailInfo(item.id,index)" v-for="(item,index) in infoTopAll" :key="item.id" class="h-item" v-bind:class="{'h-active' : active_el == index}">
                                            <div v-html="item.icon"></div>
                                            <span>{{item.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                               
                                <button class="icon h-arrow" @click="navArrow('f')">
                                        <i class="fas fa-chevron-left"></i>
                                </button>
                                <button class="icon h-arrow btn_right" @click="navArrow('b')">
                                        <i class="fas fa-chevron-right"></i>
                                </button>
                               
                            </div>
                            <div class="detail-wraper">
                                <div v-for="item in newDetailsList" :key="item.id" class="h-details container">
                                    <div class="d-container">
                                        <div class="d-top"  @click="showDetail(item)">
                                            <div class="d-title">{{item.title}}</div>
                                            <div class="d-tool">
                                                <!-- <div class="d-video"><i class="fas fa-video"></i></div> -->
                                                <div class="d-show" @click="showDetail(item)">
                                                    <i v-if="item.isShow" class="fas fa-sort-up"></i>
                                                    <i v-if="!item.isShow" class="fas fa-sort-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-show="item.isShow" class="d-contents" v-html="item.content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import complaint_listVue from '../complaint/complaint_list.vue';
// import tenant_useraccVue from '../tenants/tenant_useracc.vue';

export default {
    props: ['title_id','detail_id'],
    data(){
        return{
            // infoDetail:[],
            details:[],
            active_el:0,
            iPosition:0,
            offset:0,
            info_top:[],
            info_detail:[],
            id:null,
            selectIndex:'',
            test:0
        }
    },
    methods:{
        getInfo(){
                axios.get('/mgr/help/'+this.id).then((res)=>{
                    const data = res.data;
                    this.info_top = data[0];
                    this.info_detail = data[1];
                    this.detailInfo(this.id);
                })
        },
        detailInfo(id,index){
            let _this = this;
            _this.details = [];
            let data = _this.info_detail 
            if(id ===''|| id ===null|| id===undefined){
                id = 1;
                index = 0;
            }
            data.forEach(element => {
                if(element.tag === id ){
                    _this.details.push(element)
                }
            })
            _this.active_el = index;
        },
        navArrow(i){
            const lists = document.getElementsByClassName('list')[0];
            const li = lists.getElementsByTagName('li');
            const size = parseInt($(".h-item").css("margin-right"))+150;
            const max = (li.length-5)*size;

            if(i=='f'){
                if(this.offset !== 0){
                     this.iPosition = this.iPosition+size;
                    lists.style.left =this.iPosition+'px';
                     this.offset += size;
                }
            }else{  
                    if(this.offset !== -max){
                         this.iPosition = this.iPosition-size;
                        lists.style.left =this.iPosition+ 'px';
                        this.offset -= size;
                    }
            }
        },
        showDetail(item){
            item.isShow = !item.isShow;
        },
        adjustCss(){
            const carousel = this.$refs.carousel;
            const lists = this.$refs.list;
            const l = lists.children.length;
            let marginLeft = parseInt($(".h-item").css("margin-left"));
            let marginRight =parseInt($(".h-item").css("margin-right"));
            let carouselWidth = 6*150+(6-1)*marginRight+marginLeft;
            carousel.style.width = carouselWidth+'px';
        },
        resizeCss(){
            this.adjustCss();
        },
        linkIn(){
            if(this.title_id!=null&&this.detail_id!=null){
                    this.info_top.forEach((element,index) => {
                    if(this.title_id == element.id){
                            this.selectItem(index);
                        }
                });
                }else{
                    console.log('do nothing');
                }
        },
        selectItem(index){
            let i = index-4;
            if(i>0){
                const lists = document.getElementsByClassName('list')[0];
                const size = parseInt($(".h-item").css("margin-right"))+150;
                lists.style.left = -(size*i)+'px';
                this.active_el = index;
                this.details.map((item,index)=>{
                if(item.id == this.detail_id){
                        item.isShow = true;
                    }
                })
            }else{
                this.active_el = index;
                this.details.map((item,index)=>{
                    if(item.id == this.detail_id){
                        item.isShow = true;
                    }
                })
            }

        }

    },
    created() {
        window.addEventListener("resize", this.resizeCss);
    },
    mounted(){
        this.getInfo();
    },
    updated(){
        this.adjustCss();
        if(this.test == 0){
            this.linkIn();
            this.test++;
        }

    },
    computed:{
        newDetailsList(){
            return this.details.map(item=>{
                this.$set(item,"isShow",false)
                return item
            })
        },
        infoTopAll(){
            if(this.id){
                
            }else{
                return this.info_top;
            }
        }
    }
}
</script>

<style lang="scss">
#help_title_slider {
    margin-top:4%; 
    position:relative;
    overflow: hidden;
    button {
        position: absolute;
        top: calc(50% - 13px);
        font-size: 1.6em;
        height: 25px;
        padding: 0 5px;
        margin: 0;
        width: 35px;

        &.btn_right {
            right:0px;
        }
    }
}

    .help{
        background-color: #f2f7f8;
    }
    .container{
        width: 100%;
    }
    .help_side{
        background-color:#fffffff7;
        padding: 0;
    }
    .help-nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        background-color: #fff;
        border:none;
    }
    .help-panel{
        background-color:#f2f7f8 ;
    }
    .h-title h3{
        margin-bottom: 24px;
    }
    .h-main{
        background-color: white;
        height:100vh;
        width: 100%;
    }

    #carousel.h-top{
        position:relative;
        /* width: 1070px; */
        margin: 0 auto;
        top:5%;
        overflow: hidden;
        height: 150px;
    }
    .list{
        margin: 0;
        list-style: none;
        display: flex;
        position: absolute;
        left: 0;
        width: 100%;
        /* z-index: 1; */
    }
    ul.list li {
        cursor:pointer;
        height: 150px;
        border: 1px solid;
        text-align: center;
        margin-right: 2rem;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgba(55, 156, 214, .5);
            color: #fff;
        }
    }
    ul.list li >div{
        
    }
   .arrow-button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position:absolute;
        top: 40%;
   }
    .detail-wraper{
        padding-top: 4%;
    }
    .h-details.container{
        width: 95%;
        border-bottom: 0.5px solid black;
    }
    .d-container .d-top{
        display: flex;
        width:100%;
        margin-bottom: 1%;
        cursor: pointer;
    }
    .d-container .d-top .d-title{
        width:70%;
       font-weight: 700;
        font-size: 1.2em;
        text-transform: capitalize;
    }
    .d-container .d-top .d-tool{
        width: 30%;
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        align-items: center;
    }
    .d-container .d-top .d-tool > div{
        margin-right: 5%;
        text-align: center;
    }
    .d-container .d-contents{
        padding: 5px 25px 40px 25px;
        font-size: .85em
    }
    .h-details.container{
        margin-top: 2%;
    }

    .h-active{
        border: 2px solid #379CD6 !important;
    }
    .h-manual{
        margin-right: 70px;
    }
    .h-item div i{
        font-size: 2rem;
    }
    .h-item span{
        font-weight: 900;
        margin-top: 10px;
        text-transform: capitalize;
        font-size: .85em;
    }
    @media only screen and (max-width:1280px) {
        #carousel.h-top{
            max-width: 1070px;
        }
        #carousel.h-top ul li:first-child{
            margin-left: 1rem;
        }
        #carousel.h-top ul li {
            margin-right: 2rem;
        }
    }
</style>

