<template>
	<div>
		<div class="col">
			
			<div class="col-md-7 report_list no_padding" >
				<div class="container_block">
				      <div class="container_subtitle">
				            <i class="far fa-sticky-note"></i> <h5>Report History List</h5>
				      </div>
				
				      <div class="">
				            
				            <ul class="file_list list_cont ">
				                  <li class="list_row" v-for="(key, data) in report_list">
								<div class="list_fields w_10" @click="download(key.name)">
									<img v-bind:src="'/images/icons/icn_'+key.type+'.jpg'" style="    width: 40px;">
								</div>
								<div class="list_fields w_70"  @click="download(key.name)">{{key.name}}</div>
								<div class=" list_fields w_20">
									<button class="list_btn btn_edit" @click="download(key.name)">
										<i class="fas fa-download download_icn" ></i>
									</button>
									<button class="action_delete d_buttom"  @click="delete_report(key.name)">
										<i class="fa fa-times" style="color: white;"></i>
									</button>
										
								</div>
				                  </li>
				            </ul>
				      </div>
				
				</div>
			</div>
			
			<div class="col-md-5 no_padding report_customize" >
				<div class="col-md-1">
					
				</div>
				<div class="col-md-11 report_customize_content" >
					<div class="customize_title">
						<h2>Customize Your Report</h2>
						
					</div>
					<div class="report_detail">
	
						<div class="selection">
								<div class="col-md-12 no_padding">
									<div class="col-md-5 no_padding" style="display: inline-flex;">
										<kendo-datepicker name="date_from"
															v-model="date_from"
															:min="minDate"
															:max="maxDate"
															
															required validationMessage="Date is required">
										</kendo-datepicker>
									</div>
									
									<div class="col-md-2"></div>
									<div class="col-md-5 no_padding" style="display: inline-flex;">
										<kendo-datepicker name="date_to"
															v-model="date_to"
															:min="minDate"
															:max="maxDate"
															
															required validationMessage="Date is required">
										</kendo-datepicker>
									</div>
	
								</div>

						</div>
						<!-- <div class="date_selection col-md-2 no_padding">
							
						</div> -->
						
						<div class="subject_title" style="height: 100px;">
							<h3 class="col-md-7 no_padding">Subject</h3>
							<!-- <h4 class="col-md-3 no_padding">Status</h4> -->
						</div>
						<div class="report_content_list">
							<div class="maintenance_list">
								<div class="content_title col-md-7 no_padding" style="display: inline-flex;">
									<h4>Scheduled Inspection</h4>
									
								</div>
								<div class="content_list col-md-4" style="display: inline-flex;"></div>
								<div class="content_checkbox col-md-1" style="display: inline-flex;"><input ref= "inspection_cb" type="checkbox" ></div>
								<!-- <div class="status col-md-3 no_padding"></div> -->
							</div>
							<div class="case_list">
								<div class="content_title col-md-11 no_padding">
									<div>
										<h4 style="display: inline-flex;"  >Case</h4>
										<i  style="display: inline-flex;" class="fas fa-chevron-down show_down" v-show="!case_list_show" @click="case_show()"></i>
										<i  style="display: inline-flex;" class="fas fa-chevron-up hide_up" v-show="case_list_show" @click="case_show()"></i>
									</div>
									
									<div class="case_list_show" v-show="case_list_show">
										
										<div class="case_type_cate col-md-6" v-for="data in case_type" >
											<label class="col-md-11">{{data}}</label>	
											
											<input class="case_type_cate_cb col-md-1" type="checkbox" v-model="case_list_checked" :value="data">
										</div>
									</div>
								</div>
							
								<div class="content_checkbox col-md-1" ><input ref= "case_cb" type="checkbox"  v-model="case_exist" @change="checkedAllCase()" style="display: inline-flex;"></div>
								
							</div>
							<div class="daily_task_list">
								<div class="content_title col-md-7 no_padding" >
									<h4>Daily Task</h4>
									
								</div>
								
								<div class="content_checkbox col-md-1" ><input ref="task_cb" type="checkbox" ></div>
								<!-- <div class="status col-md-3 no_padding"></div> -->
							</div>
							<div class="others_list">
								<div class="content_title col-md-12 no_padding">
									<div>
										<h4 style="display: inline-flex;" >Others</h4>
										<i  style="display: inline-flex;" class="fas fa-chevron-down show_down" v-show="!other_list_show" @click="other_show()"></i>
										<i  style="display: inline-flex;" class="fas fa-chevron-up hide_up" v-show="other_list_show" @click="other_show()"></i>
									</div>
									<div v-show="other_list_show" >
					
										<label class="col-md-11">Abstract</label>
										<input class="template_cb col-md-1" type="checkbox" disabled>
										<label class="col-md-11">Template</label>	
										<input class="template_cb col-md-1" type="checkbox" disabled>
										
									</div>
								</div>
								
								<!-- <div class="status col-md-3 no_padding"></div> -->
							</div>
							
						</div>
						<div class="save_content">
							<button type="button" @click="generate_word()" >Generate Word File</button>
						</div>
						
						
	
					</div>
					
				</div>
				
			</div>
			<div class="customize_button" v-show="customize_show == false">
				<button @click="show_customize()"><p>Customize</p></button>
			</div>
		</div>
	</div>
	
</template>

<script>



import { DatePicker, DateinputsInstaller} from '@progress/kendo-dateinputs-vue-wrapper'

Vue.use(DateinputsInstaller)

export default {
	
	data() {
	    return {
			minDate: new Date(2017, 1, 1),
			maxDate: new Date(2029, 11, 21),
			currentDate: new Date(2020, 1, 1),
			caseProgress: ['New', 'In Progress', 'Completed', 'Closed', 'Awaiting Contractor', 'Awaiting Approval', 'Commitee Approval', 'Admin Approval', 'Building Manager Discretion'],
			
			case_list_show: false,
			other_list_show:false,
			case_list_checked:[],
			case_type: [],
			report_list:[],
			building_id:null,
			
			frequency:['none', 'daily', 'weekly', 'forenightly', 'monthly', 'quaterly', 'twice a year', 'yearly'],
			
			
			report_id: null,
			date_from: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
			date_to: new Date(new Date().getFullYear(), new Date().getMonth() + 1,0),
			
	    }
	  },
    methods: {
	
	  checkedAllCase:function() {
		  
		  if (this.case_exist) {
			
			  this.case_list_checked = this.case_type;
			   
		  } else {
			  this.case_list_checked = []
			  
		  }
	  },
	
	  showImagePrompt(command) {
	        const src = prompt('Enter the url of your image here')
	        if (src !== null) {
	          command({ src })
	        }
	      },
	  
	  
	  
	  get_case_type:function(){
		  var _this = this;
		  axios.get('/mgr/report_get_case_type').then(function(response) {
			  
			  for(var i = 0;i < response.data.case_type.length;i++){
				  _this.case_type.push(response.data.case_type[i].title)
			  }
			  
			 
		  })
	  },
	  case_show:function() {
		  this.case_list_show = !this.case_list_show;
	  },
	  other_show:function() {
		  this.other_list_show = !this.other_list_show;
	  },
	  delete_report:function(file_name) {
		var _this = this;
		  if (file_name != null) {
			  if (confirm('Do you wish to delete this report?')) {
				  axios.post('/mgr/delete_report', {'file_name': file_name}).then(function(response) {
				  		if (response.data.success == 1) {
							
							alert('Deletion success!');
							 _this.$forceUpdate();
							 _this.get_report_list();
						}
				  })
			  }
		  }
		  
	  },
	  
	  
	  
		
      generate_word:function() {
			var _this = this;
			
			// var report = "123"
			
			if (this.date_from != null && this.date_to !=null && this.date_from <= this.date_to) {
				var dfrom = this.date_from.getFullYear() + "-" + (this.date_from.getMonth() + 1) + "-" + this.date_from.getDate();
				var dto = this.date_to.getFullYear() + "-" + (this.date_to.getMonth() + 1) + "-" + this.date_to.getDate();
				
				var new_case_checked = [];
				for(var i=0;i < _this.case_list_checked.length; i++) {
					new_case_checked.push(_this.case_list_checked[i][0].toLowerCase()
					+ _this.case_list_checked[i].slice(1));
				}
				if (!_this.$refs.inspection_cb.checked && !_this.$refs.task_cb.checked && new_case_checked.length == 0) {
					window.alert('Please select at least one content!');
				} else {
					axios.post('/mgr/generate_report', {'date_from': dfrom, 'date_to':dto,
					'inspection':_this.$refs.inspection_cb.checked, 'daily_task':_this.$refs.task_cb.checked, 'case': new_case_checked
					}).then(function(response) {
						
						if (response.data.success == 1) {
							_this.report_id = response.data.report_id;
							_this.download();
							
					
						}
					})
				}
				
			} else {
				window.alert('Please select vaild dates!');
			}
			
		},
		uncheck:function(){
			
			$('.content_checkbox').find('input').removeAttr('checked');
		},
		
		download:function(name = null) {
			var _this = this;
			
				
			if (name == null) {
				if (_this.report_id != null) {
					axios.get('/mgr/download_report/report_id=' +_this.report_id).then(function(response) {
						
						//const downloadUrl = window.URL.createObjectURL([response.data]);
						window.open("http://" + window.location.hostname + response.data[0].substring(1, response.data[0].length), "_blank");
						_this.get_report_list();
						
					})
				}
			} else {
				window.open("http://" + window.location.hostname + "/uploads/building_lib/" + this.building_id +"/report/"+ name, "_blank");
				window.open("http://" + window.location.hostname + response.data[0].substring(1, response.data[0].length), "_blank");
			}
			
		},
		get_report_list:function () {
			var _this = this;
			axios.get('/mgr/get_report_list').then(function(response) {
				if (response.data.success == true) {
					_this.report_list = response.data.fileList;
					_this.building_id = response.data.building_id;
				}
			})
		},
	

	},
	watch: {
		"case_list_checked": function() {
			if (this.case_list_checked.length == this.case_type.length) {
				this.case_exist = true;
			} else {
				this.case_exist = false;
			}
		},
		
	},
	mounted() {
		this.get_case_type();
		this.get_report_list();
	},
	created() {

	},
	beforeDestroy() {
	    
    },
}
</script>

<style>
	
	.report_list {
		height: 600px;
		background-color: white;
		overflow: auto;
		box-shadow:2px 1px 3px #878787;
	}

	.container_subtitle {
		margin-top: 0 !important;
		color: #737a8d;
	}


	/* .display_none {
		display: none !important;
	} */
	.file_list {
		list-style: none;
	}
	.file_list > li:nth-child(odd) {
		background-color: whitesmoke;
	}
	.file_list > li:nth-child(even) {
		background-color: floralwhite;
	}
	.file_list > li:hover {
		background-color: rgba(255,255,255, .25);
		cursor: pointer;
	}
	.file_cont {
		display: flex;
		margin: 3px;
	}
		
	.download_icn{
		color: #fff;
    		font-size: .85rem;
	}
		
	.d_buttom {
		width: 26px;
		height: 26px;
		display: inline-block;
		line-height: 26px;
		color: #fff;
		border-radius: .2rem;
		background-color: #ff738a !important;
	}	
	
	.file_cont > img {
		width: 30px;
		height: 30px;
		margin-right: 20px;
		display: inline-flex;
		
	}
	.file_name {
		color: #737a8d;
		font-size: 20px;
		flex: 2;
	}
	

	
	

	.report_customize {
		height:600px;
		
	}
	
	.no_padding {
		padding-right: 0px !important;
		padding-left: 0px !important;
		padding-bottom: 0px !important;
		border: none;
	}
	
	
	.report_customize_content{
		overflow: auto;
		position: relative;
		background-color:#379cd6;
		height: 600px;
		box-shadow:2px 1px 3px #878787;
	}
	.customize_title > h2 {
		color: #fff;
		display: inline-flex;
	}
	.selection_select {
		border: initial !important;
		height: 24px !important;
		border-radius: 6px !important;
	}

	.report_detail, .subject_title > h3{
		margin-top: 2rem;
		height: auto;
		font:bold;
	}
	
	.subject_title > h3 {
		color: #fff;
	}
	.content_title {
		color: #fff;
	}
	.report_content_list > div {
		margin: 10px 0;
		height: auto;
		width: inherit;
	}
	.select_content_button > button {
		height: 2.25rem;
	}
	.save_content {
		margin: 80px 5px 10px 0px;
		float: right;
		height: 2rem;
	}
	.save_content > button {
		background-color: #fff;
		color: #379cd6;
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 30px;
		padding-right: 30px;
		min-width: 120px;
	}
	.generate_button {
		float: right;
	}
	ul, ul > li {
		list-style-type: disc !important;
	}
	
	ol, ol > li {
		list-style-type: decimal !important;
	}
	.table_button {
		display: inline !important;
	}
	.maintenance_list, 	.case_list,.daily_task_list {
		display: flex;
	}
	
	.content_title {
		flex: 7
	}
	
	


	  .customize_button {
		  width: 10px;
		  height: auto;
		  position: absolute;
		  right: 35px;
		  top: 100px;
	  }
	  .customize_button > button {
			margin: 5px;
			
			
			font-family: 'Roboto', sans-serif;
			font-size: 11px;
			text-transform: uppercase;
			
			font-weight: 500;
			color: white;
			background-color: #379CD6;
			
			border-top-left-radius: 25px;
			border-bottom-left-radius: 25px;
			/* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
			transition: all 0.3s ease 0s;
			cursor: pointer;
		}
		.customize_button > button:hover {
			transform: translateX(-3px);
		}
		.hide_customize:hover {
			transform: translateX(3px);
		}
	
		
	  
	  .customize_button > button > p {
		   width: 10px;  
		  margin: 0 auto;  
		  line-height: 24px;  
		  font-size: 15px;  
		  word-wrap: break-word;
	  }
	  .case_type_cate {
		  height: auto;
	  }

	  .case_type_cate_cb, .template_cb {
		  height: auto !important;
		  float: right;
	  }
	
	
	
</style>




