<template>
      <div class="col">
            <div class="col-md-8">
                  <div class="container_block">

                            <div class="list_cont">
                                    <div class="list_header">
                                          <div class="list_fields w_40">TITLE</div>
                                          <div class="list_fields w_20 c_align">FROM</div>
                                          <div class="list_fields w_20 c_align">TO</div>
                                          <div class="list_fields w_20 c_align">ACTIONS</div>
                                    </div>
                              </div>

                  </div>
            </div>

            <div class="col-md-4">
                  <div class="container_block">
                        <div class="container_subtitle">
                              <i class="fas fa-suitacase fa-lg"></i> <h5>Generate New Report</h5>
                        </div>

                        <div class="field_block">
                              <div class="field_cont col">
                                    <label class="field_title">Type</label>
                                    <select name="category" class="full_width">
                                          <option value="1">Assets</option>
                                          <option value="2">Admin Tasks</option>
                                          <option value="3">Maintainance</option>
                                          <option value="4">Reservations</option>
                                          <option value="5">Inspections</option>
                                    </select>
                              </div>

                              <div class="field_cont col">
                                    <div class="col-md-6">
                                          <label class="field_title">From</label>
                                          <kendo-datepicker :value="currentDate"  :format="'yyyy/MMMM/dd'"></kendo-datepicker>
                                    </div>
                                    <div class="col-md-6">
                                          <label class="field_title">To</label>
                                          <kendo-datepicker :value="currentDate"  :format="'yyyy/MMMM/dd'"></kendo-datepicker>
                                    </div>
                              </div>

                              <div class="field_cont col">
                                    <div style="height:30px;margin-bottom:5px;">
                                          <input type="radio" name="print_option"> 
                                          <div class="" style="line-height: 30px;">&nbsp;&nbsp;Print All</div>
                                    </div>
                                    <div >
                                          <input type="radio" name="print_option"> 
                                          <div class="" style="line-height: 30px;">&nbsp;&nbsp;Print Selected Records Only</div>
                                    </div>
                              </div>



                              <div class="field_cont btn_cont">
                                    <button class="btn">Print Report</button>
                              </div>
                        </div>

                  </div>

                  
            </div>
      </div>
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'

import { Calendar,
        DateInput,
        DatePicker,
        DateRangePicker,
        DateTimePicker,
        MultiViewCalendar,
        TimePicker,
        DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'

Vue.use(DateinputsInstaller)


export default {
      props: [],
      components: {
            Calendar,
            DateInput,
            DatePicker,
            DateRangePicker,
            DateTimePicker,
            MultiViewCalendar,
            TimePicker
      },
      data(){
            return {
                currentDate: new Date()
            }
      },
      methods:{
         
      }
}
</script>

<style>
      input[type=radio] {
            float: left;line-height: 30px;margin: 0px;height: 30px;
      }
</style>