<template>
	<div>
		<div class="col">
			
			<div class="col-md-7 report_editor no_padding" :class="{'col-md-12':customize_show == false}">
				<div class="button_group">
					<div class="mode_button col-md-2">
						<em>
							Editor Mode
						</em>
						<ul class="mode_button_list">
							<li style="list-style-type: none !important;">
								<button class="edit_button" :class="{ 'active' : mode == 0 }" @click="editMode()" ><p>Edit</p></button>							
							</li>
							<li style="list-style-type: none !important;">
								<button class="drag_button" :class="{ 'active' : mode == 1 }" @click="dragMode()" ><p>Drag</p></button>
							</li>
						</ul>
						
					</div>
					<div class="op_button col-md-10">
						<em style="display: block;">
							Useful Button
						</em>
						<button class="new_content_button" @click="addNewContent(new_content)" ><p>Add New Dragable Block</p></button>
						
						<button class="remove_button" @click="removeContent()" ><p>Reset contents</p></button>
						
						<!-- <button class="save_progress_button"><p>Save progress</p></button> -->
						<button class="hint_button" @click="addHintContent(hint)"><p>Hint</p></button>
						<button class="search_button" @click="searchAndReplace()" :class="{'is-active': search}"><p>Search And Replace</p></button>
						<button class="generate_file_button" @click="generate_pdf('pdf')"><p>Generate PDF</p></button>
						<button class="generate_file_button" @click="generate_pdf('word')"><p>Generate Docx</p></button>
						
						
					</div>
				</div>
				<em>Edit your report <i class="far fa-hand-point-down"></i></em>
				<div class="container_block editor_block no_padding" :class="{'editor_drag_mode': mode == 1}">
					
					
					<div class="editor">
						<editor-menu-bar :editor="editor" v-slot="{ commands, isActive, focused }">
						      <div
						        class="menubar is-hidden"
						        :class="{ 'is-focused': focused && mode == 0 }"
						      >
								<button
								class="menubar__button"
								@click="commands.undo"
								>
									<i class="fas fa-undo"></i>										
								</button>
																	
								<button
									class="menubar__button"
									@click="commands.redo"
								>
									<i class="fas fa-redo"></i>
								</button>
								
								<button
								  class="menubar__button"
								  :class="{ 'is-active': isActive.bold() }"
								  @click="commands.bold"
								>
									<i class="fas fa-bold"></i>
								</button>
																							
								<button
								  class="menubar__button"
								  :class="{ 'is-active': isActive.italic() }"
								  @click="commands.italic"
								>
									<i class="fas fa-italic"></i>
								</button>
								
								<button
									  class="menubar__button"
									  :class="{ 'is-active': isActive.paragraph() }"
									  @click="commands.paragraph"
									>
									<i class="fas fa-paragraph"></i>										
								</button>
								<button
									class="menubar__button"
									:class="{ 'is-active': isActive.strike() }"
									@click="commands.strike"
								>
									<i class="fas fa-strikethrough"></i>
								</button>
			
								<button
									class="menubar__button"
									:class="{ 'is-active': isActive.underline() }"
									@click="commands.underline"
								>
									<i class="fas fa-underline"></i>
								</button>
								<button
								  class="menubar__button"
								  :class="{ 'is-active': isActive.heading({ level: 1 }) }"
								  @click="commands.heading({ level: 1 })"
								>
								  <p>H1</p>
								</button>
																							
								<button
								  class="menubar__button"
								  :class="{ 'is-active': isActive.heading({ level: 2 }) }"
								  @click="commands.heading({ level: 2 })"
								>
								  <p>H2</p>
								</button>
																							
								<button
								  class="menubar__button"
								  :class="{ 'is-active': isActive.heading({ level: 3 }) }"
								  @click="commands.heading({ level: 3 })"
								>
								  <p>H3</p>
								</button>
								
								<button
									class="menubar__button"
									:class="{ 'is-active': isActive.bullet_list() }"
									@click="commands.bullet_list"
								>
									<i class="fas fa-list"></i>
								</button>
			
								<button
									class="menubar__button"
									:class="{ 'is-active': isActive.ordered_list() }"
									@click="commands.ordered_list"
								>
									<i class="fas fa-list-ol"></i>
								</button>
								<button
									class="menubar__button table_button"
									@click="commands.createTable({rowsCount: 3, colsCount: 3, withHeaderRow: false })"
								>
									<img src="https://img.icons8.com/small/16/000000/table-1.png"/>
								</button>
								<span v-show="isActive.table()">
									<button
										class="menubar__button table_button"
										@click="commands.deleteTable"
									>
										<img src="https://img.icons8.com/small/16/000000/delete-table.png"/>
									</button>
									<button
										class="menubar__button table_button"
										@click="commands.addColumnBefore"
									>
										<img src="https://img.icons8.com/small/16/000000/insert-column-left.png"/>
									</button>
									<button
										class="menubar__button table_button"
										@click="commands.addColumnAfter"
									>
										<img src="https://img.icons8.com/small/16/000000/insert-column-right.png"/>
									</button>
									<button
										class="menubar__button table_button"
										@click="commands.deleteColumn"
									>
										<img src="https://img.icons8.com/small/16/000000/delete-column.png"/>
									</button>
									<button
										class="menubar__button table_button"
										@click="commands.addRowBefore"
									>
										<img src="https://img.icons8.com/small/16/000000/insert-row-above.png"/>
									</button>
									<button
										class="menubar__button table_button"
										@click="commands.addRowAfter"
									>
										<img src="https://img.icons8.com/small/16/000000/insert-row-below.png"/>
									</button>
									<button
										class="menubar__button table_button"
										@click="commands.deleteRow"
									>
										<img src="https://img.icons8.com/small/16/000000/delete-row.png"/>
									</button>
									<button
										class="menubar__button table_button"
										@click="commands.toggleCellMerge"
									>
										<img src="https://img.icons8.com/small/16/000000/merge-cells.png"/>
									</button>
								</span>
								
								  
							  </div>
						</editor-menu-bar>
						<div class="search" v-show="search">
							  <input
								ref="search"
								@keydown.enter.prevent="editor.commands.find(searchTerm)"
								placeholder="Search …"
								type="text"
								v-model="searchTerm"
							  />
							  <input
								@keydown.enter.prevent="editor.commands.replace(replaceWith)"
								placeholder="Replace …"
								type="text"
								v-model="replaceWith"
							  />
							  <button class="button" @click="editor.commands.find(searchTerm)">
								Find
							  </button>
							  <button class="button" @click="editor.commands.clearSearch()">
								Clear
							  </button>
							  <button class="button" @click="editor.commands.replace(replaceWith)">
								Replace
							  </button>
							  <button class="button" @click="editor.commands.replaceAll(replaceWith)">
								Replace All
							  </button>
						</div>
						<editor-content  v-model="editor_watcher" class="editor__content" :editor="editor" />
						
						<!-- <div class="toolbar">
							<editor-menu-bar :editor="editor" :keep-in-bounds="keepInBounds" v-slot="{ commands, isActive, menu }">
							      <div class="menububble" :class="{ 'is-active': menu.isActive && mode == 0 }" :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`">
							
							        
							
							      </div>
								  
							</editor-menu-bar>
							
						</div> -->
						
					</div>
				</div>
				
				
			</div>
			
			<div class="col-md-5 no_padding report_customize" :class="{'display_none':customize_show == false }">
				<div class="col-md-1">
					
				</div>
				<div class="col-md-11 report_customize_content" >
					<div class="customize_title">
						<h2>Customize Your Report</h2>
						<i disabled="disable" class="fas fa-angle-double-right hide_customize" style="float:right;" @click="hide_customize()">
							<p>Hide</p>
						</i>
					</div>
					<div class="report_detail">
	
						<div class="selection">
							
								<div class="col-md-12 no_padding">
									<!-- <select class="report_status selection_select col-md-6 no_padding" name="input_type" >
										  <option v-for="(key, val) in announcement_type" v-bind:value="key.id">{{key.title}}</option>
										  Status
										   <option value=""selected>Status</option>
										   <option></option>
									</select> -->
									<!-- <div class="col-md-1"></div> -->
									<div class="col-md-3 no_padding" >
										<kendo-datepicker name="date_from"
															v-model="date_from"
															:min="minDate"
															:max="maxDate"
															required validationMessage="Date is required">
										</kendo-datepicker>
									</div>
									
									<div class="col-md-1"></div>
									
									<div class="col-md-3 no_padding" >
										<kendo-datepicker name="date_to"
															v-model="date_to"
															:min="minDate"
															:max="maxDate"
															required validationMessage="Date is required">
										</kendo-datepicker>
									</div>
									<div class="col-md-1"></div>
									<div class="select_content_button col-md-4 no_padding">
										<button type="submit" @click="select_content()">Select Date</button>
									</div>
									
								</div>
							
							
						</div>
						<!-- <div class="date_selection col-md-2 no_padding">
							
						</div> -->
						
						<div class="subject_title" style="height: 100px;">
							<h3 class="col-md-7 no_padding">Subject</h3>
							<!-- <h4 class="col-md-3 no_padding">Status</h4> -->
						</div>
						<div class="report_content_list">
							<div class="maintenance_list">
								<div class="content_title col-md-7 no_padding">
									<h4>Scheduled Inspection</h4>
									<div class="content_list">
										
									</div>
								</div>
								<div class="content_list col-md-4"></div>
								<div class="content_checkbox col-md-1" ><input ref= "inspection_cb" type="checkbox" :disabled="cb_disable"></div>
								<!-- <div class="status col-md-3 no_padding"></div> -->
							</div>
							<div class="case_list">
								<div class="content_title col-md-11 no_padding">
									<div>
										<h4 style="display: inline-flex;">Case</h4>
										<i style="display: inline-flex;" class="fas fa-chevron-down show_down" v-show="!case_list_show" @click="case_show()"></i>
										<i style="display: inline-flex;" class="fas fa-chevron-up hide_up" v-show="case_list_show" @click="case_show()"></i>
									</div>
									
									<div v-show="case_list_show">
										
										<div class="case_type_cate col-md-6" v-for="data in case_type" >
											<label class="col-md-11">{{data}}</label>	
											
											<input class="case_type_cate_cb col-md-1" type="checkbox" v-model="case_list_checked" :value="data"  :disabled="cb_disable">
										</div>
									</div>
								</div>
								<!-- <div class="content_list col-md-4"></div> -->
								<div class="content_checkbox col-md-1" ><input ref= "case_cb" type="checkbox" :disabled="cb_disable" v-model="case_exist" @change="checkedAllCase()"></div>
								<!-- <div class="status col-md-3 no_padding"></div> -->
							</div>
							<div class="daily_task_list">
								<div class="content_title col-md-7 no_padding">
									<h4>Daily Task</h4>
									
								</div>
								<div class="content_list col-md-4"></div>
								<div class="content_checkbox col-md-1" ><input ref="task_cb" type="checkbox" :disabled="cb_disable"></div>
								<!-- <div class="status col-md-3 no_padding"></div> -->
							</div>
							<div class="others_list">
								<div class="content_title col-md-12 no_padding">
									<div>
										<h4 style="display: inline-flex;">Others</h4>
										<i style="display: inline-flex;" class="fas fa-chevron-down show_down" v-show="!other_list_show" @click="other_show()"></i>
										<i style="display: inline-flex;" class="fas fa-chevron-up hide_up" v-show="other_list_show" @click="other_show()"></i>
									</div>
									<div v-show="other_list_show">
										
										
										<label class="col-md-11">Abstract</label>
										<input class="template_cb col-md-1" type="checkbox" disabled>
										<label class="col-md-11">Template</label>	
										<input class="template_cb col-md-1" type="checkbox" disabled>
										<label class="col-md-11">Table Draggable</label>
										<input class="template_cb col-md-1" type="checkbox" disabled checked="checked">
										
									</div>
								</div>
								<div class="content_list"></div>
								<!-- <div class="status col-md-3 no_padding"></div> -->
							</div>
							
						</div>
						<div class="save_content">
							<button type="button" @click="save_content()" :disabled="cb_disable">Save content</button>
						</div>
						
						
	
					</div>
					
				</div>
				
			</div>
			<div class="customize_button" v-show="customize_show == false">
				<button @click="show_customize()"><p>Customize</p></button>
			</div>
		</div>
	</div>
	
</template>

<script>

import { Editor, EditorContent, EditorMenuBar, } from 'tiptap';
import {
		Blockquote,
  		CodeBlock,
  		HardBreak,
  		Heading,
  		OrderedList,
  		BulletList,
  		ListItem,
  		TodoItem,
  		TodoList,
  		Bold,
  		Code,
  		Italic,
		Image,
  		Link,
  		Table,
  		TableHeader,
  		TableCell,
  		TableRow,
  		Strike,
  		Underline,
  		History,
		Search,
} from 'tiptap-extensions'

import { DatePicker, DateinputsInstaller} from '@progress/kendo-dateinputs-vue-wrapper'
import DragItem from './DragItem'

Vue.use(DateinputsInstaller)

export default {
	components: {
	       EditorContent, Editor,EditorMenuBar, DatePicker
	
	},
	data() {
	    return {
			minDate: new Date(2017, 1, 1),
			maxDate: new Date(2029, 11, 21),
			currentDate: new Date(2020, 1, 1),
			caseProgress: ['New', 'In Progress', 'Completed', 'Closed', 'Awaiting Contractor', 'Awaiting Approval', 'Commitee Approval', 'Admin Approval', 'Building Manager Discretion'],
			keepInBounds: true,
			customize_show: true,
			case_list_show: false,
			other_list_show:false,
			case_list_checked:[],
			case_type: [],
			mode: 0,
			search: false,
			cb_disable: true,
			frequency:['none', 'daily', 'weekly', 'forenightly', 'monthly', 'quaterly', 'twice a year', 'yearly'],
			new_content:`
			<div data-type='drag_item'>
				  <h2>Click to edit New Title </h2>
				  <p>Click to add new content</p>
			</div>`,
			hint:`
			<div data-type='drag_item'>
				<h3><strong>About Buttons</strong></h3>
				<ul>
					<li><p>You can edit your report in <u>edit mode</u>.</p></li>
					<li><p>You can drag block by pressing the <u>"fist"</u> to change the order in drag mode .</p></li>
					<li><p>Only<u>grey area</u> can be dragged</p></li>
					<li><p>If you want to make your content drag-able, you need to click <u>"Add new drag-able block"</u> button, and do further edition inside the <u>grey area</u>.</p></li>
					<li><p>Remember to save the progress by click <u>"save progress"</u> button before your leave this page!.</p></li>
					<li><p>You can generate the report in the specific format by clicking the <u>generate button</u>.</p></li>
					<li><p>Click <u>"Remove All Contents"</u> to remove contents</p></li>
				</ul>
			</div>
			<div data-type='drag_item'>
				<h3><strong>About Editor</strong></h3>
				<ul>
					<li><p>You can drag an <u>image</u> directly into the editor.</p></li>
					<li><p>Click the <u>table</u> to do further operation.</p></li>
					<li><p>If you want to delete a table, click <img src="https://img.icons8.com/small/16/000000/delete-table.png">.</p></li>
					<li><p>Remember to use <u>Undo and Redo</u> buttons (top-lift corner).</p></li>
					
				</ul>
			</div>
			<div data-type='drag_item'>
			
				<h3><strong>About Customize Report</strong></h3>
				<ul>
					<li><p>You can customize the report content in the <u>right side(Blue area)</u>.</p></li>
					<li><p>Click the <u>"hide"</u> to hide the custosmize section</p></li>
					<li><p>Select <u>start date and end date</u> of the report.</p></li>
					<li><p>Select the <u>subject</u> you want.</p></li>
					<li><p>Click the <u>"Save Content"</u> to move the selected data into editor.</p></li>
				</ul>
			</div>
			`,
			report_id: null,
			date_from: new Date(2020,3,21),
			date_to: new Date(2020,3,21),
			inspection_exist: false,
			case_exist: false,
			dailyTask_exist: false,
			inspection: null,
			case:null,
			dailyTask:null,
			editor: new Editor({
	        extensions: [
	                new Blockquote(),
					new BulletList(),
					new CodeBlock(),
					new HardBreak(),
					new Heading({ levels: [1, 2, 3] }),
					new ListItem(),
					 new Image(),
					new OrderedList(),
					new TodoItem(),
					new TodoList(),
					new Link(),
					new Bold(),
					new Code(),
					new Italic(),
					new Strike(),
					new Underline(),
					new History(),
					new Search({
						disableRegex: false,
					  }),
					new Table({
						resizable: true,
					}),
					new TableHeader(),
					new TableCell(),
					new TableRow(),
					 new DragItem(),
	                ],
					content:`
			
				<h3><strong>About Buttons</strong></h3>
				<ul>
					<li><p>You can edit your report in <u>edit mode</u>.</p></li>
					<li><p>You can drag block by pressing the <u>"fist"</u> to change the order in drag mode .</p></li>
					<li><p>If you want to make your content drag-able, you need to click <u>"Add new drag-able block"</u> button, and do further edition inside the grey area.</p></li>
					<li><p style="color: red;">Remember to save the progress by click <u>"save progress"</u> button before your leave this page!.</p></li>
					<li><p>You can generate the report in the specific format by clicking the <u>generate button</u>.</p></li>
					<li><p>Click <u>"Remove All Contents"</u> to remove contents</p></li>
				</ul>
			
			
				<h3><strong>About Editor</strong></h3>
				<ul>
					<li><p>You can drag an <u>image</u> directly into the editor.</p></li>
					<li><p>Click the <u>table</u> to do further operation.</p></li>
					<li><p>If you want to delete a table, click <img src="https://img.icons8.com/small/16/000000/delete-table.png">.</p></li>
					<li><p>Remember to use <u>Undo and Redo</u> buttons (top-lift corner).</p></li>
					
				</ul>
			
			
			
				<h3><strong>About Customize Report</strong></h3>
				<ul>
					<li><p>You can customize the report content in the <u>right side(Blue area)</u>.</p></li>
					<li><p>Click the <u>"hide"</u> to hide the custosmize section</p></li>
					<li><p>Select <u>start date and end date</u> of the report.</p></li>
					<li><p>Select the <u>subject</u> you want.</p></li>
					<li><p>Click the <u>"Save Content"</u> to move the selected data into editor.</p></li>
				</ul>
			
			`,
				  onUpdate: ({ getJSON, getHTML }) => {
							this.json = getJSON()
							this.html = getHTML()
						  },
	
	      }),
	    }
	  },
    methods: {
	  addNewContent:function(newContent) {
		  this.newContent = newContent;
		  var current_content = this.editor.getHTML();
		  this.editor.setContent(this.newContent+current_content);
		  this.editMode();
   
	  },
	  search_case:function(){
		  var new_case;
		   new_case = this.editor.commands.find("Case");
		
		console.log(this.editor.commands.find("Case").getDOMImplementation());
	  },
	  addHintContent:function(hint) {
		  this.hint = hint;
		  var current_content = this.editor.getHTML();
		  this.editor.setContent(this.hint+current_content);
		  this.editMode();
	  },
	  searchAndReplace:function() {
		  this.search = !this.search;
	  },
	  editMode:function() {
			
			// $('.drag_handle').addClass('display_none');
			$('.drag_div').attr("contenteditable", 'true');
			$('.drag_handle').css("display", 'none');
			$('.drag_content').attr("contenteditable", 'true');
			$('.drag_div').addClass('edit_mode');
			$('.drag_div').removeClass('drag_mode');
			// $('.menububble').css("visibility", "visible !important");
			// $('.ProseMirror').find("p").wrap("<div contenteditable='true'></div>")
		    this.mode = 0;
		
	  },
	  dragMode:function() {
			// $('#unmodified_content > div, p').css("display",'none');
			// $('.drag_handle').removeClass('display_none');
			// $('.drag_handle').attr('class', 'drag_icon');
			$('.drag_handle').css("float",'right');
			// $('.is-active').css("visibility", "hidden !important");
			$('.drag_div').addClass('drag_mode');
			$('.drag_div').removeClass('edit_mode');
			$('.drag_handle').css('display', 'block');
			
			$('.drag_content').attr("contenteditable", 'false');
			$('.drag_div').attr("contenteditable", 'false');
			
			
			this.mode = 1;
		
	  },
	  checkedAllCase:function() {
		  
		  if (this.case_exist) {
			
			  this.case_list_checked = this.case_type;
			   
		  } else {
			  this.case_list_checked = []
			  
		  }
	  },
	  removeContent:function() {
		  if (confirm("Are you want to remove all contents?")) {
			  this.editor.clearContent();
			  this.cb_disable = true;
			  this.uncheck();
		  }
		 
	  },
	  showImagePrompt(command) {
	        const src = prompt('Enter the url of your image here')
	        if (src !== null) {
	          command({ src })
	        }
	      },
	  
	  select_content:function() {
		  var _this = this;

		  var dfrom = this.date_from.getFullYear() + "-" + (this.date_from.getMonth() + 1) + "-" + this.date_from.getDate();
		  var dto = this.date_to.getFullYear() + "-" + (this.date_to.getMonth() + 1) + "-" + this.date_to.getDate();

		  if (this.date_from != null && this.date_to != null && this.date_from <= this.date_to) {
			  
			  axios.get('/mgr/report_content/date_from=' + dfrom +'&date_to=' + dto).then(function(response) {
				  _this.inspection = response.data.inspection;
				  _this.case = response.data.case;
				  _this.dailyTask = response.data.daily_task;
				  
			  });
			  _this.inspection_exist = false;
			  _this.case_exist = false;
			  _this.dailyTask_exist = false;
			  this.cb_disable = false;
			  // $('.save_content').find('button').removeAttr("disabled");
			  // $('.case_type_cate').find('input').removeAttr("disabled");
			  // $('.content_checkbox').find('input').removeAttr("disabled");
			
		  } else {
			  alert('Please choose valid dates!');
		  }
	  },
	  save_content:function() {
		  var _this = this;
		  var newContent = null;
		  
		  if (_this.$refs.inspection_cb.checked == true) {
			  if (_this.inspection.length != 0) {
				  newContent = _this.inspection;  			 
				  _this.generate_list(newContent);
			  }  
		  }
		  
		  if (_this.$refs.task_cb.checked == true) {
			 if (_this.dailyTask.length != 0) {
				 newContent = _this.dailyTask;
				 _this.generate_list(newContent);
			 }
			  
		  }
			  
			  
		  if (_this.case_list_checked.length > 0) { 
			  if (_this.cases.length != 0) {
				  newContent = _this.case;
				  _this.generate_list(newContent);
			  }
			  
		  }
		  this.hide_customize();
	  },
	  get_case_type:function(){
		  var _this = this;
		  axios.get('/mgr/report_get_case_type').then(function(response) {
			  
			  for(var i = 0;i < response.data.case_type.length;i++){
				  _this.case_type.push(response.data.case_type[i].title)
			  }
			  
			 
		  })
	  },
	  case_show:function() {
		  this.case_list_show = !this.case_list_show;
	  },
	  other_show:function() {
		  this.other_list_show = !this.other_list_show;
	  },
	  
	  
	  generate_list:function(list) {
		  var i;
		  var content = null;
		  var title = null;
		  var table = null;

		  if (list == this.inspection && !this.inspection_exist) {
			  
			  title = "<h2> Scheduled Inspection </h2>";
			  content = "<tr> <th> Service Detail </th> <th> Frequency </th> <th> Last Service </th> <th> Next Service </th>";
			  console.log(list);
			  for (i=0;i<list.length;i++) {
				  var items = list[i]['items'].split('|');
				  content += "<tr> " + "<td>" +list[i]['title'] + "</td>" + "<td>" +this.frequency[items[0].split('-')[2]] + "</td>" 
				  + "<td>" +list[i]['created_at'].substring(0,10) + "</td>" +"<td>" +"</td>" + "</tr>";
			  }
			  this.inspection_exist = true;
			  table = "<div class='inspection_content'>" +"</div>" + "<div data-type='drag_item'  class='drag_div'>" + title + "<div class='unmodified_content'>" + "<table >" + content + "</table>" +"</div>" +"</div>" ;
			  this.addNewContent(table);
		  } else if(list == this.case && this.case_list_checked.length > 0) {
			  
			  if (this.case_list_checked.length != this.case_type.length) {
				  
				  list = this.filter_case(list);
			  }
			 
			  if (list.length !=0) {
				  title = "<h2 class='case_title'> Case </h2>";
				  content = "<tr> <th> Date </th> <th> Time </th> <th>Type</th> <th> Location </th>  <th> Description </th> <th> Action </th> <th> Outcome </th>";
				  for (i=0;i<list.length;i++) {
					  content += "<tr> " + "<td>" +list[i]['created_at'].substring(0,10) + "</td>" + "<td>" +list[i]['created_at'].substring(10,19) + "</td>" 
					  + "<td>" +list[i]['case_type'] + "</td>" + "<td>" +"" + "</td>"  + "<td>" + list[i]['title']+ "</td>" 
					  + "<td>" + list[i]['content']+ "</td>" +"<td>" + this.caseProgress[list[i]['progress'] - 1]+ "</td>" +"</tr>";
				  }
				  
				  table = "<div data-type='drag_item' class='case_content_list'>" + title + "<div class='unmodified_content'>" + "<table >" + content + "</table>" +"</div>" +"</div>" ;
				  this.addNewContent(table);
			  }
			  
		  } else if (list == this.dailyTask && !this.dailyTask_exist) {
				
			  title = "<h2> Building Manager Daily Task </h2>"
			  content = "<tr> <th> Date </th> <th> Location </th> <th> Type </th> <th> Comment </th> <th> Details </th>"
			  for (i=0;i<list.length;i++) {
					  content += "<tr> " + "<td>" +list[i]['created_at'].substring(0,10) + "</td>" + "<td>" +list[i]['location'] + "</td>" 
					  + "<td>" +list[i]['task_type'] + "</td>" +"<td>"+ list[i]['comment'] +"</td>" +"<td>"+ list[i]['details'] +"</td>"+ "</tr>";
			  }
			  this.dailyTask_exist = true;
			  table = "<div data-type='drag_item'>" + title + "<div class='unmodified_content'>" + "<table >" + content + "</table>" +"</div>" +"</div>" ;
			  this.addNewContent(table);
		  }
	
		},
		filter_case:function(list) {
			var new_list = []
			var i;
			if (list == this.case) {
				
				for (i=0;i<list.length;i++) { 
					
					if (this.case_list_checked.includes(list[i]['case_type'][0].toUpperCase()+ list[i]['case_type'].slice(1))) {
						new_list.push(list[i]);
					}
				}
			}
			
			return new_list;
		},
		generate_pdf:function(type) {
			var _this = this;
			var report = _this.editor.getHTML();
			// var report = "123"
			
			if (report != null && report != '<p></p>') {
				
				axios.post('/mgr/generate_report', {'report':report, 'type':type}).then(function(response) {
					
					if (response.data.success == 1) {
						_this.report_id = response.data.report_id;
						_this.download();
						// if (response.data.type == 'pdf') {
							
						// 	_this.download();
						// } else if (response.data.type == 'word')
						
						
					}
				})
			}
			// console.log(this.editor.getHTML());
		},
		uncheck:function(){
			
			$('.content_checkbox').find('input').removeAttr('checked');
		},
	
		download:function() {
			var _this = this;
			if (_this.report_id != null) {
				axios.get('/mgr/download_report/report_id=' +_this.report_id).then(function(response) {
					
					//const downloadUrl = window.URL.createObjectURL([response.data]);
					window.open("http://" + window.location.hostname + response.data[0].substring(1, response.data[0].length), "_blank");
				})
			}
		},
		show_customize:function() {
			this.customize_show = true;
			
		},
		hide_customize:function() {
			this.customize_show = false;
		},

	},
	watch: {
		"case_list_checked": function() {
			if (this.case_list_checked.length == this.case_type.length) {
				this.case_exist = true;
			} else {
				this.case_exist = false;
			}
		},
		"editor_watcher":function() {
			if(this.mode == 0) {
				this.editMode()
			} else {
				this.dragMode();
			}
		}
	},
	mounted() {
		this.get_case_type();
	},
	created() {

	},
	beforeDestroy() {
	    this.editor.destroy()
    },
}
</script>

<style>
	.editor table {
		background-color: white !important;
	}
	.editor_block {
		border: gainsboro 2px solid !important ;
	}
	.editor_drag_mode {
		border: yellow 2px solid !important;
	}
	.button_group em {
		font-family: 'Roboto', sans-serif;
		margin-left: 5px;
	}
	.search {
		margin: 1px !important;
	}
	.button_group {
		height: 120px;
		margin-bottom: 10px;
		background-color: white;
		border: gainsboro 2px solid;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
	}
	.edit_button, .drag_button {
		margin: 5px 15px !important;
		width: 4rem;
	}
	.button_group > div {
		padding: 10px 5px;
	}
	.mode_button_list > li {
		display: inline-flex;
	}
	/* .display_none {
		display: none !important;
	} */
	
	.op_button  > button, .mode_button_list >li >  button {
		margin: 5px;
	  display: inline-flex;;
	  
	  font-family: 'Roboto', sans-serif;
	  font-size: 11px;
	  text-transform: uppercase;
	  
	  font-weight: 500;
	  color: #000;
	  background-color: #fff;
	  
	  border-radius: 45px;
	  
	  transition: all 0.3s ease 0s;
	  cursor: pointer;
		  
	}
	.show_down:hover {
		transform: translateY(3px);
	}
	.hide_up:hover {
		transform: translateY(-3px);
	}
	.op_button > button:hover, .drag_button:hover, .edit_button:hover {
		 transform: translateY(-7px);
	}
	.display_none {
		display: none !important;
	}
	
	
	.drag_button:hover {
		background-color: yellow;
		
		box-shadow: 0px 5px 10px yellow;
	}
	.edit_button:hover {
		background-color: gainsboro;
		box-shadow: 0px 5px 10px gainsboro;
	}
	.new_content_button:hover {
	  background-color: skyblue;
	  box-shadow: 0px 5px 10px skyblue;
	}
	.remove_button:hover {
		background-color: orangered;
		box-shadow: 0px 5px 10px orangered;
	}
	.save_progress_button:hover {
		background-color: greenyellow;
		box-shadow: 0px 5px 10px greenyellow;
	}
	.hint_button:hover {
		background-color: coral;
		box-shadow: 0px 5px 10px coral;
	}
	.search_button:hover {
		background-color: gainsboro;
		box-shadow: 0px 5px 10px gainsboro;
	}
	.generate_file_button:hover {
		background-color: forestgreen;
		box-shadow: 0px 5px 10px forestgreen;
	}
	.op_button > button:hover > p {
		color: #fff;
	}
	.search_button.is-active {
		background-color: gainsboro;
		color: white !important;
	}
	
	.op_button > button > p, .edit_button > p, .drag_button > p {
		text-align: center;
		vertical-align: center;
		margin:0px auto !important;
		color: black;
	}
	.mode_button {
		border-right: gainsboro 2px dashed !important;
		height: 100%;
	}
	
	.report_editor {
		height: 650px;
		border: gainsboro solid 1px;
		
	}
	.report_customize {
		height:700px;
		border: gainsboro solid 1px;
	}
	
	.no_padding {
		padding-right: 0px !important;
		padding-left: 0px !important;
		padding-bottom: 0px !important;
		border: none;
	}
	.ProseMirror {
		height: 550px;
		padding: 0px 10px;
		overflow-y: scroll;
		overflow-x: -moz-hidden-unscrollable;
	}
	.editor {
		margin:0!important;
	}
	
	.report_customize_content{
		overflow: hidden;
		position: relative;
		background-color: #379cd6;
		height: 735px;
	}
	.customize_title > h2 {
		color: white;
		display: inline-flex;
	}
	.selection_select {
		border: initial !important;
		height: 24px !important;
		border-radius: 6px !important;
	}
	.edit_button.active {
		background-color: gainsboro;
		color: black;
	}
	
	.drag_button.active {
		background-color: yellow;
		color: black;
	}
	.report_detail, .subject_title > h3{
		margin-top: 2rem;
		height: auto;
		font:bold;
	}
	
	.subject_title > h3 {
		color: white;
	}
	.content_title {
		color: white;
	}
	.report_content_list > div {
		margin: 10px 0;
		height: 40px;
		width: inherit;
	}
	.select_content_button > button {
		height: 2.25rem;
	}
	.save_content {
		float: right;
		
		height: 2rem;
	}
	.generate_button {
		float: right;
	}
	ul, ul > li {
		list-style-type: disc !important;
	}
	
	ol, ol > li {
		list-style-type: decimal !important;
	}
	.table_button {
		display: inline !important;
	}
	
	
/* 	.menububble {
  position: absolute;
  display: flex;
  z-index: 20;
  background: gainsboro;
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
} */
.menubar.is-active {
    opacity: 1;
    visibility: visible;
  }
  .menubar__button {
    display: inline-flex;
    background: transparent;
    border: 0;
    color: white;
    padding: 0.2rem 0.5rem;
    margin-right: 0.2rem;
    border-radius: 3px;
    cursor: pointer;
}
	.menubar__button > img {
		width: 1rem;
		height: 1rem;
	}
	.menubar__button > p, .menubar__button > i {
		color: black;
		margin: auto 0 !important;
		font-size:1rem;
	}
    .menubar__button > last-child {
      margin-right: 0;
    }
    .menubar__button:hover {
      background-color: rgba(white, 0.1);
    }
    .menubaris-active {
      background-color: rgba(white 0.2);
    }
  .menubar__form {
    display: flex;
    align-items: center;
  }
  .menubar__input {
    font: inherit;
    border: none;
    background: transparent;
    color: white;
  }
  .editor {
    position: relative;
    width: 100%;
    margin: 0 auto 5rem auto;
}
    .editor__content {
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
    }
    .editor__content   pre {
        padding: 0.7rem 1rem;
        border-radius: 5px;
        background: black;
        color: white;
        font-size: 0.8rem;
        overflow-x: auto;
    }
    .editor__content   code {
        display: block;
    }

    .editor__content    p code {
        display: inline-block;
        padding: 0 0.4rem;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bold;
        background: rgba(black, 0.1);
        color: rgba(white 0.8);
      }
      .editor__content    ul,
      ol {
        padding-left: 1rem;
      }
      .editor__content   li > p,
      .editor__content   li > ol,
      .editor__content   li > ul {
        margin: 0;
      }
      .editor__content   a {
        color: inherit;
      }
      .editor__content   blockquote {
        border-left: 3px solid rgba(black, 0.1);
        color: rgba(black, 0.8);
        padding-left: 0.8rem;
        font-style: italic;
      }
      
	.editor__content   blockquote p {
          margin: 0;
      }

      .editor__content    img {
        max-width: 100%;
        border-radius: 3px;
      }

      .editor__content   table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        overflow: hidden;
      }

      .editor__content   table td,  .editor__content   table  th {
          min-width: 1em;
          border: 2px solid grey;
          padding: 3px 5px;
          vertical-align: top;
          box-sizing: border-box;
          position: relative;
      }

      .editor__content   table td > *, .editor__content   table th > *{
            margin-bottom: 0;
      }

      .editor__content   th {
          font-weight: bold;
          text-align: left;
      }

      .selectedCell:after {
          z-index: 2;
          position: absolute;
          content: "";
          left: 0; right: 0; top: 0; bottom: 0;
          background: rgba(200, 200, 255, 0.4);
          pointer-events: none;
      }

      .column-resize-handle {
          position: absolute;
          right: -2px; top: 0; bottom: 0;
          width: 4px;
          z-index: 20;
          background-color: #adf;
          pointer-events: none;
      }

      .tableWrapper {
        margin: 1em 0;
        overflow-x: auto;
      }

      .resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
      }
	  .customize_button {
		  width: 10px;
		  height: auto;
		  position: absolute;
		  right: 35px;
		  top: 100px;
	  }
	  .customize_button > button {
			margin: 5px;
			
			
			font-family: 'Roboto', sans-serif;
			font-size: 11px;
			text-transform: uppercase;
			
			font-weight: 500;
			color: white;
			background-color: #379CD6;
			
			border-top-left-radius: 25px;
			border-bottom-left-radius: 25px;
			/* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
			transition: all 0.3s ease 0s;
			cursor: pointer;
		}
		.customize_button > button:hover {
			transform: translateX(-3px);
		}
		.hide_customize:hover {
			transform: translateX(3px);
		}
		.hide_customize {
			cursor: pointer;
			margin-top: 30px;
			color: white;
			font-size: 20px;
		}
		.hide_customize > p {
			font-size: 10px;
		}
		
	  
	  .customize_button > button > p {
		   width: 10px;  
		  margin: 0 auto;  
		  line-height: 24px;  
		  font-size: 15px;  
		  word-wrap: break-word;
	  }
	  .case_type_cate {
		  display: inline-flex;
	  }
	  .case_type_cate_cb, .template_cb {
		  height: auto !important;
		  float: right;
	  }
	  .drag_div {
		  position: relative;
	  }
	
	
</style>
<style lang="scss">
	
[data-type="drag_item"] {
  display: flex;
  // padding: 0.5rem;
  background-color: floralwhite !important;
  // margin-bottom: 0.5rem;
  border-radius: 12px;
  margin: 10px;
  > :first-child {
    flex: 1 1 auto;
  }
  > :last-child {
    flex: 0 0 auto;
	margin: 5px 20px 0px 0px;
	
    cursor: move;
  }
}
.edit_mode {
	background-color: whitesmoke!important;
}
// .drag_mode {
// 	background-color: rgba(0, 0, 0, 0.05);
// }

// [contenteditable="false"] {
// 	background-color: rgba(0, 0, 0, 0.05);
// }
// [contenteditable="true"] {
// 	background-color: white !important;
// }
.edit_mode > div >div  {
	 background-color: floralwhite !important;
	
}
.drag_handle {
	width: 1em;
	height: 1em;
}

[contenteditable="false"] {
	 > p, table,ul,ol,b {
		display: none;
	}
}
[contenteditable="true"] {
	> p, strong, em {
		display: block;
	}
}


 


[contenteditable="false"], [contenteditable="true"] {
	> p, h1, h2, h3, strong, em {
		margin: 5px;
	}
}

	
</style>

