<template>
      <div id="main_content">
            <div class="msg_cont">
                  <div id="msg_bar"></div>
            </div>
            <div id="content_header" >
                  <i id="bk_to_previous_pg" class="fas fa-angle-left" onclick="window.history.go(-1);"></i>
                  <h2 id="content_title">Create Unit</h2>
            </div>

            <div class="content_body">
                  <div id="is_cont">


                        <div class="col-md-12 unit_step step_1" v-show="showUnitStep1 == true && showUnitStep2 == false && showUnitStep3 == false">
                              <div class="unit_header">
                                    <label>Step 1</label>
                                    <span>Create tags for a group of units which have similar attributes, <br>e.g. Level 1, Level 2, Level 3 ...</span>
                              </div>

                              <div class="" style="margin: 0px auto;width: 60%;">
                                    <tagsinput :suggestions="tags" :tagclass="'unit'" v-model="unit_tags" @SelectedTag="getSelectedTag" @delSelectedTag="delSelectedTag"  v-on:delTag="delUnitTag"></tagsinput>
                              </div>

                              <div class="unit_panel col-md-12">
                                    <button class="btn btn_submit btn_unitnext" @click="goToUnitStep2()">
                                          <i class="far fa-arrow-alt-circle-right"></i>
                                    </button>
                                    <label class="skip_tags" @click="goToUnitStep2()">Skip Tags</label>
                              </div>
                        </div>


                        <div class="col-md-12 unit_step step_2" v-show="showUnitStep1 == false && showUnitStep2 == true && showUnitStep3 == false">
                              <div class="unit_header">
                                    <label>Step 2</label>
                                    <span>Few clicks to create units or carparks in bulk, or custom the units' name.</span>
                              </div>


                              <div class="unit_step_cont">
                                    <div class="unit_bulk" v-show="!showNewUnitList">
                                          <form method="post"   @submit.prevent="generateNewUnits" enctype="multipart/form-data" >
                                                <div class="unit_cont field_cont col" v-for="(key, data) in unit_range.list">
                                                      <div class="flex-3">
                                                            <label class="field_title">Prefix</label> 
                                                            <input type="text" id="txt_unitprefix" name="txt_unitprefix" placeholder="eg: QW or leave empty" class="col-md-12 k-textbox" v-model="key.prefix">
                                                      </div>

                                                      <div class="flex-6">
                                                            <label class="field_title">Unit Range</label>
                                                            <div class="" style="display:flex"> 
                                                                  <input type="text" name="txt_unitnamefrom" placeholder="101" required="required"  class="fct_input_s flex-5" v-model="key.from" >
                                                                  <div class="flex-2 dashed">-</div>
                                                                  <input type="text" name="txt_unitnameto" placeholder="110" required="required" class="fct_input_s flex-5" v-model="key.to">
                                                            </div>
                                                      </div>

                                                      <div class="flex-2">
                                                            <label class="field_title"></label> 
                                                            <i class="fas fa-plus" @click="addUnitRange()"></i>
                                                            <i class="fas fa-times" @click="delUnitRange(data)"></i>
                                                      </div>
                                                </div>

                                                <div class="unit_panel col-md-12">
                                                      <button class="btn btn_submit btn_unitnext">
                                                            Create Units
                                                      </button>
                                                </div>
                                          </form>
                                    </div>

                                    <div class="unit_custom" v-show="!showNewUnitList">
                                                                        
                                    </div>

                                    <div class="unit_list" v-show="showNewUnitList">
                                          <div class="unit_list_header">
                                                <label class="field_title col-md-2">Unit Name</label> 
                                                <label class="field_title col-md-4">Tags</label> 
                                                <label class="field_title col-md-6">Car Park</label> 
                                          </div>

                                          <ul class="unit_list_content">
                                                                              <li v-for="(key, data) in new_units">
                                                                                    <label class="field_title flex-2">{{key.name}}</label> 
                                                                                    <ul class="flex-4" id="tags_list">
                                                                                          <li v-for="(k, d) in key.tags">
                                                                                                <span>{{k.title}}</span>
                                                                                                <span v-if="d < key.tags.length - 1">, </span>
                                                                                          </li>
                                                                                          <li v-if="key.tags.lengh == 0">
                                                                                                -
                                                                                          </li>
                                                                                    </ul> 
                                                                                    <div class="flex-6">
                                                                                          <input type="text" v-model="key.carparks" placeholder="Use ',' to separate the car park title, or leave empty">
                                                                                    </div>
                                                                              </li>
                                          </ul>

                                          <div class="unit_panel col-md-12">
                                                <button class="btn btn_submit btn_unitnext" @click="saveUnits()">
                                                      Create Now
                                                </button>
                                          </div>
                                    </div>
                              </div>
                        </div>


                        <div class="col-md-12 unit_step step_3" v-show="showUnitStep1 == false && showUnitStep2 == false && showUnitStep3 == true">
                              <div class="unit_header">
                                    <span>You can continue to create units as many as you need, or do it later by pressing the link on the bottom-right side.</span>
                              </div>

                              <div class="unit_panel col-md-12">
                                    <button class="btn btn_submit" @click="backToUnitPrevStep()">
                                          Create New Unit Again
                                    </button>
                              </div>
                        </div>

                  </div>
            </div>
      </div>
</template>


<script>
import  tagsinput from '../tagsinput.vue';

export default {
      props: ['current_uid','tags'],
      components: {tagsinput},
      data(){
            return{
                  showNewUnitList: false,
                  showUnitStep1: true,
                  showUnitStep2: false,
                  showUnitStep3: false,
                  unit_tags:[],
                  unit_range: {
                        tags: [],
                        list: [
                              {
                                    from: '',
                                    to:'',
                                    prefix: '',

                              }
                        ]
                     
                  },
                  new_units: []
            }
      },
      methods:{
            getSelectedTag:function(data) {
                  this.unit_range.tags.push(data);
                  this.unit_tags.push(data);
            },
            delSelectedTag:function(data) {
                  this.unit_tags.splice(data, 1);
                  this.unit_range.tags.splice(data, 1);
            },
            delUnitTag:function(data) {
                  var new_suggestion = [];
                  for( var i = 0; i < this.unit_range.tags.length; i++){ 
                        if ( this.unit_range.tags[i].id != data) {  
                              new_suggestion.push(this.tags[i]);
                        }
                  }
                  this.unit_range.tags = new_suggestion;
            },
            goToUnitStep2:function() {
                  this.showUnitStep1 = false;
                  this.showUnitStep2 = true;
                  this.showUnitStep3 = false;
            },
            generateNewUnits:function() {
                  for (var i = 0; i < this.unit_range.list.length; i++) {
                        for (var q = 0; q <= this.unit_range.list[i].to - this.unit_range.list[i].from; q++) {
                              var n = {};
                              n.prefix = this.unit_range.list[i].prefix;
                              n.tags = this.unit_range.tags;
                              var name = (this.unit_range.list[i].from * 1) + (q * 1); 
                              n.name = n.prefix+name;
                              n.carparks = '';
                              this.new_units.push(n);
                        }
                  }

                  if (this.new_units.length > 0) {
                        this.showNewUnitList = true;
                  }
            },
            saveUnits:function() {
                  var _this = this;
                   _this.$root.isLoading = true;

                  axios.post('/mgr/initial_create_units', {
                              new_units: this.new_units,
                              unit_tags: this.unit_tags
                        }).then(function (response) {
                        if (response.data.success == true) {
                              _this.showUnitStep1 = false;
                              _this.showUnitStep2 = false;
                              _this.showUnitStep3 = true;
                        }
                        _this.$root.isLoading = false;
                  })
                  .catch(function(){
                        console.log('FAILURE!!');
                        _this.$root.isLoading = false;
                  });
            },
            delUnitRange: function(index) {
                  if (this.unit_range.list.length > 1) {    
                        this.unit_range.list.splice(index, 1);
                  }
            },
            addUnitRange:function() {
                  this.unit_range.list.push({
                                    from: '',
                                    to:'',
                                    prefix: '',
                              });
            },
            backToUnitPrevStep:function() {
                  this.showUnitStep1 = true;
                  this.showUnitStep2 = false;
                  this.showUnitStep3 = false;

                  this.unit_range = {
                        tags: [],
                        list: [
                              {
                                    from: '',
                                    to:'',
                                    prefix: '',

                              }
                        ]
                     
                  };
            }
      }
}
</script>

<style  lang="scss">
#is_cont {
      margin:40px 6% 0px 2%;;background-color:#fff;height:80vh;width:100%;box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
      .unit_header {
            label {
                  width: 100%;text-align: center; font-size: 1.4em;margin-bottom: 10px;
            }

            span {
                  width: 100%; text-align: center; margin-bottom: 40px;display: block;    line-height: 1.8em; font-size: .85em;
            }
      }

      .unit_step {
            padding: 80px 40px;overflow-y: auto;
      }

      .unit_panel {
            text-align: center;
      }

      .btn_unitnext {
             margin: 30px auto 50px auto;margin: 30px auto 60px auto;width: 50%;font-size: 1.6em;padding: 0px;
      }

      .skip_tags, .skip_addunit {
            color: #379cd6;width: 100%;cursor: pointer;
      }

      .unit_cont {
            display: flex;

            .flex-3 {
                  flex: 3 !important;width: auto !important;padding-right: 10px;
            }

            .flex-6 {
                  flex: 6 !important;width: auto !important;padding-right: 10px;
            }

            .flex-5 {
                  flex: 5 !important;width: auto !important;padding-right: 10px;
            }

            .flex-2 {
                  flex: 2 !important;width: auto !important;padding-right: 10px;

                  &.dashed {
                        line-height: 36px;padding-right: 0; margin: 0px auto;text-align: center;
                  }

                  i.fa-plus {
                        color: #55ce63;margin-right: 15px;;font-size: 1.6em;line-height: 66px;
                  }

                  i.fa-times {
                        color: #ff0000;font-size: 1.6em;line-height: 66px;
                  }
            }

            .field_title {
                  text-align: left;
            }
      }

      .unit_list {
                  width: 60%;margin: 0px auto;
      }
      
      .unit_list_content > li {
                  display: flex;width:100%;padding: 10px 0px;

                  ul#tags_list {
                        > li {
                              display: inline-block;
                        }
                  }

                  .flex-2 {
                        flex: 2;
                  }

                  .flex-6 {
                        flex: 6;
                  }

                  .flex-4 {
                        flex: 4;
                  }
      }
}
</style>