<template>
      <div class="">
            <div class="unit_container col-md-3"  v-for="(key, index) in units.data">
                  <div class="unit_lot">
                                <div class="unit_no ">{{ key.unit_title }}</div>
                                <div class="unit_tenants ">
                                      <div v-if="key.tenant_info !== null && key.tenant_info !== ''">
                                          <span v-for="(k,i) in (key.tenant_info.split(','))" >
                                                {{ k.split('|')[1] }}
                                                <span v-if="i != Object.keys(key.tenant_info.split(',')).length - 1">,</span>
                                          </span>
                                          
                                      </div>
                                </div>
                                <div class="actions_field">
                                    <!--<a class="action_key" v-if="key.key_status == 2" v-on:click="keyReturn(key.id, index, key.key_id)">
                                          <i class="fab fa-keybase"></i>
                                    </a>
                                    <a class="action_key" v-if="key.key_status == 1" v-on:click="keyOut(key.id, index, key.key_id)">
                                          <i class="fas fa-key"></i>
                                    </a>
                                    <a class="action_key" v-if="key.key_status == null || key.key_status == ''" v-on:click="creataKeyForMgmt(key.id, index)">
                                          <i class="fab fa-keycdn"></i>
                                    </a> -->

                                    <a class="action_key" v-on:click="keyList(key.id, index, key.key_list)">
                                          <i class="fas fa-key"></i>
                                    </a>

                                    <a class="action_car"  v-on:click="carParkList(key.id, index, key.carpark_list, key.tenant_info)">
                                        <i class="fas fa-car"></i>
                                    </a>

                                    <a class="action_edit" v-bind:href="'/mgr/edit_unit/'+key.id">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a class="action_delete" v-on:click="rmUnit(key.id);" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                  </div>
            </div>
                        

      </div>
</template>

<script>
import EventBus from '../event-bus';
export default {
      props: ['units'],
      data(){
            return {
            }

      },
      methods:{
            keyList:function(id, index, key_list) {
                  var key = {
                        unit_id: id,
                        key_list: key_list != null && key_list != '' ? key_list : []
                  }
                  
                  EventBus.$emit("key_list",key);
            },
            rmUnit:function(id) {
                  if (confirm('Are you sure you want to delete this unit?')) {
                        var _this = this;
                        axios.post('/mgr/del_unit', {
                              unit_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    for (var i = 0; i < _this.units.data.length; i++) {
                                          if (_this.units.data[i].id == response.data.unit_id) {
                                                _this.units.data.splice(i, 1);
                                          }
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },

            keyReturn:function(unit_id, index, key_id) {
                  var _this = this;
                  axios.post('/mgr/create_key_action', {
                        unit_id: unit_id,
                        action: 'Key Return',
                        key_id: key_id,
                        key_to: '',
                        key_note: ''
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                              _this.units.data[index].key_status = 1;
                              _this.$forceUpdate();
                        }
                        
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            keyOut:function(unit_id, index, key_id) {
                  var key_to = {
                        unit_id: unit_id,
                        index: index,
                        key_id: key_id
                  }
                  EventBus.$emit("key_to",key_to);
            },
            creataKeyForMgmt:function(unit_id, index) {
                  // if (confirm('Assign a new key for building management?')) {
                        // var _this = this;
                        var unit = {
                              unit_id: unit_id,
                              index: index,
                              key_holder:1
                        }
                        EventBus.$emit("key_unit_id",unit);
                  // }
            },
            carParkList:function(unit_id, index, carpark_list, tenant_info) {
                  var unit = {
                        unit_id: unit_id,
                        carpark_list: carpark_list != null && carpark_list != '' ? carpark_list : [],
                        tenant_info: tenant_info != null && tenant_info != '' ? tenant_info : []
                  }
                  EventBus.$emit("carpark_list",unit);
            },
      },
      created() {
            var _this = this;
            EventBus.$on('new_unit_key', function (new_unit_key) { 
                  _this.units.data[new_unit_key.index].key_status = 1;
                  _this.$forceUpdate();
            });

            EventBus.$on('new_key_to', function (new_key_to) { 
                  _this.units.data[new_key_to.index].key_status = 2;
                  _this.$forceUpdate();
            });
      }
}

</script>

<style>
.unit_container {
      height: 145px;margin-bottom: 15px;
}

.unit_container .unit_lot {
      border: 1px solid #b1b1b1;text-align: center;height: 100%;position: relative;   -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;padding: 25px 0px 0px;background-color: #fff;
}

.unit_container .unit_lot .unit_no {
      font-size: 1.2em;margin-bottom: 10px;line-height: 20px;
}

.unit_container .unit_lot .unit_tenants {
      height: 18px;width: 100%;overflow: hidden;
}

.unit_container .unit_lot .unit_tenants {
      font-size: .8em;
}

.unit_container .unit_lot .actions_field {
      width: 100%;display: flex;font-size: 1.8em;margin-top: 10px;position: absolute;bottom: 0px;
}

.unit_container .unit_lot .actions_field a {
      flex:1;
}

.unit_container .unit_lot .actions_field i {
      color: #fff;height: 40px;width: 40px;font-size: .6em;cursor: pointer;line-height: 40px;vertical-align: top;
}

.unit_container .unit_lot .actions_field a:first-child {
      -webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-left-radius: 8px;
}

.unit_container .unit_lot .actions_field a:last-child {
      -webkit-border-bottom-right-radius: 8px;-moz-border-radius-bottomright: 8px;border-bottom-right-radius: 8px;
}

.action_key  {
      background-color:#89c6ff;
}

.action_car  {
      background-color:#39c67b;
}

.action_edit  {
      background-color:#f7941d;
}

.action_delete  {
      background-color:#ff4545;
}


.list_filter .unit_type {
    max-width: 150px;float: left;margin-right: 10px;
}

</style>