<template>
      <div>
            
            <div class="col list_header">
                  <ul id="main_cate_list">
                        <li v-bind:class="{ active: cateMenu == 'a' }" @click="getListContent('a')">Units<div class="bottom_border"></div></li>
                        <li v-bind:class="{ active: cateMenu == 'o' }" @click="getListContent('o')">Owners<div class="bottom_border"></div></li>
                        <li v-bind:class="{ active: cateMenu == 'i' }" @click="getListContent('i')">Investors<div class="bottom_border"></div></li>
                        <li v-bind:class="{ active: cateMenu == 't' }" @click="getListContent('t')">Tenants<div class="bottom_border"></div></li>
                        <li v-bind:class="{ active: cateMenu == 'c' }" @click="getListContent('c')">Carparks<div class="bottom_border"></div></li>
                  </ul>
                  
                  <div class="list_filter" id="search_filter">
                        <input v-if="cateMenu == 'a'" type="text" placeholder="Search Name or Tenant Code or Unit No." class="input_search col-md-4"  name="input_search" v-model="search_term" >
                        <input v-else-if="cateMenu == 'c'" type="text" placeholder="Search carpark title or unit title">
                        <input v-else type="text" placeholder="Search Name or Tenant Code" class="input_search col-md-4"  name="input_search" v-model="search_term" >
						<select class="input_search col-md-3" name="input_type" v-model="search_tag_new" v-if="cateMenu == 'a' ">
						      <option v-for="(key, val) in this.tag" v-bind:value="key.id">{{key.title}}</option>
						</select>
                        <button class="btn_filter col-md-5" @click="searchByKeywords">Search</button>
                  </div>
            </div>

            <div class="container_block">
                  <div class="list_cont" v-bind:class="{ 'active': cateMenu == 'c', 'empty_record': carpark_list.length == 0 && cateMenu == 'c' }">
                        <div class="list_header">
                              <div class="list_fields w_5">
                                    <check-box ref="eventBus" section="vehice" :data="carpark_list" @updateCheckedItem="check_box=$event"></check-box>
                              </div>
                              <div class="list_fields w_15">
                                    TITLE
                              </div>
                              <div class="list_fields w_15 c_align">
                                    UNIT TITLE
                              </div>
                              
                              <div class="list_fields w_30 c_align">
                                    VEHICLE
                              </div>
                              <div class="list_fields w_20 c_align">
                                    CREATED AT
                              </div>
                              <div class="list_fields w_15 c_align">ACTIONS</div>
                        </div>
                        <div class="list_row" v-for="(key, data) in carpark_list">
                              <div class="list_fields w_5" v-on:click="viewCPDetail(key.id, key.carpark_title)">
                                    <input type="checkbox" class="styled_checkbox" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                    <label for="styled-checkbox"></label>
                              </div>
                              <div class="list_fields w_15" v-on:click="viewCPDetail(key.id, key.carpark_title)">
                                    {{key.carpark_title}}
                              </div>
                              <div class="list_fields w_15 c_align" v-on:click="viewCPDetail(key.id, key.carpark_title)">
                                    <span  :class="'tagcont cont_'+(5 - (data%5))" v-if="key.unit_title != null && key.unit_title != ''">
                                          {{ key.unit_title }}
                                    </span>

                                    <span  v-if="key.unit_title == null || key.unit_title == ''">
                                          -
                                    </span>
                              </div>
                              
                              
                              <div class="list_fields w_30 c_align" v-on:click="viewCPDetail(key.id, key.carpark_title)">
                                   <span v-if="key.make != null && key.make !=''"> {{key.make}} {{key.model}}</span>
                                   <span class="" v-if="key.make ==null || key.make ==''">-</span>
                              </div>
                              <div class="list_fields w_20 c_align" v-on:click="viewCPDetail(key.id, key.carpark_title)">
                                     <span v-if="key.created_at != null && key.created_at != ''">{{key.created_at}}</span>
                                     <span class="" v-if="key.created_at == null && key.created_at == ''">-</span>
                              </div>
                              <div class="list_fields w_15 c_align" v-on:click="viewCPDetail(key.id, key.carpark_title)">
                                    <a class="action_edit list_btn btn_edit" @click="viewCPDetail(key.id, key.carpark_title)">
                                          <i id="c_pen" class="fas fa-pen"></i>
                                    </a>

                                    <a class="btn_link list_btn" href="#" v-on:click="unlinkVehicle(key.vehicle_id, key.id, key.carpark_title, key.make, data);" v-if="key.vehicle_id > 0">
                                          <i class="fas fa-link"></i>
                                    </a>

                                    <a class="list_btn action_delete d_buttom" href="#"  v-on:click="rmCarpark(key.vehicle_id, key.id);">
                                          <i class="fa fa-times" style="color:white;margin: 0 5px;"></i>
                                    </a>
                              </div>
                        </div>

                        <div class="list_empty" v-if="unit_list.length == 0">
                              <div class="list_fields c_align">
                                    <span>You have 0 carpark, add it now.</span><br>
                              <a href="/mgr/tenant/1/c/a" class="btn btn_submit">Add A Carpark Now</a>
                              </div>
                        </div>
                  </div>
                  <div class="list_cont"  v-bind:class="{ 'active': cateMenu == 'a', 'empty_record': unit_list.length == 0 && cateMenu == 'a' }">
                                    <div class="list_header">
                                          <div class="list_fields w_5">
                                                <check-box ref="eventBus" section="unit" :data="unit_list"  @updateCheckedItem="check_box=$event" @updateData="unit_list=$event"></check-box>
                                          </div>
                                          <div class="list_fields w_10">
                                                UNIT NO.
                                                <i class="fas fa-caret-down" v-bind:class="{ active: un_seq == 'a' }" @click="updateUnitListOrder('d')"></i>
                                                <i class="fas fa-caret-up" v-bind:class="{ active: un_seq == 'd' }"  @click="updateUnitListOrder('a')"></i>
                                          </div>
                                          <div class="list_fields w_15 c_align">
                                                OWNERS
                                          </div>
                                          <div class="list_fields w_20 c_align">
                                                TENANTS
                                          </div>
                                          <div class="list_fields w_10 c_align">CARPARKS</div>
                                          <div class="list_fields w_20 c_align">TAGS</div>
                                          <div class="list_fields w_15 c_align">ACTIONS</div>
                                    </div>
                              
                                    <div class="list_row" v-for="(key, data) in unit_list">
                                          <div class="list_fields w_5">
                                                <input type="checkbox" class="styled_checkbox" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                                <label for="styled-checkbox"></label>
                                          </div>
                                          <div class="list_fields w_10" v-on:click="goToDetailPage('/mgr/edit_unit/'+key.id)">{{ key.unit_title }}</div>
                                          <div class="list_fields w_15 c_align" v-on:click="goToDetailPage('/mgr/edit_unit/'+key.id)">
                                                <div v-if="key.tenant_info !== null && key.tenant_info !== ''">
                                                      <span v-for="(k,i) in (key.tenant_info.split(','))" v-if="k.split('|')[0] =='3'">
                                                            {{ k.split('|')[2]}}
                                                      </span>
                                                      <span v-else>-</span>
                                                </div>
                                                <div v-else>-</div>
                                          </div>
                                          <div class="list_fields w_20 c_align" v-on:click="goToDetailPage('/mgr/edit_unit/'+key.id)">
                                                <div v-if="key.tenant_info !== null && key.tenant_info !== ''">
                                                      <span v-for="(k,i) in (key.tenant_info.split(','))" v-if="k.split('|')[0] =='4'" :class="'tagcont cont_'+i%5">
                                                            {{ k.split('|')[2] }}
                                                            <!-- <span v-if="i != Object.keys(key.tenant_info.split(',')).length - 1">,</span> -->
                                                      </span>
                                                       <span v-else>-</span>
                                                </div>
                                                <span class="" v-if="key.tenant_info == null || key.tenant_info == ''">-</span>
                                          </div>
                                          <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('/mgr/edit_unit/'+key.id)">
                                                <div v-if="key.carpark_info !== null && key.carpark_info !== ''">
                                                      <span v-for="(k,i) in (key.carpark_info.split(','))" :class="'tagcont cont_'+i%5">
                                                            {{k}}
                                                            <!-- <span v-if="i != Object.keys(key.carpark_info.split(',')).length - 1">,</span> -->
                                                      </span>
                                                </div>
                                                <div v-else>-</div>
                                          </div>
                                          <div class="list_fields w_20 c_align" v-on:click="goToDetailPage('/mgr/edit_unit/'+key.id)">
                                                <div v-if="key.tags !== null && key.tags !== ''" style="display:inline-grid">
                                                      <span :class="'tagcont cont_'+(4-i%5)" v-for="(k,i) in (key.tags.split(','))" v-if="key.tag_ids != null && key.tag_ids != '' && key.tag_ids.split(',').indexOf(k.split('|')[0]) > -1">
                                                                  {{ k.split('|')[1] }}
                                                      </span>
                                                </div>
                                                <span class="" v-if="key.tag_ids == '' || key.tag_ids == null">-</span>
                                          </div>
                                          <div class="list_fields w_15 c_align">
                                                <a class="action_edit list_btn btn_edit" v-bind:href="'/mgr/edit_unit/'+key.id">
                                                      <i class="fas fa-pen"></i>
                                                </a>

                                                <a class="list_btn action_delete d_buttom" v-on:click="rmUnit(key.id);" href="#">
                                                      <i class="fa fa-times" style="color:white"></i>
                                                </a>
                                          </div>
                                    </div>

                                    <div class="list_empty" v-if="unit_list.length == 0">
                                          <div class="list_fields c_align">
                                                <span>You have 0 unit, add it now.</span><br>
                                                <a href="/mgr/unit" class="btn btn_submit">Add A Unit Now</a>
                                          </div>
                                    </div>
                       
                  </div>

                  <div class="list_cont"  v-bind:class="{ 'active': cateMenu == 'o' || cateMenu == 'i' || cateMenu == 't', 'empty_record': tenant_list.length == 0 && (cateMenu == 'o' || cateMenu == 'i' || cateMenu == 't') }">
                        <div class="list_header">
                              <div class="list_fields w_30">
                                    NAME
                                    <i class="fas fa-caret-down" v-bind:class="{ active: n_seq == 'a' }" @click="updateTenantListOrder('d','first_name')"></i>
                                    <i class="fas fa-caret-up" v-bind:class="{ active: n_seq == 'd' }"  @click="updateTenantListOrder('a','first_name')"></i>
                              </div>
                              <div class="list_fields w_20 c_align">
                                    CODE
                                    <i class="fas fa-caret-down" v-bind:class="{ active: c_seq == 'a' }" @click="updateTenantListOrder('d','tenant_code')"></i>
                                    <i class="fas fa-caret-up" v-bind:class="{ active: c_seq == 'd' }"  @click="updateTenantListOrder('a','tenant_code')"></i>
                              </div>
                              <div class="list_fields w_10 c_align">
                                    UNIT NO.
                                    <i class="fas fa-caret-down" v-bind:class="{ active: u_seq == 'a' }" @click="updateTenantListOrder('d','unit_title')"></i>
                                    <i class="fas fa-caret-up" v-bind:class="{ active: u_seq == 'd' }"  @click="updateTenantListOrder('a','unit_title')"></i>
                              </div>
                              <div class="list_fields w_20 c_align">
                                    MOVE IN
                              </div>
                              <div class="list_fields w_15 c_align">ACTIONS</div>
                        </div>
                        
                        <div class="list_row" v-for="(key, data) in tenant_list"  v-if="tenant_list.length > 0">
                              <div class="list_fields w_30" v-on:click="viewTenantDetail(key.id)">
                                    <label class="txt_name">{{ key.first_name }} {{key.last_name}}</label>
                                    <span v-bind:class="'list_field_'+key.link_status">{{ key.link_status }}</span>
                              </div>
                              <div class="list_fields w_20 c_align" v-on:click="viewTenantDetail(key.id)"><span class="tagcont cont_0">{{ key.tenant_code }}</span></div>
                              <div class="list_fields w_10 c_align" v-on:click="viewTenantDetail(key.id)"><span class="tagcont cont_4">{{ key.unit_title }}</span></div>
                              <div class="list_fields w_20 c_align" v-on:click="viewTenantDetail(key.id)">
                                    {{ key.move_in }}
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <a href='#' @click="viewTenantDetail(key.id)" class=" list_btn btn_view">
                                          <i class="far fa-eye"></i>
                                    </a>

                                    <a v-on:click="unLinkTenant(key.user_id);"  class="list_btn action_delete d_buttom" >
                                          <i class="fas fa-unlink"></i>
                                    </a>
                                    <emailButton :recipentsDetails='key' :templateDetails='template_detail'></emailButton>                 
                              </div>
                        </div>
                        <div class="list_empty" v-if="tenant_list.length == 0">
                              <div class="list_fields c_align" colspan="5" v-if="cateMenu == 'o'">
                                    <span>You have 0 owner, add it now.</span><br>
                                    <a  @click="newTenantPopUp(3)" class="btn btn_submit">Add Owner Now</a>
                              </div>

                              <div class="list_fields c_align" colspan="5" v-if="cateMenu == 'i'">
                                    <span>You have 0 investor, add it now.</span><br>
                                    <a  @click="newTenantPopUp(5)" class="btn btn_submit">Add Investor Now</a>
                              </div>

                              <div class="list_fields c_align" colspan="5" v-if="cateMenu == 't'">
                                    <span>You have 0 tenant, add it now.</span><br>
                                    <a  @click="newTenantPopUp(4)" class="btn btn_submit">Add Tenant Now</a>
                              </div>
                        </div>
                  </div>
                  <pagination :pagination="list_pagination"></pagination>
		      <popupEmail></popupEmail>
            </div>
      </div>
</template>

<script>
import EventBus from '../event-bus';
import  pagination from '../PaginationComponent.vue';
import emailButton from '../emailButton.vue';
import popupEmail from '../popup/popup_common_email';

export default {
      props: ['page','ttype','torder','torderby','search_term', 'search_tag', 'tag'],
      components: {
            pagination,emailButton,popupEmail
      },
      data(){
            return {
                  cateMenu : 'a',
                  un_seq : 'a',
                  n_seq : 'a',
                  c_seq : 'a',
                  u_seq : 'a',
		      search_tag_new: this.search_tag,
                  //ttype : '3',
                  //torder : 'a',
                  //torderby : 'first_name',
                  unit_list: [],
                  tenant_list: [],
                  carpark_list:[],
                  list_pagination: [],
				  tag_cate:[],
				  template_tag:[],
				  email_template: [], 
				  template_detail:[],
                  //search_term: null
                  check_box:{
                        checkedItem:[],
                        isCheckAll:false,
                  },
            }

      },
      methods:{
            newTenantPopUp: function(type) {
                  var this_tenant = {'type' : type}
                  EventBus.$emit("new_tenant", this_tenant);
            },
             updateItem(){
                  //this.$refs.eventBus.reset();
                  var selected_data = {
                        'ids' : this.check_box.checkedItem,
                        'type' : 'unit',
                  }
                  EventBus.$emit("selected_data", selected_data);
             },

            unlinkVehicle:function(vehicle_id, cp_id, carpark_title, make, index) {
                  if (confirm('Are you sure you want to remove the vehicle['+make+'] from this carpark['+carpark_title+']?')) {
                        if (vehicle_id > 0) {
                              var _this = this;
                              axios.post('/mgr/unlink_vehicle', {
                                    vehicle_id: vehicle_id,
                                    cp_id: cp_id
                              })
                              .then(function (response) {
                                    if (response.data.success == 1) {
                                          _this.carpark_list[index].vehicle_id = null;
                                          _this.carpark_list[index].first_name = null;
                                          _this.carpark_list[index].last_name = null;
                                          _this.carpark_list[index].make = null;
                                          _this.carpark_list[index].model = null;
                                          _this.carpark_list[index].tenant_id = null;
                                          _this.carpark_list[index].unit_id = null;
                                          _this.carpark_list[index].unit_title = null;
                                          _this.carpark_list[index].plate_no = null;
                                    }
                              })
                              .catch(function (error) {
                                    // 
                              });
                        }
                  }
            },
            rmCarpark:function(vehicle_id, id) {
                   if (confirm('Are you sure you want to delete this carpark? The vehicle in this carpark will be unlinked when you decide to remove this carpark.')) {
                        var _this = this;
                        axios.post('/mgr/del_carpark', {
                              cp_id: id,
                              vehicle_id: vehicle_id,
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    for (var i = 0; i < _this.carpark_list.length; i++) {
                                          if (_this.carpark_list[i].id == response.data.id) {
                                                _this.carpark_list.splice(i, 1);
                                          }
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            rmUnit:function(id) {
                  if (confirm('Are you sure you want to delete this unit?')) {
                        var _this = this;
                        axios.post('/mgr/del_unit', {
                              unit_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    for (var i = 0; i < _this.unit_list.length; i++) {
                                          if (_this.unit_list[i].id == response.data.unit_id) {
                                                _this.unit_list.splice(i, 1);
                                          }
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            searchByKeywords:function() {
                  if (this.cateMenu == 'a') {
                        this.getUnitList(1, this.un_seq, 'unit_title', this.search_term, this.search_tag_new);    //pagination, order, orderby, search
                  } else {
                        this.getTenantList(1, this.ttype, this.torder, this.torderby, this.search_term);    //pagination, type
                  }
            },
            updateTenantListOrder:function (order, orderby) {
                  if (orderby == 'first_name') {
                        this.n_seq = order;
                        this.c_seq = 'a';
                        this.u_seq = 'a';
                  } else if (orderby == 'tenant_code') {
                        this.n_seq = 'a';
                        this.c_seq = order;
                        this.u_seq = 'a';
                  } else if (orderby == 'unit_title') {
                        this.n_seq = 'a';
                        this.c_seq = 'a';
                        this.u_seq = order;
                  }
                  this.torder = order;
                  this.torderby = orderby;

                  this.getTenantList(1, this.ttype, this.torder, this.torderby, this.search_term);    //pagination, type
            },
            updateUnitListOrder:function(order) {
                  this.un_seq = order;
                  this.getUnitList(1, this.un_seq, 'unit_title', this.search_term);    //pagination, order, orderby, search
            },
            getListContent:function(type) {
                  this.search_term = null;
                  if (type == 'a') {
                        this.un_seq = 'a';
                        this.getUnitList(1, 'a', 'unit_title', this.search_term);    //pagination, order, orderby
                  } else if (type == 'o') {
                        this.ttype = 3;
                        this.torder = 'a';
                        this.torderby = 'first_name';
                        this.getTenantList(1, this.ttype, this.torder, this.torderby, this.search_term);    //pagination, type
                  } else if (type == 'i') {
                        this.ttype = 5;
                        this.torder = 'a';
                        this.torderby = 'first_name';
                        this.getTenantList(1, this.ttype, this.torder, this.torderby, this.search_term);    //pagination, type
                  } else if (type == 't') {
                        this.ttype = 4;
                        this.torder = 'a';
                        this.torderby = 'first_name';
                        this.getTenantList(1, this.ttype, this.torder, this.torderby, this.search_term);    //pagination, type
                  } else if (type == 'c') {
                        this.getCarparkList(1);    //pagination, type
                  }
                  this.cateMenu = type;
                  this.updateItem();
            },
            getCarparkList: function (page) {
                  var _this = this;
                  axios.get('/mgr/get_carpark_list/p='+ page).then(function (response) {
                        if (response.data.data.length > 0) {
                              _this.carpark_list = response.data.data;
                              _this.updatePaginationData(response);
                              _this.list_pagination.type = 'c';
                        } else {
                              _this.carpark_list = [];
                              _this.updatePaginationData('');
                               _this.list_pagination.type = '';
                        }
                        EventBus.$emit("initListPagination",_this.list_pagination);
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            getTenantList: function (page, ttype, torder, torderby, search_term) {
                  var _this = this;
                  axios.get('/mgr/get_tenant_list/p='+ page+'&ttype='+ttype+'&torder='+torder+'&torderby='+torderby+'&search_term='+search_term).then(function (response) {
                        if (response.data.data.length > 0) {
                              _this.tenant_list = response.data.data;
                              //console.log(_this.tenant_list);
                              _this.updatePaginationData(response);
                              _this.list_pagination.type = ttype;
                        } else {
                              _this.tenant_list = [];
                              _this.updatePaginationData('');
                               _this.list_pagination.type = '';
                        }
                        EventBus.$emit("initListPagination",_this.list_pagination);
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            getUnitList: function (page, order, orderby, search_term, search_tag_new) {
                  var _this = this;
                  var qty_per_page = 12;

                  if (search_tag_new == undefined) {
                        search_tag_new = null;
                  }
                  axios.get('/mgr/get_unit_list/p='+ page+'&order='+order+'&orderby='+orderby+'&search_term='+search_term+'&search_tag='+search_tag_new+'&qty_per_page='+qty_per_page).then(function (response) {
                       if (response.data.data.length > 0) {
                              _this.unit_list = response.data.data;
                              console.log(_this.unit_list);
                              _this.updatePaginationData(response);
                              _this.list_pagination.type = 'u';
                        } else {
                              _this.unit_list = [];
                              _this.updatePaginationData('');
                        }
                        EventBus.$emit("initListPagination",_this.list_pagination);
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            updatePaginationData: function(response) {
                  if (response.hasOwnProperty('data')) {
                        this.list_pagination.from = response.data.from;
                        this.list_pagination.last_page = response.data.last_page;
                        this.list_pagination.next_page_url = response.data.next_page_url;
                        this.list_pagination.path = response.data.path;
                        this.list_pagination.per_page = response.data.per_page;
                        this.list_pagination.to = response.data.to;
                        this.list_pagination.total = response.data.total;
                        this.list_pagination.current_page = response.data.current_page;
                  } else {
                        this.list_pagination.from = '';
                        this.list_pagination.last_page = '';
                        this.list_pagination.next_page_url = '';
                        this.list_pagination.path = '';
                        this.list_pagination.per_page = '';
                        this.list_pagination.to = '';
                        this.list_pagination.total = '';
                        this.list_pagination.current_page = '';
                  }
                   //console.log(this.list_pagination);
            },
            unLinkTenant:function(id) {
                  if (confirm('All of the tenant\'s info will be removed if you unlink it, are you sure you want to unlink this tenant? ')) {
                        var _this = this;
                        axios.post('/mgr/unlink_tenant', {
                              tenant_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {

                                    for (var i = 0; i < _this.tenant_list.length; i++) {
                                          console.log(_this.tenant_list[i]); 
                                          if (_this.tenant_list[i].user_id == response.data.tenant_id) {
                                                _this.tenant_list.splice(i, 1);
                                          }
                                    }
                                    
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
			getTemplate:function() {
				var _this = this;
				
				axios.get('/mgr/get_template').then(function(response){
					if(response.data.length > 0) {
						for (var i = 0; i < response.data.length; i++) {
							_this.template_tag.push(response.data[i]['tag']);
							_this.email_template.push(response.data[i])
						}	
						_this.template_tag = Array.from(new Set(_this.template_tag))
								_this.template_detail['tag_cate '] = _this.tag_cate;
								_this.template_detail['template_tag'] = _this.template_tag;
								_this.template_detail['email_template'] = _this.email_template;
						
					}
				})
			},
            viewTenantDetail(tenant_id) {
                  console.log(tenant_id);
                  EventBus.$emit("tenant_id",tenant_id);
            },
            viewCPDetail(cp_id, carpark_title) {
                  console.log(cp_id);
                  EventBus.$emit("cp_id",cp_id, carpark_title);
            },
             goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
      },
      created() {
            if (this.ttype == 3) {
                  this.cateMenu = 'o';
            } else if (this.ttype == 4) {
                  this.cateMenu = 't';
            } else if (this.ttype == 5) {
                  this.cateMenu = 'i';
            } else if (this.ttype == 'c') {
                  this.cateMenu = 'c';
            }

            if (this.ttype > 0) {
                  this.getTenantList(this.page, this.ttype, this.torder, this.torderby, this.search_term); 
            } else if (this.ttype == 'c') {
                   this.getCarparkList(this.page);
            } else {
                  this.getUnitList(1, 'a', 'unit_title', this.search_term, this.search_tag_new);    //pagination, order, order by
            }
      },
      mounted() {
            var _this = this;
            EventBus.$on('updateListPagination', function (e) {
                  if (e.type == 'u') {
                        _this.getUnitList(e.page, _this.un_seq, 'unit_title', _this.search_term, _this.search_tag_new); 
                  } else if (e.type == 'o') {
                        _this.getTenantList(e.page, _this.ttype, _this.torder, _this.torderby, _this.search_term);    //pagination, type
                  } else if (e.type == 'i') {
                        _this.getTenantList(e.page, _this.ttype, _this.torder, _this.torderby, _this.search_term);    //pagination, type
                  } else if (e.type == '4') {
                        _this.getTenantList(e.page, _this.ttype, _this.torder, _this.torderby, _this.search_term);    //pagination, type
                  }else if (e.type == 'c') {
                        _this.getCarparkList(e.page);    //pagination, type
                  }
            });

            EventBus.$on('update_carpark', function (new_record) {
                  //console.log(new_record);
                  //if (new_record.tenant_id > 0) {
                        console.log(_this.carpark_list);
                        for (var i = 0; i < _this.carpark_list.length; i++) {
                              if (_this.carpark_list[i].id == new_record.cp_id) {
                                    _this.carpark_list[i].make = new_record.make;;
                                    _this.carpark_list[i].model = new_record.model;
                                    _this.carpark_list[i].unit_id = new_record.unit_id;
                                    _this.carpark_list[i].unit_title = new_record.unit_title;
                                    _this.carpark_list[i].vehicle_id = new_record.vehicle_id;
                                    _this.carpark_list[i].carpark_title = new_record.carpark_title;
                              }     
                        }
                  //}
                  _this.$forceUpdate();
            });
			this.getTemplate();

      }
}

</script>

<style>
#addTenantForm .popup_cont .popup_content {
      max-width: 650px;
      left: calc(50% - 325px) !important;
      height: 380px !important;
      overflow: hidden;
}

.list_cont .list_fields {
      position: relative;
}
.txt_name {
      width: 100%;
}

.list_field_Verified {
    color: #55ce63;font-weight: 900;font-size: .8em;
}

.list_field_Unverified {
    color: #ff0000;font-weight: 900;font-size: .8em;
}

.tag_cont {
      -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;padding:3px 8px;margin-right: 5px;margin-bottom:5px;background-color: rgb(64,78,103,.3);color: #404E67;white-space:nowrap;font-size: .9em;
}

.list_cont, .list_header i {
      display: none;
}
#search_filter {
	flex: 2 !important;
}
#c_pen{
      margin:0 6px;
}
.d_buttom{
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 5px;
    line-height: 26px;
    color: #fff;
    border-radius: .2rem;
    background-color: #ff738a;
}
</style>