<template>
      <kendo-combobox 
                  id="unit_list"
                  v-model="selectedUnit"
                  :placeholder="'Select unit'"
                  :data-source="units"
                  :data-text-field="'unit_title'"
                  :data-value-field="'id'"
                  :filter="'contains'"
                  :change="validateTID()">
    </kendo-combobox>
</template>

<script>
import { DropdownsInstaller, ComboBox } from '@progress/kendo-dropdowns-vue-wrapper'

Vue.use(DropdownsInstaller)

export default {
      props:['units'],
      components: {
            DropdownsInstaller, ComboBox
      },
    
      data(){
            return{
                  tid_arr: [],
                  selectedUnit: null
            }
      },

      methods:{
            validateTID: function() {
                  if (this.tid_arr.length <= 0) {
                        this.selectedUnit = null;
                  } else {
                        if (!this.tid_arr.includes(parseInt(this.selectedUnit)) && (this.selectedUnit != null && this.selectedUnit != '')) {
                              this.selectedUnit = this.units[0].id;
                        } 
                  }
                  this.$emit('selectedUnit', this.selectedUnit);
            }
      },
      mounted() {
            for(var i = 0; i < this.units.length ; i++) {
                  this.tid_arr[i] = this.units[i].id;
            }
            
      }

}

</script>

<style>
.k-widget.k-combobox {
      width: 100%;
      height: 36px;
      border-radius: 5px;
      border: 1px solid #dedede;
}

.k-widget.k-combobox .k-input{
      height: 36px;
}

.k-widget.k-combobox .k-select {
      background-color: #fff;
      background-image: none;
}

.k-combobox .k-dropdown-wrap {
      border-color: transparent;
}

.k-i-arrow-60-down::before {
      padding-left: 6px;
}

.k-combobox .k-dropdown-wrap .k-clear-value {
      height: 24px;line-height: 24px;;
}
</style>