
<template>
      <div id="main_content">
            <div class="msg_cont">
                  <div id="msg_bar"></div>
            </div>
            <div id="content_header" >
                  <i id="bk_to_previous_pg" class="fas fa-angle-left" onclick="window.history.go(-1);"></i>
                  <h2 id="content_title">Unit Details</h2>
                  <button class="btn btn_new" v-on:click="showUnitPanel('link_tenant')" v-show="uid > 0">New Owner | Tenant | Investor</button>
                  <!-- <input type="text" name="unit_title" class="txt_unit_title" placeholder="unit no." v-model="unit_details.info.unit_title" readonly v-if="uid > 0"> -->
            </div>

            <div class="content_body">
                  <div class="col">
                        <VueSlideoutPanel></VueSlideoutPanel>
                        <script type="text/x-template" id="checkbox-template">
                              <div style="padding:70px 30px;">
                                    <div v-if="formtype == 'k'">
                                          <h3 class="slider_title">
                                                Add A Key
                                                <button class="btn_trans btn_closepanel" v-on:click.prevent="closePanel"><i class="fa fa-times"></i></button>
                                          </h3>
                                          <label class="slider_desc">
                                                Enter a tenant code/email to send an activation email to the specific tenant.
                                          </label>
                                          <div class="slider_content">
                                                <input type="hidden"  v-model="edit_tenant_key.id">
                                                <input type="hidden"  v-model="edit_tenant_key.unit_id">
                                                
                                                <div class="field_cont col">
                                                      <div class="col-md-12">
                                                            <label class="field_title">Type</label>
                                                            <select class="col-md-12" v-model="edit_tenant_key.type">
                                                                  <option v-for="p_key in key_type" v-text="p_key.title"  v-bind:value="p_key.id" ></option>
                                                            </select>
                                                      </div>
                                                     
                                                </div>

                                                <div class="field_cont">
                                                      <label class="field_title">Comment</label>
                                                      <textarea name="" row="8" v-model="edit_tenant_key.comment"></textarea>
                                                </div>
                                                            
                                                <div class="slider_btn_cont">
                                                      <input type="button" class="btn btn_update w_70" value="Update" v-on:click="insertOrUpdateKey()">
                                                </div>
                                                            
                                          </div>
                                    </div>

                                          <div v-if="formtype == 'd'">
                                                      <h3 class="slider_title">
                                                            Upload A Document
                                                            <button class="btn_trans btn_closepanel" v-on:click.prevent="closePanel"><i class="fa fa-times"></i></button>
                                                      </h3>
                                                      <label class="slider_desc">
                                                            Enter a tenant code/email to send an activation email to the specific tenant.
                                                      </label>
                                                      <div class="slider_content">
                                                            <form @submit="uploadDoc" enctype="multipart/form-data">
                                                                  <div class="field_cont">
                                                                        <label class="field_title">Tenant</label>
                                                                        <select class="col-md-12" v-model="doc_user_id">
                                                                              <option v-for="t_key in tenant_list" v-text="t_key.first_name+' '+t_key.last_name"  v-bind:value="t_key.user_id"></option>
                                                                        </select>
                                                                  </div>
                                                                   <div class="field_cont">
                                                                        <label class="field_title">File to Upload</label>
                                                                        <input type="file" class="col-md-12" v-on:change="onFileChange">
                                                                  </div>

                                                                  <div class="slider_btn_cont">
                                                                        <input type="submit" class="btn btn_update w_70" value="Upload">
                                                                  </div>
                                                            </form>
                                                      </div>
                                          </div>

                                          <div v-if="formtype == 'p'">
                                                      <h3 class="slider_title">
                                                            Add A Pet
                                                            <button class="btn_trans btn_closepanel" v-on:click.prevent="closePanel"><i class="fa fa-times"></i></button>
                                                      </h3>
                                                      <label class="slider_desc">
                                                            Enter a tenant code/email to send an activation email to the specific tenant.
                                                      </label>
                                                      <div class="slider_content">
                                                            <input type="hidden"  v-model="edit_tenant_pet.id">
                                                            <div class="field_cont">
                                                                  <label class="field_title">Tenant</label>
                                                                  <select class="col-md-12" v-model="edit_tenant_pet.tenant_id">
                                                                        <option v-for="t_key in tenant_list" v-text="t_key.first_name+' '+t_key.last_name"  v-bind:value="t_key.user_id"></option>
                                                                  </select>
                                                            </div>
                                                            <div class="field_cont col">
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Type</label>
                                                                        <select class="col-md-12" v-model="edit_tenant_pet.type">
                                                                              <option v-for="p_key in pet_type" v-text="p_key.title"  v-bind:value="p_key.id"></option>
                                                                        </select>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Variety</label>
                                                                        <input type="text" class="col-md-12 txt_field_val" placeholder="Variety"  v-model="edit_tenant_pet.variety">
                                                                  </div>
                                                            </div>

                                                            <div class="field_cont col">
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Color</label>
                                                                        <select class="col-md-12"  v-model="edit_tenant_pet.color">
                                                                              <option v-for="pc_key in color" v-text="pc_key"  v-bind:value="pc_key"></option>
                                                                        </select>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Borned In</label>
                                                                        <select class="col-md-12"  v-model="edit_tenant_pet.borned_in">
                                                                              <option v-for="y_key in year" v-text="y_key"  v-bind:value="y_key"></option>
                                                                        </select>
                                                                  </div>
                                                            </div>
                                                            
                                                            <div class="slider_btn_cont">
                                                                  <input type="button" class="btn btn_update w_70" value="Update" v-on:click="insertOrUpdatePet()">
                                                            </div>
                                                            
                                                      </div>
                                          </div>

                                          <div v-if="formtype == 'v'">
                                                      <h3 class="slider_title">
                                                            Add A Vehicle
                                                            <button class="btn_trans btn_closepanel" v-on:click.prevent="closePanel"><i class="fa fa-times"></i></button>
                                                      </h3>
                                                      <label class="slider_desc">
                                                            Enter a tenant code/email to send an activation email to the specific tenant.
                                                      </label>
                                                      <input type="hidden"  v-model="edit_tenant_vehicle.id">
                                                      <div class="slider_content">
                                                            <div class="field_cont">
                                                                  <label class="field_title">Tenant</label>
                                                                  <select class="col-md-12" v-model="edit_tenant_vehicle.tenant_id">
                                                                        <option v-for="t_key in tenant_list" v-text="t_key.first_name+' '+t_key.last_name"  v-bind:value="t_key.user_id"></option>
                                                                  </select>
                                                            </div>
                                                            <div class="field_cont">
                                                                  <label class="field_title">Parking Lot</label>
                                                                  <select class="col-md-12" v-model="edit_tenant_vehicle.parking_id">
                                                                        <option v-for="cp_key in unit_details.carparks" v-text="cp_key.carpark_title"  v-bind:value="cp_key.id"></option>
                                                                  </select>
                                                            </div>

                                                            <div class="field_cont col">
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Car Make</label>
                                                                        <input type="text" class="col-md-12 txt_field_val" placeholder="Car Make" v-model="edit_tenant_vehicle.make">
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Car Model</label>
                                                                        <input type="text" class="col-md-12 txt_field_val" placeholder="Car Model" v-model="edit_tenant_vehicle.model">
                                                                  </div>
                                                            </div>

                                                            <div class="field_cont col">
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Year</label>
                                                                        <select class="col-md-12"  v-model="edit_tenant_vehicle.year">
                                                                              <option v-for="y_key in year" v-text="y_key"  v-bind:value="y_key"></option>
                                                                        </select>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Color</label>
                                                                        <select class="col-md-12"  v-model="edit_tenant_vehicle.color">
                                                                              <option v-for="pc_key in color" v-text="pc_key"  v-bind:value="pc_key"></option>
                                                                        </select>
                                                                  </div>
                                                            </div>
                                                            <div class="field_cont col">
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Plate Number</label>
                                                                        <input type="text" class="col-md-12 txt_field_val" placeholder="Plate Number" v-model="edit_tenant_vehicle.plate_no">
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">State</label>
                                                                        <select class="col-md-12"  v-model="edit_tenant_vehicle.state">
                                                                              <option v-for="vs_key in state" v-text="vs_key.val"  v-bind:value="vs_key.key"></option>
                                                                        </select>
                                                                  </div>
                                                                  
                                                            </div>
                                                            
                                                            <div class="slider_btn_cont">
                                                                  <input type="button" class="btn btn_update w_70" value="Update" v-on:click="insertOrUpdateVehicle()">
                                                            </div>
                                                      </div>
                                          </div>

                                          <div v-if="formtype == 't'">
                                                <h3 class="slider_title">
                                                      Edit Tenant 
                                                      <button class="btn_trans btn_closepanel" v-on:click.prevent="closePanel"><i class="fa fa-times"></i></button>
                                                </h3>
                                                <label class="slider_desc">
                                                      Property Admin has not rights to edit tenant information except the tenant type
                                                </label>
                                                <div class="slider_content">
                                                      <div class="field_cont">
                                                            <label class="field_title">Tenant</label>
                                                            <input type="hidden" v-model="edit_tenant_response.id">
                                                            <input type="text" class="col-md-12 txt_field_val" placeholder="Tenant" v-model="edit_tenant_response.first_name+' '+edit_tenant_response.last_name" readonly>
                                                      </div>
                                                      <div class="field_cont">
                                                            <label class="field_title">Type</label>
                                                            <select class="col-md-12" v-model="edit_tenant_response.type_id">
                                                                  <option v-for="t_key in tenant_type" v-text="t_key.title"  v-bind:value="t_key.id"></option>
                                                            </select>
                                                      </div>
                                                      <div class="slider_btn_cont">
                                                            <input type="button" class="btn btn_linktenant w_70" value="Update" v-on:click="updateTenantType()">
                                                      </div>
                                                </div>
                                          </div>

                                          <div v-if="formtype == 'link_tenant'">
                                                      <h3 class="slider_title">
                                                            New Owner, Invester or Tenant
                                                            <button class="btn_trans btn_closepanel" v-on:click.prevent="closePanel"><i class="fa fa-times"></i></button>
                                                      </h3>
                                                      <label class="slider_desc">
                                                            Enter an unique code/email which is provided your tenant and press 'Link' button to send them an activation email.
                                                      </label>
                                                      <div class="slider_content">
                                                            <div class="field_cont">
                                                                  <label class="field_title">Unique Tenant Code / Tenant Email</label>
                                                                  <input type="text" class="col-md-12 txt_tenant_id" placeholder="Unique Tenant Code or tenant email" v-model="new_tenant_code">
                                                            </div>
                                                            <div class="field_cont">
                                                                  <label class="field_title">Type</label>
                                                                  <select class="col-md-12" v-model="new_tenant_type_id">
                                                                        <option v-for="t_key in tenant_type" v-text="t_key.title"  v-bind:value="t_key.id"></option>
                                                                  </select>
                                                            </div>
                                                            <div class="slider_btn_cont">
                                                                  <input type="button" class="btn btn_linktenant w_70" value="Link" v-on:click="linkTenant()">
                                                            </div>
                                                      </div>
                                          </div>
                                                
                                          <div v-if="formtype == 'cf'">
                                                      <h3 class="slider_title">
                                                            Add A Custom Field
                                                            <button class="btn_trans btn_closepanel" v-on:click.prevent="closePanel"><i class="fa fa-times"></i></button>
                                                      </h3>
                                                      <label class="slider_desc">
                                                            Enter a tenant code/email to send an activation email to the specific tenant.
                                                      </label>
                                                      <div class="slider_content">
                                                            <ul >
                                                                  <li class="field_cont" v-for="(input, index) in new_cfields">
                                                                        <div class="col-md-5">
                                                                              <label class="field_title">Field Title</label>
                                                                              <input type="text" class="col-md-12 txt_field_title" placeholder="Field Title" v-model="input.key">
                                                                        </div>
                                                                        <div class="col-md-5">
                                                                              <label class="field_title">Field Value</label>
                                                                              <input type="text" class="col-md-12 txt_field_val" placeholder="Field Value" v-model="input.value">
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                              <input type="button" value="Del" class="btn btn_del btn_delCField" v-on:click="delCustomFieldRow(index)">
                                                                        </div>
                                                                  </li>
                                                            </ul>
                                                            <div class="slider_btn_cont">
                                                                  <input type="button" class="btn btn_add btn_white" value="Add" v-on:click="addCustomFieldRow">
                                                                  <input type="button" class="btn btn_update" value="Update" v-on:click="insertOrUpdateCustomField() ">
                                                            </div>
                                                      </div>
                                          </div>
                                                
                              </div>
                        </script>

                        <div class="unit_cont" v-if="uid == null">
                              <form id="createunitForm" ref="createunitForm"  v-kendo-validator  @submit.prevent="saveUnit">
                                    <h3 class="" v-if="new_up == 'u'">Add A New Unit</h3>
                                    <p class="" v-if="new_up == 'u'">
                                          Create a unit and manage all the tenants in one page.
                                    </p>

                                    <h3 class="" v-if="new_up == 'p'">Add A New Carpark</h3>
                                    <p class="" v-if="new_up == 'p'">
                                          Parking Management is an easy way to monitor, manage and solve workplace parking availability.
                                    </p>



                                    <div class="field_cont">
                                          <div id="new_uc" class="radio_cont w_50">
                                                <label class="lbl_radio">
                                                      <input type="radio" name="unit_carpark" value="u" v-model="new_up"/>
                                                      <div>Unit</div>
                                                </label><label class="lbl_radio">
                                                      <input type="radio" name="unit_carpark" value="p" v-model="new_up"/>
                                                      <div>Carpark</div>
                                                </label>
                                          </div>

                                          <div v-if="new_up == 'u'">
                                                <input type="text" class="txt_unit w_50" placeholder="Unit Title"  id="unit_title" name="unit_title" v-model="unit_title"  required validationMessage="Unit Number is required">
                                                <span data-for='unit_title' class='k-invalid-msg'></span>
                                                <tagsinput :suggestions="tags" :tagclass="'unit'" v-model="unit_tags" @SelectedTag="getSelectedTag" @delSelectedTag="delSelectedTag"  v-on:delTag="delUnitTag"></tagsinput>
                                          </div>

                                          <div v-if="new_up == 'p'" style="margin: 20px auto;">
                                                <input type="text" class="txt_unit w_50" placeholder="Carpark Title"  id="cp_title" name="cp_title" v-model="cp_title"  required validationMessage="Carpark Title is required">
                                                <select class="cp_type w_50" v-model="cp_type">
                                                      <option value="1">Resident Carpark</option>
                                                      <option value="2">Common Carpark</option>
                                                </select>
                                          </div>
                                    </div>
                                    <div class="field_cont">
                                          <button class="btn btn_update w_30" type="submit">Create</button>
                                    </div>
                              </form>
                        </div>

                        <form method="post" action="/mgr/save_unit" v-kendo-validator @submit.prevent>
                        <div class="unit_details" v-show="uid > 0">
                              <div id="unit_info">
                                    <a href="#" class="unit_del"><i class="fa fa-times" v-on:click="rmUnit(uid);"></i></a>
                                    <div class="col-md-4 unit_no_cont">
                                          <input type="text" name="current_unit_title" id="current_unit_title" class="txt_unit_title" placeholder="unit no." v-model="unit_details.info.unit_title" v-if="uid > 0" required validationMessage="Unit Number is required">
                                          <span data-for='current_unit_title' class='k-invalid-msg'></span>
                                          <label for="current_unit_title">
                                                <i class="fa fa-edit"></i>
                                          </label>
                                    </div>

                                    <div class="col-md-8 col">
                                          <div class="col-md-3 unit_main_title">
                                                Tags
                                          </div>
                                          <div class="col-md-9 col">
                                                <tagsinput :suggestions="tags" :tagclass="'unit'" v-model="unit_tags" @SelectedTag="getSelectedTag" @delSelectedTag="delSelectedTag"  v-on:delTag="delUnitTag"></tagsinput>
                                          </div>
                                          <div class="col-md-3 unit_main_title">
                                                Comment
                                          </div>
                                          <div class="col-md-9 col">
                                                <textarea v-model="unit_details.info.comment" v-if="uid > 0"></textarea>
                                          </div>
                                    </div>

                                    <div class="button_cont">
                                          <a class="btn btn_cancel"  v-bind:href="'/mgr/unit/'">Unit List Page</a>
                                          <button class="btn btn_submit" type="submit" v-on:click="saveUnit">Save</button>
                                    </div>
                              </div>


                              <div class="col list_header">
                                    <ul id="main_cate_list">
                                          <li v-bind:class="{ active: cateMenu == 't' }" @click="getListContent('t')">Tenants<div class="bottom_border"></div></li>
                                          <li v-bind:class="{ active: cateMenu == 'k' }" @click="getListContent('k')">Keys<div class="bottom_border"></div></li>
                                          <li v-bind:class="{ active: cateMenu == 'v' }" @click="getListContent('v')">Vehicles<div class="bottom_border"></div></li>
                                          <li v-bind:class="{ active: cateMenu == 'p' }" @click="getListContent('p')">Pets<div class="bottom_border"></div></li>
                                          <li v-bind:class="{ active: cateMenu == 'd' }" @click="getListContent('d')">Documents<div class="bottom_border"></div></li>
                                          <li v-bind:class="{ active: cateMenu == 'cf' }" @click="getListContent('cf')">Custom Fields<div class="bottom_border"></div></li>
                                          <li v-bind:class="{ active: cateMenu == 'r' }" @click="getListContent('r')">Records<div class="bottom_border"></div></li>
                                    </ul>
                                    
                                    <div class="list_filter">
                                          <button class="btn_trans btn_slideout_add" v-on:click="showUnitPanel('link_tenant')" v-if="cateMenu == 't'"> 
                                                <i class="fa fa-plus"></i>
                                          </button>

                                          <button class="btn_trans btn_slideout_add" v-on:click="showUnitPanel(cateMenu, '')" v-if="cateMenu != 't'"> 
                                                <i class="fa fa-plus"></i>
                                          </button>
                                    </div>
                              </div>


                              <div class="container_block">
                                    <div class="list_cont" v-bind:class="{ active: cateMenu == 't' }">
                                          <div class="list_header">
                                                <div class="list_fields w_10">ID</div>
                                                <div class="list_fields w_15">NAME</div>
                                                <div class="list_fields w_10">TYPE</div>
                                                <div class="list_fields w_10">EMAIL</div>
                                                <div class="list_fields w_10">PHONE</div>
                                                <div class="list_fields w_10">MOBILE</div>
                                                <div class="list_fields w_10">EMERG. PERSON</div>
                                                <div class="list_fields w_10">STATUS</div>
                                                <div class="list_fields w_15 c_align">ACTIONS</div>
                                          </div>

                                          <div class="list_row"  v-for="(tenants_key, tenants_item) in unit_details.tenants">
                                                <div class="list_fields w_10">{{tenants_key.user_id}}</div>
                                                <div class="list_fields w_15">{{tenants_key.first_name}} {{tenants_key.last_name}} </div>
                                                <div class="list_fields w_10">{{tenants_key.type}}</div>
                                                <div class="list_fields w_10">{{tenants_key.email}}</div>
                                                <div class="list_fields w_10">{{tenants_key.contact}}</div>
                                                <div class="list_fields w_10">{{tenants_key.mobile}}</div>
                                                <div class="list_fields w_10">
                                                      <label class="emergency_person">{{tenants_key.emergency_person}} </label>
                                                      <span class="emergency_no">{{tenants_key.emergency_no}} </span>
                                                </div>
                                                <div class="list_fields w_10" v-bind:class="'list_field_'+tenants_key.link_status">{{tenants_key.link_status}}</div>
                                                <div class="list_fields w_15 c_align">
                                                      <button class="btn_tenant_edit" v-on:click="showUnitPanel('t', tenants_key)">
                                                            <i class="fa fa-edit"></i>
                                                      </button>
                                                      <button class="btn_tenant_unlink"  v-on:click="unLinkTenant(tenants_key.user_id);">
                                                            <i class="fa fa-unlink"></i>
                                                      </button>
                                                </div>

                                          </div>
                                    </div>

                                    <div class="list_cont" v-bind:class="{ active: cateMenu == 'k' }">
                                          <div class="list_header">
                                                            <div class="list_fields w_10">ID</div>
                                                            <div class="list_fields w_10">TYPE</div>
                                                            <div class="list_fields w_20">KEY HOLDER</div>
                                                            <div class="list_fields w_40">COMMENT</div>
                                                            <div class="list_fields w_20 c_align">ACTIONS</div>
                                          </div>

                                          <div class="list_row"  v-for="(key, item) in unit_details.tenant_keys">
                                                            <div class="list_fields w_10">{{ key.id }}</div>
                                                            <div class="list_fields w_10">{{ key_type[key.type-1].title }}</div>
                                                            <div class="list_fields w_20">{{ key.key_holder }}</div>
                                                            <div class="list_fields w_40">{{ key.comment }}</div>
                                                            <div class="list_fields w_20 c_align">
                                                                  <button class="" v-on:click="showUnitPanel('k', key)">
                                                                        <i class="fa fa-edit"></i>
                                                                  </button>

                                                                  <a href="#" v-on:click="rmKey(key.id);">
                                                                        <i class="fa fa-times"></i>
                                                                  </a>
                                                            </div>
                                          </div>
                                    </div>

                                    <div class="list_cont" v-bind:class="{ active: cateMenu == 'v' }">
                                          <div class="list_header">
                                                            <div class="list_fields w_15">PARKING LOT</div>
                                                            <div class="list_fields w_20">TENANTS</div>
                                                            <div class="list_fields w_15 c_align">PLATE NO.</div>
                                                            <div class="list_fields w_15 c_align">VEHICLE</div>
                                                            <div class="list_fields w_15 c_align">COLOR</div>
                                                            <div class="list_fields w_15 c_align">ACTIONS</div>
                                          </div>

                                          <div class="list_row" v-for="(vehicle_key, vehicle_item) in unit_details.tenant_vehicles">
                                                            <div class="list_fields w_15">{{ vehicle_key.carpark_title }}</div>
                                                            <div class="list_fields w_20">{{ unit_details.tenants[vehicle_key.tenant_id].first_name }} {{ unit_details.tenants[vehicle_key.tenant_id].last_name }}</div>
                                                            <div class="list_fields w_15 c_align">{{ vehicle_key.plate_no }}</div>
                                                            <div class="list_fields w_15 c_align">{{ vehicle_key.make }}</div>
                                                            <div class="list_fields w_15 c_align">{{ vehicle_key.color }}</div>
                                                            <div class="list_fields w_15 c_align">
                                                                  <button class="" v-on:click="showUnitPanel('v', vehicle_key)">
                                                                        <i class="fa fa-edit"></i>
                                                                  </button>

                                                                  <a href="#" v-on:click="rmVehicle(vehicle_key.id);">
                                                                        <i class="fa fa-times"></i>
                                                                  </a>
                                                            </div>
                                          </div>
                                    </div>

                                    <div class="list_cont" v-bind:class="{ active: cateMenu == 'p' }">
                                          <div class="list_header">
                                                            <div class="list_fields w_20">TYPE</div>
                                                            <div class="list_fields w_20">VARIETY</div>
                                                            <div class="list_fields w_20 c_align">COLOR</div>
                                                            <div class="list_fields w_20 c_align">TENANT</div>
                                                            <div class="list_fields w_20 c_align">ACTIONS</div>
                                          </div>

                                          <div class="list_row" v-for="(pet_key, pet_item) in unit_details.tenant_pets">
                                                            <div class="list_fields w_20">{{pet_type[pet_key.type-1].title}}</div>
                                                            <div class="list_fields w_20">{{pet_key.variety}}</div>
                                                            <div class="list_fields w_20 c_align">{{pet_key.color}}</div>
                                                            <div class="list_fields w_20 c_align">{{ unit_details.tenants[pet_key.tenant_id].first_name }} {{ unit_details.tenants[pet_key.tenant_id].last_name }}</div>
                                                            <div class="list_fields w_20 c_align">
                                                                  <button class="" v-on:click="showUnitPanel('p', pet_key)">
                                                                  <i class="fa fa-edit"></i>
                                                                  </button>

                                                                  <a href="#" v-on:click="rmPet(pet_key.id);">
                                                                        <i class="fa fa-times"></i>
                                                                  </a>
                                                            </div>
                                          </div>
                                    </div>

                                    <div class="list_cont" v-bind:class="{ active: cateMenu == 'd' }">
                                          <div class="list_header">
                                                                        <div class="list_fields w_25">NAME</div>
                                                                        <div class="list_fields w_15">TYPE</div>
                                                                        <div class="list_fields w_45">TENANT</div>
                                                                        <div class="list_fields w_15 c_align">ACTIONS</div>
                                          </div>

                                          <div class="list_row" v-for="(doc_key, doc_item) in unit_details.unit_doc">
                                                                        <div class="list_fields w_25">{{ doc_key.title }}</div>
                                                                        <div class="list_fields w_15">{{ doc_key.type }}</div>
                                                                        <div class="list_fields w_45">{{ unit_details.tenants[doc_key.tenant_id].first_name }} {{ unit_details.tenants[doc_key.tenant_id].last_name }} </div>
                                                                        <div class="list_fields w_15 c_align">
                                                                              <a href="#"  v-on:click="rmDoc(doc_key.id);">
                                                                                    <i class="fa fa-times"></i>
                                                                              </a>
                                                                        </div>
                                          </div>
                                    </div>

                                    <div class="list_cont" v-bind:class="{ active: cateMenu == 'cf' }">
                                          <div class="list_header">
                                                                        <div class="list_fields w_30">KEY</div>
                                                                        <div class="list_fields w_30">VALUE</div>
                                                                        <div class="list_fields w_30 c_align">ACTIONS</div>
                                          </div>

                                          <div class="list_row" v-for="(cfield_key, cfield_item) in unit_details.unit_cfield">
                                                                        <div class="list_fields w_30">{{cfield_key.key}}</div>
                                                                        <div class="list_fields w_30">{{cfield_key.value}}</div>
                                                                         <div class="list_fields w_30 c_align">
                                                                              <a href="#" v-on:click="rmCField(cfield_key.id);">
                                                                                    <i class="fa fa-times"></i>
                                                                              </a>
                                                                        </div>
                                          </div>
                                    </div>
                              </div>
                                          
                              
                        </div>
                        </form>
                  </div>
            </div>
      </div>

</template>

<script>
import { VueSlideoutPanel } from 'vue2-slideout-panel';
import { vueSlideoutPanelService } from 'vue2-slideout-panel';
import  tagsinput from '../tagsinput.vue';

Vue.component("panel-1", {
      name: "panel-1",
      template: '#checkbox-template',
      props: {
            formtype: String,
            current_uid: Number,
            tenant_list: Object,
            pet_types: Array,
            edit_tenant_response: Object,
            edit_tenant_vehicle: Object,
            edit_tenant_pet: Object,
            edit_tenant_key: Object,
            unit_details: Object
      },
      data() {
            return {
                  tenant_id: null,
                  unit_id: null,
                  new_tenant_code: null,
                  new_tenant_type_id: 4,
                  doc_user_id: null,
                  doc_file: '',

                  new_cfields: [
                        {key: '', value:''}
                  ],

                  tenant_type: [
                        {"id": '4', "slug":"tenant", "title":"Tenant"},
                        {"id": '3', "slug":"owner", "title":"Owner"},
                        {"id": '5', "slug":"invester", "title":"Invester"}
                  ],

                  pet_type: [
                        {"id": '1', "title":"Dog"},
                        {"id": '2', "title":"Cat"},
                        {"id": '3', "title":"Birds"},
                        {"id": '4', "title":"Rabbits"},
                        {"id": '5', "title":"Reptile"},
                        {"id": '6', "title":"Small Mammals"},
                        {"id": '7', "title":"Others"}
                  ],


                  key_type: [
                        {"id": '1', "slug":"swipe-card", "title":"Swipe Card"},
                        {"id": '2', "slug":"remote", "title":"Remote"},
                        {"id": '3', "slug":"metal", "title":"Metal"},
                        {"id": '4', "slug":"combination", "title":"Combination"}
                  ],

                  key_holder_type: [
                         {"id": '1', "slug":"building-mgr", "title":"Building Manager"},
                        {"id": '2', "slug":"concierge", "title":"Concierge"},
                        {"id": '3', "slug":"property-mgr", "title":"Property Manager"},
                        {"id": '4', "slug":"resident", "title":"Resident"},
                        {"id": '5', "slug":"owner", "title":"Owner"}
                  ],

                  state:[
                        {'key': 'ACT', 'val': 'Australia Capital Territory'},
                        {'key': 'NSW', 'val': 'New South Wales'},
                        {'key': 'QLD', 'val': 'Queensland'},
                        {'key': 'SA', 'val': 'South Australia'},
                        {'key': 'TAS', 'val': 'Tasmania'},
                        {'key': 'VIC', 'val': 'Victoria'},
                        {'key': 'WA', 'val': 'Western Australia'}
                  ],
                  year: [1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025],
                  color: ['Red','Orange','Yellow','Green','Blue','Indigo','Purple','Black','White','Multi Color','Other']


            };
      },
      methods: {
            onFileChange(e){
                console.log(e.target.files[0]);
                this.doc_file = e.target.files[0];
            },
            uploadDoc(e) {
                  e.preventDefault();
                  var _this = this;
      
                  const config = {
                        headers: { 'content-type': 'multipart/form-data' }
                  }
      
                  let formData = new FormData();
                  formData.append('doc_file', this.doc_file);
                  formData.append('current_uid', this.current_uid);
                  formData.append('doc_user_id', this.doc_user_id);

                  if (this.doc_file.size > (1024 * 1024) *2) {
                        e.preventDefault();
                        alert('The file you upload cannot more than 2MB');
                        return;
                  }

                  axios.post('/mgr/upload_doc', formData, config)
                        .then(function (response) {
                              _this.closeNUpdatePanel(response.data);
                        })
                        .catch(function (error) {
                              _this.output = error;
                        });
            },
            delCustomFieldRow(index) {
                  this.new_cfields.splice(index,1)
            },
            addCustomFieldRow() {
                  this.new_cfields.push(
                        { key: '',val: ''}
                  )
            },
            insertOrUpdateCustomField() {
                  var _this = this;
                  axios.post('/mgr/create_custom_field', {
                        current_uid: this.current_uid,
                        new_cfields: this.new_cfields
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                              _this.closeNUpdatePanel(response.data);
                        }
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            insertOrUpdateKey() {
                  var _this = this;
                  var key = {
                        unit_id: _this.edit_tenant_key.unit_id,
                        type: _this.edit_tenant_key.type,
                        comment: _this.edit_tenant_key.comment,  
                  };

                  axios.post('/mgr/create_key', {
                        key: key
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                              _this.closeNUpdatePanel(response.data);
                        }
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            insertOrUpdatePet() {
                  var _this = this;
                  axios.post('/mgr/create_pet', {
                        current_uid: this.current_uid,
                        edit_tenant_pet: this.edit_tenant_pet
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                              _this.closeNUpdatePanel(response.data);
                        }
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            insertOrUpdateVehicle() {
                  var _this = this;
                  console.log(this.edit_tenant_vehicle);
                  axios.post('/mgr/create_vehicle', {
                        current_uid: this.current_uid,
                        edit_tenant_vehicle: this.edit_tenant_vehicle
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                              _this.closeNUpdatePanel(response.data);
                        }
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            updateTenantType:function() {
                  var _this = this;
                   axios.post('/mgr/update_tenant_type', {
                        edit_tenant_response: this.edit_tenant_response,
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                              _this.closeNUpdatePanel(response.data);
                        }
                  })
                  .catch(function (error) {
                        currentObj.output = error;
                  });
            },
            linkTenant:function() {
                  var _this = this;
                  if (this.new_tenant_code == null || this.new_tenant_code == '') {
                        alert("Please enter the Unique Tenant Code.");
                        return;
                  }

                  axios.post('/mgr/link_tenant', {
                        new_tenant_code: this.new_tenant_code,
                        new_tenant_type: this.new_tenant_type_id,
                        unit_title: this.unit_details.info.unit_title,
                        unit_id: this.unit_details.info.id
                  })
                  .then(function (response) {
                        if (response.data.success == 0) {
                              alert(response.data.message);
                        } else {
                              document.querySelector(".msg_cont").style.display = "block";
                              document.querySelector("#msg_bar").innerText = "An activation email is already sent to the tenant, thier status will be updated when they activate the link.";
                              document.querySelector("#msg_bar").classList.add('success_msg');

                              setTimeout(function(){
                                    document.querySelector(".msg_cont").style.display = "none";
                                    document.querySelector("#msg_bar").innerText="";
                                    document.querySelector("#msg_bar").classList.remove('success_msg');
                              },4000);

                        }
                        _this.closeNUpdatePanel(response.data);
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            closeNUpdatePanel(response) {
                  this.$emit("closePanel", response);
            },
            closePanel() {
                  this.$emit("closePanel", {});
            },
      }
});



export default {
      //el:'#unit_form',
      props: ['current_uid','unit_details', 'tags'],
      components: {
            vueSlideoutPanelService, VueSlideoutPanel, tagsinput
      },
      data(){
            return {
                  new_up: 'u',
                  cateMenu : 't',
                  uid: this.current_uid > 0 ? this.current_uid: null,
                  // unit_record: this.unit_details.length > 0 ? this.unit_details : [],
                  unit_title: '',
                  cp_title: '',
                  cp_type: 1,
                  unit_tags: this.unit_details.selected_tags != '' && this.unit_details.selected_tags != null  ? this.unit_details.selected_tags : [],
                  formtype : '',
                  edit_tenant_response : {
                        id: '',
                        first_name: '',
                        last_name: '',
                        type: '',
                  },
                  edit_tenant_vehicle : {
                        id: '',
                        parking_id : '',
                        tenant_id : '',
                        plate_no : '',
                        year : '',
                        make : '',
                        model: '',
                        color: '',
                        state: '',
                  },
                  edit_tenant_pet : {
                        id: '',
                        tenant_id : '',
                        type: '',
                        variety: '',
                        color: '',
                        size:'',
                        borned_in: ''
                  },
                  edit_tenant_key : {
                        id: '',
                        unit_id: this.current_uid,
                        building_id : '',
                        type: '',
                        key_holder: '',
                        comment: ''
                  },
                  
                  key_type: [
                        {"id": '1', "slug":"swipe-card", "title":"Swipe Card"},
                        {"id": '2', "slug":"remote", "title":"Remote"},
                        {"id": '3', "slug":"metal", "title":"Metal"},
                        {"id": '4', "slug":"combination", "title":"Combination"}
                  ],

                  pet_type: [
                        {"id": '1', "title":"Dog"},
                        {"id": '2', "title":"Cat"},
                        {"id": '3', "title":"Birds"},
                        {"id": '4', "title":"Rabbits"},
                        {"id": '5', "title":"Reptile"},
                        {"id": '6', "title":"Small Mammals"},
                        {"id": '7', "title":"Others"}
                  ],

                  key_holder_type: [
                         {"id": '1', "slug":"building-mgr", "title":"Building Manager"},
                        {"id": '2', "slug":"concierge", "title":"Concierge"},
                        {"id": '3', "slug":"property-mgr", "title":"Property Manager"},
                        {"id": '4', "slug":"resident", "title":"Resident"},
                        {"id": '5', "slug":"owner", "title":"Owner"}
                  ],
                  vehicles : []
            }
      },
      methods:{
            getListContent:function(type) {
                
                 
                  this.cateMenu = type;
            },

            getSelectedTag:function(data) {
                  console.log(data);
                  this.unit_tags.push(data);
            },
            delSelectedTag:function(data) {
                  this.unit_tags.splice(data, 1);
            },
            delUnitTag:function(data) {
                  var new_suggestion = [];
                  for( var i = 0; i < this.tags.length; i++){ 
                        if ( this.tags[i].id != data) {  
                              new_suggestion.push(this.tags[i]);
                        }
                  }
                  this.tags = new_suggestion;
            },
            unLinkTenant:function(id) {
                  if (confirm('All of the tenant\'s info will be removed if you unlink it, are you sure you want to unlink this tenant? ')) {
                        var _this = this;
                        axios.post('/mgr/unlink_tenant', {
                              tenant_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {

                                    var new_tenant_vehicles = [];
                                    var new_tenant_pets = [];
                                    var new_unit_docs = [];
                                    for (var q = 0; q < _this.unit_details.tenant_vehicles.length; q++) {
                                          if (_this.unit_details.tenant_vehicles[q].tenant_id != response.data.tenant_id) { 
                                                new_tenant_vehicles.push(_this.unit_details.tenant_vehicles[q]);
                                          }
                                    }
                                    _this.unit_details.tenant_vehicles = new_tenant_vehicles;
                                    

                                    for (var w = 0; w < _this.unit_details.tenant_pets.length; w++) {
                                          if (_this.unit_details.tenant_pets[w].tenant_id != response.data.tenant_id) {
                                                new_tenant_pets.push(_this.unit_details.tenant_pets[w]);
                                          }
                                    }
                                    _this.unit_details.tenant_pets = new_tenant_pets;

                                    for (var e = 0; e < _this.unit_details.unit_doc.length; e++) {
                                          if (_this.unit_details.unit_doc[e].tenant_id != response.data.tenant_id) {
                                                new_unit_docs.push(_this.unit_details.unit_doc[e]);
                                          }
                                    }
                                    _this.unit_details.unit_doc = new_unit_docs;
                                    _this.$forceUpdate();


                                    for (const key in _this.unit_details.tenants) { 
                                          if (key == response.data.tenant_id) {
                                                console.log(key);
                                                delete _this.unit_details.tenants[key];
                                          }
                                    }
                                    
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            rmCField:function(id) {
                  if (confirm('Are you sure you want to delete this record?')) {
                        var _this = this;
                        axios.post('/mgr/del_cfield', {
                              cfield_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    for (var i = 0; i < _this.unit_details.unit_cfield.length; i++) {
                                          if (_this.unit_details.unit_cfield[i].id == response.data.id) {
                                                _this.unit_details.unit_cfield.splice(i, 1);
                                          }
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            rmDoc:function(id) {
                  if (confirm('Are you sure you want to delete this record?')) {
                        var _this = this;
                        axios.post('/mgr/del_doc', {
                              doc_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    for (var i = 0; i < _this.unit_details.unit_doc.length; i++) {
                                          if (_this.unit_details.unit_doc[i].id == response.data.id) {
                                                _this.unit_details.unit_doc.splice(i, 1);
                                          }
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            rmPet:function(id) {
                  if (confirm('Are you sure you want to delete this record?')) {
                        var _this = this;
                        axios.post('/mgr/del_pet', {
                              pet_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    for (var i = 0; i < _this.unit_details.tenant_pets.length; i++) {
                                          if (_this.unit_details.tenant_pets[i].id == response.data.id) {
                                                _this.unit_details.tenant_pets.splice(i, 1);
                                          }
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            rmVehicle:function(id) {
                  if (confirm('Are you sure you want to delete this record?')) {
                        var _this = this;
                        axios.post('/mgr/del_vehicle', {
                              vehicle_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    for (var i = 0; i < _this.unit_details.tenant_vehicles.length; i++) {
                                          if (_this.unit_details.tenant_vehicles[i].id == response.data.id) {
                                                _this.unit_details.tenant_vehicles.splice(i, 1);
                                          }
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            rmKey:function(id) {
                  if (confirm('Are you sure you want to delete this record?')) {
                        var _this = this;
                        axios.post('/mgr/del_key', {
                              key_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    for (var i = 0; i < _this.unit_details.tenant_keys.length; i++) {
                                          if (_this.unit_details.tenant_keys[i].id == response.data.id) {
                                                _this.unit_details.tenant_keys.splice(i, 1);
                                          }
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            saveUnit:function(e) {
                  e.preventDefault();
                  let currentObj = this;
                  var _this = this;

                  var validator = this.kendoValidator;
                  console.log(validator.validate());
                  if (validator.validate()) {
                        var action = _this.uid > 0 ? 'update_unit' : null;

                        if (_this.new_up == 'p') {
                              axios.post('/mgr/save_carpark', {
                                    cp_title: _this.cp_title,
                                    cp_type: _this.cp_type
                              })
                              .then(function (response) {
                                    if (response.data.success == 1) {
                                         window.location.href = '/mgr/unit'; 
                                    } else if (response.data.success == 0) {
                                          alert(response.data.msg);
                                          return false;
                                    }
                              })
                              .catch(function (error) {
                                    currentObj.output = error;
                              });
                        } else if (_this.new_up == 'u') {
                              axios.post('/mgr/save_unit', {
                                    unit_title: _this.uid > 0 ? _this.unit_details.info.unit_title : _this.unit_title,
                                    unit_tags: _this.unit_tags != [] && _this.unit_tags.length > 0 ? JSON.stringify(_this.unit_tags) : [] ,
                                    unit_action : action,
                                    unit_comment : _this.uid > 0 ? _this.unit_details.info.comment : null,
                                    unit_id : _this.uid > 0 ? _this.uid : null,
                              })
                              .then(function (response) {
                                    if (response.data.success == 1) {
                                          if (_this.uid > 0) {
                                                window.location.href = '/mgr/unit'; 
                                          } else {
                                                _this.unit_details.info = Array;
                                                _this.uid = response.data.id;
                                                _this.unit_title = response.data.unit_title;
                                                _this.unit_details.info.unit_title = response.data.unit_title;
                                          }
                                    } else if (response.data.success == 0) {
                                          alert(response.data.msg);
                                          return false;
                                    }
                              })
                              .catch(function (error) {
                                    currentObj.output = error;
                              });
                        }
                  } else {

                  }
            },
            rmUnit:function(id) {
                  if (confirm('Are you sure you want to delete this unit?')) {
                        var _this = this;
                        axios.post('/mgr/del_unit', {
                              unit_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    window.location.href = '/mgr/unit'; 
                              }
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            
            // show slider
            showUnitPanel(form_type, response) {
                  console.log(response);
                  var _this = this;
                  this.formtype = form_type;
                  this.edit_tenant_response = form_type == 't' && response.hasOwnProperty('first_name') ?  response  : this.edit_tenant_response;
                  this.edit_tenant_vehicle = form_type == 'v' && response.hasOwnProperty('make') ? response : this.edit_tenant_vehicle;
                  this.edit_tenant_pet = form_type == 'p' && response.hasOwnProperty('type') ? response : this.edit_tenant_pet;
                  this.edit_tenant_key = form_type == 'k' && response.hasOwnProperty('type') ? response : this.edit_tenant_key;

                  const panel1Handle = vueSlideoutPanelService.show({
                        component: 'panel-1',
                        width: '600px', //customize the width
                        cssClass: 'panel-1-custom-class', //add a custom CSS class
                        keepAlive: true,
                        props: {
                              formtype:this.formtype,
                              current_uid: this.current_uid,
                              edit_tenant_response: this.edit_tenant_response,
                              edit_tenant_vehicle: this.edit_tenant_vehicle,
                              edit_tenant_pet: this.edit_tenant_pet,
                              edit_tenant_key: this.edit_tenant_key,
                              tenant_list:this.unit_details.tenants,
                              pet_types:this.unit_details.pet_types,
                              unit_details: this.unit_details
                        }
                  });
            
                  panel1Handle.promise
                        .then(results => {
                              console.log('Results for panel 1:', results);
                              _this.edit_tenant_response = {
                                    id: '',
                                    first_name: '',
                                    last_name: '',
                                    type: '',
                              };
                              _this.edit_tenant_vehicle ={
                                    id : '',
                                    parking_id : '',
                                    tenant_id : '',
                                    plate_no : '',
                                    year : '',
                                    make : '',
                                    model: '',
                                    color: '',
                                    state: '',
                              };
                              _this.edit_tenant_pet = {
                                    id: '',
                                    tenant_id : '',
                                    type: '',
                                    variety: '',
                                    color: '',
                                    size:'',
                                    borned_in: ''
                              };
                              _this.edit_tenant_key = {
                                    id: '',
                                    unit_id: _this.current_uid,
                                    building_id : '',
                                    type: '',
                                    key_holder: '',
                                    comment: ''
                              };
                              if (results.action =="create_vehicle" || results.action =="update_vehicle") {
                                    if (results.action =="create_vehicle") {
                                          var arr = [];
                                          arr['id'] = results.id;
                                          arr['tenant_id'] = results.tenant_id;
                                          arr['carpark_title'] = results.carpark_title;
                                          arr['plate_no'] = results.plate_no;
                                          arr['make'] = results.make;
                                          arr['color'] = results.color;
                                          _this.unit_details.tenant_vehicles.push(arr);
                                    } else {
                                          for (var i = 0; i < _this.unit_details.tenant_vehicles.length; i++) {
                                                if (_this.unit_details.tenant_vehicles[i].id == results.id) {
                                                      _this.unit_details.tenant_vehicles[i].tenant_id = results.tenant_id;
                                                      _this.unit_details.tenant_vehicles[i].carpark_title = results.carpark_title;
                                                      _this.unit_details.tenant_vehicles[i].plate_no = results.plate_no;
                                                      _this.unit_details.tenant_vehicles[i].make = results.make;
                                                      _this.unit_details.tenant_vehicles[i].color = results.color;
                                                }
                                          }
                                    }
                                    _this.$forceUpdate();
                              } else if (results.action =="create_pet" || results.action =="update_pet") {
                                    if (results.action =="create_pet") {
                                          var arr = [];
                                          arr['id'] = results.id;
                                          arr['tenant_id'] = results.tenant_id;
                                          arr['type'] = results.type;
                                          arr['variety'] = results.variety;
                                          arr['color'] = results.color;
                                          arr['borned_in'] = results.borned_in;
                                          _this.unit_details.tenant_pets.push(arr);
                                    } else {
                                          for (var i = 0; i < _this.unit_details.tenant_pets.length; i++) {
                                                if (_this.unit_details.tenant_pets[i].id == results.id) {
                                                      _this.unit_details.tenant_pets[i].tenant_id = results.tenant_id;
                                                      _this.unit_details.tenant_pets[i].type = results.type;
                                                      _this.unit_details.tenant_pets[i].variety = results.variety;
                                                      _this.unit_details.tenant_pets[i].color = results.color;
                                                      _this.unit_details.tenant_pets[i].size = results.size;
                                                      _this.unit_details.tenant_pets[i].borned_in = results.borned_in;
                                                }
                                          }
                                    }
                                    _this.$forceUpdate();
                              } else if (results.action =="create_key" || results.action =="update_key") {
                                    if (results.action =="create_key") {
                                          var arr = [];
                                          arr['id'] = results.id;
                                          arr['unit_id'] = results.unit_id;
                                          arr['building_id'] = results.building_id;
                                          arr['type'] = results.type;
                                          arr['key_holder'] = results.key_holder;
                                          arr['comment'] = results.comment;
                                          _this.unit_details.tenant_keys.push(arr);
                                    } else {
                                          for (var i = 0; i < _this.unit_details.tenant_keys.length; i++) {
                                                if (_this.unit_details.tenant_keys[i].id == results.id) {
                                                      _this.unit_details.tenant_keys[i].building_id = results.building_id;
                                                       _this.unit_details.tenant_keys[i].unit_id = results.unit_id;
                                                      _this.unit_details.tenant_keys[i].type = results.type;
                                                      _this.unit_details.tenant_keys[i].key_holder = results.key_holder;
                                                      _this.unit_details.tenant_keys[i].comment = results.comment;
                                                }
                                          }
                                    }
                                    _this.$forceUpdate();
                              } else if (results.action =="create_custom_field") {
                                    Array.prototype.push.apply( _this.unit_details.unit_cfield, results.cfields );
                                    _this.$forceUpdate();
                              } else if (results.action =="create_doc") {
                                    var arr = [];
                                    arr['title'] = results.name;
                                    arr['type'] = results.type;
                                    arr['tenant_id'] = results.tenant_id;
                                    _this.unit_details.unit_doc.push(arr);
                                    _this.$forceUpdate();
                              } else if (results.action =='update_tenant_type') {
                                    _this.unit_details.tenants[results.user_id].type = results.type;
                                    _this.$forceUpdate();
                              } else if (results.action =='send_tenant_activation_email') {
                                    if (results.success == true || results.success == 1) {
                                          _this.unit_details.tenants[results.user_id] = {};
                                          _this.unit_details.tenants[results.user_id].id = results.id;
                                          _this.unit_details.tenants[results.user_id].user_id = results.user_id;
                                          _this.unit_details.tenants[results.user_id].unit_id = results.unit_id;
                                          _this.unit_details.tenants[results.user_id].tenant_code = results.tenant_code; 
                                          _this.unit_details.tenants[results.user_id].type = results.type; 
                                          _this.unit_details.tenants[results.user_id].email = results.email; 
                                          _this.unit_details.tenants[results.user_id].contact = results.contact;
                                          _this.unit_details.tenants[results.user_id].mobile = results.mobile;
                                          _this.unit_details.tenants[results.user_id].first_name = results.first_name; 
                                          _this.unit_details.tenants[results.user_id].last_name = results.last_name;
                                          _this.unit_details.tenants[results.user_id].emergency_person = results.emergency_person; 
                                          _this.unit_details.tenants[results.user_id].emergency_no = results.emergency_no; 
                                          _this.unit_details.tenants[results.user_id].link_status = results.link_status;
                                          
                                          _this.$forceUpdate();
                                    }
                                    console.log( _this.unit_details.tenants);
                              }
                        });
            }
      }
};
</script>

<style>
.content_body {
      height: 80vh;align-items: center;display: flex;justify-content: center;
}

.content_body .col {
      width: 100%;
}

.unit_cont .tagsinput_cont.unit_tags {
      width: 50% !important;background-color: #fff;margin-top: 20px !important;
}
.cp_type {
      margin:20px auto;
}
#new_uc {
      text-align: center;margin: 20px auto 30px;
}
.button_cont {
    padding: 0px 25px 0px;text-align: right;clear: both;
}

.emergency_person {
      width: 100%; margin-bottom: 0px;
}

.emergency_no {
      font-size: .8em;
}

.list_field_Verified {
      color: #55ce63;font-weight:900;
}

.list_field_Unverified {
      color: #ff0000;font-weight:900;
}
.unit_main_title {
      text-align: right;line-height: 45px;
}
.tagsinput_cont.new_unit_tags {
    width: 50% !important;margin: 20px auto;background-color: #fff;
}
.list_filter .btn_trans.btn_slideout_add {
      background-color: transparent;width: 40px;margin-left: auto;background-color:transparent !important;
}

.list_filter .btn_trans.btn_slideout_add > i {
    display: block;color: #000;
}

.list_cont, .list_header i {
      display: none;
}

.tagsinput_cont.unit_tags {
      width: 100% !important;margin: 0px auto 20px;
}

.tagsinput_cont > .tag_input {
      text-align: left;
}

.unit_no_cont {
      position: relative;
}

.unit_no_cont i.fa.fa-edit {
      position: absolute;right: 0px;top: 0px;
}


input.txt_unit_title{
   border: 0px;text-align: center;height: 200px;font-size: 4em;
}

a.unit_del {
      position: absolute;right: 15px;color: #ef5350;font-size: 1.2rem;height: 20px;line-height: 20px;top: 5px;
}

#unit_info {
      padding: 15px;margin: 0px 15px 25px 15px;background-color: #fff;display: inline-block;width: 100%;position: relative;
}

.unit_cont .txt_unit {
      text-align: center;
}


span.k-widget.k-invalid-msg {
      display: block;text-align: left;width: 50%;margin: 0px auto;
}

</style>