<template>
    <div id="unit_head">
        <div class="unit_num">
            <h4>Unit Title</h4>
            <!-- {{this.u_info.unit_title}} -->
            <input type="text" name="current_unit_title" id="current_unit_title" class="txt_unit_title" placeholder="unit no." v-model="u_info.unit_title" required @input="changeTitle">
                <h4>Tags</h4> 
                <tagsinput :suggestions="tags" :tagclass="'unit'" v-model="unit_tags" @SelectedTag="getSelectedTag" @delSelectedTag="delSelectedTag"  v-on:delTag="delUnitTag"></tagsinput>
        </div>
        <div class="owner container">
            <h4>Owner/Investor</h4>
            <div class="info" v-if="o_info!=''">
                    <p>Name<span v-if="o_info.first_name===''||o_info.last_name===''">-</span><span v-else>{{o_info.first_name}}{{o_info.last_name}}</span></p>
                    <p>Number<span v-if="o_info.contact===''">-</span><span v-else>{{o_info.contact}}</span></p>
                    <p>Email<span v-if="o_info.email===''">-</span><span v-else>{{o_info.email}}</span></p>
            </div>
            <div v-if="o_info===''">Please link a owner or investor from the list below. </div>

            <h4>CarPark NO.</h4>
            <ul id="unit_carparks" class="info">
                    <li v-for="(c_val, c_key,c_index) in u_carparks" class="u_i" @click="delSelectedTag(c_val.id)">
                        {{c_val.carpark_title}}<i class="fa fa-times"></i>
                        <!-- <span v-if="c_key != u_carparks.length - 1">, </span> -->
                    </li>
                    <div v-if="u_carparks.length===0">There is 0 carpark now </div>
            </ul>
            <div id="add_c" style=" z-index: 10;">
                <add-carpark :unit_id = "unit_id"></add-carpark>
            </div>
        </div>
        <div class="log">
            <h4 style="padding: 0px 20px;">Log</h4>
            <div class=" container">
                <div class="info" v-for="(value,name,index) in log_detail">
                    <div>
                        <span class="name">Name</span>
                        <span class="info_name" v-if="log_detail[name]===''||log_detail[name]===null">-</span>
                        <span v-else class="info_name">{{log_detail[name].first_name}}{{log_detail[name].last_name}}</span>
                    </div>
                    <div>
                        <span class="name">Move in</span>
                        <span class="info_name" v-if="log_detail[name].move_out===''||log_detail[name].move_in===null">-</span>
                        <span class="info_name" v-else>{{log_detail[name].move_in}}</span>
                    </div>
                    <div>
                        <span class="name">Move out</span>
                        <span class="info_name" v-if="log_detail[name].move_out===''||log_detail[name].move_out===null">-</span>
                        <span v-else class="info_name">{{log_detail[name].move_out}}</span>
                    </div>
                </div>
            </div>
            <div v-if="log_detail.length==0">There is 0 record now </div>
        </div>
        
    </div>
</template>

<script>
import  tagsinput from '../tagsinput.vue';
import EventBus from '../event-bus';

export default {
    props:['unit_details','tags'],
    components: {
        tagsinput
    },
    data(){
        return{
            log_detail:[],
            u_carparks:[],
            u_info:{},
            unit_tags: this.unit_details.selected_tags != '' && this.unit_details.selected_tags != null  ? this.unit_details.selected_tags : [],
            c_id:'',
            u_id:'',
            t_info:'',
            o_info:'',
            unit_id:''
        }
    },

    methods:{
         addCarparks: function() {
                EventBus.$emit("cp");
            },
        getSelectedTag:function(data) {
                  console.log(data);
                  this.unit_tags.push(data);
        },
        delSelectedTag:function(data) {
                this.unit_tags.splice(data, 1);
        },
        delUnitTag:function(data) {
                  var new_suggestion = [];
                  for( var i = 0; i < this.tags.length; i++){ 
                        if ( this.tags[i].id != data) {  
                              new_suggestion.push(this.tags[i]);
                        }
                  }
                  this.tags = new_suggestion;
        },
        getTenantLog(){
            let _this = this
            axios.get('/mgr/tenant_log_name/'+_this.u_info.id)
            .then((res)=>{
                _this.log_detail = res.data;
            })
        },
        getUnitCarParks(){
            let _this = this;
            axios.get('/mgr/carpark/'+_this.unit_id).then((res)=>{
                this.u_carparks = res.data;
            })
        },
        getOwner(){
            let _this = this;
            for (const key in _this.t_info) {
                if (_this.t_info.hasOwnProperty(key)) {
                    const element = _this.t_info[key];
                    if(element.type_id == 3){
                        _this.o_info = element;
                    }
                }
            }
        },
        changeTitle(){
            EventBus.$emit('add_unit_title',this.u_info.unit_title)
        },
        delSelectedTag(id){
            if (confirm('Are you sure you want to delete this carpark?')) {
                        var _this = this;
                        axios.post('/mgr/del_carpark_uid', {
                              cp_id: id
                        })
                        .then(function (response) {
                               _this.getUnitCarParks();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
        }
    },
    mounted(){
       let item = this._props.unit_details;
       var _this = this;
       this.u_info = item.info;
       this.unit_id = item.info.id;
       this.t_info = item.tenants;
       this.getTenantLog();
       this.getUnitCarParks();
       this.getOwner();

       EventBus.$on('create_carpark', function (record) {
            _this.u_carparks.push(record);
            console.log(_this.u_carparks);
            _this.$forceUpdate();
       });
    }

}
</script>

<style lang="scss">
    #current_unit_title{
       border:1px solid #dedede;
    }
    input.txt_unit_title{
        text-align: left;
        font-size: inherit;
        height: 30px;
    }

    ul#unit_carparks {
        li {
            display: inline-block;
        }
    }
    .tagsinput_cont .selected_tag {
        font-size: .7em;;
    }
    #unit_head{
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
        min-height: 150px;
    }

    h4{
        font-weight: bold;
        font-size: 0.9em;
    }

    .unit_num, .owner,.log{
        width: 300px;
        margin-top: 11px;
        height: 200px;
        flex: 1;
        padding: 0px 20px;
    }
    .log{
        overflow-x: hidden;
        overflow-y: auto;
    }
    .car_park{
        width: 130px;
    }
    div.info{
        margin: 0 auto;
        text-align: left;
        font-size: 0.9em;
        width: 100%;
    }
    .owner .info p{
        display: flex;
        justify-content: space-between;
    }
    .log p{
        margin-bottom: 0;
    }
    .log.container .info > div{
        display: flex;
        justify-content: space-between;
    }
    .log.container .info div > .info_name{
        width: 70%;
        text-align: left;
    }
     .log.container .info div > .name{
       width: 30%;
    }
   .owner.container .info > p span{
      width: 70%;
      text-align: left;
   }
   .owner.container{
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
   }
   .log.container{
       height: 176px;
   }
   #add_c{

        background-color: #55ce63;
        text-align: center;
        border: 1px solid transparent;
        font-size: 14px;
        line-height: 0.7;
        border-radius: 4px;
        color: white;
        margin: 20px 0% 0px;
        width: 100%;
   }
    #add_c:hover{
        color: #636b6f;
    }
    .u_i{
        color: white;
        border-radius: 5px;
        margin-right:10px;
        margin-bottom:10px;
        background-color: #ff738a;
        font-size: .7em;
        padding: 5px 8px;
        border: 0px;
    }
    .u_i > i:hover{

    }
    .u_i > i{
        color: white;
        margin-left: 5px;
        font-size: 1.33em;
        cursor: pointer;
    }
</style>