<template>

      <div class='popup_cont' v-show="show_popup">
            <div class='popup_bg' @click="closePopup"></div>
            <div class='popup_content'>
                <div style="position:relative">
                    <div class='header'>
                        <h3 class="col-md-10">
                            Create New From History
                        </h3>
                        <div class="col-md-2 header_btn">
                            <button class="btn_closepopup" @click.prevent="closePopup()">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="list_cont" >
                        <div class="list_header">
                            <div class="list_fields w_20 c_align">LOCATION</div>
                            <div class="list_fields w_20 c_align">CONTENT</div>
                            <div class="list_fields w_10 c_align">TYPE</div>
                            <div class="list_fields w_15 c_align">ASSIGNED TO</div>
                        </div>
                        <div class="list_row"  v-for="(key, data) in cases.data" v-if="cases.data.length > 0" style="overflow:auto;">
                            <div class="list_fields w_20 c_align" v-on:click="createById(key.id)">{{key.title }}</div>
                            <div class="list_fields w_20 c_align" v-on:click="createById(key.id)">
                                        {{ key.content }} 
                            </div>
                            <div class="list_fields w_10 c_align" v-on:click="createById(key.id)">
                                <span class='tagcont' v-if="key.case_type != null && key.case_type != '' " :class="['p-'+key.priority]">
                                    {{ key.case_type }}
                                </span>

                                <span v-if="key.case_type == null || key.case_type == ''">
                                    -
                                </span>
                            </div>
                            <div class="list_fields w_15 c_align" v-on:click="createById(key.id)">
                                <span v-if="key.comp_name != null && key.comp_name != '' ">
                                    {{ key.comp_name }}
                                </span>

                                <span v-if="key.comp_name == null || key.comp_name == ''">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- <pagination :pagination="list_pagination" v-if="cases.data.length > 0"></pagination> -->

                </div>
                    
            </div>
      </div>
</template>
<script>
import EventBus from '../event-bus';
export default {
    props: ['cases','case_type'],

    data(){
            return {
                show_popup: false,
                cate_type: null,
                
            }
      },
    methods: {
        closePopup() {
            this.show_popup = false;
            
        },
        createById(id) {
            this.show_popup = false;
            EventBus.$emit('createCaseById',id);
            
        }
       
    },
      mounted(){
            let _this = this;
            EventBus.$on('openCaseHistory',function(e){
                  _this.show_popup = true;
            })
      }
}
</script>
<style lang="scss">
.popup_cont .popup_content {
    width: 45% !important ;
    left: 30%;
    
    height: auto !important;
}
.k-timepicker .k-picker-wrap {
    height: 36px;padding: 3px 5px;border-radius: 5px;
}
.header .header_btn {
    text-align: right;padding-top: 10px;
}

.k-grid-header {
    padding-right: 0px !important;
}
</style>