<template>
      <form id="cpDetailForm" ref="cpDetailForm"  v-kendo-validator  @submit.prevent="onSubmit">
      <div class='popup_cont popup_carpark' v-show="show_popup">
            <div class='popup_bg' @click.self="closePopup"></div>
            <div class='popup_content'>
                  <div style="position:relative">
                        <div class='header'>
                              <h3 v-if="cp_id == '' || cp_id == null" class="col-md-10">
                                    Add CarPark
                              </h3>
                              <h3 v-else class="col-md-10">
                                    Edit CarPark 
                              </h3>
                              <div class="col-md-2 header_btn">
                                    <button class="btn_closepopup" @click.prevent="closePopup">
                                          <i class="fas fa-times"></i>
                                    </button>
                              </div>
                        </div>

                        <div class='content'>
                              <div class="field_cont">
                                    <label class="field_title">Unit</label>
                                    <select class="col-md-12" v-model="unit_id" required @change="selectUnit($event)">
                                          <option v-for="t_key in unit_list" v-text="t_key.unit_title" v-bind:value="t_key.id"></option>
                                    </select>
                              </div>

                              <div  class="field_cont">
                                    <label class="field_title">Vehicle</label>
                                    <select class="col-md-12 txt_field_val" name="v_list" v-model="carpark.vehicle_id" @change="selectVehicle(key.make, key.model)">
                                          <option v-for="(key,data) in vehicles_list" :value="key.id">{{key.make}} {{key.model}}</option>
                                    </select>
                              </div>

                              <div class="field_cont">
                                    <label class="field_title">CarPark Title</label>
                                    <input type="text" name="c_title" v-model="carpark.carpark_title" required validationMessage="Title is required">
                                    <label style="color:red; font-size:0.7em" :class="info?'c_show':'c_n_show'">CarPark Existed</label> 
                              </div>

                              <div class="field_cont">
                                    <label class="field_title">CarPark Type</label>
                                    <select name="carpark_type" v-model="carpark.type">
                                          <option v-for="(value,name) in carpark_type" :value="value">{{name}}</option>
                                    </select> 
                              </div>

                             
                        </div>

                        <div class='footer'>
                              <div class="btn_panel">
                                    <button class="btn btn_close"  @click.prevent="closePopup">Close</button>
                                    <button v-if="cp_id == '' || cp_id == null" class="btn btn_submit" type="submit">Add</button>
                                    <button v-else class="btn btn_submit" type="submit">Update</button>
                              </div>
                        </div>
                  </div>
                  
            </div>
      </div>
      </form>
</template>
<script>
import EventBus from '../event-bus';
export default {
      props: [],
      components: {
        
      },
      data(){
            return {
                 error_msg : null,
                 show_popup : false,
                 tenant_id : '',
                 carpark : Object,
                 vehicles : '',
                 tenants : [],
                 carpark_title: null,
                 cp_id: Number,
                 plate_no: '',
                 make:'',
                 model:'',
                 unit_title:'',
                 vehicle_title:'',
                 tenant_fname:'',
                 tenant_lname:'',
                 carpark_type:{'Resident':1,'Common':2},
                 info:false,
                 unit_list:[],
                 tenants_list:[],
                 vehicles_list:[],
                 unit_id:'',
                 tenant_id:'',
                 vehicle_id:'',
                 tenant_show:false,
                 vehicle_show:false,
                 carpark_list:[],
            }
      },
      methods:{
            selectVehicle: function(id, make, model, plate_no) {
                  this.make = make;
                  this.model = model;
                  this.plate_no = plate_no;
            },
            onSubmit: function () {
                  var _this = this;
                  if(_this.cp_id !='' && _this.cp_id != null){
                        // var validator = _this.kendoValidator;
                        // if (validator.validate()) {
                              
                              // console.log(_this.cp_id);
                              axios.post('/mgr/update_carpark', {
                                    cp_id: _this.cp_id,
                                    unit_id: _this.unit_id,
                                    vehicle_id: _this.carpark.vehicle_id,
                                    carpark_type: _this.carpark.type,
                                    carpark_title: _this.carpark.carpark_title
                              })
                              .then(function (response) {
                                    if (response.data.success == 1) {
                                          var new_record = {
                                                'cp_id' : _this.cp_id,
                                                'vehicle_id' : _this.carpark.vehicle_id,
                                                'unit_id': _this.unit_id,
                                                'unit_title': _this.unit_title,
                                                'vehicle_title': _this.vehicle_title,
                                                'make' : _this.make,
                                                'model' : _this.model,
                                                'carpark_title': _this.carpark.carpark_title
                                          }
                                          EventBus.$emit("update_carpark",new_record);

                                          _this.show_popup = false;
                                    }
                              })
                              .catch(function (error) {
                                          // 
                              });
                        //}
                  }
                  else{
                        axios.post('/mgr/save_carpark',{
                              unit_id: _this.unit_id,
                              vehicle_id: _this.carpark.vehicle_id,
                              carpark_type: _this.carpark.type,
                              carpark_title: _this.carpark.carpark_title
                        })
                        .then((res)=>{
                              if(res.data.info){
                                     _this.info = true;
                              }else{
                                    _this.show_popup = false;
                                    var new_record = {
                                          'id' : _this.cp_id,
                                          'carpark_title': _this.carpark.carpark_title
                                    }

                                    EventBus.$emit('create_carpark', new_record);
                                    this.$forceUpdate();
                              }
                        })
                  }
                  
            },
            getUnitList:function() {
                  var _this = this;
                  axios.get('/mgr/get_unit_list/p=1&order=a&orderby=unit_title&search_term=null&search_tag=null&qty_per_page=1000').then(function (response) {
                        _this.unit_list = response.data.data;
                        _this.$forceUpdate();
                  })
                  .catch(function (error) {
                  // 
                  });
            },
            getTenantList:function(){
                  let _this = this;
                  axios.get('/mgr/getTenantByUnitID/'+_this.unit_id).then((res)=>{
                        _this.tenants_list = res.data;
                        if(_this.tenants_list.length >0){
                              _this.tenant_show = true;
                              
                        }else{
                              _this.tenant_show = false;
                        }
                  })
            },
            getUnitCarpark:function(){
                  let _this = this;
                  axios.get('/mgr/carpark/'+_this.unit_id)
                        .then((res)=>{
                        console.log(res.data);
                        _this.vehicles_list = res.data;
                  })
            },
            getVehicleListByUnitID:function(){
                  let _this = this;
                  axios.get('/tenants/vehicles/'+_this.unit_id)
                        .then((res)=>{
                        console.log(res.data);
                        _this.vehicles_list = res.data;
                  })
                  // let _this = this;
                  // axios.get('/mgr/get_vehicle_by_tid/'+_this.tenant_id)
                  // .then((res)=>{
                  //       console.log(res.data.vehicles);
                  //       _this.vehicles_list = res.data.vehicles;
                  //       if(_this.vehicles_list.length >0){
                  //             _this.vehicle_show = true;
                  //       }else{
                  //             _this.vehicles_list = false;
                  //       }
                  // });     
            }, 
            showPopup() {
                  this.show_popup = true;
            },
            closePopup() {
                  this.show_popup = false;
                  this.carpark.unit_title = this.carpark.type = this.carpark.title = '';
            },
            getSelectedVehiclesByTID() {
                  this.vehicles = '';
                  this.carpark.vehicle_id = '';
                  for(var i =0;i < this.tenants.length; i++) {
                        if (this.tenants[i].user_id == this.tenant_id) {
                              this.vehicles = this.tenants[i].vehicles;
                              this.tenant_fname = this.tenants[i].first_name;
                              this.tenant_lname = this.tenants[i].last_name;
                        }
                  }

                  if (this.vehicles != null && this.vehicles != '') {
                        var v = this.vehicles.split('|');
                        this.carpark.vehicle_id = v[0].split('-')[0];
                  }
            },
            selectUnit(event){
                  this.unit_title = event.target.options[event.target.options.selectedIndex].text;
                  this.carpark.unit_title = event.target.options[event.target.options.selectedIndex].text;
                  this.carpark.unit_id = this.unit_id;
                  // this.getTenantList();
                  this.getVehicleListByUnitID();
            },
            selectVehicle(make, model) {
                  this.vehicle_title = make+" "+model;
            },
            selectTenant(){
                  this.getVehicList();
            }
      },
      mounted() {
            var _this = this;
            _this.getUnitList();
            EventBus.$on('cp_id', function (cp_id, carpark_title) {
                  if (cp_id) {
                        _this.cp_id = cp_id;
                        _this.carpark_title = carpark_title;
                        axios.get('/mgr/getCPDetailsByID/'+cp_id).then(function(response) {
                              console.log(response);
                              _this.vehicles_list = response.data.vehicles;
                              _this.carpark = response.data.info; 
                              _this.vehicle_title = response.data.info.make+" "+response.data.info.model;
                              _this.make = response.data.info.make;
                              _this.model = response.data.info.model;
                              _this.unit_title = response.data.info.unit_title; 
                              _this.unit_id = response.data.info.unit_id;

                        });
                        _this.showPopup();
                  } else{
                        _this.cp_id = '';
                        _this.carpark = Object;
                        _this.vehicles_list = [];
                        _this.unit_id = null;
                        _this.showPopup();
                  }
            });


            EventBus.$on('unit_id', function (unit_id) {
                  _this.cp_id = null,
                   _this.carpark_title = null;
                  _this.unit_id = unit_id;
                  _this.getUnitList();
                  _this.getVehicleListByUnitID();
                  _this.showPopup();
                  _this.carpark.type = 1;
            });
      },
}
</script>

<style>
.popup_cont.popup_carpark .popup_content {
    max-width: 650px !important;
    left: calc(50% - 325px) !important;
    height: auto !important;
    min-height: 400px !important;
}
/* #cpDetailForm .popup_cont.popup_carpark .popup_content{
      width: 35% !important;
      left: 30% !important;
      height: 50% !important;

} */

.popup_cont.popup_carpark .popup_content .content {
      padding-bottom: 24px;
}
/* .popup_cont.popup_carpark .popup_content {
      width:35%;min-height:200px;height:auto;left: 32.5%;margin-left: 0%;top: 15%;
} */

.popup_cont.popup_carpark .popup_content .footer {
      position: relative;height: 65px;padding: 15px 25px 20px;
}

.header .header_btn {
    text-align: right;padding-top: 10px;
}

.tenant_info .info  label {
    width: 100%;margin: 0px;
}

.tenant_info .info {
    margin-bottom: 10px;min-height: 48px;
}

.tenant_info .info .sub_col {
    padding: 0px;
}
.c_show{
      display: block;
}
.c_n_show{
      display: none;
}
</style>