<template>
    <form id="caseQuoteForm" ref="caseQuoteForm"  v-kendo-validator  @submit.prevent="onSubmit">
        <div class='popup_cont' v-show="show_popup">
            <div class='popup_bg' @click="closePopup"></div>
            <div class='popup_content'>
                <div style="position:relative">
                    <div class='header'>
                        <h3 class="col-md-10">
                            Quote
                        </h3>
                        <div class="col-md-2 header_btn">
                            <button class="btn_closepopup" @click.prevent="closePopup">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class='content'>
                        <div class="col-md-6">
                            <div class="field_cont">
                                <label>Quote Value (AUD)</label>
                                <kendo-numerictextbox 
                                    id="txt_quoteval"
                                    name="txt_quoteval"
                                    :decimals="2"
                                    :format="'c0'"
                                    :min="0"
                                    :max="100000"
                                    :round="true"
                                    :spinners="true"
                                    v-model.number="quote_val"
                                    required validationMessage="Quote value is required">
                                </kendo-numerictextbox>
                                <span data-for='txt_quoteval' class='k-invalid-msg'></span>
                            </div>

                            
                            <div class="field_cont">
                                <div class="k-edit-label ">
                                    <label>Contractors</label>
                                    <button class="btn_add icon" v-on:click.prevent="goToDetailPage('/mgr/recommend_contractor')">
                                        <i class="fas fa-plus"></i>
                                    </button>

                                    <button class="btn_refresh icon"  v-on:click.prevent="updateContractorList()" >
                                        <i class="fas fa-sync-alt" :class="loadingContractor == true ? 'icn_rotate' : ''"></i>
                                    </button>
                                </div>
                                <kendo-dropdownlist v-model="selectedContractorID"
                                                    id="cb_contractor"
                                                    name="cb_contractor"
                                                    :data-source="contractors"
                                                    :data-text-field="'comp_name'"
                                                    :data-value-field="'id'"
                                                    :filter="'contains'"
                                                    required validationMessage="Constractor is required">
                                </kendo-dropdownlist>
                                <span data-for='cb_contractor' class='k-invalid-msg'></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label>Upload Quotation</label>
                            <kendo-upload   ref="upload"
                                            id="case_quote"
                                            name="case_quote"
                                            :multiple="false"
                                            :validation-allowed-extensions="['.doc', '.docx', '.pdf', '.csv', '.xls', '.txt', '.ppt','.pptx']"
                                            :validation-min-file-size="100"
                                            :validation-max-file-size="1048576"
                                            :show-file-list="true"
                                            @select="onUploadFile($event)">
                            </kendo-upload>
                        </div>
                    </div>

                    <div class='footer'>
                        <button class="btn btn_close"  @click="closePopup">Close</button>
                        <button class="btn btn_submit" type="submit">Save</button>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</template>
<script>
import EventBus from '../event-bus';
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import {  NumericTextBox, InputsInstaller } from '@progress/kendo-inputs-vue-wrapper'
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'
import { DropDownList, DropdownsInstaller } from '@progress/kendo-dropdowns-vue-wrapper';

Vue.use(DropdownsInstaller);

export default {
      props: [],
      components: {
            DatePicker, TimePicker, NumericTextBox
      },
      data(){
            return {
                case_id: null,
                quote_val: null,
                selectedContractorID: null,
                error_msg : null,
                show_popup : false,
                initialFiles: null,
                contractors: [],
                loadingContractor:false,
                
            }
      },
      methods:{
        updateContractorList:function() {
                  var _this = this;

                  axios.interceptors.request.use(function(config) {
                        // Do something before request is sent
                        console.log('Start Ajax Call');
                        _this.loadingContractor = true;
                        return config;
                  }, function(error) {
                  // Do something with request error
                        console.log('Error');
                        return Promise.reject(error);
                  });

                  axios.interceptors.response.use(function(response) {
                        // Do something with response data
                        console.log('Done with Ajax call');
                         _this.loadingContractor = false;
                        return response;
                  }, function(error) {
                        // Do something with response error
                        console.log('Error fetching the data');
                        return Promise.reject(error);
                  });


                  axios.get('/mgr/update_contractor_list')
                        .then(function (response) {
                              // console.log(response);
                              if (response.data.hasOwnProperty('success')) {
                                    if (response.data.success =  true) {
                                          _this.contractors = response.data.list;
                                          _this.$forceUpdate();
                                    }
                              }
                        })
                        .catch(function (error) {
                                    // 
                        });
        },
        onUploadFile: function(e) {
            this.initialFiles = kendo.jQuery('input[name=case_quote]')[0].files[0];
            console.log(this.initialFiles);
        },
        onSubmit: function (ev) {
            var validator = this.kendoValidator;
            if (validator.validate()) {
                var _this = this;

                let formData = new FormData();
                formData.append('case_id', this.case_id);
                formData.append('contractor_id', this.selectedContractorID);
                formData.append('quote_val', this.quote_val);
                formData.append('quote_doc', this.initialFiles);

                axios.post('/mgr/create_quote_by_caseid', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(function (response) {
                    if (response.data.success == true) {
                        var new_record = {
                            'id' : response.data.id,
                            'created_at' : response.data.date,
                            'quote_doc' : response.data.quote_doc,
                            'quote_value' : response.data.quote_value,
                            'comp_name' : _this.getContractorNameByID(_this.selectedContractorID)
                        }
                        console.log(new_record);
                        EventBus.$emit("create_quote",new_record);

                        _this.show_popup = false;
                    }
                })
                .catch(function (error) {
                        // 
                });
            }
        },
        getContractorNameByID(cid) {
            for (var i = 0; i < this.contractors.length; i++) {
                if (this.contractors[i].id == cid) {
                    return this.contractors[i].comp_name;
                } 
            }
        },
        
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            this.show_popup = false;
        },
        goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
        },
      },
      mounted() {
        var _this = this;
        var case_quote_upload = this.$refs.upload.kendoWidget();

        EventBus.$on('case_quote', function (this_case) {
            if (this_case.case_id > 0) {
                _this.case_id = this_case.case_id;
                _this.contractors = this_case.contractor;
                _this.showPopup();
            }
        });
  
      }
}
</script>

<style>
.icn_rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
      from {
      transform: rotate(0deg);
      }
      to {
      transform: rotate(359deg);
      }   
}

button.btn.add_email_contractor {
    background-color: #55ce63;margin: 15px 0px;padding-left: 15px;padding-right: 15px;min-width: 50px;
}

select#contractor_list {
    width: 100%;
}

.k-timepicker .k-picker-wrap {
    height: 36px;padding: 3px 5px;border-radius: 5px;
}
.header .header_btn {
    text-align: right;padding-top: 10px;
}

</style>