<template>
	<div class='popup_cont' v-show="show_popup">
		<close-window></close-window>
		<div class='popup_bg' @click="closePopup"></div>
		<div class="popup_content">
			<div style="position: relative; height: 100%;">
				<div class="header">
					<h3 class="col-md-10">
						
					</h3>
					<div class="col-md-2 header_btn">
					    <button class="btn_closepopup" @click="closePopup">
					        <i class="fas fa-times"></i>
					    </button>
					</div>
				</div>
				<div class="content">
					 <table id="email_template" border="1">
						<tr>
						     <td v-if="recipents_type == 'contractor'">
								<kendo-multiselect v-model="selectedRecipents"
											:data-source="recipents"
											:data-text-field="'contact_person'"
											:data-value-field="'contact_email'"
											:placeholder="'To: '"
											:filter="'contains'">
								</kendo-multiselect>
						     </td>

						     <td v-if="recipents_type == 'tenant'">
							     	<kendo-multiselect v-model="selectedRecipents"
								                 :data-source="recipents"
								                 :data-text-field="'last_name'"
								                 :data-value-field="'email'"
								                 :placeholder="'To: '"
								                 :filter="'contains'">
								</kendo-multiselect> 
							</td>
						</tr>
						 
						<tr>
						     <td >
						         	<input style="float: left;" type="text" placeholder="Email Title" v-model="email_title">
						         	<i class="fas fa-plus-square" style="z-index:10;position:relative;font-size: 1.4em;float: right;margin-top: 7px;" @click='toggleTemplate()'></i>
								<add-mail-select></add-mail-select>
								<div v-show='this.templateHidden==false' class="template_container">
									 <ul class="tag_category" >
									 	<li v-for="index in template_tag" :class="{ 'active' : tag_cate == index  }"  v-on:click="updateTagCate(index);"><p>{{index}}</p></li>
									 </ul>
									 <ul class="template_list" >
									     <li v-for="(key, data) in email_template" v-if="tag_cate == key.tag" @click="getSelectedTemplateContent(key)">
									         <label class="title col-md-12">Title: {{key.title}}</label>
									         <div class="content">{{key.content}}</div>
									     </li>
									 </ul>
								 </div>
								 
						     </td>
						</tr>
						 
						<tr>
							<td >
								<kendo-editor :resizable-content="true"
											:resizable-toolbar="false"
											v-model="email_content"
											rows="10"
											cols="160"
											class="col-md-12 announcement_content"
											placeholder="Enter the content" 
											required validationMessage="Content is required">

										<kendo-editor-tool :name="'formatting'"></kendo-editor-tool>
										<kendo-editor-tool :name="'bold'"></kendo-editor-tool>
										<kendo-editor-tool :name="'italic'"></kendo-editor-tool>
										<kendo-editor-tool :name="'underline'"></kendo-editor-tool>
										<kendo-editor-tool :name="'strikethrough'"></kendo-editor-tool>
										<kendo-editor-tool :name="'justifyLeft'"></kendo-editor-tool>
										<kendo-editor-tool :name="'justifyCenter'"></kendo-editor-tool>
										<kendo-editor-tool :name="'justifyRight'"></kendo-editor-tool>
										<kendo-editor-tool :name="'justifyFull'"></kendo-editor-tool>
										<kendo-editor-tool :name="'createLink'"></kendo-editor-tool>
										<kendo-editor-tool :name="'unlink'"></kendo-editor-tool>
										<kendo-editor-tool :name="'insertImage'"></kendo-editor-tool>
										<kendo-editor-tool :name="'createTable'"></kendo-editor-tool>
										<kendo-editor-tool :name="'addColumnLeft'"></kendo-editor-tool>
										<kendo-editor-tool :name="'addColumnRight'"></kendo-editor-tool>
										<kendo-editor-tool :name="'addRowAbove'"></kendo-editor-tool>
										<kendo-editor-tool :name="'addRowBelow'"></kendo-editor-tool>
										<kendo-editor-tool :name="'deleteRow'"></kendo-editor-tool>
										<kendo-editor-tool :name="'deleteColumn'"></kendo-editor-tool>
										<kendo-editor-tool :name="'foreColor'"></kendo-editor-tool>
										<kendo-editor-tool :name="'backColor'"></kendo-editor-tool>
										<kendo-editor-tool :name="'viewHtml'"></kendo-editor-tool>
								</kendo-editor>
							</td>
						</tr> 
					 </table>
					 
					 <div style="display: inline-block;vertical-align: middle; float: left;">
					     <input type="checkbox" name="cb_emailsignature" style="height: 25px;display: inline-block;" v-on:click="email_signature= !email_signature" v-model="email_signature">
						 <label class="signature">Email Signature</label>
					 </div>
					 
				</div>
				<div class='footer'>
				    <button class="btn btn_close"  @click="closePopup">Close</button>
				    <button class="btn btn_submit" :disabled="selectedRecipents == [] ? true : false" @click="sendEmail">Send</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import EventBus from '../event-bus';
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import { MultiSelect } from '@progress/kendo-dropdowns-vue-wrapper'

import { Editor } from '@progress/kendo-editor-vue-wrapper'
import { EditorTool } from '@progress/kendo-editor-vue-wrapper'
import { EditorInstaller } from '@progress/kendo-editor-vue-wrapper'

Vue.use(EditorInstaller)

export default {
	name:'popupEmail',
	props:[],
	components: {
	      DatePicker, TimePicker, MultiSelect
	},
	data(){
		return{
			selectedRecipents: [],
			recipents: '',
			
			recipents_type:'',
			recipents_company: '',
			recipents_name:'',
			recipents_email:'',
			template_tag:[],
			email_template:[],
			tag_cate: '',
			templateHidden:true,
			email_signature: true,
			email_title:'',
			email_content:'',
			error_msg : null,
			show_popup : false,
			minDate: new Date(2017, 1, 1),
			maxDate: new Date(2030, 12, 31),
			currentDate: new Date(2019, 6, 1),
		}
	},
	methods: {
		getRecipentsType:function() {
			var _this = this;
			var senderType = window.location.href.split('/')[3];
			var mgrPage = window.location.href.split('/')[4];
			if (senderType == 'mgr') {
				if (mgrPage == 'case_detail' || mgrPage == 'contractor_list') {
					_this.recipents_type = 'contractor';
			
				} else {
					_this.recipents_type = 'tenant';
				}
			} else if (senderType == 'tenant') {
				_this.recipents_type == 'admin'
			} else {
				_this.recipentsType == null;
			}
		},
			
		
		
		
		toggleTemplate:function(index) {
			var _this = this;
		    if (_this.templateHidden == true) {
		        _this.templateHidden = false;
				
		    } else {
				_this.templateHidden = true;
			}
			EventBus.$emit('t_at');
			EventBus.$emit('close_window',!_this.templateHidden)
		},
		getSelectedTemplateContent:function(key) {
			var _this = this;
		    _this.email_title = key.title;
		    _this.email_content = key.content;
		    _this.templateHidden = true;
		    _this.$forceUpdate();
		},
		updateTagCate(index) {
			var _this = this;
		    _this.tag_cate = index
			 
		},
		showPopup() {
			var _this = this;
		    	_this.show_popup = true;
		},
		closePopup() {
			var _this = this;
			_this.selectedRecipents = [];
			_this.recipents = '';
			
			_this.recipents_type = '';
			_this.recipents_company = '';
			_this.recipents_name = '';
			_this.recipents_email = '';
			_this.template_tag = [];
			_this.email_template = [];

		    	_this.show_popup = false;
			
		},
		sendEmail:function(e) {
			var _this = this;
			
			if (_this.recipents_type != null && _this.recipents_type != "") {
				if(_this.recipents_email != null && _this.recipents_email != "") {
					console.log('here1');
					axios.post('/mgr/send_email_by_address', {'email_address': _this.recipents_email, 'action':'create_case','email_content':_this.email_content}).then(function(response){
						
						if (response.data.success == "true") {
							_this.show_popup = false;
						}	  
					});
				} else{
					console.log('here2');
					axios.post('/mgr/send_email', {'type': [1], 'recipients': [_this.recipents[0].id], 'recipient_type': _this.recipents_type, 'action': 'create_case'}).then(function(response){
						_this.show_popup = false;
					});
				}
			}
		}
	},
	mounted(){
		var _this = this;
		
		EventBus.$on('email_recipents', function(details) {
			_this.recipents = details.recipents;
			_this.selectedRecipents = details.selectedRecipents;
			
			_this.recipents_type = details.recipents_type;
			_this.recipents_email = details.recipent_email;
			
			_this.tag_cate = details.template_tag[0];
			_this.template_tag = details.template_tag;
			_this.email_template = details.email_template;
			_this.$forceUpdate();

			console.log(_this.selectedRecipents);

			_this.showPopup();
		});
		EventBus.$on('t_at_t',function(){
			if(_this.templateHidden == false){
				_this.templateHidden = true;
			}else{
				
			}
		});

		EventBus.$on('all_close',function(e){
			_this.templateHidden = !e;
		})
		
		
		
		
	}
}
</script>

<style>
	.k-multiselect {
	    width: 100%;
	}
	table.k-editor {
		height: 90%;
	}
	.popup_cont .popup_content {
	    width: 70% !important; height: 80% !important;
		position: absolute;
		top: 10% !important;
		left: 15% !important;
		margin-left: 0 !important;
	}
	.content{
		height: 90%;
	}
	
	button.btn_submit[disabled=true] {
	    background-color: #707070;
	}
	
	#es_cont #es_txt_cont {
	    text-align:right;
	}
	
	#es_cont #es_txt_cont textarea{
	    font-size: .75em;
	}
	
	#es_cont #es_txt_cont .btn_submit {
	    border: 0px;color: #fff;padding: 3px 8px;border-radius: 4px;
	}
	.footer > .btn {
		background-color: #379cd6 !important;
	}
	#es_cont .col {
	    margin-top:15px;
	}
	
	#es_cont .col label.title {
	    width:90%;float:left;height: 25px;line-height: 30px;
	}
	
	.template_list {
	    width: 55%;
	    height: 300px;
	    border: 1px solid #dedede;
	    position: absolute;
	    z-index: 10000;
	    background-color: #fff;
	    right: 10px;top: 28px;
	    overflow-x: hidden;
	}
	
	.template_list > li {
	    padding: 10px 10px 15px;
	    border-bottom: 1px solid #dedede;
	    cursor: pointer;
	}
	
	.template_list > li label {
	    padding: 0px;
	}
	
	.template_list > li .content {
	    font-size: .8em;    padding: 0px !important;
	}
	
	table#email_template {
	    width: 100%;;
		height: 95%;
	}
	table#email_template tr {
	    height: 40px;
	}
	
	table#email_template tr > td {
	    padding: 0px 10px;width: 50%;position: relative;
	}
	
	table#email_template tr > td input, table#email_template tr > td textarea {
	    width:80%;border:0px;
	}
	
	button.btn.add_email_contractor {
	    background-color: #55ce63;margin: 15px 0px;padding-left: 15px;padding-right: 15px;min-width: 50px;
	}
	
	select#contractor_list {
	    width: 100%;
	}
	
	.k-timepicker .k-picker-wrap {
	    height: 36px;padding: 3px 5px;border-radius: 5px;
	}
	.header .header_btn {
	    text-align: right;padding-top: 10px;
	}
	.tag_category {
		width: 50%;
		
		height: 40%;
		clear: both;
	}
	.tag_category >li {
		padding: .1em .25em;
		margin: .25em;
		display: inline-flex;
		float: left;
		text-align: left;
		flex-wrap: wrap;
		border: gray 1px solid;
		border-radius: 5px;
		justify-content:flex-start;
		flex-grow: 1;
		flex-shrink: 1;
		
	}
	.tag_category > li.active {
		background-color: #379cd6;
	}
	
	.tag_category >li.active > p {
		color: whitesmoke;
	}
	.tag_category >li >p {
		color: #379cd6;
		margin: auto 0 !important;
	}
	
	.template_container {
		
		width: 80%;
		
		height: 100px;
	}
</style>
