<template>
    <div class='popup_cont' v-show="show_popup">
        <div class='popup_bg' @click="closePopup"></div>
        <div class='popup_content'>
            <div style="position:relative">
                <div class='header'>
                    <h3 class="col-md-10">
                        Assign a new key
                    </h3>
                    <div class="col-md-2 header_btn">
                        <button class="btn_closepopup" @click="closePopup">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class='content'>
                    <input type="hidden"  v-model="tenant_key.unit_id">
                                                    
                    <div class="field_cont col">
                        <div class="col-md-6">
                            <label class="field_title">Type</label>
                            <select class="col-md-12" v-model="tenant_key.type">
                                <option v-for="p_key in key_type" v-text="p_key.title"  v-bind:value="p_key.id" ></option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="field_title">Key Holder Type</label>
                            <span v-if="tenant_key.key_holder > 0">
                                {{key_holder_title}}
                            </span>
                            <select class="col-md-12" v-model="tenant_key.key_holder" v-if='tenant_key.key_holder == null || tenant_key.key_holder == ""'>
                                <option v-for="p_key in key_holder_type" v-text="p_key.title"  v-bind:value="p_key.id" ></option>
                            </select>
                        </div>
                    </div>

                    <div class="field_cont">
                        <label class="field_title">Comment</label>
                        <textarea name="" row="8" v-model="tenant_key.comment"></textarea>
                    </div>                    
                </div>

                <div class='footer'>
                    <button class="btn btn_close"  @click="closePopup">Close</button>
                    <button class="btn btn_submit" @click="insertOrUpdateKey">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import EventBus from '../event-bus';
export default {
      props: [],
      components: {

      },
      data(){
            return {
                error_msg : null,
                show_popup : false,
                unit_index : '',
                key_holder_title : '',
                key_type: [
                        {"id": '1', "slug":"swipe-card", "title":"Swipe Card"},
                        {"id": '2', "slug":"remote", "title":"Remote"},
                        {"id": '3', "slug":"metal", "title":"Metal"},
                        {"id": '4', "slug":"combination", "title":"Combination"}
                ],
                key_holder_type: [
                        {"id": '1', "slug":"building-mgr", "title":"Building Manager"},
                        {"id": '2', "slug":"concierge", "title":"Concierge"},
                        {"id": '3', "slug":"property-mgr", "title":"Property Manager"},
                        {"id": '4', "slug":"resident", "title":"Resident"},
                        {"id": '5', "slug":"owner", "title":"Owner"}
                ],
                tenant_key : {
                    id: '',
                    unit_id: '',
                    building_id : '',
                    type: '',
                    key_holder: '',
                    comment: ''
                }
            }
      },
      methods:{
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            this.show_popup = false;
        },
        insertOrUpdateKey() {
                  var _this = this;
                  axios.post('/mgr/create_key', {
                        current_uid: this.unit_id,
                        edit_tenant_key: this.tenant_key
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                            _this.show_popup = false;
                            var new_unit_key = {
                                id: response.data.id,
                                index: _this.unit_index
                            }

                            EventBus.$emit("new_unit_key", new_unit_key);
                        }
                  })
                  .catch(function (error) {
                        // 
                  });
        },
        
      },
      mounted() {
        var _this = this;
        EventBus.$on('key_unit_id', function (unit) { 
            _this.tenant_key.unit_id = unit.unit_id;
            _this.unit_index = unit.index;
            _this.tenant_key.key_holder = unit.key_holder;

            for (var i = 0; i < _this.key_holder_type.length; i++) {
                if (unit.key_holder == _this.key_holder_type[i].id) {
                    _this.key_holder_title = _this.key_holder_type[i].title;
                }
            }
            _this.showPopup();
        });
  
      }
}
</script>

<style>

.popup_cont {
    width:100vw;height:100vh;position: fixed;top:0px;left:0px;z-index: 100000;
}

.popup_cont .popup_bg{
    background-color: rgba(0,0,0,.75);width: 100%;height: 100%;
}

.popup_cont .popup_content {
    background-color: #fff;height: 60%;width:50%;position: absolute;top: 10%;left: 50%;margin-left: -30%; overflow-y: auto;overflow-x:hidden;
}

.popup_cont .popup_content .content {
    height: 100%;padding-top:70px;padding-bottom: 70px;display: inline-block;width: 100%;    padding-left: 30px;padding-right: 30px;
}

.popup_cont .popup_content .footer {
    text-align: right;height:50px;position: absolute;width: 100%;bottom: 0px;padding: 10px 25px;background-color: #fff;
}

.popup_cont .btn_closepopup {
    height: 50px;background-color: #fff;border: 0px; font-size: 1.6em;
}

.popup_cont .header {
    width:100%;height:50px;position: absolute;top: 0px;left: 0px;
}

.popup_cont .header > h3 {
    text-align: left;
}

.header .header_btn {
    text-align: right;padding-top: 10px;
}

.tenant_info .info  label {
    width: 100%;margin: 0px;
}

.tenant_info .info {
    margin-bottom: 10px;min-height: 48px;
}

.tenant_info .info .sub_col {
    padding: 0px;
}
</style>