<template>
    <div class='popup_cont' v-show="show_popup">
        <div class='popup_bg' @click="closePopup"></div>
        <div class='popup_content'>
            <div style="position:relative">
                <div class='header'>
                    <h3 class="col-md-10">
                        Key Out
                    </h3>
                    <div class="col-md-2 header_btn">
                        <button class="btn_closepopup" @click="closePopup">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class='content'>                                                
                    <div class="field_cont col">
                        <label class="field_title">To</label>
                        <input type="text" class="col-md-12" v-model="key_to">
                    </div>
                    <div class="field_cont col">
                        <label class="field_title">Note</label>
                        <textarea name="" row="8" v-model="key_note"></textarea>
                    </div>                    
                </div>

                <div class='footer'>
                    <button class="btn btn_close"  @click="closePopup">Close</button>
                    <button class="btn btn_submit" @click="createKeyTo">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import EventBus from '../event-bus';
export default {
      props: [],
      components: {

      },
      data(){
            return {
                error_msg : null,
                show_popup : false,
                unit_id: '',
                unit_index: '',
                key_id: '',
                key_to: '',
                key_note:''
            }
      },
      methods:{
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            this.show_popup = false;
        },
        createKeyTo() {
                  var _this = this;
                  axios.post('/mgr/create_key_action', {
                        unit_id: this.unit_id,
                        action: 'Key To',
                        key_id: this.key_id,
                        key_to: this.key_to,
                        key_note: this.key_note
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                            _this.show_popup = false;
                            var new_key_to = {
                                key_id: _this.key_id,
                                unit_id: _this.unit_id,
                                index: _this.unit_index
                            }

                            EventBus.$emit("new_key_to", new_key_to);
                        }
                        
                  })
                  .catch(function (error) {
                        // 
                  });
        },
        
      },
      mounted() {
        var _this = this;
        EventBus.$on('key_to', function (unit) { 
            _this.unit_id = unit.unit_id;
            _this.unit_index = unit.index;
            _this.key_id = unit.key_id;
            _this.showPopup();
        });
  
      }
}
</script>

<style>

.popup_cont {
    width:100vw;height:100vh;position: fixed;top:0px;left:0px;z-index: 100000;
}

.popup_cont .popup_bg{
    background-color: rgba(0,0,0,.75);width: 100%;height: 100%;
}

.popup_cont .popup_content {
    background-color: #fff;height: 60%;width:50%;position: absolute;top: 10%;left: 50%;margin-left: -30%; overflow-y: auto;overflow-x:hidden;
}

.popup_cont .popup_content .content {
    height: 100%;padding-top:70px;padding-bottom: 70px;display: inline-block;width: 100%;    padding-left: 30px;padding-right: 30px;
}

.popup_cont .popup_content .footer {
    text-align: right;height:50px;position: absolute;width: 100%;bottom: 0px;padding: 10px 25px;background-color: #fff;
}

.popup_cont .btn_closepopup {
    height: 50px;background-color: #fff;border: 0px; font-size: 1.6em;
}

.popup_cont .header {
    width:100%;height:50px;position: absolute;top: 0px;left: 0px;
}

.popup_cont .header > h3 {
    text-align: left;
}

.header .header_btn {
    text-align: right;padding-top: 10px;
}

.tenant_info .info  label {
    width: 100%;margin: 0px;
}

.tenant_info .info {
    margin-bottom: 10px;min-height: 48px;
}

.tenant_info .info .sub_col {
    padding: 0px;
}
</style>