<template>
    <div class='popup_cont' v-show="show_popup">
        <div class='popup_bg' @click="closePopup"></div>
        <div class='popup_content'>
            <div style="position:relative">
                <div class='header'>
                    <h3 class="col-md-10">
                        Tenant Detail
                    </h3>
                    <div class="col-md-2 header_btn">
                        <button class="btn_closepopup" @click="closePopup">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class='content'>
                    <div class="col-md-5 tenant_info">
                        <div class="avatar"></div>

                        <div class="info">
                            <div class="sub_col col-md-6">
                                <label>Unit</label>
                                <span class="">{{ tenant.unit_title }}</span>
                            </div>
                            <div class="sub_col col-md-6">
                                <label>Type</label>
                                <span class="">{{ tenant.type }}</span>
                            </div>
                        </div>

                        <div class="info">
                            <label>Name</label>
                            <span class="">{{ tenant.first_name }} {{ tenant.last_name }}</span>
                        </div>

                        <div class="info">
                            <label>Email</label>
                            <span class="">{{ tenant.email }}</span>
                        </div>

                        <div class="info">
                            <label>Phone</label>
                            <span class="">{{ tenant.contact }}</span>
                        </div>

                        <div class="info">
                            <label>Mobile</label>
                            <span class="">{{ tenant.mobile }}</span>
                        </div>

                        <div class="info">
                            <label>Emergency Number</label>
                            <span class="">{{ tenant.emerg_person }}</span>
                        </div>

                        <div class="info">
                            <label>Move in</label>
                            <span class="">{{ tenant.move_in }}</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <accordion>
                            <div slot="accordion_title">Vehicles</div>
                            <div class="list_cont cont_sml" style="display:block;padding: 0px;font-size: .75em;">
                                <div class="list_header">
                                    <div class="list_fields w_35">PARKING LOT</div>
                                    <div class="list_fields w_35 c_align">PLATE NO.</div>
                                    <div class="list_fields w_35 c_align">VEHICLE</div>
                                    <div class="list_fields w_35 c_align">COLOR</div>
                                </div>

                                <div class="list_row" v-for="(vehicle_key, vehicle_item) in vehicles">
                                    <div class="list_fields w_35">{{ vehicle_key.parking_id }}</div>
                                    <div class="list_fields w_35 c_align">{{ vehicle_key.plate_no }}</div>
                                    <div class="list_fields w_35 c_align">{{ vehicle_key.make }}</div>
                                    <div class="list_fields w_35 c_align">{{ vehicle_key.color }}</div>
                                    
                                </div>
                            </div>
                        </accordion>

                        <accordion>
                            <div slot="accordion_title">Pets</div>
                            <div class="list_cont cont_sml" style="display:block;padding: 0px;font-size: .75em;">
                                <div class="list_header">
                                    <div class="list_fields w_50">TYPE</div>
                                    <div class="list_fields w_50">VARIETY</div>
                                    <div class="list_fields w_50 c_align">COLOR</div>
                                </div>

                                <div class="list_row" v-for="(pet_key, pet_item) in pets">
                                    <div class="list_fields w_50">{{pet_key.type}}</div>
                                    <div class="list_fields w_50">{{pet_key.variety}}</div>
                                    <div class="list_fields w_50 c_align">{{pet_key.color}}</div>
                                </div>
                            </div>
                        </accordion>

                        <accordion>
                            <div slot="accordion_title">Cases</div>
                            <div class="list_cont cont_sml" style="display:block;padding: 0px;font-size: .75em;">
                                <div class="list_header">
                                    <div class="list_fields w_25">CASE TYPE</div>
                                    <div class="list_fields w_45">CONTENT</div>
                                    <div class="list_fields w_25 c_align">PROGRESS</div>
                                    <div class="list_fields w_35 c_align">JOB AREA</div>
                                </div>

                                <div class="list_row" v-for="(case_key, case_item) in cases">
                                    <div class="list_fields w_25">{{case_key.case_type}}</div>
                                    <div class="list_fields w_45">{{case_key.content}}</div>
                                    <div class="list_fields w_25 c_align">{{case_key.progress}}</div>
                                    <div class="list_fields w_35 c_align">{{case_key.job_area}}</div>
                                </div>
                            </div>
                        </accordion>

                        <!-- <accordion>
                            <div slot="accordion_title">Notes</div>
                            <div class="list_cont cont_sml">
                                <div class="list_header">
                                    <div class="list_fields w_30">DATE</div>
                                    <div class="list_fields w_70">NOTE</div>
                                </div>

                                <div class="list_row" v-for="(note_key, note_item) in notes">
                                    <div class="list_fields w_30">{{note_key.created_at}}</div>
                                    <div class="list_fields w_70">{{note_key.content}}</div>
                                    
                                </div>
                            </div>
                            <textarea class="notes" rows="8" v-model.trim="new_note"></textarea>
                        </accordion> -->
                    </div>
                </div>

                <div class='footer'>
                    <button class="btn btn_close"  @click="closePopup">Close</button>
                    <!-- <button class="btn btn_submit" @click="createTenantNote">Save</button> -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import  accordion from '../accordion.vue';
import EventBus from '../event-bus';
export default {
      props: [],
      components: {
        accordion
      },
      data(){
            return {
                 error_msg : null,
                 show_popup : false,
                 tenant_id : '',
                 new_note : '',
                 tenant : Object,
                 vehicles : [],
                 pets : [],
                 cases : [],
                 notes : [],
            }
      },
      methods:{
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            this.show_popup = false;
            this.new_note = '';
        },
        createTenantNote() {
                  var _this = this;
                  if (_this.new_note.length > 0) {
                    axios.post('/mgr/create_tenant_note', {
                            tenant_id: this.tenant_id,
                            note : this.new_note
                    })
                    .then(function (response) {
                        if (response.data.success == 1) {
                            _this.notes[_this.notes.length] = response.data.data;
                            this.new_note = '';
                            _this.$forceUpdate();
                        }
                    })
                    .catch(function (error) {
                            // 
                    });
                  }
        },
      },
      mounted() {
        var _this = this;
        EventBus.$on('tenant_id', function (tenant_id) {
            if (tenant_id > 0) {
                _this.tenant_id = tenant_id;
                axios.get('/mgr/getTenantDetailsByID/'+tenant_id).then(function(response) {
                    console.log(response);
                    _this.tenant = response.data.info; 
                    _this.vehicles = response.data.vehicles; 
                    _this.pets = response.data.pets; 
                    _this.cases = response.data.cases;
                    // _this.notes = response.data.notes;
                });
                _this.showPopup();
            }
        });
  
      }
}
</script>

<style>


.header .header_btn {
    text-align: right;padding-top: 10px;
}

.tenant_info .info  label {
    width: 100%;margin: 0px;
}

.tenant_info .info {
    margin-bottom: 10px;min-height: 48px;
}

.tenant_info .info .sub_col {
    padding: 0px;
}
</style>