<template >
      <div class='popup_content'>
            <div class='content'>
                  <div class='event_popup'>
                        <div class='event_form event_input_form'>
                              <div class='col-md-6'>
                                    <label class="field_title">Type</label>
                                    <select id='typeId' name='typeId' v-model="taction" @change="onChangeType($event)" v-if="isEventPassed == false">
                                          <option value="1">Job</option>
                                          <option value="3">Reservation</option>
                                          <option value="4">Car Parking</option>
                                    </select>
                                    <span v-html="txt_action" v-else></span>
                              </div>

                              <!-- share child template with case-->
                              <case-info ref="jobInfo" :case_detail='case_detail' v-if="action == 1"></case-info>

                              <div id='tenant_cont' class='tenant_cont col-md-6 k-edit-cont' v-show="action == 3 || action == 4">
                                    <label class="field_title">Tenant</label>
                                    <select v-model="tenant_id" v-if="isEventPassed == false">
                                          <option v-for="(k,i) in tenants" :value="k.value"  @change="updateTenantName($event)">{{k.text}}</option>
                                    </select>
                                    <span data-for='tenant_id' class='k-invalid-msg' v-text="err_tenant_id" v-if="isEventPassed == false"></span>
                                    <span v-html="txt_tenant_id" v-if="isEventPassed == true"></span>
                              </div>
                                          
                              <div id='car_number' class='car_number col-md-6 k-edit-cont ' v-show="action == 4">
                                    <label class="field_title">Car Number | Modal</label>
                                    <input id='car_plate' name='car_plate' class='event_txtinput' v-model="car_plate" v-if="isEventPassed == false"/>
                                    <span data-for='end' class='k-invalid-msg' v-text="err_car_plate" v-if="isEventPassed == false"></span>
                                    <span v-html="txt_car_plate" v-if="isEventPassed == true"></span>
                              </div>

                              <div id='amenity_cont' class='amenity_cont col-md-6  k-edit-cont'  v-show="action == 3">
                                    <div class='k-edit-label'>
                                          <label class="field_title">Amenity</label>
                                          <a href='/mgr/new_amenity' class='calendar_add_link' target='_blank' v-if="isEventPassed == false"><i class='fas fa-plus'></i></a>
                                    </div>

                                    <select v-model="amenity_id" v-if="isEventPassed == false">
                                          <option v-for="(k,i) in amenity" :value="k.value"  @change="updateAmenityTitle($event)">{{k.text}}</option>
                                    </select>
                                    <span data-for='amenity_id' class='k-invalid-msg' v-text="err_amenity_id" v-if="isEventPassed == false"></span>
                                    <span v-html="txt_amenity_id" v-if="isEventPassed == true"></span>
                              </div>

                              
                                    <div id='start_date' class='start_time k-edit-cont col-md-6' v-show="action == 1 || action == 2 || action == 3 || action == 4">
                                    <label class="field_title">Date</label>
                                    <div  v-if="isEventPassed == false">
                                          <kendo-datepicker 
                                                v-model="start_date"
                                                name="start_date" 
                                                id='start_date'>
                                          </kendo-datepicker>
                                    </div>
                                    <span data-for='start_time' class='k-invalid-msg' v-text="err_start_date" v-if="isEventPassed == false"></span>
                                    <span v-html="new Date(start_date).toDateString()" v-if="isEventPassed == true"></span>
                              </div>

                              <div id='start_time' class='start_time k-edit-cont col-md-6' v-show="action == 1 || action == 2 || action == 3 || action == 4">
                                    <label class="field_title">From</label>
                                    <div  v-if="isEventPassed == false">
                                          <kendo-timepicker 
                                                v-model="start"
                                                name="start" 
                                                id='start'
                                                :time="'(hh:mm))'"
                                                :interval="30"
                                                :min='tMin' 
                                                :max='tMax'>
                                          </kendo-timepicker>
                                    </div>
                                    <span data-for='start' class='k-invalid-msg' v-text="err_start" v-if="isEventPassed == false"></span>
                                    <span v-html="start" v-if="isEventPassed == true"></span>
                              </div>
                              <div id='end_time' class='end_time col-md-6 k-edit-cont' v-show="action == 1 || action == 2 || action == 3 || action == 4">
                                    <label class="field_title">To </label>
                                    <div  v-if="isEventPassed == false">
                                          <kendo-timepicker 
                                                v-model="end"
                                                name="end" 
                                                id='end'
                                                :time="'(hh:mm))'"
                                                :interval="30"
                                                :min='tMin' 
                                                :max='tMax'>
                                          </kendo-timepicker>
                                    </div>
                                    <span data-for='end' class='k-invalid-msg' v-text="err_end" v-if="isEventPassed == false"></span>
                                    <span v-html="end" v-if="isEventPassed == true"></span>
                              </div>
                              <div id='message' class='message col-md-12' v-if="action == 3 || action == 4">
                                    <label class="field_title">Message</label>
                                    <textarea id='details' name='details' v-model="details" v-if="isEventPassed == false"></textarea>
                                    <input id='event_object' name='event_object' style='display:none'/>
                                    <span data-for='details' class='k-invalid-msg' v-text="err_details" v-if="isEventPassed == false"></span>
                                    <span v-html="txt_details" v-if="isEventPassed == true"></span>
                              </div>

                              <case-desc ref="jobDesc" :case_detail='case_detail' v-if="action == 1"></case-desc>

                              <div id='booking_approval' class='booking_approval k-mgr-edit-cont col-md-12' v-show="action == 3 || action == 4">
                                    <label class="field_title">Booking Approval </label>
                                    <div class='col-md-4 k-edit-cont'>
                                          <div class='k-edit-label'><label>Status</label></div>
                                          <select id='reservation_status' name='reservation_status' class='reservation_status' data-bind='value:status'  v-model="reservation_status" v-if="isEventPassed == false">
                                                <option value='0'>Pending</option>
                                                <option value='1'>Approve</option>
                                                <option value='2'>Reject</option>
                                          </select>
                                          <span v-html="progress_title" v-if="isEventPassed == true"></span>
                                    </div>
                                    <div class='col-md-8'>
                                          <label class="field_title">Comment</label>
                                          <textarea name='comment' id='comment' v-model="comment" v-if="isEventPassed == false"></textarea>
                                          <span v-html="txt_comment" v-if="isEventPassed == true"></span>
                                    </div>
                              </div>
                        </div>
                        

                  </div>
            </div>

            <div class='footer'>
                  <button class="btn btn_close"  @click="closePopup">Close</button>
                  <button class="btn btn_submit" type="submit" @click="onSubmit" v-if="isEventPassed == false">Save</button>
            </div>
            
      </div>
</template>
<script>
import EventBus from '../event-bus';
import  caseInfo from '../case/includes/case-details.vue'
import  caseDesc from '../case/includes/case-desc.vue'
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import { DropdownsInstaller, ComboBox, DropDownList  } from '@progress/kendo-dropdowns-vue-wrapper'

Vue.use(DropdownsInstaller)

export default {
      name: "popupBooking",
      //props: ['stype','contractor_list', 'bi_list', 'tenants', 'amenity','units', 'selected_action'],
      props: {
            event_details: Object,
      },
      components: {
            DatePicker, TimePicker, DropDownList, caseInfo, caseDesc
      },
      data(){
            return {
                  templateArgs: {},
                  error_msg : null,
                  show_popup : false,

                  tMin: '6:00 AM',
                  tMax: '9:00 PM',

                  id: null,
                  action:this.selected_action,
                  taction:this.selected_action == 2 ? 1 : this.selected_action,
                  start_date: new Date(),
                  recurring_frequency: null,
                  // inspection_frequency_txt: 'none',
                  location: null,
                  tasktype: null,
                  cid: null,
                  // bi_id:  null,
                  tenant_id:  null,
                  tenant_name: null,
                  car_plate: null,
                  amenity_id: null,
                  amenity_title: null,
                  current_event_end: null,
                  isEventPassed: false,
                  start: '6:00 AM',
                  end: '9:00 AM',
                  details: null,
                  reservation_status: 1,
                  progress_title: 'Approve',
                  comment: null,

                  case_id: null,
                  comp_name: null,
                  event_desc: '',
                  event_object: '',
                  inspection_history: null,
                  recurrenceException: null,

                  txt_action: null,
                  // txt_location: null,
                  // txt_tasktype: null,
                  txt_car_plate: null,
                  txt_cid: null,
                  // txt_bi_id: null,
                  txt_tenant_id: null,
                  txt_amenity_id: null,
                  txt_start_date: null,
                  txt_start: null,
                  txt_end: null,
                  txt_details: null,
                  txt_reservation_status: null,
                  txt_comment: null,

                  // err_recurring_frequency: null,
                  // err_inspection_frequency_txt: null,
                  // err_location: null,
                  // err_tasktype: null,
                  err_cid: null,
                  //err_bi_id: null,
                  err_tenant_id: null,
                  err_car_plate: null,
                  err_amenity_id: null,
                  err_start_date: null,
                  err_start: null,
                  err_end: null,
                  err_details: null,
                  err_reservation_status: 1,
                  err_comment: null,
            }
      },
      methods:{
            onChangeType:function(e) {
                  this.action = e.target.value;
            },
            isDate:function(date) {
                  return (new Date(date) !== "Invalid Date") && !isNaN(new Date(date));
            },
            updateTenantName(e) {
                  this.tenant_name = e.sender.text();
            },
            updateAmenityTitle(e) {
                  this.amenity_title = e.sender.text();
            },
            updateStatus() {
                  if (this.reservation_status == 0) {
                        this.progress_title = 'Pending';
                  } else if (this.reservation_status == 1) {
                        this.progress_title = 'Approve';
                  } else if (this.reservation_status == 2) {
                        this.progress_title = 'Reject';
                  } else {
                        this.progress_title = '-';
                  }
            },
            onSubmit() {
                  var error =false;
                  var _this = this;

                  if (this.action == 1) {
                        this.case_detail = this.$refs.jobInfo.case_detail;

                        if (this.case_detail.case_type == null || this.case_detail.case_type == '') {
                              error =true;
                              this.$refs.jobInfo.err_case_type = 'Case type is required!';
                        } else if (this.case_detail.job_area == 1) {
                              if (this.case_detail.asset_id == null || this.case_detail.asset_id == '') {
                                    error =true;
                                    this.$refs.jobInfo.err_asset_id = 'Asset is required!';
                              }
                        } else if (this.case_detail.job_area == 3) {
                              if (this.case_detail.unit_id == null || this.case_detail.unit_id == '') {
                                    error =true;
                                    this.$refs.jobInfo.err_unit_id = 'Unit is required!';
                              }
                        } else if (this.case_detail.bi_id == null || this.case_detail.bi_id == '') {
                              error =true;
                              this.$refs.jobInfo.err_bi_id = 'Inspection is required!';
                        } else if (this.case_detail.progress == null || this.case_detail.progress == '') {
                              error =true;
                              this.$refs.jobInfo.err_case_progress = 'Progress is required!';
                        } else if (this.case_detail.priority == null || this.case_detail.priority == '') {
                              error =true;
                              this.$refs.jobInfo.err_case_priority = 'Priority is required!';
                        }
                  } else if (this.action == 3) {
                        if (this.tenant_id == null || this.tenant_id == '') {
                              error =true;
                              this.err_tenant_id = "Tenant is required!";
                        } else {
                              this.err_tenant_id = null;
                        }

                        if (this.amenity_id == null || this.amenity_id == '') {
                              error =true;
                              this.err_amenity_id = "Amenity is required!";
                        } else {
                              this.err_amenity_id = null;
                        }
                  } else if (this.action == 4) {
                        if (this.car_plate == null || this.car_plate == '') {
                              error =true;
                              this.err_car_plate = "Car plate is required!";
                        } else {
                              this.err_car_plate = null;
                        }
                  }

                  if (this.start_date == null || this.start_date == '') {
                        error =true;
                        this.err_start_date = "Start Date is required!";
                  } else {
                        var y = new Date(this.start_date).getFullYear();
                        var m = new Date(this.start_date).getMonth()+1;
                        var d = new Date(this.start_date).getDate();

                        this.start_date = y+"-"+m+"-"+d;
                        this.err_start_date = null;
                  }

                  if (this.start == null || this.start == '') {
                        error =true;
                        this.err_start = "Start Time is required!";
                  } else {
                        this.err_start = null;
                  }

                  if (this.end == null || this.end == '') {
                        error =true;
                        this.err_end = "End Time is required!";
                  } else {
                        this.err_end = null;
                  }


                  if (error == false) {
                        this.update_reservation_by_admin();
                  }     
            },
            update_reservation_by_admin() {
                  var _this = this;
                  this.start = this.isDate(this.start) == true ? new Date(this.start).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) : this.start;
                  this.end =  this.isDate(this.end) == true ? new Date(this.end).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) : this.end;

                  axios.post('/mgr/update_reservation_by_admin', {
                        // global
                        id: this.id,
                        typeId: this.action,
                        progress: this.action == 1 ? 1 : this.reservation_status,
                        details: this.details,
                        start_date: this.start_date,
                        start: this.start_date+" "+this.start,
                        end: this.start_date+" "+this.end,
                        
                        // car parking or reservation
                        newTenant: this.action == 3 || this.action == 4 ? this.tenant_id : null,
                        amenityId: this.action == 3 ? this.amenity_id : null,
                        car_plate: this.action == 4 ? this.car_plate : null, 
                        comment: this.comment,

                        // job
                        case_type: this.action == 1 ? this.case_detail.case_type : null,
                        bi_list: this.action == 1 && this.case_detail.case_type == 'inspection' ? this.case_detail.bi_id : null,
                        job_area: this.action == 1 && this.case_detail.case_type != 'inspection' ? this.case_detail.job_area : null,
                        area_detail: this.action == 1 && this.case_detail.job_area == 2 ? this.case_detail.area_detail : null,
                        asset_id: this.action == 1 && this.case_detail.job_area == 1 ? this.case_detail.asset_id : null,
                        unit_id: this.action == 1 && this.case_detail.job_area == 3 ? this.case_detail.unit_id : null,
                        case_progress: this.action == 1 ? this.case_detail.progress : null,
                        priority: this.action == 1 ? this.case_detail.priority : null,
                        contractor_list: this.action == 1 ? this.case_detail.assignee_id : null,
                        routine: this.action == 1 && this.case_detail.routine.toLowerCase() == 'none' ? null : (this.action != 1 ? null : this.case_detail.routine),
                        booking_recurring: this.action == 1 && this.case_detail.routine.toLowerCase() == 'none' ? null : (this.action != 1 ? null : 'FREQ='+this.case_detail.routine)
                  })
                  .then(function (response) {
                        _this.updateStatus();

                        var data = {
                              r_type: _this.id > 0 ? 'u' : 'n',
                              id: _this.id > 0 ? _this.id : response.data.id,
                              action: _this.action,
                              status: _this.reservation_status,
                              progress_title: _this.progress_title,
                              start: _this.start_date+" "+_this.start,
                              txt_start: new Date(_this.start_date+" "+_this.start).toLocaleString('en-US', { month: 'short', day: 'numeric', hour: "numeric", minute: "numeric", hour12: false }),
                              end: _this.start_date+" "+_this.end,
                              txt_end: new Date(_this.start_date+" "+_this.end).toLocaleString('en-US', { month: 'short', day: 'numeric', hour: "numeric", minute: "numeric", hour12: false }),
                              comment: _this.comment,
                              location: _this.location,
                              task_type: _this.txt_tasktype,
                              recurrenceRule: _this.recurring_frequency,
                              bi_id:  _this.case_detail.bi_id,
                              cid: _this.cid,
                              tenant_id: _this.tenant_id,
                              tenant_name: _this.tenant_name,
                              amenity_id: _this.amenity_id,
                              amenity_title: _this.amenity_title,
                              car_plate: _this.car_plate, 

                              case_id: _this.case_id,
                              comp_name: _this.comp_name,
                              event_desc: _this.event_desc,
                              inspection_history: _this.inspection_history,
                              recurrenceException: _this.recurrenceException,
                        };

                        if (_this.action == 1) {
                              data.details = _this.comp_name;
                              data.event_object = _this.case_id;
                        } else if (_this.action == 3) {
                              data.details = _this.tenant_name;
                              data.event_object = _this.amenity_title;
                        } else if (_this.action == 4) {
                              data.details = _this.tenant_name;
                              data.event_object = _this.car_plate;
                        }

                        EventBus.$emit("updateList", data);
                        _this.closePopup();
                  });
            },
            showPopup() {
                  this.show_popup = true;
            },
            closePopup() {
                  var _this = this;
                  _this.id = null;
                  _this.action = 1;
                  _this.taction = 1;
                  _this.start_date = new Date();
                  _this.recurring_frequency = null;
                  //_this.case_detail.routine = 'none';
                  _this.location = null;
                  _this.tasktype = null;
                  _this.cid = this.contractor_list.length > 0 ? this.contractor_list[0].id : null;
                  // _this.getDefaultBIValue(this);
                  _this.tenant_id = this.tenants.length > 0 ? this.tenants[0].value : null;
                  _this.tenant_name = this.tenants.length > 0 ? this.tenants[0].text : null;
                  _this.car_plate = null;
                  _this.amenity_id = this.amenity.length > 0 ? this.amenity[0].value : null;
                  _this.amenity_title = this.amenity.length > 0 ? this.amenity[0].text : null;
                  _this.start = '6:00 AM';
                  _this.end = '9:00 AM';
                  _this.details = null;
                  _this.reservation_status = 1;
                  _this.comment = null;

                  _this.case_id = null;
                  _this.comp_name = null;
                  _this.event_desc = null;
                  _this.event_object = null;
                  _this.inspection_history = null;
                  _this.progress_title = 'Approve';
                  _this.recurrenceException = null;

                  _this.show_popup = false;
                  EventBus.$emit("close_popup", []);
            },
            getStringByVal:function(loop, val, k, v) {
                  var t = null;
                  if (val == 1) {
                        t = 'Inspection';
                  } else {
                        for (var i = 0; i < loop.length; i++) {
                              if (loop[i][v] == val) {
                                    t = loop[i][k];
                              }
                        }

                        t = t == null ? 'NULL' : t;
                  }
                  return t;
            },
            initialDefaultList:function(e) {
                  // initial inspection frequency
                  var bl = [];
                  var frequency = '';
                  if (e.hasOwnProperty('start')) {
                        var y = new Date(e.start).getFullYear();
                        var m = new Date(e.start).getMonth()+1;
                        var d = new Date(e.start).getDate();

                        this.start_date = y+"-"+m+"-"+d;
                  }

                  if (e.hasOwnProperty('action')) {
                        this.action = e.action;
                        this.taction = e.action == 2 ? 1 : e.action;
                  }

                  this.stype = e.stype;
                  this.units = e.units;
                  this.contractor_list = e.contractor_list;
                  this.bi_list = e.bi_list;
                  this.tenants = e.tenants;
                  this.amenity = e.amenity;
                  this.event_desc = e.event_desc;
                  this.event_object = e.event_object;


                  // check whether event already passed
                  bl = e.bi_list;
                  if (e.hasOwnProperty('current_event_end')) {
                        var current_date = new Date();
                        this.current_event_end = e.current_event_end;
                        if (current_date.getTime() >= this.current_event_end.getTime()) {
                              this.isEventPassed = true;
                        } else {
                              this.isEventPassed = false;
                        }
                  } else {
                        this.isEventPassed = false;
                  }
                

                  //update frequency words
                  // for (var i = 0; i < bl.length; i++) {
                  //       if (this.case_detail.bi_id == bl[i].id) {        
                  //             frequency = bl[i].frequency;
                  //       }
                  // }
                  // this.updateRecurringFrequency(frequency); 
            },
            getPassedEventDetails:function(e) {
                  this.txt_action = this.getStringByVal(this.stype, e.action, 'text','value');
                  this.txt_location = e.location != null && e.location != '' ? e.location : 'NULL';
                  this.txt_cid = this.getStringByVal(e.contractor_list, e.cid, 'comp_name','id');
                  this.txt_bi_id = this.getStringByVal(e.bi_list, e.bi_id, 'title','id');
                  this.txt_car_plate = e.car_plate != null && e.car_plate != '' ? e.car_plate : 'NULL'; 
                  this.txt_tenant_id = e.tenant_name;
                  this.txt_amenity_id = e.amenity_title;
                  this.txt_details = e.details != null && e.details != '' ? e.details : 'NULL';
                  this.txt_comment = e.comment != null && e.comment != '' ? e.comment : 'NULL';
                  this.reservation_status  = e.progress;
                  this.updateStatus();
            },
            getNewEventDetails:function(e) {
                  this.action = 1;
                  this.taction = 1;
                  this.cid = e.contractor_list[0].id;
                  this.tenant_id = e.tenants[0].value;
                  this.tenant_name = e.tenants[0].text;
                  this.amenity_id = e.amenity[0].value;
                  this.amenity_title = e.amenity[0].text;
                  // this.getDefaultBIValue(e);;
            },
            getEditEventDetails:function(e) {
                  this.location = e.location;
                  this.cid = e.cid;
                  this.case_detail.bi_id = e.bi_id;
                  this.tenant_id = e.tenant_id;
                  this.tenant_name = e.tenant_name;
                  this.car_plate = e.car_plate;
                  this.amenity_id = e.amenity_id;
                  this.amenity_title =  e.amenity_title;
                  this.start = new Date(e.start).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
                  this.end = new Date(e.end).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
                  this.details = e.details;
                  this.comment = e.comment;
                  this.case_id = e.case_id;
                  this.comp_name = e.comp_name;
                  this.event_desc =  e.event_desc;
                  this.event_object = e.event_object;
                  this.inspection_history = e.inspection_history;
                  this.progress_title = e.progress_title;
                  this.recurrenceException = e.recurrenceException;
            },
            
      },
      created() {
            if (typeof this.case_detail === "undefined") {
                  this.case_detail = {};
            }
      },
      mounted: function () { 
            var _this = this;

            // initial all listing inputs - from reservation list
            if (typeof this.event_details != "undefined" && this.event_details != {}) {
                  var e = this.event_details;
                  this.initialDefaultList(e);

                   // if event is new
                  if (typeof this.action == "undefined" || this.action == null) {
                        this.getNewEventDetails(e);
                  } else if (this.action > 0 && this.isEventPassed != true) {
                        // if event is edit mode
                        this.getEditEventDetails(e);

                        this.id = e.id;
                        this.recurring_frequency = e.recurring_frequency;
                        // this.case_detail.routine = e.inspection_frequency_txt;
                        this.tasktype = e.tasktype != null && e.tasktype != '' ? e.tasktype : 'NULL';
                        this.reservation_status = e.reservation_status;
                  } else {
                        // if event is passed
                        this.getPassedEventDetails(e);
                        this.txt_tasktype = e.tasktype != null && e.tasktype != '' ? e.tasktype : 'NULL';
                        // this.case_detail.routine = e.inspection_frequency_txt;
                  }
            }else if (typeof this.templateArgs != "undefined" && this.templateArgs != {}) {
                  // initial all listing inputs - from calendar
                  var e = this.templateArgs;
                  this.initialDefaultList(e);

                  // if event is not passed
                  if ((e.start).getTime() > (new Date()).getTime()) {
                        this.isEventPassed = false;
                        if (e.id > 0 || e.recurrenceId > 0) {
                              this.getEditEventDetails(e);

                              this.id = e.recurrenceId > 0 ? e.recurrenceId : e.id;
                              this.recurring_frequency = e.txt_recurrence;
                              this.reservation_status  = e.progress;
                              this.txt_tasktype = e.task_type != null && e.task_type != '' ? e.task_type : 'NULL';
                              this.updateStatus();
                        } else if (e.id == 0 &&  !e.hasOwnProperty('recurrenceId')) {
                              this.getNewEventDetails(e);
                        }
                  } else {
                        // if event is passed
                        this.isEventPassed = true;
                        this.getPassedEventDetails(e);
                        this.txt_tasktype = e.task_type != null && e.task_type != '' ? e.task_type : 'NULL';
                  }

            }
            this.$forceUpdate();
      },
      
}

</script>

<style lang="scss">
.event_form.event_input_form {
      display: inline-block;width: 100%;
}
.inspection_frequency {
      margin-bottom: 7px;
}

.k-edit-label {
      height: 24px;
}

.col-md-6 {
      margin-bottom: 15px;
}

.k-edit-label {
      > label {
            display: inline-block;
      }

      .btn_add, .btn_refresh {
            float: right;
            margin: 0px 3px;
      }

      .btn_add {
            i {
                  color: #55ce63;
            }
      }
}


.popup_content {
      position: relative;
      width: auto;
      height: auto;

      .content {
            display: inline-block;
      }
}


.k-invalid-msg {
      display: block;
      color: red;
      font-size: .7em;
}
.k-combobox, .k-dateinput, .k-datepicker, .k-datetimepicker, .k-timepicker, .k-widget.k-dropdown {
    width: 100% !important;
    border-color: rgba(0,0,0,0.1);
}

.k-timepicker {
      input {
            width: 100%;border: 0;height: 100%;
      }
}

.event_txtinput {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.4285714286;
    text-align: left;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.1);
}
</style>