<template>
      <div class='popup_cont' v-if="show_popup">
            <div class='popup_bg' @click="closePopup"></div>

            <div class='popup_content_cont'>
                  <div class='header'>
                        <h3 class="col-md-10">
                              Jobs Detail
                        </h3>
                        <div class="col-md-2 header_btn">
                              <button class="btn_closepopup" @click="closePopup">
                                    <i class="fas fa-times"></i>
                              </button>
                        </div>
                  </div>
                  <pb v-bind:event_details="event_details" ></pb>
            </div>
      </div>
</template>      

<script>
import EventBus from '../event-bus';
import pb from './popup_booking.vue';

export default {
      name: "popupBookingCont",
      props: ['stype','contractor_list', 'bi_list', 'tenants', 'amenity','units', 'selected_action'],
      components: {
           pb
      },
      data(){
            return {
                  show_popup : false,
                  event_details : {}
            }
      },
      methods:{
            showPopup() {
                  this.show_popup = true;
            },
            closePopup() {
                  this.show_popup = false;
                  //this.resetEventDetail();
            },
            resetEventDetail() {
                  this.event_details = {
                        'stype': this.stype,
                        'contractor_list': this.contractor_list,
                        'bi_list': this.bi_list,
                        'tenants': this.tenants,
                        'amenity': this.amenity,
                        'units': this.units,
                        'selected_action': this.selected_action
                  }
            }
      },
      created() {
            this. resetEventDetail();
      },
      mounted: function () {
            var _this = this;
            EventBus.$on('initPopUp', function (e) {
                  if (e != null) {
                        _this.event_details = {
                              id: e.id,
                              typeId:  e.typeId,
                              recurring_frequency: e.recurrenceRule,
                              inspection_frequency_txt: e.recurrenceRule != null && e.recurrenceRule != '' ? e.recurrenceRule.substring(e.recurrenceRule.lastIndexOf("FREQ=") + 5, e.recurrenceRule.length) : 'None',
                              location: e.location,
                              tasktype: e.task_type,
                              cid: e.cid,
                              bi_id: e.bi_id,
                              tenant_id: e.tenant_id,
                              tenant_name: e.tenant_name,
                              car_plate: e.car_plate,
                              amenity_id: e.amenity_id,
                              amenity_title:  e.amenity_title,
                              //start: new Date(e.start).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }),
                              //end: new Date(e.end).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }),
                              start_date: e.start_date,
                              start:e.start,
                              end: e.end,
                              current_event_end: new Date(e.end),
                              details: e.details,
                              reservation_status: e.status,
                              comment: e.comment,

                              case_id: e.case_id,
                              comp_name: e.comp_name,
                              event_desc:  e.event_desc,
                              event_object: e.event_object,
                              //inspection_history: e.inspection_history,
                              progress_title: e.progress_title,
                              recurrenceException: e.recurrenceException,

                              'stype': _this.stype,
                              'contractor_list': _this.contractor_list,
                              'bi_list': _this.bi_list,
                              'tenants': _this.tenants,
                              'amenity': _this.amenity,
                              'units': _this.units,
                              'selected_action': _this.selected_action
                        }
                  }
                  _this.showPopup();
            });

            
            EventBus.$on('updateList', function (e) {
                  EventBus.$emit("updateList_cont", e);
                  _this.closePopup();
            });


            EventBus.$on('close_popup', function (e) {
                  _this.closePopup();
            });
      },
      watch : {
            
      }
}
</script>

<style lang="scss">
.popup_content_cont {
      background-color: #fff;
      height: 60%;
      width: 670px;
      position: absolute;
      top: 10%;
      left: 50%;
      margin-left: -335px;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;

      .popup_content {
            height: auto; 
            width: 100% !important; 
            position: relative; 
            top: 0%; 
            left: 0% !important;
            overflow-y: auto;
            flex: 1;
      }

      .content {
            display: inline-block;
            height: auto !important;
      }
}
</style>