<template>
    <form id="caseReservationForm" ref="caseReservationForm" v-kendo-validator>
    <div class='popup_cont' v-show="show_popup">
        <div class='popup_bg' @click="closePopup"></div>
        <div class='popup_content'>
            <div class="popup_inner">
                <div class='header'>
                    <h3 class="col-md-10" v-html="event_format.eventTitle"> </h3>
                    <div class="col-md-2 header_btn">
                        <button class="btn_closepopup" @click.prevent="closePopup">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class='content'>
                    <div class="col-md-6">
                        <div class="field_cont">
                            <label class="field_title">Date</label>
                            <kendo-datepicker   :min="minDate"
                                                :max="maxDate"
                                                :format="'yyyy-MM-dd'"
                                                v-model="event_format.start_date"
                                                name="date_reservation"
                                                validationMessage="Date Reservation is required"
                                                required>
                            </kendo-datepicker>
                        </div>

                        <div class="field_cont">
                            <label class="field_title">Start Time</label>
                            <kendo-timepicker 
                                                name="start_time_reservation" 
                                                v-model="event_format.start" 
                                                validationMessage="Time Reservation is required"
                                                :min="event_start_time"
                                                :max="event_end_time"
                                                :time="'(hh:mm))'"
                                                :interval="30"
                                                required>
                            </kendo-timepicker>
                        </div>

                        <div class="field_cont">
                            <label class="field_title">End Time</label>
                            <kendo-timepicker 
                                                name="end_time_reservation" 
                                                v-model="event_format.end"
                                                validationMessage="Time Reservation is required"
                                                :min="event_start_time"
                                                :max="event_end_time"
                                                :time="'(hh:mm))'"
                                                :interval="30"
                                                required>
                            </kendo-timepicker>
                        </div>

                        <div class="">
                            <div class="field_cont">
                                <label class="field_title">Add Contractors</label>
                                <kendo-switch name="switch_addcontractors" v-model="addContractor"></kendo-switch>
                            </div>

                            <div class="field_cont" v-if="addContractor == true">
                                <label class="field_title">Contractors</label>
                                <kendo-dropdownlist v-model="event_format.assignee_id"
                                                    :data-source="contractors"
                                                    :data-text-field="'comp_name'"
                                                    :data-value-field="'id'"
                                                    :filter="'contains'">
                                </kendo-dropdownlist>
                            </div>
                        </div>

                    </div>

                    <div class=" col-md-6">
                        <div class="">
                            <label class="field_title">Note</label>
                            <textarea class="note" rows="12" name="note" placeholder="Take a note here ..."
                            v-model="event_format.details"></textarea>
                        </div>
                    </div>
                </div>

                <div class='footer'>
                    <button class="btn btn_close"  @click.prevent="closePopup">Close</button>
                    <button class="btn btn_submit" type="submit"  @click="onSubmit">Save</button>
                </div>
            </div>
            
        </div>
    </div>
    </form>
</template>
<script>
import EventBus from '../event-bus';
import mixin from '../../mixins.js';
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import { DropDownList } from '@progress/kendo-dropdowns-vue-wrapper'
import { Switch } from '@progress/kendo-inputs-vue-wrapper'
import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'

Vue.use(ValidatorInstaller)

export default {
    props: ['case_detail'],
    components: {
            DatePicker, TimePicker,  DropDownList, Switch, Validator
    },
    mixins: [mixin],
    data(){
            return {
                case_id: null,
                addContractor: false,
                error_msg : null,
                show_popup : false,
                minDate: new Date(),
                maxDate: new Date(2030, 12, 31),
                currentDate: new Date(),
                minTime: this.event_start_time,
                maxTime: this.event_end_time,
                // contractorsValue: "",
                // note: null,
                contractors: []
            }
    },
    methods:{
        getContractorNameByID(cid) {
            for (var i = 0; i < this.contractors.length; i++) {
                if (this.contractors[i].id == cid) {
                    return this.contractors[i].comp_name;
                } 
            }
        },
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            this.show_popup = false;
            this.new_note = '';
        },
        onSubmit: function (ev) {
            ev.preventDefault();
            var validator = this.kendoValidator;
            if (validator.validate()) {
                var _this = this;
                var Event = this.setEventBeforeSave(this.event_format, this.case_detail);
                axios.post('/mgr/update_reservation_by_admin', Event)
                        .then(function (response) {
                            if (response.data.success == true) {
                                var new_record = {
                                    'amenityId' : Event.amenityId,
                                    'tenant_id' : Event.newTenant,
                                    'cid' : _this.event_format.assignee_id,
                                    'booking_time_from' : Event.start,
                                    'booking_time_to' : Event.end,
                                    'comp_name' : _this.getContractorNameByID(_this.event_format.assignee_id),
                                    'id' : response.data.event.data[0].id,
                                    'details' : Event.details,
                                    'comment' : Event.comment,
                                    "created_at": new Date().toLocaleString(),
                                    "status" : 1,
                                    'action': response.data.action
                                }
                                EventBus.$emit("update_case_scheduler",new_record);
                            }
                            _this.closePopup();
                        });
            } 
        },
    },
    mounted() {
        var _this = this;

        EventBus.$on('caseReservation', function (this_case) {
            console.log(this_case);
             _this.event_format.eventTitle = 'Create An Event';
            if (this_case.case_id > 0) {
                _this.case_id = this_case.case_id;
                _this.contractors = this_case.contractor;
            }
            
            _this.event_format.typeId = 1;  //default val = 3 in mixin.js
            if (this_case.event == null) {
                _this.addContractor = false;
                _this.event_format.progress_title = 'Approve';
                _this.event_format.id = null;
                _this.event_format.amenity_id = null;
                _this.event_format.start_date = new Date().setDate(new Date().getDate() + 1);
                _this.event_format.start = '6:00 AM';
                _this.event_format.end = '9:00 AM';
                _this.event_format.details = null;
                _this.event_format.assignee_id = null;
                _this.event_format.comment = null;
                _this.event_format.tenant_id= null;
                _this.event_format.assignee_id == 0
                _this.addContractor = false;
               // contractor got problem
            } else {
                var start_date = new Date(this_case.event.booking_time_from);
                _this.event_format.id               = this_case.event.id;
                _this.event_format.amenity_id       = this_case.event.amenityId;
                _this.event_format.start_date       = start_date;
                _this.event_format.start            = this_case.event.start_time;
                _this.event_format.end              = this_case.event.end_time;
                _this.event_format.details          = this_case.event.details;
                _this.event_format.assignee_id      = this_case.event.cid;
                _this.event_format.comment          = this_case.event.comment;
                _this.event_format.tenant_id        = this_case.event.tenant_id;
                _this.event_format.eventTitle       = 'Edit Event';
                if (_this.event_format.assignee_id > 0) {
                    _this.addContractor = true;
                } else {
                    _this.addContractor = false;
                }
            }
            _this.$forceUpdate();
            _this.showPopup();
        });
    },
    watch: {
        "addContractor": function(newVal, oldVal) {
            if (newVal == true) {
                if (this.contractors.length > 0) {
                    this.event_format.assignee_id = this.contractors[0].id;
                }
            } else if (newVal == false) {
                this.event_format.assignee_id = null;
            }
        }
    }
}
</script>

<style>
.popup_cont .popup_content {
    width: 50%;height: auto;
}

.popup_cont .popup_content {
    left: 25%;
}

.popup_cont .popup_content .content {
    height: auto;display: inline-block;
}

</style>