<template>
    <form id="addTenantForm" ref="addTenantForm"  @submit.prevent="onSubmit">
        <div class='popup_cont' v-show="show_popup">
            <div class='popup_bg' @click="closePopup"></div>
            <div class='popup_content'>
                <div style="position:relative;height: inherit;display: contents;">
                    <div class='header'>
                        <h3 class="col-md-10">
                            New Tenant
                        </h3>
                        <div class="col-md-2 header_btn">
                            <button class="btn_closepopup" @click.prevent="closePopup">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class='content'>
                        <div class="col-md-6">
                             <div class="field_cont">
                                <label class="field_title">Unit</label>
                                <select class="col-md-12" v-model="new_unit_id" required @change="onChangeUnit($event)">
                                    <option v-for="t_key in unit_list" v-text="t_key.unit_title"  v-bind:value="t_key.id"></option>
                                </select>
                            </div>

                            <div class="field_cont">
                                <label class="field_title">Type</label>
                                <select class="col-md-12" v-model="new_tenant_type_id" required>
                                    <option v-for="t_key in tenant_type" v-text="t_key.title"  v-bind:value="t_key.id"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="field_cont">
                                <label class="field_title">Tenant Code / Tenant Email</label>
                                <input type="text" class="col-md-12 txt_tenant_id" placeholder="Unique Tenant Code or tenant email" v-model="new_tenant_code" required>
                            </div>

                            <div class="field_cont">
                                <label class="field_title">Move In</label>
                                <kendo-datepicker :min="currentDate"
                                    :value="moveInDate"
                                    :format="'yyyy-MM-dd'"
                                    name="txt_movein" 
                                    class="col-md-12 txt_moveindate" 
                                    placeholder="Move In Date" 
                                    v-model="moveInDate"
                                    required
                                ></kendo-datepicker>
                            </div>
                        </div>
                    </div>

                    <div class='footer'>
                        <span class="result_msg" v-if="result_msg == true">Congratulation, tenant is added successfully</span>
                        <div class="btn_panel">
                            <button class="btn btn_close"  @click="closePopup" :disabled="input_disabled">Close</button>
                            <button class="btn btn_submit" type="submit" :disabled="input_disabled">Save</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</template>

<script>
import EventBus from '../event-bus';
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'
import { DropDownList, DropdownsInstaller } from '@progress/kendo-dropdowns-vue-wrapper';

Vue.use(DropdownsInstaller);

export default {
      props: [],
      components: {
            DatePicker, TimePicker
      },
      data(){
            return {
                input_disabled: false,
                result_msg: false,
                unit_list: [],
                unit_title: null,
                currentDate: new Date(),
                moveInDate: new Date(),
                error_msg : null,
                show_popup : false,
                new_tenant_code: null,
                new_unit_id: null,
                new_tenant_type_id: 4,
                tenant_type: [
                        {"id": '4', "slug":"tenant", "title":"Tenant"},
                        {"id": '3', "slug":"owner", "title":"Owner"},
                        {"id": '5', "slug":"invester", "title":"Invester"}
                ],
            }
      },
      methods:{
        onChangeUnit:function(event) {
            this.unit_title = event.target.options[event.target.options.selectedIndex].text;
        },
        onSubmit: function (ev) {
            var _this = this;
            _this.input_disabled = true;

            axios.post('/mgr/link_tenant', {
                        new_tenant_code: this.new_tenant_code,
                        new_tenant_type: this.new_tenant_type_id,
                        unit_title: this.unit_title,
                        unit_id: this.new_unit_id,
                        move_in: this.moveInDate
            })
            .then(function (response) {
                _this.input_disabled = false;
                if (response.data.success == 0) {
                    alert(response.data.message);
                } else {
                    _this.result_msg = true;
                    _this.new_unit_id = null;
                    _this.new_tenant_code = null;
                    _this.moveInDate = new Date();

                    setTimeout(function(){
                        _this.result_msg = false;
                        _this.show_popup = false;

                        var new_record = {
                            'id' : response.data.id,
                            'name' : response.data.first_name + ' ' + response.data.last_name,
                            'type' : _this.new_tenant_type_id
                        }
                        EventBus.$emit("create_tenant",new_record);

                    }, 1800);
                }
                        
            })
            .catch(function (error) {
                        // 
            });

        },

        getUnitList:function() {
            var _this = this;
            axios.get('/mgr/get_unit_list/p=1&order=a&orderby=unit_title&search_term=null&search_tag=null&qty_per_page=1000').then(function (response) {
                _this.unit_list = response.data.data;
                _this.$forceUpdate();
            })
            .catch(function (error) {
                // 
            });
        },  
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            this.show_popup = false;
        },
        
      },
      mounted() {
        var _this = this;
        EventBus.$on('new_tenant', function (type) {
                _this.new_tenant_type_id = type.type;
                _this.showPopup();
                _this.getUnitList();
            // if (this_cases.case_id > 0) {
            //     _this.case_id = this_cases.case_id;
            //     _this.contractors = this_cases.contractor;
            //     console.log( _this.contractors);
            //     _this.showPopup();
            // }
        });
  
      }
}
</script>

<style>
.btn_panel {
    flex: 6;
}
.popup_cont .popup_content .footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_cont .popup_content .footer > span.result_msg {
    font-size: .75em;
    flex: 6;
    text-align: left;
    color: #55ce63;
    font-weight: 900;
}

.txt_moveindate {
    padding-left: 0px;;
}
.popup_cont .popup_content {
    max-width: 650px;left: calc(50% - 325px);height: auto;min-height: 400px;
}
button.btn.add_email_contractor {
    background-color: #55ce63;margin: 15px 0px;padding-left: 15px;padding-right: 15px;min-width: 50px;
}

select#contractor_list {
    width: 100%;
}

.k-timepicker .k-picker-wrap {
    height: 36px;padding: 3px 5px;border-radius: 5px;
}

.header .header_btn {
    text-align: right;padding-top: 10px;
}

</style>