<template>

      <div class='popup_cont' v-show="show_popup">
            <div class='popup_bg' @click="closePopup"></div>
            <div class='popup_content'>
                <div style="position:relative">
                    <div class='header'>
                        <h3 class="col-md-10">
                            Category
                        </h3>
                        <div class="col-md-2 header_btn">
                            <button class="btn_closepopup" @click.prevent="closePopup()">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <kendo-treelist :data-source="category"
                                                :toolbar="['create']"
                                                :filterable="true"
                                                :editable="true"
                                                
                                                @edit="onEdit"
                                                @save="onSave($event)"
                                                @remove="onRemove($event)">
                                       
                                    <kendo-treelist-column :field="'Name'" :width="60"></kendo-treelist-column>
                                    <kendo-treelist-column :field="'Description'" :width="80"></kendo-treelist-column>  
                                    <kendo-treelist-column :title="'Edit'" :command="['edit', 'destroy']" :width="50"></kendo-treelist-column>
                        </kendo-treelist>
                    </div>
                    <!-- <div class='content'>
                        <category :type_id='type_id'></category>
                    </div> -->

                    <!-- <div class='footer'>
                        <button class="btn btn_close"  @click="closePopup">Close</button>
                        <button class="btn btn_submit" type="submit">Save</button>
                    </div> -->
                </div>
                
            </div>
      </div>

</template>
<script>
import EventBus from '../event-bus';
import { TreeList, TreeListColumn  } from '@progress/kendo-treelist-vue-wrapper'
import { TreeListInstaller } from '@progress/kendo-treelist-vue-wrapper'
import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'

Vue.use(TreeListInstaller)
Vue.use(ValidatorInstaller)

export default {
      props: ['cate_type','category'],
      components: {
            
      },
      data(){
            return {
                case_id: null,
                error_msg : null,
                show_popup: false,
                cate_type: null,
                category:[],
            }
      },
      methods:{
        
        closePopup() {
            this.show_popup = false;
            EventBus.$emit('category_popup',this.show_popup);
            
        },
        onSubmit: function (ev) {

        },
        categoryUpdate: function() {
            EventBus.$emit('category_update');
        },
        onSave: function($event) {
            var _this = this;
            if ($event.model.Name == null || $event.model.Name == "") {
                window.alert("Name can not be empty.");
                $event.preventDefault();
                return;
            }
            
            if ($event.model.id == 0) {
                var new_cate = [];
                var cate_name = $event.model.Name;
                var cate_description = $event.model.Description;
                axios.post('/mgr/add_cate',{cate_type: this.cate_type,
                    name: $event.model.Name, 
                    description: $event.model.Description}).then(function (response) {
                        if (response.data.success == true) {
                            window.alert("Successfully added !");
                        }
                         
                    })
                
                    
            } else {
                axios.post('/mgr/update_category', {id: $event.model.id, 
                                                name: $event.model.Name, 
                                                description: $event.model.Description}).then(function (response) {
                    if (response.data.success == true) {
                            window.alert("Successfully modified !");
                    }
                })
                
            }
            
            this.categoryUpdate();
            this.$forceUpdate();
        },
        onRemove: function($event) {
                  if ($event.model.id == null) {
                        window.alert('Valid!');
                        return;
                  }
                  if (window.confirm("Are you sure you wanna delete this category:" + $event.model.Name + "?")){
                                    axios.post('/mgr/remove_category', {id: $event.model.id}).then(function (response) {
                                    
                        if (response.data.success == true) {
                                window.alert("Successfully deleted !");
                        }
                    })
                    } else {
                        $event.preventDefault();
                        return;
                    }
            this.categoryUpdate();
            this.$forceUpdate();
            }
      },
      mounted() {
            
      },
      created() {

      },
}
</script>

<style>
.popup_cont .popup_content {
    width: 45% !important ;
    left: 30%;
    height: auto !important;
}
.k-timepicker .k-picker-wrap {
    height: 36px;padding: 3px 5px;border-radius: 5px;
}
.header .header_btn {
    text-align: right;padding-top: 10px;
}

.k-grid-header {
    padding-right: 0px !important;
}

</style>>
