<template >
      <div class='popup_content'>
            <div class='content'>
                  <div class='event_popup'>
                        <div class='event_form event_input_form'>
                              <div class='col-md-6'>
                                    <label class="field_title">Type <span class="astr">*</span></label>
                                    <select id='typeId' name='typeId' v-model="event_data.typeId" @change="onChangeType($event)" v-if="isEventPassed == false">
                                          <option value="1">Job</option>
                                          <option value="3">Reservation</option>
                                          <option value="4">Car Parking</option>
                                    </select>
                                    <span v-html="event_data.txt_typeId" v-else></span>
                              </div>

                              <!-- share child template with case-->
                              <case-info ref="jobInfo" :case_detail='case_detail' v-show="event_data.typeId == 1"></case-info>

                              <div id='tenant_cont' class='tenant_cont col-md-6 k-edit-cont' v-show="event_data.typeId == 3 || event_data.typeId == 4">
                                    <label class="field_title">Tenant <span class="astr">*</span></label>
                                    <select v-model="event_data.tenant_id" v-if="isEventPassed == false" @change="updateTenantName($event)">
                                          <option v-for="(k,i) in tenants" :value="k.value">{{k.text}}</option>
                                    </select>
                                    <span data-for='tenant_id' class='k-invalid-msg' v-text="err_tenant_id" v-if="isEventPassed == false"></span>
                                    <span v-html="event_data.tenant_name" v-if="isEventPassed == true"></span>
                              </div>
                                          
                              <div id='car_number' class='car_number col-md-6 k-edit-cont ' v-show="event_data.typeId == 4">
                                    <label class="field_title">Car Number | Modal <span class="astr">*</span></label>
                                    <input id='car_plate' name='car_plate' class='event_txtinput' v-model="event_data.car_plate" v-if="isEventPassed == false"/>
                                    <span data-for='end' class='k-invalid-msg' v-text="err_car_plate" v-if="isEventPassed == false"></span>
                                    <span v-html="event_data.car_plate" v-if="isEventPassed == true"></span>
                              </div>

                              <div id='amenity_cont' class='amenity_cont col-md-6  k-edit-cont'  v-show="event_data.typeId == 3">
                                    <div class='k-edit-label'>
                                          <label class="field_title">Amenity <span class="astr">*</span></label>
                                          <button class="btn_add icon" v-on:click.prevent="goToDetailPage('/mgr/new_amenity')" v-if="isEventPassed == false">
                                                <i class="fas fa-plus"></i>
                                          </button>

                                          <button class="btn_refresh icon" v-on:click.prevent="updateAmenityList()" v-if="isEventPassed == false">
                                                <i class="fas fa-sync-alt icn_rotate"></i>
                                          </button>
                                    </div>

                                    <select v-model="event_data.amenity_id" v-if="isEventPassed == false" @change="updateAmenityTitle($event)">
                                          <option v-for="(k,i) in amenity" :value="k.value" >{{k.text}}</option>
                                    </select>
                                    <span data-for='amenity_id' class='k-invalid-msg' v-text="err_amenity_id" v-if="isEventPassed == false"></span>
                                    <span v-html="event_data.amenity_title" v-if="isEventPassed == true"></span>
                              </div>
                              
                              <div id='start_date' class='start_time k-edit-cont col-md-6' v-show="event_data.typeId == 1 || event_data.typeId == 3 || event_data.typeId == 4">
                                    <label class="field_title">Date <span class="astr">*</span></label>
                                    <div  v-if="isEventPassed == false">
                                          <kendo-datepicker 
                                                v-model="event_data.start_date"
                                                name="start_date" 
                                                id='start_date'
                                                :min="new Date()">
                                          </kendo-datepicker>
                                    </div>
                                    <span data-for='start_time' class='k-invalid-msg' v-text="err_start_date" v-if="isEventPassed == false"></span>
                                    <span v-html="new Date(event_data.start_date).toDateString()" v-if="isEventPassed == true"></span>
                              </div>

                              <div id='start_time' class='start_time k-edit-cont col-md-6' v-show="event_data.typeId == 1 || event_data.typeId == 3 || event_data.typeId == 4">
                                    <label class="field_title">From <span class="astr">*</span></label>
                                    <div  v-if="isEventPassed == false">
                                          <kendo-timepicker 
                                                v-model="event_data.start"
                                                name="start" 
                                                id='start'
                                                :time="'(hh:mm))'"
                                                :interval="30"
                                                :min='event_start_time' 
                                                :max='event_end_time'>
                                          </kendo-timepicker>
                                    </div>
                                    <span data-for='start' class='k-invalid-msg' v-text="err_start" v-if="isEventPassed == false"></span>
                                    <span v-html="event_data.start" v-if="isEventPassed == true"></span>
                              </div>
                              <div id='end_time' class='end_time col-md-6 k-edit-cont' v-show="event_data.typeId == 1 || event_data.typeId == 3 || event_data.typeId == 4">
                                    <label class="field_title">To <span class="astr">*</span></label>
                                    <div  v-if="isEventPassed == false">
                                          <kendo-timepicker 
                                                v-model="event_data.end"
                                                name="end" 
                                                id='end'
                                                :time="'(hh:mm))'"
                                                :interval="30"
                                                :min='event_start_time' 
                                                :max='event_end_time'>
                                          </kendo-timepicker>
                                    </div>
                                    <span data-for='end' class='k-invalid-msg' v-text="err_end" v-if="isEventPassed == false"></span>
                                    <span v-html="event_data.end" v-if="isEventPassed == true"></span>
                              </div>
                              <div id='message' class='message col-md-12' v-if="event_data.typeId == 3 || event_data.typeId == 4">
                                    <label class="field_title">Message</label>
                                    <textarea id='details' name='details' v-model="event_data.details" v-if="isEventPassed == false"></textarea>
                                    <span data-for='details' class='k-invalid-msg' v-text="err_details" v-if="isEventPassed == false"></span>
                                    <span v-html="event_data.details" v-if="isEventPassed == true"></span>
                              </div>

                              <case-desc ref="jobDesc" :event_data='event_data' v-if="event_data.typeId == 1"></case-desc>

                              <div id='booking_approval' class='booking_approval k-mgr-edit-cont col-md-12' v-show="event_data.typeId == 3 || event_data.typeId == 4">
                                    <label class="field_title">Booking Approval <span class="astr">*</span></label>
                                    <div class='col-md-4 k-edit-cont'>
                                          <label class="field_title">Status</label>
                                          <select id='reservation_status' name='reservation_status' class='reservation_status' data-bind='value:status'  v-model="event_data.progress" v-if="isEventPassed == false">
                                                <option value='0'>Pending</option>
                                                <option value='1'>Approve</option>
                                                <option value='2'>Reject</option>
                                          </select>
                                          <span v-html="event_data.progress_title" v-if="isEventPassed == true"></span>
                                    </div>
                                    <div class='col-md-8'>
                                          <label class="field_title">Comment</label>
                                          <textarea name='comment' id='comment' v-model="event_data.comment" v-if="isEventPassed == false"></textarea>
                                          <span v-html="event_data.comment" v-if="isEventPassed == true"></span>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

            <div class='footer'>
                  <button class="btn btn_close"  @click="closePopup">Close</button>
                  <button class="btn btn_submit" type="submit" @click="onSubmit" v-if="isEventPassed == false">Save</button>
            </div>
      </div>
</template>
<script>
import mixin from '../../mixins.js';
import EventBus from '../event-bus';
import caseInfo from '../case/includes/case-details.vue'
import caseDesc from '../case/includes/case-desc.vue'
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import { DropdownsInstaller, ComboBox, DropDownList  } from '@progress/kendo-dropdowns-vue-wrapper'

Vue.use(DropdownsInstaller)

export default {
      name: "popupBooking",
      //props: ['stype','contractor_list', 'bi_list', 'tenants', 'amenity','units', 'selected_action'],
      props: {
            event_details: Object,
      },
      components: {
            DatePicker, TimePicker, DropDownList, caseInfo, caseDesc
      },
      mixins: [mixin],
      data(){
            return {
                  id: null,
                  event_data: {},
                  templateArgs: {},
                  error_msg : null,
                  tasktype: null,
                  show_popup : false,
                  isEventPassed: false,
                  recurring_frequency: null,
                  
                  event_desc: '',
                  event_object: '',
                  txt_typeId: null,
                  //inspection_history: null,
                  recurrenceException: null,

                  err_start: null,
                  err_end: null,
                  err_tenant_id: null,
                  err_car_plate: null,
                  err_amenity_id: null,
                  err_start_date: null,
                  err_details: null,
                  err_comment: null,
            }
      },
      methods:{
            updateAmenityList:function() {
                  var _this = this;
                  axios.get('/mgr/getAmenities')
                        .then(function (response) {
                              if (response.data.hasOwnProperty('success')) {
                                    if (response.data.success =  true) {
                                          _this.contractor_list = response.data.list;
                                          _this.$forceUpdate();
                                    }
                              }
                        })
                        .catch(function (error) {
                                    // 
                        });
            },
            onChangeType:function(e) {
                  this.event_data.typeId = e.target.value;
                  this.updateTenantName(0);
                  this.updateAmenityTitle(0);
                  this.$forceUpdate();
            },
            isDate:function(date) {
                  return (new Date(date) !== "Invalid Date") && !isNaN(new Date(date));
            },
            updateTenantName(e) {
                  if (this.event_data.typeId == 3 || this.event_data.typeId == 4) {
                        if (typeof e === 'number') {
                              this.event_data.tenant_id = this.tenants[0].value;
                              this.event_data.tenant_name =  this.tenants[0].text;
                        } else {
                              e.target.options.selectedIndex = e.target.options.selectedIndex == -1 ? 0 : e.target.options.selectedIndex;
                              this.event_data.tenant_id = e.target.options[e.target.options.selectedIndex].value;
                              this.event_data.tenant_name =  e.target.options[e.target.options.selectedIndex].text;
                        }
                  } else {
                        this.event_data.tenant_id = null;
                        this.event_data.tenant_name = null;
                  }
            },
            updateAmenityTitle(e) {
                  if (this.event_data.typeId == 3 || this.event_data.typeId == 4) {
                        if (typeof e === 'number') {
                              this.event_data.amenity_id = this.amenity[0].value;
                              this.event_data.amenity_title = this.amenity[e].text;
                        } else {
                              this.event_data.amenity_id = e.target.options[e.target.options.selectedIndex].value;
                              this.event_data.amenity_title =  e.target.options[e.target.options.selectedIndex].text;
                        }
                  } else {
                        this.event_data.amenity_id = null;
                        this.event_data.amenity_title = null;
                  }
            },
            onSubmit() {
                  var error =false;
                  var _this = this;

                  if (this.event_data.typeId == 1) {
                        this.case_detail = this.$refs.jobInfo.case_detail;

                        if (this.case_detail.case_type == null || this.case_detail.case_type == '') {
                              error =true;
                              this.$refs.jobInfo.err_case_type = 'Case type is required!';
                        } else if (this.case_detail.case_type == 1) {
                              if (this.case_detail.bi_id == null || this.case_detail.bi_id == '') {
                                    error =true;
                                    this.$refs.jobInfo.err_bi_id = 'Inspection is required!';
                              }
                        } else if (this.case_detail.job_area == 1) {
                              if (this.case_detail.asset_id == null || this.case_detail.asset_id == '') {
                                    error =true;
                                    this.$refs.jobInfo.err_asset_id = 'Asset is required!';
                              }
                        } else if (this.case_detail.job_area == 3) {
                              if (this.case_detail.unit_id == null || this.case_detail.unit_id == '') {
                                    error =true;
                                    this.$refs.jobInfo.err_unit_id = 'Unit is required!';
                              }
                        } else if (this.case_detail.progress == null || this.case_detail.progress == '') {
                              error =true;
                              this.$refs.jobInfo.err_case_progress = 'Progress is required!';
                        } else if (this.case_detail.priority == null || this.case_detail.priority == '') {
                              error =true;
                              this.$refs.jobInfo.err_case_priority = 'Priority is required!';
                        }
                  } else if (this.event_data.typeId == 3) {
                        if (this.event_data.tenant_id == null || this.event_data.tenant_id == '') {
                              error =true;
                              this.err_tenant_id = "Tenant is required!";
                        } else {
                              this.err_tenant_id = null;
                        }

                        if (this.event_data.amenity_id == null || this.event_data.amenity_id == '') {
                              error =true;
                              this.err_amenity_id = "Amenity is required!";
                        } else {
                              this.err_amenity_id = null;
                        }
                  } else if (this.event_data.typeId == 4) {
                        if (this.event_data.car_plate == null || this.event_data.car_plate == '') {
                              error =true;
                              this.err_car_plate = "Car plate is required!";
                        } else {
                              this.err_car_plate = null;
                        }
                  }

                  if (this.event_data.start_date == null || this.event_data.start_date == '') {
                        error =true;
                        this.err_start_date = "Start Date is required!";
                  } else {
                        this.err_start_date = null;
                  }

                  if (this.event_data.start == null || this.event_data.start == '') {
                        error =true;
                        this.err_start = "Start Time is required!";
                  } else {
                        this.err_start = null;
                  }

                  if (this.event_data.end == null || this.event_data.end == '') {
                        error =true;
                        this.err_end = "End Time is required!";
                  } else {
                        this.err_end = null;
                  }

                  if (error == false) {
                        this.update_reservation_by_admin();
                  }     
            },
            update_reservation_by_admin() {
                  var _this = this;
                  var start_date = new Date(this.event_data.start_date);
                  start_date = new Date(start_date.getTime() - (start_date.getTimezoneOffset() * 60000)).toISOString().split('T')[0];
                  var start = this.isDate(this.event_data.start) == true ? new Date(this.event_data.start).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) : this.event_data.start;
                  var end =  this.isDate(this.event_data.end) == true ? new Date(this.event_data.end).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) : this.event_data.end;

                  axios.post('/mgr/update_reservation_by_admin', {
                        // global
                        id: this.event_data.hasOwnProperty("id") ? this.event_data.id : null,
                        typeId: this.event_data.typeId,
                        progress: this.event_data.typeId == 1 ? 1 : this.event_data.progress,
                        details: this.event_data.details,
                        start_date: start_date,
                        start: start_date+" "+start, 
                        end: start_date+" "+end,     
                        
                        // car parking or reservation
                        newTenant: this.event_data.typeId == 3 || this.event_data.typeId == 4 ? this.event_data.tenant_id : null,    
                        amenityId: this.event_data.typeId == 3 ? this.event_data.amenity_id : null,                                    
                        car_plate: this.event_data.typeId == 4 ? this.event_data.car_plate : null, 
                        comment: this.event_data.comment,
                        details: this.event_data.details,

                        // job
                        case_type: this.event_data.typeId == 1 ? this.case_detail.case_type : null,                                 
                        bi_list: this.event_data.typeId == 1 && this.case_detail.case_type == 'inspection' ? this.case_detail.bi_id : null,           
                        job_area: this.event_data.typeId == 1 && this.case_detail.case_type != 'inspection' ? this.case_detail.job_area : null,       
                        area_detail: this.event_data.typeId == 1 && this.case_detail.job_area == 2 ? this.case_detail.area_detail : null,             
                        asset_id: this.event_data.typeId == 1 && this.case_detail.job_area == 1 ? this.case_detail.asset_id : null,
                        unit_id: this.event_data.typeId == 1 && this.case_detail.job_area == 3 ? this.case_detail.unit_id : null,
                        case_progress: this.event_data.typeId == 1 ? this.case_detail.progress : null,
                        priority: this.event_data.typeId == 1 ? this.case_detail.priority : null,
                        contractor_list: this.event_data.typeId == 1 ? this.case_detail.assignee_id : null,
                        routine: this.event_data.typeId == 1 && this.case_detail.routine.toLowerCase() == 'none' ? 0 : (this.event_data.typeId != 1 ? 0 : this.case_detail.routine),
                        booking_recurring: this.event_data.typeId == 1 && this.case_detail.routine.toLowerCase() == 'none' ? null : (this.event_data.typeId != 1 ? null : 'FREQ='+this.case_detail.routine)
                  })
                  .then(function (response) {
                        if (response.data.success == true) {
                              response.data.event.data[0].r_type =  response.data.action == 'update_reservation' ? 'u' : 'n';
                              EventBus.$emit("updateList", response.data.event.data[0]);
                        }
                        _this.closePopup();
                  });
            },
            showPopup() {
                  this.show_popup = true;
            },
            closePopup() {
                  var _this = this;
                  _this.show_popup = false;
                  _this.initialDefaultEventData({});
                  EventBus.$emit("close_popup", []);
            },
            getStringByVal:function(loop, val, k, v) {
                  var t = null;
                  if (val == 1) {
                        t = 'Inspection';
                  } else {
                        for (var i = 0; i < loop.length; i++) {
                              if (loop[i][v] == val) {
                                    t = loop[i][k];
                              }
                        }
                        t = t == null ? 'NULL' : t;
                  }
                  return t;
            },
            initialDefaultEventData:function(e) {
                  this.event_data = {
                        id: e.hasOwnProperty('id') ? e.id : null,
                        bi_id: e.hasOwnProperty('bi_id') ? e.bi_id : 1,
                        typeId: e.hasOwnProperty('typeId') ? e.typeId : 3,
                        txt_typeId: e.hasOwnProperty('typeId') ? e.typeId : 'Reservation',
                        tenant_id: e.hasOwnProperty('tenant_id') ? e.tenant_id : null,
                        tenant_name: e.hasOwnProperty('tenant_name') ? e.tenant_name : null,
                        car_plate: e.hasOwnProperty('car_plate') ? e.car_plate : null,
                        amenity_id: e.hasOwnProperty('amenity_id') ? e.amenity_id : null,
                        amenity_title: e.hasOwnProperty('amenity_title') ? e.amenity_title : null,
                        start_date: e.start_date,
                        start: e.hasOwnProperty('start') ? e.start : '6:00 AM',
                        end: e.hasOwnProperty('end') ? e.end : '9:00 AM',
                        details: e.hasOwnProperty('details') ? e.details : null,
                        comment: e.hasOwnProperty('comment') ? e.comment : null,
                        progress: e.hasOwnProperty('progress') ? e.progress : 1,
                        message: e.hasOwnProperty('message') ? e.message : 1,
                        recurrenceException: e.hasOwnProperty('recurrenceException') ? e.recurrenceException : 1,
                        recurrenceRule: e.hasOwnProperty('recurrenceRule') ? e.recurrenceRule : 1,

                        event_object: e.hasOwnProperty('event_object') ? e.event_object : 1,
                        //inspection_history: e.hasOwnProperty('inspection_history') ? e.inspection_history : 1,
                  };
                  this.updateStatus();
            },
            updateStatus() {
                  if (this.event_data.progress == 0) {
                        this.event_data.progress_title = 'Pending';
                  } else if (this.event_data.progress == 1) {
                        this.event_data.progress_title = 'Approve';
                  } else if (this.event_data.progress == 2) {
                        this.event_data.progress_title = 'Reject';
                  } else {
                        this.event_data.progress_title = '-';
                  }
            },
            initialDefaultList:function(e) {
                  this.units = e.units;
                  this.contractor_list = e.contractor_list;
                  this.bi_list = e.bi_list;
                  this.tenants = e.tenants;
                  this.amenity = e.amenity;
            },
            getPassedEventDetails:function(e) {
                  this.initialDefaultEventData(e);
            },
            getEventDefaultVal:function(e) {
                  if (e.typeId == 3) {
                        this.event_data.tenant_id = e.tenants[0].value;
                        this.event_data.tenant_name = e.tenants[0].text;
                        this.event_data.amenity_id = e.amenity[0].value;
                        this.event_data.amenity_title = e.amenity[0].text;
                  } else if (e.typeId == 4) {
                        this.event_data.tenant_id = e.tenants[0].value;
                        this.event_data.tenant_name = e.tenants[0].text;
                  }
            },
            getEditEventDetails:function(e) {
                  this.case_detail.bi_id = e.bi_id;
                  this.initialDefaultEventData(e);
            },
            getFormatDateBydate:function(e) {
                  if (e.hasOwnProperty('start_date')) {
                        var y = new Date(e.start).getFullYear();
                        var m = new Date(e.start).getMonth()+1;
                        var d = new Date(e.start).getDate();
                        return y+"-"+m+"-"+d;
                  }
            }
            
      },
      created() {
            if (typeof this.case_detail === "undefined") {
                  this.case_detail = {};
            }
      },
      mounted: function () { 
            var _this = this;

            // initial all listing inputs - from reservation list
            if (typeof this.event_details != "undefined" && this.event_details != {}) {
                  var e = this.event_details;
                  this.initialDefaultList(e);

                   // if event is new
                  if (typeof e.id == "undefined" || e.id == null) {
                        this.initialDefaultEventData(e);
                        this.getEventDefaultVal(e);
                        this.updateStatus();
                  } else if (e.id > 0 && (new Date(e.start_date)).getTime() > (new Date()).getTime()) {
                        // if event is edit mode
                        this.getEditEventDetails(e);
                        this.updateStatus();
                  } else {
                        // if event is passed
                        this.isEventPassed = true;
                        this.getPassedEventDetails(e);
                        this.txt_tasktype = e.tasktype != null && e.tasktype != '' ? e.tasktype : 'NULL';
                        // this.case_detail.routine = e.inspection_frequency_txt;
                  }
            }else if (typeof this.templateArgs != "undefined" && this.templateArgs != {}) {
                  // initial all listing inputs - from calendar
                  var e = this.templateArgs;
                  this.initialDefaultList(e);

                  // if event is not passed
                  if ((e.start).getTime() > (new Date()).getTime()) {
                        this.isEventPassed = false;
                        if (e.id > 0 || e.recurrenceId > 0) {
                              console.log('2 - time not pass, in edit');
                              this.getEditEventDetails(e);
                              this.updateStatus();
                        } else if (e.id == 0 &&  !e.hasOwnProperty('recurrenceId')) {
                              console.log('3 - time not pass, add new');
                              this.initialDefaultEventData(e);
                              this.getEventDefaultVal(e);
                              this.updateStatus();
                        }
                  } else {
                        // if event is passed
                        console.log('1 - time is passed');
                        this.isEventPassed = true;
                        this.getPassedEventDetails(e);
                        // this.txt_tasktype = e.task_type != null && e.task_type != '' ? e.task_type : 'NULL';
                  }

            }
            this.$forceUpdate();
      }
}
</script>

<style lang="scss">
.event_form.event_input_form {
      display: inline-block;width: 100%;
}
.inspection_frequency {
      margin-bottom: 7px;
}

.k-edit-label {
      height: 24px;
}

.col-md-6 {
      margin-bottom: 15px;
}

.k-edit-label {
      > label {
            display: inline-block;
      }

      .btn_add, .btn_refresh {
            float: right;
            margin: 0px 3px;
      }

      .btn_add {
            i {
                  color: #55ce63;
            }
      }
}


.popup_content {
      position: relative;
      width: auto;
      height: auto;

      .content {
            display: inline-block;
      }
}


.k-invalid-msg {
      display: block;
      color: red;
      font-size: .7em;
}
.k-combobox, .k-dateinput, .k-datepicker, .k-datetimepicker, .k-timepicker, .k-widget.k-dropdown {
    width: 100% !important;
    border-color: rgba(0,0,0,0.1);
}

.k-timepicker {
      input {
            width: 100%;border: 0;height: 100%;
      }
}

.event_txtinput {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.4285714286;
    text-align: left;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.1);
}
</style>