<template>
    <form id="addCarParkForm" ref="addCarParkForm"  v-kendo-validator  @submit.prevent="onSubmit">
        <div class='popup_cont' v-show="show_popup">
            <div class='popup_bg' @click="closePopup"></div>
            <div class='popup_content'>
                <div style="position:relative">
                    <div class='header'>
                        <h3 class="col-md-10">
                            New Carpark
                        </h3>
                        <div class="col-md-2 header_btn">
                            <button class="btn_closepopup" @click.prevent="closePopup">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class='content'>
                        <div class="col-md-6">
                            <div class="field_cont">
                                <label>Invoice Number</label>
                                <input type="text" placeholder="A1234567" name="txt_invoiceno" id="txt_invoiceno" v-model="invoice_no" required validationMessage="Invoice Number is required">
                                <span data-for='txt_invoiceno' class='k-invalid-msg'></span>
                            </div>

                        </div>

                        <div class="col-md-6">
                            
                        </div>
                    </div>

                    <div class='footer'>
                        <button class="btn btn_close"  @click="closePopup">Close</button>
                        <button class="btn btn_submit" type="submit">Save</button>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</template>
<script>
import EventBus from '../event-bus';
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'
import { DropDownList, DropdownsInstaller } from '@progress/kendo-dropdowns-vue-wrapper';

Vue.use(DropdownsInstaller);

export default {
      props: [],
      components: {
            DatePicker, TimePicker
      },
      data(){
            return {
                error_msg : null,
                show_popup : false,
                initialFiles: [],
                
            }
      },
      methods:{
       onSubmit: function (ev) {
            var validator = this.kendoValidator;
            if (validator.validate()) {
               var _this = this;

                let formData = new FormData();
                formData.append('case_id', this.case_id);
            //     formData.append('contractor_id', this.selectedContractorID);
            //     formData.append('invoice_no', this.invoice_no);
            //     formData.append('invoice_val', this.invoice_val);
            //     formData.append('invoice_fee', this.invoice_fee);
            //     formData.append('total_val', this.total_val);
            //     formData.append('case_invoice', this.initialFiles);

            //     axios.post('/mgr/create_invoice_by_caseid', formData, {
            //         headers: {
            //             'Content-Type': 'multipart/form-data'
            //         }
            //     })
            //     .then(function (response) {
            //         if (response.data.success == true) {
            //             var new_record = {
            //                 'id' : response.data.id,
            //                 'created_at' : response.data.date,
            //                 'invoice_no' : response.data.invoice_no,
            //                 'invoice_doc' : response.data.invoice_doc,
            //                 'invoice_value' : response.data.invoice_value,
            //                 'comp_name' : _this.getContractorNameByID(_this.selectedContractorID)
            //             }
            //             EventBus.$emit("create_invoice",new_record);

            //             _this.show_popup = false;
            //         }
            //     })
            //     .catch(function (error) {
            //             // 
            //     });

            }
        },
        
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            this.show_popup = false;
        },
        
      },
      mounted() {
        var _this = this;
        

        EventBus.$on('new_carpark', function () {
              _this.showPopup();
            // if (this_cases.case_id > 0) {
            //     _this.case_id = this_cases.case_id;
            //     _this.contractors = this_cases.contractor;
            //     console.log( _this.contractors);
            //     _this.showPopup();
            // }
        });
  
      }
}
</script>

<style>

button.btn.add_email_contractor {
    background-color: #55ce63;margin: 15px 0px;padding-left: 15px;padding-right: 15px;min-width: 50px;
}

select#contractor_list {
    width: 100%;
}

.k-timepicker .k-picker-wrap {
    height: 36px;padding: 3px 5px;border-radius: 5px;
}

.header .header_btn {
    text-align: right;padding-top: 10px;
}

</style>