<template>
      <div class='popup_cont' v-show="show_popup">
            <div class='popup_bg' @click.self="closePopup"></div>
            <div class='popup_content'>

                  <div style="position:relative">
                        <div class='header'>
                              <h3 class="col-md-10">
                                    Delete Event
                              </h3>
                              <div class="col-md-2 header_btn">
                                    <button class="btn_closepopup" @click="closePopup">
                                    <i class="fas fa-times"></i>
                                    </button>
                              </div>
                        </div>

                        <div class="content">
                              <p>Are you sure you want to delete this event?</p>

                              <div v-if="ev.typeId == 1">
                                    <button @click="delEvent(1)">Delete Only This Event</button>      
                                    <button @click="delEvent(2)">Delete All Recurrence</button>     
                              </div>
                              <div v-if="ev.typeId != 1">
                                    <button @click="delEvent(3)">Delete</button>     
                                    <button @click="closePopup">Cancel</button>  
                              </div>
                        </div>
                  </div>
                  
            </div>
      </div>
     
</template>
<script>
import EventBus from '../event-bus';

export default {
      props: [],
      components: {
         
      },
      data(){
            return {
                  ev: {},
                  show_popup : false,
            }
      },
      methods:{
            delEvent(del_action) {
                  this.ev.del_action = del_action;
                  EventBus.$emit("del_event", this.ev);
                  this.closePopup();    
            },
            showPopup() {
                  this.show_popup = true;
            },
            closePopup() {
                  this.show_popup = false;
            },
      },
      mounted() {
            var _this = this;
            EventBus.$on('open_recurring_modal', function (e) {
                  _this.ev = e;
                  _this.showPopup();
            });
      }
}
</script>

<style lang="scss">
.popup_cont {
      .popup_content {
            height: 200px;
            width: 600px;
            left: 50%;
            margin-left: -300px;
            top: 25%;
            .content {
                  text-align: center;
                  padding: 20px 0px;
                  p {    
                        margin-bottom: 30px;
                  }
                  button {
                        margin: 0px 10px;
                  }
            }
      }
}

</style>