<template>
    <div class='popup_cont' v-show="show_popup">
        <close-window></close-window>
        <div class='popup_bg' @click="closePopup"></div>
        <div class='popup_content'>
            <div style="position:relative">
                <div class='header'>
                    <h3 class="col-md-10">
                        Email To Contractors
                    </h3>
                    <div class="col-md-2 header_btn">
                        <button class="btn_closepopup" @click="closePopup">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="content">
                     <table id="email_template" border="1">
                        <tr>
                            <td>
                                <kendo-multiselect v-model="selectedContractors"
                                                :data-source="contractors"
                                                :data-text-field="'comp_name'"
                                                :data-value-field="'contact_email'"
                                                :placeholder="'To: '"
                                                :filter="'contains'">
                                </kendo-multiselect>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="assis">
                                    <input type="text" placeholder="Email Title" v-model="email_title">
                                    <i class="fas fa-plus-square" style="z-index:10;position:relative;font-size: 1.4em;float: right;margin-top: 7px;cursor:pointer;" @click='toggleTemplate()'></i>
                                    <ul class="template_list" v-show='this.templateHidden==false'>
                                        <li v-for="(key, data) in template_list" :key="data" @click="getSelectedTemplateContent(key)">
                                            <label class="title col-md-12">Title: {{key.title}}</label>
                                            <div class="content">{{key.substr_content}}</div>
                                        </li>
                                    </ul>
                                    <add-mail-select></add-mail-select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                    <kendo-editor :resizable-content="true"
                                                :resizable-toolbar="false"
                                                v-model="email_content"
                                                rows="10"
                                                cols="160"
                                                name="email_content"
                                                class="col-md-12 email_content"
                                                placeholder="Enter the content" 
                                                required validationMessage="Content is required" >

                                                <kendo-editor-tool :name="'formatting'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'bold'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'italic'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'underline'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'strikethrough'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'justifyLeft'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'justifyCenter'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'justifyRight'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'justifyFull'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'createLink'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'unlink'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'insertImage'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'createTable'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'addColumnLeft'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'addColumnRight'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'addRowAbove'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'addRowBelow'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'deleteRow'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'deleteColumn'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'foreColor'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'backColor'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'viewHtml'"></kendo-editor-tool>
                                                <kendo-editor-tool :name="'viewHtml'"></kendo-editor-tool>
                                </kendo-editor>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class='footer'>
                    <button class="btn btn_close"  @click="closePopup">Close</button>
                    <button class="btn btn_submit" :disabled="selectedContractors == [] ? true : false" @click="sendEmailToContractors">Send</button>
                </div>
            </div>
            
        </div>
    </div>
</template>
<script>
import EventBus from '../event-bus';
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import { MultiSelect, DropdownsInstaller } from '@progress/kendo-dropdowns-vue-wrapper'

import { Editor } from '@progress/kendo-editor-vue-wrapper'
import { EditorTool } from '@progress/kendo-editor-vue-wrapper'
import { EditorInstaller } from '@progress/kendo-editor-vue-wrapper'

Vue.use(DropdownsInstaller)
Vue.use(EditorInstaller)

export default {
      props: ['cid','contractors'],
      components: {
            DatePicker, TimePicker, 'kendo-multiselect': MultiSelect
      },
      data(){
            return {
                this_case: '',
                admin_name: '',
                admin_email:'',
                email_signature: true,
                admin_email_signature:'',
                // addContractor: false,
                error_msg : null,
                show_popup : false,
                minDate: new Date(2017, 1, 1),
                maxDate: new Date(2030, 12, 31),
                currentDate: new Date(2019, 6, 1),
                contractorsValue: "",
                selectedContractors: [],
                // contractors:[],
                template_list:[],
                templateHidden:true,
                email_title:'',
                email_content:'',
                case_images: [],
                current_domain: location.protocol+"//"+window.location.hostname,
                
            }
      },
      methods:{
        toggleTemplate:function() {
            
            if (this.templateHidden == true) {
                this.templateHidden = false;
            } else {
                this.templateHidden = true;
            }
            EventBus.$emit('t_at');
            EventBus.$emit('close_window',!this.templateHidden)
        },
        getSelectedTemplateContent:function(key) {
            this.email_title = key.title;
            this.email_content = key.original_content;
            this.templateHidden = true;
            this.$forceUpdate();
        },
        addRmContractor(item, e) {
            if (e.target.checked) {
                item.templateHidden = true;
                this.selectedContractors.push(item);
            } else {
                for (var i = 0; i <this.selectedContractors.length; i++) {
                    if (this.selectedContractors[i].id == item.id) {
                        this.selectedContractors.splice(i, 1);
                    }
                }
            }
        },
        sendEmailToContractors(e) {
            if (this.selectedContractors.length > 0) {
                var _this = this;
                var promises = [];
                var email_signature_txt = this.email_signature == true ? this.admin_email_signature : '';

                e.target.textContent = "Sending";
                e.target.disabled = true;

                _this.selectedContractors.forEach((item) => { 
                   
                    promises.push(axios.post('/mgr/email_contrator', {
                            case_id : _this.this_case.case_id,
                            selectedContractor : item,
                            email_signature_txt : email_signature_txt,
                            email_title: _this.email_title,
                            email_content: _this.email_content,
                            sender_email: _this.admin_email,
                            sender_name: _this.admin_name
                    }));
                });

                axios.all(promises).then(function(results) {
                    _this.show_popup = false;
                    e.target.textContent = "Send";
                    e.target.disabled = false;

                    for (var i = 0; i < results.length; i++) {
                        if (results[i].data.success == true) {
                            var new_record = {
                                'message': results[i].data.log_content,
                                'created_at':  results[i].data.created_at,
                            }
                            EventBus.$emit("update_email_contractor",new_record);
                        }
                    }
                });
            }
        },

        addEmailTemplate() {
            
        },
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            this.show_popup = false;
        },
        
      },
      created() {
            // get selected contractor 
            for (var i = 0; i < this.contractors.length; i++) {
                if (this.contractors[i].id == this.cid) {
                    this.selectedContractors.push(this.contractors[i]);
                }
            }
      },
      mounted() {
        var _this = this;
        EventBus.$on('email_contractor', function (this_case) {
            
            if (this_case.case_id > 0) {
                
                _this.this_case = this_case;
                // _this.contractors = this_cases.contractors;
                _this.template_list = this_case.template_list;
                _this.admin_email_signature = this_case.admin.email_signature;
                _this.admin_email = this_case.admin.email;
                _this.admin_name = this_case.admin.name;
                _this.assets = this_case.assets;
                _this.asset_id = this_case.asset_id;

                _this.email_title = "A "+this_case.case_type+" case on "+this_case.admin.building.name+" at "+this_case.admin.building.surburb;

                var case_content = "Hi,<br><br> ";
                    case_content += "We have a job for you, please see the details below.<br><br>" 
                    case_content += "<b>Job Details</b><table border='1' width='600' style='border-collapse: collapse;'>";

                        case_content += "<tr>";
                            case_content += "<td><b>Case Type</b></td>";
                            case_content += "<td>"+this_case.case_type+"</td>";
                        case_content += "</tr>";

                        case_content += "<tr>";
                            case_content += "<td><b>Property Address</b></td>";
                            case_content += "<td>"+this_case.admin.building.address + ' ' + this_case.area_detail+"</td>";
                        case_content += "</tr>";

                        case_content += "<tr>";
                            case_content += "<td><b>Area</b></td>";
                            case_content += "<td>"+this_case.job_area_name + ' ' + this_case.area_detail+"</td>";
                        case_content += "</tr>";

                        case_content += "<tr>";
                            case_content += "<td><b>Reporter</b></td>";
                            case_content += "<td>"+this_case.reporter+"</td>";
                        case_content += "</tr>";

                        case_content += "<tr>";
                            case_content += "<td><b>Reporter Phone</b></td>";
                            case_content += "<td>"+this_case.reporter_phone+"</td>";
                        case_content += "</tr>";

                        case_content += "<tr>";
                            case_content += "<td><b>Due Date</b></td>";
                            case_content += "<td>"+this_case.due_date+"</td>";
                        case_content += "</tr>";

                        case_content += "<tr>";
                            case_content += "<td><b>Due Time</b></td>";
                            case_content += "<td>"+this_case.due_time+"</td>";
                        case_content += "</tr>";
                        
                        case_content += "<tr>";
                            case_content += "<td><b>Description</b></td>";
                            case_content += "<td>"+this_case.content+"</td>";
                        case_content += "</tr>";

                        if (this_case.case_images.length > 0) {
                            case_content += "<tr>";
                                case_content += "<td colspan='2'><b>Photos</b></td>";
                            case_content += "</tr>";

                            case_content += "<tr>";
                                case_content += "<td colspan='2'>";
                                    case_content += "<ul>";
                                       for (var i = 0; i < this_case.case_images.length; i++) {
                                           case_content += "<img src='"+_this.current_domain+this_case.case_images[i].url+"' width='300' height='300' style='display: block;'>";
                                       }
                                    case_content += "</ul>";
                                case_content += "</td>";
                            case_content += "</tr>";
                        }
                        

                    case_content += "</table> <br><br>";
                    case_content += "Could you please attend to this job and keep us informed of your progress.<br><br>"
                    case_content += "Please don't hesitate to contact me if you have any questions. <br><br>"
                    case_content += "Many thanks,<br><br>"
                    case_content += ""+ this_case.admin.name + "<br>";
                    case_content += ""+ this_case.admin.building.name + "<br>";
                    case_content += ""+ this_case.admin.building.phone+ " " + this_case.admin.building.fax + "<br>";
                    case_content += ""+ this_case.admin.email + "<br>";
                    _this.email_content = case_content;

//                 // robbert review 418 - 431
//                 if (this_cases.assign_id != null && this_cases.assign_id != "") {
                    
//                     for (var i = 0; i <_this.contractors.length; i++) {
//                         if (_this.contractors[i].id == this_cases.assign_id) {
//                             _this.selectedContractors.push(_this.contractors[i].contact_email);
//                             break;
//                         }
                    
//                     }
//                     _this.$forceUpdate();
                 
//                 }
//                 _this.$forceUpdate();

                    _this.showPopup();

            }
        });
        EventBus.$on('t_at_c',function(){
			if(_this.templateHidden == false){
				_this.templateHidden = true;
			}else{
				
			}
        });
         EventBus.$on('all_close',function(e){
            _this.templateHidden = !e;
        });
        
        
      }
}
</script>

<style>

.email_content tr td.k-editable-area {
    height: 260px;;
}
.k-multiselect {
    width: 100%;
}
.popup_cont .popup_content {
    left: 25%;
}
.popup_cont .popup_content {
    width: 50%;
    height: auto;
}

button.btn_submit[disabled=true] {
    background-color: #707070;
}

#es_cont #es_txt_cont {
    text-align:right;
}

#es_cont #es_txt_cont textarea{
    font-size: .75em;
}

#es_cont #es_txt_cont .btn_submit {
    border: 0px;color: #fff;padding: 3px 8px;border-radius: 4px;
}

#es_cont .col {
    margin-top:15px;
}

#es_cont .col label.title {
    width:90%;float:left;height: 25px;line-height: 30px;
}

.template_list {
    width: 250px;
    height: 300px;
    border: 1px solid #dedede;
    position: absolute;
    z-index: 10000;
    background-color: #fff;
    right: 10px;top: 28px;
    overflow-x: hidden;
}

.template_list > li {
    padding: 10px 10px 15px;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}

.template_list > li label {
    padding: 0px;
}

.template_list > li .content {
    font-size: .8em;    padding: 0px !important;
}

table#email_template {
    width: 100%;;
}
table#email_template tr {
    height: 40px;
}

table#email_template tr > td {
    padding: 0px 10px;width: 50%;position: relative;
}

table#email_template tr > td input, table#email_template tr > td textarea {
    width:90%;border:0px;
}

button.btn.add_email_contractor {
    background-color: #55ce63;margin: 15px 0px;padding-left: 15px;padding-right: 15px;min-width: 50px;
}

select#contractor_list {
    width: 100%;
}

.k-timepicker .k-picker-wrap {
    height: 36px;padding: 3px 5px;border-radius: 5px;
}
.header .header_btn {
    text-align: right;padding-top: 10px;
}
.assis{
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
}
.assis input{
    order: 1;
}

</style>