<template>

        <div class='popup_cont' v-show="show_popup">
            <div class='popup_bg' @click="closePopup"></div>
            <div class='popup_content'>
                <div style="position:relative">
                    <div class='header'>
                        <h3 class="col-md-10">
                            Unit Car Parks
                        </h3>
                        <div class="col-md-2 header_btn">
                            <button class="btn_closepopup" @click.prevent="closePopup">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class='content'>
                        <div class="list_filter">
                            <button class="btn_filter" @click.prevent="newCarPark">New Car Park</button>
                        </div>
                        <div class="list_cont">
                            <div class="list_header">
                                <div class="list_fields w_10">ID</div>
                                <div class="list_fields w_30">Title</div>
                                <div class="list_fields w_20">Owner</div>
                                <div class="list_fields w_20">Vehicle</div>
                                <div class="list_fields w_20">Actions</div>
                            </div>

                            <div class="list_row" v-for="item in new_carpark_list" v-if="item !== null">
                               
                                    <div class="list_fields w_10">-</div>
                                    <div class="list_fields w_30">
                                        <input type="text" v-model="newCPTitle" name="txt_carpark" >
                                    </div>
                                    <div class="list_fields w_20">
                                        <select @change="selectTenant" v-model="selectedTenant" required validationMessage="Tenant is required">
                                            <option v-for="(k,i) in tenant_info" v-bind:value="k.tenant_id">
                                                {{k.tenant_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="list_fields w_20">
                                        <select  v-model="selectedVehicle">
                                            <option v-for="(k,i) in vehicle_list" v-bind:value="k.id">
                                                 {{k.make}} {{k.model}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="list_fields w_20">
                                        <button @click="createCarPark">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                
                            </div>

                            <div class="list_row" v-for="(k,i) in current_carpark_list" v-if="k !== null">
                                <div class="list_fields w_10">
                                    {{k.id}}
                                </div>
                                <div class="list_fields w_30">
                                    {{k.carpark_title}}
                                </div>
                                <div class="list_fields w_20">
                                    {{k.name}}
                                </div>
                                <div class="list_fields w_20">
                                    {{k.plate_no}}
                                </div>
                                <div class="list_fields w_20">
                                    <a class="" v-on:click="rmCarPark(k.id);" >
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>

                            
                        </div>
                    </div>

                    <div class='footer'>
                        <button class="btn btn_close"  @click="closePopup">Close</button>
                    </div>
                </div>
                
            </div>
        </div>

</template>
<script>
import EventBus from '../event-bus';
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import {  NumericTextBox, InputsInstaller } from '@progress/kendo-inputs-vue-wrapper'
import { DropDownList, DropdownsInstaller } from '@progress/kendo-dropdowns-vue-wrapper';

Vue.use(DropdownsInstaller);

export default {
      props: [],
      components: {
            DatePicker, TimePicker, NumericTextBox
      },
      data(){
            return {
                error_msg : null,
                show_popup : false,
                unit_id: null,
                tenant_info : [],
                carpark_list : [],
                new_carpark_list : [],
                current_carpark_list: [],
                vehicle_list:[],
                selectedTenant:null,
                selectedVehicle:null,
                newCPTitle:''
            }
      },
      methods:{
        rmCarPark:function(id) {
                  if (confirm('Are you sure you want to delete this carpark?')) {
                        var _this = this;
                        axios.post('/mgr/del_carpark', {
                              cp_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    for (var i = 0; i < _this.current_carpark_list.length; i++) {
                                          if (_this.current_carpark_list[i].id == response.data.id) {
                                                _this.current_carpark_list.splice(i, 1);
                                          }
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
        },
        createCarPark: function () {
            if (this.newCPTitle == '' || this.newCPTitle == null) {
                alert("Carpark Title is required");
                return false;
            } else {
                var _this = this;
                var carpark = {
                    title: _this.newCPTitle,
                    unit_id: _this.unit_id,
                    tid: _this.selectedTenant,
                    vid: _this.selectedVehicle,  
                };

                  axios.post('/mgr/create_carpark', {
                        carpark : carpark
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                            _this.current_carpark_list.push({
                                 id: response.data.id,
                                 carpark_title:response.data.carpark_title,
                                 name:response.data.name,
                                 vehicle_id:response.data.vehicle_id,
                                 plate_no:response.data.plate_no
                            });
                        }
                  })
                  .catch(function (error) {
                        _this.output = error;
                  });
            }
        },
        selectTenant: function(e) {
            var _this = this;
            axios.get('/mgr/get_vehicle_by_tid/'+ this.selectedTenant).then(function (response) {
                if (response.data.success == 1) {
                    _this.vehicle_list = response.data.vehicles;
                }
            })
            .catch(function (error) {
                        // 
            });

        },  
        newCarPark: function() {
            if (this.new_carpark_list.length == 0) {
                this.new_carpark_list.push({"id":null});
            }
        },
        onSubmit: function (ev) {
            var validator = this.kendoValidator;
            if (validator.validate()) {
                var _this = this;

               
            }
        },
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            this.show_popup = false;
        },
        
        
      },
      mounted() {
        var _this = this;

        EventBus.$on('carpark_list', function (unit) {
            if (unit.unit_id > 0) {
                _this.carpark_list = [];
                _this.new_carpark_list = [];
                _this.current_carpark_list = [];

                _this.unit_id = unit.unit_id;
                var tenants = unit.tenant_info != null && unit.tenant_info != '' ?  unit.tenant_info.split(',') : unit.tenant_info;
                _this.carpark_list = unit.carpark_list != null && unit.carpark_list != '' ?  unit.carpark_list.split(',') : unit.carpark_list;

                for (var i = 0; i < tenants.length; i++) {
                    _this.tenant_info[i] = {tenant_id:'', tenant_name: ''};
                    _this.tenant_info[i].tenant_id = tenants[i].split('|')[0];
                    _this.tenant_info[i].tenant_name  = tenants[i].split('|')[1];

                    if (i == 0 && tenants.length > 0) {
                        _this.selectedTenant = _this.tenant_info[i].tenant_id;
                        _this.selectTenant();
                    }
                }

                // console.log(_this.carpark_list);
                for (var q = 0; q < _this.carpark_list.length; q++) {
                    _this.current_carpark_list[q] = {id:'',carpark_title:'',name:'',vehicle_id:'',plate_no:''}
                    _this.current_carpark_list[q].id = _this.carpark_list[q].split('|')[0];
                    _this.current_carpark_list[q].carpark_title = _this.carpark_list[q].split('|')[1];
                    _this.current_carpark_list[q].name = _this.carpark_list[q].split('|')[2];
                    _this.current_carpark_list[q].vehicle_id = _this.carpark_list[q].split('|')[3];
                    _this.current_carpark_list[q].plate_no = _this.carpark_list[q].split('|')[4];
                }
                _this.showPopup();
            }
        });
  
      }
}
</script>

<style>
form {
    width: 100%;
    display: contents;
}
.k-timepicker .k-picker-wrap {
    height: 36px;padding: 3px 5px;border-radius: 5px;
}
.header .header_btn {
    text-align: right;padding-top: 10px;
}

</style>