<template>
      
      <div class='popup_cont' v-show="show_popup">
            <div class='popup_bg' @click="closePopup"></div>
            
            <div class="popup_content" v-if="currentEventItems.length > 0">
                  <div class="popup_inspection k-widget k-window" >
                        <div class="k-window-titlebar k-header">
                              <span class="k-window-title">Inspection for {{ currentEventTitle }}</span>
                              <div class="k-window-actions">
                                    <a role="button" href="#" class="k-button k-bare k-button-icon k-window-action" aria-label="Close" @click="closePopup">
                                          <span class="k-icon k-i-close"></span>
                                    </a>
                              </div>
                        </div>
                        
                        <div class="k-popup-edit-form k-scheduler-edit-form k-window-content k-content" data-role="window">
                              <ul class='items'>
                                    <li v-for="(key, data) in currentEventItems">
                                          <div class='item_header'>
                                                <span>
                                                      <label>TITLE</label>
                                                      {{ key.title }}
                                                </span>
                                                <div class="result">
                                                      <div class="t_cont">
                                                            <label>DONE</label>
                                                            <input type='checkbox' :name='"item_result["+data+"]"' value='1' v-model="key.result"/>
                                                      </div>
                                                      <!-- <div class="t_cont">
                                                            <label>FALSE</label>
                                                            <input type='radio' :name='"item_result["+data+"]"' value='0' v-model="key.result"/>
                                                      </div> -->
                                                </div>
                                          </div>
                                          <textarea v-model="key.msg" placeholder="Insert more details about this action ..."></textarea>
                                    </li>
                              </ul>
                        </div>

                        <div class="k-edit-buttons k-state-default">
                              <span class="msg" v-if="inspectionMsg != null && inspectionMsg != ''"> {{ inspectionMsg }}</span>
                              <a class="k-button k-primary k-scheduler-update" href="#" @click="createInspectionRecord">Save</a>
                        </div>
                  </div>
            </div>
      </div>
</template>
<script>
import EventBus from '../event-bus';

export default {
      props: [],
      components: {
            
      },
      data(){
            return {
                  bi_id: null,
                  inspectionMsg:null,
                  currentEventID: null,
                  currentEventTitle: null,
                  currentEventItems: [],
                  currentEventIDStartTime: null,
                  currentEventIDEndTime: null,
                  show_popup : false,
            }
      },
      methods:{
            showPopup() {
                  this.show_popup = true;
            },
            closePopup() {
                  this.show_popup = false;
                  this.bi_id = null;
                  this.currentEventID = null;
                  this.currentEventTitle = null;
                  this.currentEventItems = [];
                  this.currentEventIDStartTime = null;
                  this.currentEventIDEndTime = null;
            },
            createInspectionRecord: function() {
                  var _this = this;
                  axios.post('/mgr/create_inspection_items', {
                        inspection_items: _this.currentEventItems,
                        ar_id: _this.currentEventID,
                        start: _this.currentEventIDStartTime,
                        end: _this.currentEventIDEndTime
                  })
                  .then(function (response) {
                        if (response.data.success == true) {
                              _this.inspectionMsg = 'This inspection is created successfully!';
                              setTimeout(function() {
                                    var this_ins = {
                                          'bi_id' : _this.bi_id,
                                          'next_date_str' : response.data.next_date_str
                                    }

                                    EventBus.$emit("inspection_update",this_ins);
                                    _this.$forceUpdate();
                                    _this.closePopup();
                              }, 3000);
                        }
                        
                  })
                  .catch(function (error) {
                        // 
                  });

            }
      },
      mounted() {
        var _this = this;

        EventBus.$on('inspection_items',function(e){
              console.log(e);
            _this.bi_id = e.id;
            _this.currentEventID = e.currentEventID;
            _this.currentEventTitle = e.currentEventTitle;
            _this.currentEventItems = e.currentEventItems;
            _this.currentEventIDStartTime = e.currentEventIDStartTime;
            _this.currentEventIDEndTime = e.currentEventIDEndTime;
            _this.showPopup();
            _this.$forceUpdate();
        })

      }
}
</script>

<style lang="scss">

.header .header_btn {
    text-align: right;padding-top: 10px;
}


.popup_content {
      position: fixed;
      height: 470px !important;
      width: 40% !important;
      z-index: 1000000000;
      top: 0;
      left: 30% !important;
      overflow: hidden;
      .popup_bg {
            background-color: rgba(0,0,0,.75);
            height: 100%;
            width: 100%;
      }
}
.popup_inspection {
      display: flex;
      justify-content: center;
      left: 0;
      right: 0;
      top:50%;
      width: 100%;
      margin: auto;
      margin-top: -235px;
      max-height: 470px;
      height: auto;
      overflow-y: auto;

      .k-popup-edit-form {
            min-height: 377px;
      }

      .k-edit-buttons {
            text-align: left;
            .msg {
                 font-size: .9em; 
                 font-style: italic;
                  color: #379cd6;
            }

            a {
                  float: right;
            }
      }
      ul.items {
            li {
                  padding-bottom: 20px;
                  label {
                        display: block;
                        font-size: .9em;
                        margin-bottom: 0px;
                  }
                 .item_header {
                       display: flex;
                        align-items: center;
                        height: 36px;
                        margin-bottom: 10px;
                        > span {
                              flex: 8;
                        }

                        .result {
                              flex: 2;
                              text-align: right;
                              display: flex;
                              .t_cont, .f_cont {
                                    flex: 1;
                                    margin: 0px 10px;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    > input {
                                          height: 20px;
                                    }
                              }
                        }
                 } 
            }
      }
}

</style>