<template>
    <div class='popup_cont' v-show="show_popup">
        <div class='popup_bg' @click="closePopup"></div>
        <div class='popup_content'>
            <div style="position:relative">
            <div class='header'>
                  <h3 class="col-md-10">
                        Keys
                  </h3>
                  <div class="col-md-2 header_btn">
                        <button class="btn_closepopup" @click="closePopup">
                              <i class="fas fa-times"></i>
                        </button>
                  </div>
            </div>

            <div class='content'>                                                
                  <div class="list_filter">
                        <button class="btn_filter" @click.prevent="newKey">New Key</button>
                  </div>
                  <div class="list_cont">
                        <div class="list_header">
                              <div class="list_fields w_10">ID</div>
                              <div class="list_fields w_20">Type</div>
                              <div class="list_fields w_30">Comment</div>
                              <div class="list_fields w_20 c_align">Status</div>
                              <div class="list_fields w_20 c_align">Actions</div>
                        </div>

                        <div class="list_row" v-for="item in new_key_list" v-if="item !== null">
                              <div class="list_fields w_10">
                                    -
                              </div>
                              <div class="list_fields w_20">
                                    <select v-model="selectedKeyType">
                                          <option v-for="(k,i) in key_type" v-bind:value="k.id">
                                                {{k.title}}
                                          </option>
                                    </select>
                              </div>
                              <div class="list_fields w_30">
                                    <input type="text" v-model="newKeyComment">
                              </div>
                              <div class="list_fields w_20 c_align">
                                    -
                              </div>
                              <div class="list_fields w_20 c_align">
                                    <button  @click="createKey">
                                          <i class="fas fa-plus"></i>
                                    </button>
                              </div>
                        </div>

                        <div class="list_row" v-for="(k,i) in current_key_list" v-if="k !== null">
                              <div class="list_fields w_10" style="position:relative;">
                                    {{k.id}}

                                    <div class="list_cont sub_table" v-if="k.log_open == true">
                                          <div class="list_header">
                                                <div class="list_fields w_30">Person</div>
                                                <div class="list_fields w_25">From</div>
                                                <div class="list_fields w_25">Return</div>
                                                <div class="list_fields w_20 c_align">Action</div>
                                                <a class="" class="close_log" @click="openLog(i)">
                                                      <i class="fa fa-times"></i>
                                                </a>

                                                <button class="btn_filter" @click.prevent="newKeyLog">
                                                      New Log
                                                </button>
                                          </div>

                                          <div class="list_row" v-for="item in new_key_log" v-if="item !== null">
                                                <div class="list_fields w_30">
                                                      <input type="text" v-model="new_key_taker">
                                                </div>
                                                <div class="list_fields w_25">
                                                      -
                                                </div>
                                                <div class="list_fields w_25">
                                                      -
                                                </div>
                                                <div class="list_fields w_20 c_align">
                                                      <button @click="createKeyLog(k.id)" >
                                                            <i class="fas fa-plus"></i>
                                                      </button>
                                                </div>
                                          </div>

                                          <div class="list_row" v-for="(k_log,i_log) in current_key_log" v-if="k_log !== null">
                                                <div class="list_fields w_30">
                                                      {{k_log.key_taker}}
                                                </div>
                                                <div class="list_fields w_25">
                                                      {{k_log.start_at}}
                                                </div>
                                                <div class="list_fields w_25">
                                                      {{k_log.return_at}}
                                                </div>
                                                <div class="list_fields w_20 c_align">
                                                      <a class="" v-if="k_log.return_at == '' || k_log.return_at == null" @click="updateKeyLog(k_log.id, i_log)">
                                                            <i class="far fa-hand-rock"></i>
                                                      </a>
                                                      <span v-if="k_log.return_at != '' && k_log.return_at != null">
                                                            -
                                                      </span>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="list_fields w_20">
                                    {{key_type[k.type - 1].title}}
                              </div>
                              <div class="list_fields w_30">
                                    {{k.comment}}
                              </div>
                              <div class="list_fields w_20 c_align">
                                    {{key_status[k.key_status - 1].title}}
                              </div>
                              <div class="list_fields w_20 c_align">
                                    <!-- <a class=""  v-if="k.key_status == 1">
                                    <i class="fab fa-keycdn"></i>
                                    </a>

                                    <a class=""  v-if="k.key_status == 2">
                                    <i class="far fa-hand-rock"></i>
                                    </a> -->

                                    <a class="" @click="openLog(i)">
                                          <i class="far fa-list-alt"></i>
                                    </a>

                                    <a class="" v-on:click="rmKey(k.id);" >
                                          <i class="fa fa-times"></i>
                                    </a>
                              </div>
                        </div> 
                  </div>                    
            </div>

            <div class='footer'>
                <button class="btn btn_close"  @click="closePopup">Close</button>
            </div>
            </div>
            
        </div>
    </div>
</template>
<script>
import EventBus from '../event-bus';
export default {
      props: [],
      components: {

      },
      data(){
            return {
                error_msg : null,
                show_popup : false,
                unit_id: '',
                key_list : [],
                new_key_list : [],
                current_key_list: [],
                new_key_log : [],
                new_key_taker: null,
                current_key_log:[],
                selectedKeyType: null,
                newKeyComment: '',
                key_type: [
                        {"id": '1', "slug":"swipe-card", "title":"Swipe Card"},
                        {"id": '2', "slug":"remote", "title":"Remote"},
                        {"id": '3', "slug":"metal", "title":"Metal"},
                        {"id": '4', "slug":"combination", "title":"Combination"}
                ],
                key_status: [
                        {"id": '1', "slug":"on-hand", "title":"On Hand"},
                        {"id": '2', "slug":"key-out", "title":"Key Out"}
                ],
            }
      },
      methods:{
        rmKey:function(id) {
                  if (confirm('Are you sure you want to delete this key?')) {
                        var _this = this;
                        axios.post('/mgr/del_key', {
                              key_id: id
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    for (var i = 0; i < _this.current_key_list.length; i++) {
                                          if (_this.current_key_list[i].id == response.data.id) {
                                                _this.current_key_list.splice(i, 1);
                                          }
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
        },
        updateKeyLog: function(key_log_id, index) {
            var _this = this;
            var key = {
                  key_log_id: key_log_id,  
            };

            axios.post('/mgr/update_key_log', {
                  key : key
            })
            .then(function (response) {
                  if (response.data.success == 1) {
                        _this.current_key_log[index].return_at = response.data.return_at;
                  }
            })
            .catch(function (error) {
                  _this.output = error;
            });
        },
        createKeyLog: function (key_id) {
                  if (this.new_key_taker == '' || this.new_key_taker == null) {
                        alert("Please insert the person's name");
                        return false;
                  } else {
                        var _this = this;
                        var key = {
                              unit_id: _this.unit_id,
                              key_taker: _this.new_key_taker,
                              key_id: key_id,  
                        };

                              axios.post('/mgr/create_key_log', {
                                    key : key
                              })
                              .then(function (response) {
                                    if (response.data.success == 1) {
                                    _this.current_key_log.push({
                                          id: response.data.id,
                                          start_at:response.data.start_at,
                                          return_at:response.data.return_at,
                                          key_taker:response.data.key_taker
                                    });
                                    }
                              })
                              .catch(function (error) {
                                    _this.output = error;
                              });
                  }
        },

        createKey: function () {
                  if (this.selectedKeyType == '' || this.selectedKeyType == null) {
                        alert("Please select a key type");
                        return false;
                  } else {
                        var _this = this;
                        var key = {
                              unit_id: _this.unit_id,
                              type: _this.selectedKeyType,
                              comment: _this.newKeyComment,  
                        };

                              axios.post('/mgr/create_key', {
                                    key : key
                              })
                              .then(function (response) {
                                    if (response.data.success == 1) {
                                    _this.current_key_list.push({
                                          id: response.data.id,
                                          type:response.data.type,
                                          comment:response.data.comment,
                                          key_status:response.data.key_status,
                                          log_open:response.data.log_open
                                    });
                                    }
                              })
                              .catch(function (error) {
                                    _this.output = error;
                              });
                  }
        },

        newKey: function() {
            if (this.new_key_list.length == 0) {
                this.new_key_list.push({"id":null});
            }
        },
        newKeyLog: function() {
            if (this.new_key_log.length == 0) {
                this.new_key_log.push({"id":null});
            }
        },
        openLog(i) {
                  var _this = this;
                  if (_this.current_key_list[i].log_open == false) {
                        axios.get('/mgr/get_key_log/'+ _this.current_key_list[i].id).then(function (response) {
                              if (response.data.success == 1) {
                                    _this.current_key_log = response.data.keys;
                                    _this.current_key_list[i].log_open = true;
                                    _this.$forceUpdate();
                              }
                        })
                        .catch(function (error) {
                                    // 
                        });
                  } else {
                        _this.current_key_list[i].log_open = false;
                        _this.$forceUpdate();
                  }

              
        },
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            this.show_popup = false;
        },
        createKeyTo() {
                  var _this = this;
                  axios.post('/mgr/create_key_action', {
                        unit_id: this.unit_id,
                        action: 'Key To',
                        key_id: this.key_id,
                        key_to: this.key_to,
                        key_note: this.key_note
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                            _this.show_popup = false;
                            var new_key_to = {
                                key_id: _this.key_id,
                                unit_id: _this.unit_id,
                                index: _this.unit_index
                            }

                            EventBus.$emit("new_key_to", new_key_to);
                        }
                        
                  })
                  .catch(function (error) {
                        // 
                  });
        },
        
      },
      mounted() {
            var _this = this;
            EventBus.$on('key_list', function (key) {
                  if (key.unit_id > 0) {
                        _this.key_list = [];
                        _this.new_key_list = [];
                        _this.current_key_list = [];

                        _this.unit_id = key.unit_id;
                        var key_list = key.key_list != null && key.key_list != '' ?  key.key_list.split(',') : key.key_list;
                        for (var i = 0; i < key_list.length; i++) {
                              _this.current_key_list[i] = {id:'', key_holder: '', type:'', comment:'', key_status:''};
                              _this.current_key_list[i].id = key_list[i].split('|')[0];
                              _this.current_key_list[i].type = key_list[i].split('|')[2];
                              _this.current_key_list[i].comment = key_list[i].split('|')[3];
                              _this.current_key_list[i].key_status = key_list[i].split('|')[4];
                              _this.current_key_list[i].log_open =false;
                        }
                        console.log(_this.current_key_list);

                        _this.showPopup();
                  }

            });
  
      }
}
</script>

<style>
.list_row {
      position: relative;
}

.list_row .sub_table {
      position: absolute;left: 0px;background-color: #fff;width: 500px;top:70px;z-index: 1111111111;border: 1px solid #ddd;
}

.list_row .sub_table .list_header {
      position: relative;
}

.list_row .sub_table .list_header a.close_log {
      position: absolute; width: 22px;height: 22px;top: -22px; right: 22px; background-color: #ddd;text-align: center;color: #fff;font-size: .8em;
}

.list_row .sub_table .list_header a.close_log i.fa-times {
      font-size: 1.3em;margin-top: 4px;cursor: pointer;
}

.list_row .sub_table .list_header button.btn_filter {
      position: absolute;right: 50px;top: -22px;cursor: pointer;font-size: .8em;padding: 0px 7px;height: 22px;background-color: #55ce63;color: #fff;
}


i.far.fa-list-alt {
      font-size: 1.4em;margin: 0px 0px 0px 5px;
}
i.fab.fa-keycdn, i.fas.fa-plus {
      font-size: 1.4em;
}
.tenant_info .info  label {
    width: 100%;margin: 0px;
}

.tenant_info .info {
    margin-bottom: 10px;min-height: 48px;
}

.tenant_info .info .sub_col {
    padding: 0px;
}
</style>