<template>
<form id="parcelDetailsForm" ref="parcelDetailsForm"  v-kendo-validator  @submit="onSubmit" >
    <div class='popup_cont' v-show="show_popup">
        <div class='popup_bg' @click.self="closePopup"></div>
        <div class='popup_content'>
            <div style="position:relative">
                <div class='header'>
                    <h3 class="col-md-10">
                        Pickup The Parcel
                    </h3>
                    <div class="col-md-2 header_btn">
                        <button class="btn_closepopup" @click.prevent="closePopup">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class='content'>
                    <div class="col-md-6">
                        <div class="field_cont">
                            <label>#</label>    
                            <span>{{parcel_id}}</span>  
                        </div>   
                        <div class="field_cont">
                            <label>Courier Company</label>    
                            <span>{{courier_comp}}</span>  
                        </div>    
                        <div class="field_cont">
                            <label>Barcode</label>    
                            <span>{{barcode}}</span>  
                        </div>   
                        <div class="field_cont">
                            <label>Unique Code</label>    
                            <span id="unique_code"> {{unique_code}}</span>  
                        </div> 
                    </div>    

                    <div class="col-md-6">
                        <div class="field_cont">
                            <label>Picker Name <span class="astr">*</span> </label>    
                            <input type="text" placeholder="Picker Name" name="txt_pickername" id="txt_pickername" v-model="txt_pickername" required validationMessage="Picker Name is required">
                            <span data-for='txt_pickername' class='k-invalid-msg'></span>

                            <!-- <kendo-dropdownlist name="txt_pickername" id="txt_pickername"   v-model="txt_pickername"
                                                            :data-source="tlist"
                                                            :data-text-field="'tenant_text'"
                                                            :data-value-field="'user_id'"
                                                            :placeholder="'To: '"
                                                            :filter="'contains'"
                                                            :disabled="unique_code == null"
                                                             required validationMessage="Picker Name is required">
                            </kendo-dropdownlist >
                            <span data-for='txt_pickername' class='k-invalid-msg'></span> -->
                        </div>   
                        <div class="field_cont">
                            <label>Picker Certificate Type</label>    
                            <input type="text" placeholder="Picker Certificate Type" name="txt_pickercerttype" id="txt_pickercerttype" v-model="txt_pickercerttype" :disabled="unique_code == null">
                        </div>  
                        <div class="field_cont">
                            <label>Picker Certificate Number</label>    
                            <input type="text" placeholder="Picker Certificate Number" name="txt_pickercertno" id="txt_pickercertno" v-model="txt_pickercertno" :disabled="unique_code == null">
                        </div>
                        <!-- <div class="field_cont">
                            <label>Comment</label>    
                            <textarea  placeholder="Enter Comment" name="txt_comment" id="txt_comment" v-model="txt_comment"  ></textarea>
                        </div> -->
                    </div> 
                    <div class="notes"  v-if="unique_code == null">
                        <label>Reminder: </label>
                        <span>Please don't forget to enter the receiver or picker's information once you get the unique code from them.</span>
                    </div>                            
                </div>
                
                <div class='footer'>
                    <button class="btn btn_submit" type="submit" v-if="unique_code != null">Update Now</button>
                </div>
            </div>
            
        </div>
    </div>
</form>
</template>
<script>
import EventBus from '../event-bus';
import { DropdownsInstaller } from '@progress/kendo-dropdowns-vue-wrapper'

Vue.use(DropdownsInstaller)

export default {
      props: [],
      components: {
          DropdownsInstaller
      },
      data(){
            return {
                txt_comment:'',
                txt_pickercertno: '',
                txt_pickercerttype: '',
                txt_pickername: '',
                parcel_id: '',
                show_popup : false,
                courier_comp: '',
                barcode:'',
                admin_name:'',
                unique_code:'',
                tlist: []
            }
      },
      methods:{
        showPopup() {
            this.show_popup = true;
        },
        closePopup() {
            console.log(1);
            this.show_popup = false;
        },
        onSubmit: function (ev) {
            console.log(2);
            var validator = this.kendoValidator;
            if (validator.validate()) {
                var _this = this;

                let formData = new FormData();
                formData.append('parcel_id', this.parcel_id);
                formData.append('parcel_status', 3);
                formData.append('txt_pickername', this.txt_pickername);
                formData.append('txt_pickercerttype', this.txt_pickercerttype);
                formData.append('txt_pickercertno', this.txt_pickercertno);

                axios.post('/mgr/insert_parcel_picker', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(function (response) {
                    if (response.data.success == true) {
                        var picker_record = {
                            'id' : _this.parcel_id,
                            'txt_pickername' : _this.txt_pickername
                        }

                        console.log(picker_record);
                        EventBus.$emit("parcel_picker",picker_record);
                        _this.show_popup = false;
                    }
                })
                .catch(function (error) {
                        // 
                });

            }

        }
      },
      mounted() {
        var _this = this;
        EventBus.$on('this_parcel', function (pid_arr) { 
            console.log(pid_arr);
            _this.parcel_id = pid_arr.parcel_id;
            _this.courier_comp = pid_arr.courier_comp;
            _this.barcode = pid_arr.barcode;
            _this.admin_name = pid_arr.admin_name;
            _this.unique_code = pid_arr.unique_code;
            _this.tlist = pid_arr.tlist;
            _this.showPopup();
        });
  
      }
}
</script>

<style>
.k-widget.k-dropdown {
    width: 100%;background: #fff;height: 36px;font-size: 1em;
}

.k-dropdown .k-dropdown-wrap {
    background: #fff;
}

.k-dropdown .k-dropdown-wrap .k-input {
    height: 36px;
}
#unique_code {
    font-size: 3em;height: 80px;padding:25px 0px;font-weight:900;    color: green;
}

.field_cont > label {
    display:block;
}

.field_cont > span {
    font-size:.85em;
}

.popup_cont {
    width:100vw;height:100vh;position: fixed;top:0px;left:0px;z-index: 100000;
}

.popup_cont .popup_bg{
    background-color: rgba(0,0,0,.75);width: 100%;height: 100%;
}

.popup_cont .popup_content {
    background-color: #fff;height: 60%;width:50%;position: absolute;top: 10%;left: 50%;margin-left: -30%; overflow-y: auto;overflow-x:hidden;
}

.popup_cont .popup_content .content {
    height: 100%;padding-top:70px;padding-bottom: 70px;display: inline-block;width: 100%;    padding-left: 30px;padding-right: 30px;
}

.popup_cont .popup_content .footer {
    text-align: right;height:50px;position: absolute;width: 100%;bottom: 0px;padding: 10px 25px;background-color: #fff;
}

.popup_cont .popup_content .notes {
    text-align: left;
}

.popup_cont .popup_content .notes > label {
    display:block;color:red;
}

.popup_cont .popup_content .notes > span {
    text-align: left;font-size: .75em;padding-bottom: 20px;
}



.popup_cont .btn_closepopup {
    height: 50px;background-color: #fff;border: 0px; font-size: 1.6em;
}

.popup_cont .header {
    width:100%;height:50px;position: absolute;top: 0px;left: 0px;
}

.popup_cont .header > h3 {
    text-align: left;
}

.header .header_btn {
    text-align: right;padding-top: 10px;
}

.tenant_info .info  label {
    width: 100%;margin: 0px;
}

.tenant_info .info {
    margin-bottom: 10px;min-height: 48px;
}

.tenant_info .info .sub_col {
    padding: 0px;
}
</style>