
<template>
	<div class="col" >
		<div class="" style="display:inline-block; margin-bottom: 60px;">
			<div class="dashboard_cont col-md-8 container_block">
				<div class="container_subtitle" style="min-width:220px;margin: 0px 0px 20px;">
					<i class="far fa-calendar-alt"></i>
					<h5 style='float: left;display: inline-block;'>Today Tasks</h5>

					<ul class="calendar_type">
						<li class="sq_task" v-bind:class="{ 'active':(c_task == true)}" @click="updateCalendarType('t')">
							<i class="fas fa-check"></i>
							<p>Jobs</p>
						</li>
						
						<li class="sq_reservation" v-bind:class="{ 'active':(c_reservation == true)}" @click="updateCalendarType('r')">
							<i class="fas fa-check"></i>
							<p>Reservation</p>
						</li>

						<li class="sq_carparking" v-bind:class="{ 'active':(c_carparking == true)}" @click="updateCalendarType('cp')">
							<i class="fas fa-check"></i>
							<p>Car Parking</p>
						</li>
					</ul>
				</div>

				<div style="position:relative;">
					<div class="chk_showConfirmCases">
						<input type="checkbox" @click="updateShowConfirmedBooking()">
						<span> Only show confirm recurrence bookings</span>
					</div>
					<calendar :reservation="reservation" :amenity="amenity" :tenants="tenants" :stype="stype" :contractor_list="contractor_list" :bi_list="bi_list" :units="units" :day_view="day_view" :week_view="week_view" :month_view="month_view" :view_selected="view_selected"  :view_height="view_height" :start_time="start_time" :end_time="end_time"></calendar>
				</div>
			</div>
			<div class="col-md-4" style="padding-right: 0px; box-shadow: none !important;">
				<ul id="stats_list">
					<li class="stats_resident" >
						<a href="/mgr/tenant/1/4/a"  target="_blank">
							<div class="stat_icn">
								<div class="icn">
									<i class="fas fa-user-friends"></i>
								</div>						  
							</div>
							<div class="stat_record">
								<h3 class="stat_number">{{(stats.total_tenant*1)+(stats.total_owner*1)+(stats.total_investor*1) }}</h3>
								<span>Residents</span>
							</div>
						</a>
					</li>		
					<li class="stats_unit">
						<a href="/mgr/unit" target="_blank">
							<div class="stat_icn">
								<div class="icn">
									<i class="fas fa-home"></i>
								</div>						  
							</div>
							<div class="stat_record">
								<h3 class="stat_number">{{stats.total_unit  }}</h3>
								<span>Units</span>
							</div>
						</a>
					</li>	
					<li class="stats_task">
						<a :href="'/mgr/scheduler_list/1/12/t/a/' + current_date" target="_blank">
							<div class="stat_icn">
								<div class="icn">
									<i class="fas fa-tools"></i>
								</div>						  
							</div>
							<div class="stat_record">
								<h3 class="stat_number">{{ stats.task_today }}</h3>
								<span>Tasks Today</span>
							</div>
						</a>
					</li>	
					<li class="stats_reservation" >
						<a :href="'/mgr/scheduler_list/1/12/r/a/' + current_date" target="_blank">
							<div class="stat_icn">
								<div class="icn">
									<i class="far fa-calendar-alt"></i>
								</div>						  
							</div>
							<div class="stat_record">
								<h3 class="stat_number">{{ stats.reservation_today  }}</h3>
								<span>Reservations Today</span>
							</div>
						</a>
					</li>								
				</ul>

				<ul class="shortcut_cont container_block">
					<div class="container_subtitle" style="min-width:220px;margin: 0px 0px 10px;">
						<i class="far fa-bookmark"></i>
						<h5 style='float: left;display: inline-block;'>Shortcuts</h5>
					</div>

					<li>
						<div class="stats_icon" @click="goToDetailPage('/mgr/tenant/1/4/a')">
 							<i class="fas fa-user-friends" style="background-color: #41cac0;"></i>
						</div>
						<div class="stats_details" @click="goToDetailPage('/mgr/tenant/1/4/a')">
							<span class="stats_number">{{stats.total_tenant }}</span>
							<span>Tenants</span>
						</div>
						<a class="stat_add"  @click="goToDetailPage('/mgr/tenant/1/4/a')">
							<i class="fas fa-list" style="color: #41cac0;"></i>  
						</a>
						<a class="stat_add" @click="newTenantPopUp(4)">
							<i class="fas fa-plus add_icn" style="color: #41cac0;"></i>  
						</a>
					</li>
					<li>
						<div class="stats_icon" @click="goToDetailPage('/mgr/tenant/1/3/a')">
							<i class="fas fa-user-tag" style="background-color: #78CD51;"></i>
						</div>
						<div class="stats_details" @click="goToDetailPage('/mgr/tenant/1/3/a')">
							<span class="stats_number">{{stats.total_owner }}</span>
							<span>Owners</span>
						</div>
						<a class="stat_add"  @click="goToDetailPage('/mgr/tenant/1/3/a')">
							<i class="fas fa-list" style="color: #78CD51;"></i>  
						</a>
						<a class="stat_add" @click="newTenantPopUp(3)">
							<i class="fas fa-plus add_icn" style="color: #78CD51;"></i>  
						</a>
					</li>

					<li>
						<div class="stats_icon" @click="goToDetailPage('/mgr/tenant/1/5/a')">
							<i class="fas fa-user-tie" style="background-color: #58c9f3;"></i> 
						</div>
						<div class="stats_details" @click="goToDetailPage('/mgr/tenant/1/5/a')">
							<span class="stats_number">{{stats.total_investor }}</span>
							<span>Investors</span>
						</div>
						<a class="stat_add"  @click="goToDetailPage('/mgr/tenant/1/5/a')">
							<i class="fas fa-list" style="color: #58c9f3;"></i>  
						</a>
						<a class="stat_add" @click="newTenantPopUp(5)">
							<i class="fas fa-plus add_icn" style="color: #58c9f3;"></i> 
						</a>
					</li>

					<li>
						<div class="stats_icon" @click="goToDetailPage('/mgr/unit')">
							<i class="fas fa-home" style="background-color: #f1c500;"></i> 
						</div>
						<div class="stats_details" @click="goToDetailPage('/mgr/unit')">
							<span class="stats_number">{{stats.total_unit }}</span>
							<span>Units</span>
						</div>
						<a class="stat_add"  @click="goToDetailPage('/mgr/unit')">
							<i class="fas fa-list" style="color: #f1c500;"></i>  
						</a>
						<a class="stat_add" href="/mgr/create_unit" target="_blank">
							<i class="fas fa-plus add_icn" style="color: #f1c500;"></i> 
						</a>
					</li>

					<li>
						<div class="stats_icon"  @click="goToDetailPage('/mgr/tenant/1/c/a')">
							<i class="fas fa-car" style="background-color: #ff6c60;"></i> 
						</div>
						<div class="stats_details"  @click="goToDetailPage('/mgr/tenant/1/c/a')">
							<span class="stats_number">{{stats.total_carpark }}</span>
							<span>Car Parks</span>
						</div>
						<a class="stat_add"  @click="goToDetailPage('/mgr/tenant/1/c/a')">
							<i class="fas fa-list" style="color: #ff6c60;"></i>  
						</a>
						<a class="stat_add" @click="newCarparkPopUp">
							<i class="fas fa-plus add_icn" style="color: #ff6c60;"></i> 
						</a>
					</li>

					<li>
						<div class="stats_icon" @click="goToDetailPage('/mgr/amenity_list')">
							<i class="fas fa-swimming-pool" style="background-color: rgb(98, 107, 227);"></i> 
						</div>
						<div class="stats_details" @click="goToDetailPage('/mgr/amenity_list')">
							<span class="stats_number">{{stats.total_amenity }}</span>
							<span>Amenities</span>
						</div>
						<a class="stat_add"  @click="goToDetailPage('/mgr/amenity_list')">
							<i class="fas fa-list" style="color: rgb(98, 107, 227);"></i>  
						</a>
						<a class="stat_add" href="/mgr/new_amenity" target="_blank">
							<i class="fas fa-plus add_icn" style="color: rgb(98, 107, 227);"></i> 
						</a>
					</li>

					<li>
						<div class="stats_icon" @click="goToDetailPage('/mgr/inspection')">
							<i class="far fa-check-square" style="background-color: #6c757d;"></i> 
						</div>
						<div class="stats_details" @click="goToDetailPage('/mgr/inspection')">
							<span class="stats_number">{{stats.total_inspection }}</span>
							<span>Inspection Area</span>
						</div>
						<a class="stat_add"  @click="goToDetailPage('/mgr/inspection')">
							<i class="fas fa-list" style="color: #6c757d;"></i>  
						</a>
						<a class="stat_add" href="/mgr/create_inspection" target="_blank">
							<i class="fas fa-plus add_icn" style="color: #6c757d;"></i> 
						</a>
					</li>


					<li>
						<div class="stats_icon" @click="goToDetailPage('/mgr/case')">
							<i class="fas fa-scroll" style="background-color: #41cac0;"></i> 
						</div>
						<div class="stats_details" @click="goToDetailPage('/mgr/case')">
							<span class="stats_number">{{stats.total_case }}</span>
							<span>Incomplete Cases</span>
						</div>
						<a class="stat_add"  @click="goToDetailPage('/mgr/case')">
							<i class="fas fa-list" style="color: #41cac0;"></i>  
						</a>
						<a class="stat_add" href="/mgr/case" target="_blank">
							<i class="fas fa-plus add_icn" style="color: #41cac0;"></i> 
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
</template>

<script>

import EventBus from '../event-bus';
import calendar from '../calendar/calendar.vue';

export default {
      props: ['building_id','reservation','amenity','tenants','term','stats','stype','contractor_list','bi_list', 'setting_check', 'setting_count', 'unfinished_count','units'],
      components: {
		calendar
      },
      data(){
            return {
			c_task: true,
			c_inspection: true,
			c_reservation: true,
			c_carparking: true,
			c_showConfirmedBooking: false,
			count: this.setting_count - this.unfinished_count,
                  day_view: true,
                  week_view: false,
                  month_view: false,
                  view_selected: 'd',
                  view_height: '907',
                  start_time: "6:00 AM",
                  end_time: "9:00 PM",
                  selectedProduct: null,
                  date: new Date(),
                  current_date: new Date().toISOString().slice(0,10),
                  mobile: true,
            }
      },
      methods:{
		updateShowConfirmedBooking:function() {
			this.c_showConfirmedBooking = this.c_showConfirmedBooking == false ? true : false;
			this.addCalendarType();
		},
		goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
		},
		updateCalendarType: function(type) {
			switch (type) {
				case 't':
					this.c_task = this.c_task == false ? true : false;
				break;
				case 'i':
					this.c_inspection = this.c_inspection == false ? true : false;
				break;
				case 'r':
					this.c_reservation = this.c_reservation == false ? true : false;
				break;
				case 'cp':
					this.c_carparking = this.c_carparking == false ? true : false;
				break;
			}
			this.addCalendarType();
		},
		addCalendarType:function() {
			var ctype_arr = [];
			ctype_arr[1] = this.c_task ;
			ctype_arr[2] = this.c_inspection;
			ctype_arr[3] = this.c_reservation;
			ctype_arr[4] = this.c_carparking;

			var ctype = [];
			ctype['ctype_arr'] = ctype_arr;
			ctype['show_confirmed_booking'] = this.c_showConfirmedBooking;

			EventBus.$emit("show_eventtype",ctype);
		},
            newCarparkPopUp: function() {
                  var this_carpark = {}
                  EventBus.$emit("cp_id");
            },
            newTenantPopUp: function(type) {
                  var this_tenant = {'type' : type}
                  EventBus.$emit("new_tenant", this_tenant);
            },
		show_swiper:function(ev) {
			this.showSwiper = !this.showSwiper;
		},
            updatePopupContent: function (ev) {
                  if (ev.event.action == 1) {
				ev.container.find("#loc").show();
				ev.container.find("#task_type").show();
				ev.container.find("#event_recurring").show();
				ev.container.find("#start_time").show();
				ev.container.find("#end_time").show();
				ev.container.find("#message").show();

				ev.container.find("#inspection_frequency").hide();
				ev.container.find("#booking_approval").hide();
				ev.container.find("#bi_cont").hide();
				ev.container.find("#bii_cont").hide();
				ev.container.find("#car_number").hide();
				ev.container.find("#amenity_cont").hide();
				ev.container.find("#contractor_cont").hide();
				ev.container.find("#tenant_cont").hide();
                  } else if (ev.event.action == 2) {
				ev.container.find("#bi_cont").show();
				ev.container.find("#bii_cont").show();
				ev.container.find("#start_time").show();
				ev.container.find("#end_time").show();
				ev.container.find("#contractor_cont").show();
				ev.container.find("#message").show();
				ev.container.find("#inspection_frequency").show();

				ev.container.find("#event_recurring").hide();
				ev.container.find("#booking_approval").hide();
				ev.container.find("#task_type").hide();
				ev.container.find("#loc").hide();
				ev.container.find("#car_number").hide();
				ev.container.find("#amenity_cont").hide();
				ev.container.find("#tenant_cont").hide();
                  } else if (ev.event.action == 3) {
				ev.container.find("#tenant_cont").show();
				ev.container.find("#amenity_cont").show();
				ev.container.find("#message").show();
				ev.container.find("#start_time").show();
				ev.container.find("#end_time").show();
				ev.container.find("#booking_approval").show();

				ev.container.find("#contractor_cont").hide();
				ev.container.find("#task_type").hide();
				ev.container.find("#loc").hide();
				ev.container.find("#car_number").hide();
				ev.container.find("#event_recurring").hide();
				ev.container.find("#bi_cont").hide();
				ev.container.find("#bii_cont").hide();
                  } else if (ev.event.action == 4) {
				ev.container.find("#tenant_cont").show();
				ev.container.find("#car_number").show();
				ev.container.find("#message").show();
				ev.container.find("#start_time").show();
				ev.container.find("#end_time").show();
				ev.container.find("#booking_approval").show();
				
				ev.container.find("#contractor_cont").hide();
				ev.container.find("#task_type").hide();
				ev.container.find("#loc").hide();
				ev.container.find("#event_recurring").hide();
				ev.container.find("#bi_cont").hide();
				ev.container.find("#bii_cont").hide();
				ev.container.find("#amenity_cont").hide();
			}
            },
           
      },
      mounted: function() {
            var _this = this;
            EventBus.$on('create_tenant', function (new_record) {
                  if (new_record.id > 0) {
                        if (new_record.type == 4) {
                              _this.stats.total_tenant = _this.stats.total_tenant + 1;
                        } else if (new_record.type == 3) {
                              _this.stats.total_owner = _this.stats.total_owner + 1;
                        } else {
                              _this.stats.total_investor = _this.stats.total_investor + 1;
                        }
                        _this.$forceUpdate();
                  }
            });
            EventBus.$on('create_carpark', function () {
                  _this.stats.total_carpark = _this.stats.total_carpark + 1;
                  _this.$forceUpdate();
            });
		
            EventBus.$on('refresh_ctype_tick', function (ctype) {
                  _this.c_task = true;
			_this.c_inspection = true;
			_this.c_reservation = true;
			_this.c_carparking = true;
            });
      
      }

}
</script>


<style lang="scss">
ul.calendar_type {
	display: flex;
	padding: 5px;
	height: 44px;
	align-items: end;
    	justify-content: flex-end;

	> li {
		margin-right: 10px;
		color: #fff;
		border-radius: 5px;
		display: flex;
    		align-items: center;
		cursor: pointer;

		&:last-child {
			margin-right: 0px;
		}

		p {
			height: 100%;
			margin: 0px;
			line-height: 30px;
			padding: 0px 8px;
			flex: 6;
		}

		i {
			display: none;
			color: #fff;
			padding-left: 8px;
		}

		&.active {
			i {
				display: inline-block;
				flex: 1;
			}
		}
	}
}

.sq_task {
	background-color: #fff;
	border:1px solid #ff7100;

	> p {
		color: #ff7100;
	}
	&.active{
      	background-color: #ff7100;

		> p {
			color: #fff;
		}
	}

      &:hover {
            background-color: rgba(255, 124, 115, .2);
            p {
                 color: #ff7100; 
            }
      }
}

.sq_inspection {
      background-color: #fff;
	border:1px solid #F1BF5E;

	> p {
		color: #F1BF5E;
	}

	&.active{
      	background-color: #F1BF5E;

		> p {
			color: #fff;
		}
	}

      &:hover {
            background-color: rgba(241, 191, 94, .2);
            p {
                 color: #F1BF5E; 
            }
      }
}

.sq_reservation {
      background-color: #fff;
	border:1px solid #3e789d;

	> p {
		color: #3e789d;
	}

	&.active{
      	background-color: #3e789d;

		> p {
			color: #fff;
		}
	}
   
      &:hover {
            background-color: rgba(62, 120, 157, .2);
            p {
                 color: #3e789d; 
            }
      }
}

.sq_carparking {
      background-color: #fff;
	border:1px solid #0C8346;

	> p {
		color: #0C8346;
	}

	&.active{
      	background-color: #0C8346;

		> p {
			color: #fff;
		}
	}

      &:hover {
            background-color: rgba(12, 131, 70, .2);
            p {
                 color: #0C8346; 
            }
      }
}

.k-event .blg_admin_scheduler_template .scheduler_detail {
	p {
		font-size: .8em;
    		margin-bottom: 5px;
		    
		&:first-child {
			display: block;
		}
	}

	p.event_object {
		font-weight: 900;
    		font-size: 1.2em;
	}
}

.shortcut_cont {
	-webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
	width: 100%;
	max-width: 330px;
	margin-top: 20px;
	padding-right: 15px;
    	padding-left: 15px;
}

.shortcut_cont > li {
	height: 100px;;
	color: #242c3d;
	display: flex;
	padding: 10px 5px;
	align-items: center;
	height: 55px;
	cursor: pointer;
}

.shortcut_cont > li:hover {
	background-color: rgba(55,156,214,0.3);
	border-radius: 5px;
}

.shortcut_cont > li .stats_icon {
	flex: 1;
	text-align: center;
}

.shortcut_cont > li .stats_icon i {
	font-size: .85em;
	color: #FFFFFF;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	line-height: 35px;
}

.shortcut_cont > li .stat_add {
	 flex:1;text-align: center;    font-size: .9em;
}


.shortcut_cont > li .stat_add i {
	font-size: 1.3em;margin-right: 0px;
}

.shortcut_cont > li .stats_details {
	flex: 3;
}
.shortcut_cont > li .stats_details .stats_number {
	margin: 0px;
	line-height: .7;
	display: block;
	font-weight: 900;
	font-size: 1em;
}

.shortcut_cont > li span {
	font-size: .75em;
    	color: #6c757d !important;
}

.k-reset.k-scheduler-navigation {
      width: 50%;float: left;
}

.k-reset.k-header.k-scheduler-views {
      float: right;
}

.k-scheduler-table tbody tr > td:hover {
      background-color: rgba(55,156,214,0.3);cursor: pointer;
}

.setting_completion_button {
	border-style: none !important ;
	border: none;
 	background-color: transparent;
}
#setting_completion {
	line-height: 19px;
    padding: 12px 15px;
    font-size: 14px;
    text-align: left;
    margin: 0px 0px 20px 0px;
    background-color: #fff;
    border-left: 4px solid red;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    cursor: pointer;
}
.setting_completion_title {
	font-size: 1.2rem;
}


.swiper_container {
	height:250px;
}

.setting_swiper_container {
	height: 100%;
	width: 100%;
	padding: 0 15px 0 30px;
}
.swiper_inside_container {
	padding:2%;
	height: 96%;
	width: 96%;
	background-color: white;
	border-radius: 6px;
	
}
.setting_page_url {
	position: absolute;
	bottom: 10%;
	right: 15%;
	
}
.setting_page_url > a {
	font-size: 1em;
	text-align: right;
}

.setting_status {
	color: #0C8346;
	font-size: 1em;
	margin-top: 1em;
	text-align: center;
}


.setting_content {
	
	padding: .75em;
}
.less_padding {
	padding: 0.25em;
}
.swiper-slide {
      margin-right: 10px;
      border-right: 1px solid #dedede;
}

.swiper-slide:last-child {
      border-right: 0px;
}

.setting_description {
	
	font-size: 1em;
	padding: 0em .75em;
}

.swiper_out_container {
	
	
	width: 100%;
	height: 100%;
	padding: 10px
}
.setting_title {
	font-size: 1.2em;
	padding: .25em .75em;
	font-weight: 800;
	overflow: hidden;
}



#setting_completion {
	position: relative;
}
.swiper-container {
	
}
.swiper-button-prev, .swiper-button-next {
	
}


.stat_record .stat_words, .stats_cont > li a  {
      color: #fff;
}

/* .stats_cont > li a:hover, .stat_add:hover  {
	cursor: pointer;
      background-color: rgba(255,255,255, .25)
} */


#stats_list {
      display:flex;-webkit-flex-direction: column; flex-direction: column; 
}

#stats_list .stats_cont {
      flex:1;display:flex;padding: 8px 0px;
}


#stats_list > li {
      width:100%;max-width:330px;flex:1;margin-left: 15px;margin-right: 15px;margin-bottom:15px;color: #fff;display:flex;padding: 1.25rem;border-radius: 5px;

	.stat_icn {
		i {
			float: none;
		}
	}

	&.stats_resident {
		background-color: #626be3 ;

		&:hover {
			background-color: rgba(98, 107, 227, .75);
			.stat_icn {
				color: rgba(98, 107, 227, .75);
			}
		}

		.stat_icn {
			color: #626be3;
		}
	}

	&.stats_unit  {
		background-color: #59a6ff;

		&:hover {
			background-color: rgba(89, 166, 255, .75);
			.stat_icn {
				color: rgba(89, 166, 255, .75);
			}
		}

		.stat_icn {
			color: #59a6ff;
		}
	}

	&.stats_task  {
		background-color: #ff738a;

		&:hover {
			background-color: rgba(255, 115, 138, .75);
			.stat_icn {
				color: rgba(255, 115, 138, .75);
			}
		}

		.stat_icn {
			color: #ff738a;
		}
	}

	&.stats_reservation  {
		background-color: #22ae7a ;

		&:hover {
			background-color: rgba(34, 174, 122, .75);
			.stat_icn {
				color: rgba(34, 174, 122, .75);
			}
		}

		.stat_icn {
			color: #22ae7a;
		}
	}
	
	a {
		color: #fff;
		width: 100%;
		display: flex;

		&:hover {
			text-decoration: none;
		}
	}
}



#stats_list > li .stat_icn {
	width: 60px;
	height: 60px;font-size: 1.3em;
	text-align: center;
	color: #fff;
	font-weight: 800;
	line-height: 66px;
	border-radius: 50%!important;
	background-color: #fff!important;
	
	margin-right: 1.5rem!important;
}

#stats_list > li .stat_record {
	flex: 1;    font-size: .85em;align-self: center;
    font-weight: 400;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

#stats_list > li .stat_record h3.stat_number {
	margin: 0px 0px 3px;
}



.k-header.km-header {
      padding: 6px;
}

.k-header.km-header a.k-button.k-scheduler-cancel {
      background: #43425D;color: #fff;font-size: .8em;margin-right: 10px;padding: 3px 10px;
}

.k-header.km-header a.k-button.k-scheduler-update {
      float: right;background: #55ce63; color: #fff;font-size: .8em;padding: 3px 10px;
}

.k-event .blg_admin_scheduler_template {
    display: inline-block;
    width: 100%;
    height: inherit;
}

.dashboard_cont {margin-bottom:20px;-webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);}

.container_block .container_subtitle {
      margin-top:0px;
}
.scheduler_detail > p:first-child {
	display: none;
}

ul.dashboard_list_cont {
      display: inline-block;width: 100%; height: 470px;overflow-y: auto;
}

/* ul.dashboard_list_cont > li {
      line-height: 36px;height: 34px;margin: 10px 0px;
} */

.radio_cont {
      margin-bottom: 10px;
}
.reservation_popup_cont {
      display: none;
}
.radio_cont .lbl_radio:first-child {
      padding: 0px;
}

.k-recur-view > .k-edit-label {
    margin: 0 0 1em 0;padding: 5px 0;width: 17% !important;line-height: 1.4285714286;text-align: right;
}

.k-edit-field .k-reset input {
      height: auto;
}

.show_0_1, .show_1_0, .action {
      display: none;
}

.show_0_0, .show_1_1 {
      display: block;
}

.show_0_0, .show_1_1, .action_1_2_3_4 {
      display: block;
}
ul#amenity_list {
      height: auto;display: inline-block;width: 100%;    padding: 15px;
}

ul#amenity_list > li {
      height: 24px;margin: 0px 10px 10px 0px;float:left;line-height: 24px;
}

ul#amenity_list > li .amenity_color_cont {
      width:24px;height: 24px;margin-right: 10px;float: left;
}
.k-i-reload,.fa-exclamation {
	display: none !important;
}
 

.event_txtinput {
      width: 100%;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 14px;
      line-height: 1.4285714286;
      text-align: left;
      height: 30px;
      border: 1px solid rgba(0,0,0,0.1);
}

.k-combobox, .k-dateinput, .k-datepicker, .k-datetimepicker, .k-timepicker, .k-widget.k-dropdown {
    width: 100% !important;
    border-color: rgba(0,0,0,0.1);
}

.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-combobox .k-select {
    background-color: #fff !important;
    background-image: none !important;
    border-color: rgba(0,0,0,0.1);
}
</style>