
<template>
	<div class="col" >

	  <!-- <div class="row" id="setting_completion" v-if="this.unfinished_count != 0">
		   <div class="setting_remind" @click="show_swiper($event)">
			  <span class="setting_completion_title" >Initialize Settings :  {{this.count}} / {{this.setting_count}} </span>
			  
			  <button class="setting_completion_button" >
				  <i class="fas fa-angle-down" v-if="showSwiper == false"></i>
				  <i class="fas fa-angle-up" v-else></i>
			  </button>
		  </div> 
		  
		  <div class="swiper_out_container" v-show="showSwiper">
			  <swiper :options="swiperOption" >
				  <swiper-slide v-for="(key, data) in this.setting_check" :key="data" class="swiper_container">
					  <div class="setting_swiper_container">
						  <div class="swiper_inside_container">
							  <div class="row setting_title">
								  <span class="col-md-12  less_padding">{{ key.title }}</span>
							  </div>
							  <div class="row setting_content">
								  <p class="col-md-12 setting_description less_padding"> {{ key.description }}</p>				   
							  </div>
							  <div class="row setting_page_url">
								  <a :href="key.url" class=" col-md-12  less_padding">Go Now ></a> 
							  </div>
						  </div>
						  
					  </div>
				  </swiper-slide>
				  
				  
				  
			  </swiper>
			  
		  </div>
		  <div class="swiper-button-prev" slot="button-prev" v-show="showSwiper" v-if="this.setting_check.length > 3"></div>
		  <div class="swiper-button-next" slot="button-next" v-show="showSwiper" v-if="this.setting_check.length > 3"></div>
	  </div> -->


      <div id="stats_list">
            <ul class="stats_cont">
                  <li style="background-color: #59a6ff;">
                        <h3>Residents</h3>
                        <div class="stat stat_tenant stat_r">
					<div class="stat_link">
                                    <a href="/mgr/tenant/1/4/a"  target="_blank">
                                    <div class="stat_icn">
                                          <div class="icn">
                                                <i class="fas fa-user-friends"></i>
                                          </div>
                                          <!-- <div class="action_icn">
                                                <a href=""><i class="fas fa-plus"></i></a>
                                          </div> -->
										  
						</div>
						<div class="stat_record">
							<span class="stat_number">{{stats.total_tenant }}</span>
							<span class="stat_words">Tenants</span>
						</div>
						</a>
                              </div>
                                    
					<a class="stat_add" @click="newTenantPopUp(4)">
								  <!-- <span class="stat_number">{{stats.total_tenant }}</span>
								  <span class="stat_words">Tenants</span> -->
								  <i class="fas fa-plus add_icn"></i>
								  
					</a>
                        </div>

                        <div class="stat stat_owner stat_r">
							<div class="stat_link">
							    <a href="/mgr/tenant/1/3/a"  target="_blank">
							          <div class="stat_icn">
							                <div class="icn">
							                      <i class="fas fa-user-tag"></i>
							                </div>
						          	  </div>
							          <div class="stat_record">
							                <span class="stat_number">{{ stats.total_owner }}</span>
							                <span class="stat_words">Owners</span>
							          </div>
							    </a>
							</div>
							        
							<a class="stat_add" @click="newTenantPopUp(3)">
								  <!-- <span class="stat_number">{{stats.total_tenant }}</span>
								  <span class="stat_words">Tenants</span> -->
								  <i class="fas fa-plus add_icn"></i>
								  
							</a>
                              
                        </div>
						
						<div class="stat stat_investor stat_r">
							<div class="stat_link">
								<a href="/mgr/tenant/1/5/a"  target="_blank">
								  <div class="stat_icn">
										   <div class="icn">
											  <i class="fas fa-user-tie"></i>
										  </div>
										  
								  </div>
								  <div class="stat_record">
										<span class="stat_number">{{ stats.total_investor }}</span>
										<span class="stat_words">Investors</span>
								  </div>
								 
								</a>
							</div>
									
							<a class="stat_add" @click="newTenantPopUp(5)">
								  <i class="fas fa-plus add_icn"></i>
								  
							</a>
							  
						</div>
						
						<div class="stat stat_resident stat_r">
							<div class="stat_link">
								<a href="">
								      <div class="stat_icn">
										  <div class="icn">
											 <i class="fas fa-users"></i>
										  </div>
								      </div>	
									  <div class="stat_record" style="flex: 4 !important;">
											<span class="stat_number">{{(stats.total_tenant*1)+(stats.total_owner*1)+(stats.total_investor*1) }}</span>
											<span class="stat_words">All Residents</span>
									  </div>
								</a>
								
							</div>
								
							  
						</div>
            
                  </li>

                  <li style="background-color: #43dbbd;">
                        <h3>Units</h3>
						<div class="stat stat_unit stat_u">
							<div class="stat_link">
								<a href="/mgr/unit" target="_blank">
								  <div class="stat_icn">
										<div class="icn">
											  <i class="fas fa-home"></i>
										</div>
								  </div>
								  <div class="stat_record">
										<span class="stat_number">{{stats.total_unit }}</span>
										<span class="stat_words">Units</span>
								  </div>
								</a>
							</div>
									
							<a class="stat_add" href="/mgr/create_unit" target="_blank">
								  <i class="fas fa-plus add_icn"></i>
								  
							</a>
							  
						</div>
						<div class="stat stat_leasing stat_u">
							<div class="stat_link">
								<a href="">
								      <div class="stat_icn">
								            <div class="icn">
								                 <i class="fas fa-person-booth"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{ stats.total_leasing }}</span>
								            <span class="stat_words">Leasing</span>
								      </div>
								</a>
							</div>
									
							<a class="stat_add"  href="/mgr/create_unit" target="_blank">
								  <i class="fas fa-plus add_icn"></i>
								  
							</a>
							  
						</div>
						<div class="stat stat_park stat_u">
							<div class="stat_link">
								<a href="/mgr/tenant/1/c/a" target="_blank">
								      <div class="stat_icn">
								            <div class="icn">
								                  <i class="fas fa-car"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{ stats.total_carpark }}</span>
								            <span class="stat_words">Car Parks</span>
								      </div>
								</a>
							</div>
									
							<a class="stat_add"  @click="newCarparkPopUp">
								  <i class="fas fa-plus add_icn"></i>
							</a>
							  
						</div>
						<div class="stat stat_breaches stat_u">
							<div class="stat_link">
								<a href="/mgr/parking_breaches"  target="_blank">
								      <div class="stat_icn">
								            <div class="icn">
								                 <i class="fas fa-parking"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{ stats.breaches_today }}</span>
								            <span class="stat_words">Breaches</span>
								      </div>
								</a>
							</div>
									
							<a class="stat_add" href="/mgr/create_parking_breaches" target="_blank">
								  <i class="fas fa-plus add_icn"></i>
								  
							</a>
							  
						</div>
                  </li>

                  <li style="background-color: #ffc26b;">
                        <h3>Assets</h3>
						<div class="stat stat_asset stat_a">
							<div class="stat_link">
								<a href="/mgr/assets"  target="_blank">
								      <div class="stat_icn">
								            <div class="icn">
								                  <i class="fas fa-couch"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{ stats.total_asset }}</span>
								            <span class="stat_words">Assets</span>
								      </div>
								</a>
							</div>
									
							<a class="stat_add" href="/mgr/create_asset" target="_blank">
								  <i class="fas fa-plus add_icn"></i>
								  
							</a>
							  
						</div>
                        <div class="stat stat_asset stat_a">
                        	<div class="stat_link">
                        		<a href="/mgr/inventory"  target="_blank">
                        		      <div class="stat_icn">
                        		            <div class="icn">
                        		                  <i class="fas fa-warehouse"></i>
                        		            </div>
                        		      </div>
                        		      <div class="stat_record">
                        		            <span class="stat_number">{{ stats.total_inventory }}</span>
                        		            <span class="stat_words">Inventory</span>
                        		      </div>
                        		</a>
                        	</div>
                        			
                        	<a class="stat_add" href="/mgr/create_inventory" target="_blank">
                        		  <i class="fas fa-plus add_icn"></i>
                        		  
                        	</a>
                        	  
                        </div>
						<div class="stat stat_amen stat_a">
							<div class="stat_link">
								<a href="/mgr/amenity_list" target="_blank">
								      <div class="stat_icn">
								            <div class="icn">
								                 <i class="fas fa-swimming-pool"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{ stats.total_amenity }}</span>
								            <span class="stat_words">Amenities</span>
								      </div>
								</a>
							</div>
									
							<a class="stat_add" href="/mgr/new_amenity" target="_blank">
								  <i class="fas fa-plus add_icn"></i>
								  
							</a>
							  
						</div>
						<div class="stat stat_reser stat_a">
							<div class="stat_link">
								<a href="/mgr/inspection" target="_blank">
								      <div class="stat_icn">
								            <div class="icn">
								                 <i class="far fa-check-square"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{ stats.total_inspection }}</span>
								            <span class="stat_words">Inspection Area</span>
								      </div>
								</a>
							</div>
									
							<a class="stat_add" href="/mgr/create_inspection" target="_blank">
								  <i class="fas fa-plus add_icn"></i>
								  
							</a>
							  
						</div>
						
                  </li>

                  <li style="background-color: #ff738a;">
                        <h3>Tasks</h3>
                                    <div class="stat stat_main stat_a">
							<div class="stat_link">
								<a :href="'/mgr/scheduler_list/1/12/t/a/' + current_date" target="_blank">
								      <div class="stat_icn">
								            <div class="icn">
								                 <i class="fas fa-tools"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{stats.task_today }}</span>
								            <span class="stat_words">Tasks Today</span>
								      </div>
								</a>
							</div>
						</div>

						<div class="stat stat_amen">
							<div class="stat_link">
								<!-- <a :href="'/mgr/scheduler_list/1/r/a/' + current_date" target="_blank"> -->
                                                <a :href="'/mgr/scheduler_list/1/12/r/a/' + current_date" target="_blank">
								      <div class="stat_icn">
								            <div class="icn">
								                  <i class="far fa-calendar-alt"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{ stats.reservation_today }}</span>
								            <span class="stat_words">Reservations Today</span>
								      </div>
								</a>
							</div>
						
							  
						</div>
									
							
						<div class="stat stat_inspec stat_a">
							<div class="stat_link">
								<a :href="'/mgr/scheduler_list/1/12/i/a/' + current_date" target="_blank">
								      <div class="stat_icn">
								            <div class="icn">
								                 <i class="far fa-check-square"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{stats.inspection_today }}</span>
								            <span class="stat_words">Inspections Today</span>
								      </div>
								</a>
							</div>
									
							
							  
						</div>
						<!-- <div class="stat stat_main stat_a">
							<div class="stat_link">
								<a :href="'/mgr/scheduler_list/1/m/a/' + current_date" target="_blank">
								      <div class="stat_icn">
								            <div class="icn">
								                 <i class="fas fa-tools"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{stats.maintenance_today }}</span>
								            <span class="stat_words">Maintenance Today</span>
								      </div>
								</a>
							</div>
						</div> -->
						<div class="stat stat_case stat_a" style="border-right:0px;">
							<div class="stat_link">
								<a href="/mgr/case" target="_blank">
								      <div class="stat_icn">
								            <div class="icn">
								                  <i class="fas fa-scroll"></i>
								            </div>
								      </div>
								      <div class="stat_record">
								            <span class="stat_number">{{stats.total_case }}</span>
								            <span class="stat_words">Incomplete Cases</span>
								      </div>
								</a>
							</div>
									
							
							  
						</div>

                        <!-- <div class="stat stat_task">
                              <a href="/mgr/scheduler_list/1/t/a/" >
                                    <div class="stat_icn">
                                          <div class="icn">
                                                <i class="fas fa-tasks"></i>
                                          </div>
                                    </div>
                                    <div class="stat_record">
                                          <span class="stat_number">{{stats.task_today }}</span>
                                          <span class="stat_words">Tasks Today</span>
                                    </div>
                              </a>
                        </div> -->
                  </li>
            </ul>
      </div>

      <div class="" style="display:inline-block;    margin-bottom: 60px;">
            <div class="dashboard_cont col-md-8 container_block">
                  <div class="container_subtitle" style="min-width:220px;margin: 0px 0px 20px;">
                        <i class="far fa-calendar-alt"></i>
                        <h5 style='float: left;display: inline-block;'>Today Tasks</h5>
                  </div>

                  <div style="position:relative;" >
                         <calendar :reservation="reservation" :amenity="amenity" :tenants="tenants" :stype="stype" :contractor_list="contractor_list" :bi_list="bi_list" :units="units" :day_view="day_view" :week_view="week_view" :month_view="month_view" :view_selected="view_selected"  :view_height="view_height" :start_time="start_time" :end_time="end_time"></calendar>

                  </div>
            </div>
            <div class="dashboard_cont col-md-4" style="padding-right: 0px; box-shadow: none !important;">
                   <div class="">
                       <contact-list :building_id="building_id" :list_type= "'contractor'"></contact-list>
                  </div>
            </div>

      </div>

	</div>

</template>

<script>



import EventBus from '../event-bus';
import  calendar from '../calendar.vue';


export default {
      props: ['building_id','reservation','amenity','tenants','term','stats','stype','contractor_list','bi_list', 'setting_check', 'setting_count', 'unfinished_count','units'],
      components: {
		calendar
      },
      data(){
            return {
			count: this.setting_count - this.unfinished_count,
                  day_view: true,
                  week_view: false,
                  month_view: false,
                  view_selected: 'd',
                  view_height: '800',
                  start_time: "6:00 AM",
                  end_time: "9:00 PM",
                  selectedProduct: null,
                  date: new Date(),
                  current_date: new Date().toISOString().slice(0,10),
                  mobile: true,
            }
      },
      methods:{
            newCarparkPopUp: function() {
                  var this_carpark = {}
                  EventBus.$emit("cp_id");
            },
            newTenantPopUp: function(type) {
                  var this_tenant = {'type' : type}
                  EventBus.$emit("new_tenant", this_tenant);
            },


		show_swiper:function(ev) {
			this.showSwiper = !this.showSwiper;
		},

            updatePopupContent: function (ev) {
                  if (ev.event.action == 1) {
                                    ev.container.find("#loc").show();
                                    ev.container.find("#task_type").show();
                                    ev.container.find("#event_recurring").show();
                                    ev.container.find("#start_time").show();
                                    ev.container.find("#end_time").show();
                                    ev.container.find("#message").show();

                                    ev.container.find("#inspection_frequency").hide();
                                    ev.container.find("#booking_approval").hide();
                                    ev.container.find("#bi_cont").hide();
                                    ev.container.find("#bii_cont").hide();
						ev.container.find("#car_number").hide();
                                    ev.container.find("#amenity_cont").hide();
                                    ev.container.find("#contractor_cont").hide();
                                    ev.container.find("#tenant_cont").hide();
                  } else if (ev.event.action == 2) {
                        console.log(2222);
                                    ev.container.find("#bi_cont").show();
                                    ev.container.find("#bii_cont").show();
                                    ev.container.find("#start_time").show();
                                    ev.container.find("#end_time").show();
                                    ev.container.find("#contractor_cont").show();
                                    ev.container.find("#message").show();
                                    ev.container.find("#inspection_frequency").show();

                                    ev.container.find("#event_recurring").hide();
                                    ev.container.find("#booking_approval").hide();
                                    ev.container.find("#task_type").hide();
                                    ev.container.find("#loc").hide();
						ev.container.find("#car_number").hide();
                                    ev.container.find("#amenity_cont").hide();
                                    ev.container.find("#tenant_cont").hide();
                  } else if (ev.event.action == 3) {
                                    ev.container.find("#tenant_cont").show();
                                    ev.container.find("#amenity_cont").show();
                                    ev.container.find("#message").show();
                                    ev.container.find("#start_time").show();
                                    ev.container.find("#end_time").show();
                                    ev.container.find("#booking_approval").show();

                                    ev.container.find("#contractor_cont").hide();
                                    ev.container.find("#task_type").hide();
                                    ev.container.find("#loc").hide();
						ev.container.find("#car_number").hide();
                                    ev.container.find("#event_recurring").hide();
                                    ev.container.find("#bi_cont").hide();
                                    ev.container.find("#bii_cont").hide();
                              // } else if (ev.event.action == 4) {
                              //        ev.container.find("#bi_cont").show();

                              //       ev.container.find("#tenant_cont").hide();
                              //       ev.container.find("#contractor_cont").hide();
					// 	ev.container.find("#car_number").hide();
                              //       ev.container.find("#amenity_cont").hide();
                              //       ev.container.find("#event_recurring").hide();
                  } else if (ev.event.action == 4) {
                                    ev.container.find("#tenant_cont").show();
                                    ev.container.find("#car_number").show();
                                    ev.container.find("#message").show();
                                    ev.container.find("#start_time").show();
                                    ev.container.find("#end_time").show();
                                    ev.container.find("#booking_approval").show();
                                    
                                    ev.container.find("#contractor_cont").hide();
                                    ev.container.find("#task_type").hide();
                                    ev.container.find("#loc").hide();
                                    ev.container.find("#event_recurring").hide();
                                    ev.container.find("#bi_cont").hide();
                                    ev.container.find("#bii_cont").hide();
                                    ev.container.find("#amenity_cont").hide();
			}
            },
           
      },
      computed: {

      },
      mounted: function() {
            var _this = this;

            EventBus.$on('create_tenant', function (new_record) {
                  if (new_record.id > 0) {
                        if (new_record.type == 4) {
                              _this.stats.total_tenant = _this.stats.total_tenant + 1;
                        } else if (new_record.type == 3) {
                              _this.stats.total_owner = _this.stats.total_owner + 1;
                        } else {
                              _this.stats.total_investor = _this.stats.total_investor + 1;
                        }
                        _this.$forceUpdate();
                  }
            });
      }

}


</script>


<style>
.k-reset.k-scheduler-navigation {
      width: 50%;float: left;
}

.k-reset.k-header.k-scheduler-views {
      float: right;
}

.k-scheduler-table tbody tr > td:hover {
      background-color: rgba(55,156,214,0.3);cursor: pointer;
}

.setting_completion_button {
	border-style: none !important ;
	border: none;
 	background-color: transparent;
}
#setting_completion {
	line-height: 19px;
    padding: 12px 15px;
    font-size: 14px;
    text-align: left;
    margin: 0px 0px 20px 0px;
    background-color: #fff;
    border-left: 4px solid red;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    cursor: pointer;
}
.setting_completion_title {
	font-size: 1.2rem;
}


.swiper_container {
	height:250px;
}

.setting_swiper_container {
	
	
	height: 100%;
	width: 100%;
	padding: 0 15px 0 30px;
}
.swiper_inside_container {
	padding:2%;
	height: 96%;
	width: 96%;
	background-color: white;
	border-radius: 6px;
	
}
.setting_page_url {
	position: absolute;
	bottom: 10%;
	right: 15%;
	
}
.setting_page_url > a {
	font-size: 1em;
	text-align: right;
}

.setting_status {
	color: #0C8346;
	font-size: 1em;
	margin-top: 1em;
	text-align: center;
}


.setting_content {
	
	padding: .75em;
}
.less_padding {
	padding: 0.25em;
}
.swiper-slide {
      margin-right: 10px;
      border-right: 1px solid #dedede;
}

.swiper-slide:last-child {
      border-right: 0px;
}

.setting_description {
	
	font-size: 1em;
	padding: 0em .75em;
}

.swiper_out_container {
	
	
	width: 100%;
	height: 100%;
	padding: 10px
}
.setting_title {
	font-size: 1.2em;
	padding: .25em .75em;
	font-weight: 800;
	overflow: hidden;
}



#setting_completion {
	position: relative;
}
.swiper-container {
	
}
.swiper-button-prev, .swiper-button-next {
	
}


.stat_record .stat_words, .stats_cont > li a  {
      color: #fff;
}

/* .stats_cont > li a:hover, .stat_add:hover  {
	cursor: pointer;
      background-color: rgba(255,255,255, .25)
} */


#stats_list {
      display:flex;margin-bottom: 25px;
}

#stats_list .stats_cont {
      flex:1;display:flex;padding: 8px 0px;
}

#stats_list .stats_cont > li {
      background-color: #fff;flex:1;margin-right:20px;margin-bottom:20px; padding: 8px;color: #fff
}

#stats_list .stats_cont > li > h3 {
    margin: 5px 0px 10px;padding: 0px 5px 0px 5px;border-bottom: 1px solid #fff;height: 35px;
}

#stats_list .stats_cont > li:last-child {
          margin-right: 0px
}


/* #stats_list .stats_cont > li .stat {
      flex:1;border-right: 1px solid #ddd;
}

#stats_list .stats_cont > li .stat:first-child {
      padding-right: 10px;
}

#stats_list .stats_cont > li .stat > a {
      display:flex; 
} 

#stats_list .stats_cont > li .stat:last-child {
      border-right: 0px;    padding-left: 10px;
}
*/

.stats_cont > li a {
      display: flex; padding: 10px 5px;
}

#stats_list .stats_cont > li .stat:hover {
      background-color: rgba(255,255,255, .25);border-radius: 8px;
}

#stats_list .stats_cont > li .stat:hover a{
      text-decoration: none;;
}

#stats_list .stats_cont > li .stat.stat_r:hover .stat_add {
      background-color: #1380ff;
}

#stats_list .stats_cont > li .stat.stat_u:hover .stat_add {
      background-color: #24bfa1;
}

#stats_list .stats_cont > li .stat.stat_a:hover .stat_add {
      background-color: #fd9400;
}

#stats_list .stats_cont > li .stat:hover .stat_add{
      cursor:pointer;text-decoration: none;-webkit-border-top-right-radius: 8px;-webkit-border-bottom-right-radius: 8px;-moz-border-radius-topright: 8px;-moz-border-radius-bottomright: 8px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;
}

#stats_list .stats_cont > li .stat.stat_r .stat_add:hover {
      background-color: #005fce;
}

#stats_list .stats_cont > li .stat.stat_u .stat_add:hover {
      background-color: #20a78d;
}

#stats_list .stats_cont > li .stat.stat_a .stat_add:hover {
      background-color: #d97f00;
}

#stats_list .stats_cont > li .stat {
      width: 100%;display: flex;
}

#stats_list .stats_cont > li .stat  .stat_icn > .icn {
    border: 1px solid #fff;width:40px; height:40px;display: inline-block;text-align: center;border-radius: 50%;cursor: pointer;float: left;
}

#stats_list .stats_cont > li .stat:hover .stat_icn > .action_icn > i {
      transition: 1s;left: 20px;
}

#stats_list .stats_cont > li .stat  .stat_icn > .action_icn > i {
     position: absolute;left: -20px;    top: 50%;margin-top: -7px;
}

#stats_list .stats_cont > li .stat  .stat_icn > .action_icn {
      line-height: 40px;position: relative;overflow: hidden;max-width: 35px; height: 40px;width: 100%;
}

#stats_list .stats_cont > li .stat  .stat_icn > .icn i {
      font-size: .8em;line-height: 40px;text-align: center; 
}



.stat_link {
	flex: 5;
	position: relative;
}
.stat_add {
	display: flex; padding: 10px 5px;
	flex: 1;
	position: relative;
}
.add_icn {
	margin: auto;
	width: 25px;
	height: 25px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	float: left;
	font-size: 1.5em;
	line-height: 25px;
	text-align: center;
}


#stats_list .stats_cont > li .stat  .stat_icn {
      flex: 1;position: relative;overflow: hidden;
}

#stats_list .stats_cont > li .stat_record {
      flex: 3;text-align: left;
}

#stats_list .stats_cont > li .stat_record .stat_number {
    font-size: 1.6em;font-weight: 900;display: block;height: 22px;line-height: 20px;
}

#stats_list .stats_cont > li .stat_record .stat_words {
      font-size: .65em;line-height: 14px;display: block;    margin-top: 4px;
}


.k-header.km-header {
      padding: 6px;
}

.k-header.km-header a.k-button.k-scheduler-cancel {
      background: #43425D;color: #fff;font-size: .8em;margin-right: 10px;padding: 3px 10px;
}

.k-header.km-header a.k-button.k-scheduler-update {
      float: right;background: #55ce63; color: #fff;font-size: .8em;padding: 3px 10px;
}

.k-event .blg_admin_scheduler_template {
    display: inline-block;
    width: 100%;
    height: inherit;
}

.dashboard_cont {margin-bottom:20px;-webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);}

.container_block .container_subtitle {
      margin-top:0px;
}
.scheduler_detail > p:first-child {
	display: none;
}

ul.dashboard_list_cont {
      display: inline-block;width: 100%; height: 470px;overflow-y: auto;
}

/* ul.dashboard_list_cont > li {
      line-height: 36px;height: 34px;margin: 10px 0px;
} */

.radio_cont {
      margin-bottom: 10px;
}
.reservation_popup_cont {
      display: none;
}
.radio_cont .lbl_radio:first-child {
      padding: 0px;
}

.k-recur-view > .k-edit-label {
    margin: 0 0 1em 0;padding: 5px 0;width: 17% !important;line-height: 1.4285714286;text-align: right;
}

.k-edit-field .k-reset input {
      height: auto;
}

.show_0_1, .show_1_0, .action {
      display: none;
}

.show_0_0, .show_1_1 {
      display: block;
}

.show_0_0, .show_1_1, .action_1_2_3_4 {
      display: block;
}
ul#amenity_list {
      height: auto;display: inline-block;width: 100%;    padding: 15px;
}

ul#amenity_list > li {
      height: 24px;margin: 0px 10px 10px 0px;float:left;line-height: 24px;
}

ul#amenity_list > li .amenity_color_cont {
      width:24px;height: 24px;margin-right: 10px;float: left;
}
.k-i-reload,.fa-exclamation {
	display: none !important;
}
 {
	
}



.event_txtinput {
      width: 100%;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 14px;
      line-height: 1.4285714286;
      text-align: left;
      height: 30px;
      border: 1px solid rgba(0,0,0,0.1);
}

.k-combobox, .k-dateinput, .k-datepicker, .k-datetimepicker, .k-timepicker, .k-widget.k-dropdown {
    width: 100% !important;
    border-color: rgba(0,0,0,0.1);
}

.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-combobox .k-select {
    background-color: #fff !important;
    background-image: none !important;
    border-color: rgba(0,0,0,0.1);
}
</style>