<template>
      <div class="container_block">
                        <div class="list_filter col">
                              <form id="announcement_search_form" ref="announcement_search_form" action="/mgr/announcement" method="get" >
                                    <input type="text" placeholder="Search Content or Tags" class="input_search" name="input_search" v-model="search.input_search">
                                    <select class="announce_type" name="input_type" v-model="search.input_type">
                                          <option v-for="(key, val) in announcement_type" v-bind:value="key.id">{{key.title}}</option>
                                    </select>
                                    <button class="btn_filter">Search</button>
                              </form>
                        </div>
                        <div class="list_cont" v-bind:class="{ empty_record: announcement.data.length == 0 }">
                              <div class="list_header">
                                    <div class="list_fields w_5">
                                          <check-box ref="eventBus" section="annoucement_list" :data="announcement.data" @updateCheckedItem="check_box=$event"></check-box>
                                    </div>
                                    <div class="list_fields w_5">No.</div>
                                    <div class="list_fields w_40">CONTENT</div>
                                    <div class="list_fields w_15 c_align">RECIPIENTS</div>
                                    <div class="list_fields w_15 c_align">ISSUED DATE</div>
                                    <div class="list_fields w_10 c_align">TAGS</div>
                                    <div class="list_fields w_15 c_align">ACTIONS</div>
                              </div>

                              <div class="list_empty" v-if="announcement.data.length == 0">
                                    <div class="list_fields c_align">
                                          <span>You have 0 announcement, create it now.</span><br>
                                           <a v-bind:href="'/mgr/create_announcement'" class="btn btn_submit">Create An Announcement</a>
                                    </div>
                              </div>
                            
                              <div class="list_row" v-for="(key, data) in announcement.data" v-if="announcement.data.length > 0">
                                    <div class="list_fields w_5">
                                          <input type="checkbox" class="styled_checkbox" ref="cb_item" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                          <label for="styled-checkbox"></label>
                                    </div>
                                    <div class="list_fields w_5" v-on:click="goToDetailPage('edit_announcement/'+key.id)">{{key.id }}</div>
                                    <div class="list_fields w_40" v-on:click="goToDetailPage('edit_announcement/'+key.id)">
                                          <h4 class="title">{{key.title}}</h4>
                                          <div class="content">{{ key.content }} ...</div>
                                          <!-- [<span class="lbl_type" v-bind:class="'type_'+key.type">{{ key.type_title }}</span>]  -->
                                          <span class="total_participant" v-if="(key.type == 2 || key.type == 4) && (key.show_event_btn == true || key.show_event_btn == 1)" v-on:click.stop='openParticipantList(key.id)'>
                                                <i class="fa fa-users fa-lg"></i>
                                                {{key.total_participants }}
                                          </span>
                                    </div>
                                    <div class="list_fields w_15 c_align" v-on:click="goToDetailPage('edit_announcement/'+key.id)"> 
                                          <span v-for="(r_val, r_key,r_index) in key.recipients" v-if="r_index < 5" :class="'tagcont cont_'+r_index%5">
                                                {{r_val.unit_title}} - {{r_val.first_name}} {{r_val.last_name}} 
                                          </span>
                                    </div>
                                    <div class="list_fields w_15 c_align" v-on:click="goToDetailPage('edit_announcement/'+key.id)">{{new Date(key.created_at).toDateString()}}</div>
                                    <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('edit_announcement/'+key.id)">                                                
                                          <span v-for="(t_val, t_key, t_index) in key.tags" v-if="t_index < 5" :class="'tagcont cont_'+(4-(t_index%5))">
                                                {{t_val.title}}
                                          </span>

                                          <span v-if="key.tags.length == 0">
                                                -
                                          </span>
                                    </div>
                                    <div class="list_fields w_15 c_align">
                                        <a v-bind:href="'edit_announcement/'+key.id" class="list_btn btn_edit" target="_blank">
                                            <i class="fas fa-pen"></i>
                                        </a>

                                        <!-- <a v-bind:href="'del_announcement/'+key.id" onclick="return confirm('Are you sure you want to delete this announcement?');">
                                            <i class="fa fa-times"></i>
                                        </a> -->
                                    </div>
                              </div>
                        </div>

                        <div class="event_plist_cont" v-show='modal'>
                              <div class='event_plist_header'> 
                                    <h3>Participants Total</h3>
                                    <i class="fa fa-times fa-lg" v-on:click="closeEventPList();"></i>
                              </div>
                              <div class='event_plist_list list_cont'> 
                                    <div class="list_header">
                                          <div class="list_fields w_15">Unit No</div>
                                          <div class="list_fields w_25">Name</div>
                                          <div class="list_fields w_35">Message</div>
                                          <div class="list_fields w_25 c_align">Order Date</div>
                                    </div>

                                    <div class="list_row" v-show="participant_empty == false" v-for="(key, data) in participants_record">
                                          <div class="list_fields w_15">{{key.unit_title}}</div>
                                          <div class="list_fields w_25">{{key.first_name}} {{key.last_name}}</div>
                                          <div class="list_fields w_35">{{key.message}}</div>
                                          <div class="list_fields w_25 c_align">{{key.created_at}}</div>
                                    </div>

                                    <div class="list_empty" v-show="participant_empty">
                                          <div class="list_fields c_align" colspan="3">
                                                There is 0 participant now 
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <pagination :pagination="list_pagination" v-if="announcement.data.length > 0"></pagination>
      </div>
</template>

<script>
import EventBus from '../event-bus';
import pagination from '../PaginationComponent.vue';

export default {
      props: ['announcement','search'],
      components: {pagination},
      data(){
            return {
			list_pagination:this.announcement,	 
                  modal: false,
                  participant_empty:false,
                  participants_record: [],
                  announcementIssuedDate: {
                        date: new Date(2019, 1,  1)
                  },
                  announcement_type: [
                        {id: 1, title: 'Announcement'},
                        {id: 2, title: 'Event'},
                        {id: 3, title: 'Maintenance/Repair'},
                        {id: 4, title: 'Advertisement'},
                        {id: 5, title: 'Newsletter'},
                        {id: 6, title: 'Other'},
                        {id: 7, title: 'All'}
                  ],
                  check_box:{
                        checkedItem:[],
                        isCheckAll:false,
                  },
            }

      },
    methods:{
            updateItem(){
                  //  console.log(this.check_box.checkedItem)
                  var selected_data = {
                        'ids' : this.check_box.checkedItem,
                        'type' : 'announcement',
                  }
                  EventBus.$emit("selected_data", selected_data);

                  //  this.$refs.eventBus.reset();
             },
            goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
            openParticipantList:function(aid) {
                  var _this = this;
                  this.modal = true;

                  axios.get('/mgr/get_announcement_participants/'+aid)
                  .then(function (response) {
                        console.log(response);
                        if (response.data.success == 1) {
                             if (response.data.data.length == 0) {
                                   _this.participant_empty = true;
                             } else {
                                   _this.participant_empty = false;
                                   _this.participants_record = response.data.data;
                             }
                        } else {
                              _this.modal = false;
                        }
                  })
                  .catch(function (error) {
                        // 
                  });

            },    
            closeEventPList:function() {
                  this.modal = false;
            },

            getAnnouncementList:function(page){
                  let _this= this;
                  axios.get('/mgr/announcement/'+page).then((res)=>{
                        _this.announcement = res.data.announcement;
                  })
            }


      },
      
      mounted(){
            let _this = this;
            EventBus.$emit("initListPagination",_this.list_pagination);

            EventBus.$on('updateListPagination',function(e){
                  _this.getAnnouncementList(e.page);
            })
      }
}

</script>

<style>
#help_search {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 10px;
}

.title {
      margin: 0 0 4px 0; font-weight: 700;font-size: 1.2em;
}

.event_plist_cont {
      left: 50%;top: 100px;margin-left: -350px;position: absolute;width: 700px; height: 500px; overflow-y: auto;overflow-x: hidden;padding: 10px;border: 1px solid #cdcdcd;-webkit-border-radius: 4px;-moz-border-radius: 4px; border-radius: 4px; background-color: #fff;z-index: 1000;
}

.event_plist_cont .event_plist_header {
      margin: 12px 20px 28px 20px;
}

.event_plist_cont .event_plist_header h3 {
      margin: 0px; display: inline-block;
}

.event_plist_cont .event_plist_header i.fa-times {
      font-size: 1.8em;float: right;margin-top: 3px;margin-right: 5px;cursor: pointer;
}

.total_participant {
      display: block;font-size: .85em;margin-top: 6px;
}


.list_filter select.announce_type, .list_filter .announce_type  {
      margin-right: 10px;    display: inline-block;
}

.list_cont .list_fields .lbl_type {
      line-height: 13px; font-weight: 400;border-radius: 4px;font-weight:900;
}

/* .list_cont .list_fields .lbl_type.type_Task {
      background-color: #06d79c;
}

.list_cont .list_fields .lbl_type.type_Event {
      background-color: #398bf7;
} */
</style>