<template>
    
	<div class="col">
        <!-- <close-window></close-window> -->
		<!-- <form method="post" action="/mgr/announcement_store" enctype="multipart/form-data" v-kendo-validator > -->
        <form method="post"   @submit.prevent="onSubmit" enctype="multipart/form-data" v-kendo-validator >
			<input type="hidden" name="_token" :value="csrf">
			<input type="hidden" name="aid" v-model="aid">

				<!-- error checking -->
				<div class="col-md-12" >
					<div class="error_cont" v-if="formerrors.length">
						<b>Please correct the following error(s):</b>
						<ul class="error_list">
							<li v-for="error in formerrors"> - {{ error }}</li>
						</ul>
					</div>
				</div>

				<div class="col">
					<div class="col-md-7">
						<div class="container_block">
							<div class="container_subtitle">
								<i class="fa fa-sticky-note"></i>
								<h5>Content & Tags</h5>
							</div>

							<div class="field_block">
								<div class="field_cont">
									<label class="field_title">Title <b class="ast">*</b></label>
									<input type="text" class="col-md-12" name="announcement_title" placeholder="Title"  v-model="announcement_title" required validationMessage="Title is required" v-if="!aid > 0">
                                    <span class="announcement_answer" v-if="aid > 0">{{announcement_title}}</span>
								</div>

								<div class="field_cont">
									<label class="field_title" style="display:flex">
                                        <span style="flex:10">Content <b class="ast">*</b> </span>
                                        <add-mail-select  v-if="!aid > 0"></add-mail-select>
                                        <template-content v-if="!aid > 0" :template_list="template_list"></template-content>
									</label>
									
									<div class="announcement_answer" v-if="aid > 0" style="min-height:400px;" v-html="{announcement_content}"></div>
                                    <div v-if="!aid > 0">
                                        <kendo-editor :resizable-content="true"
                                                            :resizable-toolbar="false"
                                                                rows="10"
                                                                cols="300"
                                                                name="announcement_content"
                                                                class="col-md-12 announcement_content"
                                                                v-model="announcement_content"
                                                                placeholder="Enter the content" 
                                                                required validationMessage="Content is required">

                                                            <kendo-editor-tool :name="'formatting'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'bold'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'italic'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'underline'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'strikethrough'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'justifyLeft'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'justifyCenter'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'justifyRight'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'justifyFull'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'createLink'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'unlink'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'insertImage'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'createTable'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'addColumnLeft'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'addColumnRight'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'addRowAbove'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'addRowBelow'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'deleteRow'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'deleteColumn'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'foreColor'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'backColor'"></kendo-editor-tool>
                                                            <kendo-editor-tool :name="'viewHtml'"></kendo-editor-tool>
                                        </kendo-editor>
                                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" v-if="announcement_content == null || announcement_content == ''">
                                            <span class="k-icon k-i-warning"> </span>
                                            Please enter the announcement content
                                        </span>
                                    </div>
								</div>

								<div class="field_cont">
									<label class="field_title">Tags </label>
									<tagsinput :suggestions="announcement_tag" :tagclass="'announcement'"  v-model="tags" @SelectedTag="getSelectedTag" @delSelectedTag="delSelectedTag" v-on:delTag="delAnnouncementTag" v-if="!aid > 0"></tagsinput> 

                                    <ul class="announcement_answer" v-if="aid > 0">
                                        <li  v-for="(key, item) in tags">
                                            {{key.title}}
                                            <span v-if="item > tags.length - 1">
                                                ,
                                            </span>
                                        </li>
                                    </ul>
								</div>

                                <div class="field_cont" v-if="!aid > 0">
                                    <label class="field_title">Attachment </label>
                                        <kendo-upload ref="upload"
                                            name="announcement_files"
                                            :multiple="true"
                                            :validation-allowed-extensions="['.doc', '.docx', '.pdf', '.csv', '.xls', '.txt', '.ppt','.pptx','jpg','png','jpeg']"
                                            @select="updateDocList"
                                            @remove="removeDoc">
                                        </kendo-upload>
                                </div>
							</div>
						</div>
						
					</div>

					
					<div class="col-md-5">
						<div class="container_block">
							<div class="container_subtitle">
								<i class="fa fa-cog"></i>
								<h5>Setting</h5>
							</div>

							<div class="field_block">
								<div class="field_cont">
									<label class="field_title">Recipients</label>
									<div class="radio_cont" v-if="!aid > 0">
										<label class="lbl_radio">
											<input type="radio" name="announcement_recipients" v-on:click="getRecipients('all', recipients)" />
											<div>All</div>
										</label><label class="lbl_radio" >
											<input type="radio" name="announcement_recipients" v-on:click="getRecipients(3, recipients)" />
											<div>Owners</div>
										</label><label class="lbl_radio">
											<input type="radio" name="announcement_recipients" v-on:click="getRecipients(4, recipients)" />
											<div>Tenants</div>
										</label><label class="lbl_radio">
											<input type="radio" name="announcement_recipients" v-on:click="getRecipients(5, recipients)" />
											<div>Investers</div>
										</label><label class="lbl_radio" style="flex: 2 !important;">
											<input type="radio" name="announcement_recipients" value="n"/>
											<div class="select_reci"  v-on:click='modal = !modal'>Select<i id="down_arrow" class="fa fa-angle-down fa-lg"></i></div>
											
										</label>
									</div>

									<input type="hidden" name="recipient_list" v-model="ridlist" required validationMessage="Please select at least one recipient">                      
									<ul class="recipients_cont cont"  v-if="!aid > 0">
										<li class='announcement_recipients' v-for="(key, item) in rlist">{{ key.name }}<i class='fa fa-times fa-lg' v-on:click="rmRecipients(key.uid, item)"></i></li>
									</ul>

                                    <ul v-if="aid > 0">
                                        <li class='announcement_recipients' v-for="(key, item) in rlist">{{ key.name }}</li>
                                    </ul>
									<span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="recipient_list" role="alert"></span>
								</div>

							</div>

                            <div class="container_subtitle">
								    <i class="fa fa-sticky-note"></i>
								    <h5>Type & Status</h5>
							</div>
							<div class="field_block">
                                    <div class="field_cont col">
                                        <div class="col-md-12">
                                            <label class="field_title">
                                                Type
                                            </label>
                                            <select class="announce_type col-md-12" name="announcement_type" v-model="type" @change="onChangeType($event)" v-if="!aid > 0">
                                                <option v-for="(key, val) in announcement_type" v-bind:value="key.id">{{key.title}}</option>
                                            </select>
                                            <ul class="announcement_answer" v-if="aid > 0">
                                                <li v-for="(key, val) in announcement_type">
                                                    <span v-if="key.id == type">
                                                        {{key.title}}
                                                    </span>
                                                </li>
                                            </ul>
                                            <!-- <autocomplete :suggestions="announcement_type" @SelectedOption="getSelectedType" @SelectedOptionID="getSelectedTypeID" v-model="type"></autocomplete>
                                            <input type="hidden" name="announcement_type" v-model="typeID" required validationMessage="Type is required"> -->
                                        </div>
                                    </div>
                                    
                                    <div class="field_cont col" v-show="type == 3 || type == 1">
                                        <div class=" col-md-12" style="padding-right: 0px;">
                                            <label class="field_title">
                                                Status
                                            </label>
                                            
                                            <select name="announcement_status" class="col-md-12" v-model="alevel" required validationMessage="Status is required" v-if="!aid > 0">
                                                <option value="l">Low</option>
                                                <option value="m">Medium</option>
                                                <option value="h">High</option>
                                                <option value="c">Critical</option>
                                            </select>

                                            <span class="announcement_answer" v-if="aid > 0 && alevel == 'l'">
                                                Low
                                            </span>
                                            <span class="announcement_answer" v-if="aid > 0 && alevel == 'm'">
                                                Medium
                                            </span>
                                            <span class="announcement_answer" v-if="aid > 0 && alevel == 'h'">
                                                High
                                            </span>
                                            <span class="announcement_answer" v-if="aid > 0 && alevel == 'c'">
                                                Critical
                                            </span>
                                        </div>
                                    </div>

									<!-- <div class="field_cont col">
										<div class=" col-md-6">
											<label class="field_title">
												From
											</label>
                                            <div v-if="!aid > 0">
                                                <kendo-datepicker name="announcement_startdate" 
                                                                    v-model="announcementStartDate"
                                                                    :min="minDate"
                                                                    :max="maxDate"
                                                                    :value="currentDate"
                                                                    :format="'yyyy-MM-dd'"
                                                                    required validationMessage="Date is required">
                                                </kendo-datepicker>
											</div>
                                            <span class="announcement_answer" v-if="aid > 0">
                                                {{announcementStartDate}}
                                            </span>
										</div>
									
										<div class=" col-md-6">
											<label class="field_title">
												To
											</label>
                                            <div v-if="!aid > 0">
                                                <kendo-datepicker name="announcement_enddate" 
                                                                    v-model="announcementEndDate"
                                                                    :min="minDate"
                                                                    :max="maxDate"
                                                                    :value="currentDate"
                                                                    :format="'yyyy-MM-dd'"
                                                                    required validationMessage="Date is required">
                                                </kendo-datepicker>
                                            </div>
                                            <span class="announcement_answer" v-if="aid > 0">
                                                {{announcementEndDate}}
                                            </span>
										</div>
									</div> -->



                                    <div class="field_cont col"  v-show=" type == 3 || type == 2 || type == 4" >
                                        <div class=" col-md-12" style="padding-left: 0px;">
											<label class="field_title">
												End At
											</label>
                                            <div v-if="!aid > 0">
                                                <kendo-datepicker name="event_enddate" 
                                                                        v-model="eventEndDate"
                                                                        :min="minDate"
                                                                        :max="maxDate"
                                                                        :value="currentDate"
                                                                        :format="'yyyy-MM-dd'"
                                                                        required validationMessage="Date is required">
                                                </kendo-datepicker>
                                            </div>
                                            <span class="announcement_answer" v-if="aid > 0">
                                                {{eventEndDate}}
                                            </span>
										</div>
                                    </div>

														
									<div class="field_cont col" v-show="type == 2 || type == 4">
												   
										<div class="col-md-12" style="height:60px;">
											<label class="field_title">
												ALLOW PARTICIPANTS?
											</label>
											<div class="radio_cont" v-if="!aid > 0">
												<label class="lbl_radio">
													<input type="radio" name="allow_participant" value="1" v-model="allow_participant"/>
													<div>Yes</div>
												</label><label class="lbl_radio">
													<input type="radio" name="allow_participant" value="0" v-model="allow_participant"  />
													<div>No</div>
												</label>
											</div>
                                            <span class="announcement_answer" v-if="aid > 0 && allow_participant == 1">
                                                Yes
                                            </span>
                                            <span class="announcement_answer" v-if="aid > 0 && allow_participant == 0">
                                                No
                                            </span>
										</div>  
									</div>
							</div>

						</div>

						<div class="container_block" v-if="!aid > 0">
							<div class="field_cont col">
									<notificationComp v-on:getSendingParams="getSendingParams"></notificationComp>
							</div>
						</div>

					</div>
					
				</div>
            

				<div class="reci_list_cont" v-show='modal'>
					<div class='reci_header'> 
						<h3>Select Units / Tenants</h3>
						<i class="fa fa-times fa-lg" v-on:click="closeReciList();"></i>
					</div>
					<div class='reci_list'> 
						<div class='reci_group'  v-for="(key, item) in recipients"> 
							<div class="unit_group_title" v-show="recipients[item].id > 0">
								{{recipients[item].title}}

								<!-- toggle to show/hide unit list -->
								<i class="fa fa-plus fa-lg unit_group_collapse" v-on:click="toggleUnitList(item);" v-show="typeof recipients[item].collapse == 'undefined' || recipients[item].collapse == false"></i>
								<i class="fa fa-minus fa-lg unit_group_collapse" v-on:click="toggleUnitList(item);" v-show="typeof recipients[item].collapse != 'undefined' && recipients[item].collapse == true"></i>

								<!-- select / unselect all tenants -->
								<i class="far fa-square fa-lg group_unselect_all" v-on:click="selectAllUnits(item, 1);" v-show="typeof recipients[item].selectall == 'undefined' || recipients[item].selectall == false"></i>
								<i class="far fa-check-square fa-lg group_select_all" v-on:click="selectAllUnits(item, 0);" v-show="typeof recipients[item].selectall != 'undefined' && recipients[item].selectall == true"></i>
							</div>
							<div class="unit_group_title" v-show="recipients[item].id == '' || recipients[item].id == null">
								Non-group

								<!-- toggle to show/hide unit list -->
								<i class="fa fa-plus fa-lg unit_group_collapse"  v-on:click="toggleUnitList(item);"  v-show="typeof recipients[item].collapse == 'undefined' || recipients[item].collapse == false"></i>
								<i class="fa fa-minus fa-lg unit_group_collapse"  v-on:click="toggleUnitList(item);"  v-show="typeof recipients[item].collapse != 'undefined' && recipients[item].collapse == true"></i>

								<!-- select / unselect all tenants -->
								<i class="far fa-square fa-lg group_unselect_all" v-on:click="selectAllUnits(item, 1);" v-show="typeof recipients[item].selectall == 'undefined' || recipients[item].selectall == false"></i>
								<i class="far fa-check-square fa-lg group_select_all" v-on:click="selectAllUnits(item, 0);" v-show="typeof recipients[item].selectall != 'undefined' && recipients[item].selectall == true"></i>
							</div>

							<div class="unit_tenant_group" v-show="recipients[item].collapse == true">
								<div class="unit_tenant" v-for="unit_key in splitStringIntoArr(recipients[item].unit_tenant, ',')">
									<div class="unit_title">{{unit_key.split('-')[1]}}</div>
									<div class="" style="display: inline-block;width: 100%;">
										<div class='reci_record' v-for="(tenants_key, tenants_item) in splitStringIntoArr(unit_key.split('-')[2], '|')" v-if="tenants_key != ''" v-on:click="addRecipients(tenants_key);">
											{{tenants_key.split(':')[1]}} 
										</div>
									</div>
								</div>
							</div>
														
						</div>
					</div>                                               
				</div>

				<div class="col col-md-12">
					<div class="field_cont btn_cont" v-if="!aid > 0">
						<a class="btn btn_cancel"  v-bind:href="'/mgr/announcement/'" >Cancel</a>
						<a class="btn btn_clear" v-on:click="emptyAnnouncementForm()" >Clear All</a>
						<a class="btn btn_close">Delete</a>
						<button type="submit" id="" class="btn btn_submit" >Publish</button>
					</div>

                    <div class="field_cont btn_cont" v-if="aid > 0">
                        <a class="btn btn_submit"  onclick="window.close();" >Close</a>
                    </div>
				</div>

                <input type="hidden" name="send_type" v-model="sendType">
		</form> 
	</div>                  

</template>




<script>
import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'
import { NumericTextBox, InputsInstaller } from '@progress/kendo-inputs-vue-wrapper'
import { DatePicker, DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'

import { Editor } from '@progress/kendo-editor-vue-wrapper'
import { EditorTool } from '@progress/kendo-editor-vue-wrapper'
import { EditorInstaller } from '@progress/kendo-editor-vue-wrapper'

import  notificationComp from '../NotificationsComponent.vue';
import  autocomplete from '../autocomplete.vue';
import  tagsinput from '../tagsinput.vue';
import EventBus from '../event-bus';
// import close_window from '../close_window.vue';

Vue.use(InputsInstaller)
Vue.use(ValidatorInstaller)
Vue.use(DateinputsInstaller)
Vue.use(EditorInstaller)

export default {
    props: ['recipients', 'recipientTags','announcement_tag','template_list'],
    components: {
        autocomplete, tagsinput, DatePicker, Validator, notificationComp
    },
    data(){
        return {
            // selection: '',
            docs:[],
            docs_title:'',
            csrf: "",
            aid: null,
            formerrors:[],
            // tag: [],
            rlist: [],
            ridlist: [],
            announcement_type: [
                {id: 1, title: 'Announcement'},
                {id: 2, title: 'Event'},
                {id: 3, title: 'Maintenance/Repair'},
                {id: 4, title: 'Advertisement'},
                {id: 5, title: 'Newsletter'},
				{id: 6, title: 'Other'},
            ],
            announcement_title:null,
            announcement_content:null,
            alevel:'l',
            type: 1,
            //typeID:null,
            tags:[],
            allow_participant:0,
            modal: false,
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            announcementStartDate: new Date(),
            announcementEndDate: new Date(),
            eventEndDate: new Date(),
            templateHidden: true,
			sendType: [],
			inforRecipentsType: [],
            minDate: new Date(2017, 7, 1),
            maxDate: new Date(2029, 12, 31),
            currentDate: new Date()
        }
    },
    mounted(){
        let _this = this;

        EventBus.$on('t_at_a',function(){
            let i = document.getElementsByClassName('template_list')[0].style.display;
            if(i !== 'none'){
                document.getElementsByClassName('template_list')[0].style.display = 'none';
            }
        });

        EventBus.$on('all_close',function(e){
            _this.templateHidden = !e;
        });

        EventBus.$on('original_content',function(e){
            _this.announcement_content = e;
        });
        
        this.csrf = myToken.csrfToken;        
        if (window.location.href.indexOf("edit_announcement") != -1) {
            var aid = window.location.href.split('/').pop();
            this.getAnnouncementRecordByID(aid);
        }

        console.log(this.rlist);
    },
    methods:{
        updateDocList:function(e){
            for (var i = 0; i < e.files.length; i++) {
                var file = e.files[i].rawFile;
                if (file) {
                    this.docs.push(e.files[i]);
                }
            }
        },
        removeDoc:function(e){
            let _this = this;
            for(var i = 0; i < e.files.length; i++){
                let u_id = e.files[i].uid
                _this.docs.forEach(function(item,index,object) {
                    if(item.uid == u_id){
                      _this.docs.splice(index,1);
                    }
                    
                });
            }
        },

        toggleTemplate:function() {
            console.log(this);
			var _this = this;
		    if (_this.templateHidden == true) {
		        _this.templateHidden = false;
				
		    } else {
				_this.templateHidden = true;
			}
            EventBus.$emit('t_at');
            // EventBus.$emit('close_window',!_this.templateHidden)
		},
        onChangeType:function(e) {
            this.alevel = 'l';
            this.eventEndDate = null;
            this.allow_participant = 0;
            // if (this.type == 1) {
            //     this.alevel = '-';
            //     this.eventEndDate = null;
            //     this.allow_participant = 0;
            // } else if (this.type == 2 || this.type == 4) {
            //     this.alevel = '-';
            //     this.eventEndDate = null;
            //     this.allow_participant = 0;
            // } else if (this.type == 3) {
            //     this.alevel = '-';
            //     this.eventEndDate = null;
            //     this.allow_participant = 0;
            // } else if (this.type == 5) {
            //     this.alevel = '-';
            //     this.eventEndDate = null;
            //     this.allow_participant = 0;
            // }
        },
        // getSelectedTemplateContent:function(key) {
            
        //     this.announcement_content = key.original_content;
        //     this.templateHidden = true;
        // },
        closeReciList:function() {
            this.modal = false;
        },
        selectAllUnits:function(index, toggle) {
            this.recipients[index].selectall = toggle;
            this.toggleUnitList(index);
            
            if (this.recipients[index].unit_tenant.length > 0) {
                var units = this.recipients[index].unit_tenant.split(',');
                for (var i = 0; i < units.length; i++) {
                    var tenants = units[i].split('-')[2];
                    var tenants = tenants.split('|');
                    
                    if (tenants != null && tenants != '') {
                        for (var q = 0; q < tenants.length; q++) {
                            var tenant_id = tenants[q].split(':')[0];
                            var tenant_name = tenants[q].split(':')[1];

                            if (toggle == 1) {
                                if (this.ridlist.includes(tenant_id) == false && tenant_id > 0) {
                                    this.rlist.push({name: tenant_name, uid: tenant_id});
                                    this.ridlist.push(tenant_id);
                                }
                            } else {
                                this.rlist = this.rRemove(this.rlist, tenant_id);
                                this.ridlist = this.ridRemove(this.ridlist, tenant_id);
                            }
                        }
                    }
                }
            }
            // this.$forceUpdate();
        },
        rRemove:function(arr, value) {
            return arr.filter(function(ele){
                return ele.uid != value;
            });
        },
        ridRemove:function(arr, value) {
            return arr.filter(function(ele){
                return ele != value;
            });
        },
        toggleUnitList:function(index) {
            if (typeof this.recipients[index].collapse != "undefined") {
                if (this.recipients[index].collapse == true) {
                    this.recipients[index].collapse = false;
                } else {
                    this.recipients[index].collapse = true;
                }
            } else {
                this.recipients[index].collapse = true;
            }
            this.$forceUpdate();
            // console.log(this.recipients);
        },
        emptyAnnouncementForm:function(e) {
            this.announcement_title = null;
            this.announcement_content = null;
            this.rlist = [];
            this.ridlist = [];
        },
        splitStringIntoArr:function(string, seperator) {
            var arr = [];
            if (string != null) {
                arr = string.split(seperator);
            }
            return arr;
        },
        getAnnouncementRecordByID: function(aid){
                var _this = this;
                axios.get('/mgr/get_announcement/'+aid).then(function(response) {
                        _this.aid = response.data.id;
                        _this.level = response.data.level;
                        _this.type = response.data.type;
                        // _this.typeID = response.data.typeID;
                        _this.tags = response.data.tag;
                        _this.allow_participant = response.data.show_event_btn;
                        _this.announcement_title = response.data.title;
                        _this.announcement_content = response.data.content;
                        _this.announcementStartDate = response.data.start_time;
                        _this.announcementEndDate = response.data.end_time;
                        _this.eventEndDate = response.data.eventEndDate;

                        var recipients = response.data.recipients;
                        for (var i = 0; i < recipients.length ; i++) {
                                _this.rlist.push({name: recipients[i].first_name+" "+recipients[i].last_name, uid: recipients[i].user_id});
                                _this.ridlist.push(recipients[i].user_id);
                        }
                });
        },
        addRecipients : function (tenant) {
                console.log(tenant);
                if (this.ridlist.includes(tenant.split(':')[0]) == false && tenant.split(':')[0] > 0) {
                    this.rlist.push({name: tenant.split(':')[1], uid: tenant.split(':')[0]});
                    this.ridlist.push(tenant.split(':')[0]);
                }
        },
        getRecipients : function (type, recipients) {
            this.rlist = [];
            this.ridlist = [];

            for (var index = 0; index < recipients.length ; index++) {
                var units = this.recipients[index].unit_tenant.split(',');
                
                if (units != null && units != '') {
                    for (var i = 0; i < units.length; i++) {
                        var tenants = units[i].split('-')[2];
                        var tenants = tenants.split('|');

                        for (var q = 0; q < tenants.length; q++) {
                            var tenant_id = tenants[q].split(':')[0];
                            var tenant_name = tenants[q].split(':')[1];
                            var tenant_type = tenants[q].split(':')[2];

                            if (type == 'all') {
                                if (tenant_id > 0  && this.ridlist.indexOf(tenant_id) == -1) {
                                    this.rlist.push({name: tenant_name, uid: tenant_id});
                                    this.ridlist.push(tenant_id);
                                }
                            } else {
                                if (type == tenant_type) {
                                    if (tenant_id > 0 && this.ridlist.indexOf(tenant_id) == -1) {
                                        this.rlist.push({name: tenant_name, uid: tenant_id});
                                        this.ridlist.push(tenant_id);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        rmRecipients : function (uid, index) {
            this.rlist.splice(index, 1);
            this.ridlist.splice(index, 1);
        },
        get_odcs_title:function(){
            let _this = this;
            let a = [];
            _this.docs.forEach(element => {
                a.push(element.name);   
            });
           _this.docs_title=a.toString();
        },

        onSubmit: function (ev) {
            var validator = this.kendoValidator;
            if (validator.validate()) {

                if (this.announcement_content != null && this.announcement_content != '') {
                    var _this = this;
                    _this.get_odcs_title();
                    _this.$root.isLoading = true;

                    axios.post('/mgr/announcement_store', {
                        aid: _this.aid,
                        announcement_status: _this.level,
                        announcement_type: _this.type,
                        announcement_tags: _this.tags,
                        allow_participant: _this.allow_participant,
                        announcement_title:_this.announcement_title,
                        announcement_content: _this.announcement_content,
                        announcement_startdate: _this.announcementStartDate,
                        announcement_enddate: _this.announcementEndDate ,
                        event_enddate: _this.eventEndDate,
                        recipient_list: _this.ridlist,
                        send_type: _this.sendType,
                        docs:_this.docs_title,
                    })
                    .then(function (response) {
                        if (response.data.success == 1) {
                            if ( _this.sendType != null) {
                                _this.checkAnnouncementForm(_this);
                            } else {
                                _this.$root.isLoading = false;
                                window.location.href = '/mgr/announcement';
                            } 
                        }
                    })
                    .catch(function (error) {
                        _this.output = error;
                        _this.$root.isLoading = false;
                    });
                }

            } else {
                
            }

        },
        checkAnnouncementForm:function(_t) {
			if(_t.sendType != null) {
				axios.post('/mgr/send_email', {
                    'type': _t.sendType, 
                    'recipients': _t.ridlist, 
                    'recipient_type': _t.inforRecipentsType, 
                    'action': 'create_announcement',
                    'announcement_content':_t.announcement_content
                }).then(function (response) {
                    _t.$root.isLoading = false;
                    _t.announcement_content = '';
                    window.location.href = '/mgr/announcement';
                }).catch(function (error) {
                    _t.output = error;
                    _t.$root.isLoading = false;
                });
		    }
        },
        getSelectedType:function(data) {
            this.type= data;
        },
        getSelectedTypeID:function(data) {
            this.typeID = data;
        },
        getSelectedTag:function(data) {
            this.tags.push(data);
        },
        delSelectedTag:function(data) {
            this.tags.splice(data, 1);
        },
        delAnnouncementTag:function(data) {
            var new_suggestion = [];
            for( var i = 0; i < this.announcement_tag.length; i++){ 
                if ( this.announcement_tag[i].id != data) {  
                    new_suggestion.push(this.announcement_tag[i]);
                }
            }
            this.announcement_tag = new_suggestion;
        },
		
		getSendingParams:function(infoParams) {
			this.sendType = infoParams.sendType;
			this.inforRecipentsType= infoParams.recipentsType;
		}
    }
};
</script>


<style>
.k-tooltip {
    background-color: transparent;
}
.add {
    font-size: 1.3em;
    float: right;
    margin: 0px 8px !important;
    cursor: pointer;
    position: relative;
}

.add > i {
    vertical-align: top;
    color: rgb(55, 156, 214);
    margin-top: 2px;
}

.add > .add-info {
    top: 24px !important;
    right: 0px !important;
}
.recipients_cont {
      height: 235px;    margin-top: 15px;
}

.txt_annountment {
      margin: 0px; width: 100%; height: 270px;resize: none;margin-top: 10px;padding: 10px;
}

.btn_announcement_post {
      float: right; margin-top: 5px;
}

.select_reci {
    text-align: left !important;padding-left: 15px;
}

.select_reci > i{
      text-align: right;float: right;margin-top: 3px;
}

.reci_list_cont {
      left: 50%;top: 100px;margin-left: -350px;position: absolute;width: 700px; height: 500px; overflow-y: auto;overflow-x: hidden;padding: 10px;border: 1px solid #cdcdcd;-webkit-border-radius: 4px;-moz-border-radius: 4px; border-radius: 4px; background-color: #fff;z-index: 1000;
}

.reci_list_cont .reci_header {
      margin: 12px 20px 28px 20px;
}

.reci_list_cont .reci_header h3 {
      margin: 0px; display: inline-block;
}

.reci_list_cont .reci_header i.fa-times {
      font-size: 1.8em;float: right;margin-top: 3px;margin-right: 5px;cursor: pointer;
}

.reci_list_cont .unit_group_title {
      text-align: left; border: 1px solid;padding: 12px;font-size: 1.2em;cursor: pointer;
}

.reci_list_cont .unit_group_title:hover {
      color: #fff;background-color: #43425D;
}

.reci_list_cont .unit_tenant {
      padding: 10px 15px 5px 15px;
}

.reci_list_cont .reci_group {
      margin: 20px;
}

.reci_list_cont .reci_group .unit_group_collapse {
      float: right;margin-top: 6px;
}

.reci_list_cont .reci_group .unit_group_title .group_unselect_all, .reci_list_cont .reci_group .unit_group_title .group_select_all {
      float: right;margin: 6px 10px;
}

.announcement_content {
      height:800px;
}

.announcement_recipients {
      background-color: #379cd6;color: #fff;padding: 6px;border-radius: 5px;display: inline-block;margin: 8px 4px;font-size: .85em;
}

.announcement_recipients i.fa-times {
     margin-left: 5px;cursor: pointer;
}

.reci_list {
      margin-bottom:25px;
}

.reci_list .reci_unit {
      display:block;
}

.reci_list .reci_record {
      float:left;display:inline-block;padding:5px 12px;font-size:.75em;background-color: #fff;border-radius: 25px;color:#43425D;border:1px solid #43425D;font-weight:100;margin: 3px 4px;cursor: pointer;
}

.reci_list .reci_record:hover {
      background-color: #43425D;color: #fff;
}


/* .template_list {
    width: 250px;
    height: 300px;
    border: 1px solid #dedede;
    position: absolute;
    z-index: 10000;
    background-color: #fff;
    right: 0px;overflow-x: hidden;
}


.template_list > li {
    padding: 10px 10px 15px;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}

.template_list > li:hover {
    background-color: #91c5e7;
}

.template_list > li .content {
    font-size: .8em;
} */
#down_arrow {
	position: absolute;
	right: 4px;
	top: 8px;
}

.type_status {
	padding: 0px !important;
	margin-top: -20px !important;
}
.type_status > .container_block{
	height: 300px;
	margin-bottom: 0px !important;
}
.type_status .col-md-6 {
	padding-left: 15px !important;
}
.type_status > .container_block > .field_block > .col-md-6 {
	margin-bottom: 15px;
}
/* .type_status > .container_block > div {
	background-color: white;
} */

.k-datepicker {
    min-width: 100%;
}

.isDisable{
    pointer-events:none;
}
</style>