<template>
      <div class="col" >
            <div style="position:relative;" >
                  <kendo-scheduler  id="bm_calendar"
                                    ref="bm_calendar"
                                    :data-source="localDataSource"
                                    :date="date"
                                    :height="view_height"
                                    :resources="resources"
                                    :mobile="false"
                                    :event-template="getEventTemplate"    
                                    :editable-move="false"
                                    :editable-resize="false"
                                    :editable-destroy="false"
                                    :editable-template="initBookingPopup"
                                    :editable-mode="'popup'"
                                    :editable-window-close="onClose"
                                    :start-time="start_time"
                                    :end-time="end_time"
                                    :all-day-slot="false"
                                    :selectable="true"
                                    :editable-edit-recurring-mode="'occurrence'"
                                    @change="onChange"
                                    @cancel="onClose"
                                    @edit="onEdit"
                                    @add="onAdd"
                                    @move="onMove"
                                    @navigate="onNavigate"
                                    @resize="onResize"
                                    @remove="onRemove">
                        <kendo-scheduler-view :type="'day'" v-if="day_view == true" :selected="view_selected == 'd'"></kendo-scheduler-view>
                        <kendo-scheduler-view :type="'week'" v-if="week_view == true" :selected="view_selected == 'w'"></kendo-scheduler-view>
                        <kendo-scheduler-view :type="'month'"   v-if="month_view == true" :selected="view_selected == 'm'" :event-height="100"></kendo-scheduler-view>
                  </kendo-scheduler>
                  <!--       :editable-edit-recurring-mode="'series'" - it is use to delete the recurring tasks without popup the prompt  -->
                  <!--       :editable-edit-recurring-mode="'occurrence'" -->
            </div>
            <popupRecurringMode></popupRecurringMode>
      </div>
</template>

<script>
import EventBus from '../event-bus';
import calendarEvent from '../calendar_event.vue'
import popupBooking from "../popup/popup_booking.vue";
import popupRecurringMode from '../popup/popup_recurring_mode.vue';

var itemTemplate = Vue.component(calendarEvent.name, calendarEvent);
var popupTemplate = Vue.component(popupBooking.name, popupBooking);

import { Scheduler } from '@progress/kendo-scheduler-vue-wrapper'
import { SchedulerResource } from '@progress/kendo-scheduler-vue-wrapper'
import { SchedulerView } from '@progress/kendo-scheduler-vue-wrapper'
import { SchedulerInstaller } from '@progress/kendo-scheduler-vue-wrapper'
import { TimePicker, DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'

Vue.use(SchedulerInstaller);
Vue.use(DateinputsInstaller);

export default {
      props: ['reservation','amenity','tenants','stype','contractor_list','bi_list','units', 'week_view', 'day_view', 'month_view','view_selected', 'view_height', 'start_time', 'end_time'],
      components: {
            Scheduler, TimePicker, popupRecurringMode
      },
      data(){
            return {
                  reservationBckUp: [],
                  date: new Date(),
                  CaseProgressTxt: [],
                  localDataSource: this.reservation.data
            }
      },
      methods:{
            goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
            initBookingPopup: function(e) {
                  if (e.typeId == 1) {
                        // open event popup
                        var case_id = this.getInspectionHistory(e, 'case_id');
                        if (case_id != null) {
                              this.goToDetailPage('case_detail/'+case_id);
                        }
                  } else {
                        return {
                              template: popupTemplate,
                              templateArgs:     Object.assign({}, e, {
                                                      parentComponent: this.$refs.bm_calendar,
                                                      contractor_list: this.contractor_list,
                                                      bi_list: this.bi_list,
                                                      tenants: this.tenants,
                                                      amenity: this.amenity,
                                                      stype: this.stype,
                                                      units: this.units,
                                                      start_date: e.start,
                                                      show_popup:true,
                                                      action: e.hasOwnProperty("typeId") ? e.typeId : null,
                                                      tenant_name: e.details,
                                                      //details: e.message
                                                })
                        };
                        
                  }
            },
            getInspectionHistory: function(e, field = null) {
                  if (e.typeId == 1) {         
                        var time_id = new Date(e.start).getTime();
                        if (e.subEvents.length > 0) {
                              for (var i = 0;i < e.subEvents.length; i++) {
                                    if (new Date(e.subEvents[i].booking_time_from).getTime() == time_id) {
                                          if (field == 'case_id') {
                                                return e.subEvents[i].case_id;
                                          } else if (field == 'id') {
                                                return e.subEvents[i].id;
                                          }
                                    }
                              }
                        }
                        return null;
                  }
            },
            getEventTemplate: function(e) {
                  return {
                        template: itemTemplate,
                        templateArgs:     Object.assign({}, e, {
                                                parentComponent: this.$refs.bm_calendar,
                                                txt_start_time: kendo.toString(e.start, "hh:mm tt"),
                                                txt_end_time: kendo.toString(e.end, "hh:mm tt"),
                                                // current_case_id: e.typeId == 1 ? this.getInspectionHistory(e, 0) : null,
                                                // current_case_progress: e.typeId == 1 ? this.getInspectionHistory(e, 5) : null,
                                                txtCaseProgress: this.CaseProgressTxt,
                                                event_alt: ''
                                          })
                  }
            },
            onRemove: function (e) {
                  //1 - not job type, 2 - job type, delete occurence, 3 - job type, delete series
                  var eventID  = null;
                  // if type is job and if it is recurring
                  if (e.typeId == 1) {
                        // if just delete 1 event from recurring
                        if (e.del_action == 1) {
                              eventID = this.getInspectionHistory(e, 'id');
                        } else if (e.del_action == 2) {
                              // if delete the series
                              eventID = e.id;
                        }
                  } else {
                        // if it is not job type
                        eventID = e.id;
                  }

                  if (eventID > 0) {
                        this.removeEvent(eventID, e.typeId, e.del_action);
                  } else {
                        console.log("Event cannot be deleted, please try again");
                        this.$refs.bm_calendar.setDataSource(this.localDataSource);
                  }
            },
            removeEvent:function(eventID, typeID, action) {
                  var _this = this;
                  axios.post('/mgr/remove_event', {
                        id: eventID,
                        type: typeID,
                        action: action
                  })
                  .then(function (response) {
                        if (response.data.success == true) {
                              for (var i = 0 ; i < _this.localDataSource.length; i++) {
                                    if (_this.localDataSource[i].id == eventID) {
                                          // if delete recurring events or normal reservation and car parking
                                          if (typeID != 1) {
                                                _this.localDataSource.splice(i,1);
                                          } else {
                                               _this.localDataSource[i] = response.data.data.data[0];
                                          }
                                    } else if (response.data.hasOwnProperty('parent_id')) {
                                          // if delete one event in recurring
                                          if (_this.localDataSource[i].id == response.data.parent_id) {
                                                _this.localDataSource[i] = response.data.data.data[0];
                                          }
                                    }
                              }
                              _this.$refs.bm_calendar.setDataSource(_this.localDataSource);
                        }
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            onEdit: function (ev) {
                  var _this = this;
                  ev.container.find(".k-edit-buttons").hide();
            },
            onNavigate: function (ev) {
                  var current_view = ev.view;
                  // var current_month = moment(String(ev.date)).format('MMMM DD Y hh:mm:ss');

                  var _this = this;
                  axios.post('/mgr/get_reservations_by_month', {
                        view: current_view,
                        month: new Date(String(ev.date)).toLocaleString("en-US", {timeZone: "Australia/Brisbane"})
                  })
                  .then(function (response) {
                        _this.reservationBckUp = response.data.data;
                        _this.localDataSource = response.data.data;
                        _this.reservation = response.data;
                        
                        _this.$parent.addCalendarType();
                        _this.$forceUpdate();
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            onClose: function (ev) {
                  console.log("Event :: close");
            },
            onAdd: function (ev) {},
            onMove: function (ev) {},
            onChange: function (ev) {},
            onResize: function (ev) {},
            onCancel: function (ev) {}
      },
      mounted: function() {
            var _this = this;
            _this.CaseProgressTxt = _this.$root.getCaseProgressTxt();

            //calendar_event.vue -> this vue -> popup_recurring_mode.vue
            EventBus.$on('open_modal', function (e) { 
                  EventBus.$emit("open_recurring_modal", e);
            });

            // popup_recurring_mode.vue -> this vue
            EventBus.$on('del_event', function (e) { 
                  _this.onRemove(e);
            });

            EventBus.$on('close_popup', function (e) {
                  var scheduler = _this.$refs.bm_calendar.kendoWidget();
                  scheduler.cancelEvent();
            });

            // Update localdatasource when popup is saved
            EventBus.$on('updateList', function (e) {
                  if (e.r_type == 'n') {
                        _this.localDataSource.push(e);
                        _this.reservation.data = _this.localDataSource;
                  } else {
                        for (var i = 0 ; i < _this.localDataSource.length; i++) {
                              if (_this.localDataSource[i].id == e.id) {
                                    _this.localDataSource[i] = e;
                              }
                        }
                  }
                  _this.$forceUpdate();
            });

            // hide / show events when clicking different event type 
            EventBus.$on('show_eventtype', function (ctype) {
                  _this.reservation.data = [];
                  for (var q = 0; q < _this.reservationBckUp.length; q++) {
                        if (ctype['ctype_arr'][_this.reservationBckUp[q].typeId] == true) {
                              if (ctype['show_confirmed_booking'] == true) {
                                    if (_this.reservationBckUp[q].typeId == 1) {
                                          var case_id = _this.getInspectionHistory(_this.reservationBckUp[q], 'case_id');
                                          if (case_id != null) {
                                                _this.reservation.data.push(_this.reservationBckUp[q]);
                                          }
                                    } else {
                                          _this.reservation.data.push(_this.reservationBckUp[q]);
                                    }
                              } else {
                                    _this.reservation.data.push(_this.reservationBckUp[q]);
                              }
                        }
                  }
                  _this.localDataSource = _this.reservation.data;
                  _this.$forceUpdate();
            })
      },
      created: function() {
            this.reservationBckUp = this.reservation.data;
            // example of event
            // var example = {
            //       amenity_id: 7,
            //       amenity_title: "test12",
            //       bi_id: 1,
            //       car_plate: null,
            //       comment: "12312313132",
            //       details: "12323131",
            //       end: "2021-1-25 9:00 AM",
            //       event_details: "211 - rob cha",
            //       event_object: "test12",
            //       id: 1234124,
            //       inspection_history: 1,
            //       message: 1,
            //       progress: 1,
            //       progress_title: "Approve",
            //       r_type: "n",
            //       recurrenceException: 1,
            //       recurrenceRule: 1,
            //       start: "2021-1-25 6:00 AM",
            //       start_date: "2021-1-25",
            //       tenant_id: 20,
            //       tenant_name: "211 - rob cha",
            //       txt_typeId: "3",
            //       typeId: "3",
            // }
            // this.localDataSource.push(ed);
            // this.$forceUpdate();
      }
}
</script>


<style lang="scss">
.chk_showConfirmCases {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;

      input {
            height: 40px;
            margin-right: 5px;
      }
      span {
            line-height: 48px;
            font-size: .7em;
      }
}

.k-widget.k-window {
      width: 670px;
}

.blg_admin_scheduler_template {
      .popup_content {
            position: fixed;
            height: 100vh;
            width: 100vw;
      }
}

.popup_content {
      .footer {
            text-align: right;
      }
}

.k-widget.k-window {
      top: 120px !important;

      &.popup_inspection  {
            top: 400px !important;            
      }
}

.k-event.k-state-selected {
      z-index: 100 !important;     
}

.k-button.k-scheduler-inspection {
    background-color: #379cd6;
    background-image: none;
    color: #fff;
}
.ia_title {
      display: flex;
      .title {
            flex: 5
      }

      .pf {
            flex:1;
            padding-left: 20px;
            span {
                  font-size: .75em;
                  margin: 0px 2px;
            }
      }
}
.event_inspection_action {
      .k-edit-label {
            float: none;
      }
}
.i_list {
      display: flex;
      border-top: 1px solid #d3d3d3;
      margin-top: 10px;

      &:first-child {
            border-top: 0px;;
            margin-top: 0px;
      }
      .i_name {
            flex: 5;
            line-height: 36px;
      }
      .i_result_cont {
            flex: 1;
            input[type='radio'] {
                  margin: 0px 0px 0px 10px;
                  font-size: 20px;
            }
      }
}

.k-scheduler-edit-form {
      .k-edit-form-container {
            min-width: 620px;
            width: 100%;
      }
}

.event_popup {
      // display: flex;
      .event_form {
            width: 620px;
            display: inline-block;
      }
      .event_inspection_action {
            width: 350px;;
            display: none;
            vertical-align: top;
            padding-left: 24px;
            margin-left: 10px;
            border-left: 1px solid #d6d6d6;
            max-height: 500px;
            overflow-y: auto;
      }
}

#inspection_frequency_inner {
      display: inline-block;line-height: 30px;
}
.k-tooltip {
      border: 0px;height: 0px;padding: 0px;
}
.sq_all {
      border: 1px solid ;
 
      &:hover {
            background-color: rgba(0, 0, 0, .1);
            p {
                 color: #000; 
            }
      }
}

.sq_task {
      border: 1px solid #ff7c73;
      .square {
            background-color: #ff7c73;
      }

      &:hover {
            background-color: rgba(255, 124, 115, .2);
            p {
                 color: #ff7c73; 
            }
      }
}

.sq_inspection {
      border: 1px solid #F1BF5E;
      .square {
            background-color: #F1BF5E;
      }

      &:hover {
            background-color: rgba(241, 191, 94, .2);
            p {
                 color: #F1BF5E; 
            }
      }
}

.sq_reservation {
      border: 1px solid #3e789d;
      .square {
            background-color: #3e789d;
      }

      &:hover {
            background-color: rgba(62, 120, 157, .2);
            p {
                 color: #3e789d; 
            }
      }
}

.sq_carparking {
      border: 1px solid #0C8346;
      .square {
            background-color: #0C8346;
      }

      &:hover {
            background-color: rgba(12, 131, 70, .2);
            p {
                 color: #0C8346; 
            }
      }
}

.template_event_1 {
      cursor: pointer;
      &:hover {
            background-color: rgba(255, 113, 0, .5)
      }
}

.template_event_2 {
      cursor: pointer;
      &:hover {
            background-color: rgba(241, 191, 94, .75);
      }
}

.template_event_3 {
      cursor: pointer;
      &:hover {
            background-color: rgba(62, 120, 157, .75);
      }
}

.template_event_4 {
      cursor: pointer;
      &:hover {
            background-color: rgba(12, 131, 70, .75);
      }
}

.k-scheduler-table tbody tr > td {
      &.k-other-month {
            background-color: rgba(55,156,214,0.1);
      }
      &:hover {
            background-color: rgba(55,156,214,0.3);cursor: pointer;
      }
}
.k-combobox, .k-dateinput, .k-datepicker, .k-datetimepicker, .k-timepicker, .k-widget.k-dropdown {
      width: 100% !important;;border-color: rgba(0,0,0,0.1);
}

.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-combobox .k-select {
      background-color: #fff !important;
      background-image: none !important;border-color: rgba(0,0,0,0.1);
}

.event_txtinput {
      width: 100%;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 14px;
      line-height: 1.4285714286;
      text-align: left;
      height: 30px;
      border: 1px solid rgba(0,0,0,0.1);
}

.k-scheduler-monthview .k-scheduler-table td {
        height: 350px !important;
      }
      
.fas.fa-list {
    font-size: 1.2em;
    margin: 5px 0px;
    color: #43425D;
    margin-right: 10px;
    float: right;
}
.k-header.km-header {
      padding: 6px;
}

.k-header.km-header a.k-button.k-scheduler-cancel {
      background: #43425D;color: #fff;font-size: .8em;margin-right: 10px;padding: 3px 10px;
}

.k-header.km-header a.k-button.k-scheduler-update {
      float: right;background: #55ce63; color: #fff;font-size: .8em;padding: 3px 10px;
}

.show_0_1, .show_1_0, .action {
      display: none;
}

.show_0_0, .show_1_1, .action_1_2_3_4, .action_1_2_3_4_5 {
      display: block;
}

ul#amenity_list {
      height: auto;display: inline-block;width: 100%;    padding: 15px;
}

ul#amenity_list > li {
      height: 24px;margin: 0px 10px 10px 0px;float:left;line-height: 24px;
}

ul#amenity_list > li .amenity_color_cont {
      width:24px;height: 24px;margin-right: 10px;float: left;
}
.square {
	width: 1em;
	height: 1em;
	float: left;
	text-align: center;
	vertical-align: center;
	margin: auto .5em;
}
.color_type {
	float: left;
}

.color_intro {
      text-align: right;
}

.color_intro > li {
	font-size: .75em;
    padding: 7px 15px;
    height: 30px;;
    display: inline-block;
    border-radius: 6px;
    margin-right: 6px;
    cursor: pointer;
}



.color_intro > li p {
      margin: 0px;
}

</style>