<template>
<div class="col" >
      <div style="position:relative;" >

                        <!--       :editable-edit-recurring-mode="'series'" - it is use to delete the recurring tasks without popup the prompt  -->
            <kendo-scheduler  id="bm_calendar"
                                          ref="bm_calendar"
                                          :data-source="localDataSource"
                                          :date="date"
                                          :height="view_height"
                                          :resources="resources"
                                          :mobile="false"
                                          :event-template="getEventTemplate"    
                                          :editable-move="false"
                                          :editable-resize="false"
                                          :editable-template="editableTemplate"
                                          :start-time="start_time"
                                          :end-time="end_time"
                                          :all-day-slot="false"
                                          :selectable="true"
                                          @change="onChange"
                                          @edit="onEdit"
                                          @add="onAdd"
                                          @cancel="onCancel"
                                          @dataBound="onDataBound"
                                          @move="onMove"
                                          @navigate="onNavigate"
                                          @resize="onResize"
                                          @remove="onRemove"
                                          @save="onSave">
                              <kendo-scheduler-view :type="'day'" v-if="day_view == true" :selected="view_selected == 'd'"></kendo-scheduler-view>
                              <kendo-scheduler-view :type="'week'" v-if="week_view == true" :selected="view_selected == 'w'"></kendo-scheduler-view>
                              <kendo-scheduler-view :type="'month'"   v-if="month_view == true" :selected="view_selected == 'm'" :event-height="85"></kendo-scheduler-view>
            </kendo-scheduler>
      </div>

     
</div>
</template>
<script>
import EventBus from '../event-bus';
import calendarEvent from '../calendar_event.vue'
var itemTemplate = Vue.component(calendarEvent.name, calendarEvent)

import { Scheduler } from '@progress/kendo-scheduler-vue-wrapper'
import { SchedulerResource } from '@progress/kendo-scheduler-vue-wrapper'
import { SchedulerView } from '@progress/kendo-scheduler-vue-wrapper'
import { SchedulerInstaller } from '@progress/kendo-scheduler-vue-wrapper'
import { TimePicker, DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'


Vue.use(SchedulerInstaller);
Vue.use(DateinputsInstaller);


export default {
      props: ['reservation','amenity','tenants','stype','contractor_list','bi_list','units', 'week_view', 'day_view', 'month_view','view_selected', 'view_height', 'start_time', 'end_time'],
      components: {
             Scheduler, TimePicker
      },
      data(){
            return {
                  tMin: '6:00 AM',
                  tMax: '9:00 PM',
                  inspectionMsg: null,
                  reservationBckUp: [],
                  editEvent: [],
                  // eventTemplate: this.getEventTemplate(),
                  editableTemplate : this.getPopupTemplate(),
                  date: new Date(),
                  localDataSource: this.reservation.data,
                  isEventPassed: false,
                  resources: [
                        {
                              field: "amenityId", // The field of the Scheduler event which contains the resource identifier.
                              title: "Amenity", // The label displayed in the Scheduler edit form for this resource.
                              dataTextField: "text",
                              dataValueField: "value",
                              dataColorField: "color",
                              dataSource: this.amenity
                              // editable-template format: <select id='amenityId' v-bind:value='amenityId' data-role='dropdownlist' data-value-field='value' data-text-field='text' /></select>
                        },
                        {
                              field: "tenant_id", // The field of the Scheduler event which contains the resource identifier.
                              title: "Tenant", // The label displayed in the Scheduler edit form for this resource.
                              dataTextField: "text",
                              dataValueField: "value",
                              dataColorField: "color",
                              dataSource: this.tenants,
                              dataOptionLabel:{text:'None',value:''},
                        },
                        {
                              field: "typeId", // The field of the Scheduler event which contains the resource identifier.
                              title: "Type", // The label displayed in the Scheduler edit form for this resource.
                              dataTextField: "text",
                              dataValueField: "value",
                              dataSource: this.stype,
                        },
                        {
                              field: "cid", 
                              title: "Contractor List", 
                              dataTextField: "comp_name",
                              dataValueField: "id",
                              dataSource: this.contractor_list,
                              dataOptionLabel:{comp_name:'None',id:''},
                        },
                        {
                              field: "bi_id", 
                              title: "Building Inspection List", 
                              dataTextField: "title",
                              dataValueField: "id",
                              dataSource: this.bi_list,
                              dataOptionLabel:{title:'None',id:''},
                        },
                        {
                              field: "location", // The field of the Scheduler event which contains the resource identifier.
                              title: "Location", // The label displayed in the Scheduler edit form for this resource.
                              dataTextField: "unit_title",
                              dataValueField: "id",
                              dataSource: this.units,
                        }
                       
                  ],
                 
            }
      },
      methods:{
            
            goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
            getEventTemplate: function(e) {
                  

                  // check whether the inspection has history 
                  var inspectionDone = false;
                  if (e.action == 2) {     
                        var event_start_time_ut = new Date(e.start).getTime();
                        var event_end_time_ut = new Date(e.end).getTime();
                        if (e.inspection_history != null && e.inspection_history != '') {
                              var history_arr = e.inspection_history.split('|');
                              for(var i = 0; i < history_arr.length; i++) {
                                    var each_history = history_arr[i].split(',')[1];

                                    if (each_history.split('-')[0] == (event_start_time_ut/1000) && each_history.split('-')[1] == (event_end_time_ut/1000)) {
                                          inspectionDone = true;
                                    }
                              }
                        }
                  }
                 
                  return {
                        template: itemTemplate,
                        templateArgs:     Object.assign({}, e, {
                                                parentComponent: this.$refs.bm_calendar,
                                                txt_start_time: kendo.toString(e.start, "hh:mm tt"),
                                                txt_end_time: kendo.toString(e.end, "hh:mm tt"),
                                                current_time: new Date().getTime(),
                                                inspectionDone: inspectionDone
                                          })
                  }
            },
            getPopupTemplate: function () {
              var t =   "<input type='hidden' name='id'>"+
                        "<div class='event_popup'>"+
                              "<div class='event_form event_input_form'>"+
                                    "<div class='col-md-6  k-edit-cont'>"+
                                          "<div class='k-edit-label'><label>Type</label></div>"+
                                          "<select id='typeId' name='typeId' data-role='dropdownlist' data-value-field='value' data-text-field='text'  /></select>"+
                                    "</div>"+

                                    "<div id='loc' class='loc col-md-6  k-edit-cont'>"+
                                          "<div class='k-edit-label'>"+
                                                "<label>Location</label>"+
                                                "<a href='/mgr/create_unit' class='calendar_add_link' target='_blank'><i class='fas fa-plus'></i></a>"+
                                          "</div>"+
                                          "<select id='location' name='location' data-role='combobox' data-placeholder='Select Unit or Enter a location' data-value-primitive='true' data-value-field='unit_title' data-text-field='unit_title'  /></select>"+
                                    "</div>"+

                                    "<div id='task_type' class='task_type col-md-6  k-edit-cont'>"+
                                          "<div class='k-edit-label'><label>Task Type</label></div>"+
                                          "<input id='txt_tasktype' name='txt_tasktype' class='event_txtinput' placeholder='Enter task type'/>"+
                                    "</div>"+

                                    "<div id='contractor_cont' class='contractor_cont col-md-6 k-edit-cont '>"+
                                          "<div class='k-edit-label'>"+
                                                "<label>Contractor List</label>"+
                                                "<a href='/mgr/recommend_contractor' class='calendar_add_link' target='_blank'><i class='fas fa-plus'></i></a>"+
                                          "</div>"+
                                          "<select id='cid' name='cid' data-role='dropdownlist' data-value-field='id' data-text-field='comp_name' data-option-label='{comp_name:\"None\",id:\"\"}' /></select>"+
                                    "</div>"+

                                    "<div id='bi_cont' class='bi_cont col-md-6 k-edit-cont ' >"+
                                          "<div class='k-edit-label'>   "+
                                                "<label>Building Inspection List</label>"+
                                                "<a href='/mgr/create_inspection' class='calendar_add_link' target='_blank'><i class='fas fa-plus'></i></a>"+
                                          "</div>"+
                                          "<select id='bi_id' name='bi_id' data-role='dropdownlist' data-value-field='id' data-text-field='title'  data-option-label='{title:\"None\",id:\"\"}' /></select>"+
                                    "</div>"+

                                    // "<div id='bii_cont' class='col-md-6 k-edit-cont ' >"+
                                    //       "<div class='k-edit-label'><label>Inspection Action</label></div>"+
                                    //       "<select id='bii_id' name='bii_id' data-role='dropdownlist' data-value-field='id' data-text-field='title'  /></select>"+
                                    // "</div>"+

                                    
                                    "<div id='tenant_cont' class='tenant_cont col-md-6 k-edit-cont '>"+
                                          "<div class='k-edit-label'><label>Tenant</label></div>"+
                                          // "<input type='text' name='title'  class='show_#= action #_1' readonly>"+
                                          "<select name='tenant_id' id='tenant_id' data-role='dropdownlist' data-value-field='value' data-text-field='text'  data-option-label='{text:\"None\",value:\"\"}'  /></select>"+
                                    "</div>"+
                                                
                                    "<div id='car_number' class='car_number col-md-6 k-edit-cont '>"+
                                          "<div class='k-edit-label'><label>Car Number | Modal</label></div>"+
                                          "<input id='car_plate' name='car_plate' class='event_txtinput'/>"+
                                    "</div>"+

                                    "<div id='amenity_cont' class='amenity_cont col-md-6  k-edit-cont '>"+
                                          "<div class='k-edit-label'>"+
                                                "<label>Amenity</label>"+
                                                "<a href='/mgr/new_amenity' class='calendar_add_link' target='_blank'><i class='fas fa-plus'></i></a>"+
                                          "</div>"+
                                          // "<input type='text' name='amenityTitle' class='show_#= action #_1' readonly>"+
                                          "<select name='amenity_id' id='amenity_id' data-role='dropdownlist' data-value-field='value' data-text-field='text' /></select>"+
                                    "</div>"+

                                    
                                    // parts for recurring events
                                    "<div id='event_recurring' class='event_recurring col-md-6 k-edit-cont'>"+
                                          "<div class='k-edit-label'><label>Recurring</label></div>"+
                                          "<select id='recurring_frequency' name='recurring_frequency' data-role='dropdownlist'>"+
                                                "<option value='none'>None</option>"+
                                                "<option value='DAILY'>Daily</option>"+
                                                "<option value='WEEKLY'>Weekly</option>"+
                                                "<option value='MONTHLY'>Monthly</option>"+
                                                "<option value='YEARLY'>Yearly</option>"+
                                          "</select>"+
                                    "</div>"+

                                    "<div id='inspection_frequency' class='inspection_frequency col-md-6 k-edit-cont'>"+
                                          "<div class='k-edit-label'><label>Recurring</label></div>"+
                                          
                                          "<div id='inspection_frequency_inner'></div>"+
                                    "</div>"+

                                    "<div id='start_time' class='start_time k-edit-cont col-md-6'>"+
                                          "<div class='k-edit-label'><label>From</label></div>"+
                                          "<input data-role='timepicker' name='start' data-bind='value: start' id='start' :min='tMin' :max='tMax'/>"+
                                          "<span class='k-widget k-tooltip k-tooltip-validation k-invalid-msg' data-for='start' ></span>"+
                                    "</div>"+
                                    "<div id='end_time' class='end_time col-md-6 k-edit-cont'>"+
                                          "<div class='k-edit-label'><label>To </label></div>"+
                                          "<input data-role='timepicker' name='end'  data-bind='value: end' id='end' :min='tMin' :max='tMax'/>"+
                                          "<span class='k-widget k-tooltip k-tooltip-validation k-invalid-msg' data-for='end'></span>"+
                                    "</div>"+
                                    "<div id='message' class='message col-md-12'>"+
                                          "<div class='k-edit-label'><label>Message</label></div>"+
                                          "<textarea id='details' name='details'></textarea>"+
                                          "<input id='event_object' name='event_object' style='display:none'/>"+
                                    "</div>"+
                                    "<div id='booking_approval' class='booking_approval k-mgr-edit-cont col-md-12'>"+
                                          "<div class='col-md-12'><label>Booking Approval </label></div>"+
                                          "<div class='col-md-4 k-edit-cont'>"+
                                                "<div class='k-edit-label'><label>Status</label></div>"+
                                                "<select id='reservation_status' name='reservation_status' class='reservation_status' data-bind='value:status'><option value='0'>Pending</option><option value='1'>Approve</option><option value='2'>Reject</option></select>"+
                                          "</div>"+
                                          "<div class='col-md-8'>"+
                                                "<div class='k-edit-label'><label>Comment</label></div>"+
                                                "<textarea name='comment' id='comment'></textarea>"+
                                          "</div>"+
                                    "</div>"+
                              "</div>"+

                              // label form

                              "<div class='event_label_form'>"+
                                    "<div class='col-md-6  k-edit-cont'>"+
                                          "<div class='k-edit-label'><label>Type</label></div>"+
                                          "<span class='type-label'></span>"+
                                    "</div>"+

                                    "<div id='loc' class='loc col-md-6  k-edit-cont'>"+
                                          "<div class='k-edit-label'>"+
                                                "<label>Location</label>"+
                                          "</div>"+
                                          "<span class='loc-label'></span>"+
                                    "</div>"+

                                    "<div id='task_type' class='task_type col-md-6  k-edit-cont'>"+
                                          "<div class='k-edit-label'><label>Task Type</label></div>"+
                                          "<span class='tasktype-label'></span>"+
                                    "</div>"+

                                    "<div id='contractor_cont' class='contractor_cont col-md-6 k-edit-cont '>"+
                                          "<div class='k-edit-label'>"+
                                                "<label>Contractor</label>"+
                                          "</div>"+
                                          "<span class='contractor_cont-label'></span>"+
                                    "</div>"+

                                    "<div id='bi_cont' class='bi_cont col-md-6 k-edit-cont ' >"+
                                          "<div class='k-edit-label'>   "+
                                                "<label>Building Inspection List</label>"+
                                          "</div>"+
                                          "<span class='bi_cont-label'></span>"+
                                    "</div>"+

                                    
                                    "<div id='tenant_cont' class='tenant_cont col-md-6 k-edit-cont '>"+
                                          "<div class='k-edit-label'><label>Tenant</label></div>"+
                                          "<span class='tenant_cont-label'></span>"+
                                    "</div>"+
                                                
                                    "<div id='car_number' class='car_number col-md-6 k-edit-cont '>"+
                                          "<div class='k-edit-label'><label>Car Number | Modal</label></div>"+
                                          "<span class='car_number-label'></span>"+
                                    "</div>"+

                                    "<div id='amenity_cont' class='amenity_cont col-md-6  k-edit-cont '>"+
                                          "<div class='k-edit-label'>"+
                                                "<label>Amenity</label>"+
                                          "</div>"+
                                          "<span class='amenity_cont-label'></span>"+
                                    "</div>"+

                                    
                                    // parts for recurring events
                                    "<div id='inspection_frequency' class='inspection_frequency col-md-6 k-edit-cont'>"+
                                          "<div class='k-edit-label'><label>Recurring</label></div>"+
                                          "<span class='inspection_frequency-label'></span>"+
                                    "</div>"+

                                    "<div id='start_time' class='start_time k-edit-cont col-md-6'>"+
                                          "<div class='k-edit-label'><label>From</label></div>"+
                                          "<span class='start_time-label'></span>"+
                                    "</div>"+
                                    "<div id='end_time' class='end_time col-md-6 k-edit-cont'>"+
                                          "<div class='k-edit-label'><label>To </label></div>"+
                                          "<span class='end_time-label'></span>"+
                                    "</div>"+
                                    "<div id='booking_approval' class='booking_approval k-mgr-edit-cont col-md-12'>"+
                                          "<div class='col-md-8'>"+
                                                "<div class='k-edit-label'><label>Comment</label></div>"+
                                                "<span class='Comment-label'></span>"+
                                          "</div>"+
                                    "</div>"+
                              "</div>"+

                              // inspection form

                              "<div class='event_inspection_form'>"+

                              "</div>"+
                        "</div>";
              return t;
            },
            onRemove: function (ev) {
                  console.log("Event :: remove");
                  if (ev.event.isRecurring()) {
                        if (ev.event.isRecurrenceHead()) {        // true if you are editing/deleting the series ; false if you edit occurence
                              // remove the series
                              this.removeEvent(ev);
                        } else {
                              this.removeCurrentOccurence(ev.event.recurrenceId, ev.event.start);
                        }
                  } else {
                        // remove the event which is not recurring
                        this.removeEvent(ev);
                  }
                 
            },
            removeCurrentOccurence:async function(rid, rstarttime) {
                  // _this.reservation.data[7].recurrenceException = new Date("2020-06-12 09:00").toISOString();
                  // var arr = _this.reservation.data;
                  // _this.$refs.bm_calendar.kendoWidget().setDataSource(arr);

                  var _this = this;
                  rstarttime = new Date(rstarttime);
                  var dateString = kendo.toString(kendo.parseDate(rstarttime), "yyyy-MM-dd HH:mm:ss");

                  return new Promise(function(resolve, reject) {
                        axios.post('/mgr/remove_current_occurence', {
                              id: rid,
                              start_time: dateString
                        })
                        .then(function (response) { 
                              if (response.data.success == true) {
                                    for (var i = 0; i < _this.reservation.data.length; i++) {
                                          if (_this.reservation.data[i].id == rid)  {

                                                if (_this.reservation.data[i].recurrenceException) {
                                                      _this.reservation.data[i].recurrenceException += ',';
                                                }
                                                _this.reservation.data[i].recurrenceException = _this.reservation.data[i].recurrenceException  + new Date(dateString).toISOString();
                                          }
                                    }
                                    
                                    var arr = _this.reservation.data;
                                    _this.$refs.bm_calendar.kendoWidget().setDataSource(arr);

                                    resolve('current event is excepted');
                              } else {
                                    reject('error: current event cannot be excepted');
                              }
                        })
                        .catch(function (error) {
                              reject('error: current event cannot be excepted - '+error);
                        });
                  });
            },
            removeEvent:function(ev) {
                   var _this = this;
                  axios.post('/mgr/remove_event', {
                        id: ev.event.id
                  })
                  .then(function (response) {
                        console.log(response);
                        if (response.data.success != true) {
                              ev.preventDefault();
                        }
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            onChange: function (ev) {
            //      console.log(ev);
                  var start = ev.start;
                  var end = ev.end;
                  var current_date = new Date();

                  if (current_date.getTime() >= end) {
                        this.isEventPassed = true;
                        ev.sender.options.editable.editRecurringMode = 'series';
                  } else {
                        this.isEventPassed = false;
                        ev.sender.options.editable.editRecurringMode = 'default';
                  }
                  // console.log("Event :: change"+ kendo.format("Selection between {0:g} and {1:g}", start, end));
            },
            onEdit: function (ev) {
                  console.log('Event :: edit');
                  var _this = this;
                  var type_txt = "Task";
                  var current_date = new Date();

                  // check if event is passed
                  if (this.isEventPassed == true) {
                         ev.container.find(".k-edit-buttons").hide();
                         ev.container.find(".event_input_form").hide();
                         ev.container.find(".event_label_form").show();
                  } else {
                        ev.container.find(".k-edit-buttons").show();
                        ev.container.find(".event_input_form").show();
                        ev.container.find(".event_label_form").hide();
                  }


                  // update type text
                  if (ev.event.typeId == 1) {
                        type_txt = "Task";
                  } else if (ev.event.typeId == 2) {
                        type_txt = "Inspection";
                  } else if (ev.event.typeId == 3) {
                        type_txt = "Reservation";
                  } else if (ev.event.typeId == 4) {
                        type_txt = "Car Parking";
                  }

                  // default action to show and hide the fields
                  ev.event.action = ev.event.action == null || ev.event.action == '' ? 1 : ev.event.action;
                  this.updatePopupContent(ev);

                  // update recurring in edittemplate
                  ev.container.find("#recurring_frequency").kendoDropDownList({
                        change: function(e) {
                              if (e.sender.value() != 'none') {
                                    ev.event.recurring_frequency = "FREQ="+e.sender.value();
                              } else {
                                    ev.event.recurring_frequency = "none";
                              }
                        }
                  });


                  // update select in edittemplate
                  ev.container.find("#typeId").kendoDropDownList({
                        change: function(e) {
                              ev.event.action = e.sender.value();
                              _this.updatePopupContent(ev);
                             
                        },
                  });

                  // building inspection area 
                  ev.container.find("#bi_id").kendoDropDownList({
                        change: function(e) {
                              var ilist = "";
                              var ia = [];

                              var items = [];
                              var frequency = '';
                            
                              var bi_data = ev.sender.resources[4].dataSource.data();
                              for (var i = 0; i < bi_data.length; i++) {
                                    if (e.sender.value() == bi_data[i].id) {
                                          
                                          frequency = bi_data[i].frequency;
                                          ilist += _this.generateInspectionLists(e.sender.value(), bi_data[i], ia);
                                    }
                              }

                              if (ilist != null && ilist != '') {
                                    ev.container.find(".event_inspection_action").css({"display":"inline-block"}).html("").append(ilist);
                              }

                              
                              var inspection_frequency = ev.container.find("#inspection_frequency_inner");
                              if (frequency == 1) {
                                    ev.event.recurring_frequency = "FREQ=DAILY";
                                    inspection_frequency.html('DAILY');
                              } else if (frequency == 2) {
                                    ev.event.recurring_frequency = "FREQ=WEEKLY";
                                    inspection_frequency.html('WEEKLY');
                              } else if (frequency == 3) {
                                    ev.event.recurring_frequency = "FREQ=MONTHLY";
                                    inspection_frequency.html('MONTHLY');
                              } else if (frequency == 4) {
                                    ev.event.recurring_frequency = "FREQ=YEARLY";
                                    inspection_frequency.html('YEARLY');
                              } else  {
                                    ev.event.recurring_frequency = "";
                                    inspection_frequency.html('None');
                              }

                        }
                  });
       
                  // event start time
                  var start_label = ev.container.find(".start_time-label");
                  var startTime = ev.container.find("#start").data("kendoTimePicker");
                  startTime.min(this.start_time);
                  startTime.max(this.end_time);
                  start_label.html(ev.event.txt_start);

                  // event end time
                  var end_label = ev.container.find(".end_time-label");
                  var endTime = ev.container.find("#end").data("kendoTimePicker");
                  endTime.min(this.start_time);
                  endTime.max(this.end_time);
                  end_label.html(ev.event.txt_end);



                  // editable-template format edit action
                  var type_label = ev.container.find(".type-label");
                  type_label.html(type_txt);

                  // building inspections
                  var bi_label = ev.container.find(".bi_cont-label");
                  var bi_list = ev.container.find("#bi_id").data("kendoDropDownList");
                  bi_list.dataSource.data(ev.sender.resources[4].dataSource.data());
                  bi_list.value(ev.event.bi_id); 
                  if (ev.event.bi_id > 0) {
                        for (var bi_count = 0; bi_count < ev.sender.resources[4].dataSource.data().length; bi_count++) {
                              if (ev.sender.resources[4].dataSource.data()[bi_count].id == ev.event.bi_id) {
                                    bi_label.html(ev.sender.resources[4].dataSource.data()[bi_count].title);
                              }
                        }
                  } else {
                        bi_label.html('None');
                  }

                  // contractor
                  var contractor_label = ev.container.find(".contractor_cont-label");
                  var contractor_list = ev.container.find("#cid").data("kendoDropDownList");
                  contractor_list.dataSource.data(ev.sender.resources[3].dataSource.data());
                  contractor_list.value(ev.event.cid); 
                  if (ev.event.cid > 0) {
                        for (var c_count = 0; c_count < ev.sender.resources[3].dataSource.data().length; c_count++) {
                              if (ev.sender.resources[3].dataSource.data()[c_count].id == ev.event.cid) {
                                    bi_label.html(ev.sender.resources[3].dataSource.data()[c_count].comp_name);
                              }
                        }
                  } else {
                        contractor_label.html('None');
                  }


                  // recurring
                  var r_arr = ['DAILY',"WEEKLY","MONTHLY","YEARLY"];
                  var if_label = ev.container.find(".inspection_frequency-label");
                  if_label.html("None");
                  r_arr.forEach((val,indx)=>{
                        if (ev.event.recurrenceRule != null && ev.event.recurrenceRule != '') {
                              if (ev.event.recurrenceRule.includes(val)) {
                                    if_label.html(val);
                              }
                        }
                  });

                  // amenity
                  var amenity_label = ev.container.find(".amenity_cont-label");
                  var amenityId = ev.container.find("#amenity_id").data("kendoDropDownList");
                  amenityId.dataSource.data(ev.sender.resources[0].dataSource.data());
                  amenityId.value(ev.event.amenity_id); 
                  if (ev.event.amenity_id > 0) {
                        for (var a_count = 0; a_count < ev.sender.resources[0].dataSource.data().length; a_count++) {
                              if (ev.sender.resources[0].dataSource.data()[a_count].value == ev.event.amenity_id) {
                                    amenity_label.html(ev.sender.resources[0].dataSource.data()[a_count].text);
                              }
                        }
                  } else {
                        contractor_label.html('None');
                  }

                  // tenant
                  var tenant_label = ev.container.find(".tenant_cont-label");
                  var tenantId = ev.container.find("#tenant_id").data("kendoDropDownList");
                  tenantId.dataSource.data(ev.sender.resources[1].dataSource.data());
                  tenantId.value(ev.event.tenant_id); 
                  if (ev.event.tenant_id > 0) {
                        for (var t_count = 0; t_count < ev.sender.resources[1].dataSource.data().length; t_count++) {
                              // console.log(ev.sender.resources[1].dataSource.data()[t_count]);
                              if (ev.sender.resources[1].dataSource.data()[t_count].value == ev.event.tenant_id) {
                                    tenant_label.html(ev.sender.resources[1].dataSource.data()[t_count].text);
                              }
                        }
                  } else {
                        contractor_label.html('None');
                  }

                  // task type
                  var tasktype_label = ev.container.find(".tasktype-label");
                  if (ev.event.task_type != null && ev.event.task_type != '') {
                        tasktype_label.html(ev.event.task_type );
                  } else {
                        tasktype_label.html('None');
                  }

                  // location
                  var loc_label = ev.container.find(".loc-label");
                  var location = ev.container.find("#location").data("kendoComboBox");
                  location.dataSource.data(ev.sender.resources[5].dataSource.data()); // set data inside the select
                  location.value(ev.event.location);  // it is used to pre-set the value for the select
                  loc_label.html(ev.event.location);


                  // car plate
                  var car_label = ev.container.find(".car_number-label");
                  car_label.html(ev.event.car_plate);


                  var typeId = ev.container.find("#typeId").data("kendoDropDownList");
                  typeId.dataSource.data(ev.sender.resources[2].dataSource.data()); // set data inside the select
                  typeId.value(ev.event.typeId);  // it is used to pre-set the value for the select

                  ev.container.find("#details")[0].value = ev.event.details;
                  ev.container.find("#reservation_status")[0].value = ev.event.status;

                  // comment & status
                  var status_label = 'Approve';
                  if (ev.event.status == 1) {
                        status_label = 'Approve';
                  } else if (ev.event.status == 2) {
                        status_label = 'Reject';
                  } else if (ev.event.status == 0) {
                        status_label = 'Pending';
                  } 

                  var Comment_label = ev.container.find(".Comment-label");
                  ev.container.find("#comment")[0].value = ev.event.comment;
                  Comment_label.html(status_label+" - "+ev.event.comment);


                  if (ev.event.typeId == 1) {
                        ev.container.find("#txt_tasktype")[0].value = ev.event.task_type != null && ev.event.task_type != '' ? ev.event.task_type : '';
                        var recurring_frequency = ev.container.find("#recurring_frequency").data("kendoDropDownList");
                        var recurrenceRule = '' ;
                        
                        recurring_frequency.value('none');
                        ev.event.recurring_frequency = 'none';
                        if (ev.event.recurrenceRule != null && ev.event.recurrenceRule != '') {
                              var recurrenceArr = ev.event.recurrenceRule.split(";");
                              for(var i = 0; i < recurrenceArr.length; i++) {
                                    if (recurrenceArr[i].includes("FREQ=")) {
                                          recurrenceRule =  recurrenceArr[i].substring(
                                                                  recurrenceArr[i].lastIndexOf("FREQ=") + 5, 
                                                                  recurrenceArr[i].length
                                                            );
                                          ev.event.recurring_frequency = "FREQ="+ recurrenceRule;             
                                          recurring_frequency.value(recurrenceRule);
                                    } 
                              }
                        } 
                  }

                  if (ev.event.typeId == 2) {
                        var ilist = "";
                        var ia = [];
                        if (ev.event.inspection_actions != null) {
                              ia = ev.event.inspection_actions.split('|');
                        }
   
                        var bi_data = ev.sender.resources[4].dataSource.data();
                        for (var i = 0; i < bi_data.length; i++) {
                              
                              if (ev.event.bi_id == bi_data[i].id) {
                                    ilist += this.generateInspectionLists(ev.event.bi_id, bi_data[i], ia);
                              }
                        }
                        
                        if (ilist != null && ilist != '') {
                              ev.container.find(".event_inspection_action").css({"display":"inline-block"}).append(ilist);
                        }

                        var inspection_frequency = ev.container.find("#inspection_frequency_inner");
                        var recurrenceRule = '' ;
                        inspection_frequency.html('none');
                        ev.event.recurring_frequency = 'none';
                        if (ev.event.recurrenceRule != null && ev.event.recurrenceRule != '') {
                              var recurrenceArr = ev.event.recurrenceRule.split(";");
                              for(var i = 0; i < recurrenceArr.length; i++) {
                                    if (recurrenceArr[i].includes("FREQ=")) {
                                          recurrenceRule =  recurrenceArr[i].substring(
                                                                  recurrenceArr[i].lastIndexOf("FREQ=") + 5, 
                                                                  recurrenceArr[i].length
                                                            );
                                          ev.event.recurring_frequency = "FREQ="+ recurrenceRule;             
                                          inspection_frequency.html(recurrenceRule);
                                    } 
                              }
                        } 

                  }
            },
            generateInspectionLists:function(bi_id, bi_data, ia) {
                  var ilist = "<div class='k-edit-label ia_title'><label class='title'>Inspection Actions</label><label class='pf'><span>Pass</span><span>Fail</span></label></div>";
                  var items_arr = bi_data.items.split('|');
                  for (var q = 0; q < items_arr.length; q++) {
                                          var item = items_arr[q].split('-');
                                          var selected_bir_id = '';
                                          var selected_bii_id = '';
                                          var selected_bii_result_y = '';
                                          var selected_bii_result_n = '';
                                          var selected_bii_msg = '';

                                          // get inspection actions
                                          //console.log(ia);
                                          if (ia.length > 0) {
                                                for (var p = 0; p < ia.length; p++) {
                                                      var each_ia = ia[p].split(',');
                                                      
                                                      if (each_ia[1] == item[0]) {
                                                            selected_bir_id = each_ia[0];
                                                            selected_bii_id = each_ia[1];
                                                            selected_bii_result_y = each_ia[2] == 1 || each_ia[2] == '1' ? 'checked' : '';
                                                            if (selected_bii_result_y == '') {
                                                                  if (each_ia[2] == '0') {
                                                                        selected_bii_result_n = 'checked';
                                                                  }
                                                            }
                                                            
                                                            selected_bii_msg = each_ia[3];
                                                      }
                                                }
                                          }
                                          
                                          ilist += "<div class='i_action'>";
                                                ilist += "<div class='i_list'>";
                                                      ilist += "<input type='hidden' class='bir_id' value='"+selected_bir_id+"'>";
                                                      ilist += "<input type='hidden' class='i_action_id' value='"+item[0]+"'>";
                                                      ilist += "<span class='i_name'>- "+item[1]+"</span>";
                                                      ilist += "<div class='i_result_cont'>";
                                                            ilist += "<input type='radio' class='i_result' name='i_result_"+item[0]+"' value='1' "+selected_bii_result_y+">";
                                                            ilist += "<input type='radio' class='i_result' name='i_result_"+item[0]+"' value='0' "+selected_bii_result_n+">";
                                                      ilist += "</div>";
                                                ilist += "</div>";
                                                ilist += "<div class='i_result_txtarea'>";
                                                      ilist += "<textarea class='i_result_txt'>"+selected_bii_msg+"</textarea>";
                                                ilist += "</div>";
                                          ilist += "</div>";
                  }
                  return ilist;
            },
            updatePopupContent: function (ev) {
                  if (ev.event.action == 1) {
                                    ev.container.find(".loc").show();
                                    ev.container.find(".task_type").show();
                                    ev.container.find(".event_recurring").show();
                                    ev.container.find(".start_time").show();
                                    ev.container.find(".end_time").show();
                                    ev.container.find(".message").show();

                                    ev.container.find(".inspection_frequency").hide();
                                    ev.container.find(".booking_approval").hide();
                                    ev.container.find(".bi_cont").hide();
                                    ev.container.find(".bii_cont").hide();
						ev.container.find(".car_number").hide();
                                    ev.container.find(".amenity_cont").hide();
                                    ev.container.find(".contractor_cont").hide();
                                    ev.container.find(".tenant_cont").hide();
                  } else if (ev.event.action == 2) {
                                    ev.container.find(".bi_cont").show();
                                    ev.container.find(".bii_cont").show();
                                    ev.container.find(".start_time").show();
                                    ev.container.find(".end_time").show();
                                    ev.container.find(".contractor_cont").show();
                                    ev.container.find(".message").show();
                                    ev.container.find(".inspection_frequency").show();

                                    ev.container.find(".event_recurring").hide();
                                    ev.container.find(".booking_approval").hide();
                                    ev.container.find(".task_type").hide();
                                    ev.container.find(".loc").hide();
						ev.container.find(".car_number").hide();
                                    ev.container.find(".amenity_cont").hide();
                                    ev.container.find(".tenant_cont").hide();
                  } else if (ev.event.action == 3) {
                                    ev.container.find(".tenant_cont").show();
                                    ev.container.find(".amenity_cont").show();
                                    ev.container.find(".message").show();
                                    ev.container.find(".start_time").show();
                                    ev.container.find(".end_time").show();
                                    ev.container.find(".booking_approval").show();

                                    ev.container.find(".contractor_cont").hide();
                                    ev.container.find(".task_type").hide();
                                    ev.container.find(".loc").hide();
						ev.container.find(".car_number").hide();
                                    ev.container.find(".event_recurring").hide();
                                    ev.container.find(".bi_cont").hide();
                                    ev.container.find(".bii_cont").hide();
                  } else if (ev.event.action == 4) {
                                    ev.container.find(".tenant_cont").show();
                                    ev.container.find(".car_number").show();
                                    ev.container.find(".message").show();
                                    ev.container.find(".start_time").show();
                                    ev.container.find(".end_time").show();
                                    ev.container.find(".booking_approval").show();
                                    
                                    ev.container.find(".contractor_cont").hide();
                                    ev.container.find(".task_type").hide();
                                    ev.container.find(".loc").hide();
                                    ev.container.find(".event_recurring").hide();
                                    ev.container.find(".bi_cont").hide();
                                    ev.container.find(".bii_cont").hide();
                                    ev.container.find(".amenity_cont").hide();
			}
            },
            onAdd: function (ev) {
                  console.log('event add');
                  
                  if (typeof ev.event['isRecurring'] !== 'undefined') { 
                        if (ev.event.isRecurring()) {
                                    this.editEvent.id = ev.event.id;
                                    this.editEvent.typeId = ev.event.typeId;

                                    this.editEvent.status = ev.event.status;
                                    this.editEvent.comment = ev.event.comment;
                                    this.editEvent.car_plate = ev.event.car_plate;
                                    this.editEvent.details = ev.event.details;
                                    this.editEvent.action = ev.event.action;

                                    this.editEvent.location = ev.event.location;
                                    this.editEvent.txt_tasktype = ev.event.txt_tasktype;
                                    this.editEvent.recurring_frequency = ev.event.recurring_frequency;
                                    this.editEvent.event_object = ev.event.event_object;
                                    this.editEvent.event_desc = ev.event.event_desc;
                                    this.editEvent.bi_id = ev.event.bi_id;
                                    this.editEvent.bii_id = ev.event.bii_id;
                                    this.editEvent.bii_title = ev.event.bii_title;
                                    this.editEvent.cid = ev.event.cid ;
                                    this.editEvent.amenity_id = ev.event.amenity_id;
                                    this.editEvent.amenity_title = ev.event.amenity_title;
                                    this.editEvent.area_name = ev.event.area_name;
                                    this.editEvent.tenant_id = ev.event.tenant_id;
                                    this.editEvent.case_id = ev.event.case_id;
                                    this.editEvent.comp_name = ev.event.comp_name;
                                    this.editEvent.end = ev.event.end;
                                    this.editEvent.start = ev.event.start;
                                    this.editEvent.progress_title = ev.event.progress_title;
                                    this.editEvent.recurrenceException = ev.event.recurrenceException;
                                    this.editEvent.recurrenceId = ev.event.recurrenceId;
                                    this.editEvent.recurrenceRule = ev.event.recurrenceRule;
                                    this.editEvent.task_type = ev.event.task_type;
                                    this.editEvent.tenant_name = ev.event.tenant_name;
                                    this.editEvent.txt_end = ev.event.txt_end;
                                    this.editEvent.txt_start = ev.event.txt_start;
                                    this.editEvent.typeId = ev.event.typeId;
                        } 
                  } else {
                        this.editEvent = [];
                        ev.event.id = '';
                        ev.event.typeId = 1;

                        ev.event.status = '1';
                        ev.event.comment = '';
                        ev.event.car_plate = '';
                        ev.event.details = '';
                        ev.event.action = '1';

                        ev.event.location = null;
                        ev.event.txt_tasktype = null;
                        ev.event.recurring_frequency = 'none';
                        ev.event.event_object = null;
                        ev.event.event_desc  = null;
                        ev.event.bi_id = null;
                        ev.event.bii_id = null;
                        ev.event.cid = null;
                        ev.event.amenity_id = null;
                        ev.event.tenant_id = null;
                  }
            },
            onCancel: function (ev) {
                  console.log("Event :: cancel");
            },
            onDataBound: function (ev) {
                  console.log("Event :: dataBound");
            },
            onMove: function (ev) {
                  console.log("Event :: move");
            },
            onNavigate: function (ev) {
                  console.log("Event :: navigate");
                  var current_view = ev.view;
                  // var current_month = moment(String(ev.date)).format('MMMM DD Y hh:mm:ss');

                  var _this = this;
                  axios.post('/mgr/get_reservations_by_month', {
                        view: current_view,
                        month: new Date(String(ev.date)).toLocaleString("en-US", {timeZone: "Australia/Brisbane"})
                  })
                  .then(function (response) {
                        _this.localDataSource = response.data.data;
                        _this.reservation = response.data;

                        _this.reservationBckUp.length=0;
                        for (var i = 0; i < _this.localDataSource.length; i++) {
                              _this.reservationBckUp.push(_this.localDataSource[i]);
                        }
                        EventBus.$emit("refresh_ctype_tick",[]);
                        _this.$forceUpdate();

                  })
                  .catch(function (error) {
                        // 
                  });
            },
            onResize: function (ev) {
                  console.log("Event :: resize");
            },
            onSave: function (ev) {
                  console.log("Event :: save");
                  var _this = this;
                  var type = null;
                  var tid = null;
                  var cid = null;
                  var aid = null;
                  var bid = null;
                  var biid = null;

                  if (ev.event.hasOwnProperty('typeId') && ev.event.typeId != null && ev.event.typeId != '') {
                        if (ev.event.typeId.hasOwnProperty('value')) {
                              type = ev.event.typeId.value;
                        } else {
                              type = ev.event.typeId;
                        }
                  }

                  if (ev.event.hasOwnProperty('amenity_id') && ev.event.amenity_id != null && ev.event.amenity_id != '') {
                        if (ev.event.amenity_id.hasOwnProperty('value')) {
                              aid = ev.event.amenity_id.value;
                        } else {
                              aid = ev.event.amenity_id;
                        }
                  } 

                  if (ev.event.hasOwnProperty('cid') && ev.event.cid != null && ev.event.cid != '') {
                        if (ev.event.cid.hasOwnProperty('id')) {
                              cid = ev.event.cid.id;
                        } else {
                              cid = ev.event.cid;
                        }
                  }

                  if (ev.event.hasOwnProperty('tenant_id') && ev.event.tenant_id != null && ev.event.tenant_id != '') {
                        if (ev.event.tenant_id.hasOwnProperty('value')) {
                              tid = ev.event.tenant_id.value;
                        } else {
                              tid = ev.event.tenant_id;
                        }
                  }

                  if (ev.event.hasOwnProperty('bi_id') && ev.event.bi_id != null && ev.event.bi_id != '') {
                        if (ev.event.bi_id.hasOwnProperty('id')) {
                              bid = ev.event.bi_id.id;
                        } else {
                              bid = ev.event.bi_id;
                        }
                  }

                  // if (ev.event.hasOwnProperty('bii_id') && ev.event.bii_id != null && ev.event.bii_id != '') {
                  //       if (ev.event.bii_id.hasOwnProperty('id')) {
                  //             biid = ev.event.bii_id.id;
                  //       } else {
                  //             biid = ev.event.bii_id;
                  //       }
                  // }

                  // dynamically edit event template
                  var event_object = '';
                  if (type == 1 ) {
                        event_object = ev.container.find("#txt_tasktype")[0].value;
                        if (ev.event.location != null && ev.event.location != '' && event_object != null && event_object != '') {
                              event_object = event_object + ' - ';
                        } 

                        event_object = event_object + ev.event.location;
                  } else if (type == 2) {
                        var bi_list = ev.container.find("#bi_id").data("kendoDropDownList").dataSource._data;
                        //var bii_list = ev.container.find("#bii_id").data("kendoDropDownList").dataSource._data;
               

                        for (var b = 0; b < bi_list.length; b++) {
                              if (bid == bi_list[b].id) {
                                    event_object = bi_list[b].title;
                              }
                        }

                        // if (biid != null && biid != '') {
                        //       for (var i = 0; i < bii_list.length; i++) {
                        //             if (biid == bii_list[i].id) {
                        //                   event_object = event_object + ' - '  +bii_list[i].title;
                        //             }
                        //       }
                        // }

                  } else if (type == 3) {
                        var tenant_list = ev.sender.resources[1].dataSource.options.data;
                        var amenity_list = ev.sender.resources[0].dataSource.options.data;

                        for (var a = 0; a < amenity_list.length; a++) {
                              if (aid == amenity_list[a].value) {
                                    event_object = amenity_list[a].text;
                              }
                        }

                        if (event_object != '' && event_object != null && aid > 0) {
                              event_object += ' - ';
                        }

                        for (var t = 0; t < tenant_list.length; t++) {
                              if (tid == tenant_list[t].value) {
                                    event_object += tenant_list[t].text;
                              }
                        }
                              
                  }  else if (type == 4) {
                        var tenant_list = ev.sender.resources[1].dataSource.options.data;  
                       
                        event_object = ev.event.car_plate + ' - ';
                        for (var t = 0; t < tenant_list.length; t++) {
                              if (tid == tenant_list[t].value) {
                                    event_object += tenant_list[t].text;
                              }
                        }
                  } 

                  if (ev.event.details != null && ev.event.details != '' ) {
                        event_object = event_object + '<br/>' + ev.event.details;
                  }


                  // 1
                  ev.event.location = type == 1 ? ev.event.location : '';
                  ev.event.txt_tasktype = type == 1 ?  ev.container.find("#txt_tasktype")[0].value : '';
                  //ev.event.recurrenceRule = (type == 1 || type == 2) && ev.event.recurring_frequency != "none" ?  ev.event.recurring_frequency : '';

                  if (type == 1 || type == 2) {
                        var recurringEnd = "";
                        if (ev.event.recurrenceRule != null && ev.event.recurrenceRule != '') {
                              var recurrenceArr = ev.event.recurrenceRule.split(";");
                              for(var i = 0; i < recurrenceArr.length; i++) {
                                    if (recurrenceArr[i].includes("UNTIL=")) {
                                          recurringEnd =    recurrenceArr[i].substring(
                                                                  recurrenceArr[i].lastIndexOf("UNTIL="), 
                                                                  recurrenceArr[i].length
                                                            );
                                    }
                              }
                        }

                        if (ev.event.recurring_frequency != "none") {
                              ev.event.recurrenceRule = ev.event.recurring_frequency +";"+ recurringEnd;
                        } else {
                              ev.event.recurrenceRule = recurringEnd;
                        }
                        
                  } else {
                        ev.event.recurrenceRule = '';
                  }
                  


                  // 2 
                  ev.event.cid = type == 2 ? cid : '';
                  ev.event.bi_id = type == 2 ? bid : '';
                  //ev.event.bii_id = type == 2 ? biid : '';

                  var action_arr = [];
                  var i_action = document.getElementsByClassName('i_action');
                  for (var y = 0; i_action[y]; y++) {
                        var action_result = null;
                        var bir_id = i_action[y].querySelector('.bir_id').value;
                        var action_id = i_action[y].querySelector('.i_action_id').value;
                       
                        if (document.querySelectorAll('input[name="i_result_'+action_id+'"]:checked').length > 0) {
                              action_result = i_action[y].querySelector('input[name="i_result_'+action_id+'"]:checked').value;
                        }
                              
                        var action_msg = i_action[y].querySelector('.i_result_txt').value;
                        action_arr.push({'id' : action_id, 'bir_id': bir_id, 'result' : action_result, 'msg' : action_msg});
                  }
                  ev.event.bi_actions = action_arr;




                  // 3
                  ev.event.amenity_id = type == 3 ? aid : '';
                  ev.event.tenant_id = type == 3 || type == 4 ? tid : '';

                  // 4
                  ev.event.car_plate = type == 4 && ev.event.car_plate != '' && ev.event.car_plate != null ? ev.event.car_plate : '';

                  // global
                  ev.event.typeId = type;
                  ev.event.action = type;
                  ev.event.status = ev.event.status == '' || ev.event.status == null ? 0 : ev.event.status;
                  ev.event.details = ev.event.details == '' || ev.event.details == null ? '' : ev.event.details;
                  ev.event.event_object = event_object;

                  // check whether it is edit occurence on recurring
                  ev.event.edit_occurence = false;

                  // dynamically edit event template
                  if (ev.event.isRecurring()) {
                        if (ev.event.hasOwnProperty("recurrenceId")) {      
                              ev.event.edit_occurence = true;
                        }
                  } 
                  console.log(ev.event);
                  this.validate_event_action(ev, type, bid, cid, tid, aid);

            }, validate_event_action: function(ev, type, bid, cid, tid, aid) {
                  if (ev.event.edit_occurence == true) {
                        var _this = this;
                        var rid = ev.event.recurrenceId;
      
                        console.log("removing current event now");
                        Promise.resolve(this.removeCurrentOccurence(rid, this.editEvent.start)).then(function(resultA) {
                              console.log(resultA);
                              return _this.update_reservation_by_admin(ev, type, bid, cid, tid, aid);
                        });
                  } else {
                        this.update_reservation_by_admin(ev, type, bid, cid, tid, aid);
                  }
            },update_reservation_by_admin: function (ev, type, bid, cid, tid, aid) {
                  var _this = this;

                  axios.post('/mgr/update_reservation_by_admin', {
                        id: ev.event.id,
                        typeId: type,
                        progress: ev.event.status,
                        details: ev.event.details,
                        start_date: ev.event.start_date,
                        start: ev.event.start,
                        end: ev.event.end,
                        comment: ev.event.comment,

                        location: ev.event.location,
                        tasktype: ev.event.txt_tasktype,
                        recurrenceRule: ev.event.recurrenceRule,
                        bi_list:  bid,
                        // bii_id: ev.event.bii_id,
                        bi_actions: ev.event.bi_actions,
                        contractor_list: cid,
                        newTenant: tid,
                        amenityId: aid,
                        car_plate: ev.event.car_plate, 
                        edit_occurence: ev.event.edit_occurence
                  })
                  .then(function (response) {
                        if (response.data.action == "create_reservation" && response.data.success == true) {
                              ev.event.id = response.data.id;

                              var new_arr = {
                                    id: ev.event.id,
                                    action: type,
                                    typeId: type,
                                    progress: ev.event.status,
                                    details: ev.event.details,
                                    start_date: ev.event.start_date,
                                    start: ev.event.start,
                                    end: ev.event.end,
                                    comment: ev.event.comment,

                                    location: ev.event.location,
                                    tasktype: ev.event.txt_tasktype,
                                    recurrenceRule: ev.event.recurrenceRule,
                                    bi_list:  bid,
                                    // bii_id: ev.event.bii_id,
                                    contractor_list: cid,
                                    newTenant: tid,
                                    amenity_id: aid,
                                    amenity_title: ev.event.amenity_title,
                                    car_plate: ev.event.car_plate, 
                                    edit_occurence: ev.event.edit_occurence,

                                    area_name: ev.event.area_name,
                                    bi_id: ev.event.bi_id,
                                    bii_title: ev.event.bii_title,
                                    case_id: ev.event.case_id,
                                    cid: ev.event.cid,
                                    comp_name: ev.event.comp_name,
                                    event_object: ev.event.event_object,
                                    event_desc: ev.event.event_desc,
                                    progress_title: ev.event.progress_title,
                                    recurrenceException: ev.event.recurrenceException,
                                    status: ev.event.status,
                                    tenant_id: ev.event.tenant_id,
                                    tenant_name: ev.event.tenant_name,
                                    txt_end: ev.event.txt_end,
                                    txt_start: ev.event.txt_start
                              };

                              if (response.data.hasOwnProperty("inspection_actions")) {
                                    new_arr.inspection_actions = response.data.inspection_actions;
                              }

                              _this.reservation.data.push(new_arr);
                              //console.log(_this.reservation.data);
                              _this.$refs.bm_calendar.kendoWidget().setDataSource(_this.reservation.data);
                        } else {
                              if (response.data.hasOwnProperty("inspection_actions")) {
                                    ev.event.inspection_actions = response.data.inspection_actions;
                              }
                              //console.log(ev.event);
                        }

                        
                           
                  })
                  .catch(function (error) {
                        // 
                        console.log(error);
                  });

            },
      },
      computed: {

      },
      mounted: function() {
            var _this = this;
            var items = "";

            EventBus.$on('update_ctype', function (ctype) {
                  // while (_this.reservation.data.length) {
                  //       _this.reservation.data.pop();
                  // }
                  _this.reservation.data.length=0;
                  _this.localDataSource.length=0;
 
                  for (var q = 0; q < _this.reservationBckUp.length; q++) {
                        _this.reservation.data.push(_this.reservationBckUp[q]);
                  }

                  for (var i = 0; i < _this.reservation.data.length; i++) {
                        if (ctype[_this.reservation.data[i].typeId] == false) {
                              // console.log(i+" "+_this.reservation.data[i].id+" "+_this.reservation.data[i].typeId);
                              _this.reservation.data.splice(i, 1);   
                              i--;
                        }
                  }

                  _this.localDataSource = _this.reservation.data;

                  // console.log( _this.reservation.data);
                  // console.log( _this.reservationBckUp);
                  // console.log( _this.localDataSource);

                  _this.$forceUpdate();
 
            })
      },
      created: function() {
            console.log(this.stype);
            // console.log(this.reservation.data);
            // this.reservation.data[5].recurrenceException = new Date("2020-06-26 00:30").toISOString();

            // console.log(new Date("2020-06-26 00:30 AM").toISOString() );
            for (var i = 0; i < this.reservation.data.length; i++) {
                  if (this.reservation.data[i].recurrenceException != null && this.reservation.data[i].recurrenceException != '') {
                        var str = this.reservation.data[i].recurrenceException;                      
                        var ar = str.split(',');
                   
                        for (var q = 0; q < ar.length; q++) {
                              if (ar[q] != null && ar[q] != '') {
                                    ar[q] = new Date(ar[q]).toISOString();
                              }
                        }
                        ar.toString(); 
                        this.reservation.data[i].recurrenceException = ar;
                  }
            }
            
            for (var i = 0; i < this.reservation.data.length; i++) {
                  this.reservationBckUp.push(this.reservation.data[i]);
            }
 
           
      }

}

</script>



<style lang="scss">
.k-event.k-state-selected {
      z-index: 100 !important;     
}

.k-button.k-scheduler-inspection {
    background-color: #379cd6;
    background-image: none;
    color: #fff;
}
.ia_title {
      display: flex;
      .title {
            flex: 5
      }

      .pf {
            flex:1;
            padding-left: 20px;
            span {
                  font-size: .75em;
                  margin: 0px 2px;
            }
      }
}
.event_inspection_action {
      .k-edit-label {
            float: none;
      }
}
.i_list {
      display: flex;
      border-top: 1px solid #d3d3d3;
      margin-top: 10px;

      &:first-child {
            border-top: 0px;;
            margin-top: 0px;
      }
      .i_name {
            flex: 5;
            line-height: 36px;
      }
      .i_result_cont {
            flex: 1;
            input[type='radio'] {
                  margin: 0px 0px 0px 10px;
                  font-size: 20px;
            }
      }
}

.k-scheduler-edit-form {
      .k-edit-form-container {
            min-width: 620px;
            width: 100%;
      }
}

.event_popup {
      // display: flex;
      .event_form {
            width: 620px;
            display: inline-block;
      }
      .event_inspection_action {
            width: 350px;;
            display: none;
            vertical-align: top;
            padding-left: 24px;
            margin-left: 10px;
            border-left: 1px solid #d6d6d6;
            max-height: 500px;
            overflow-y: auto;
      }
}

#inspection_frequency_inner {
      display: inline-block;line-height: 30px;
}
.k-tooltip {
      border: 0px;height: 0px;padding: 0px;
}
.sq_all {
      border: 1px solid ;
 
      &:hover {
            background-color: rgba(0, 0, 0, .1);
            p {
                 color: #000; 
            }
      }
}

.sq_task {
      border: 1px solid #ff7c73;
      .square {
            background-color: #ff7c73;
      }

      &:hover {
            background-color: rgba(255, 124, 115, .2);
            p {
                 color: #ff7c73; 
            }
      }
}

.sq_inspection {
      border: 1px solid #F1BF5E;
      .square {
            background-color: #F1BF5E;
      }

      &:hover {
            background-color: rgba(241, 191, 94, .2);
            p {
                 color: #F1BF5E; 
            }
      }
}

.sq_reservation {
      border: 1px solid #3e789d;
      .square {
            background-color: #3e789d;
      }

      &:hover {
            background-color: rgba(62, 120, 157, .2);
            p {
                 color: #3e789d; 
            }
      }
}

.sq_carparking {
      border: 1px solid #0C8346;
      .square {
            background-color: #0C8346;
      }

      &:hover {
            background-color: rgba(12, 131, 70, .2);
            p {
                 color: #0C8346; 
            }
      }
}

.template_event_1 {
      cursor: pointer;
      &:hover {
            background-color: rgba(255, 113, 0, .5)
      }
}

.template_event_2 {
      cursor: pointer;
      &:hover {
            background-color: rgba(241, 191, 94, .75);
      }
}

.template_event_3 {
      cursor: pointer;
      &:hover {
            background-color: rgba(62, 120, 157, .75);
      }
}

.template_event_4 {
      cursor: pointer;
      &:hover {
            background-color: rgba(12, 131, 70, .75);
      }
}

.k-scheduler-table tbody tr > td {
      &.k-other-month {
            background-color: rgba(55,156,214,0.1);
      }
      &:hover {
            background-color: rgba(55,156,214,0.3);cursor: pointer;
      }
}
.k-combobox, .k-dateinput, .k-datepicker, .k-datetimepicker, .k-timepicker, .k-widget.k-dropdown {
      width: 100% !important;;border-color: rgba(0,0,0,0.1);
}

.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-combobox .k-select {
      background-color: #fff !important;
      background-image: none !important;border-color: rgba(0,0,0,0.1);
}

.event_txtinput {
      width: 100%;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 14px;
      line-height: 1.4285714286;
      text-align: left;
      height: 30px;
      border: 1px solid rgba(0,0,0,0.1);
}

.k-scheduler-monthview .k-scheduler-table td {
        height: 350px !important;
      }
      
.fas.fa-list {
    font-size: 1.2em;
    margin: 5px 0px;
    color: #43425D;
    margin-right: 10px;
    float: right;
}
.k-header.km-header {
      padding: 6px;
}

.k-header.km-header a.k-button.k-scheduler-cancel {
      background: #43425D;color: #fff;font-size: .8em;margin-right: 10px;padding: 3px 10px;
}

.k-header.km-header a.k-button.k-scheduler-update {
      float: right;background: #55ce63; color: #fff;font-size: .8em;padding: 3px 10px;
}

.show_0_1, .show_1_0, .action {
      display: none;
}

.show_0_0, .show_1_1, .action_1_2_3_4, .action_1_2_3_4_5 {
      display: block;
}

ul#amenity_list {
      height: auto;display: inline-block;width: 100%;    padding: 15px;
}

ul#amenity_list > li {
      height: 24px;margin: 0px 10px 10px 0px;float:left;line-height: 24px;
}

ul#amenity_list > li .amenity_color_cont {
      width:24px;height: 24px;margin-right: 10px;float: left;
}
.square {
	width: 1em;
	height: 1em;
	float: left;
	text-align: center;
	vertical-align: center;
	margin: auto .5em;
}
.color_type {
	float: left;
}

.color_intro {
      text-align: right;
}

.color_intro > li {
	font-size: .75em;
    padding: 7px 15px;
    height: 30px;;
    display: inline-block;
    border-radius: 6px;
    margin-right: 6px;
    cursor: pointer;
}



.color_intro > li p {
      margin: 0px;
}

</style>