
<template>
<div class="col" >
      <div class="col-md-12">
            <div class="container_block">
                  <div class="container_header">
                        <h4 class="col-md-4">ALL BOOKINGS</h4>
						
                        <ul class="calendar_type color_intro col-md-8">
                              <li class="sq_task" v-bind:class="{ 'active':(c_task == true)}" @click="updateCaledarType('t')">
                                    <i class="fas fa-check"></i>
                                    <p>Jobs</p>
                              </li>

                              <!-- <li class="sq_inspection" v-bind:class="{ 'active':(c_inspection == true)}" @click="updateCaledarType('i')">
                                    <i class="fas fa-check"></i>
                                    <p>Inspection</p>
                              </li> -->

                              <li class="sq_reservation" v-bind:class="{ 'active':(c_reservation == true)}" @click="updateCaledarType('r')">
                                    <i class="fas fa-check"></i>
                                    <p>Reservations</p>
                              </li>

                              <li class="sq_carparking" v-bind:class="{ 'active':(c_carparking == true)}" @click="updateCaledarType('cp')">
                                    <i class="fas fa-check"></i>
                                    <p>Parkings</p>
                              </li>
                              <li class="sq_all" @click="goToDetailPage('/mgr/scheduler_list')">
                                    <i class="fas fa-bars"></i>
                              </li>
                        </ul>
                  </div>
                  <div class="container_desc">
                        All the booking records will be displayed on the calendars below, click on the record and you will see the details of booking at the right side of calendar. Admin can set the status on the bottom of the booking details, and an email will be sent to the tenant automatically.
                  </div>

                  <div style="position:relative;">
                        <div class="chk_showConfirmCases">
					<input type="checkbox" @click="updateShowConfirmedBooking()">
					<span> Only show confirm recurrence bookings</span>
				</div>
                        <calendar :reservation="reservation" :amenity="amenity" :tenants="tenants" :stype="stype" :contractor_list="contractor_list" :bi_list="bi_list" :units="units" :day_view="day_view" :week_view="week_view" :month_view="month_view" :view_selected="view_selected" :view_height="view_height" :start_time="start_time" :end_time="end_time"></calendar>
                  </div>
            </div>
            
      </div>
      
</div>

</template>

<script>
import EventBus from '../event-bus';
import calendar from './calendar.vue';

export default {
      props: ['reservation','amenity','tenants','stype','contractor_list','bi_list','units'],
      components: {
            calendar
      },
      data(){
            return {
                  c_task: true,
			c_inspection: true,
			c_reservation: true,
			c_carparking: true,
                  c_showConfirmedBooking: false,
                  day_view: true,
                  week_view: true,
                  month_view: true,
                  view_selected: 'm',
                  view_height: '800',
                  start_time: "6:00 AM",
                  end_time: "9:00 PM"
            }
      },
      methods:{
            goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
            updateShowConfirmedBooking:function() {
			this.c_showConfirmedBooking = this.c_showConfirmedBooking == false ? true : false;
			this.addCalendarType();
		},
            updateCaledarType: function(type) {
			switch (type) {
				case 't':
					this.c_task = this.c_task == false ? true : false;
				break;
				case 'i':
					this.c_inspection = this.c_inspection == false ? true : false;
				break;
				case 'r':
					this.c_reservation = this.c_reservation == false ? true : false;
				break;
				case 'cp':
					this.c_carparking = this.c_carparking == false ? true : false;
				break;
			}
                  this.addCalendarType();
		},
		addCalendarType:function() {
			var ctype_arr = [];
			ctype_arr[1] = this.c_task ;
			ctype_arr[2] = this.c_inspection;
			ctype_arr[3] = this.c_reservation;
			ctype_arr[4] = this.c_carparking;

			var ctype = [];
			ctype['ctype_arr'] = ctype_arr;
			ctype['show_confirmed_booking'] = this.c_showConfirmedBooking;

			EventBus.$emit("show_eventtype",ctype);
		},
      },
      computed: {

      },
      mounted: function() {
            var _this = this;
            
            EventBus.$on('refresh_ctype_tick', function (ctype) {
                  _this.c_task = true;
			_this.c_inspection = true;
			_this.c_reservation = true;
			_this.c_carparking = true;
            });
      },
      created: function() {
           

      }

}


</script>


<style lang="scss">
ul.calendar_type {
	display: flex;
	padding: 5px;
	height: 44px;
	align-items: end;
    	justify-content: flex-end;

	> li {
            font-size: .75em;
		margin-right: 10px;
		color: #fff;
		border-radius: 5px;
		display: flex;
    		align-items: center;
		cursor: pointer;
            padding: 0px;
            height: auto;

            &.sq_all {
                  border: 1px solid grey;
                  color: grey;
                  i {
                        line-height: 10px;
                        padding: 10px;
                        font-size: 1.2em;
                  }
            }

		p {
			height: 100%;
			margin: 0px;
			line-height: 30px;
			padding: 0px 10px;
			flex: 6;
		}
            
            &:not(.sq_all) {
                  i {
                        display: none;
                        color: #fff;
                        padding-left: 10px;
                  }
            }

		&.active {
			i {
				display: inline-block;
				flex: 1;
			}
		}
	}
}

.sq_task {
	background-color: #fff;
	border:1px solid #ff7100;

	> p {
		color: #ff7100;
	}
	&.active{
      	background-color: #ff7100;

		> p {
			color: #fff;
		}
	}

      &:hover {
            background-color: rgba(255, 124, 115, .2);
            p {
                 color: #ff7100; 
            }
      }
}

.sq_inspection {
      background-color: #fff;
	border:1px solid #F1BF5E;

	> p {
		color: #F1BF5E;
	}

	&.active{
      	background-color: #F1BF5E;

		> p {
			color: #fff;
		}
	}

      &:hover {
            background-color: rgba(241, 191, 94, .2);
            p {
                 color: #F1BF5E; 
            }
      }
}

.sq_reservation {
      background-color: #fff;
	border:1px solid #3e789d;

	> p {
		color: #3e789d;
	}

	&.active{
      	background-color: #3e789d;

		> p {
			color: #fff;
		}
	}
   
      &:hover {
            background-color: rgba(62, 120, 157, .2);
            p {
                 color: #3e789d; 
            }
      }
}

.sq_carparking {
      background-color: #fff;
	border:1px solid #0C8346;

	> p {
		color: #0C8346;
	}

	&.active{
      	background-color: #0C8346;

		> p {
			color: #fff;
		}
	}

      &:hover {
            background-color: rgba(12, 131, 70, .2);
            p {
                 color: #0C8346; 
            }
      }
}


#inspection_frequency_inner {
      display: inline-block;line-height: 30px;
}
.k-tooltip {
      border: 0px;height: 0px;padding: 0px;
}
.sq_all {
      border: 1px solid ;
 
      &:hover {
            background-color: rgba(0, 0, 0, .1);
            p {
                 color: #000; 
            }
      }
}

.sq_task {
      border: 1px solid #ff7c73;
      .square {
            background-color: #ff7c73;
      }

      &:hover {
            background-color: rgba(255, 124, 115, .2);
            p {
                 color: #ff7c73; 
            }
      }
}

.sq_inspection {
      border: 1px solid #F1BF5E;
      .square {
            background-color: #F1BF5E;
      }

      &:hover {
            background-color: rgba(241, 191, 94, .2);
            p {
                 color: #F1BF5E; 
            }
      }
}

.sq_reservation {
      border: 1px solid #3e789d;
      .square {
            background-color: #3e789d;
      }

      &:hover {
            background-color: rgba(62, 120, 157, .2);
            p {
                 color: #3e789d; 
            }
      }
}

.sq_carparking {
      border: 1px solid #0C8346;
      .square {
            background-color: #0C8346;
      }

      &:hover {
            background-color: rgba(12, 131, 70, .2);
            p {
                 color: #0C8346; 
            }
      }
}

.k-scheduler-table tbody tr > td:hover {
      background-color: rgba(55,156,214,0.3);cursor: pointer;
}
.k-combobox, .k-dateinput, .k-datepicker, .k-datetimepicker, .k-timepicker, .k-widget.k-dropdown {
      width: 100% !important;;border-color: rgba(0,0,0,0.1);
}

.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-combobox .k-select {
      background-color: #fff !important;
      background-image: none !important;border-color: rgba(0,0,0,0.1);
}

.event_txtinput {
      width: 100%;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 14px;
      line-height: 1.4285714286;
      text-align: left;
      height: 30px;
      border: 1px solid rgba(0,0,0,0.1);
}

.k-scheduler-monthview .k-scheduler-table td {
        height: 350px !important;
      }
      
.fas.fa-list {
    font-size: 1.2em;
    margin: 5px 0px;
    color: #43425D;
    margin-right: 10px;
    float: right;
}
.k-header.km-header {
      padding: 6px;
}

.k-header.km-header a.k-button.k-scheduler-cancel {
      background: #43425D;color: #fff;font-size: .8em;margin-right: 10px;padding: 3px 10px;
}

.k-header.km-header a.k-button.k-scheduler-update {
      float: right;background: #55ce63; color: #fff;font-size: .8em;padding: 3px 10px;
}

.show_0_1, .show_1_0, .action {
      display: none;
}

.show_0_0, .show_1_1, .action_1_2_3_4, .action_1_2_3_4_5 {
      display: block;
}

ul#amenity_list {
      height: auto;display: inline-block;width: 100%;    padding: 15px;
}

ul#amenity_list > li {
      height: 24px;margin: 0px 10px 10px 0px;float:left;line-height: 24px;
}

ul#amenity_list > li .amenity_color_cont {
      width:24px;height: 24px;margin-right: 10px;float: left;
}
.square {
	width: 1em;
	height: 1em;
	float: left;
	text-align: center;
	vertical-align: center;
	margin: auto .5em;
}
.color_type {
	float: left;
}

.color_intro {
      text-align: right;
}


.color_intro > li p {
      margin: 0px;
}

</style>