<template>
      <div>
            <div id="main_cate">
                  <ul id="main_cate_list">
                        <li v-bind:class="{ active: cateMenu == 'a' }" @click="getListContent('a')">All<div class="bottom_border"></div></li>
                        <li v-bind:class="{ active: cateMenu == 'c' }" @click="getListContent('c')">Car Parking<div class="bottom_border"></div></li>
                        <li v-for="(key, index) in amenities" v-bind:class="{ active: cateMenu == key.id }" @click="getListContent(key.id)">
                              {{ key.name }}
                              <div class="bottom_border"></div>
                        </li>
                        <li>
                              <a href="/mgr/new_amenity" target="_blank"><i class="fas fa-plus"></i></a>
                        </li>
                  </ul>
            </div>

            <div class="col list_header">
                  <div class="list_title">
                        <div class="chkbox_cont">
                              <input type="checkbox" @change="hideClosedBookingRecords();"> 
                              <span class="txt_chkbox"> Hide expired / closed reservations</span>
                        </div>
                  </div>
                  <div class="list_filter">
                        <kendo-datepicker :min="minDate"
                              :max="maxDate"
                              :value="currentDate"
                              :format="'yyyy/MMMM/dd'">
                        </kendo-datepicker>
                        <input type="text" placeholder="Search Tenant or Contructor Name" class="input_search"  name="input_search" v-model="search_term" >
                        <button class="btn_filter" @click="searchByKeywords">Search</button>
                        <a v-bind:href="'/mgr/reservation'" id="btn_to_calendar">
                              <i class="far fa-calendar-alt"></i>
                        </a>
                  </div>
            </div>

            <div class="container_block">
                  <div class="list_cont active">
                        <div class="list_header">
                              <div class="list_fields w_5">
                                    <check-box ref="eventBus" section="scheduler_list" :data="scheduler_list" @updateCheckedItem="check_box=$event"></check-box>
                              </div>
                              <div class="list_fields w_40">
                                    SUBJECT
                              </div>
                              <div class="list_fields w_10 c_align" v-if="cateMenu == 'a'">
                                    Type
                              </div>
                              <div class="list_fields w_15 c_align">FROM</div>
                              <div class="list_fields w_15 c_align">TO</div>
                              <div class="list_fields w_10 c_align">
                                    STATUS
                                    <i class="fas fa-caret-down" v-bind:class="{ active: s_seq == 'a' }" @click="updateListOrder('d')"></i>
                                    <i class="fas fa-caret-up" v-bind:class="{ active: s_seq == 'd' }"  @click="updateListOrder('a')"></i>
                              </div>
                              <div class="list_fields w_15 c_align">ACTIONS</div>
                        </div>
                              
                                    
                        <div class="list_row" v-for="(key, data) in scheduler_list">
                              <div class="list_fields w_5">
                                    <input type="checkbox" class="styled_checkbox" ref="cb_item" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                    <label for="styled-checkbox"></label>
                              </div>
                              <div class="list_fields w_40">
                                    <h4 class="event_subject">{{ key.event_object }}</h4>
                                    <span class="event_content">- {{ key.event_details }}</span>
                              </div>
                              <div class="list_fields w_10 c_align" v-if="cateMenu == 'a'">
                                    <span class="tagcont" :class="'cont_'+key.typeId" v-if="key.typeId=='3'">
                                          Reservation
                                    </span>

                                    <span class="tagcont" :class="'cont_'+key.typeId" v-if="key.typeId=='4'">
                                          Car Park
                                    </span>
                              </div>
                              <div class="list_fields w_15 c_align">{{ new Date(key.start).toLocaleString('en-US') }}</div>
                              <div class="list_fields w_15 c_align">{{ new Date(key.end).toLocaleString('en-US') }}</div>
                              <div class="list_fields w_10 c_align">
                                    <span class="tagcont" :class="'cont_'+key.progress">
                                          {{ key.progress_title }}
                                    </span>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <button class="list_btn btn_edit" @click="onEdit(key)">
                                          <i class="fas fa-pen"></i>
                                    </button>
                                    <a @click="onRemove(key)" class="list_btn btn_del">
                                          <i class="fa fa-times"></i>
                                    </a>
                              </div>
                        </div>           
                  </div>
                  <pagination :pagination="list_pagination"></pagination>
            </div>
      </div>
</template>

<script>
import mixin from '../../mixins.js';
import EventBus from '../event-bus';
import pagination from '../PaginationComponent.vue';
import { DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'

Vue.use(DateinputsInstaller)

export default {
      props: ['page','page_qty','type','order','search_term','search_date','amenities', 'stype'],
      components: {
            pagination
      },
      mixins: [mixin],
      data(){
            return {
                  cateMenu : 'a',
                  s_seq : 'a',
                  //search_term: null,
                  scheduler_list: [],
                  list_pagination: [],
                  hideClosedBookings: false,
                  minDate: new Date(2020, 1, 1),
                  maxDate: new Date(2030, 12, 31),
                  currentDate: new Date(),
                  check_box:{
                        checkedItem:[],
                        isCheckAll:false,
                  },
                  cate_left_hidden: 0,
                  cate_total: this.amenities.length + 3,
                  order : 'desc',
            }
      },
      methods:{
            hideClosedBookingRecords: function() {
                  this.hideClosedBookings = this.hideClosedBookings == false ? true : false;
                  this.getSchedulerList(1, this.page_qty, this.cateMenu, this.order, this.search_term, this.search_date);    
            },    
            dateCompare: function(start_date) {
                  var sdate = new Date().toLocaleDateString("en-US");
                  return new Date(start_date).getTime() > new Date(sdate).getTime();
            },
            onEdit: function(key) {
                  //copy object to selectedEvent
                  var selectedEvent = new Object;
                  Object.assign(selectedEvent, key);

                  selectedEvent.start_date = this.getFormatDateBydate(key);
                  selectedEvent.start = new Date(key.start).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
                  selectedEvent.end = new Date(key.end).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });

                  EventBus.$emit('initPopUp', selectedEvent);
            },
            // deprecated
            // toggleCate: function(direction){
            //       if (direction == 'l') {
            //             this.amenities.push(this.amenities[0]);
            //             this.amenities.splice(0,1);
            //       } else {
            //             var last = this.amenities.length - 1;
            //             var last_rec = this.amenities[last];
            //             this.amenities.splice(last,1);
            //             this.amenities.unshift(last_rec);
            //       }
            //       this.$forceUpdate();
            // },
            updateItem(){
                  var selected_data = {
                        'ids' : this.check_box.checkedItem,
                        'type' : 'scheduler',
                  }
                  EventBus.$emit("selected_data", selected_data);
             },
            onRemove: function (key) {
                  var _this = this;
                  if (confirm('Are you sure you want to delete this record?')) {
                        axios.post('/mgr/remove_event', {
                              id: key.id,
                              type: key.typeId,
                              action: null
                        })
                        .then(function (response) {
                              if (response.data.success == true) {
                                    for (var i = 0; i < _this.scheduler_list.length; i++) {
                                          if (_this.scheduler_list[i].id == key.id) {
                                                _this.scheduler_list.splice(i, 1);
                                          }
                                    }
                                    _this.$forceUpdate();
                              }
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            searchByKeywords:function() {
                  this.getSchedulerList(1, this.page_qty, this.cateMenu, this.order, this.search_term, this.search_date);    
            },

            updateListOrder:function (order) {
                  this.order = order;
                  this.s_seq = order;
                  this.getSchedulerList(1, this.page_qty, this.cateMenu, order, this.search_term, this.search_date);    
            },

            getListContent:function(type) {
                  this.search_term = null;
                  this.cateMenu = type;

                  this.getSchedulerList(1, this.page_qty, type, this.order, this.search_term, this.search_date);    
            },
            getSchedulerList: function (page, page_qty, type, order, search_term, search_date) {
                  var _this = this;
                  axios.get('/mgr/get_scheduler_list/p='+ page + '&page_qty=' + page_qty + '&type=' + type + '&order=' + order + '&search_term=' + search_term + '&search_date=' + search_date + '&hideClosedBookings=' + this.hideClosedBookings)
                        .then(function (response) {
                              _this.scheduler_list = response.data.data;
                              _this.updatePaginationData(response);
                              _this.list_pagination.type = _this.cateMenu;
                              EventBus.$emit("initListPagination",_this.list_pagination);
                        })
                        .catch(function (error) {
                              // 
                        });
            },
            updatePaginationData: function(response) {
                  if (response.hasOwnProperty('data')) {
                        this.list_pagination.from = response.data.from;
                        this.list_pagination.last_page = response.data.last_page;
                        this.list_pagination.next_page_url = response.data.next_page_url;
                        this.list_pagination.path = response.data.path;
                        this.list_pagination.per_page = response.data.per_page;
                        this.list_pagination.to = response.data.to;
                        this.list_pagination.total = response.data.total;
                        this.list_pagination.current_page = response.data.current_page;
                  } else {
                        this.list_pagination.from = '';
                        this.list_pagination.last_page = '';
                        this.list_pagination.next_page_url = '';
                        this.list_pagination.path = '';
                        this.list_pagination.per_page = '';
                        this.list_pagination.to = '';
                        this.list_pagination.total = '';
                        this.list_pagination.current_page = '';
                  }
            }
      },
      created() {
            if (this.type != null && this.type != '' && this.type != 'null') {
                  this.cateMenu = this.type;
            }

            if (this.search_date != null && this.search_date != '' && this.search_date != 'null') {
                  this.currentDate = this.search_date;
            }

            this.getSchedulerList(this.page, this.page_qty, this.cateMenu, this.order, this.search_term, this.search_date); 
      },
      mounted() {
            var _this = this;
            EventBus.$on('updateList_cont', function (e) {
                  if (e.typeId == 3 || e.typeId == 4) {
                        // if event is new
                        if (e.r_type == 'n') {
                              // if event is carpark or event is reservation or list is all
                              if ((_this.cateMenu == 'c' && e.typeId == 4) || (e.typeId == 3 && _this.cateMenu == e.amenity_id) || _this.cateMenu == 'a') {
                                    _this.scheduler_list.unshift(e);
                              }
                        } else if (e.r_type == 'u') {
                              // if event is edit
                              if ((_this.cateMenu == 'c' && e.typeId == 4) || (e.typeId == 3 && _this.cateMenu == e.amenity_id) || _this.cateMenu == 'a') {
                                    for (var i = 0; i < _this.scheduler_list.length; i++) {
                                          if (_this.scheduler_list[i].id == e.id) {
                                                _this.scheduler_list[i] = e;
                                          }
                                    }
                              }
                        }
                  }
                  _this.$forceUpdate();
            });
			
            EventBus.$on('updateListPagination', function (e) {
                  _this.getSchedulerList(e.page, _this.page_qty, _this.cateMenu, _this.order, _this.search_term, _this.search_date);    
            });
      }
}
</script>

<style lang="scss">
.k-datepicker {
      margin-right: 10px;
      input[type="text"] {
            width: auto !important;
      }
}

.list_header {
      #main_cate {
            flex: 3;
            display: flex !important;
            position: relative;
            > ul#main_cate_list {
                  li {

                  }
            }

            > button {
                  position: absolute;
                  top: 20px;
                  left: 5px;

                  > i {
                        display: block;
                  }

                  &.btn_toggle_right {
                        right: 5px;left: unset;
                  }
            }
      }
}
.list_cont .list_row {
      .tagcont.cont_1 {
            background-color: #ff7c73;
      }

      .tagcont.cont_2 {
            background-color: #F1BF5E;
      }

      .tagcont.cont_3 {
            background-color: #3e789d;
      }

      .tagcont.cont_4 {
            background-color: #0C8346;
      }
}

.event_subject {
      margin: 0 0 4px 0;
      font-weight: 700;
      font-size: 1.2em;
}
.cont_Approve {
      background-color: #55ce63;
}

.cont_Pending {
      background-color: #ffc26b;color: #000;
}

.cont_Reject {
      background-color: #ff0000;
}

#btn_to_calendar {
       text-align: center;background-color: #379cd6; color: #fff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border: 0px;height: 34px; width: 34px;margin-right: 10px;
      > i {
            display: block; margin: 7px auto;color: #fff;font-size: 1.3em;
      }
}

.list_header #main_cate_list {
    flex: 3;
}

.list_header {
      .list_filter {
            flex: 2;
            display:flex;

            > a i {
                  font-size: 1.6em;margin: 5px 0px;color: #43425D;margin-right: 10px;
            }

            .input_search {
                  flex: 2;
            }

            .btn_filter {
                  flex: 1;
            }

            .k-datepicker {
                  flex: 3;
                  &.k-input {
                        flex: 1;
                        margin-right:10px;
                        
                        > .k-picker-wrap.k-state-default {
                              height: 36px;line-height: 36px;border: 1px solid #dedede;
                        }

                        > .k-picker-wrap.k-state-default > input {
                              height: 36px;
                        }
                  }
            }
      }
}

.list_header i {
      display: none;
}
</style>