<template>
      <div>
            <div class="col list_header">
                  <ul id="main_cate_list">
                        <li v-bind:class="{ active: cateMenu == 'a' }" @click="getListContent('a')">All<div class="bottom_border"></div></li>
                        <li v-bind:class="{ active: cateMenu == 'r' }" @click="getListContent('r')">Reservations<div class="bottom_border"></div></li>
				<li v-bind:class="{ active: cateMenu == 'c' }" @click="getListContent('c')">Car Parking<div class="bottom_border"></div></li>
                        <li v-bind:class="{ active: cateMenu == 'i' }" @click="getListContent('i')">Inpections<div class="bottom_border"></div></li>
                        <li v-bind:class="{ active: cateMenu == 't' }" @click="getListContent('t')">Cases / Jobs<div class="bottom_border"></div></li>
                  </ul>

                   <div class="list_filter">
                        <kendo-datepicker :min="minDate"
                              :max="maxDate"
                              :value="currentDate"
                              :format="'yyyy/MMMM/dd'"></kendo-datepicker>

                        <input type="text" placeholder="Search Tenant or Contructor Name" class="input_search"  name="input_search" v-model="search_term" >
                        <button class="btn_filter" @click="searchByKeywords">Search</button>
                        <a v-bind:href="'/mgr/reservation'" id="btn_to_calendar">
                              <i class="far fa-calendar-alt"></i>
                        </a>
                  </div>
            </div>

            <div class="container_block">
      
                  <div class="list_cont active">
                        <div class="list_header">
                              <div class="list_fields w_5">
                                    <check-box ref="eventBus" section="scheduler_list" :data="scheduler_list" @updateCheckedItem="check_box=$event"></check-box>
                              </div>
                              <div class="list_fields w_40">
                                    SUBJECT
                              </div>
                              <div class="list_fields w_10 c_align" v-if="cateMenu == 'a'">
                                    Type
                              </div>
                              <div class="list_fields w_15 c_align">FROM</div>
                              <div class="list_fields w_15 c_align">TO</div>
                              <div class="list_fields w_10 c_align">
                                    STATUS
                                    <i class="fas fa-caret-down" v-bind:class="{ active: s_seq == 'a' }" @click="updateListOrder('d')"></i>
                                    <i class="fas fa-caret-up" v-bind:class="{ active: s_seq == 'd' }"  @click="updateListOrder('a')"></i>
                              </div>
                              <div class="list_fields w_15 c_align">ACTIONS</div>
                        </div>
                              
                                    
                        <div class="list_row" v-for="(key, data) in scheduler_list">
                              <div class="list_fields w_5">
                                    <input type="checkbox" class="styled_checkbox" ref="cb_item" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                    <label for="styled-checkbox"></label>
                              </div>
                              <div class="list_fields w_40">
                                    <h4 class="event_subject">{{ key.event_object }}</h4>
                                    <span class="event_content">{{ key.details }}</span>
                              </div>
                              <div class="list_fields w_10 c_align" v-if="cateMenu == 'a'">
                                    <span class="tagcont" :class="'cont_'+key.typeId" v-if="key.typeId=='1'">
                                          Task
                                    </span>

                                     <span class="tagcont" :class="'cont_'+key.typeId" v-if="key.typeId=='2'">
                                          Inspection
                                    </span>

                                     <span class="tagcont" :class="'cont_'+key.typeId" v-if="key.typeId=='3'">
                                          Reservation
                                    </span>

                                     <span class="tagcont" :class="'cont_'+key.typeId" v-if="key.typeId=='4'">
                                          Car Park
                                    </span>
                              </div>
                              <div class="list_fields w_15 c_align">{{ key.txt_start }}</div>
                              <div class="list_fields w_15 c_align">{{ key.txt_end }}</div>
                              <div class="list_fields w_10 c_align">
                                    <span class="tagcont" :class="'cont_'+key.progress_title">
                                          {{ key.progress_title }}
                                    </span>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <a @click="onRemove(key.id)" class="list_btn btn_del">
                                          <i class="fa fa-times"></i>
                                    </a>
                              </div>
                        </div>           
                  </div>
                  <pagination :pagination="list_pagination"></pagination>
            </div>
      </div>
</template>

<script>
import EventBus from '../event-bus';
import pagination from '../PaginationComponent.vue';

import {  DatePicker, DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'

Vue.use(DateinputsInstaller)

export default {
      props: ['page','page_qty','type','order','search_term','search_date'],
      components: {
            pagination
      },
      data(){
            return {
                  cateMenu : 'a',
                  s_seq : 'a',
                  //search_term: null,
                  scheduler_list: [],
                  list_pagination: [],
                  minDate: new Date(2020, 1, 1),
                  maxDate: new Date(2030, 12, 31),
                  currentDate: new Date(),
                  check_box:{
                        checkedItem:[],
                        isCheckAll:false,
                  },
                  //order : 'a',
            }
      },
      methods:{
            updateItem(){
                  var selected_data = {
                        'ids' : this.check_box.checkedItem,
                        'type' : 'scheduler',
                  }
                  EventBus.$emit("selected_data", selected_data);
             },
            onRemove: function (id) {
                  var _this = this;
                  if (confirm('Are you sure you want to delete this record?')) {
                        axios.post('/mgr/remove_event', {
                              id: id
                        })
                        .then(function (response) {
                              console.log(response);
                              if (response.data.success == true) {
                                    for (var i = 0; i < _this.scheduler_list.length; i++) {
                                          if (_this.scheduler_list[i].id == id) {
                                                _this.scheduler_list.splice(i, 1);
                                          }
                                    }
                                    _this.forceUpdate();
                              }
                        })
                        .catch(function (error) {
                              // 
                        });
                  }

            },
            searchByKeywords:function() {
                  this.getSchedulerList(1, this.page_qty, this.cateMenu, this.order, this.search_term, this.search_date);    
            },

            updateListOrder:function (order) {
                  this.order = order;
                  this.s_seq = order;
                  this.getSchedulerList(1, this.page_qty, this.cateMenu, order, this.search_term, this.search_date);    
            },

            getListContent:function(type) {
                  this.search_term = null;
                  this.cateMenu = type;

                  this.getSchedulerList(1, this.page_qty, type, this.order, this.search_term, this.search_date);    
            },
            getSchedulerList: function (page, page_qty, type, order, search_term, search_date) {
                  var _this = this;
                  axios.get('/mgr/get_scheduler_list/p='+ page + '&page_qty='+page_qty+'&type='+type+'&order='+order+'&search_term='+search_term+'&search_date='+search_date).then(function (response) {
                        _this.scheduler_list = response.data.data;

                        _this.updatePaginationData(response);
                        _this.list_pagination.type = _this.cateMenu;
                        EventBus.$emit("initListPagination",_this.list_pagination);

                  })
                  .catch(function (error) {
                        // 
                  });
            },
            updatePaginationData: function(response) {
                  if (response.hasOwnProperty('data')) {
                        this.list_pagination.from = response.data.from;
                        this.list_pagination.last_page = response.data.last_page;
                        this.list_pagination.next_page_url = response.data.next_page_url;
                        this.list_pagination.path = response.data.path;
                        this.list_pagination.per_page = response.data.per_page;
                        this.list_pagination.to = response.data.to;
                        this.list_pagination.total = response.data.total;
                        this.list_pagination.current_page = response.data.current_page;
                  } else {
                        this.list_pagination.from = '';
                        this.list_pagination.last_page = '';
                        this.list_pagination.next_page_url = '';
                        this.list_pagination.path = '';
                        this.list_pagination.per_page = '';
                        this.list_pagination.to = '';
                        this.list_pagination.total = '';
                        this.list_pagination.current_page = '';
                  }
            }
      },
      created() {
            if (this.type != null && this.type != '' && this.type != 'null') {
                  this.cateMenu = this.type;
            }

            if (this.search_date != null && this.search_date != '' && this.search_date != 'null') {
                  this.currentDate = this.search_date;
            }

            this.getSchedulerList(this.page, this.page_qty, this.cateMenu, this.order, this.search_term, this.search_date);    
      },
      mounted() {
            var _this = this;
			
            EventBus.$on('updateListPagination', function (e) {
                  _this.getSchedulerList(e.page, _this.page_qty, _this.cateMenu, _this.order, _this.search_term, _this.search_date);    
            });
      }
}
</script>

<style>
.list_cont .list_row .tagcont.cont_1 {
      background-color: #ff7c73;
}

.list_cont .list_row .tagcont.cont_2 {
      background-color: #F1BF5E;
}

.list_cont .list_row .tagcont.cont_3 {
      background-color: #3e789d;
}

.list_cont .list_row .tagcont.cont_4 {
      background-color: #0C8346;
}



.event_subject {
      margin: 0 0 4px 0;
      font-weight: 700;
      font-size: 1.2em;
}
.cont_Approve {
      background-color: #55ce63;
}

.cont_Pending {
      background-color: #ffc26b;color: #000;
}

.cont_Reject {
      background-color: #ff0000;
}

#btn_to_calendar {
       text-align: center;background-color: #379cd6; color: #fff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border: 0px;height: 34px; width: 34px;margin-right: 10px;
}

#btn_to_calendar > i {
      display: block; margin: 7px auto;color: #fff;font-size: 1.3em;
}

.list_header #main_cate_list {
    flex: 3;
}

.list_header .list_filter {
    flex: 2;display:flex;
}

.list_header .list_filter .k-datepicker.k-input, .list_header .list_filter .input_search{
      flex: 1;
}

.list_header .list_filter .k-datepicker.k-input {
      margin-right:10px;
}


.list_header .list_filter .k-datepicker.k-input > .k-picker-wrap.k-state-default {
      height: 36px;line-height: 36px;border: 1px solid #dedede;
}

.list_header .list_filter .k-datepicker.k-input > .k-picker-wrap.k-state-default > input {
      height: 36px;
}

.list_cont, .list_header i {
      display: none;
}

.list_filter > a i {
    font-size: 1.6em;margin: 5px 0px;color: #43425D;margin-right: 10px;
}

</style>