<template>
                  <div class="col">
                        <div class="col-md-8">
                              <div class="container_block">

                                    <div class="container_subtitle">
                                          <i class="fas fa-suitacase fa-lg"></i> <h5>Task Details</h5>
                                    </div>

                                    <div class="field_block">
                                                <div class="field_cont col">
                                                      <div class="col-md-8">
                                                            <label class="field_title">Title</label>
                                                            <input type="text" name="txt_assetname" class="col-md-12" placeholder="Asset Name">
                                                      </div>
                                                      <div class="col-md-4">
                                                            <label class="field_title">Type</label>
                                                            <select class="browser-default custom-select col-md-12">
                                                                        <option>Task Type</option> 
                                                            </select>
                                                      </div>
                                                </div>

                                                <div class="field_cont col">
                                                            <div class="col-md-6">
                                                                  <label class="field_title">From</label>
                                                                  <kendo-datepicker :value="currentDate"  :format="'yyyy/MMMM/dd'"></kendo-datepicker>
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <label class="field_title">To</label>
                                                                  <kendo-datepicker :value="currentDate"  :format="'yyyy/MMMM/dd'"></kendo-datepicker>
                                                            </div>
                                                </div>

                                                <div class="field_cont col">
                                                      <div class="col-md-6">
                                                            <label class="field_title">Priority</label>
                                                            <select class="browser-default custom-select col-md-12">
                                                                        <option>Low</option> 
                                                            </select>
                                                      </div>
                                                      <div class="col-md-6">
                                                            <label class="field_title">Status</label>
                                                            <select class="browser-default custom-select col-md-12">
                                                                        <option>New</option> 
                                                            </select>
                                                      </div>
                                                </div>
                                                
                                    </div>
                                    
                                    <div class="container_subtitle">
                                          <i class="far fa-clipboard fa-lg"></i> <h5>Description</h5>
                                    </div>

                                    <div class="field_block">
                                          <textarea class="asset_note" rows="12"></textarea>
                                    </div>
                              </div>
                        </div>
                        

                        <div class="col-md-4">
                            <div class="container_block">
                                   
                                    <div class="container_subtitle">
                                        <i class="far fa-image fa-lg"></i> 
                                        <h5>Asset Photos</h5>
                                    </div>
                                    <div class="field_block">
                                          <button class="btn btn_asset_upload" @click="chooseFiles('btn_assetphoto')">Add Photo</button>
                                          <input type="file" multiple="multiple"  id="btn_assetphoto" accept="image/*" hidden>
                                    </div>
                                        

                                    <div class="container_subtitle">
                                        <i class="fa fa-book fa-lg"></i> 
                                        <h5>Asset Docs</h5>
                                    </div>
                                    <div class="field_block">
                                          <button class="btn btn_asset_upload" @click="chooseFiles('btn_assetfile')">Add File</button>
                                          <input type="file" multiple="multiple"  id="btn_assetfile" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf" hidden>
                                    </div>
                            </div>
                        </div>  

                    
                        <div class="field_cont btn_cont">
                              <button class="btn">Close</button>
                              <button class="btn">Save</button>
                        </div>

                    </div>
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'

import { Calendar,
        DateInput,
        DatePicker,
        DateRangePicker,
        DateTimePicker,
        MultiViewCalendar,
        TimePicker,
        DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'

Vue.use(DateinputsInstaller)


export default {
      props: [],
      components: {

      },
      data(){
            return {
                 currentDate: new Date()
            }
      },
      methods:{
         chooseFiles: function(id) {
            document.getElementById(id).click();
         }
      }
}
</script>

<style>
button.btn_asset_upload {
      width: 100%; margin: 10px 0px;
}

</style>