<template>
      <div class="container_block">
            <div class="list_filter col">
                  <form id="scheduler_task_form" ref="scheduler_task_form" action="/mgr/task_list" method="get" >
                        <input type="text" placeholder="Search Title" class="input_search" name="input_search" v-model="search.input_search">
                        <button class="btn_filter">Search</button>
                  </form>
            </div>

            
            <div class="list_cont">
                  <div class="list_header">
                        <div class="list_fields w_10">#</div>
                        <div class="list_fields w_30">SUBJECT</div>
                        <div class="list_fields w_10 c_align">FROM</div>
                        <div class="list_fields w_10 c_align">TO</div>
                        <div class="list_fields w_10 c_align">STATUS</div>
                        <div class="list_fields w_15 c_align">ACTIONS</div>
                  </div>
                  
                  
                  <div class="list_row" v-for="(key, data) in reservation">
                              <div class="list_fields w_10">
                              <input type="checkbox" class="styled_checkbox">
                              <label for="styled-checkbox"></label>
                        </div>
                        <div class="list_fields w_30">
                              <h4 class="event_subject">{{ key.event_object }}</h4>
                              <span class="event_content">{{ key.event_desc }}</span>
                        </div>
                        <div class="list_fields w_10 c_align">{{ key.start }}</div>
                        <div class="list_fields w_10 c_align">{{ key.end }}</div>
                        <div class="list_fields w_10 c_align">{{ key.progress_title }}</div>
                        <div class="list_fields w_15 c_align">
                              <a onclick="return confirm('Are you sure you want to delete this record?');">
                                    <i class="fa fa-times"></i>
                              </a>
                        </div>
                  </div>
            </div>
      </div>
</template>

<script>


export default {
      props: ['reservation','search'],
      components: {

      },
      data(){
            return {
                 error_msg : null
            }
      },
      methods:{
         
      }
}
</script>

<style>
.event_subject {
      margin-top: 4px;margin-bottom: 4px;
}

.event_content {
      font-size:.8em;color: #888;
}


</style>