<template>
      <div class="container_block">

                      <div class="list_filter col">
                              <form id="amenity_form" ref="amenity_form" action="/mgr/amenity_list" method="get" >
                                    <input type="text" placeholder="Search Content" class="input_search"  name="input_search">
                                    <button class="btn_filter">Search</button>
                              </form>
                        </div>
                        
                        <div class="list_cont">
                              <div class="list_header">
                                    <div class="list_fields w_10">
                                          <check-box ref="eventBus" section="setting_amenity" :data="amenity"  @updateCheckedItem="check_box=$event"></check-box>
                                    </div>
                                    <div class="list_fields w_40">AMENITIES</div>
                                    <div class="list_fields w_15 c_align">VALID HOURS</div>
                                    <div class="list_fields w_15 c_align">HOURS LIMIT</div>
                                    <div class="list_fields w_15 c_align">ACTIONS</div>
                              </div>

                              <div class="list_empty" v-if="amenity.data.length == 0">
                                    <div class="list_fields c_align">
                                          <span>You have 0 amenity, create it now.</span><br>
                                           <a v-bind:href="'/mgr/new_amenity'" class="btn btn_submit">Create An Amenity</a>
                                    </div>
                              </div>

                              <div class="list_row" v-for="(key, data) in amenity.data" v-if="amenity.data.length > 0">
                                    <div class="list_fields w_10">
                                          <input type="checkbox" class="styled_checkbox" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                          <label for="styled-checkbox"></label>
                                    </div>
                                    <div class="list_fields w_40" v-on:click="goToDetailPage('amenity_detail/'+key.id)">
                                          {{key.name}}
                                    </div>
                                    <div class="list_fields w_15 c_align" v-on:click="goToDetailPage('amenity_detail/'+key.id)">
                                          {{key.start_time}} - {{key.end_time}}
                                    </div>
                                     <div class="list_fields w_15 c_align" v-on:click="goToDetailPage('amenity_detail/'+key.id)">
                                          <span class="tagcont cont_4">{{key.hours_limit}} Hour(s)</span>
                                    </div>
                                    <div class="list_fields w_15 c_align">
                                          <a class="list_btn btn_edit" v-bind:href="'amenity_detail/'+key.id">
                                               <i class="fas fa-pen"></i>
                                          </a>

                                          <a class="d_buttom" v-bind:href="'/mgr/remove_amenity/'+key.id" onclick="return confirm('Are you sure you want to delete this amenity?');">
                                                <i class="fa fa-times" style="color:white"></i>
                                          </a>
                                    </div>

                                     
                              </div>
                            
                              
                        </div>
                        <pagination :pagination="list_pagination" v-if="amenity.data.length > 0"></pagination>
      </div>
</template>

<script>
import EventBus from '../event-bus';
import pagination from '../PaginationComponent.vue';

export default {
      props: ['amenity'],
      components: {
            pagination
      },
      data(){
            return {
                  list_pagination:this.amenity,
                  error_msg : null,
                  check_box:{
                        checkedItem:[],
                        isCheckAll:false,
                  } 
            }
      },
      methods:{
            updateItem(){
                  var selected_data = {
                        'ids' : this.check_box.checkedItem,
                        'type' : 'amenity_list',
                  }
                  EventBus.$emit("selected_data", selected_data);
            },
            goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
            getAmenityList:function(page){
                  let _this= this;
                  axios.get('/mgr/amenity_list/'+page).then((res)=>{
                        _this.amenity = res.data.amenity;
                  })
            }
      },
      mounted() {
            let _this = this;
            EventBus.$emit("initListPagination",_this.list_pagination);

            EventBus.$on('updateListPagination',function(e){
                  _this.getAmenityList(e.page);
                  console.log(3);
            }) ;
      }
}
</script>

<style>
.list_filter select  {
      max-width: 150px;margin-right: 10px;    display: inline-block;
}
.d_buttom{
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 5px;
    line-height: 26px;
    color: #fff;
    border-radius: .2rem;
    background-color: #ff738a;
}


</style>
