<template>
      <div class="container_block">

                        <div class="list_filter col">
                              <form id="asset_form" ref="asset_form" action="/mgr/assets" method="get" >
                                    <select class="asset_cate" name="asset_cate" v-model="search.asset_cate">
                                          <option value="0">Asset Category</option>
                                          <optgroup  v-for="(key, data) in asset_cate" v-bind:label="key.name" v-if="key.parent_id == 0">
                                                <option value="" style="margin-left:23px;"  v-for="(k, v) in asset_cate" v-bind:value="k.id" v-if="key.id == k.parent_id" >{{k.name}}</option>
                                          </optgroup> 
                                    </select>
                                    <input type="text" placeholder="Search Content" class="input_search"  name="input_search" v-model="search.input_search">
                                    <button class="btn_filter">Search</button>
                              </form>
                        </div>
                        
                        <div class="list_cont">
                              <div class="list_header">
                                    <div class="list_fields w_10">
                                           <check-box ref="eventBus" section="setting_assets" :data="assets.data"  @updateCheckedItem="check_box=$event"></check-box>
                                    </div>
                                    <div class="list_fields w_30">ITEM</div>
                                    <div class="list_fields w_15 c_align">CATEGORY</div>
                                    <div class="list_fields w_10 c_align">LOCATION</div>
                                    <div class="list_fields w_10 c_align">SERIAL NO.</div>
                                    <div class="list_fields w_10 c_align">BRAND</div>
                                    <div class="list_fields w_15 c_align">ACTIONS</div>
                              </div>

                              <div class="list_empty" v-if="assets.data.length == 0">
                                    <div class="list_fields c_align">
                                          <span>You have 0 asset, create it now.</span><br>
                                           <a v-bind:href="'/mgr/create_asset'" class="btn btn_submit">Create An Asset</a>
                                    </div>
                              </div>

                              <div class="list_row" v-for="(key, data) in assets.data">
                                    <div class="list_fields w_10" v-on:click="goToDetailPage('edit_asset/'+key.id)">
                                          <input type="checkbox" class="styled_checkbox" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                          <label for="styled-checkbox"></label>
                                    </div>
                                    <div class="list_fields w_30" v-on:click="goToDetailPage('edit_asset/'+key.id)">{{ key.name }}</div>
                                    <div class="list_fields w_15 c_align" v-on:click="goToDetailPage('edit_asset/'+key.id)"><span class="tagcont cont_1">{{ key.cate_name }}</span></div>
                                    <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('edit_asset/'+key.id)">{{ key.location }}</div>
                                    <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('edit_asset/'+key.id)"><span v-if="key.serial_no===''||key.serial_no===null">-</span><span class="tagcont cont_3" v-else>{{ key.serial_no }}</span></div>
                                    <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('edit_asset/'+key.id)"><span v-if="key.make===null||key.mode===null||key.make===''||key.mode===''">-</span><span v-else>{{ key.make }} {{ key.model }}</span></div>
                                    <div class="list_fields w_15 c_align" >
                                          <a class="list_btn btn_edit" v-bind:href="'edit_asset/'+key.id">
                                                 <i class="fas fa-pen"></i>
                                          </a>
                                          <a  class="list_btn btn_link" @click="openHistoryDetail(key.id, key.name)">
                                                <i class="far fa-address-book"></i>
                                          </a>
                                          <a class="d_buttom" v-bind:href="'del_asset/'+key.id" onclick="return confirm('Are you sure you want to delete this asset?');">
                                                <i class="fa fa-times" style="color:white"></i>
                                          </a>
                                    </div>
                              </div>
                         </div>
                        <pagination :pagination="list_pagination" v-if="assets.data.length > 0"></pagination>
      </div>
</template>

<script>
import EventBus from '../event-bus';
import pagination from '../PaginationComponent.vue';

export default {
      props: ['assets','asset_cate','search'],
      components: {
            pagination
      },
      data(){
            return {
                  list_pagination:this.assets,
                  error_msg : null,
                  check_box:{
                        checkedItem:[],
                        isCheckAll:false,
                  },
            }
      },
      methods:{
            openHistoryDetail: function(id, name) {
                  var this_asset = {
                        'asset_id' : id,
                        'asset_name' : name
                  }
                  EventBus.$emit("asset_history_detail",this_asset);
            },
            updateItem(){
                  var selected_data = {
                        'ids' : this.check_box.checkedItem,
                        'type' : 'asset_list',
                  }
                  EventBus.$emit("selected_data", selected_data);
            },
              goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
            getAssetList:function(page){
                  let _this= this;
                  axios.get('/mgr/assets/'+page).then((res)=>{
                        _this.assets = res.data.assets;
                  })
            }
      },
      mounted() {
            let _this = this;
            EventBus.$emit("initListPagination",_this.list_pagination);

            EventBus.$on('updateListPagination',function(e){
                  _this.getAssetList(e.page);
            })
      }
}
</script>

<style>
.list_filter select  {
      max-width: 150px;margin-right: 10px;    display: inline-block;
}
.d_buttom{
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 5px;
    line-height: 26px;
    color: #fff;
    border-radius: .2rem;
    background-color: #ff738a;
}


</style>