<template>
                  <div class="col">
                        <form id="assetdetail_form" ref="assetdetail_form" action="/mgr/save_asset" enctype="multipart/form-data" method="post" v-kendo-validator>
                              <div class="col-md-8">
                                    <div class="container_block">
                                          <input type="hidden" name="_token" :value="csrf">
                                          <input type="hidden" name="asset_id" v-model="asset.id">

                                          <div class="container_subtitle">
                                                <i class="fas fa-suitacase fa-lg"></i> <h5>Asset Details</h5>
                                          </div>

                                          <div class="field_block">
                                                      <div class="field_cont col">
                                                            <div class="col-md-6">
                                                                  <label class="field_title">Name</label>
                                                                  <input type="text" name="txt_assetname" class="col-md-12  k-textbox" placeholder="Asset Name" required validationMessage="Asset Name is required" v-model='asset.name'>
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <label class="field_title">Value ($)</label>
                                                                  <kendo-numerictextbox 
                                                                                          name="txt_assetval"
                                                                                          v-model="asset.value"
                                                                                          :decimals="2"
                                                                                          :format="'c0'"
                                                                                          :min="0"
                                                                                          :max="100000"
                                                                                          :round="true"
                                                                                          :spinners="true">
                                                                  </kendo-numerictextbox>
                                                                  <!-- <input type="text" name="txt_assetval" class="col-md-12" placeholder="Asset Value"> -->
                                                            </div>
                                                      </div>

                                                      <div class="field_cont col">
                                                                  <div class="col-md-6">
                                                                        <div class="k-edit-label ">
                                                                              <label class="field_title">Category</label>
                                                                              <button class="btn_add icon"  @click.prevent="categoryShow()">
                                                                                    <i class="fas fa-plus"></i>
                                                                              </button>
                                                                        </div>

                                                                        <select class="browser-default custom-select col-md-12" name="asset_cate" v-model="asset.cate_id"  >
                                                                              <!-- <optgroup  v-for="(key, data) in asset_cate" v-bind:label="key.name" v-if="key.parent_id == 0"> -->
                                                                                    <option value=""  v-for="(k, v) in this.category" v-bind:value="k.id" >{{k.Name}}</option>
                                                                              <!-- </optgroup>  -->
                                                                        </select>
                                                                        <span data-for='asset_cate' class='k-invalid-msg'></span>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Barcode</label>
                                                                        <input type="text" name="txt_assetbarcode" class="col-md-12  k-textbox" placeholder="Asset Barcode" v-model="asset.barcode">
                                                                  </div>
                                                      </div>

                                                      <div class="field_cont col">
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Location</label>
                                                                        <input type="text" name="txt_assetloc" class="col-md-12  k-textbox" placeholder="Asset Location"  required validationMessage="Asset Location is required" v-model="asset.location">
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Serial Number</label>
                                                                        <input type="text" name="txt_assetserial" class="col-md-12  k-textbox" placeholder="Asset Serial Number" v-model="asset.serial_no">
                                                                  </div>
                                                      </div>

                                                      <div class="field_cont col">
                                                            <div class="col-md-6">
                                                                  <label class="field_title">Make</label>
                                                                  <input type="text" name="txt_assetmake" class="col-md-12  k-textbox" placeholder="Asset Make" v-model="asset.make">
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <label class="field_title">Model</label>
                                                                  <input type="text" name="txt_assetmodel" class="col-md-12  k-textbox" placeholder="Asset Model" v-model="asset.model">  
                                                            </div>
                                                      </div>
                                          </div>

                                          <div class="container_subtitle">
                                                <i class="fa fa-envelope fa-lg"></i> <h5>Warranty Information</h5>
                                          </div>

                                          <div class="field_block">
                                                <div class="field_cont col">
                                                      <div class="col-md-6">
                                                            <label class="field_title">Warranty Title</label>
                                                            <input type="text" name="txt_assetwarranty" class="col-md-12  k-textbox" placeholder="Asset Warranty Title" v-model="asset.warranty_title">
                                                      </div>
                                                      <div class="col-md-6">
                                                            <label class="field_title">Warranty Expiry</label>
                                                            
                                                            <kendo-datepicker :min="minExpiry"
                                                                              :max="maxExpiry"
                                                                              :value="currentExpiry"
                                                                              :format="'yyyy-MM-dd'"
                                                                               name="txt_assetwarrantydue" class="col-md-12" placeholder="Asset Warranty Expiry" v-model="asset.warranty_expiry"
                                                                               ></kendo-datepicker>
                                                      </div>
                                                </div>
                                          </div>  
                                          
                                          <div class="container_subtitle">
                                                <i class="far fa-clipboard fa-lg"></i> <h5>Note</h5>
                                          </div>

                                          <div class="field_block">
                                                <textarea class="asset_note" rows="12" name="asset_note" v-model="asset.note"></textarea>
                                          </div>

                                          <div class="container_subtitle">
                                                <i class="fas fa-check-square"></i>
                                                <h5>Inspection</h5>
                                          </div>

                                          <div class="field_block">

                                          </div>
                                    </div>
                              </div>
                              

                              <div class="col-md-4">
                                    <div class="container_block">
                                          
                                                <div class="container_subtitle">
                                                      <i class="far fa-image fa-lg"></i> 
                                                      <h5>Asset Photos</h5>
                                                </div>
                                                <div class="field_block single_img_blk">
                                                      <div id="photos" >
                                                            <div class="photo asset_photo" v-show="asset.photo != '' && asset.photo != null">
                                                                  <img :src="current_domain + asset.photo"/>
                                                                  <i class="fas fa-times" @click="rmImg()"></i>
                                                            </div>
                                                            <input type="hidden" name="asset_original_photo" v-model="asset.photo">
                                                      </div>

                                                      <kendo-upload ref="upload"
                                                            name="asset_photo[]"
                                                            :async-auto-upload="false"
                                                            :validation-allowed-extensions="['.jpg', '.jpeg', '.png', '.bmp', '.gif']"
                                                            :multiple="false"
                                                            :show-file-list="true"
                                                            :validation-max-file-size="2048000"
                                                            @remove="restoreImg()"
                                                            @select="rmImg">
                                                      </kendo-upload>
                                                      <div class="upload_hint">Maximum allowed file size is <strong>2MB</strong>.</div>
                                                </div>
                                                

                                                <div class="container_subtitle">
                                                      <i class="fa fa-book fa-lg"></i> 
                                                      <h5>Asset Docs</h5>
                                                </div>
                                                <div class="field_block">
                                                      <!-- <button class="btn btn_asset_upload" @click="chooseFiles('btn_assetfile')">Add File</button> -->
                                                      <ul class="docs_list" v-show="asset_doc.length > 0">
                                                            <li  v-for="(key, data) in asset_doc">
                                                                  <div class="docs_cont">
                                                                        <input type="hidden" v-model="key.id" name="asset_doc_id[]">
                                                                        <div class="btn_rm" @click="removeDocs(key.id)">
                                                                              <i class="fas fa-times"></i>
                                                                        </div> 
                                                                  
                                                                        <img v-bind:src="'/images/icons/icn_'+key.extension+'.jpg'">
                                                                        <div class="file_name">{{key.title}}</div>
                                                                  </div>
                                                            </li>
                                                      </ul>

                                                      
                                                      <kendo-upload ref="upload"
                                                                  name="asset_docs[]"
                                                                  :files="initialFiles"
                                                                  :async-auto-upload="false"
                                                                  :show-file-list="true"
                                                                  :validation-allowed-extensions="['.doc', '.docx', '.pdf', '.csv', '.xls', '.txt', '.ppt','.pptx']"
                                                                  @select="updateDocList">
                                                      </kendo-upload>
                                                      <div class="upload_hint">Maximum allowed file size is <strong>2MB</strong>.</div>
                                                </div>


                                                 <div class="container_subtitle">
                                                      <i class="far fa-address-book"></i>
                                                      <h5>History</h5>

                                                      <ul class="type">
                                                            <li>
                                                                  <span>Case</span>
                                                            </li>
                                                            <li>
                                                                  <span>History</span>
                                                            </li>
                                                      </ul>
                                                </div>

                                                <div class="field_block">

                                                </div>
                                    </div>
                              </div>  

                        
                              <div class="field_cont btn_cont">
                                    <a class="btn btn_cancel"  v-bind:href="'/mgr/assets/'" >Cancel</a>
                                    <a class="btn btn_close" v-bind:href="'/mgr/del_asset/'+asset.id" onclick="return confirm('Are you sure you want to delete this asset?');" v-if="asset.id > 0">
                                          Delete
                                    </a>
                                    <button class="btn btn_submit" type="submit"  @click.prevent="onSubmit">Save</button>
                              </div>
                        </form>
                        <popupCategory :cate_type= "'asset'" :category= category v-show="category_show"></popupCategory>

                    </div>
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'
import EventBus from '../event-bus';
import popupCategory  from '../popup/popup_category' 
import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'
import {  NumericTextBox, InputsInstaller } from '@progress/kendo-inputs-vue-wrapper'
import { DatePicker, DateinputsInstaller } from '@progress/kendo-dateinputs-vue-wrapper'

Vue.use(InputsInstaller)
Vue.use(ValidatorInstaller)
Vue.use(UploadInstaller)
Vue.use(DateinputsInstaller)

export default {
      props: ['asset','asset_doc','asset_cate'],
      components: {
            DatePicker, NumericTextBox, Validator,popupCategory
      },
      data(){
            return {
                  initialFiles: [], 
                  temp_photo: null,
                  current_domain: location.protocol+"//"+window.location.hostname,
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                  minExpiry: new Date(1970, 1, 1),
                  maxExpiry: new Date(2050, 12, 31),
                  currentExpiry: new Date(2019, 6, 1),
                  category_show: false,
                  category:[]
            }
      },
      methods:{
           
            categoryShow:function() {
                  this.category_show = true;
            },
            restoreImg:function() {
                  this.asset.photo = this.temp_photo;
                  this.temp_photo = null;
                  this.$forceUpdate();
                  
            },
            rmImg:function() {
                  this.temp_photo =  this.asset.photo;
                  this.asset.photo = null;
                  this.$forceUpdate();
            },
            removeDocs: function (id) {
                  for (var i = 0; i < this.asset_doc.length; i++) {
                        if (this.asset_doc[i].id == id) {
                              this.asset_doc.splice(i, 1);
                        }
                  }
                  this.$forceUpdate();
            },
            onSubmit: function (ev) {
                  var validator = this.kendoValidator;
                  // var status = kendo.jQuery('.status')
                  if (validator.validate()) {
                        this.$root.isLoading = true;
                        document.getElementById("assetdetail_form").submit();
                  } else {

                  }
            },
            getCategory: function() {
                  var _this = this; 
                  var cate_type = 'asset';
                 
                  axios.get('/mgr/get_category/type='+ cate_type).then(function (response) {
                      
                            if (response.data.success) {
                                var cate = response.data.cate;
                                _this.cate = cate;
                                _this.category = [];
                                for (var i = 0; i < cate.length; i++) {
                                    _this.category.push({'id' : cate[i].id, 'Name' : cate[i].Name, 'Description': cate[i].Description});
                                    
                                }
                                
                            } else {

                            }
                              
                        }).catch(function (error) {
                                    // 
                        });
            },

            updateDocList: function(e) {
                        // for (var i = 0; i < e.files.length; i++) {
                        //       var file = e.files[i].rawFile;
                        //       if (file) {
                        //             this.initialFiles.push(e.files[i]);
                        //       }
                        // }
            },
            showPreviewPhoto: function (e) {
                  // var file = e.files[0].rawFile;
                  // if (file) {
                  //       var reader = new FileReader();
                  //       reader.onloadend = function () {
                  //             $(".single_img_blk .asset_photo img").attr('src',this.result);;
                  //       };
                  //       reader.readAsDataURL(file);
                  //       this.showAssetImgs =true;
                  // }
            },

      },
      created:function() {
            // console.log(this.asset_cate);
      },
      mounted: function () {
            var _this = this;
            this.csrf = myToken.csrfToken;  
            var upload = this.$refs.upload.kendoWidget();
            var upload1 = this.$refs.upload.kendoWidget();
            this.getCategory();
            EventBus.$on('category_popup', function (show_popup) {
                _this.category_show = show_popup;
            });
            EventBus.$on('category_update', function () {
                _this.$forceUpdate();
                _this.getCategory();
                _this.$forceUpdate();
                
            });
            
            // upload._module.postFormData = function (url, data, fileEntry, xhr) {
            //       var module = this;
            //       fileEntry.data("request", xhr);
            //       setTimeout(function () {
            //             var e = { target: { responseText: '', statusText: "OK", status: 200 } };
            //             module.onRequestSuccess.call(module, e, fileEntry);
            //       }, 1000);
            // };

            // upload._submitRemove = function (fileNames, eventArgs, onSuccess, onError) {
            //       onSuccess();
            // };



            //  /*
            //       The code in this function is only added to simulate a successful upload request for this demo.
            //       Do not use the code in other cases when working with the Upload component.
            // */

            // var postFormData = function (url, data, fileEntry, xhr) {
            //       var module = this;
            //       fileEntry.data("request", xhr);
            //       setTimeout(function () {
            //       var e = { target: { responseText: '', statusText: "OK", status: 200 } };
            //       module.onRequestSuccess.call(module, e, fileEntry);
            //       }, 1000);
            // };
            // var submitRemove = function (fileNames, eventArgs, onSuccess, onError) {
            //       onSuccess();
            // };
            
            // upload1._module.postFormData = postFormData;
            // upload1._submitRemove = submitRemove;
      }
}
</script>

<style lang="scss">

.k-edit-label {
      > label {
            display: inline-block;
      }

      .btn_add {
            float: right;
            i {
                  color: #55ce63;
            }
      }
}

#photos {
      .photo {
            height: auto;;
            img {
                  height: auto;
            }
      } 
}

ul.asset_docs {
      position: relative; display: inline-block;width: 100%;
}

ul.asset_docs li .asset_doc_cont {
      border: 1px solid #dedede;position: relative;padding-top: 20px;height: 100px;font-size: .6em;text-align: center;
}


ul.asset_docs li .btn_rm {
      position: absolute;top: -10px;font-size: 1.2em;color: #fff;height: 20px;width: 20px;right: -10px;border-radius: 15px;padding: 0px;background-color: #f1536e;border: 0px;
}

button.btn_asset_upload {
      width: 100%; margin: 10px 0px;
}

.k-datepicker {
      padding: 0px;display: block;width: 100%;
}

.k-datepicker .k-picker-wrap {
    padding: 3px 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #dedede;
}

</style>