<template>
      <div class="col">
            <div class="col-md-8">
                  <div class="container_block">
                        <div class="container_subtitle">
                              <i class="fas fa-suitcase"></i> <h5>List</h5>
                        </div>

                        <div class="field_block">
                              <kendo-treelist :data-source="localData"
                                                :toolbar="['create']"
                                                :filterable="true"
                                                :editable="true"
                                                @edit="onEdit"
                                                
                                                @save="onSave($event)"
                                                @remove="onRemove($event)">
                                       
                                    <kendo-treelist-column :field="'Name'" :width="60"></kendo-treelist-column>
                                    <kendo-treelist-column :field="'Description'" :width="80"></kendo-treelist-column>  
                                    <kendo-treelist-column :title="'Edit'" :command="['edit', 'destroy']" :width="70"></kendo-treelist-column>
                              </kendo-treelist>
                        </div>
                  </div>
            </div>

            <div class="col-md-4">
                  <!-- <form id="category_form" ref="category_form" v-kendo-validator action="/mgr/save_cate" enctype="multipart/form-data" method="post" >
                        <div class="container_block">
                              <div class="container_subtitle">
                                    <i class="fas fa-th-large"></i><h5>New Category</h5>
                              </div>

                              <div class="field_block">
                                    <input type="hidden" name="_token" :value="csrf">
                                    <div class="field_cont col">
                                          <label class="field_title">Main Category</label>
                                          <select name="cate_id" class="full_width" v-model="current_cate.cate_id"  required validationMessage="Main Category is required" @change="changeMainCate($event)">
                                                <option v-for="(key, data) in main_cate" :value="key.id">{{key.val}}</option>
                                          </select>
                                    </div>

                                    <div class="field_cont col">
                                          <label class="field_title">Name</label>
                                          <input type="text" class="col-md-12 k-textbox" name="cate_name" placeholder="Category Name"  required validationMessage="Category Name is required" v-model="current_cate.name">
                                    </div>

                                    <div class="field_cont col">
                                          <label class="field_title">Nest Under</label>
                                          <select name="parent_id" class="full_width" v-model="current_cate.parent_id" required validationMessage="Category Nest is required" >
                                                <option value="0" >None</option>
                                                 <option v-for="(key, data) in nest_cate" :value="key.id">{{key.val}}</option>
                                          </select>
                                    </div>

                                    <div class="field_cont col">
                                          <label class="field_title">Description</label>
                                          <textarea class="asset_note" rows="6" name="cate_description" v-model="current_cate.description	"></textarea>
                                    </div>

                                    <div class="field_cont btn_cont">
                                          <button class="btn btn_submit" type="submit" @click="onSubmit">Save</button>
                                    </div>
                              </div>

                        </div>
                  </form> -->

                  <div class="container_block"> 
                        <div class="container_subtitle">
                              <i class="fas fa-th-large"></i><h5>New Category</h5>
                        </div>

                        <div class="field_block">
                              <category :type_id='type_id'></category>
                        </div>
                  </div>
            </div>
      </div>
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'
import EventBus from '../event-bus';
import { TreeList, TreeListColumn  } from '@progress/kendo-treelist-vue-wrapper'
import { TreeListInstaller } from '@progress/kendo-treelist-vue-wrapper'
import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'


Vue.use(TreeListInstaller)
Vue.use(ValidatorInstaller)

export default {
      props: ['cate'],
      components: {
            'treelist': TreeList,
            'treelist-column': TreeListColumn,
      },
      data(){
            return {
                  current_cate: [], main_cate: [], nest_cate: [],
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                  localData: this.cate,
                  type_id: 1
            }
      },
      methods:{
            changeMainCate: function (ev) {
                  for (var i = 0; i < this.cate.length; i++) {
                        if (this.cate[i].parentId == ev.target.value) {
                              this.nest_cate.push({'id' : this.cate[i].id, 'val' : this.cate[i].Name});
                        }
                  }
                  console.log(this.nest_cate);
            },
            // onSubmit: function (ev) {
            //       var validator = this.kendoValidator;
            //       // var status = kendo.jQuery('.status')
            //       if (validator.validate()) {
            //             this.$root.isLoading = true;
            //             document.getElementById('category_form').submit();
            //       } else {

            //       }
            // },
            onSave: function($event) {
                  if ($event.model.id == null) {
                        window.alert('Valid!');
                        return;
                  }
                  // Main category
                  if ($event.model.id == 1 || $event.model.id == 6) {
                        
                        window.alert('You can not edit ' + $event.model.Name + " because is the main category.");
                        $event.preventDefault();
                        return;
                        
                  } else {
                        
                        if ($event.model.Name == null || $event.model.Name == "") {
                              window.alert("Name can not be empty.");
                              $event.preventDefault();
                              return;
                        }
                        axios.post('/mgr/update_category', {id: $event.model.id, 
                                                    name: $event.model.Name, 
                                                    description: $event.model.Description}).then(function (response) {
                                          
                                    if (response.data.success == true) {
                                          window.alert("Successfully modified !");
                                    }
                              })
                  }
                  

            },
            
            onEdit: function(ev) {
                  //
            },
            
            

      },
      created: function() {
            console.log(this.localData);
      },
      mounted: function () {
            var _this = this;
            this.csrf = myToken.csrfToken;  

            for (var i = 0; i < this.cate.length; i++) {
                  if (this.cate[i].parentId == null || this.cate[i].parentId == '') {
                        this.main_cate.push({'id' : this.cate[i].id, 'val' : this.cate[i].Name});
                  }
            }

            EventBus.$on('new_category', function (current_cate) {
                  var new_cate = {
                        id: current_cate.id,
                        parentId: current_cate.cate_id,
                        Name:  current_cate.name,
                  };
                  _this.cate.push(new_cate);
                  _this.localData = _this.cate;
                  _this.$forceUpdate();
                  console.log(_this.localData);
            });
      }
}
</script>