<template>

<div class="col ">
      <form id="amenitydetail_form" ref="amenitydetail_form" method="post"  @submit.prevent="onSubmit" v-kendo-validator>
            <div class="col-md-8">
                  <div class="container_block">
                        <div class="container_subtitle">
                              <i class="fas fa-suitacase fa-lg"></i> <h5>Details</h5>
                        </div>

                        <div class="field_block">
                                    
                                    <div class="field_cont col">
                                          <div class="col-md-12">
                                                <label class="field_title">Name <b class="ast"> *</b></label>
                                                <input type="text" name="txt_facilityname" class=" fct_input col-md-12" placeholder="Amenity Name" v-model="amenity.name" required validationMessage="Amenity name is required">
                                                <span data-for='txt_facilityname' class='k-invalid-msg'></span>
                                          </div>
                                    
                                          <!-- <div class="col-md-4">
                                                <label class="field_title">Facility Color</label>
                                                <template>
                                                      <colorPicker v-model="amenity.color" />
                                                </template>
                                          </div> -->
                                    </div>
                        </div>
                              
                        <div class="field_block">
                                    <div class="field_cont">
                                          <label class="field_title">Rules<b class="ast"> *</b></label>
                                          <textarea name="txt_facility_rule" class="txt_facility_rule col-md-12" rows="18" placeholder="Enter the rules for this amenity" v-model="amenity.rules" required validationMessage="Amenity rules is required"></textarea>
                                          <span data-for='txt_facility_rule' class='k-invalid-msg'></span>
                                    </div>
                        </div>
                  </div>
            </div>

            <div class="col-md-4">
                  <div class="container_block">
                        <div class="container_subtitle">
                              <i class="fas fa-suitacase fa-lg"></i> <h5>Setting</h5>
                        </div>
                        
                        <div class="field_block">
                              <div class="field_cont">
                                    <div class="rules_cont">
                                          <label class="field_title">Book Before<b class="ast"> *</b></label>
                                          <input type="number" name="txt_book_before" class="fct_input_s col-md-8" placeholder="3"  v-model="amenity.booking_before"  required validationMessage="Book Before is required" min="0" max="99"> 
                                          <span style="line-height: 2.4em;padding-left: 10px;">days</span>
                                          <div><span data-for='txt_book_before' class='k-invalid-msg'></span></div>
                                    </div>
                              
                                    <div class="rules_cont">
                                          <label class="field_title">Book once every<b class="ast"> *</b></label>
                                          <input type="number" name="allocation_limit" class="fct_input_s col-md-8" placeholder="7" v-model="amenity.allocation_limit" required validationMessage="This field is required" min="0" max="99">
                                          <span style="line-height: 2.4em;padding-left: 10px;">days</span>
                                          <div><span data-for='allocation_limit' class='k-invalid-msg'></span></div>
                                    </div>

                                    <div class="rules_cont">
                                          <label class="field_title">Duration<b class="ast"> *</b></label>
                                          <input type="number" name="duration" class="fct_input_s col-md-8" placeholder="3" v-model="amenity.hours_limit" required validationMessage="Duration is required" min="0" max="99">
                                          <span style="line-height: 2.4em;padding-left: 10px;">hours</span>
                                          <div><span data-for='duration' class='k-invalid-msg'></span></div>
                                    </div>

                                    <div class="rules_cont">
                                          <label class="field_title">Disable Date</label>
                                    
                                          <div class="field_cont">
                                                <div class="col-md-4" style="padding-left: 0px;">
                                                      <div class="cbx"><input type="checkbox" name="disabled_date" value="monday" v-model="amenity.disable_date"/></div>
                                                      <div class="fct_label">Mon</div>
                                                </div>
                                                <div class="col-md-4" style="padding-left: 0px;">
                                                      <div class="cbx"><input type="checkbox" name="disabled_date" value="tuesday" v-model="amenity.disable_date"/></div>
                                                      <div class="fct_label">Tue</div>
                                                </div>
                                          
                                                <div class="col-md-4" style="padding-left: 0px;">
                                                      <div class="cbx"><input type="checkbox" name="disabled_date" value="wednesday" v-model="amenity.disable_date"/></div>
                                                      <div class="fct_label" >Wed</div>
                                                </div>
                                                <div class="col-md-4" style="padding-left: 0px;">
                                                      <div class="cbx"><input type="checkbox" name="disabled_date" value="thursday" v-model="amenity.disable_date"/></div>
                                                      <div class="fct_label"> Thu</div>
                                                </div>
                                          
                                                <div class="col-md-4" style="padding-left: 0px;">
                                                      <div class="cbx"><input type="checkbox" name="disabled_date" value="friday" v-model="amenity.disable_date"/></div>
                                                      <div class="fct_label">Fri</div>
                                                </div>
                                                <div class="col-md-4" style="padding-left: 0px;">
                                                      <div class="cbx"><input type="checkbox" name="disabled_date" value="saturday" v-model="amenity.disable_date"/></div>
                                                      <div class="fct_label">Sat</div> 
                                                </div>
                                          
                                                <div class="col-md-4" style="padding-left: 0px;">
                                                      <div class="cbx"><input type="checkbox" name="disabled_date" value="sunday" v-model="amenity.disable_date"/></div>
                                                      <div class="fct_label">Sun</div>
                                                </div>

                                          </div>
                                    </div>


                                    <div class="rules_cont">
                                          <label class="field_title">Valid Hours<b class="ast"> *</b></label>
                                    
                                          <div class="field_cont" style="margin-bottom:0px;">
                                                <div class="col-md-6" style="padding-left: 0px;">
                                                      <kendo-timepicker 
                                                            name="start_time" 
                                                            v-model="amenity.start_time"
                                                            :time="'(hh:mm))'"
                                                            required>
                                                      </kendo-timepicker>
                                                </div>

                                                <div class="col-md-6" style="padding-left: 0px;">
                                                      <kendo-timepicker 
                                                            name="end_time" 
                                                            v-model="amenity.end_time"
                                                            :parseFormats="'HH:mm'"   
                                                            required>
                                                      </kendo-timepicker>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

                              
            <div class="col col-md-12" style="text-align: right;padding:15px 0px;">
                  <a class="btn btn_cancel"  v-bind:href="'/mgr/amenity_list/'" >Cancel</a>
                  <a class="btn btn_close"  v-bind:href="'/mgr/remove_amenity/'+amenity.id" onclick="return confirm('Are you sure you want to delete this amenity?');" v-if="amenity.id > 0" >Delete</a>
                  <button class="btn btn_submit" type="submit">Save</button>
            </div>
      </form>
</div>
</template>

<script>
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'

export default {
      props: ['amenity'],
      components: {
            TimePicker
      },
      data(){
            return {
                  // amenity: {
                  //       id: null,
                  //       building_id: null,
                  //       name: null,
                  //       //color: '#81778E',
                  //       booking_before: null,
                  //       allocation_limit: null,
                  //       hours_limit: null,
                  //       //disable_date: [],
                  //       //able_recurring: null,
                  //       rules: null,
                  //       status: null
                  // }
            }
      },
      methods:{
           
            onSubmit: function (ev) {
                        var _this = this;

                        var amenity = {
                              id: _this.amenity.id,
                              building_id: _this.amenity.building_id,
                              name: _this.amenity.name,
                              //color: _this.amenity.color,
                              booking_before: _this.amenity.booking_before,
                              allocation_limit: _this.amenity.allocation_limit,
                              hours_limit: _this.amenity.hours_limit,
                              disable_date: _this.amenity.disable_date,
                              start_time: _this.amenity.start_time,
                              end_time: _this.amenity.end_time,
                              //able_recurring: _this.amenity.able_recurring,
                              rules: _this.amenity.rules,
                        };
                        this.$root.isLoading = true;
                        axios.post('/mgr/create_amenity', {
                              amenity : amenity
                        })
                        .then(function (response) {
                              if (response.data.success == 1) {
                                    window.location.href = '/mgr/amenity_list';
                              }
                        })
                        .catch(function (error) {
                              _this.output = error;
                        });
            },
      },
      created: function() {
            if (this.amenity.disable_date != null && this.amenity.disable_date != '') {
                  var ar = this.amenity.disable_date.split(',');
                  this.amenity.disable_date = ar;
            }
            
      }
}

</script>


<style>
.k-timepicker {
    width: 100%;
}

input[type='number'] {
      border: 1px solid #dedede;
}
.btn_close {
    background-color: #f1536e;
    margin-left: 15px;
}
.rules_cont {
      margin-bottom: 30px;
}
</style>