<template>
      <div class="container_block">
                  <div class="list_filter col">
                  <form id="inv_form" ref="inv_form" action="/mgr/inventory" method="get" >
                        <select class="inv_cate"  name="inv_cate"  v-model="search.inv_cate">
                              <option value="0">Inventory Category</option>
                              <optgroup  v-for="(key, data) in inv_cate" v-bind:label="key.name" v-if="key.parent_id == 0">
                                    <option value="" style="margin-left:23px;"  v-for="(k, v) in inv_cate" v-bind:value="k.id" v-if="key.id == k.parent_id" >{{k.name}}</option>
                              </optgroup>
                        </select>
                        <input type="text" placeholder="Search Content or Tags" class="input_search"  name="input_search" v-model="search.input_search">
                        <button class="btn_filter">Search</button>
                  </form>
            </div>
            
            <div class="list_cont">
                  <div class="list_header">
                        <div class="list_fields w_10">
                              <check-box ref="eventBus" section="setting_inventory" :data="inv.data"  @updateCheckedItem="check_box=$event"></check-box>
                        </div>
                        <div class="list_fields w_20">ITEM</div>
                        <div class="list_fields w_15 c_align">CATEGORY</div>
                        <div class="list_fields w_15 c_align">BRAND</div>
                        <div class="list_fields w_15 c_align">QUANTITY</div>
                        <div class="list_fields w_10 c_align">PRICE/EACH</div>
                        <div class="list_fields w_15 c_align">ACTIONS</div>
                  </div>
                  <div class="list_empty" v-if="inv.data.length == 0">
                        <div class="list_fields c_align">
                              <span>You have 0 Inventory, create it now.</span><br>
                              <a v-bind:href="'/mgr/create_inventory'" class="btn btn_submit">Create An Inventory</a>
                        </div>
                  </div>
                            

                  <div class="list_row" v-for="(key, data) in inv.data">
                        <div class="list_fields w_10">
                              <input type="checkbox" class="styled_checkbox" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                              <label for="styled-checkbox"></label>
                        </div>
                        <div class="list_fields w_20" v-on:click="goToDetailPage('edit_inv/'+key.id)">{{ key.name }}</div>
                        <div class="list_fields w_15 c_align" v-on:click="goToDetailPage('edit_inv/'+key.id)">{{ key.cate_name }}</div>
                        <div class="list_fields w_15 c_align"  v-on:click="goToDetailPage('edit_inv/'+key.id)">
                              <span v-if="key.make != '' && key.make != null" :class="'tagcont cont_'+(4-(data%5))">
                                    {{ key.make }}
                              </span>

                              <span v-if="key.make == '' || key.make == null">
                                    -
                              </span>
                        </div>
                        <div class="list_fields w_15 c_align" v-on:click="goToDetailPage('edit_inv/'+key.id)">{{ key.qty }}</div>
                        <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('edit_inv/'+key.id)">$ {{ key.val }}</div>
                        <div class="list_fields w_15 c_align">
                              <a v-bind:href="'edit_inv/'+key.id" class="list_btn btn_edit" target="_blank">
                                    <i class="fas fa-pen"></i>
                              </a>

                              <a v-bind:href="'del_inv/'+key.id" onclick="return confirm('Are you sure you want to delete this inventory record?');"  class="action_delete d_buttom">
                                    <i class="fa fa-times" style="color:white"></i>
                              </a>
                        </div>
                  </div>
                  
            </div>
            <pagination :pagination="list_pagination" v-if="inv.data.length > 0"></pagination>

      </div>
</template>

<script>

import EventBus from '../event-bus';
import pagination from '../PaginationComponent.vue';

export default {
      props: ['inv','inv_cate','search'],
      components: {
            pagination
      },
      data(){
            return {
                  list_pagination:this.inv,	 
                  error_msg : null,
                  check_box:{
                              checkedItem:[],
                              isCheckAll:false,
                        },
            }
      },
      methods:{
            updateItem(){
                  var selected_data = {
                        'ids' : this.check_box.checkedItem,
                        'type' : 'asset_list',
                  }
                  EventBus.$emit("selected_data", selected_data);
            },
            goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
            getInvList:function(page){
                  let _this= this;
                  axios.get('/mgr/inventory/'+page).then((res)=>{
                        _this.inv = res.data.inv;
                  })
            }
      },
       mounted(){
            let _this = this;
            EventBus.$emit("initListPagination",_this.list_pagination);

            EventBus.$on('updateListPagination',function(e){
                  _this.getInvList(e.page);
            })
      }
}
</script>

<style>
.list_filter select  {
      max-width: 150px;margin-right: 10px;    display: inline-block;
}
.d_buttom{
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 5px;
    line-height: 26px;
    color: #fff;
    border-radius: .2rem;
    background-color: #ff738a;
}
</style>