<template>
                  <div class="col">
                        <form id="assetdetail_form" ref="assetdetail_form" action="/mgr/save_inv" enctype="multipart/form-data" method="post"  v-kendo-validator >
                              <div class="col-md-8">
                                    <div class="container_block">
                                          <input type="hidden" name="_token" :value="csrf">
                                          <input type="hidden" name="inv_id" v-model="inv.id">

                                          <div class="container_subtitle">
                                                <i class="fas fa-boxes fa-lg"></i> <h5>Inventory Details</h5>
                                          </div>

                                          <div class="field_block">
                                                      <div class="field_cont col">
                                                            <div class="col-md-6">
                                                                  <label class="field_title">Name</label>
                                                                  <input type="text" name="txt_invname" class="col-md-12 k-textbox" placeholder="Inventory Name"  required validationMessage="Inventory Name is required" v-model='inv.name'>
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <label class="field_title">Value ($)</label>
                                                                  <!-- <input type="text" name="txt_invval" class="col-md-12 k-textbox" placeholder="Inventory Value"> -->
                                                                  <kendo-numerictextbox 
                                                                                          name="txt_invval"
                                                                                          v-model='inv.val'
                                                                                          :decimals="2"
                                                                                          :format="'c0'"
                                                                                          :min="0"
                                                                                          :max="100000"
                                                                                          :round="true"
                                                                                          :spinners="true"
                                                                                          required validationMessage="Inventory Value is required" >
                                                                  </kendo-numerictextbox>
                                                            </div>
                                                      </div>

                                                      <div class="field_cont col">
                                                                  <div class="col-md-6">
                                                                        <div class="k-edit-label ">
                                                                              <label class="field_title">Category</label>
                                                                              <button class="btn_add icon"  @click.prevent="categoryShow()">
                                                                                    <i class="fas fa-plus"></i>
                                                                              </button>
                                                                        </div>

                                                                        <select class="browser-default custom-select col-md-12"  name="ivt_cate" v-model='inv.cate_id'  placeholder="Select Category">
                                                                              <option value="" selected>Select Category</option>
                                                                              <!-- <optgroup  v-for="(key, data) in inv_cate" v-bind:label="key.name" v-if="key.parent_id == 0"> -->
                                                                                    <option v-for="(k, v) in category" v-bind:value="k.id" >{{k.Name}}</option>
                                                                              <!-- </optgroup>  -->
                                                                        </select>
                                                                        <span data-for='ivt_cate' class='k-invalid-msg'></span>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="field_title">Quantity</label>
                                                                        <!-- <input type="text" name="txt_invbarcode" class="col-md-12 k-textbox" placeholder="Inventory Quantity" required validationMessage="Inventory Quantity is required"> -->
                                                                        <kendo-numerictextbox 
                                                                                          name="txt_invqty"
                                                                                          v-model='inv.qty'
                                                                                          :value="1"
                                                                                          :decimals="0"
                                                                                          :format="'n0'"
                                                                                          :min="1"
                                                                                          :max="100000"
                                                                                          :round="true"
                                                                                          :spinners="true"
                                                                                          required validationMessage="Quantity is required" >
                                                                        </kendo-numerictextbox>
                                                                  </div>
                                                      </div>

                                                      <div class="field_cont col">
                                                            <div class="col-md-6">
                                                                  <label class="field_title">Make</label>
                                                                  <input type="text" name="txt_invmake" class="col-md-12 k-textbox" placeholder="Inventory Make" v-model='inv.make'>
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <label class="field_title">Model</label>
                                                                  <input type="text" name="txt_invmodel" class="col-md-12 k-textbox" placeholder="Inventory Model" v-model='inv.model'>  
                                                            </div>
                                                      </div>
                                          </div>
                                          
                                          <div class="container_subtitle">
                                                <i class="far fa-clipboard fa-lg"></i> <h5>Note</h5>
                                          </div>

                                          <div class="field_block">
                                                <textarea class="inv_note" rows="12" name="txt_invnote" v-model='inv.note' placeholder="Make a note now ..."></textarea>
                                          </div>
                                    </div>
                              </div>
                              

                              <div class="col-md-4">
                                    <div class="container_block">
                                          <div class="container_subtitle">
                                                <i class="far fa-image fa-lg"></i> 
                                                <h5>Inventory Photos</h5>
                                          </div>
                                          <div class="field_block single_img_blk">
                                                      <!-- <div class="inv_photo " v-show="(inv.photo != '' && inv.photo != null) || showInvImgs == true">
                                                            <img :src="current_domain + inv.photo"/>
                                                      </div> -->
                                                      <div id="photos" >
                                                            <div class="photo inv_photo" v-show="inv.photo != '' && inv.photo != null">
                                                                  <img :src="current_domain + inv.photo"/>
                                                                  <i class="fas fa-times" @click="rmImg()"></i>
                                                            </div>
                                                            <input type="hidden" name="inv_original_photo" v-model="inv.photo">
                                                      </div>

                                                      <kendo-upload ref="upload"
                                                            name="inv_photo[]"
                                                            :async-auto-upload="false"
                                                            :validation-allowed-extensions="['.jpg', '.jpeg', '.png', '.bmp', '.gif']"
                                                            :show-file-list="true"
                                                            :multiple="false"
                                                            :validation-max-file-size="2048000"
                                                            @remove="restoreImg()"
                                                            @select="rmImg">
                                                      </kendo-upload>
                                                      <div class="upload_hint">Maximum allowed file size is <strong>2MB</strong>.</div>
                                          </div>
                                                

                                          <div class="container_subtitle">
                                                <i class="fa fa-book fa-lg"></i> 
                                                <h5>Inventory Docs</h5>
                                          </div>
                                          <div class="field_block">
                                                <ul class="docs_list" v-show="inv_doc.length > 0">
                                                     <li  v-for="(key, data) in inv_doc">
                                                           <div class="docs_cont">
                                                                  <input type="hidden" v-model="key.id" name="inv_doc_id[]">
                                                                  <div class="btn_rm" @click="removeDocs(key.id)">
                                                                        <i class="fas fa-times"></i>
                                                                  </div> 
                                                                  <img v-bind:src="'/images/icons/icn_'+key.extension+'.jpg'">
                                                                  <div class="file_name">{{key.title}}</div>

                                                            </div>
                                                      </li>
                                                </ul>

                                                <kendo-upload ref="upload"
                                                            name="inv_docs[]"
                                                            :files="initialFiles"
                                                            :async-auto-upload="false"
                                                            :multiple="true"
                                                            :show-file-list="true"
                                                            :validation-allowed-extensions="['.doc', '.docx', '.pdf', '.csv', '.xls', '.txt', '.ppt','.pptx']"
                                                            @select="updateDocList">
                                                </kendo-upload>
                                                <div class="upload_hint">Maximum allowed file size is <strong>2MB</strong>.</div>
                                                      <!-- <button class="btn btn_asset_upload" @click="chooseFiles('btn_invfile')">Add File</button> -->
                                                      <!-- <input type="file" multiple="multiple"  id="btn_invfile"  accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf" hidden> -->
                                          </div>
                                    </div>

                                    <!-- <div class="container_block">
                                          <div class="container_subtitle">
                                                <i class="far fa-image fa-lg"></i> 
                                                <h5>Order From Contrators</h5>
                                          </div>
                                    </div> -->
                              </div>  

                        
                              <div class="field_cont btn_cont">
                                    <a class="btn btn_cancel"  v-bind:href="'/mgr/inventory/'" >Cancel</a>
                                    <a v-bind:href="'/mgr/del_inv/'+inv.id" onclick="return confirm('Are you sure you want to delete this inventory?');" class="btn btn_close" v-if="inv.id > 0">Delete</a>
                                    <button class="btn btn_submit" type="submit"  @click.prevent="onSubmit">Save</button>
                              </div>
                        </form>
                        <popupCategory :cate_type= "'inventory'" :category= category v-show="category_show"></popupCategory>

                    </div>
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'
import EventBus from '../event-bus';
import popupCategory  from '../popup/popup_category' 
import { Validator } from '@progress/kendo-validator-vue-wrapper'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'
import {  NumericTextBox, InputsInstaller } from '@progress/kendo-inputs-vue-wrapper'

Vue.use(InputsInstaller)
Vue.use(ValidatorInstaller)
Vue.use(UploadInstaller)

export default {
      props: ['inv','inv_doc','inv_cate'],
      components: {
            NumericTextBox, Validator, popupCategory
      },
      data(){
            return {
                 showInvImgs: false, invDocs: [],initialFiles: [], 
                 current_domain: location.protocol+"//"+window.location.hostname,
                 csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                 temp_photo: null,
                 category_show: false,
                 category: [],
            }
      },
      methods:{
            
            categoryShow:function() {
                  this.category_show = true;
            },
            restoreImg:function() {
                  this.inv.photo = this.temp_photo;
                  this.temp_photo = null;
                  this.$forceUpdate();
                  console.log(this.inv);
            },
            rmImg:function() {
                  this.temp_photo =  this.inv.photo;
                  this.inv.photo = null;
                  this.$forceUpdate();
            },
            onSubmit: function (ev) {
                  var validator = this.kendoValidator;
                  // var status = kendo.jQuery('.status')
                  if (validator.validate()) {
                        this.$root.isLoading = true;
                        document.getElementById('assetdetail_form').submit();
                  } else {

                  }
            },
            getCategory: function() {
                  var _this = this; 
                  var cate_type = 'inventory';
                 
                  axios.get('/mgr/get_category/type='+ cate_type).then(function (response) {
                      
                            if (response.data.success) {
                                var cate = response.data.cate;
                                _this.cate = cate;
                                _this.category = [];
                                for (var i = 0; i < cate.length; i++) {
                                    _this.category.push({'id' : cate[i].id, 'Name' : cate[i].Name, 'Description': cate[i].Description});
                                    
                                }
                                
                            } else {

                            }
                              
                        }).catch(function (error) {
                                    // 
                        });
            },
            removeDocs: function (id) {
                  for (var i = 0; i < this.inv_doc.length; i++) {
                        if (this.inv_doc[i].id == id) {
                              this.inv_doc.splice(i, 1);
                        }
                  }
                  this.$forceUpdate();
            },
            showPreviewPhoto: function (e) {
                 
                        //for (var i = 0; i < e.files.length; i++) {
                              var file = e.files[0].rawFile;
                              if (file) {
                                    var reader = new FileReader();
                                    reader.onloadend = function () {
                                          // _this.showInvImgs = true;
                                          $(".single_img_blk .inv_photo img").attr('src',this.result);;
                                          // if (kendo.jQuery('.imgprev_cont').length > 0) {
                                          //       $(".single_img_blk .imgprev_cont img").attr('src',this.result);;
                                          // } else {
                                          //       $("<div class='imgprev_cont'><img src='" + this.result + "' /></div>").appendTo($(".single_img_blk"));
                                          // }
                                    };
                                    reader.readAsDataURL(file);
                                    this.showInvImgs = true;
                                    this.$forceUpdate();
                              }
                        //}

            },
            updateDocList: function(e) {
                        // for (var i = 0; i < e.files.length; i++) {
                        //       var file = e.files[i].rawFile;
                        //       if (file) {
                        //             this.initialFiles.push(e.files[i]);
                        //       }
                        // }
            },
      },
      created: function () {
            if (!this.inv.hasOwnProperty("cate_id")) {
                  this.inv.cate_id = '';
            }
      },
      mounted: function () {
            var _this = this;
            this.csrf = myToken.csrfToken;  
            var upload = this.$refs.upload.kendoWidget();
            var upload1 = this.$refs.upload.kendoWidget();
            this.getCategory();
            EventBus.$on('category_popup', function (show_popup) {
                _this.category_show = show_popup;
            });
            EventBus.$on('category_update', function () {
                _this.$forceUpdate();
                _this.getCategory();
                _this.$forceUpdate();
                
            });
            // EventBus.$on('new_category_update', function (current_cate) {
            //       var new_cate = {
            //             id: current_cate.id,
            //             parent_id: 0,
            //             cate_id: current_cate.cate_id,
            //             name:  current_cate.name,
            //             description: null
            //       };
            //       _this.inv_cate.push(new_cate);
            //       _this.$forceUpdate();
            // });  

            // upload._module.postFormData = function (url, data, fileEntry, xhr) {
            //       var module = this;
            //       fileEntry.data("request", xhr);
            //       setTimeout(function () {
            //             var e = { target: { responseText: '', statusText: "OK", status: 200 } };
            //             module.onRequestSuccess.call(module, e, fileEntry);
            //       }, 1000);
            // };

            // upload._submitRemove = function (fileNames, eventArgs, onSuccess, onError) {
            //       onSuccess();
            // };



            //  /*
            //       The code in this function is only added to simulate a successful upload request for this demo.
            //       Do not use the code in other cases when working with the Upload component.
            // */
            // var postFormData = function (url, data, fileEntry, xhr) {
            //       var module = this;
            //       fileEntry.data("request", xhr);
            //       setTimeout(function () {
            //       var e = { target: { responseText: '', statusText: "OK", status: 200 } };
            //       module.onRequestSuccess.call(module, e, fileEntry);
            //       }, 1000);
            // };
            // var submitRemove = function (fileNames, eventArgs, onSuccess, onError) {
            //       onSuccess();
            // };
            // var upload1 = this.$refs.upload.kendoWidget();
            // upload1._module.postFormData = postFormData;
            // upload1._submitRemove = submitRemove;
      }
}
</script>

<style lang="scss">
.k-edit-label>label {
    display: inline-block;
}

.k-edit-label .btn_add {
    float: right;
}

.k-edit-label .btn_add i {
    color: #55ce63;
}

#photos {
      .photo {
            height: auto;;
            img {
                  height: auto;
            }
      } 
}

ul.asset_docs {
      position: relative; display: inline-block;width: 100%;
}

ul.asset_docs li .asset_doc_cont {
      border: 1px solid #dedede;position: relative;padding-top: 20px;height: 100px;font-size: .6em;text-align: center;
}


ul.asset_docs li .btn_rm {
      position: absolute;top: -10px;font-size: 1.2em;color: #fff;height: 20px;width: 20px;right: -10px;border-radius: 15px;padding: 0px;background-color: #f1536e;border: 0px;
}

button.btn_asset_upload {
      width: 100%; margin: 10px 0px;
}

</style>