<template>
      <div class="col">
            <div class="col-md-8">
                  <div class="container_block">
                        <div class="container_subtitle">
                              <i class="fas fa-suitacase fa-lg"></i> <h5>File List</h5>
                              <button class="btn btn_upload" @click="chooseFiles('btn_assetfile')" :disabled="current_dir==null || current_dir == ''">Add File</button>
                              <input type="file" multiple="multiple"  id="btn_assetfile" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf"   v-on:change="onFileChange" hidden>
                        </div>

                        <div class="field_block">
                              <h4>{{current_dir}}</h4>
                              <div class="file_list">
                                          <div class="file_cont col-md-3"  v-for="(key, index) in current_file_list">
                                                <i class="fas fa-times-circle" @click.stop="delFile(key, index)" ></i>
                                                <a :href="key.url" download> 
                                                      <img v-bind:src="'/images/icons/icn_'+key.type+'.jpg'">
                                                      <div class="file_name">{{key.name}}</div>
                                                 </a>
                                          </div>
                              </div>
                        </div>

                  </div>

                  
            </div>

            <div class="col-md-4">
                  <div class="container_block">
                        <div class="field_block">
                              <div class="create_dir_cont">
                                    <div class="col-md-10">
                                          <input type="text" placeholder="Create Folder" name="create_dir" v-model="new_dir_name">
                                    </div>
                                    <div class="col-md-2">
                                          <button v-on:click="createDir()">
                                                <i class="fas fa-plus"></i>
                                          </button>
                                    </div>
                              </div>

                              <div class="create_dir_cont">
                                    <div class="col-md-6 dir_cont" v-for="(key, data) in files" v-on:click="chooseFolder(key)">
                                          <div class="dir">
                                                <i class="fas fa-times-circle" @click.stop="delFolder(key)" ></i>
                                                <div class="dir_img" style="background:url(/images/folder.png) center center no-repeat;"></div>
                                                <div class="dir_name_cont">
                                                      <input type='text' class="dir_name" v-bind:value="key">
                                                      <i class="fas fa-pencil-alt"></i>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'

import { TreeList } from '@progress/kendo-treelist-vue-wrapper'
import { TreeListInstaller } from '@progress/kendo-treelist-vue-wrapper'

Vue.use(TreeListInstaller)

export default {
      props: ['files'],
      components: {
            TreeList
      },
      data(){
            return {
                  new_dir_name: null,
                  current_dir: null,
                  lib_file: null,
                  current_file_list: null
            }
      },
      methods:{
            onFileChange(e){
                this.lib_file = e.target.files[0];
                this.uploadDoc();
            },
            uploadDoc() {
                  var _this = this;
      
                  const config = {
                        headers: { 'content-type': 'multipart/form-data' }
                  }
      
                  let formData = new FormData();
                  formData.append('lib_file', this.lib_file);
                  formData.append('current_dir', this.current_dir);

                  if (this.lib_file.size > (1024 * 1024) *2) {
                        e.preventDefault();
                        alert('The file you upload cannot more than 2MB');
                        return;
                  }

                  axios.post('/mgr/upload_lib', formData, config)
                        .then(function (response) {
                              console.log(response);
                              _this.current_file_list.push({'name': response.data.name, 'type': response.data.type, 'folder': response.data.folder, 'url': response.data.url });
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              _this.output = error;
                        });
            },
            chooseFolder: function(folder_name) {
                  var _this = this; 
                  axios.post('/mgr/choose_lib_folder', {
                              folder_name: folder_name
                  })
                  .then(function (response) {
                        
                        if (response.data.success == true) {
                              console.log(response.data.fileList);
                              _this.current_dir = folder_name;
                              _this.current_file_list = response.data.fileList;
                        }
                  })
                  .catch(function (error) {
                              // 
                  });
            },
            delFile: function (key, index) {
                  if(confirm('Are you sure you want to delete this file permanently?') ) {
                        console.log(key);
                        var _this = this; 
                        axios.post('/mgr/del_lib_file', {
                              'folder': key.folder,
                              'name': key.name
                        })
                        .then(function (response) {
                              if (response.data.success == true) {
                                    _this.current_file_list.splice(index, 1);
                              }

                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                                    // 
                        });
                  }
            },
            delFolder: function(folder_name) {
                  if(confirm('All the items in the folder will also be deleted, Are you sure?') ) {
                        var _this = this; 
                        axios.post('/mgr/del_lib_folder', {
                              folder_name: folder_name
                        })
                        .then(function (response) {
                              for(var i = 0; i < _this.files.length; i++) {
                                    if (_this.files[i] == folder_name) {
                                          _this.files.splice(i, 1);
                                    }
                              }
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                                    // 
                        });
                  }
            },
            createDir: function(id) {
                  var _this = this; 
                  if (this.new_dir_name.length == 0) {
                        alert('Please insert the folder name.');
                        return false;
                  }

                  axios.post('/mgr/create_lib_folder', {
                              folder_name: this.new_dir_name
                  })
                  .then(function (response) {
                        //console.log(response.data.success);
                        if (response.data.success == true) {
                              console.log(_this.files);
                              _this.files.push(_this.new_dir_name);
                              _this.new_dir_name = null;
                        }
                  })
                  .catch(function (error) {
                              // 
                  });
            },
            chooseFiles: function(id) {
                  document.getElementById(id).click();
            }
      }
}
</script>


<style>
.create_dir_cont {
      display: inline-block;width: 100%;    display: inline-block;width: 100%;padding-bottom: 25px;margin-bottom: 15px;border-bottom: 1px solid #eee;
}

.create_dir_cont .dir_cont {
      padding-bottom: 15px;
}

.create_dir_cont .dir_cont .dir, .file_list .file_cont  {
      cursor: pointer;padding: 10px 5px 5px;
} 

.file_list .file_cont {
      height: 180px;position:relative;
}

.file_list .file_cont img {
    width: 108px;height: 108px;margin: 0px auto;display: block;
}

.file_list .file_cont .file_type {
      height: 100px;width: 100%;background-size: cover !important;background-position: center center !important;background-repeat: no-repeat !important;
}

.file_list .file_cont .file_name {
    font-size: .75em;margin: 10px 0px;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;word-wrap: break-word;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;word-break: break-all;text-align: center;
}


.create_dir_cont .dir_cont .dir .dir_name_cont {
      position: relative;
}

.create_dir_cont .dir_cont .dir .fa-pencil-alt {
      bottom: 3px;right: 10px;position: absolute;z-index: 100;font-size: .8em;display: none;
}

.create_dir_cont .dir_cont .dir .dir_name_cont:hover .fa-pencil-alt {
      display: inline-block;
}

.create_dir_cont .dir_cont .dir:hover  {
    background-color: rgba(64,78,103,.15);color: #404E67;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}

.create_dir_cont .dir_cont .dir:hover i.fa-times-circle, .file_list .file_cont:hover i.fa-times-circle {
      display: inline-block;
}

.create_dir_cont .dir_cont .dir i.fa-times-circle, .file_list .file_cont i.fa-times-circle {
    color: red;font-size: 1.4em;position: absolute;right: 10px;top: -10px;display: none;
}

.create_dir_cont .dir_cont .dir .dir_img {
      width: 100%;height: 100px;background-size: cover !important; 
}

.create_dir_cont .dir_cont .dir .dir_name {
      display: flex;align-items: center;word-wrap: break-word;justify-content: center;word-break: break-all;font-size: .75em;text-align: center;text-transform: capitalize;margin: 10px 0px 0px;padding: 0px;height: 20px;border: 0px;position: relative;
}

.create_dir_cont .col-md-10 {
    padding: 0px;
}

.create_dir_cont .col-md-2 {
      height: 36px;padding-right: 0px;
}

.create_dir_cont .col-md-2 > button {
    background-color: #55ce63;
    border: 0px;
    color: #fff;
    height: 36px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.container_block .container_subtitle h5 {
      float: left;
}
button.btn_upload {
      float: right;margin: 10px;padding: 0px 20px;
}

.file_list {
      display: inline-block;width: 100%;
}

</style>