<template>
      <div class="col">
            <div class="col-md-3">
                  <div class="container_block">

                        <div class="list_cont">
                              <button class="btn btn_new" @click="createNewTemplate()">
                                    New Template
                              </button>

                              <ul class="temp_list">
                                    <li v-for="(key, data) in list">
                                          <label class="title col-md-10">{{key.title}}</label>
										  <!-- <p class="tag col-md-4" >{{key.tag}}</p> -->
                                          <div class="panel col-md-2" @click="getTemplateContentByID(key.id)">
                                                <i class="fa fa-edit"></i>
                                                <a v-bind:href="'/mgr/del_template/'+key.id" onclick="return confirm('Are you sure you want to delete this template?');"><i class="fas fa-times-circle"></i></a>
                                          </div>
                                          <div class="content">{{key.substr_content}} ...</div>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>

            <div class="col-md-9">
                  <div class="container_block">
                        <form id="template_form" ref="template_form" action="/mgr/save_template" enctype="multipart/form-data" method="post" v-kendo-validator>
                              <input type="hidden" name="txt_tempid" v-model="current_template_id">
                              <input type="hidden" name="_token" :value="csrf">
                              <div class="field_block">
                                    <div class="field_cont col">
                                          <label class="field_title">{{txt_title}}</label>
                                          <input type="text"  name="txt_temptitle" class="col-md-12  k-textbox" placeholder="Template Title" required validationMessage="Template Title is required" v-model="current_template_title">
										 
                                    </div>
						<div class="field_cont col">
							<label class="field_title">{{txt_tag}}</label>
							<input type="text" name="txt_tag" class="col-md-12  k-textbox" placeholder="Template Tag" required validationMessage="Template Tag is required" v-model="current_template_tag">
										
						</div>
								
                                    <div class="field_cont col">
                                          <div class="" style="position:relative;">
                                                <label class="field_title" style="width:80%;float:left;">{{txt_content}}</label>
                                                <add-mail-select></add-mail-select>
                                          </div>
                                          <kendo-editor :resizable-content="true"
                                                      :resizable-toolbar="false"
                                                      style="height:380px"
                                                      rows="10"
                                                      cols="60"
                                                      name="txt_tempcontent"
                                                      v-model="current_template_content"
                                                      :value="current_template_content">

                                                        <kendo-editor-tool :name="'formatting'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'bold'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'italic'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'underline'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'strikethrough'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'justifyLeft'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'justifyCenter'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'justifyRight'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'justifyFull'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'createLink'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'unlink'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'insertImage'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'createTable'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'addColumnLeft'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'addColumnRight'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'addRowAbove'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'addRowBelow'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'deleteRow'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'deleteColumn'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'foreColor'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'backColor'"></kendo-editor-tool>
                                                        <kendo-editor-tool :name="'viewHtml'"></kendo-editor-tool>
                                          </kendo-editor>
                                    </div>

                                    <div class="field_cont">
                                          <div class="col-md-6">
                                               
                                          </div>
                                          <div class="col-md-6" style="text-align:right">
                                                <button class="btn btn_submit" type="submit">{{txt_savebtn}}</button>
                                          </div>
                                    </div>
                              </div>
                        </form>
                  </div>
            </div>
      </div>
</template>

<script>
// import '@progress/kendo-ui'
// import '@progress/kendo-theme-default/dist/all.css'

import { Editor } from '@progress/kendo-editor-vue-wrapper'
import { EditorTool } from '@progress/kendo-editor-vue-wrapper'
import { EditorInstaller } from '@progress/kendo-editor-vue-wrapper'

Vue.use(EditorInstaller)


export default {
      props: ['list'],
      components: {
            Editor
      },
      data(){
            return {
                txt_title: 'New Title',
                txt_content: 'New Content',
				txt_tag:'New tag',
				current_template_tag: null,
                current_template_id: null,
                current_template_title: null,
                current_template_content: null,
                txt_savebtn: this.current_template_id == null ? 'Create' : 'Update',
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
      },
      methods:{
            // delTemplate:function(id) {
            //       if(confirm('Are you sure you want to delete this template?') ) {
            //             var _this = this; 
            //             axios.post('/mgr/del_template', {
            //                   tid: id
            //             })
            //             .then(function (response) {
            //                   for(var i = 0; i < _this.list.length; i++) {
            //                         if (_this.list[i].id == id) {
            //                               _this.list.splice(i, 1);
            //                         }
            //                   }
            //                   _this.$forceUpdate();
            //             })
            //             .catch(function (error) {
            //                         // 
            //             });
            //       }
            // },
            createNewTemplate: function() {
                  this.txt_title = 'New Title';
                  this.txt_content = 'New Content';
				  this.txt_tag = 'New Tag';
                  this.current_template_id = null;
                  this.current_template_title = null;
                  this.current_template_content = null;
				  this.current_template_tag = null;
                  this.txt_savebtn = 'Create';
            },
            getTemplateContentByID: function(id) {
                  for (var i = 0; i < this.list.length; i++) {

                        if (this.list[i].id == id) {
                              this.current_template_id = this.list[i].id;
                              this.current_template_title = this.list[i].title;
                              this.current_template_content = this.list[i].original_content;
							  this.current_template_tag = this.list[i].tag;
                              this.txt_savebtn = 'Update';
                              this.txt_title = 'Title';
                              this.txt_content = 'Content';
							  this.txt_tag = 'Tag';
                              this.$forceUpdate();
                              // console.log(this.current_template_content);
                        }
                  }
            }
      },
      mounted: function () {
            this.csrf = myToken.csrfToken;  
      }
}
</script>

<style>
      .add {
            margin: 0px 10px !important;
            font-size: 1em !important;
      }

      .add .add-info {
            top: 20px !important;
      }
      ul.temp_list {
            display: inline-block;width: 100%;padding: 10px 0px;margin: 10px 0px;border-top: 1px dashed #dedede;
      }
      ul.temp_list > li {
            min-height: 80px;border-bottom: 1px solid #efefef;padding: 10px 0px; 
      }

      ul.temp_list > li .panel {
            padding: 0px;
      }

      ul.temp_list > li .panel i, ul.temp_list > li .panel a {
            display: inline-block;
      }

      ul.temp_list > li .panel a {
            color: #ef5350;
      }

      ul.temp_list > li i.fa-edit {
            cursor: pointer;
      }

      ul.temp_list > li > label.title {
            display: block;text-transform: capitalize;margin-bottom: 0px;padding-left: 0px;
			/* font-size: .75em; */
      }
	  ul.temp_list > li > .tag{
		  /* display: block;text-transform: capitalize;margin-bottom: 0px;padding-left: 0px; */
		  margin-top: 1.25em;
		  font-size: .25em;
		  color: gray;
	  }

      ul.temp_list > li .content {
            font-size: .8em;
      }
      .btn {
            padding-left: 20px;padding-right: 20px;
      }
      #main_content .btn.btn_new {
            margin: 14px 0% 14px 0%;width: 100%;
      }
</style>