<template>
      <!-- Description -->
      <div class="col-md-12">
            <label class="field_title">DESCRIPTION:</label>
            <textarea  name="case_content"  required validationMessage="Description is required" v-model="event_data.details"> </textarea>
      </div>
</template>

<script>
export default {
      name: 'caseDesc',
      props:['event_data'],
      data(){
            return {
                  
            }
      },
      created() {
            if (typeof this.event_data.details === "undefined") {
                  this.event_data.details = {};
            }

            if (!this.event_data.hasOwnProperty("details")) {
                  this.event_data.details = null;
            }
      }
}
</script>