<template>
      <div>
            <!-- case_detail is only for this template, and it will be inherited by 2 files, 1 is popup_booking.vue, another is cases.vue  -->
            <div class=" col-md-6">
                  <label class="field_title" >Case Type</label>
                  <span name="" v-if="case_detail.id">{{case_detail.case_type}}</span>
                  <select class="browser-default custom-select" id="case_type" name="case_type" required validationMessage="Case Type is required" v-else v-model="case_detail.case_type" @change="forceUpdate()">
                        <option :value="key.value" v-for="(key, data) in type">{{ key.title }}</option>
                  </select>
                  <span data-for='case_type' class='k-invalid-msg' v-text="err_case_type"></span>
            </div>

            <!-- job area -->
            <div class=" col-md-6" v-if="case_detail.case_type != 'inspection'">
                  <label class="field_title">Job Area</label>
                  <span class="" name="" v-if="case_detail.id">{{case_detail.job_area_name}}</span>
                  <select class="browser-default custom-select" id="job_area" name="job_area" v-else v-model="case_detail.job_area" @change="forceUpdate()">
                        <option v-bind:value="key.value" v-for="(key, data) in case_area" v-text="key.title"></option>
                  </select>
            </div>

            <div class=" col-md-6" v-if="case_detail.job_area == 2 && case_detail.case_type != 'inspection'" >
                  <label class="field_title">Area Details</label>
                  <span class="case_cont" v-if="case_detail.id">{{ case_detail.area_detail }}</span>
                  <input type="text" name="area_detail" class="txt_area_detail" placeholder="Area Details" v-model="case_detail.area_detail" v-else  required validationMessage="Detail is required">
            </div>

            <div class=" col-md-6" v-if="case_detail.job_area ==3 && case_detail.case_type != 'inspection'" >
                  <label class="field_title">Unit</label>
                  <span class="case_cont" name="" v-if="case_detail.id" >{{case_detail.unit.unit_title}}</span>
                  <select class="browser-default custom-select" id="unit_id" name="unit_id" v-else v-model="case_detail.unit_id" @change="areaDetailChange"  required validationMessage="Unit Num is required">
                        <option :value="key.id" v-for="key in units" :key="key.id">{{ key.unit_title }}</option>
                  </select>
                  <span data-for='unit_id' class='k-invalid-msg' v-text="err_unit_id"></span>
            </div>

            <div class=" col-md-6" v-if="case_detail.job_area ==1 && case_detail.case_type != 'inspection'" >
                  <label class="field_title">Asset</label>
                  <span class="case_cont" name="" v-if="case_detail.id" >{{case_detail.asset.name}}</span>
                  <select class="browser-default custom-select" id="asset_id" name="asset_id" v-else  v-model="case_detail.asset_id" @change="areaDetailChange" required validationMessage="Asset is required">
                        <option :value="key.id" v-for="key in assets" :key="assets.id">{{ key.name }}</option>
                  </select>
                  <span data-for='asset_id' class='k-invalid-msg' v-text="err_asset_id"></span>
            </div>

            <!-- inspection list -->
            <div id='bi_cont' class='bi_cont col-md-6'  v-if="case_detail.case_type == 'inspection'">
                  <div class='k-edit-label'>   
                        <label class="field_title">Inspection List</label>
                        <button class="btn_add icon" v-on:click.prevent="goToDetailPage('/mgr/create_inspection')">
                              <i class="fas fa-plus"></i>
                        </button>

                        <button class="btn_refresh icon"  v-on:click.prevent="updateInspectionList()">
                              <i class="fas fa-sync-alt" :class="loadingContractor?'icn_rotate':''"></i>
                        </button>
                  </div>
                  <span class="" name="" v-if="isNullOrUndefined(case_detail.id) == false" >{{case_detail.bi_txt}}</span>
                  <select v-model="case_detail.bi_id" @change="getBIInspection(case_detail.bi_id)" v-if="isNullOrUndefined(case_detail.id)">
                        <option v-for="(k,i) in bi_list" :value="k.id" v-if="k.set == false">{{k.title}}</option>
                        <option v-for="(k,i) in bi_list" :value="k.id" :disabled="k.set == true ? 'disabled' : ''" v-if="k.set == true">{{k.title}} - set</option>
                  </select>
                  <span data-for='bi_id' class='k-invalid-msg' v-text="err_bi_id"></span>
            </div>

            <div id='inspection_frequency' class='inspection_frequency col-md-6 k-edit-cont' v-if="case_detail.case_type == 'inspection'">
                  <label class="field_title">Recurring</label>
                  <div id='inspection_frequency_inner' v-text="case_detail.routine"></div>
            </div>

            <!-- recurring -->
            <div id='event_recurring' class='event_recurring col-md-6 k-edit-cont' v-if="case_detail.case_type != 'inspection'">
                  <label class="field_title">Recurring</label>
                  <span class="" name="" v-if="case_detail.id">{{ case_detail.routine }}</span>
                  <select id='recurring_frequency' name='recurring_frequency' v-model="case_detail.routine" v-else>
                         <option v-for="key in routine" :value="key">{{key}}</option>
                  </select>
                  <span data-for='recurring_frequency' class='k-invalid-msg' v-text="err_recurring_frequency"></span>
            </div>

            <!-- Progress & Priority -->
            <div class=" col-md-6">
                  <label class="field_title">Progress</label>
                  <select class="browser-default custom-select" name="case_progress" v-model="case_detail.progress" required validationMessage="Case Progress is required">
                        <option :value="key.value" v-for="(key, data) in case_progress">{{ key.title }}</option>
                  </select>
                  <span data-for='case_progress' class='k-invalid-msg' v-text="err_case_progress"></span>
            </div>

            <div class=" col-md-6">
                  <label class="field_title">Priority</label>
                  <select class="browser-default custom-select" name="case_priority" v-model="case_detail.priority" required validationMessage="Case Priority is required">
                        <option value=1>Low</option>
                        <option value=2>Medium</option>
                        <option value=3>High</option>
                        <option value=4>Urgent</option>
                  </select>
                  <span data-for='case_priority' class='k-invalid-msg' v-text="err_case_priority"></span>
            </div>

            <!-- Assign to contractor? -->
            <div class=" col-md-6" >
                  <div class="k-edit-label ">
                        <label class="field_title">Assigned To</label>
                        <button class="btn_add icon" v-on:click.prevent="goToDetailPage('/mgr/recommend_contractor')" v-if="isNullOrUndefined(case_detail.id)">
                              <i class="fas fa-plus"></i>
                        </button>

                        <button class="btn_refresh icon"  v-on:click.prevent="updateContractorList()" v-if="isNullOrUndefined(case_detail.id)">
                              <i class="fas fa-sync-alt" :class="loadingContractor?'icn_rotate':''"></i>
                        </button>
                  </div>
                                                
                  <select class="browser-default custom-select" id="contractor_id" name="contractor_id" v-model="case_detail.assignee_id">
                        <option :value="key.id" v-for="(key, data) in contractor_list" >{{ key.comp_name }}</option>
                  </select>                             
            </div>
      </div>
</template>

<script>

export default {
      name: 'caseInfo',
      props:['case_detail'],
      // props:['case_detail','units','assets','type','case_area', 'contractor_list','case_progress','bi_list'],
      data(){
            return {
                  // case_detail:{},
                  units: [],
                  assets: [],
                  type: [],
                  case_area: [],
                  contractor_list: [],
                  case_progress: [],
                  bi_list:[],
                  loadingContractor:false,

                  err_bi_id: null,
                  err_case_type: null,
                  err_asset_id: null,
                  err_unit_id:null,
                  err_case_progress: null,
                  err_case_priority: null
            }
      },
      methods:{
            forceUpdate:function() {
                  this.$forceUpdate();
            },
            getBIInspection(id) {
                  var frequency = '';
                  for (var i = 0; i < this.bi_list.length; i++) {
                        if (id == this.bi_list[i].id) {        
                              frequency = this.bi_list[i].frequency;
                              // this.case_detail.inspection_frequency_txt = this.bi_list[i].title;
                        }
                  }
                  this.updateRecurringFrequency(frequency);
            },
            updateRecurringFrequency(frequency) {
                  if (frequency == 1) {
                        this.recurring_frequency = "FREQ=DAILY";
                        this.case_detail.routine = 'DAILY';
                  } else if (frequency == 2) {
                        this.recurring_frequency = "FREQ=WEEKLY";
                        this.case_detail.routine = 'WEEKLY';
                  } else if (frequency == 3) {
                        this.recurring_frequency = "FREQ=MONTHLY";
                        this.case_detail.routine = 'MONTHLY';
                  } else if (frequency == 4) {
                        this.recurring_frequency = "FREQ=YEARLY";
                        this.case_detail.routine = 'YEARLY';
                  } else  {
                        this.recurring_frequency = "";
                        this.case_detail.routine = 'NONE';
                  }
                  this.forceUpdate();
            },
            updateInspectionList:function() {
                  var _this = this;
                  axios.get('/mgr/getInspections')
                        .then(function (response) {
                              if (response.data.hasOwnProperty('success')) {
                                    if (response.data.success =  true) {
                                           _this.bi_list = response.data.list;
                                          _this.$forceUpdate();
                                    }
                              }
                        })
                        .catch(function (error) {
                                    // 
                        });
            },
            updateContractorList:function() {
                  var _this = this;
                  axios.get('/mgr/getContractors')
                        .then(function (response) {
                              if (response.data.hasOwnProperty('success')) {
                                    if (response.data.success =  true) {
                                          _this.contractor_list = response.data.list;
                                          _this.$forceUpdate();
                                    }
                              }
                        })
                        .catch(function (error) {
                                    // 
                        });
            },
            goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
            areaDetailChange:function() {
              let caseArea = this.case_area[this.case_detail.job_area-1].title;
                if (this.case_detail.job_area == 1) {
                    let assets = this.assets;

                    this.case_detail.asset_id = this.assets[0].id;
                    this.case_detail.unit_id = null;
                    this.case_detail.area_detail = '';

                    for (let i = 0; i < assets.length; i++) {
                      if (assets[i].id == this.case_detail.asset_id) {
                        let areaName = assets[i].name;
                        this.case_detail.location = caseArea + ' - ' + areaName;
                        break;
                      }
                    }
                } else if (this.case_detail.job_area == 2) {
                      this.case_detail.location = caseArea + ' - ' + this.case_detail.area_detail;

                      this.case_detail.area_detail = '';
                      this.case_detail.asset_id = null;
                      this.case_detail.unit_id = null;
                } else if (this.case_detail.job_area == 3) {
                    let units = this.units;

                    this.case_detail.unit_id = this.units[0].id;
                    this.case_detail.asset_id = null;
                    this.case_detail.area_detail = '';

                    for (let i = 0; i < units.length; i++) {
                      if (units[i].id == this.case_detail.unit_id) {
                        let areaName = units[i].unit_title;
                        this.case_detail.location = caseArea + ' - ' + areaName;
                        break;
                      }
                    }
                } else {
                  console.error('job area error!');
                }
                this.$forceUpdate();
            },
            getDefaultBIValue(e) {
                  if (e.bi_list.length > 0) {
                        for (var i = 0; i < e.bi_list.length; i++) {
                              if (e.bi_list[i].set == false) {
                                    this.case_detail.bi_id = e.bi_list[i].id;
                                    this.updateRecurringFrequency(e.bi_list[i].frequency);
                                    return false;
                              }     
                        }
                  } else {
                        this.case_detail.bi_id = null;
                        this.case_detail.routine = 'None';
                  }
            },
            isNullOrUndefined:function(val) {
                  return typeof val === 'undefined' || val == null || val == ''
            },
            getInitialData:function() {
                  var _this = this;
                  var cid =  null;

                  if (typeof _this.case_detail !== 'undefined') {
                        if (_this.case_detail.hasOwnProperty("id")) {
                              if (_this.case_detail.id > 0) {
                                    cid = _this.case_detail.id;
                              }
                        }
                  }
                  axios.get('/mgr/get_job_initial_data', { params: { id: cid } }).then(function(response){
                        if (response.data.success == true) {
                              if (typeof _this.case_detail === 'undefined') {
                                    _this.case_detail = response.data.case;
                              }
                              // _this.case_detail.inspection_frequency_txt = null;
                              // _this.case_detail.bi_id = null;
                              _this.units = response.data.units;
                              _this.assets = response.data.assets;
                              _this.type = response.data.case_type;
                              _this.case_area = response.data.case_area;
                              _this.contractor_list = response.data.contractor_list;
                              _this.case_progress = response.data.case_progress;
                              _this.bi_list = response.data.bi_list;
                              _this.routine = response.data.routine;

                              if (!_this.case_detail.hasOwnProperty('case_type')) {
                                    _this.case_detail.case_type = 'inspection';
                              }

                              if (_this.case_detail.case_type == 'inspection') {
                                    _this.getDefaultBIValue(_this);
                                    // _this.getBIInspection(_this.bi_list[0].id);
                              }

                              if (!_this.case_detail.hasOwnProperty('job_area')) {
                                    _this.case_detail.job_area = 2;
                              }

                              if (_this.case_detail.job_area == 1) {
                                    // if job area is asset
                                    _this.case_detail.asset_id = _this.assets[0].id;
                                    _this.case_detail.unit_id = null;
                                    _this.case_detail.area_detail = '';
                              } else if (_this.case_detail.job_area == 2) {
                                    // if job area is unit
                                    _this.case_detail.area_detail = '';
                                    _this.case_detail.asset_id = null;
                                    _this.case_detail.unit_id = null;
                              } else if (_this.case_detail.job_area == 3) {
                                    // if job area is area detail
                                    _this.case_detail.unit_id = _this.units[0].id;
                                    _this.case_detail.asset_id = null;
                                    _this.case_detail.area_detail = '';
                              }

                              if (!_this.case_detail.hasOwnProperty('progress')) {
                                    _this.case_detail.progress = 1;
                              }

                              if (!_this.case_detail.hasOwnProperty('priority')) {
                                    _this.case_detail.priority = 1;
                              }
                        }
                  });
            }
      },
      created() {
            if (typeof this.case_detail === 'undefined') {
                  this.case_detail = {};
            }
      },
      mounted() {
            this.getInitialData();
      }
}
</script>