<template>
      <div>
            <div class="col list_header">
                  <div class="list_filter col">
                        <form id="ins_form" ref="ins_form" action="/mgr/inspection" method="get" >
                              <input type="text" placeholder="Search Title" class="input_search"  name="input_search" v-model="search_term">
                              <button class="btn_filter">Search</button>
                              <a href="/mgr/create_inspection" class="btn btn_new btn_insp" v-if="insMenu == 'i'">New +</a>
                        </form>
                  </div>
            </div>
            <div class="container_block">
                  <div class="list_cont">
                        <div class="list_header">
                              <div class="list_fields w_5" >
                                    <check-box ref="eventBus" section="setting_inspection" :data="inspection_list.data"  @updateCheckedItem="check_box=$event"></check-box>
                              </div>
                              <div class="list_fields w_55">AREA NAME</div>
                              <div class="list_fields w_15 c_align">RECURRING</div>
                              <!-- <div class="list_fields w_15 c_align">DATE FROM</div>
                              <div class="list_fields w_15 c_align">TIME</div> -->
                              <div class="list_fields w_15 c_align">ACTIONS</div>
                        </div>
                        
                        <div class="list_row" v-for="(key, data) in inspection_list.data">
                              <div class="list_fields w_5">
                                    <input type="checkbox" class="styled_checkbox" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                    <label for="styled-checkbox"></label>
                              </div>
                              <div class="list_fields w_55" @click="goToDetailPage('edit_inspection/'+key.id)">
                                    <div class="">{{ key.area_name }}</div>
                                    <div class="action_list">{{ key.actions }}</div>
                              </div>
                              <div class="list_fields w_15 c_align" @click="goToDetailPage('edit_inspection/'+key.id)">
                                    <span :class="'tagcont cont_'+(4-data%5)">     
                                          {{ key.frequency }}
                                    </span>
                              </div>
                              <!-- <div class="list_fields w_15 c_align" @click="goToDetailPage('edit_inspection/'+key.id)">
                                    {{ key.start_date }}
                                    <span v-if="key.start_date == null || key.start_date == ''">
                                          -
                                    </span>
                              </div>
                              <div class="list_fields w_15 c_align" @click="goToDetailPage('edit_inspection/'+key.id)">
                                    {{ key.time_from }} - {{ key.time_to }}
                              </div> -->

                              <div class="list_fields w_15 c_align">
                                    <a v-bind:href="'edit_inspection/'+key.id" class="list_btn btn_edit" target="_blank">
                                          <i class="edit_button fa fa-pen"></i>
                                    </a>

                                    <a class="d_buttom" v-bind:href="'/mgr/del_inspection/'+key.id" onclick="return confirm('Are you sure you want to delete this inspection?');">
                                          <i class="fa fa-times"></i>
                                    </a>
                              </div>
                        </div>
                  </div>

                  <pagination :pagination="list_pagination"></pagination>  
            </div>
      </div>
</template>

<script>

import EventBus from '../event-bus';
import pagination from '../PaginationComponent.vue';

export default {
      props: ['page','ttype','search_term'],
      components: {
             pagination
      },
      data(){
            return {
                  error_msg : null,
                  insMenu : 'u',
                  inspection_list: [],
                  list_pagination: [],
                  check_box:{
                        checkedItem:[],
                        isCheckAll:false,
                  },
                 
            }
      },
      created() {
            this.getListContent(this.page, this.search_term); 
      },
      methods:{
            openInspection: function(bi_id, area_name, time_from, time_to, ar_id) {
                  var _this = this;
                  axios.get('/mgr/get_inpection_items/bi_id='+bi_id)
                        .then(function (response) {
                              console.log(response);
                              if (response.data.success == true) {
                                    var this_ins = {
                                          'id' : bi_id,
                                          'currentEventID': ar_id,
                                          'currentEventTitle' : area_name,
                                          'currentEventItems' : response.data.list,
                                          'currentEventIDStartTime': time_from,
                                          'currentEventIDEndTime' : time_to
                                    }
                                    EventBus.$emit("inspection_items",this_ins);
                              }
                        })
                        .catch(function (error) {
                              // 
                              console.log(error);
                        });
            },
            openInspectionDetail: function(inspection_id, area_name) {
                  var this_ins = {
                        'inspection_id' : inspection_id,
                        'area_name' : area_name
                  }
                  EventBus.$emit("inspection_detail",this_ins);
            },
            converntTime(inspection_time)  {
                  if (inspection_time != null && inspection_time != '') {
                        var months_arr = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

                        if (inspection_time != null && inspection_time != '') {
                              var t = inspection_time.split('-');
                              var start_time = new Date(t[0]*1000);
                              var end_time = new Date(t[1]*1000);
                              var shour = start_time.getHours();
                              var smin = start_time.getMinutes();
                              var sampm = shour >= 12 ? 'PM' : 'AM';
                              var ehour = end_time.getHours();
                              var emin = end_time.getMinutes();
                              var eampm = ehour >= 12 ? 'PM' : 'AM';

                              return start_time.getDate()+' '+months_arr[start_time.getMonth()]+", "+('0' + shour).slice(-2)+":"+('0' + smin).slice(-2)+" "+sampm+" - "+('0' + ehour).slice(-2)+":"+('0' + emin).slice(-2)+" "+eampm;
                        }
                  }
            },
            getListContent:function(page, search_term) {
                  var _this = this;
                  axios.get('/mgr/get_inspection_list/p='+ page+'&search_term='+search_term).then(function (response) {
                        if (response.data.data.length > 0) {
                              _this.inspection_list = response.data;
                              // console.log(_this.inspection_list);
                              _this.updatePaginationData(response);
                        } 
                        //_this.insMenu = ttype;
                        EventBus.$emit("initListPagination",_this.list_pagination);
                  })
                  .catch(function (error) {
                        // 
                  });
                  
            },
            updateItem(){
                  var selected_data = {
                        'ids' : this.check_box.checkedItem,
                        'type' : 'inspection_list',
                  }
                  EventBus.$emit("selected_data", selected_data);
            },
		goToDetailPage:function(url) {
				let a= document.createElement('a');
				a.target= '_blank';
				a.href= url;
				a.click();
            },
            updatePaginationData: function(response) {
                  console.log(response.data);
                  if (response.hasOwnProperty('data')) {
                        this.list_pagination.from = response.data.from;
                        this.list_pagination.last_page = response.data.last_page;
                        this.list_pagination.next_page_url = response.data.next_page_url;
                        this.list_pagination.path = response.data.path;
                        this.list_pagination.per_page = response.data.per_page;
                        this.list_pagination.to = response.data.to;
                        this.list_pagination.total = response.data.total;
                        this.list_pagination.current_page = response.data.current_page;
                  } else {
                        this.list_pagination.from = '';
                        this.list_pagination.last_page = '';
                        this.list_pagination.next_page_url = '';
                        this.list_pagination.path = '';
                        this.list_pagination.per_page = '';
                        this.list_pagination.to = '';
                        this.list_pagination.total = '';
                        this.list_pagination.current_page = '';
                  }
                  // console.log(this.list_pagination);
            },
      },
      mounted() {
            var _this = this;
            EventBus.$emit("initListPagination",_this.list_pagination);

            EventBus.$on('updateListPagination', function (e) {
                  _this.getListContent(e.page, _this.search_term); 
            });

            EventBus.$on('inspection_update',function(e){
                  //console.log(e);
                  for (var i = 0; i < _this.inspection_list.data.length; i++) {
                        if (_this.inspection_list.data[i].id == e.bi_id) {
                              if (_this.inspection_list.data[i].frequency_no == '' || _this.inspection_list.data[i].frequency_no == '0' || _this.inspection_list.data[i].frequency_no == 0) {
                                    _this.inspection_list.data.splice(i, 1);
                              } else {
                                    _this.inspection_list.data[i].next_date = e.next_date_str;
                              }
                        }
                  }
            
                  _this.$forceUpdate();
            });



            EventBus.$on('updateList_cont', function (e) {
                  console.log(e);
                  if (_this.insMenu == 'u' && e.action == 2) {
                        location.reload();
                  }
            });
      }
}
</script>

<style lang="scss">
.popup_cont .popup_content .content {
    height: 100% !important;
    width: 100%;
    padding: 0px 15px;
}

#main_content {
      .btn.btn_new.btn_insp {
            margin: 0px;
            height: 34px;
            padding: 4px 0px;
            min-width: 100px;
      }
}

.list_cont {
      .list_header, .list_row {
  
            .list_fields {
                  height: 50px;
            }
      }
}

.action_list {
      font-size: .7em;
      font-style: italic;
}
.list_filter select  {
      max-width: 150px;margin-right: 10px;    display: inline-block;
}
.d_buttom {
	    width: 26px;
	    height: 26px;
	    display: inline-block;
	    margin-right: 5px;
	    line-height: 26px;
	    color: #fff;
	    border-radius: .2rem;
	    background-color: #ff738a;
}
.d_buttom > i ,.edit_button{
	color: #fff !important;
	font-size: 1.4rem;
	margin: 0px 3px;
}


</style>