<template>
      <div class="col inspection_cont">


            <div class="col-md-8">
                  <div class="container_block">
                        <div class="container_subtitle">
                              <i class="far fa-check-square"></i>
                              <h5>Inspection Details</h5>
                        </div>

                        <form method="post" @submit.prevent="saveInspection" enctype="multipart/form-data" >
                              <div class="field_block">
                                    <div class="field_cont">
                                          <div class="col-md-6">
                                                <label class="field_title">Area</label> 
                                                <input type="text" id="txt_area" name="txt_area" placeholder="Lobby" class="col-md-12 k-textbox" v-model="inspections.area_name" required="required">
                                          </div>

                                          <div class="col-md-6">
                                                <label class="field_title">Recurring</label> 
                                                <select id='recurring_frequency' name='recurring_frequency' data-role='dropdownlist' required="required" v-model="inspections.frequency" @change="onChangeRecurring">
                                                      <option value='0'>None</option>
                                                      <option value='1'>Daily</option>
                                                      <option value='2'>Weekly</option>
                                                      <option value='3'>Monthly</option>
                                                      <option value='4'>Yearly</option>
                                                </select>
                                          </div>
                                    </div>

                                    <div class="field_cont">
                                          <div class="col-md-12" >  
                                                <label class="field_title">assets / actions</label> 
                                          
                                                <div class="items_cont col-md-12" v-for="(k, val) in inspections.actions">     
                                                      <div class="flex-1 item_pre"> - </div>
                                                      <div class="flex-9">
                                                            <input type="hidden" v-model="k.id">
                                                            <input type="hidden" v-model="k.asset_id">
                                                            <input type="text" class="hidden_actions" v-model="k.title" required="required" style="opacity: 0;"/>
                                                            <kendo-combobox   
                                                                              name="action_list"
                                                                              v-model="k.title"
                                                                              @change="actionOnChange(val, $event)"
                                                                              :placeholder="'Select an asset or Enter a location'"
                                                                              :data-source="assets"
                                                                              :value-primitive="'true'"
                                                                              :data-text-field="'name'"
                                                                              :data-value-field="'name'"
                                                                              >
                                                            </kendo-combobox>
                                                      </div>
                                                      <div class="flex-2 item_panel">
                                                            <i class="fas fa-plus" @click="newInpectionItem()"></i>
                                                            <i class="fas fa-times" @click="delInspection(val)"></i>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="field_cont btn_cont" v-if="inspections.id > 0">
                                    <a class="btn btn_close" @click="closeWindow();">Close</a>
                                    <button class="btn btn_submit">
                                          Update Inspection
                                    </button>
                              </div>
                              <div class="field_cont btn_cont" v-else>
                                    <a class="btn btn_close" href="/mgr/inspection" >Close</a>
                                    <button class="btn btn_submit">
                                          New Inspection
                                    </button>
                              </div>
                        </form>
                  </div>
            </div>

            <div class="col-md-4">
                  <div class="container_block">
                        <div class="container_subtitle">
                              <i class="fas fa-history"></i> 
                              <h5>History</h5>
                        </div>

                        <ul class="field_block">
                              <li class="history_cont" v-for="(history_key, history_val) in inspections.history">   
                                    <div class="col-md-6">
                                          <div class="date">
                                                {{history_key.admin_name}}
                                          </div>
                                          <div class="time">
                                                {{new Date(history_key.updated_at).toLocaleString('en-US')}}
                                          </div>
                                    </div>

                                    <div class="col-md-6">
                                          <!-- <span class="admin">
                                                <i class="fas fa-user"></i>
                                                {{history_key.admin_name}}
                                          </span> -->
                                          <div class="btn_cont">
                                                <button><i class="far fa-list-alt"></i></button>
                                          </div>
                                    </div>
                              </li>
                        </ul>
                  </div>
            </div>

      </div>
</template>

<script>
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'
import { InputsInstaller } from '@progress/kendo-inputs-vue-wrapper'
import { DropdownsInstaller, ComboBox } from '@progress/kendo-dropdowns-vue-wrapper'

Vue.use(InputsInstaller);
Vue.use(DateinputsInstaller);
Vue.use(DropdownsInstaller);

export default {
      props: ['bia','assets'],
      components: {
            DropdownsInstaller, TimePicker, ComboBox
      },
      data(){
            return {
                  current_frequency: null,
                  inspections: {
                        actions: [],
                        history: [],
                  },
            }
      },
      methods: {
            closeWindow:function() {
                  window.close();
            },
            actionOnChange: function(index, ev) {
                  if (ev.sender.selectedIndex == -1) {
                        this.inspections.actions[index].asset_id = null;
                        this.inspections.actions[index].title = ev.sender.input[0].value
                  } else {
                        this.inspections.actions[index].asset_id = this.assets[ev.sender.selectedIndex].id;
                        this.inspections.actions[index].title = this.assets[ev.sender.selectedIndex].name;
                  }
                  this.$forceUpdate();
            },
            delInspection: function(index) {
                  if (this.inspections.actions.length > 1) {    
                        this.inspections.actions.splice(index, 1);
                        this.$forceUpdate();
                  }
            },
            saveInspection:function() {
                   this.inspections.isChangeFrequency = this.inspections.frequency != this.current_frequency ? 1 : 0;

                  if (this.inspections.hasOwnProperty("id")) {
                        if (confirm("The inspection might make changed on your calendar, press 'Yes' to continue the process.") == true) {
                             this.saveInspectionAjax();
                        }
                  } else {
                        this.saveInspectionAjax();
                  }
            },
            saveInspectionAjax:function() {
                  var _this = this;
                  this.$root.isLoading = true;
                  axios.post('/mgr/initial_create_inspections', {
                                    inspections: this.inspections
                              }).then(function (response) {
                                    if (response.data.success == true) {
                                          window.location.href = '/mgr/inspection'; 
                                    }
                                    _this.$root.isLoading = false;
                              })
                              .catch(function(){
                                    console.log('FAILURE!!');
                                    _this.$root.isLoading = false;
                              });
            },
            newInpectionItem:function() {
                  this.inspections.actions.push({'id': null, 'bi_area_id': this.inspections.id, 'asset_id': null, 'status': 1, 'title': null, 'created_at': null, 'updated_at': null });
                  this.$forceUpdate();
            },
            initialInspectionItem:function() {
                  this.inspections.actions.push({'id': null, 'bi_area_id': this.inspections.id, 'asset_id': null, 'status': 1, 'title': null, 'created_at': null, 'updated_at': null});
            }
      },
      created() {
            if (this.bia.hasOwnProperty("frequency")) {
                  this.current_frequency = this.inspections.frequency;
            }

            if (this.bia.hasOwnProperty("area")) {
                  this.inspections = this.bia.area;
            }

            if (this.bia.hasOwnProperty("items")) {
                  this.inspections.actions = this.bia.items;
                  if (this.bia.items.length == 0) {
                        this.initialInspectionItem();
                  }
            } else { 
                  this.initialInspectionItem();
            }

            if (!this.bia.hasOwnProperty("history")) {
                  this.inspections.history = this.bia.history;
            }
            this.inspections.isChangeFrequency = 0;
      },
      mounted: function () {
            this.csrf = myToken.csrfToken;  
      }
}
</script>


<style lang="scss">
.btn_submit {
      margin-right: 15px;
}

.hidden_actions {
      opacity: 0 !important;
      position: absolute !important;
      width: inherit !important;
}
.history_cont {
      padding: 8px;font-size: .85em;border-bottom: 1px solid #ddd;cursor: pointer;border-radius: 4px;display: flex;align-items: center;
      &:hover {
            background-color: rgba(55,156,214,0.3);
            border-bottom: 0px; 
            .date {
                  font-weight: 700;
            }
      }
      .col-md-6 {
            padding: 0px;;
            .date {
                  font-size: .98em;
            }
            .time {
                  font-size: .8em;font-style: italic;line-height: 14px;
            }
            .btn_cont {
                  margin-top: 0px;;padding: 0px;
                  button {
                        background-color: #59a6ff;
                        width: 26px;
                        height: 26px;
                        display: inline-block;
                        line-height: 26px;
                        color: #fff;
                        border-radius: .2rem;
                        border: 0px;
                  }
            }
      }
     
      &:last-child {
            border-bottom: 0px; 
      }
}
.inspection_time {
      display: inline-block;
      margin: 20px 0px;
      .col-md-6 {
            margin-bottom: 15px;
            .k-datepicker {
                  width: 100% !important;
            }
      }
}
.w_100 {
    width: 100% !important;
}

#is_cont {
      margin: 40px 6% 0px 2%;
      background-color: #fff;
      height: 80vh;
      width: 100%;
      -webkit-box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
      box-shadow: 1px 0px 20px rgba(0,0,0,0.08);

      .inspection_cont {
            width: 100%;
            margin: 0px auto;
      }

      .inspection_step {
            padding: 80px 40px;
            overflow-y: auto;

            .col-md-6 {
                  padding: 0px 20px 20px 0px;
            }

            .btn_inspectnext {
                  margin: 30px auto 60px auto;
                  width: 50%;
                  font-size: 1.6em;
                  padding: 0px;
            }
      }

      .inspection_header {
            label {
                  width: 100%;
                  text-align: center;
                  font-size: 1.4em;
                  margin-bottom: 10px;
            }

            span {
                  width: 100%;
                  text-align: center;
                  margin-bottom: 40px;
                  display: block;
                  line-height: 1.8em;
                  font-size: .85em;
            }
      }
}
.inspection_cont {
            width: 100%;

            .inspection_area_cont {
                  display: flex;margin-bottom: 15px;    width: 100%;
                  .flex-1 {
                        flex: 1;text-align: center;vertical-align: middle;margin: auto;font-size: 2em; margin-top: 20px;
                  }

                  .flex-2 {
                        flex: 2;text-align: center;vertical-align: middle;margin: auto;font-size: 1.6em;margin-top: 24px;

                        i.fa-plus {
                              color: #55ce63;margin-right: 15px;;
                        }

                        i.fa-times {
                              color: #ff0000;
                        }
                  }

                  .flex-9 {
                        flex: 9;
                  }
            }

            .items_cont {
                  display: flex;padding: 0px !important;margin-bottom: 12px;
                  .item_pre {
                        text-align: right;font-size: 2em;padding-right: 0px;
                  }

                  .flex-1 {
                        flex: 1;
                  }

                  .flex-9 {
                        flex: 9;
                  }

                  .flex-8 {
                        flex: 8;
                  }
                  .flex-2 {
                        flex: 2;text-align: center;vertical-align: middle;margin: auto;font-size: 1.5em;padding-right: 5px;

                        i.fa-plus {
                              color: #55ce63;margin-right: 10px;;cursor: pointer;
                        }

                        i.fa-times {
                              color: #ff0000;cursor: pointer;
                        }
                  }

                  .item_pre {
                       margin: auto;
                        text-align: right;
                        padding-right: 15px;
                        font-size: 2em;
                  }
            }

            .inspection_panel {
                  text-align: center;
            }
      }
</style>