<template>
      <div class="container_block">
                        <div class="list_filter col">
                              <div class="col-md-3 control_cont">

                              </div>
                              <div class="col-md-9 filter_cont">
                                    
                              </div>
                        </div>
                        
                        
                        <div class="list_cont">
                              <div class="list_header">
                                    <div class="list_fields w_10">#</div>
                                    <div class="list_fields w_10">DATE/TIME</div>
                                    <div class="list_fields w_15 c_align">TENANT</div>
                                    <div class="list_fields w_10 c_align">UNIT</div>
                                    <div class="list_fields w_30 c_align">CONTENT</div>
                                    <div class="list_fields w_10 c_align">STATUS</div>
                                    <div class="list_fields w_15 c_align">ACTIONS</div>
                              </div>
                            
                              <div class="list_row"  v-for="(key, data) in complaints.data">
                                    <div class="list_fields w_10">{{key.id }}</div>
                                    <div class="list_fields w_10">{{new Date(key.created_at).toDateString()}}</div>
                                    <div class="list_fields w_15 c_align">{{ key.first_name }} {{ key.last_name }}</div>
                                    <div class="list_fields w_10 c_align">{{ key.unit_title }}</div>
                                    <div class="list_fields w_30 c_align">{{ key.content }} ...</div>
                                    <div class="list_fields w_10 c_align">{{ key.progress }}</div>
                                    <div class="list_fields w_15 c_align">
                                        <a v-bind:href="'complaint_detail/'+key.id">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </div>
                              </div>
                          
                        </div>
      </div>
</template>

<script>


export default {
      props: ['complaints'],
      components: {

      },
      data(){
            return {
                 error_msg : null
            }
      },
      methods:{
         
      }
}
</script>