<template>
    
<div class="col-md-12">
            <div class="col">
                  <div class="col-md-7">
                        <div class="container_block">
                              <input type="hidden" name="_token" :value="csrf">
                              <div class="container_subtitle">
                                    <i class="fas fa-suitacase fa-lg"></i> <h5>Case Info</h5>
                              </div>
                              

                              <div class="field_block">
                                    <div class="field_cont col">
                                          <div class=" col-md-6">
                                                <label class="field_title">Case No</label>
                                                <input type="text" name="txt_caseno" class="col-md-12  k-textbox" placeholder="Case No" readonly>
                                          </div>
                                          <div class=" col-md-6">
                                                <label class="field_title">Case Type</label>
                                                <select class="browser-default custom-select col-md-12" name="case">
                                                       <option value="">Defects</option>
                                                       <option value="">Irrigation</option>
                                                       <option value="">Repairs</option>
                                                       <option value="">Maintenance</option>
                                                       <option value="">Replacement</option>
                                                       <option value="">Complaint</option>
                                                       <option value="">Gardening</option>
                                                       <option value="">Incident</option>
                                                       <option value="">Cleaning</option>
                                                       <option value="">Fire Service</option>
                                                       <option value="">Breaches</option>
                                                       <option value="">Improvement</option>
                                                       <option value="">Pool</option>
                                                       <option value="">Medical Incident</option>
                                                       <option value="">Safe Problem</option>
                                                       <option value="">Others</option>
                                                </select>
                                          </div>
                                         
                                    </div>

                                    <div class="field_cont col">
                                          <div class=" col-md-6">
                                                <label class="field_title">Name</label>
                                                <input type="text" name="txt_name" class="col-md-12  k-textbox" placeholder="Name" readonly>
                                          </div>
                                          <div class=" col-md-6">
                                                <label class="field_title">Added At</label>
                                                <kendo-datepicker 
                                                      :value="today"
                                                      :format="'yyyy-MM-dd'"
                                                      name="txt_caseaddat" class="col-md-12" placeholder="Added At" >
                                                </kendo-datepicker>
                                          </div>
                                    </div>      

                                    <div class="field_cont col">
                                          <div class="col-md-12">
                                                <label class="field_title">CONTENT:</label>
                                                <textarea name="txt_disable_specific_date" class="txt_facility_rule col-md-12" row="20" placeholder="" style="height:200px;" readonly>{{complaint.content}}</textarea>
                                          </div>
                                    </div>                              
                              </div>

                              <div class="container_subtitle">
                                    <i class="fas fa-clone"></i> <h5>Area</h5>
                              </div>

                              <div class="field_block">
                                    <div class="field_cont col">
                                           <div class=" col-md-6">
                                                <label class="field_title">Job Area</label>
                                                <select class="browser-default custom-select col-md-12" name="job_area">
                                                      <option value="">Common Area - Asset</option>
                                                       <option value="">Common Area - Non Asset</option>
                                                       <option value="">Private Lot</option>
                                                </select>
                                          </div>
                                          <div class=" col-md-6">
                                                <label class="field_title">Category</label>
                                                <select class="browser-default custom-select col-md-12" name="cate">

                                                </select>
                                          </div>

                                    </div>

                                    <div class="field_cont col">
                                          <div class=" col-md-6">
                                                <label class="field_title">Asset</label>
                                                <select class="browser-default custom-select col-md-12" name="asset">

                                                </select>
                                          </div>
                                          <div class=" col-md-6">
                                                <label class="field_title">Display On Report:</label>
                                                <div class="radio_cont">
                                                      <label class="lbl_radio"><input type="radio" value="1" v-model="show_on_report"/><div>Yes</div></label><label class="lbl_radio"><input type="radio" value="0"  v-model="show_on_report"/><div>No</div></label>
                                                </div>
                                          </div>
                                    </div>

                                    
                                    
                              </div>
                        </div>
                  </div>
            

                  <div class="col-md-5">
                        <div class="container_block">
                              <div class="container_subtitle">
                                    <i class="fas fa-info-circle"></i>
                                    <h5>Status</h5>
                              </div>

                              <div class="field_block">
                                    <div class="field_cont col">
                                          <div class=" col-md-6">
                                                <label class="field_title">Progress</label>
                                                <select class="browser-default custom-select col-md-12" name="progress">
                                                                  <option value="">New</option>
                                                                  <option value="">In Progress</option>
                                                                  <option value="">Completed</option>
                                                                  <option value="">Closed</option>
                                                                  <option value="">Awaiting Contractor</option>
                                                                  <option value="">Awaiting Approval</option>
                                                                  <option value="">Commitee Approval</option>
                                                                  <option value="">Admin Approval</option>
                                                                  <option value="">Building Manager Discretion</option>
                                                </select>
                                          </div>

                                          <div class=" col-md-6">
                                                <label class="field_title">Priority</label>
                                                <select class="browser-default custom-select col-md-12" name="priority">
                                                      <option value="">Low</option>
                                                      <option value="">Medium</option>
                                                      <option value="">High</option>
                                                      <option value="">Urgent</option>
                                                </select>
                                          </div>
                                    </div>
                              </div>



                              <div class="field_block">
                                   <div class="field_cont col">
                                          <div class=" col-md-12">
                                                <label class="field_title">Assigned To</label>
                                                <select class="browser-default custom-select col-md-12" name="contractor">
                                                      
                                                </select>
                                          </div>
                                    </div>
                              </div>


                              <div class="container_subtitle">
                                    <i class="far fa-image fa-lg"></i> 
                                    <h5>Photos</h5>
                              </div>
                              <div class="field_block single_img_blk">
                                    <kendo-upload ref="upload"
                                                      name="case_photo"
                                                      :async-auto-upload="false"
                                                      :validation-allowed-extensions="['.jpg', '.jpeg', '.png', '.bmp', '.gif']"
                                                      :show-file-list="false"
                                                      @select="showPreviewPhoto">
                                    </kendo-upload>
                              </div>

                              <div class="container_subtitle">
                                    <i class="fa fa-book fa-lg"></i> 
                                    <h5>Docs</h5>
                              </div>

                              <div class="field_block">       
                                    <kendo-upload ref="upload"
                                                  name="case_docs[]"
                                                  :files="initialFiles"
                                                  :async-auto-upload="false"
                                                  :multiple="true"
                                                  :validation-allowed-extensions="['.doc', '.docx', '.pdf', '.csv', '.xls', '.txt', '.ppt','.pptx']"
                                                  @select="updateDocList">
                                    </kendo-upload>
                              </div>

                              <div class="container_subtitle">
                                    <i class="fas fa-file-invoice"></i>
                                    <h5>Quotes</h5>
                              </div>

                              <div class="field_block">       
                                    <kendo-upload ref="upload"
                                                  name="case_docs[]"
                                                  :files="initialFiles"
                                                  :async-auto-upload="false"
                                                  :multiple="true"
                                                  :validation-allowed-extensions="['.doc', '.docx', '.pdf', '.csv', '.xls', '.txt', '.ppt','.pptx']"
                                                  @select="updateQuotesList">
                                    </kendo-upload>
                              </div>

                              <div class="container_subtitle">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                    <h5>Invoices</h5>
                              </div>

                              <div class="field_block">       
                                    <kendo-upload ref="upload"
                                                  name="case_docs[]"
                                                  :files="initialFiles"
                                                  :async-auto-upload="false"
                                                  :multiple="true"
                                                  :validation-allowed-extensions="['.doc', '.docx', '.pdf', '.csv', '.xls', '.txt', '.ppt','.pptx']"
                                                  @select="updateInvList">
                                    </kendo-upload>
                              </div>

                              <div class="container_subtitle">
                                    <i class="fas fa-envelope"></i>
                                    <h5>Email Attachment</h5>
                              </div>
                        </div>
                  </div>
            </div>
      

            <div class="col">         
                  <div class="col-md-12" style=" margin-top: 30px;">
                        <div class="container_block">
                              <div class="container_header"><h4>ADMIN LOGS</h4> <i class="fa fa-plus" @click="newCLogRow()"></i></div>
                              <div class="flex_list_cont">
                                    <div class="flex_list_header ">
                                          <div class="list_fields w_20">DATE/TIME</div>
                                          <div class="list_fields w_60" >MESSAGE</div>
                                          <div class="list_fields w_10" >ADMIN</div>
                                          <div class="list_fields w_10">STATUS</div>
                                    </div>
                                    <div class="new_list_row"  v-for="(key, data) in new_clog">
                                          <div class="list_fields w_80 new_field">
                                                <textarea v-model="key.content">{{ key.content }}</textarea>
                                          </div>
                                          <div class="list_fields w_20 new_field">
                                                <select class="clog_progress" v-model="key.progress">
                                                      <option v-for="c_key in clog_progress" v-text="c_key.title" v-bind:value="c_key.val">New</option>
                                                </select>
                                                <button class="btn btn_log" @click="createComplaintLog();">Log</button>
                                          </div>
                                    </div>

                                    <div class="new_list_row" style="height:50px;"  v-for="ckey in clog">
                                          <div class="list_fields w_20" style="padding: 0px;">{{new Date(ckey.split('&&')[5]).toDateString()}}</div>
                                          <div class="list_fields w_60" >{{ckey.split('&&')[3]}}</div>
                                          <div class="list_fields w_10" >{{ckey.split('&&')[2]}}</div>
                                          <div class="list_fields w_10">{{clog_progress[ckey.split('&&')[4]].title}}</div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>            
</div>

</template>

<script>


export default {
      props: ['complaint'],
      components: {

      },
      data(){
            return {
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                  initialFiles: [],
                  today: new Date(2019, 6, 1),
                 show_on_report: 0,
                 error_msg : null,
                 clog_progress:[{val : 0, title: 'New'},{val : 1, title: 'On-Progress'},{val : 2, title: 'On-Hold'},{val : 3, title: 'Complete'}],
                 new_clog: [],
                 clog: this.splitStringIntoArr(this.complaint.complaint_progress, '|')
            }
      },
      methods:{
            updateQuotesList: function(e) {
                        for (var i = 0; i < e.files.length; i++) {
                              var file = e.files[i].rawFile;
                              if (file) {
                                    this.initialFiles.push(e.files[i]);
                              }
                        }
            },
            updateInvList: function(e) {
                        for (var i = 0; i < e.files.length; i++) {
                              var file = e.files[i].rawFile;
                              if (file) {
                                    this.initialFiles.push(e.files[i]);
                              }
                        }
            },
            updateDocList: function(e) {
                        for (var i = 0; i < e.files.length; i++) {
                              var file = e.files[i].rawFile;
                              if (file) {
                                    this.initialFiles.push(e.files[i]);
                              }
                        }
            },
            showPreviewPhoto: function (e) {
                  var file = e.files[0].rawFile;
                  if (file) {
                        var reader = new FileReader();
                        reader.onloadend = function () {
                              $(".single_img_blk .asset_photo img").attr('src',this.result);;
                              // if (kendo.jQuery('.imgprev_cont').length > 0) {
                              //       $(".single_img_blk .imgprev_cont img").attr('src',this.result);;
                              // } else {
                              //       $("<div class='imgprev_cont'><img src='" + this.result + "' /></div>").appendTo($(".single_img_blk"));
                              // }
                        };
                        reader.readAsDataURL(file);
                        this.showAssetImgs =true;
                  }

            },
            splitStringIntoArr:function(string, seperator) {
                  var arr = [];
                  if (string != null) {
                  arr = string.split(seperator);
                  }
                  return arr;
            },
            newCLogRow:function() {
                  var new_log = {cid: this.complaint.id, content : '',progress:1};
                  this.new_clog.push(new_log);
            },
            createComplaintLog:function() {
                  var _this = this;
                  axios.post('/mgr/create_complaint_log', {
                        new_clog: _this.new_clog
                  })
                  .then(function (response) {
                        if (response.data.success == 1) {
                              for (var i = 0; i < response.data.log.length; i++) {
                                    _this.clog.unshift(response.data.log[i]);
                              }
                              _this.new_clog = [];
                        }
                  })
                  .catch(function (error) {
                        // 
                  });
            }
      },
      mounted: function () {
            this.csrf = myToken.csrfToken;  

      }
}
</script>


<style>
ul.asset_docs {
      position: relative; display: inline-block;width: 100%;
}

ul.asset_docs li .asset_doc_cont {
      border: 1px solid #dedede;position: relative;padding-top: 20px;height: 100px;font-size: .6em;text-align: center;
}


ul.asset_docs li .btn_rm {
      position: absolute;top: -10px;font-size: 1.2em;color: #fff;height: 20px;width: 20px;right: -10px;border-radius: 15px;padding: 0px;background-color: #f1536e;border: 0px;
}

button.btn_asset_upload {
      width: 100%; margin: 10px 0px;
}

.k-datepicker {
      padding: 0px;display: block;width: 100%;
}

.k-datepicker .k-picker-wrap {
    padding: 3px 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #dedede;
}

</style>