<template>
    
<div class="col-md-12">
      <form id="caseForm" ref="caseForm" v-on:submit.prevent="saveAll"   v-kendo-validator>

            <div class="col">
                  <div class="col-md-7">
                        <div class="container_block">
                              <input type="hidden" name="_token" :value="csrf">
                              <div class="container_subtitle">
                                    <i class="fas fa-certificate"></i>
                                    <h5>Case Info</h5>
                              </div>
                              
                              <div class="field_block">
                                    <div class="field_cont col">
                                          <case-info ref="jobInfo" :case_detail='case_detail'></case-info>

                                          <div class="case_add_cont col-md-6" v-if="case_detail.id">
                                                <label class="field_title" >Added At</label>
                                                <span class="">{{ case_detail.created_at }}</span>
                                          </div>

                                           <!-- Description -->
                                          <div class="col-md-12">
                                                <label class="field_title">Description:</label>
                                                <textarea  name="case_content" required validationMessage="Description is required" v-model="case_detail.content"> </textarea>
                                          </div>
                                    </div>   
                              </div>
                        </div>

                        <div class="container_block" v-if="case_detail.case_type == 'inspection'">
                              <div class="container_subtitle">
                                    <i class="fas fa-check"></i>
                                    <span class="k-window-title">Inspection</span>
                              </div>
                                          
                              <div class="field_block">
                                    <ul class='items inspection_cont'>
                                          <li v-for="(key, data) in case_detail.bi_items">
                                                <div class='item_header'>
                                                      <span>
                                                            <b>Title: </b>
                                                            {{ key.title }}
                                                      </span>
                                                      <div class="radio_cont" v-if="case_detail.inspection_done == 0">
                                                            <label class="lbl_radio">
                                                                  <input type='radio' :name='"item_result["+key.id+"]"' value='1' v-model="key.result"/>
                                                                  <div>Pass</div>
                                                            </label>
                                                            <label class="lbl_radio">
                                                                  <input type='radio' :name='"item_result["+key.id+"]"' value='0' v-model="key.result"/>
                                                                  <div>Fail</div>
                                                            </label>
                                                      </div>

                                                      <div class="radio_cont" v-if="case_detail.inspection_done == 1">
                                                            <div v-if="key.result == 1">Pass</div>
                                                            <div v-if="key.result == 0">Fail</div>
                                                      </div>
                                                </div>
                                                <textarea placeholer="Insert more details about this action ..." v-model="key.msg" v-if="case_detail.inspection_done == 0"></textarea>
                                                <div v-if="case_detail.inspection_done == 1">{{ key.msg }}</div>
                                          </li>

                                          <div class="btn_cont">
                                                <button class="btn btn_submit" v-if="case_detail.inspection_done == 0" @click="updateInspections($event)">
                                                      Save
                                                </button>
                                          </div>
                                    </ul>
                              </div>

                              <!-- <div class="k-edit-buttons k-state-default">
                                    <span class="msg" v-if="inspectionMsg != null && inspectionMsg != ''"> {{ inspectionMsg }}</span>
                                    <a class="k-button k-primary k-scheduler-update" href="#" @click="createInspectionRecord">Save</a>
                              </div> -->
                        </div>

                        <div class="container_block">
                              <div class="container_subtitle">
                                    <i class="fas fa-file-invoice"></i>
                                    <h5>Quote</h5>
                                    <i class="fa fa-plus" @click="caseQuote(case_detail.id)"></i>
                              </div>

                              <div class="field_block">
                                    <ul class="field_cont col quote_list">
                                          <li v-for="(key, data) in case_quotes">
                                                <div class="col-md-3">
                                                      <span>{{ key.created_at }}</span>
                                                </div>
                                                <div class="col-md-5">
                                                      <span>{{ key.comp_name }}</span>
                                                </div>
                                                <div class="col-md-2 ">
                                                      <span>$ {{ key.quote_value }}</span>
                                                </div>
                                                <div class="col-md-2 panel">
                                                      <a class="" :href="key.quote_doc" target="_blank" v-if="key.quote_doc != null && key.quote_doc != ''"><i class="far fa-file-alt"></i></a>
                                                      <i class="fas fa-trash-alt" @click="removeQuote(key.id)"></i>
                                                </div>
                                          </li>
                                    </ul>
                              </div>

                              <div class="container_subtitle">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                    <h5>Invoices</h5>
                                    <i class="fa fa-plus" @click="caseInvoice(case_detail.id)"></i>
                              </div>
                              

                              <div class="field_block">
                                    <ul class="field_cont col invoice_list">
                                          <li v-for="(key, data) in case_invoices">
                                                <div class="col-md-3">
                                                      <span>{{ key.created_at }}</span>
                                                </div>
                                                <div class="col-md-5">
                                                      <span class="invoice_contractor">{{ key.comp_name }}</span>
                                                      <span class="invoice_no">{{ key.invoice_no }}</span>
                                                </div>
                                                <div class="col-md-2 ">
                                                      <span>$ {{ key.invoice_value }}</span>
                                                </div>
                                                <div class="col-md-2 panel">
                                                      <a class="" :href="key.invoice_doc" target="_blank" v-if="key.invoice_doc != null && key.invoice_doc != ''"><i class="far fa-file-alt"></i></a>
                                                      <i class="fas fa-trash-alt" @click="removeInvoice(key.id)"></i>
                                                </div>
                                          </li>
                                    </ul>
                              </div>
                        </div>

                        <div class="container_block">
                              <div class="container_subtitle">
                                    <i class="fas fa-comments"></i>
                                    <h5>Comments</h5>
                              </div>
                              

                              <div class="field_block">
                                    <div class="new_comment_cont">
                                          <div class="author_cont">
                                                {{admin.name}}
                                          </div>

                                          <div class="input_cont">
                                                <textarea class="new_comment" name="case_comment" placeholder="Any extra information can be inserted here" v-model="case_comment"></textarea>
                                          </div>
                                    </div>

                                    <div class="comment_list" v-for="(key, index) in case_comments">
                                          <div class="author_cont">
                                                {{key.author}}
                                          </div>

                                          <div class="input_cont">
                                                <span class="date_comment">{{key.created_at}}</span>
                                                <span class="txt_comment_cont">{{key.comment}}</span>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            

                  <div class="col-md-5">
                        <div class="container_block">
                              <div class="container_subtitle" v-if="case_detail.case_type != 'inspection'">
                                    <i class="fas fa-info-circle"></i>
                                    <h5>Status</h5>
                              </div>

                              <div class="field_block" v-if="case_detail.case_type != 'inspection'">
                                    <div class="field_cont col">
                                          <div class=" col-md-6 reporter_cont">
                                                <label class="field_title">Reporter</label>
                                                <kendo-combobox   
                                                                  name="reporter"
                                                                  class="browser-default"
                                                                  :placeholder="'Tap or Select a reporter'"
                                                                  :data-source="reporters"
                                                                  :data-text-field="'tenant_text'"
                                                                  :data-value-field="'tenant_text'"
                                                                  :filter="'contains'"
                                                                  :validity-styles="false"
                                                                  required validationMessage="Reporter is required"
                                                                  v-model="case_detail.reporter"
                                                                  @change="updateReporter($event)">
                                                </kendo-combobox>
                                          </div>

                                          <div class=" col-md-6 reporter_cont">
                                                <label class="field_title">Reporter Phone</label>
                                                <!-- <span  class="case_cont" v-if="typeof case_detail.reporter !== 'undefined'">{{ case_detail.reporter_phone }}</span> -->
                                                <autocomplete 
                                                    class="auto_complete"
                                                    :data-source="reporters"
                                                    :data-text-field="'contact'"
                                                    :data-value-field="'contact'"
                                                    :validity-styles="false"
                                                    required validationMessage="Phone is required"
                                                    name="reporter_phone"
                                                    v-model="case_detail.reporter_phone"
                                                    @change="updateReporterPhone($event)"
                                                    :placeholder="'e.g. 1234-567-890'" >
                                                </autocomplete>
                                          </div>


                                          <div class=" col-md-6">
                                                <label class="field_title" >Due Date</label>
                                                <kendo-datepicker class="w_100" :parseFormats="'YYYY-MM-DD'" name="due_date" v-model="case_detail.due_date" required="required" ></kendo-datepicker>
                                          </div>
                                          <div class=" col-md-6" >
                                                <label class="field_title" >Due Time</label>
                                                <kendo-timepicker style="margin-bottom: 25px" :parseFormats="'HH:mm:ss'" :format="'HH:mm:ss'" class="w_100" name="due_time" v-model="case_detail.due_time" required="required"  :min='tMin' :max='tMax'  ></kendo-timepicker>   
                                          </div>
                                    </div>
                              </div>

                              <div class="container_subtitle" >
                                    <i class="far fa-calendar-alt"></i>
                                    <h5>Schedule</h5>
                              </div>

                              <div class="field_block" v-show="case_detail.id">
                                    <div class="field_cont col">
                                          <ul class="schedule_list col-md-12">
                                                <li v-for="(key, data) in case_scheduler">
                                                      <div class="col-md-4 eventDateTime">
                                                            <span class="date">{{key.start_date}}</span><br>
                                                            <span class="time">{{key.start_time}} - {{key.end_time}}</span>
                                                      </div>
                                                      <div class="col-md-6 eventContent">
                                                            <span class="compName" v-if="key.comp_name != null && key.comp_name != ''">{{key.comp_name}}</span>
                                                            <span class="content" v-if="key.details != null || key.details != ''">{{key.details}}</span>
                                                      </div>
                                                      <div class="col-md-2" v-if="isExpired(key.booking_time_from)">
                                                            <i class="fas fa-pen" @click.prevent="caseReservation(case_detail.id, key)"></i>
                                                            <i class="fas fa-trash-alt" @click="removeScheduler(key.id)"></i>
                                                      </div>
                                                </li>
                                                
                                          </ul>
                                    </div>
                              </div>

                              <div class="case_panel">
                                    <button class="btn btn_sml"  v-if="case_detail.id" v-on:click.prevent="goToDetailPage('/mgr/create_announcement')">
                                          <i class="fas fa-volume-up"></i>
                                    </button>

                                    <button class="btn btn_sml" @click.prevent="caseReservation(case_detail.id)"  v-if="case_detail.id">
                                          <i class="far fa-calendar-alt"></i>
                                    </button>
                                    <emailComponent v-if="case_detail.id" :case_detail='this.case_detail' :contractors='contractor_list' :template_list='template_list' :admin='admin' :case_img='case_images'></emailComponent>
                                    <button class="btn btn_submit" type="submit" v-if="case_detail.id">
                                          Update Status
                                    </button>

                                    <button class="btn btn_submit" type="submit" v-if="!case_detail.id">
                                          Create Case
                                    </button>

                              </div>
                        </div>

                        <div class="container_block">
                              <div class="container_subtitle">
                                    <i class="far fa-image fa-lg"></i> 
                                    <h5>Photos</h5>
                              </div>

                              <div class="field_block">
                                    <div id="photos" >
                                          <div class="photo" v-for="(item, index) in case_images" v-if="item.status == 1">
                                                <img :src="current_domain+item.url">
                                                <i class="fas fa-times" @click="rmAttachment(index, 'img', item.id)"></i>
                                          </div>
                                    </div>

                                    <upload  ref="uploadPhotos"
                                                      name="case_photos[]"
                                                      :validation-allowed-extensions="['.jpg', '.jpeg', '.png', '.bmp', '.gif']"
                                                      :multiple="true"
                                                      :show-file-list="true"
                                                      :validation-max-file-size="2048000"
                                                      @select="uploadPhotos"
                                                      @remove="removeExistedPhotos"
                                                      >
                                    </upload>
                                    <div class="upload_hint">Maximum allowed file size is <strong>2MB</strong>.</div>
                              </div>

                              <div class="container_subtitle">
                                    <i class="fa fa-book fa-lg"></i> 
                                    <h5>Docs</h5>
                              </div>

                              <div class="field_block">     
                                    <ul class="docs_list" v-show="case_docs.length > 0">
                                          <li  v-for="(key, data) in case_docs">
                                                <div class="docs_cont">
                                                      <input type="hidden" v-model="key.id" name="case_docs_id[]">
                                                      <div class="btn_rm" @click="removeDocs(key.id)">
                                                            <i class="fas fa-times"></i>
                                                      </div> 
                                                      
                                                      
                                                      <img v-bind:src="'/images/icons/icn_'+key.extension+'.jpg'">
                                                      <div class="file_name">{{key.name}}</div>
                                          

                                                      <!-- <span class="doc_size_type">{{key.size}} {{key.type}}</span> -->
                                                      </div>
                                          </li>
                                    </ul>

                                    <upload     ref="uploadDocs"
                                                      name="case_docs[]"
                                                      :multiple="true"
                                                      :validation-allowed-extensions="['.doc', '.docx', '.pdf', '.csv', '.xls', '.txt', '.ppt','.pptx']"
                                                      :show-file-list="true"
                                                      :validation-max-file-size="2048000"
                                                      @select="uploadDocs"
                                                      @remove="removeExistedDocs"
                                                      >
                                    </upload>
                                    <div class="upload_hint">Maximum allowed file size is <strong>2MB</strong>.</div>
                              </div>
                        </div>
                  </div>
            </div>

            <div class="col" v-if="case_detail.id">
                  <div class="col-md-12" style=" margin-top: 30px;">
                        <div class="container_block">
                              <div class="container_header"><h4>ADMIN LOGS</h4></div>
                              <div class="flex_list_cont">
                                    <div class="flex_list_header"  style="height:50px;padding: 0px 10px;" >
                                          <div class="list_fields w_20">DATE/TIME</div>
                                          <div class="list_fields w_80" >MESSAGE</div>
                                    </div>
                                    <!-- <div class="new_list_row"  v-for="(key, data) in new_clog">
                                          <div class="list_fields w_80 new_field">
                                                <textarea v-model="key.content">{{ key.content }}</textarea>
                                          </div>
                                          <div class="list_fields w_20 new_field">
                                                <select class="clog_progress" v-model="key.progress">
                                                      <option v-for="c_key in clog_progress" v-text="c_key.title" v-bind:value="c_key.val">New</option>
                                                </select>
                                                <button class="btn btn_log" @click="createComplaintLog();">Log</button>
                                          </div>
                                    </div> -->

                                    <div class="new_list_row" style="height:50px;padding: 0px 10px;"  v-for="key in case_log">
                                          <div class="list_fields w_20" style="">{{new Date(key.created_at).toDateString()}}</div>
                                          <div class="list_fields w_80" >{{key.message}}</div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>        
      </form>
      <popupCaseEmail :cid="case_detail.assignee_id" :contractors="contractor_list"></popupCaseEmail>
</div>

</template>

<script>
import EventBus from '../event-bus';
import mixin from '../../mixins.js';
import emailComponent from '../emailComponent.vue'
import caseInfo from './includes/case-details.vue'
import caseDesc from './includes/case-desc.vue'
import popupCaseEmail from'../popup/popup_case_email_contractor.vue'
import { ValidatorInstaller } from '@progress/kendo-validator-vue-wrapper'
import { Upload, UploadInstaller } from '@progress/kendo-upload-vue-wrapper'
import { ComboBox, DropdownsInstaller, AutoComplete } from '@progress/kendo-dropdowns-vue-wrapper' 
import { DatePicker, DateinputsInstaller, TimePicker } from '@progress/kendo-dateinputs-vue-wrapper'

Vue.use(UploadInstaller)
Vue.use(DropdownsInstaller)
Vue.use(DateinputsInstaller);
Vue.use(ValidatorInstaller)

export default {
      mixins: [mixin],
      props: ['units','assets','case_detail','type','case_area','case_progress','case_scheduler','case_images','case_docs','case_quotes','case_invoices','case_log','contractor_list','tenant_list','template_list','admin','bi_list', 'case_comments'],
      components: {
            popupCaseEmail, emailComponent, ComboBox, 'upload': Upload, 'autocomplete': AutoComplete, TimePicker, DatePicker, caseInfo, caseDesc
      },
      data(){
            return {
                  newDocs: [],
                  newPhotos: [],
                  existedPhotos: [],
                  existedDocs: [],
                  bii_list: [],
                  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                  current_domain: location.protocol+"//"+window.location.hostname,
                  today: new Date(2019, 6, 1),
                  show_on_report: 0,
                  error_msg : null,
                  case_type: '',
                  clog: this.splitStringIntoArr(this.case_detail.case_progress, '|'),
                  showBII: false,
                  // loadingContractor:false,
                  area_detail:'',
                  case_comment: '',
                  successPost: false,
                  reporters:[],
                  // jobArea:this.case_detail.job_area,
                  reporter_phone: '',
                  newCase: null,
                  uploadPhotosArray:[],
                  uploadDocsArray:[],
                  tMin: '6:00 AM',
                  tMax: '9:00 PM',
                  originalDate: null,
                  originalEndTime: null,
                  changeDueDate: false,
            }
      },
      methods:{
            uploadPhotos:function(e) {
                  let photos =e.files;
                  if(photos.length>0) {
                        if (photos.length === 1) {
                              this.newPhotos.push(photos[0]);
                        } else {
                              for (let i=0; i<photos.length; i++) {
                                    this.newPhotos.push(photos[i]);
                              }
                        }
                  } else {
                        return;
                  }
            },
            removeExistedPhotos:function(e) {
                  let photos =e.files;
                  if(photos.length>0) {
                        if (photos.length === 1) {
                              this.newPhotos = this.newPhotos.filter(function(item){ return item['name'] != photos[0]['name']});
                        } else {
                              for (let i=0; i<photos.length; i++) {
                                    this.newPhotos = this.newPhotos.filter(function(item){ return item['name'] != photos[i]['name']});
                              }
                        }
                
                  } else {
                        return;
                  }

            },
            uploadDocs:function(e) {
                  let docs =e.files;
                  if(docs.length>0) {
                        if (docs.length === 1) {
                              this.newDocs.push(docs[0]);
                        } else {
                              for (let i=0; i<docs.length; i++) {
                                    this.newDocs.push(docs[i]);
                              }
                        }
                  } else {
                        return;
                  }
            },
            removeExistedDocs:function(e) {
                  let docs =e.files;
                  if(docs.length>0) {
                        if (photos.length === 1) {
                              this.newDocs = this.newDocs.filter(function(item){ return item['name'] != docs[0]['name']});
                        } else {
                              for (let i=0; i<photos.length; i++) {
                                    this.newDocs = this.newDocs.filter(function(item){ return item['name'] != docs[i]['name']});
                              }
                        }
                  } else {
                        return;
                  }

            },
            saveCase:function() {
                  return new Promise((resolve, reject) => {
                        var _this = this;
                        var validator = this.kendoValidator;
                        if (validator.validate()) {
                              var area = this.case_detail.job_area;
                              var case_detail = this.case_detail;
                              if (case_detail.id) {
                                    var caseDetail = {
                                                id:case_detail.id, 
                                                due_date:case_detail.due_date,
                                                due_time:case_detail.due_time,
                                                priority:this.$refs.jobInfo.case_detail.priority,
                                                progress:this.$refs.jobInfo.case_detail.progress,
                                                content:case_detail.content,
                                                assignee_id:this.$refs.jobInfo.case_detail.assignee_id,
                                                reporter:case_detail.reporter,
                                                reporter_phone:case_detail.reporter_phone,
                                                // routine:case_detail.routine,
                                                comment:this.case_comment,
                                    };
                              } else {
                                    // get the area detail by area type
                                    if (area == 1) {
                                          this.case_detail.unit_id = "";
                                          this.case_detail.area_detail = "";
                                    } else if (area == 2) {
                                          this.case_detail.unit_id = "";
                                          this.case_detail.asset_id = "";
                                    } else if (area == 3) {
                                          this.case_detail.asset_id = "";
                                          this.case_detail.area_detail = "";
                                    } else {
                                          alert('invalid!');
                                          $event.preventDefault();
                                          return;
                                    }
                                    var caseDetail = {
                                          id:case_detail.id, 
                                          tenant_id:case_detail.tenant_id,
                                          case_type:case_detail.case_type,
                                          job_area:case_detail.job_area,
                                          reporter:case_detail.reporter,
                                          reporter_phone:case_detail.reporter_phone,
                                          priority:case_detail.priority,
                                          due_date:case_detail.due_date,
                                          due_time:case_detail.due_time,
                                          progress:case_detail.progress,
                                          content:case_detail.content,
                                          unit_id:case_detail.unit_id,
                                          asset_id:case_detail.asset_id,
                                          area_detail:case_detail.area_detail,
                                          location:case_detail.location,
                                          // title:case_detail.title,
                                          assignee_id:case_detail.assignee_id,
                                          // routine:case_detail.routine ? case_detail.routine: 0,
                                          status:1
                                    };
                              }
                              // case detail array
                              axios.post('/mgr/save_case', caseDetail).then(response => {
                                    if (response.data.success) {
                                          _this.case_detail.id = response.data.id;
                                          
                                          resolve(response);      
                                    } else {
                                          reject('case detail');
                                    }
                              }).catch(err => {
                                    reject();
                              });

                        } else {
                              reject(alert('Please fill in details!'));
                        }
                  })
            },
            updateInspections:function(e) {
                  e.preventDefault();
                  var _this = this;
                  var error = false;
                  let inspectionResult = [];
                  for (var i = 0; i < this.case_detail.bi_items.length; i++) {
                        if (this.case_detail.bi_items[i].result == null) {
                              alert("Please fill the inspection result for item - " + this.case_detail.bi_items[i].title);
                              error = true;
                              break;    
                        } else {
                              inspectionResult[i] = {
                                    case_id : this.case_detail.id,
                                    bii_id : this.case_detail.bi_items[i].id,
                                    result : this.case_detail.bi_items[i].result,
                                    msg : this.case_detail.bi_items[i].msg,
                                    status : 1
                              };
                        }
                  }

                  if (error == false) {
                        if (confirm('The inspection result is not permitted to change again after saving, are you sure you want to save?')) {
                              axios.post('/mgr/update_case_inspections', {
                                    inspectionResult : inspectionResult
                              })
                              .then(function (response) {
                                    if (response.data.success == 1) {
                                          window.location.reload();
                                    }
                              })
                              .catch(function (error) {
                                    _this.output = error;
                              });
                        }
                  }
            },
            postExistedAttachment:function() {
                  return new Promise((resolve, reject)=> {
                        if (this.existedPhotos.length === 0 && this.existedDocs === 0) resolve();

                        if (!this.case_detail.id) {
                              reject('case error, please contact IT guy.');
                              return;
                        }
                        
                        var photos = this.existedPhotos;
                        var docs = this.existedDocs;
                        
                        let postAttachment = [];
                        if (photos.length > 0 ) {
                              for (var i = 0; i <photos.length; i++) {
                                    postAttachment.push(photos[i]);
                              }
                        }

                        if (docs.length > 0 ) {
                              for (var i = 0; i <docs.length; i++) {
                                    postAttachment.push(docs[i]);
                              }
                        }
                        if (postAttachment.length > 0) {
                              axios.post('/mgr/save_attachment', {existed: postAttachment, caseId:this.case_detail.id}).then(response=>{
                                    if (response.data.success) {
                                          resolve();
                                    } else {
                                          reject(alert('Upload files failed'));
                                    } 
                              })
                        } else {
                              resolve();
                        }
                  })
            },
            // post attachment
            postFile:function(case_id) {
                  return new Promise((resolve, reject) => {
                        if (this.newPhotos.length === 0 && this.newDocs === 0) resolve();
                        if (!this.case_detail.id && !this.case_id) {
                              reject('case error, please contact IT guy.');
                              return;
                        }
                        var photos = this.newPhotos;
                        var docs = this.newDocs;
                        var _this = this;
                        if (photos.length > 0 || docs.length > 0 ) {
                              const config = {
                                    headers: { 'content-type': 'multipart/form-data' }
                              }
                              var formData = new FormData();
                              var i;
                             
                              // check if has photos
                              if (photos.length > 0 ) {
                                    for (i = 0; i <photos.length; i++) {
                                          let photo = photos[i]['rawFile'];
                                          formData.append('photos[' + i + ']', photo);    
                                    }
                              }
                              // check if has docs
                              
                              if (docs.length > 0 ) {
                                    for (i = 0; i <docs.length; i++) {
                                          let doc = docs[i]['rawFile'];
                                          formData.append('docs[' + i + ']', doc); 
                                    }
                              }
                              if (!this.case_detail.id) {
                                    formData.append('caseId', this.case_id);
                              } else {
                                    formData.append('caseId', this.case_detail.id);
                              }
                              
                              axios.post('/mgr/save_attachment', formData, config).then(response=>{
                                    if (response.data.success) {
                                          resolve();         
                                    } else {
                                          reject(alert('Upload files failed'));
                                    } 
                              }).catch(err => {
                                    reject();
                              })
                        } else {
                              resolve();
                        }
                  });

            },
            saveAll:function() {
                  Promise.all([this.saveCase().then(response=>{
                        this.postFile(response.data.id)})]).then(() => {
                        window.location.href = '/mgr/case';
                  })
            },
            updateReporter:function(ev) {
                  this.case_detail.reporter = ev.sender.input[0].value;
                  ev.sender.dataItem().contact == "" || null  ? this.case_detail.reporter_phone = '000-000-0000' : this.case_detail.reporter_phone = ev.sender.dataItem().contact;
      
                  this.$forceUpdate();
            },
            updateReporterPhone:function(ev) {
                  this.case_detail.reporter_phone = event.target.value;
                  this.$forceUpdate();
            },
            rmAttachment:function(i, type, id) {
                  if (type == 'img') {
                        if (confirm('Are you sure you want to cancel this image?')) {
                              if (!this.case_detail.id) {
                                    this.case_images = this.case_images.filter(function(item){ return item['id'] != id});
                                    this.existedPhotos = this.case_images;
                                    this.$forceUpdate();
                              } else {
                                    var _this = this;
                                    axios.post('/mgr/remove_case_img', {
                                          img_id: id,
                                          case_id : _this.case_detail.id
                                    }).then(function (response) {
                                          _this.case_images[i].status = 0;
                                          _this.case_log.push(response.data.log);
                                          _this.$forceUpdate();
                                    })
                                    .catch(function (error) {
                                          // 
                                    });
                              }
                              
                        }
                  } else {
                        
                  }
            },
             removeDocs: function (id) {
                  if (confirm('Are you sure you want to cancel this doc?')) {
                        if (!this.case_detail.id) {
                                    this.case_docs = this.case_docs.filter(function(item){ return item['id'] != id});
                                    this.existedDocs = this.case_docs;
                                    this.$forceUpdate();
                        } else {
                              var _this = this;
                              axios.post('/mgr/remove_case_docs', {
                                    doc_id: id,
                                    case_id : _this.case_detail.id
                              })
                              .then(function (response) {
                                    for (var i = 0; i < _this.case_docs.length; i++) {
                                          if (_this.case_docs[i].id == id) {
                                                _this.case_docs.splice(i, 1);
                                          }
                                    }
                                    _this.case_log.push(response.data.log);
                                    _this.$forceUpdate();
                              })
                              .catch(function (error) {
                                    // 
                              });
                        }
                  }
            },
            goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
            onChangeBI:function(selected_bi_id = null, selected_bii_id = null) {
                  this.bii_list = [];
                  for (var i = 0; i < this.bi_list.length;i++) {
                        if (this.case_detail.bi_id == this.bi_list[i].id) {
                              var items_arr = this.bi_list[i].items.split('|');
                              for (var q = 0; q < items_arr.length; q++) {
                                    var item = items_arr[q].split('-');
                                    this.bii_list.push({'id' : item[0], 'title' : item[1], 'frequency' : item[2]});
                              }
                        }
                  }

                  if ( selected_bi_id > 0) {
                        this.showBII = true;
                  } else if (selected_bi_id == 0) {
                        this.showBII = false;
                  }
            },
            removeScheduler: function(id) {
                  if (confirm('Are you sure you want to cancel this schedule?')) {
                        var _this = this;
                        axios.post('/mgr/remove_event', {
                              id: id,
                              type: 1,
                              action: 1
                        })
                        .then(function (response) {
                              if (response.data.success == true) {
                                    for (var i = 0; i < _this.case_scheduler.length; i++) {
                                          if (_this.case_scheduler[i].id == response.data.id) {
                                                _this.case_scheduler.splice(i, 1);
                                          }
                                    }
                                    _this.$forceUpdate();
                              }
                        }).catch(function (error) {
                              // 
                        });;
                        
                  }
            },
            removeQuote: function(id) {
                  if (confirm('Are you sure you want to cancel this quote?')) {
                        var _this = this;
                        axios.post('/mgr/remove_quote', {
                              id: id,
                              case_id : this.case_detail.id
                        })
                        .then(function (response) {
                             if (response.data.success == 1) {
                                    for (var i = 0; i < _this.case_quotes.length; i++) {
                                          if (_this.case_quotes[i].id == response.data.id) {
                                                _this.case_quotes.splice(i, 1);
                                          }
                                    }
                              }

                              _this.case_log.push(response.data.log);
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            removeInvoice: function(id) {
                  if (confirm('Are you sure you want to cancel this invoice?')) {
                        var _this = this;
                        axios.post('/mgr/remove_invoice', {
                              id: id,
                              case_id : this.case_detail.id
                        })
                        .then(function (response) {
                             if (response.data.success == 1) {
                                    for (var i = 0; i < _this.case_invoices.length; i++) {
                                          if (_this.case_invoices[i].id == response.data.id) {
                                                _this.case_invoices.splice(i, 1);
                                          }
                                    }
                              }
                              _this.case_log.push(response.data.log);
                              _this.$forceUpdate();
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            emailContractor: function() {
                  var this_case = {
                        'case_id' : this.case_detail.id,
                        'case_type' : this.case_detail.case_type,
                        'contractor' : this.contractor_list,
                        'template_list': this.template_list,
                        'admin' : this.admin
                  }
                  EventBus.$emit("email_contractor",this_case);
            },
            caseReservation: function(case_id, event = null) {
                  var this_case = {
                        'case_id' : case_id,
                        'event' : event,
                        'contractor' : this.contractor_list
                  }
                  EventBus.$emit("caseReservation",this_case);
            },
            caseInvoice: function(case_id) {
                  var this_case = {
                        'case_id' : case_id,
                        'contractor' : this.contractor_list
                  }
                  EventBus.$emit("case_invoice", this_case);
            },
            caseQuote: function(case_id) {
                  var this_case = {
                        'case_id' : case_id,
                        'contractor' : this.contractor_list
                  }
                  EventBus.$emit("case_quote", this_case);
            },
            showPreviewPhoto: function (e) {
                  var file = e.files[0].rawFile;
                  if (file) {
                        var reader = new FileReader();
                        reader.onloadend = function () {
                              $(".single_img_blk .asset_photo img").attr('src',this.result);;
                        };
                        reader.readAsDataURL(file);
                        this.showAssetImgs =true;
                  }

            },
            splitStringIntoArr:function(string, seperator) {
                  var arr = [];
                  if (string != null) {
                        arr = string.split(seperator);
                  }
                  return arr;
            },
            beforeunloadHandler(e) {
                  e = e || window.event;
                  if (e) {
                        e.returnValue = "Are you sure you want to leave this page without saving the case?";
                  }
                  return "Are you sure you want to leave this page without saving the case?";
            },
           
      },
      beforeUpdate() {   
            // Set events date & time
            for (var i = 0; i < this.case_scheduler.length ; i++) {
                  this.case_scheduler[i].start_date = this.getDateTime(this.case_scheduler[i].booking_time_from, 'date',  { weekday: 'short', month: 'long', day: 'numeric' });
                  this.case_scheduler[i].start_time = this.getDateTime(this.case_scheduler[i].booking_time_from, 'time', {});
                  this.case_scheduler[i].end_time = this.getDateTime(this.case_scheduler[i].booking_time_to, 'time', {});
            }
      },
      mounted: function () {
            var _this = this;
            this.csrf = myToken.csrfToken;

            var admin_info = {
                  type: 'Admin',
                  id : this.admin.id,
                  tenant_text: 'Admin - ' + this.admin.name,
                  contact: this.admin.phone,
            };

            // if tenant is empty
            if (!this.case_detail.hasOwnProperty('tenant_id') || this.case_detail.tenant_id == null || this.case_detail.tenant_id == '') {
                   this.case_detail.tenant_id = 0;
            }

            this.onChangeBI(_this.case_detail.bi_id, _this.case_detail.bii_id);
            EventBus.$on('update_case_scheduler', function (new_record) {
                  if (new_record.id > 0 && new_record.action == "create_reservation") {
                        var elog =  new Object();
                        elog.created_at = new_record.created_at;
                        elog.message = new_record.message;
                        _this.case_log.push(elog);
                        _this.case_scheduler.push(new_record);
                  } else if (new_record.id > 0 && new_record.action == "update_reservation") {
                        for (var i = 0; i < _this.case_scheduler.length ; i++) {
                              if (_this.case_scheduler[i].id == new_record.id) {
                                    _this.case_scheduler[i] = new_record;
                              }
                        }
                  }
                  _this.$forceUpdate();
            });

            EventBus.$on('update_email_contractor', function (new_record) {
                  var elog =  new Object();
                  elog.created_at = new_record.created_at;
                  elog.message = new_record.message;
                  
                  _this.$forceUpdate();
            });

            EventBus.$on('create_quote', function (new_record) {
                  if (new_record.id > 0) {
                        _this.case_quotes.push(new_record);
                        _this.$forceUpdate();
                  }
            });

            EventBus.$on('create_invoice', function (new_record) {
                  if (new_record.id > 0) {
                         _this.case_invoices.push(new_record);
                        _this.$forceUpdate();
                  }
            });

            this.reporters = this.tenant_list;
            this.reporters.unshift(admin_info);

            window.addEventListener("beforeunload", e => {
                  this.beforeunloadHandler(e);
            });
      },
      destroyed(){
            window.removeEventListener("beforeunload", e => {
                  this.beforeunloadHandler(e);
            });
      }
}
</script>


<style lang="scss">
ul.items {
      li {
            margin-bottom: 1.5em;

            .item_header {
                  display: flex;
                  margin-bottom: 1em;
                  span {
                        flex: 1;
                  }
                  .radio_cont {
                        flex: 1;
                        justify-content: flex-end;

                        .lbl_radio {
                              font-size: .9em;

                              > input + div {
                                    padding: 0px 10px;
                              }
                        }
                  }
            }
      }
}

.eventDateTime, .eventContent {
      font-size: .85em;

      .date {
            font-weight: 700;
      }

      .time {
            font-size: .9em;
      }

      .compName {
            display: block;
            text-transform: capitalize;
      }
      .content {
            display: block;
            font-size: .9em;
            font-weight: 700;
      }
}
.k-tooltip.k-tooltip-validation {
    position: absolute;
    top: 32px;
    background: transparent;
}

.field_block {
      .field_cont {
            .case_add_cont {
                  padding-left: 0px !important;;
            }
      }
}

.k-edit-label {
      >label {
            display: inline-block;
      }

      .btn_add, .btn_refresh {
            float: right;margin: 0px 3px;
      }

      .btn_add i {
            color: #55ce63;
      }
}


.icn_rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
      from {
      transform: rotate(0deg);
      }
      to {
      transform: rotate(359deg);
      }   
}

.k-combobox {
      .k-select {
            background-color: #fff;
      }

      .k-dropdown-wrap {
            border: 0px;
            height: 100%;

            input {
                  border: 0px;
                  height: 100%;
                  padding-left: 10px !important;
            }
      }
}

.reporter_cont {
      position: relative;

      .k-widget.k-combobox  {
            z-index: 2;
            width: 100%;
      }

      > input[type="text"][name="reporter"] {
            position: absolute;
            left: 0;
            z-index: 1;
            width: 20px;
      }
      input[type="text"]:not(.input_filter), textarea, select {
            height: 100%;
      }
}


.col {
      display: inline-block;
      width: 100%;
}

.field_cont {

      .col-md-6 {
            span.case_cont {
                  height: 36px;
                  display: block;
            }
      }

      .col-md-6:nth-child(odd) {
            padding-right: 15px;
           
            margin-bottom: 25px;
            padding-left: 0px;
      }

      .col-md-6:nth-child(even) {
            padding-right: 0px;
            
            margin-bottom: 25px;
            padding-left: 15px;
      }
}

.new_comment_cont, .comment_list {
      display: flex;
      font-size: .9em;
      .author_cont {
            flex:1;
            font-size: .7rem;
            font-weight: 700;
            padding: 6px 3px;
      }

      .input_cont {
            flex:5;
            padding: 0px 3px;

            textarea {
                  margin:5px 0px 10px;
                  height: 100px;
                  width: 100%;
                  padding:5px;
            }
      }
}
.new_case_col {

}
.comment_list {
      padding: 5px 0px;
      margin: 5px 0px;

      &:nth-child(odd) {
            background-color: rgba(55,156,214,0.08);
      }

      .date_comment {
            display: block;
            text-align: right;
            font-size: .8em;
            color: #aaa;
            font-weight: 500;
            margin-bottom: 5px;
      }

      .txt_comment_cont {
            display: block;
            font-size: .9em;
      }
}
.routine_help {
      display: inline-block;
}
.case_cont {
      font-size: .9rem;
      padding-top: 15px;
}
.auto_complete {
      width: 100%;
      height: 36px;
}

.txt_area_detail {
      
      width: 100%;
      height: 36px;
}
.multi_fields {
      .col-md-6 {
            margin-bottom: 15px;
      }

      .col-md-6:nth-child(2), .col-md-6:nth-child(4) {
            padding-right: 0px;
      }

      .col-md-6:nth-child(3), .col-md-6:nth-child(5) {
            padding-left: 0px;;
      }
}

.radio_row {
    display: flex;
    align-items: center;
    input[type="radio"] {
         margin-right: 3px; 
    }
    span {
          margin-right: 10px;
    }
}

.new_list_row .list_fields.w_20 {
      padding:0px;
}
.invoice_list .invoice_contractor {
      width: 100%;display: block;height: 20px;line-height: 20px;
}

.invoice_list .invoice_no {
       width: 100%;font-size: .8em;display: block;height: 20px;line-height: 20px;
}

#photos {
      display: flex;
      width: 100%;
      position: relative;
      margin-bottom: 10px;
}


ul.quote_list li .panel, ul.invoice_list li .panel {
      text-align: right;
}

ul.quote_list li .panel a, ul.invoice_list li .panel a {
      color: #404E67;margin-right: 5px;
}

ul.quote_list li, ul.invoice_list li {
      height: 40px;line-height: 40px;
}

ul.quote_list li span, ul.invoice_list li span {
      overflow: hidden;
}

.container_block .container_subtitle {
      position: relative;
}
ul.schedule_list li {
      width:100%;display: inline-block;
}

.container_block .container_subtitle > i.fa-plus {
    float: right;position: absolute;top: 0px;right: 0px;
}

.case_panel {
      padding: 20px 1.5rem 0px;    display: flex;
    justify-content: flex-end;
}
.case_panel button {
      height: 40px;margin-left: 0px;margin-bottom: 15px; background-color: #43425D;color: #fff;min-width: 40px;padding: 0px;
}

.case_panel button.btn_sml {
      width: 12%;margin-right: 2%
}

.case_panel button.btn_submit {
      width: 54%;background-color: #55ce63;
}

ul.asset_docs {
      position: relative; display: inline-block;width: 100%;
}

ul.asset_docs li .asset_doc_cont {
      border: 1px solid #dedede;position: relative;padding-top: 20px;height: 100px;font-size: .6em;text-align: center;
}


ul.asset_docs li .btn_rm {
      position: absolute;top: -10px;font-size: 1.2em;color: #fff;height: 20px;width: 20px;right: -10px;border-radius: 15px;padding: 0px;background-color: #f1536e;border: 0px;
}

button.btn_asset_upload {
      width: 100%; margin: 10px 0px;
}

.k-datepicker {
      padding: 0px;display: block;width: 100%;
}

.k-datepicker .k-picker-wrap {
    padding: 3px 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #dedede;
}
</style>