<template>
      <div class="container_block">
            
                        <div class="list_filter col">
                              <div class="s_all">
                                    <button class="btn" @click="getAll" v-bind:class="{'active':(showAll == true)}">
                                          <i class="fas fa-check"></i>
                                          Closed Case
                                    </button>
                                    <!-- <label style="font-size: .9em;">Show All</label>
                                    <input type="checkbox" value="check" id="checkbox" @click="getAll" v-model="showAll"> -->
                                    <!-- <button class="btn all" @click="getAllCase" v-bind:class="{'active':(selectedTag == this.allTag)}">
                                          <i class="fas fa-check"></i>
                                          All Cases
                                    </button>
                                    
                                    <button class="btn single" @click="getSingleCase" v-bind:class="{'active':(selectedTag == this.singleTag)}">
                                          <i class="fas fa-check"></i>
                                          Single Cases
                                    </button>
                                    <button class="btn routine" @click="getRoutineCase" v-bind:class="{'active':(selectedTag == this.routineTag)}">
                                          <i class="fas fa-check"></i>
                                          Routine Cases
                                    </button>
                                    <button class="btn closed" @click="getClosedCase" v-bind:class="{'active':(selectedTag == this.closedTag)}">
                                          <i class="fas fa-check"></i>
                                          Closed Cases
                                    </button> -->

                              </div>
                              <form id="case_search_form" ref="case_search_form" action="/mgr/case" method="get" >
                                    <input type="text" placeholder="Search Content" class="input_search" name="input_search" v-model="search.input_search">
                                    <select class="announce_type" name="input_type" v-model="search.input_type">
                                          <option v-for="(key, val) in case_type" v-bind:value="key.value">{{key.title}}</option>
                                    </select>
                                    <button class="btn_filter">Search</button>
                              </form>
                        </div>
                        <div class="list_cont" v-bind:class="{ empty_record: cases.data.length == 0 }">
                              <div class="list_header">
                                    <div class="list_fields w_15 c_align">Title</div>
                                    <div class="list_fields w_15 c_align">LOCATION</div>
                                    <div class="list_fields w_5 c_align">TYPE</div>
                                    <div class="list_fields w_10 c_align">REPORTER</div>
                                    <div class="list_fields w_10 c_align">ASSIGNED TO</div>
                                    <div class="list_fields w_10 c_align">FRECUENCY</div>
                                    <div class="list_fields w_10 c_align">DUE DATE</div>
                                    <div class="list_fields w_10 c_align">PRIORITY</div>
                                    <div class="list_fields w_10 c_align">STATUS</div>
                                    <div class="list_fields w_5 c_align">ACTIONS</div>
                              </div>
                            
                              <div class="list_row"  v-for="key in cases.data" v-if="cases.data.length > 0">
                                    <div class="list_fields w_15 c_align">{{key.title }}</div>
                                    <div class="list_fields w_15 c_align">{{key.location }}</div>
                                    
                                    <div class="list_fields w_5 c_align" v-on:click="goToDetailPage('case_detail/'+key.id)">
                                          
                                          {{ key.case_type ? key.case_type: '-' }}
       
                                    </div>
                                    <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('case_detail/'+key.id)">
                                          <span v-if="key.reporter != null && key.reporter != '' ">
                                                {{ key.reporter }}
                                          </span>

                                          <span v-if="key.reporter == null || key.reporter == ''">
                                                -
                                          </span>
                                    </div>
                                    <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('case_detail/'+key.id)">
                                           <span v-if="key.comp_name != null && key.comp_name != '' ">
                                                {{ key.comp_name }}
                                          </span>

                                          <span v-if="key.comp_name == null || key.comp_name == ''">
                                                -
                                          </span>
                                    </div>
                                    <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('case_detail/'+key.id)">
                                          {{ key.routine}} 
                                    </div>
                                    <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('case_detail/'+key.id)">
                                          {{new Date(key.due_date).toDateString()}}
                                    </div>
                                    <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('case_detail/'+key.id)">
                                          <span class='tagcont' :class="['p-'+key.priority]">
                                                {{ key.priority }}
                                          </span>
                                    </div>
                                    <div class="list_fields w_10 c_align" v-on:click="goToDetailPage('case_detail/'+key.id)">
                                          <div :class="'tagcont cont_'+key.progress">
                                                {{ key.progress_txt }}
                                          </div>
                                    </div>
                                    <div class="list_fields w_5 c_align">
                                        <a v-bind:href="'case_detail/'+key.id"  class="list_btn btn_edit">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </div>
                              </div>

                              <div class="list_empty" v-if="cases.data.length == 0">
                                    <div class="list_fields c_align">
                                          <span>You have 0 case, create it now.</span><br>
                                           <a v-bind:href="'/mgr/create_case'" class="btn btn_submit">Create A Case</a>
                                    </div>
                              </div>
                          
                        </div>
                        <pagination :pagination="list_pagination" v-if="cases.data.length > 0"></pagination>
      </div>
</template>

<script>
import EventBus from '../event-bus';
import pagination from '../PaginationComponent.vue';
// const CaseFilter = Object.freeze({AllCases: 0, SingleCases: 1, RoutineCases: 2, ClosedCases: 3});
export default {
      props: ['cases','search','case_type'],
      components: {
            pagination
      },
      data(){
            return {
                 error_msg : null,
                 list_pagination:this.cases,
                 showAll:false,
            //      showCases: [],
            //      routineCases:[],
            //      routineTag: CaseFilter.RoutineCases,
            //      closedCases:[],
            //      closedTag: CaseFilter.ClosedCases,
            //      singleCases:[],
            //      singleTag: CaseFilter.SingleCases,
            //      allTag: CaseFilter.AllCases,
            //      selectedTag: this.allTag,
            }
      },
      methods:{
            goToDetailPage:function(link) {
                  let a= document.createElement('a');
                  a.target= '_blank';
                  a.href= link;
                  a.click();
            },
            getCaseList:function(page){
                  let _this= this;
                  axios.get('/mgr/case/'+page+'/'+this.showAll).then((res)=>{
                        _this.cases = res.data.cases;
                        // _this.showCases = _this.cases.data;
                  })
            },
            getAll:function(){
                  let _this = this;
                 if(_this.showAll == true){
                        axios.get('/mgr/case_all').then((res)=>{
                        _this.cases = res.data;
                        _this.showAll = false;
                  })
                 }else{
                       axios.get('/mgr/case_all/'+true).then((res)=>{
                             _this.cases = res.data;
                             _this.showAll = true;
                       })
                 }
            },
            // getClosedCase:function() {
            //       this.selectedTag = this.closedTag;
            //       this.showCases = this.closedCases;
            //       this.$forceUpdate();
            // },
            // getRoutineCase:function() {
            //       this.selectedTag = this.routineTag;
            //       this.showCases = this.routineCases;
            //       this.$forceUpdate();
            // },
            // getSingleCase:function() {
            //       this.selectedTag = this.singleTag;
            //       this.showCases = this.singleCases;
            //       this.$forceUpdate();
            // },
            // getAllCase:function() {
            //       this.selectedTag = this.allTag;
            //       this.showCases = this.cases.data;
            //       this.$forceUpdate();
            // },
            caseCategory:function (){
                  this.cases.data.forEach(element => {
                        if (element['progress'] == 4) {
                              this.closedCases.push(element);
                        } else {
                              if (element['routine'] > 0) {
                                    this.routineCases.push(element);
                              } else {
                                    this.singleCases.push(element);
                              }
                        }
                  });
                  this.selectedTag = this.allTag;
            },

            createById(id) {
            if (id){
               window.location.href = '/mgr/create_case_by_id/id='+ id;
            }
        }
      },
      mounted(){
            let _this = this;
            console.log(this.cases.data);
            // this.caseCategory();
            EventBus.$emit("initListPagination",_this.list_pagination);

            EventBus.$on('updateListPagination',function(e){
                  _this.getCaseList(e.page);
            })
            EventBus.$on('createCaseById', function(id){
                  _this.createById(id);
            })
      }
}
</script>
<style lang="scss">
      .p-Urgent{
            background-color: purple;
      }
      .p-High{
            background-color: #ff7c73;
      }
      .p-Medium{
            background-color:#F1BF5E;
      }
      .p-Low{
            background-color: #55ce63;
      }
      #checkbox{
            position: relative;
            top:10px;
            width: auto;
            right: 56px;
      }
      .s_all{
            display:flex; 
            font-size: .75em;
            button.btn {
                  
                  padding: 3px 10px;
                  color: #ff7c73 !important;
                  background-color: #fff !important;
                  border: 1px solid #ff7c73 !important;
                  &.active {
                        color: white !important;
                        background-color: #ff7c73 !important;
                        box-shadow: none;

                        i {
                              display: inline;
                        }
                  }

                  i {
                        margin-right: 5px;
                        display: none;
                  }

                  
            }
            // button.routine {
            //       width: 200% !important;
            //       padding: 3px 10px;
            //       color: green !important;
            //       background-color: #fff !important;
            //       border: 1px solid green !important;
            //       &.active {
            //             color: white !important;
            //             background-color: green !important;
            //             box-shadow: none;

            //             i {
            //                   display: inline;
            //             }
            //       }

            //       i {
            //             margin-right: 5px;
            //             display: none;
            //       }
            // }
            // button.single {
            //       width: 150% !important;
            //       padding: 3px 10px;
            //       color: skyblue !important;
            //       background-color: #fff !important;
            //       border: 1px solid skyblue!important;
            //       &.active {
            //             color: white !important;
            //             background-color: skyblue !important;
            //             box-shadow: none;

            //             i {
            //                   display: inline;
            //             }
            //       }

            //       i {
            //             margin-right: 5px;
            //             display: none;
            //       }
            // }
            // button.closed {
            //       width: 200% !important;
            //       padding: 3px 10px;
            //       color: gray !important;
            //       background-color: #fff !important;
            //       border: 1px solid gray !important;
            //       &.active {
            //             color: white !important;
            //             background-color: gray !important;
            //             box-shadow: none;

            //             i {
            //                   display: inline;
            //             }
            //       }

            //       i {
            //             margin-right: 5px;
            //             display: none;
            //       }

                  
            
      }
      #content .list_filter.col .s_all button.btn{
            
      }
      #content .list_filter.col .s_all button.btn:hover{
            border: 1px solid #ff7c73;
            background-color: #fff;
            color: #ff7c73;
      }
</style>