<template>
      <div>
            <div class="col list_header">
                  <ul id="list_tabs">
                        <li v-bind:class="{ active: insMenu == 'u' }"  @click="getListContent(1, 'u', search_term)">Upcoming<div class="bottom_border"></div></li>
                        <li v-bind:class="{ active: insMenu == 'o' }"  @click="getListContent(1, 'o', search_term)">On Going<div class="bottom_border"></div></li>
                        <li v-bind:class="{ active: insMenu == 'h' }"  @click="getListContent(1, 'h', search_term)">History<div class="bottom_border"></div></li>
                  </ul>

                  <div class="list_filter col">
                        <form id="ins_form" ref="ins_form" action="/mgr/inspection" method="get" >
                              <input type="text" placeholder="Search Title" class="input_search"  name="input_search" v-model="search_term">
                              <button class="btn_filter">Search</button>
                              <a href="/mgr/create_inspection" class="btn btn_new btn_insp" v-if="insMenu == 'i'">New +</a>
                        </form>
                  </div>
            </div>
            <div class="container_block">
                  <div class="list_cont"  v-bind:class="{ active: insMenu == 'u' }">
                        <div class="list_header">
                              <!-- <div class="list_fields w_5" >
                                    <check-box ref="eventBus" section="setting_inspection"></check-box> 
                              </div> -->
                              <div class="list_fields w_35">DETAILS</div>
                              <div class="list_fields w_15 c_align">TYPE</div>
                              <div class="list_fields w_15 c_align">NEXT SCHEDULE</div>
                              <div class="list_fields w_15 c_align">RECURRING</div>
                              <div class="list_fields w_15 c_align">ACTIONS</div>
                        </div>
                        <div class="list_row" v-for="(key, data) in inspection_list.data">
                              <!-- <div class="list_fields w_5">
                                    <input type="checkbox" class="styled_checkbox" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                    <label for="styled-checkbox"></label>
                              </div> -->
                              <div class="list_fields w_35">
                                    <div v-if="key.case_type == 'inspection'">
                                          <h4 class="title">{{ key.area_name }}</h4>
                                          <div class="action_list">{{ key.bi_items }}</div>
                                    </div>
                                    <div v-else>
                                          <div class="action_list" v-if="key.details != null">{{ key.details }}</div>
                                          <span v-else>-</span>
                                    </div>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <span v-if="key.case_type != null">
                                          {{ key.case_type }}
                                    </span>
                                    <span v-else>-</span>
                              </div>
                              <div class="list_fields w_15 c_align" >
                                    <span v-if="key.start != null">
                                          {{ key.start.toLocaleString('en-US') }}
                                    </span>
                                    <span v-else>-</span>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <span :class="'tagcont cont_'+(4-data%5)" v-if="key.frequency != null">     
                                          {{ key.frequency }}
                                    </span>
                                    <span class="tagcont cont_0" v-else>None</span>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <a class="list_btn btn_edit" v-bind:href="'case_detail/'+key.case_id">
                                          <i class="fas fa-pen"></i>
                                    </a>

                                    <a class="d_buttom" @click="onRemove(key)">
                                          <i class="fa fa-times"></i>
                                    </a>
                              </div>
                        </div>
                  </div>

                  <div class="list_cont"  v-bind:class="{ active: insMenu == 'o' }">
                        <div class="list_header">
                              <!-- <div class="list_fields w_5" >
                                    <check-box ref="eventBus" section="setting_inspection"></check-box> 
                              </div> -->
                              <div class="list_fields w_35">DETAILS</div>
                              <div class="list_fields w_15 c_align">TYPE</div>
                              <div class="list_fields w_15 c_align">PROGRESS</div>
                              <div class="list_fields w_15 c_align">RECURRING</div>
                              <div class="list_fields w_15 c_align">ACTIONS</div>
                        </div>
                        <div class="list_row" v-for="(key, data) in inspection_list.data">
                              <!-- <div class="list_fields w_5">
                                    <input type="checkbox" class="styled_checkbox" :value="key.id" v-model="check_box.checkedItem" @change="updateItem">
                                    <label for="styled-checkbox"></label>
                              </div> -->
                              <div class="list_fields w_35">
                                    <div v-if="key.case_type == 'inspection'">
                                          <h4 class="title">{{ key.area_name }}</h4>
                                          <div class="action_list">{{ key.bi_items }}</div>
                                    </div>
                                    <div v-else>
                                          <div class="action_list" v-if="key.details != null">{{ key.details }}</div>
                                          <span v-else>-</span>
                                    </div>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <span v-if="key.case_type != null">
                                          {{ key.case_type }}
                                    </span>
                                    <span v-else>-</span>
                              </div>
                              <div class="list_fields w_15 c_align" >
                                    <span v-if="key.progress != null">
                                          {{ key.progress }}
                                    </span>
                                    <span v-else>-</span>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <span :class="'tagcont cont_'+(4-data%5)" v-if="key.frequency != null">     
                                          {{ key.frequency }}
                                    </span>
                                    <span v-else></span>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <a class="list_btn btn_edit" v-bind:href="'case_detail/'+key.case_id">
                                          <i class="fas fa-pen"></i>
                                    </a>

                                    <a class="d_buttom" @click="onRemove(key)">
                                          <i class="fa fa-times"></i>
                                    </a>
                              </div>
                        </div>
                  </div>

                  <div class="list_cont"  v-bind:class="{ active: insMenu == 'h' }">
                        <div class="list_header">
                              <div class="list_fields w_35">DETAILS</div>
                              <div class="list_fields w_15 c_align">TYPE</div>
                              <div class="list_fields w_15 c_align">RECURRING</div>
                              <div class="list_fields w_15 c_align">DONE AT</div>
                        </div>
                        
                        <div class="list_row" v-for="(key, data) in inspection_list.data">
                              <div class="list_fields w_35">
                                    <div v-if="key.case_type == 'inspection'">
                                          <h4 class="title">{{ key.area_name }}</h4>
                                          <div class="action_list">{{ key.bi_items }}</div>
                                    </div>
                                    <div v-else>
                                          <div class="action_list" v-if="key.details != null">{{ key.details }}</div>
                                          <span v-else>-</span>
                                    </div>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <span v-if="key.case_type != null">
                                          {{ key.case_type }}
                                    </span>
                                    <span v-else>-</span>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <span :class="'tagcont cont_'+(4-data%5)" v-if="key.frequency != null">     
                                          {{ key.frequency }}
                                    </span>
                                    <span v-else></span>
                              </div>
                              <div class="list_fields w_15 c_align">
                                    <span>
                                          {{ key.updated_at.toLocaleString('en-US') }}
                                    </span>
                              </div>
                        </div>
                  </div>
                  <pagination :pagination="list_pagination"></pagination>

            </div>
      </div>
</template>

<script>
import EventBus from '../event-bus';
import pagination from '../PaginationComponent.vue';

export default {
      props: ['page','ttype','search_term'],
      components: {
             pagination
      },
      data(){
            return {
                  error_msg : null,
                  insMenu : 'u',
                  inspection_list: [],
                  list_pagination: [],
                  check_box:{
                        checkedItem:[],
                        isCheckAll:false,
                  },
                 
            }
      },
      created() {
            this.getListContent(this.page, this.insMenu = 'u', this.search_term); 
      },
      methods:{
            // deprecated
            // openInspection: function(bi_id, area_name, time_from, time_to, ar_id) {
            //       var _this = this;
            //       axios.get('/mgr/get_inpection_items/bi_id='+bi_id)
            //             .then(function (response) {
            //                   console.log(response);
            //                   if (response.data.success == true) {
            //                         var this_ins = {
            //                               'id' : bi_id,
            //                               'currentEventID': ar_id,
            //                               'currentEventTitle' : area_name,
            //                               'currentEventItems' : response.data.list,
            //                               'currentEventIDStartTime': time_from,
            //                               'currentEventIDEndTime' : time_to
            //                         }
            //                         EventBus.$emit("inspection_items",this_ins);
            //                   }
            //             })
            //             .catch(function (error) {
            //                   // 
            //                   console.log(error);
            //             });
            // },
            // openInspectionDetail: function(inspection_id, area_name) {
            //       var this_ins = {
            //             'inspection_id' : inspection_id,
            //             'area_name' : area_name
            //       }
            //       EventBus.$emit("inspection_detail",this_ins);
            // },
            // converntTime(inspection_time)  {
            //       if (inspection_time != null && inspection_time != '') {
            //             var months_arr = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

            //             if (inspection_time != null && inspection_time != '') {
            //                   var t = inspection_time.split('-');
            //                   var start_time = new Date(t[0]*1000);
            //                   var end_time = new Date(t[1]*1000);
            //                   var shour = start_time.getHours();
            //                   var smin = start_time.getMinutes();
            //                   var sampm = shour >= 12 ? 'PM' : 'AM';
            //                   var ehour = end_time.getHours();
            //                   var emin = end_time.getMinutes();
            //                   var eampm = ehour >= 12 ? 'PM' : 'AM';

            //                   return start_time.getDate()+' '+months_arr[start_time.getMonth()]+", "+('0' + shour).slice(-2)+":"+('0' + smin).slice(-2)+" "+sampm+" - "+('0' + ehour).slice(-2)+":"+('0' + emin).slice(-2)+" "+eampm;
            //             }
            //       }
            // },
            // updateItem(){
            //       var selected_data = {
            //             'ids' : this.check_box.checkedItem,
            //             'type' : 'inspection_list',
            //       }
            //       EventBus.$emit("selected_data", selected_data);
            // },
		// goToDetailPage:function(url) {
		// 		let a= document.createElement('a');
		// 		a.target= '_blank';
		// 		a.href= url;
		// 		a.click();
            // },
            getListContent:function(page, ttype, search_term) {
                  var _this = this;
                  _this.inspection_list.data = [];

                  axios.get('/mgr/get_case_list/p='+ page + '&ttype=' + ttype + '&search_term=' + search_term).then(function (response) {
                        if (response.data.data.length > 0) {
                              _this.inspection_list = response.data;
                              _this.updatePaginationData(response);
                              _this.list_pagination.type = ttype;
                              _this.insMenu = ttype;
                        } 
                        _this.insMenu = ttype;
                        EventBus.$emit("initListPagination",_this.list_pagination);
                  })
                  .catch(function (error) {
                        // 
                  });
            },
            onRemove: function (key) {
                  var _this = this;
                  if (confirm('All the records regarding to this case will be deleted, are you sure you want to delete this case?')) {
                        axios.post('/mgr/remove_event', {
                              id: key.id,
                              type: key.typeId,
                              action: 1
                        })
                        .then(function (response) {
                              if (response.data.success == true) {
                                    for (var i = 0; i < _this.inspection_list.data.length; i++) {
                                          if (_this.inspection_list.data[i].id == key.id) {
                                                _this.inspection_list.data.splice(i, 1);
                                          }
                                    }
                                    _this.$forceUpdate();
                              }
                        })
                        .catch(function (error) {
                              // 
                        });
                  }
            },
            updatePaginationData: function(response) {
                  if (response.hasOwnProperty('data')) {
                        this.list_pagination.from = response.data.from;
                        this.list_pagination.last_page = response.data.last_page;
                        this.list_pagination.next_page_url = response.data.next_page_url;
                        this.list_pagination.path = response.data.path;
                        this.list_pagination.per_page = response.data.per_page;
                        this.list_pagination.to = response.data.to;
                        this.list_pagination.total = response.data.total;
                        this.list_pagination.current_page = response.data.current_page;
                  } else {
                        this.list_pagination.from = '';
                        this.list_pagination.last_page = '';
                        this.list_pagination.next_page_url = '';
                        this.list_pagination.path = '';
                        this.list_pagination.per_page = '';
                        this.list_pagination.to = '';
                        this.list_pagination.total = '';
                        this.list_pagination.current_page = '';
                  }
            },
      },
      mounted() {
            var _this = this;
            EventBus.$on('updateListPagination', function (e) {
                  _this.getListContent(e.page, _this.list_pagination.type, _this.search_term); 
            });

            EventBus.$on('inspection_update',function(e){
                  for (var i = 0; i < _this.inspection_list.data.length; i++) {
                        if (_this.inspection_list.data[i].id == e.bi_id) {
                              if (_this.inspection_list.data[i].frequency_no == '' || _this.inspection_list.data[i].frequency_no == '0' || _this.inspection_list.data[i].frequency_no == 0) {
                                    _this.inspection_list.data.splice(i, 1);
                              } else {
                                    _this.inspection_list.data[i].next_date = e.next_date_str;
                              }
                        }
                  }
                  _this.$forceUpdate();
            });

            EventBus.$on('updateList_cont', function (e) {
                  console.log(e);
                  if (e.typeId == "1" || e.typeId == 1) {
                        // if menu is upcoming
                        if (_this.insMenu == 'u') {
                              _this.inspection_list.data.unshift(e);
                              console.log(_this.inspection_list);
                        }
                  }
            });
      }
}
</script>

<style lang="scss">
#list_tabs {
      display: flex;
      padding-left: 20px;
      li {
            height: 100%;
            padding: 5px 15px;
            flex: 1;
            white-space: nowrap;
            justify-content: center;
            display: flex;
            align-items: center;
            border-top: 1px solid #dedede;
            border-right: 1px solid #dedede;
            border-bottom: 0px;
            font-size: .9em;
            cursor: pointer;

            &:hover {
                  font-weight: 900;
                  color: #379cd6;
                  background-color: rgba(55,156,214,0.3);
            }

            &:first-child {
                  border-left: 1px solid #dedede;
            }

            &.active {
                  font-weight: 900;
                  border-top: 4px solid #379cd6;
            }
      }
}

.popup_cont .popup_content .content {
    height: 100% !important;
    width: 100%;
    padding: 0px 15px;
}

#main_content {
      .btn.btn_new.btn_insp {
            margin: 0px;
            height: 34px;
            padding: 4px 0px;
            min-width: 100px;
      }
}

.list_cont {
      .list_header, .list_row {
  
            .list_fields {
                  height: 50px;
            }
      }
}

.list_cont {
      display: none;
}

.action_list {
      font-size: .7em;
      font-style: italic;
}
.list_filter select  {
      max-width: 150px;margin-right: 10px;    display: inline-block;
}
.d_buttom {
	    width: 26px;
	    height: 26px;
	    display: inline-block;
	    margin-right: 5px;
	    line-height: 26px;
	    color: #fff;
	    border-radius: .2rem;
	    background-color: #ff738a;
}
.d_buttom > i , .edit_button{
	color: #fff !important;
	font-size: 1.4rem;
	margin: 0px 3px;
}
</style>