<template>
      <div>
            <div class="col list_header">
                        <ul id="main_cate_list">
                              <li v-bind:class="{ active: cateMenu == 'p' }" @click="getListContent(1, 'p', torder, torderby, search_term)">Parcels<div class="bottom_border"></div></li>
                              <li v-bind:class="{ active: cateMenu == 'h' }" @click="getListContent(1, 'h', torder, torderby, search_term)">History<div class="bottom_border"></div></li>
                        </ul>
                        
                        <div class="list_filter" style="flex: 3 !important;">
                                <input type="text" placeholder="Search Courier Company or Barcode" class="input_search col-md-10"  name="input_search" v-model="search_term" >
                        <button class="btn_filter col-md-5" @click="searchByKeywords">Search</button>
                        </div>
            </div>

            <div class="container_block">
                  <div class="list_cont" v-bind:class="{ active: cateMenu == 'p' }">
                        <div class="list_header">
                              <div class="list_fields w_10">#</div>
                              <div class="list_fields w_20">COURIER COMPANY</div>
                              <div class="list_fields w_20 c_align">RECEIVER</div>
                              <div class="list_fields w_20 c_align">UNIQUE CODE</div>
                              <div class="list_fields w_15 c_align">ARRIVED AT</div>
                              <div class="list_fields w_15 c_align">ACTIONS</div>
                        </div>
                                    
                        <div class="list_row" v-for="(key, data) in courier_list">
                              <div class="list_fields w_10">{{ key.id }}</div>
                              <div class="list_fields w_20">{{ key.courier_comp }}<br><span>[ Barcode: {{ key.barcode }} ]</span></div>
                              <div class="list_fields w_20 c_align">{{ key.first_name }}  {{key.last_name}}</div>
                              <div class="list_fields w_20 c_align" v-html="key.unique_code == null ? ' - ' : key.unique_code"></div>
                              <div class="list_fields w_15 c_align">{{ key.created_at }}</div>
                              <div class="list_fields w_15 c_align">
                                    <a href='#' class="list_btn btn_edit"  @click.prevent="parcelDetailsPopUp(key.id, key.courier_comp, key.barcode, key.admin_name, key.unique_code, tlist)"  :disabled="!key.hasOwnProperty('id') || key.id.length == 0">
                                          <i class="fas fa-pen" style="margin: 7.5px auto;"></i>
                                    </a>
                              </div>
                        </div>
                  </div>

                  <div class="list_cont" v-bind:class="{ active: cateMenu == 'h' }">
                        <div class="list_header">
                              <div class="list_fields w_10">#</div>
                              <div class="list_fields w_20">COURIER COMPANY</div>
                              <div class="list_fields w_20 c_align">RECEIVER</div>
                              <div class="list_fields w_20 c_align">PICKER NAME</div>
                              <div class="list_fields w_15 c_align">ARRIVED AT</div>
                              <div class="list_fields w_15 c_align">PICK AT</div>
                        </div>
                                    
                        <div class="list_row" v-for="(key, data) in courier_list">
                              <div class="list_fields w_10">{{ key.id }}</div>
                              <div class="list_fields w_20">{{ key.courier_comp }}<br><span>[ Barcode: {{ key.barcode }} ]</span></div>
                              <div class="list_fields w_20 c_align">{{ key.first_name }}  {{key.last_name}}</div>
                              <div class="list_fields w_20 c_align">{{ key.picker_name }}<br><span>[ Unique Code: {{ key.unique_code }} ]</span></div>
                              <div class="list_fields w_15 c_align">{{ key.created_at }}</div>
                              <div class="list_fields w_15 c_align">{{ key.pickup_at }}</div>
                        </div>
                  </div>
                  <pagination :pagination="list_pagination"></pagination>
            </div>
      </div>
</template>

<script>
import EventBus from '../event-bus';
import  pagination from '../PaginationComponent.vue';


export default {
      props: ['page','ttype','torder','torderby','search_term','tlist'],
      components: {
             pagination
      },
      data(){
            return {
                 cateMenu : 'p',
                 courier_list: [],
                 list_pagination: [],
            }
      },
      methods:{
             parcelDetailsPopUp: function(pid, courier_comp, barcode, admin_name, unique_code, tlist) {
                  var this_parcel = {
                        'parcel_id' : pid,
                        'courier_comp' : courier_comp,
                        'barcode' : barcode,
                        'admin_name' : admin_name,
                        'unique_code' : unique_code,
                        'tlist' : tlist
                  }
                  EventBus.$emit("this_parcel",this_parcel);
            },

            searchByKeywords:function() {
					
				if (this.search_term != null) {
					this.getListContent(1, this.cateMenu = 'p', this.torder, this.torderby, this.search_term);
				}
            },
            getListContent:function(page, ttype, torder, torderby, search_term) {
                  var _this = this;
                        axios.get('/mgr/get_courier_list/p='+ page+'&ttype='+ttype+'&torder='+torder+'&torderby='+torderby+'&search_term='+search_term).then(function (response) {
                                    if (response.data.data.length > 0) {
                                    _this.courier_list = response.data.data;
									console.log(response.data.data);
                                    _this.updatePaginationData(response);
                                    _this.list_pagination.type = ttype;
                                    _this.cateMenu = ttype;
                              } else {
                                    _this.courier_list = [];
                                    _this.updatePaginationData('');
                                    _this.list_pagination.type = '';
                              }
                              EventBus.$emit("initListPagination",_this.list_pagination);
                        })
                        .catch(function (error) {
                              // 
                        });
                  
            },
            updatePaginationData: function(response) {
                  if (response.hasOwnProperty('data')) {
                        this.list_pagination.from = response.data.from;
                        this.list_pagination.last_page = response.data.last_page;
                        this.list_pagination.next_page_url = response.data.next_page_url;
                        this.list_pagination.path = response.data.path;
                        this.list_pagination.per_page = response.data.per_page;
                        this.list_pagination.to = response.data.to;
                        this.list_pagination.total = response.data.total;
                        this.list_pagination.current_page = response.data.current_page;
                  } else {
                        this.list_pagination.from = '';
                        this.list_pagination.last_page = '';
                        this.list_pagination.next_page_url = '';
                        this.list_pagination.path = '';
                        this.list_pagination.per_page = '';
                        this.list_pagination.to = '';
                        this.list_pagination.total = '';
                        this.list_pagination.current_page = '';
                  }
                  // console.log(this.list_pagination);
            },
      },
      created() {
            this.getListContent(this.page, this.cateMenu = 'p', this.torder, this.torderby, this.search_term); 
      },
      mounted() {
		  
            var _this = this;
            EventBus.$on('updateListPagination', function (e) {
                 console.log(e);
                  if (e.type == 'p') {
                        _this.getListContent(e.page, _this.cateMenu, _this.torder, _this.torderby, _this.search_term);
                  } else {
                        _this.getListContent(e.page, _this.cateMenu, _this.torder, _this.torderby, _this.search_term);    //pagination, type
                  }
            });

             EventBus.$on('parcel_picker', function (picker_record) {
                  if (picker_record.id > 0) {
                        for (var i = 0; i < _this.courier_list.length; i++) {
                              if (_this.courier_list[i].id == picker_record.id) {
                                    _this.courier_list.splice(i, 1);
									
                              }
                        }
                        _this.$forceUpdate();
                  }
            });
			

      }
}
</script>

<style>
.list_cont, .list_header i {
    display: none;
}
</style>